<!-- Breadcrumb start here-->
<div class="mvp_bradcrumb">
    <div class="container">
        <div class="col-xs-12 breadcrumb product-breadcrumb">
            <a [routerLink]="['/customerselection']">
                <span class="bradcrumb-text">Home</span>
            </a>/
            <span *ngIf="loggedInUserGroup == superAdminGroup"><a [routerLink]="['/groups', customerName]">
                <span class="bradcrumb-text">Manage Groups</span>
            </a>/</span>
            <a [routerLink]="['/groups', customerName,groupName, 'users' ]">
                <span class="bradcrumb-text">Manage User</span>
            </a>/
            <span class="bradcrumb-text bold">Manage Roles</span>
        </div>
    </div>
</div>
<div class="mmbborder" id="circle-box-border"></div>
<div id="stickyContainer">
    <div class="sticky hidden-xs border-top-grey-1" id="sticky1">
        <div class="container padd-10-0">
            <div class="row equal">
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 desktop-paddzero mobile-paddzero" id="setBorder">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8 padd0">
                    <main-navigation-menu></main-navigation-menu>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hidden-xs padd-btm-50 bgcolor-grey padd-top-10 min-height600">
    <div class="container bgcolor-white border-top-bottom margintop25">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <h4 class="dis-inlineblc">Manage User Roles</h4>
            </div>
        </div>
    </div>

    <div class="container bgcolor-white  padd-top-10">
        <div class="row" *ngIf="userRoleListLength != 0">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="bg-gainsboro padd6 border-radius3 display-flex">
                    <div class="col-sm-10 col-md-10 col-lg-10">
                        <div>
                            <span class="font-bold">Group Name</span> {{groupName}}
                        </div>
                        <div>
                            <span class="font-bold">Group Description</span> {{groupDescription}}
                        </div>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2 text-right">
                        <div class="radio-item-green-red-grey dis-inlineblc" *ngIf="groupStatus == 'active'">
                            <input type="radio" [checked]="groupStatus == 'active'">
                            <label for="ritema{{i}}"></label>
                        </div>
                        <div class="radio-item-green-red-grey dis-inlineblc" *ngIf="groupStatus != 'active'">
                            <input type="radio" [checked]="groupStatus != 'active'">
                            <label for="ritema{{i}}" class="red-bg"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="bg-gainsboro padd6 border-radius3 display-flex">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div>
                            <span class="font-bold">User Name</span> {{userName}}
                        </div>
                        <div>
                            <span class="font-bold">User Description</span> {{userDescription}}
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div>
                            <span class="font-bold">Login Credentials</span> {{userLogon}}
                        </div>
                        <div>
                            <span class="font-bold">Administrator</span> {{adminFlag?"Yes":"No"}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="userRoleListLength == 0">
            <div class="col-xs-12 col-md-12 col-lg-12 ">
                <div class="error-message-container">
                    <div class="categories">
                        <div class="alert alert-info text-center error-message">
                            <strong>{{errTxt}}
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row bgcolor-white">
            <form role="form" #addNewRole="ngForm" name="addNewRole" class="" (submit)="saveRole()">
                <div class="col-xs-12 col-md-12 col-lg-12" *ngIf="userRoleListLength != 0">
                    <div class="table-responsive table-block margintop15 max-height350 header-fixed tableContainer-groups">
                        <table class="table search-result-table table-hover popup-table-border table-striped td-pad-tb header-fixed">
                            <thead class="bg-white">
                                <tr>
                                    <th class="width70">Roles</th>
                                    <th class="text-center width30">Access Granted</th>
                                </tr>
                            </thead>
                            <tbody id="tableBody" *ngIf="userRoleListLength != 0"> 
                                <tr class="cursor-pointer" *ngFor="let item of userRoleList; let i=index" >
                                    <td class="width70"  (click)="selectRole(item.roleName, item.roleId, item.roleDescription, item.roleStatus)">{{item.roleName}} - {{item.roleDescription}} - {{item.roleStatus}}</td>
                                    <td class="text-center width30">
                                        <div class="radio-item-green-red-grey dis-inlineblc opacity_1" [class.disable]="loggedInUserGroup != superAdminGroup && adminFlag">
                                            <input type="radio" id="ritema{{i}}" name="ritem{{i}}" [checked]="item.status == 'active'" (click)="createFinalJSON(i, 'active')">
                                            <label for="ritema{{i}}"></label>
                                        </div>
                                        <div class="radio-item-green-red-grey dis-inlineblc opacity_1" [class.disable]="loggedInUserGroup != superAdminGroup && adminFlag">
                                            <input type="radio" id="ritemb{{i}}" name="ritem{{i}}" [checked]="item.status != 'active'" (click)="createFinalJSON(i, 'inactive')">
                                            <label for="ritemb{{i}}" class="red-bg"></label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-right padd-bottom-30">
                        <button class="btn btn-default npr-popup-btn" type="button" (click)="resetRoles()">Cancel</button>
                        <button class="btn btn-default npr-popup-btn" type="submit" [class.disablebtn]="!unsavedRole">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="container bgcolor-white border-top-grey-1" *ngIf="userRoleListLength != 0">
        <div class="text-right padd-bottom-30 padd-top-10" *ngIf="loggedInUserGroup == superAdminGroup">
            <button class="btn btn-default white-bg-grn-bdr" type="button"  [tooltipDisabled]="!unsavedRole" tooltip="First save or cancel pending changes" tooltipPlacement="top"  [class.disablebtn]="unsavedRole" (click)="navigateToViewPermission()">View User Permissions</button>
        </div>
    </div>
    <!-- loader section start-->
    <div *ngIf="showLoader" class="overlay-load">
        <div class="loader-box-shadow">
            <div class="load-img">
                <img src="{{whoImgUrl}}spinner.svg" class="loader-image" alt="Loader Image" />
                <div>
                    <h6>LOADING</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade custom-model zindex999999" id="messageModal" role="dialog">
        <div class="modal-dialog top75 width314">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="border-top-bottom-popup">
                    <h5 class="pad-lft-right-30">Manage Group
                        <button type="button" id="close-popup" class="close close-icon" data-dismiss="modal" (click)="closePopup()">&#10006;</button>
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="new-batch-num-popup">
                        <span>{{popupMsg}}</span>
                    </div>
                </div>
            </div>
            <!-- Modal Content End -->
        </div>
    </div>
</div>

<div class="hidden-sm hidden-md hidden-lg">
    <div class="row pad-lft-right-15 padd-top-11">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <div class="error-message-container">
                <div class="categories">
                    <div class="alert alert-info text-center error-message">
                        <strong>Sorry, Manage Roles functionality is available only on desktop view.
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>