<!--Search Order section start here-->
<!-- Breadcrumb start here-->
<div class="mvp_bradcrumb">
    <div class="container">
        <div class="col-xs-12 breadcrumb product-breadcrumb">
            <a [routerLink]="['/customerselection']">
                <span class="bradcrumb-text">Home</span>
            </a>/
            <a [routerLink]="['/cataloguemanagement', customerName]">
                <span class="bradcrumb-text">Catalogue Management</span>
            </a>/
            <span class="bradcrumb-text bold">Morrisons Full Range Export</span>
        </div>
    </div>
</div>

<!--Search Order section start here-->
<div class="mmbborder" id="circle-box-border"></div>
<!-- Only Show in Mobile View -->

<catalogue-management-pending-request-header></catalogue-management-pending-request-header>

<!--Search order heading section end here-->
<div class="hidden-xs padd-btm-50 bgcolor-grey padd-top-10 min-height600">
    <div class="container bgcolor-white border-top-bottom margintop25">
        <div class="row">
            <h4 class="pad-lft-right-15 dis-inlineblc">Morrisons Full Range Exports</h4>

            <div class="pull-right padd-top-7 text-right" *ngIf="noDataFound != true">

                <span class="padd-left10 curs-pointer"   (click)="printExportLines()">
                    <img src="{{whoImgUrl}}IconPrint.svg" class="img-responsive dis-inlineblc img-width padd-right5">Print</span>
                <span class="padd-left10 padd-right20 curs-pointer"   (click)="exportData()">
                    <img src="{{whoImgUrl}}IconDownload.svg" class="img-responsive dis-inlineblc img-width padd-right5">Download</span>
            </div>
        </div>
    </div>
    <div class="container bgcolor-white" id="viewExportContainer" *ngIf="noDataFound != true">
        <div class="pad-lft-right-15">
            <div class="row bgcolor-white">


                <div class="table-responsive table-block margintop15 max-height350">
                    <table class="table search-result-table table-hover popup-table-border table-striped " id="fullRangeTbl">

                        <thead class="bg-white">
                            <tr>
                                <th>Date</th>
                                <th>Ranged</th>
                                <th>Total</th>
                                <th>Customer File download</th>
                                <th>Review Details download</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let allLineExportRow of allLinesExortData;let i=index">
                                <td>{{allLineExportRow.updatedDate}}</td>
                                <td>{{allLineExportRow.rangedCount}}</td>
                                <td>{{allLineExportRow.totalCount}}</td>
                                <td class="full-range-img-download">
                                    <img src="{{whoImgUrl}}SquareIconDownload.svg" class="img-responsive sqrIcon-npr cursor-pointer" (click)="fileDownloadFromFileService(allLineExportRow.fileName)">
                                </td>
                                <td class="full-range-img-download">
                                    <img src="{{whoImgUrl}}SquareIconDownload.svg" class="img-responsive sqrIcon-npr cursor-pointer" (click)="fileDownloadFromFileService(allLineExportRow.reviewerFileName)">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="pad-lft-right-15" *ngIf="allLinesExortData.length == 0">
                    <div class="col-xs-12 col-md-12 col-lg-12 ">
                        <div class="error-message-container">
                            <div class="categories">
                                <div class="alert alert-info text-center error-message">
                                    <strong>Sorry, No data found at this moment.
                                    </strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="row padd-btm-15">
            <div class="col-md-2 col-sm-2  col-lg-2">
                <div class="min-width150">
                    <button class="btn btn-default npr-popup-btn mar-bottom-1" (click)="redirect('/fulrangeexport', customerName)">Initiate New Full Range Export</button>
                </div>
            </div>
        </div> -->
    </div>
    <div class="container bgcolor-white" id="viewExportContainer" *ngIf="noDataFound == true">
        <div class="pad-lft-right-15">
            <div class="col-xs-12 col-md-12 col-lg-12 ">
                <div class="error-message-container">
                    <div class="categories">
                        <div class="alert alert-info text-center error-message">
                            <strong>Sorry, No data found at this moment.
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade custom-model zindex999999" id="addConfirmationModal" role="dialog">
        <div class="modal-dialog top75 width314">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="border-top-bottom-popup">
                    <h5 class="pad-lft-right-30">Fullrange Download
                        <button type="button" id="close-popup" class="close-icon" (click)="closePopup()" data-dismiss="modal">&#10006;</button>
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="new-batch-num-popup">
                        <span>{{succMSg}}</span>
                    </div>
                </div>
            </div>
            <!-- Modal Content End -->
        </div>
    </div>
    <!-- loader section start-->
    <div *ngIf="showLoader" class="overlay-load">
        <div class="loader-box-shadow">
            <div class="load-img">
                <img src="{{whoImgUrl}}spinner.svg" class="loader-image" alt="Loader Image" />
                <div>
                    <h6>LOADING</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hidden-sm hidden-md hidden-lg">
    <div class="row pad-lft-right-15 padd-top-11">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <div class="error-message-container">
                <div class="categories">
                    <div class="alert alert-info text-center error-message">
                        <strong>Sorry, Single new product request is available only on desktop view.
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- loader section end-->
<div class='print_only' id="printHeader" [hidden]="true">
    <!--dashboard container section start-->
    <div class="row dashboard-heading-div">
        <div class="col-xs-12">
            <img class="logo_print" src="{{whoImgUrl}}print_logo.png" alt="Morrisons logo">
            <h3 class="font-bold actualprint-ordernno">Morrisons Full Range Exports</h3>
        </div>
    </div>
</div>
<!--Search order content section end here-->

<!-- Print HTML starts here -->
<div class='print_only' id="exportable" [hidden]="true">
    <table class="table table-bordered table-striped" border=1>
        <thead class="bg-white">
            <tr>
                <th>Date</th>
                <th>Ranged</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let allLineExportRow of allLinesExortData;let i=index">
                <td>{{allLineExportRow.updatedDate}}</td>
                <td>{{allLineExportRow.rangedCount}}</td>
                <td>{{allLineExportRow.totalCount}}</td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Print HTML ends here -->