<!-- Breadcrumb start here-->
<div class="mvp_bradcrumb">
    <div class="container">
        <div class="col-xs-12 breadcrumb product-breadcrumb">
            <a [routerLink]="['/customerselection']">
                <span class="bradcrumb-text">Home</span>
            </a>/
            <a [routerLink]="['/cataloguemanagement', customerName]">
                <span class="bradcrumb-text">Catalogue Management</span>
            </a>/
            <a [routerLink]="['/cataloguemanagement', customerName]">
                <span class="bradcrumb-text">Pricing Review</span>
            </a>/
            <span class="bradcrumb-text bold">Configuration</span>
        </div>
    </div>
</div>
<!-- Breadcrumb ends here -->
<!--Search Order section start here-->
<div class="mmbborder" id="circle-box-border"></div>
<!-- Only Show in Mobile View -->
<catalogue-management-pending-request-header></catalogue-management-pending-request-header>

<!-- Body of the page starts here -->
<div class="hidden-xs padd-btm-50 bgcolor-grey padd-top-10 min-height600">
    <div class="container bgcolor-white border-top-bottom margintop25">

        <!--Body Heading and Print & Download Icons HTML Starts -->
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <h4 class="dis-inlineblc">Pricing Review - Configuration</h4>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="pull-right padd-top-10 text-right" *ngIf="tradingGroupsDataLength > 0">
                    <span class="padd-left10  cursor-pointer" tooltip="Only records that have been fetched and displayed on screen by “paging through”" tooltipPlacement="bottom" (click)="printOrder()">
                        <img src="{{whoImgUrl}}IconPrint.svg" class="img-responsive dis-inlineblc img-width padd-right5">Print</span>
                    <span class="padd-left10 padd-right20 cursor-pointer" tooltip="Only records that have been fetched and displayed on screen by “paging through”" tooltipPlacement="bottom"  (click)="exportData()">
                        <img src="{{whoImgUrl}}IconDownload.svg" class="img-responsive dis-inlineblc img-width padd-right5">Download</span>
                </div>
            </div>
        </div>
        <!--Body Heading and Print & Download Icons Ends -->

        <hr class="hr-repricing" /> 

        <div class="col-sm-12 col-md-12 col-lg-12">

            <!-- 3 Input textboxes HTML Starts here-->
            <!-- Form is used, as we can send the values of all the parameters of the form conveniently-->
            <form role="form" #configurationSearch="ngForm" name="configurationSearch" class="" (submit)="getTradingGroups(catalogueType.value)">
                <div class="form-inline">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-zero">
                        <h4 class="dis-inlineblc ">Range / Catalogue Type</h4>
                        <!--<span class="down_arrow glyphicon glyphicon-menu-down"></span>
                        <select class="form-control dis-inlineblc" id="catalogueType" #catalogueType name="catalogueType" class="repricing-select" required>
                            <option value="" disabled selected>Please Select</option>
                            <option *ngFor="let i of catalogueTypes;" [value]="i.catalogueType">{{i.catalogueType}}</option>
                        </select>-->
                        <div class="dis-inlineblc">
                            <div>
                            <span class="down_arrow glyphicon glyphicon-menu-down"></span>
                            <select class="form-control periodic-repricing-select" #catalogueType id="catalogueType" name="catalogueType" required>
                                <option value="" disabled selected>Please Select</option>
                                <option *ngFor="let i of catalogueTypes;" [value]="i.catalogueType">{{i.catalogueType}}</option>
                            </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-default npr-popup-btn mar-bottom-4">SEARCH</button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- 3 Input textboxes HTML Ends here-->

                 <!-- Table data HTML starts here -->
            <form role="form" #productConfig="ngForm" name="productConfig" class="" *ngIf="tradingGroupsDataLength > 0" >
                <div class="bgcolor-white-config">
                    <div class="">
                        <div class="form-inline">
                            <div class="row-repricing">
                                <h4 class="dis-inlineblc font-size16px">Delivery Charge/ Case (Branded Products)</h4>
                                <input type="text" class="form-control mar-left-40 mar-right-10" id="deliverChargeB" name="deliverChargeB" oncopy="return false" oncut="return false" onpaste="return false" [(ngModel)]="tradingGroupsData.configCommon.deliveryChargeCaseBarnd" OnlyNumber="true"   placeholder="0.00" (ngModelChange)="checkButtonStatus()" required [readonly]="readonlyText" maxlimit="10" autocomplete="off" (change)="onChange()">
                            
                                <h4 class="dis-inlineblc font-size16px">Delivery Charge/ Case (Own Brand)</h4>
                                <input type="text" class="form-control mar-left-40" id="deliverChargeOB" name="deliverChargeOB" oncopy="return false" oncut="return false" onpaste="return false" OnlyNumber="true" [(ngModel)]="tradingGroupsData.configCommon.deliveryChargeCaseOwnBarnd" placeholder="0.00" (ngModelChange)="checkButtonStatus()" required [readonly]="readonlyText" maxlimit="10" autocomplete="off" (change)="onChange()">
                            </div> 
                        </div>
                        <div class="row bgcolor-white padd-bot11" id="configContainer">
                            <div class="table-responsive table-block margintop15 max-height350 pos-inherit configContainer header-fixed"  id="main-table-container">
                               <table class="table search-result-table table-hover product-config-table popup-table-border table-striped header-fixed" id="nprDataTbl">
                                    <thead class="bg-white">
                                        <tr>
                                            <th></th>
                                            <th class="text-center border-left border-top top-row-margin" colspan="2" rowspan="2"></th>
                                            <th class="text-center border-left-light border-right border-top challenge" colspan="3" >% Challenge</th>
                                        </tr>
                                        <tr>
                                             <th class="border-none"></th>
                                            <th class="border-left border-right-light border-right-light middle-row-margin">% Margin</th>
                                            <th class="text-center border-right default-percent" colspan="3">Default % of max to be applied
                                                    <input type="text" maxlength="20" class="form-control dis-inlineblc " id="pMax" oncopy="return false" oncut="return false" onpaste="return false" [(ngModel)]="tradingGroupsData.configCommon.defaultOfMaxTotal" [ngModelOptions]="{standalone: true}" (ngModelChange)="calculateAllValues()" MaxNumber="100" maxlength="6" placeholder="0.0"  [readonly]="readonlyText" autocomplete="off" required (change)="onChange()">
                                            </th>
                                        </tr>
                                        <tr class="border-none">
                                            <th class="border-none">Trading Group</th>
                                            <th class="text-center border-right-light border-left branded" >Branded</th>
                                            <th class="text-center border-right-light own-branded" style="width:16.2% !important">Own Brand</th>
                                            <th class="text-center border-right-light">% Maximum Tolerance</th>
                                            <th class="text-center border-right-light">% of Max to be applied</th>
                                            <th class="text-center border-right calculated">% Calculated</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let tradingGroup of tradingGroupsData.priceConfigs; let i = index;">
                                            <td class="height-43">{{tradingGroup.priceConfigMaster.tradingGroup}}</td>
                                            <td class="border-left border-right-light"><input type="text" class="text-center form-control config-main-tb textbox-wid-bor" oncopy="return false" oncut="return false" onpaste="return false" [(ngModel)]="tradingGroup.priceConfig.marginBranded" [ngModelOptions]="{standalone: true}" (ngModelChange)="checkButtonStatus()" placeholder="0.00" MaxNumber="100" maxlength="6" id="{{'mrgnbrnd'+i}}" [readonly]="readonlyText" autocomplete="off"  (change)="onChange()" /></td>
                                            <td class="border-right-light"><input type="text" class="text-center form-control config-main-tb  textbox-wid-bor" oncopy="return false" oncut="return false" onpaste="return false" [(ngModel)]="tradingGroup.priceConfig.marginOwnBranded" [ngModelOptions]="{standalone: true}"  placeholder="0.00" (ngModelChange)="checkButtonStatus()" MaxNumber="100" maxlength="6" id="{{'mrgnownbrnd'+i}}" [readonly]="readonlyText" autocomplete="off"  (change)="onChange()" /></td>
                                            <td class="border-right-light"><input type="text" class="text-center form-control config-main-tb textbox-wid-bor" oncopy="return false" oncut="return false" onpaste="return false" [(ngModel)]="tradingGroup.priceConfig.challengeMaxTol" [ngModelOptions]="{standalone: true}" (ngModelChange)="calculatedValue(i)" placeholder="0.00" MaxNumber="100" maxlength="6" id="{{'maxtol'+i}}" [readonly]="readonlyText" autocomplete="off"  (change)="onChange()" /></td>
                                            <td class="border-right-light"><input type="text" class="text-center form-control config-main-tb textbox-wid-bor" oncopy="return false" oncut="return false" onpaste="return false" [(ngModel)]="tradingGroup.priceConfig.challengeMaxTotalToBeApplied" [ngModelOptions]="{standalone: true}" (ngModelChange)="calculatedValue(i)" MaxNumber="100" placeholder="0.00" maxlength="6" id="{{'maxtolapplied'+i}}" [readonly]="readonlyText" autocomplete="off"  (change)="onChange()" /></td>
                                            <td class="text-center border-right verti-align-middle height-43">{{tradingGroup.priceConfig.challengeCalculation | number:'1.0-2'}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- Save and cancel button HTML starts here -->
                        <div class="form-inline mar-bottom-13">
                            <div class="row">
                                <div class="text-right ">
                                    <button type="button" class="btn btn-default mar-bottom-1 dis-inlineblc" (click)="redirect('cataloguemanagement')">Cancel</button>
                                    <span [class.disable]="disableSave"><button class="btn btn-default npr-popup-btn mar-bottom-1 dis-inlineblc" type="button" (click)="savePricingConfigurations()">Save</button></span>
                                </div>
                            </div>
                        </div>
                        <!-- Save and cancel button HTML starts here -->
                    </div>
                </div>
            </form>
            <!-- Table data HTML ends here -->
        </div>
       
        <div *ngIf="tradingGroupsDataLength > 0">
            <div class="clearfix"></div>
            <hr class="hr-repricing" /> 
            <!-- Lock button HTML starts here -->
            <div class="form-inline mar-bottom-13">
                <div id="lockbtn" [class.disable]="disableLock">
                    <div class="text-right ">
                        <button class="btn btn-default npr-popup-btn" (click)="disableLockButton()">"Lock" configuration and initiate repricing for this catalogue</button>
                    </div>
                </div>
            </div>
            <!-- Lock button HTML ends here -->
        </div>        
    </div>
</div>

<!-- loader section starts here-->
<div *ngIf="showLoader" class="overlay-load">
    <div class="loader-box-shadow">
        <div class="load-img">
            <img src="{{whoImgUrl}}spinner.svg" class="loader-image" alt="Loader Image" />
            <div>
                <h6>LOADING</h6>
            </div>
        </div>
    </div>
</div>
<!-- loader section ends here-->

<div class="modal fade custom-model zindex999999" id="PricingConfigSave" role="dialog">
    <div class="modal-dialog width-455">
        <!-- Modal content-->
        <div class="modal-content mdl-content">
            <div class=""><button type="button" class="close table-close top16" (click)="closeConfigurationUpdateSuccess()" data-dismiss="modal">Close &#10006;</button></div>
            <div class="modal-body ">
                <img class="img-responsive tick" src="{{whoImgUrl}}tick.png">
                <h4 class="prdct-succs">{{successMsg}}</h4>
            </div>
        </div>
        <!-- Modal Content End -->
    </div>
</div>

<!-- Print HTML starts here -->
<div class='print_only' id="printHeader" [hidden]="printHeader" *ngIf="tradingGroupsData.configCommon">
    <div class="row dashboard-heading-div">
        <div class="col-xs-12">
            <img class="logo_print" src="{{whoImgUrl}}print_logo.png" alt="Morrisons logo">
            <h2 class="font-bold actualprint-ordernno">Configuration</h2>
        </div>
        <h4>Range / Catalogue Type Selected : {{catalogueType4Print}}</h4>
        <h4>Delivery Charge/ Case (Branded Products) : {{tradingGroupsData.configCommon.deliveryChargeCaseBarnd ? tradingGroupsData.configCommon.deliveryChargeCaseBarnd : ""}}</h4>
        <h4>Delivery Charge/ Case (Own Brand) : {{tradingGroupsData.configCommon.deliveryChargeCaseOwnBarnd ? tradingGroupsData.configCommon.deliveryChargeCaseOwnBarnd : ""}}</h4>
    </div>
    
</div>
<!-- export HTML starts here -->
<div class='print_only' id="exportHeader" [hidden]="printHeader" *ngIf="tradingGroupsData.configCommon">
    <div class="row dashboard-heading-div">
        <div class="col-xs-12">
           
            <h2 class="font-bold actualprint-ordernno">Configuration</h2>
        </div>
        <h4>Range / Catalogue Type Selected : {{catalogueType4Print}}</h4>
        <h4>Delivery Charge/ Case (Branded Products) : {{tradingGroupsData.configCommon.deliveryChargeCaseBarnd ? tradingGroupsData.configCommon.deliveryChargeCaseBarnd : ""}}</h4>
        <h4>Delivery Charge/ Case (Own Brand) : {{tradingGroupsData.configCommon.deliveryChargeCaseOwnBarnd ? tradingGroupsData.configCommon.deliveryChargeCaseOwnBarnd : ""}}</h4>
    </div>
    
</div>



<div class="table-responsive table-block margintop15 max-height350 pos-inherit" id="hiddenDivForExport" [hidden]="printHeader">
    <table border=1>
        <thead class="bg-white">
            <tr>
                <th rowspan="3" id="padd-top-70">Trading Group</th>
                <th rowspan="2" colspan="2" class="text-center border-left border-top">% Margin</th>
                <th colspan="3" class="text-center border-left-light border-right border-top">% Challenge</th>
            </tr>
            <tr>
                <th colspan="3" class="text-center border-right">Default % of max to be applied : <span *ngIf="tradingGroupsData.configCommon">{{tradingGroupsData.configCommon.defaultOfMaxTotal ? tradingGroupsData.configCommon.defaultOfMaxTotal : ""}}</span>
                </th>
            </tr>
            <tr>
                <th class="text-center border-right-light">Branded</th>
                <th class="text-center border-right-light">Own Brand</th>
                <th class="text-center border-right-light">Maximum Tolerance</th>
                <th class="text-center border-right-light">% of Max to be applied</th>
                <th class="text-center border-right">Calculated</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tradingGroup of tradingGroupsData.priceConfigs; let i = index;">
                <td >{{tradingGroup.priceConfigMaster.tradingGroup}}</td>
                <td class="border-left border-right-light">{{tradingGroup.priceConfig.marginBranded}}</td>
                <td class="border-right-light">{{tradingGroup.priceConfig.marginOwnBranded}}</td>
                <td class="border-right-light">{{tradingGroup.priceConfig.challengeMaxTol}}</td>
                <td class="border-right-light">{{tradingGroup.priceConfig.challengeMaxTotalToBeApplied}}</td>
                <td class="text-center border-right">{{tradingGroup.priceConfig.challengeCalculation}}</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- Print HTML ends here -->
<!-- Body of the page ends here -->
<div class="modal fade custom-model zindex9999991" id="popup_SessionExpired" role="dialog">
        <div class="modal-dialog top75 width314">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="border-top-bottom-popup">
                    <h5 class="padd-left-right-10">Session terminated <button type="button" id="close-popup" class="close close-icon" data-dismiss="modal" (click)="closePopup()">&#10006;</button>
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="new-batch-num-popup">
                        <!-- <span>{{msgJSON.message}}</span> -->
                        <span>Session has been terminated - please log in again.</span>
                    </div>
                </div>
                <div class="modal-footer border-top-grey-1">
                    <div class="text-right">
                        <button class="btn btn-default npr-popup-btn" type="button" (click)="closePopup()">OK</button>
                    </div>
                </div>
            </div>
            <!-- Modal Content End -->
        </div>
    </div>