<!-- breadcrumb start here-->
<div class="mvp_bradcrumb">
  <div class="container">
    <div class="col-xs-12 breadcrumb product-breadcrumb">
      <a [routerLink]="['/customerselection']">
        <span class="bradcrumb-text">Home</span>
      </a>/
      <a [routerLink]="['/cataloguemanagement', customerName]">
        <span class="bradcrumb-text">Catalogue Management</span>
      </a>/
      <span class="bradcrumb-text bold">Upload Promotion</span>
    </div>
  </div>
</div>
<!-- breadcrumb start here-->
<div class="mmbborder" id="circle-box-border"></div>

<div id="stickyContainer">
  <div class="sticky hidden-xs border-top-grey-1" id="sticky1">
    <div class="container padd-10-0">
      <div class="row equal">
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 desktop-paddzero mobile-paddzero" id="setBorder">
          <div class="product-i">
            <img src="{{imgName}}" class="img-responsive product-img-45 pull-left">
            <h3 class="margin-zero product-title-top-0 font-bold font-size21">{{customerName}}</h3>
            <a [class.hidden]="disabledCusChange ? true : null" (click)="toggleOrganisation()" class="Product-title-anchor">Change Customer
                            <span class="search-arrow-product">
                                <i id="changeIcon" class="glyphicon glyphicon-menu-down small-arrow-up"></i>
                            </span>
                        </a>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8 padd0">
          <main-navigation-menu #navIcons></main-navigation-menu>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row desktop-marginzero" [hidden]="hideOrganisation">
        <div class="advanced-search-page text-center">
          <ul class="product-circle">
            <li *ngFor="let organisation of organisationListChange;let i=index" [class.hidden]="organisation.customerName=='All_Wholesale_Customers' || organisation.customerName =='kens'"
              (click)="changeOrgType('/orders', organisation.customerName); navIcons.reloadNavigation(organisation.orgType);">
              <a>
                <img src="{{getCustomerImage(organisation.customerName)}}" class="img-responsive" alt="{{organisation.customerName}}" />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!--header with navigation end-->

<!-- upload range file section start-->
<div class="hidden-xs padd-btm-50 padd-top-10 bgcolor-grey">
  <div class="hidden-xs container bgcolor-white border-top-bottom" *ngIf="!siteMaintanceFlg">
    <div class="row desktop-marginzero">
      <div class="col-xs-12 desktop-paddzero fix-height">
        <!-- heading start -->
        <div class="row">
          <div class="col-xs-12">
            <h4 class="orders-heading">Uploaded Storepick Promotion Files</h4>
          </div>
        </div>
        <hr class="hr-repricing margin-bottom-10">
        <!-- heading end -->

        <div class="row margin-zero">
          <div class="col-xs-12 padd0">
            <!-- search section and upload button section start -->
            <div class="row margin-zero">
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padd0">
                <h4 class="search-order-heading hidden-xs margin-zero">Search result for uploaded promotion files</h4>
              </div>
              <div *ngIf="!disableUploadPromotionFileSubmit" class="input-group col-xs-12 col-sm-12 col-md-6 col-lg-6 pull-right">
                <button type="button" class="btn btn-default green-btn pull-right" (click)="redirect('/deal', customerName)">Upload new Promotion file</button>
              </div>
            </div>
            <!-- search section and upload button section end -->

            <!-- table to show uploaded range files start -->
            <div class="row margin-zero margin-top10">
              <div class="col-xs-12 padding-zero">
                <div *ngIf="rangeFileListLength == 0">
                  <h4>No data found</h4>
                </div>
                <div *ngIf="rangeFileListLength>0" class="table-responsive table-block max-height350 margin-bottom-15" infinite-scroll [infiniteScrollDistance]="2"
                  [infiniteScrollThrottle]="300" [scrollWindow]="false" (scrolled)="onScrollDown()">
                  <table class="table table-bordered table-striped margin-bottom-0">
                    <thead class="head-color">
                      <tr>
                        <th>Date and Time</th>
                        <th>Filename</th>
                        <th>User</th>
                        <th class="text-center">Download</th>
                        <th>Upload Status</th>
                        <th class="text-center">Error Log</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let rangefile of rangeFileList; let i= index">
                        <!--<td>{{rangefile.eventDate}}</td>-->
                        <td>{{_cfunction.dateFormator(rangefile.eventDate,13)}}</td>
                        <td>{{rangefile.uploadedFileName}}</td>
                        <td>{{rangefile.username}}</td>
                        <td class="text-align-webkit-center" [ngClass]="(rangefile.status != 'Upload Completed') ? 'disable':''">
                          <a (click)="fileDownloadUsingPresignedURL(rangefile.uploadedFileName, rangefile.uploadedFilePath)">
                            <img src="{{whoImgUrl}}SquareIconDownload.svg" class="img-responsive sqrIcon-npr cursor-pointer">
                          </a>
                        </td>
                        <td *ngIf="rangefile.status">{{rangefile.status}}</td>
                        <td *ngIf="!rangefile.status">-</td>
                        <td *ngIf="rangefile.status" class="text-align-webkit-center">
                          <a *ngIf="rangefile.status == 'Validation Failed'" (click)="fileDownloadUsingPresignedURL(rangefile.uploadedFileName,rangefile.errorFilePath )">
                            <img src="{{whoImgUrl}}SquareIconDownload.svg" class="img-responsive sqrIcon-npr cursor-pointer">
                          </a>
                          <span *ngIf="rangefile.status != 'Validation Failed'">
                            No Error Log.
                          </span>
                        </td>
                        <td *ngIf="!rangefile.status">-</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- table to show uploaded range files end -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- loader section start -->
  <div *ngIf="showLoader" class="overlay-load">
    <div class="loader-box-shadow">
      <div class="load-img">
        <img src="{{whoImgUrl}}spinner.svg" class="loader-image" alt="Loader Image" />
        <div>
          <h6>LOADING</h6>
        </div>
      </div>
    </div>
  </div>
  <!-- loader section end -->

  <!--site maintenance start-->
  <div class="row" *ngIf="siteMaintanceFlg">
    <div class="col-xs-12 col-sm-12 col-md-12 maintenance-background">
      <div class="heading-text">
        <h3 class="semi-bold text-center hidden-xs">SITE MAINTENANCE</h3>
      </div>
      <div class="maintenance-box login-box bold text-center">
        {{siteMSg}}
      </div>
    </div>
  </div>
  <!--site maintenance end-->

  <!-- range file download error popup start -->
  <div class="modal fade custom-model opacity_1 out" role="dialog" id="confirmationModal">
    <div class="modal-dialog top75 width350">
      <div class="modal-content">
        <div class="border-top-bottom-popup">
          <h5 class="pad-lft-right-30">Range File Download
            <button class="close close-icon" data-dismiss="modal" id="close-popup" (click)="closePopup('confirmationModal')" type="button">✖</button>
          </h5>
        </div>
        <div class="modal-body">
          <div class="row margin-zero">
            <div class="col-xs-12 new-batch-num-popup text-center">
              <span>{{confirmsg}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- range file download error popup end -->

  <!--session termination modal start-->
  <div class="modal fade custom-model opacity_1" id="popup_SessionExpired" role="dialog">
    <div class="modal-dialog top75 width350">
      <div class="modal-content">
        <div class="border-top-bottom-popup">
          <h5 class="padd-left-right-10">Session terminated<button type="button" id="close-popup" class="close close-icon" data-dismiss="modal" (click)="closePopup('popup_SessionExpired')">&#10006;</button>
          </h5>
        </div>
        <div class="modal-body">
          <div class="new-batch-num-popup">
            <span>Session has been terminated - please log in again.</span>
          </div>
        </div>
        <div class="modal-footer">
          <div class="text-right">
            <button class="btn btn-default npr-popup-btn" type="button" (click)="closePopup('popup_SessionExpired')">OK</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--session termination modal end-->
</div>
<!-- upload range file section start-->