<!--Search Order section start here-->
<!-- Breadcrumb start here-->
<div class="mvp_bradcrumb">
    <div class="container">
        <div class="col-xs-12 breadcrumb product-breadcrumb">
            <a [routerLink]="['/customerselection']">
                <span class="bradcrumb-text">Home</span>
            </a>/
            <a [routerLink]="['/cataloguemanagement', customerName]">
                <span class="bradcrumb-text">Catalogue Management</span>
            </a>/
            <span class="bradcrumb-text bold">New Product Requests</span>

        </div>

    </div>

</div>


<!--Search Order section start here-->
<div class="mmbborder" id="circle-box-border"></div>
<!-- Only Show in Mobile View -->


<catalogue-management-pending-request-header></catalogue-management-pending-request-header>
<div class="hidden-xs padd-btm-50 padd-top-10 bgcolor-grey">

    <div class="container bgcolor-white border-top-bottom margintop25">
        <h4 class="pad-lft-right-15">New Product Requests</h4>
    </div>
    <div class="container bgcolor-white">
        <!--<h3 class="drilldown-header-title pad-left0">SINGLE NEW PRODUCT REQUESTS - ONLINE</h3>  -->
        <!-- <h3 class="drilldown-header-title pad-left0 catalogue-text margin-bot8 color-darkgrey">SINGLE NEW PRODUCT REQUEST - ONLINE</h3> -->
        <div class="pad-lft-right-15">
            <form role="form" #cnrequset="ngForm" name="cnrequset" class="" (submit)="createNewRequest(cnrequset.value,'cnrequset')">


                <div class="row search-order-div bgcolor-white">
                    <div class="col-md-6 col-lg-6 col-sm-6 padding-right-zero">
                        <div class="padd-right20">
                            <label>Requesting Channel</label>
                            <span class="up_arrow glyphicon glyphicon-menu-down"></span>
                            <select name="requestChannel" class="form-control" [(ngModel)]="requestChannel">
                                <option value="" [attr.selected]="requestType == '' ? true : null">Select an option</option>
                                <option value="OF">Store Pick (Cloud)</option>
                                <option value="PRXKD">Fresh</option>
                                <option value="THSV2">Prime Now</option>
                                <option value="THSV3">Pantry</option>
                                <option value="MP8QW">Core (Amazon.co.uk)</option>
                            </select>
                        </div>

                        <div class="padd-right20 mar-top10">
                            <label>Request Type</label>
                            <span class="up_arrow glyphicon glyphicon-menu-down pull-right position-relative"></span>
                            <select name="requestType" class="form-control" [(ngModel)]="requestType">
                                <option value="" [attr.selected]="requestType == '' ? true : null">Select an option</option>
                                <option value="NPR">New Product Request (NPR)</option>
                                <option value="AO">Add Offer (AO)</option>
                                <!-- <option [value]="add_offer">Add Offer</option> -->
                            </select>
                        </div>

                        <div class="padd-right20 mar-top10">
                            <label>Batch Description</label>
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <input name="bdescription" id="bdescription" [(ngModel)]="description" type="text" class="form-control border-dark-gray"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6 padding-right-zero padd-left-35 padd-right30">
                        <div class="row">
                            <label>LPM Product Code(s) Legacy-PIN-MIN</label>
                            <div>
                                <textarea rows="2" cols="85" class="height157 col-md-12 col-sm-12 col-lg-12 greyborder" [(ngModel)]="setlpmlist" name="comment"
                                    form="usrform"></textarea>
                            </div>
                        </div>
                        <div class="row padd-top-11">
                            <div class="col-md-6 col-lg-6 col-sm-6 padd0">

                                <span class="input-group-btn">
                                    <button type="button" (click)="settextArea(setlpmlist)" class="pop-up-button">
                                        <span class="green-dot"></span>
                                        <span class="green-dot"></span>
                                        <span class="green-dot"></span>
                                    </button>
                                </span>

                            </div>

                            <div class="col-md-6 col-lg-6 col-sm-6 padd0">

                                <button type="submit" class="btn submit-btn adv-search-btn pull-right" [ngClass]="(setlpmlist == '')?'disable':''">Submit</button>

                            </div>
                        </div>
                    </div>

                    <!--    <div *ngIf="requestType == '32'? true:false" class="col-md-6 col-lg-6 col-sm-6 padding-right-zero mar-top0">
                        <div class="padd-right93">
                            <label>EAN (Barcode):</label>
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <input type="text" class="form-control order-no-form"/>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="col-md-6 col-lg-6 col-sm-6 padding-right-zero mar-top0">
                        
                    </div> -->
                </div>
            </form>
            <!-- Modal -->
            <div class="modal fade custom-model" id="singleproductrequest" role="dialog">
                <div class="modal-dialog top75">
                    <!-- Modal content-->
                    <div class="modal-content width650">
                        <div class="border-top-bottom-popup">
                            <h5 class="pad-lft-right-30">Product Lookup
                                <button type="button" id="close-popup" (click)="cancelPopup()" class="close-icon"
                                    data-dismiss="modal">&#10006;</button>
                            </h5>

                        </div>
                        <div class="modal-body pad-lft-right-30 margintop15 dis-inlineblc">

                            <div>
                                <p>Product Code</p>
                            </div>
                            <form role="form" #nprcodeform="ngForm" name="nprcodeform" class="" (submit)="getCatalogueItem(nprcodeform.value)">
                                <div class="input-group">
                                    <input type="text" class="form-control order-no-form borderinsert" id="productcode" name="productcode" placeholder="Start typing product's code"
                                        (keypress)="keyPress($event)" [(ngModel)]="catalogueCode" required maxlength="15" />
                                    <div class="input-group-btn">
                                        <button class="btn btn-default order-no-btn min-height34" type="submit">
                                            <i class="glyphicon glyphicon-search search-icon"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <div id="addProdErrMsg" style="display:none">
                                <div class="alert-err text-center error-message">
                                    <i class="glyphicon glyphicon-alert"></i> &nbsp;&nbsp;{{errorMsgString}}
                                    <strong>
                                    </strong>
                                </div>
                            </div>

                            <div class="table-responsive table-block margintop20 max-height160" *ngIf="cataloguedetailListLength > 0">
                                <table class="table search-result-table table-hover popup-table-border">
                                    <thead class="">
                                        <tr>
                                            <th>Add</th>
                                            <th>Legacy-PIN-MIN</th>
                                            <th>Description</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let catalogue of catalogueDetailList;let i=index">
                                            <td>
                                                <img id="i" (click)="getLPMNumber(formatString(catalogue,0),i)" src="{{whoImgUrl}}SquareIconAdd.svg" class="img-responsive sqrIcon-npr cursor-pointer">
                                            </td>
                                            <td>{{formatString(catalogue,0)}}</td>
                                            <td>{{formatString(catalogue,1)}}</td>
                                            <td>{{formatString(catalogue,2)}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div>
                                <p>Products to add</p>
                            </div>
                            <form role="form" #nprlpmform="ngForm" name="nprlpmform" class="">

                                <textarea rows="2" cols="90" [(ngModel)]="lpmlist" class="borderinsert col-md-12 col-sm-12 col-lg-12" name="comment" readonly></textarea>

                                <div class="padd-bot20 pull-right padd-top-11">
                                    <!--<button type="button" class="view-prdctbtn" (click)="redirect2Detail()">VIEW PRODUCT</button>-->
                                    <!--<a (click)="redirect('/addproduct', customerName)" class="back-cat">Add more item</a>-->

                                    <button (click)="cancelPopup()" class="btn bordersolid btn-text-color bgcolor-white">Cancel</button>
                                    <button id="lmpsetbtn" (click)="setLPMnumbers(lpmlist)" class="btn btn-default npr-popup-btn disable">OK</button>
                                    <!-- <button type="submit" class="border-0 pull-right adv-search-btn">Cancel </button> -->
                                </div>
                            </form>


                        </div>
                    </div>

                </div>

                <!-- loader section start-->
                <div *ngIf="showLoader" class="overlay-load">
                    <div class="loader-box-shadow">
                        <div class="load-img">
                            <img src="{{whoImgUrl}}spinner.svg" class="loader-image" alt="Loader Image" />
                            <div>
                                <h6>LOADING</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal end -->
        </div>
    </div>
</div>

<div class="modal fade custom-model zindex999999" id="addConfirmationModal" role="dialog">
    <div class="modal-dialog top75 width314">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="border-top-bottom-popup">
                <h5 class="pad-lft-right-30">Batch Number
                    <button type="button" id="close-popup" class="close-icon" (click)="closePopup()" data-dismiss="modal">&#10006;</button>
                </h5>
            </div>
            <div class="modal-body">
                <div class="new-batch-num-popup">
                    <span>Entry Submitted. Please note new product request batch number : {{batchnumber}}</span>
                </div>
            </div>
        </div>
        <!-- Modal Content End -->
    </div>
</div>
<div class="hidden-sm hidden-md hidden-lg">
    <div class="row pad-lft-right-15 padd-top-11">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <div class="error-message-container">
                <div class="categories">
                    <div class="alert alert-info text-center error-message">
                        <strong>Sorry, Single new product request is available only on desktop view.
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade custom-model zindex999999" id="errorLPMConfirmationModal" role="dialog">
    <div class="modal-dialog top75 width314">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="border-top-bottom-popup">
                <h5 class="pad-lft-right-30">Error
                    <button type="button" id="close-popup" class="close-icon" (click)="closePopupError()" data-dismiss="modal">&#10006;</button>
                </h5>
            </div>
            <div class="modal-body">
                <div class="new-batch-num-popup">
                    <span>Please enter valid LPM.</span>
                </div>
            </div>
        </div>
        <!-- Modal Content End -->
    </div>
</div>
<div class="modal fade custom-model zindex999999" id="errorChannel" role="dialog">
    <div class="modal-dialog top75 width314">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="border-top-bottom-popup">
                <h5 class="pad-lft-right-30">Error
                    <button type="button" id="close-popup" class="close-icon" (click)="closePopupErrorChannel()" data-dismiss="modal">&#10006;</button>
                </h5>
            </div>
            <div class="modal-body">
                <div class="new-batch-num-popup">
                    <span>Please select requesting channel.</span>
                </div>
            </div>
        </div>
        <!-- Modal Content End -->
    </div>
</div>