<!-- <div class="mvp_bradcrumb">
    <div class="container">
        <div class="col-xs-12 breadcrumb product-breadcrumb">
             <a [routerLink]="['/customerselection']">
                <span class="bradcrumb-text">Home</span>
            </a>/
            <a [routerLink]="['/groups', customerName]">
                <span class="bradcrumb-text">Manage Groups</span>
            </a>/
            <a [routerLink]="['/groups', customerName, groupName,'users']">
                <span class="bradcrumb-text">Manage User</span>
            </a>/
            <a [routerLink]="['/groups', customerName, groupName,'users', userId, 'setRoles']" *ngIf="prevPageState == '36'">
                <span class="bradcrumb-text">Manage Roles</span> /
            </a>
            <span class="bradcrumb-text bold">View Permission</span>
        </div>
    </div>
</div> -->
<div class="mmbborder" id="circle-box-border"></div>
<div id="stickyContainer">
    <!-- <div class="sticky hidden-xs border-top-grey-1" id="sticky1">
        <div class="container padd-10-0">
            <div class="row equal">
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 desktop-paddzero mobile-paddzero" id="setBorder">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8 padd0">
                    <main-navigation-menu></main-navigation-menu>
                </div>
            </div>
        </div>
    </div> -->
</div>

<div class="hidden-xs padd-btm-50 bgcolor-grey padd-top-10 min-height600">
    <div class="container bgcolor-white border-top-grey-1 margintop25">
         <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <h4 class="dis-inlineblc">View user Permission</h4>
            </div>
        </div>
        <div class="row border-top-grey-1 padd-top-18">

            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="bg-gainsboro padd6 border-radius3 display-flex">
                    <div class="col-sm-10 col-md-10 col-lg-10">
                        <div>
                            <span class="font-bold">Group Name</span> {{groupName}}
                        </div>
                        <div>
                            <span class="font-bold">Group Description</span> {{groupDescription}}
                        </div>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2 text-right">
                        <div class="radio-item-green-red-grey dis-inlineblc" *ngIf="groupStatus == 'active'">
                            <input type="radio" [checked]="groupStatus == 'active'">
                            <label for="ritema{{i}}"></label>
                        </div>
                        <div class="radio-item-green-red-grey dis-inlineblc" *ngIf="groupStatus != 'active'">
                            <input type="radio" [checked]="groupStatus != 'active'">
                            <label for="ritema{{i}}" class="red-bg"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="bg-gainsboro padd6 border-radius3 display-flex">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div>
                            <span class="font-bold">User Name</span> {{userName}}
                        </div>
                        <div>
                            <span class="font-bold">User Description</span> {{userDescription}}
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div>
                            <span class="font-bold">Login Credentials</span> {{userLogon}}
                        </div>
                        <div>
                            <span class="font-bold">Administrator</span> {{adminFlag?"Yes":"No"}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container bgcolor-white">
        <div class="row bgcolor-white"  *ngIf="noDataFound">
            <div class="col-xs-12 col-md-12 col-lg-12 ">
                <div class="error-message-container">
                    <div class="categories">
                        <div class="alert alert-info text-center error-message">
                            <strong>Sorry, No data found at this moment.
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row bgcolor-white">
            <div class="col-xs-12 col-md-12 col-lg-12" *ngIf="!noDataFound">
                <div class="table-responsive table-block margintop15 max-height350 tableContainer-role">
                    <table class="table search-result-table table-hover popup-table-border table-striped td-pad-tb">
                        <thead class="bg-white" *ngIf="finalUserPermissionArrayForPlotting.length != 0">
                            <tr>
                                <th>Customer</th>
                                <th>Permission Group</th>
                                <th width="50%">Permission Name</th>
                            </tr>
                        </thead>
                       <tbody id="tableBody" *ngIf="finalUserPermissionArrayForPlotting.length != 0">
                            <tr *ngFor="let item of finalUserPermissionArrayForPlotting; let i=index" class="tr-pad-tb-6">
                                <td>{{item.customer}}</td>
                                <td>{{item.permGroup}}</td>
                                <td>{{item.permName}}</td>
                            </tr>
                        </tbody>
                        <tbody id="tableBody" *ngIf="finalUserPermissionArrayForPlotting.length == 0">
                        <tr><td colspan="3">
                           <div class="col-xs-12 col-md-12 col-lg-12 ">
                                <div class="error-message-container">
                                    <div class="categories">
                                        <div class="alert alert-info text-center error-message">
                                            <strong>Sorry, No data found at this moment.
                                            </strong>
                                        </div>
                                    </div>
                                </div>
                            </div></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-right padd-bottom-30">
                    <button class="btn btn-default npr-popup-btn" type="button" (click)="backClicked()">Close</button>
                </div>
            </div>
        </div>
    </div>
    
    
    <div *ngIf="showLoader" class="overlay-load">
        <div class="loader-box-shadow">
            <div class="load-img">
                <img src="{{whoImgUrl}}spinner.svg" class="loader-image" alt="Loader Image" />
                <div>
                    <h6>LOADING</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hidden-sm hidden-md hidden-lg">
    <div class="row pad-lft-right-15 padd-top-11">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <div class="error-message-container">
                <div class="categories">
                    <div class="alert alert-info text-center error-message">
                        <strong>Sorry, View Persmission functionality is available only on desktop view.
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>