<div id="stickyContainer">
	<div *ngIf="showLoader" class="overlay-load">
		<div class="loader-box-shadow">
			<div class="load-img">
				<img src="{{whoImgUrl}}spinner.svg" class="loader-image" alt="Loader Image" />
				<div>
					<h6>LOADING</h6>
				</div>
			</div>
		</div>
	</div>



	<!--Search Order section start here-->
	<div class="mmbborder" id="circle-box-border"></div>
	<!-- Only Show in Mobile View -->


	<!--Search order heading section start here-->
	<div class="sticky" id="sticky1">
		<div class="container pad-none">
			<div class="row mobile-marginzero search-order-row btm-bdr" id="search-box-border">
				<div class="col-xs-12 col-sm-5 col-md-4 col-lg-4 desktop-paddzero mobile-paddzero pad-lft-right-15">
					<div class="product-i">
						<img src="{{imgName}}" class="img-responsive product-img pull-left">
						<h3 class="{{style}}">{{customerDispayName}}</h3>

					</div>
				</div>
				<div *ngIf="allowWrite" class="col-xs-12 col-sm-7 col-md-8 col-lg-8 text-right desktop-paddzero mobile-paddzero pad-lft-right-15" id="editDiv">
					<div class="input-group pos hidden-xs hidden-sm">
						<div class="dis-inlineblc curs-pointer" (click)="redirect2Edit('catalogue', customerName, product.itemNumber)">
							<div class="product-edit">
								<span class="glyphicon glyphicon-pencil edit-glyp left--5px"></span>
							</div>
							<span class="edit-text">Edit</span>
						</div>
					</div>
				</div>

			</div>
		</div>

		<!--Search order rounded store section start here-->

		<!--Search order rounded store section end here-->

	</div>
	<!--Search order heading section end here-->
</div>
<div class="container contain-pad">



	<!--Search order content section start here-->
	<div class="row desktop-marginzero">
		<div class="col-xs-12 desktop-paddzero fix-height">
			<h2 class="orders-heading title-font dis-inlineblc pad-left" id="prouctDetailTitle">PRODUCT DETAILS</h2>


			<div class="row pad-lft-right-15">
				<div class="col-xs-12 col-md-5 col-lg-5 " id="productDetailImg">
					<div>
						<img class="img-responsive max-width433 max-height270" src='{{imageUrl}}'>
					</div>
				</div>
				<div class="col-xs-12 col-md-7 col-lg-7 product-detail-border" id="productDetailHeader">
					<div class="row">
						<h6 class="product-heading">
							<!-- <span class="asterik-color">*</span> -->Product Name</h6>
						<h2 class="orders-heading data-row bottom-line font-size-1-7em text-bold">{{product ? product.itemDescription :"-"}}</h2>
					</div>
					<div class="row">
						<div class="col-xs-12 pad-left-right">
							<div class="col-xs-6 col-md-6 col-lg-6 border-right pad-left-right data-row">
								<h6 class="product-heading">
									<!-- <span class="asterik-color margin-bot">*</span> -->Product ID</h6>
								<div class="orders-heading avail-text">{{product ? product.itemNumber : "-"}}</div>
							</div>
							<div class="col-xs-6 col-md-6 col-lg-6 pad-left-right data-row">
								<h6 class="pad-left product-heading">
									<!-- <span class="asterik-color margin-bot">*</span> -->Range/ Catalogue Type</h6>
								<div class="orders-heading avail-text">{{productDetails ? productDetails.catalogue: "-"}}</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 pad-left-right">
							<div class="col-xs-6 col-md-6 col-lg-6 border-right pad-left-right data-row">
								<h6 class="product-heading">Availability</h6>
								<div class="orders-heading avail-text">{{productDetails ? productDetails.availability: "-"}}</div>
							</div>
							<div class="col-xs-6 col-md-6 col-lg-6 pad-left-right data-row">
								<h6 class="product-heading">Workflow</h6>
								<div class="orders-heading data-row avail-text data-row">{{productDetails ? productDetails.workflow: "-"}}</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 pad-left-right">
							<div class="col-md-12 col-lg-12 pad-left-right">
								<h6 class="product-heading">Description</h6>
								<div class="orders-heading avail-text padd-btm-30">{{productDetails ? productDetails.description: "-"}}</div>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="hidden-xs" id="itemCodeMapping">
					<h2 class="orders-heading title-font-margin">Product Identifiers</h2>
					<div class="table-responsive table-block">
						<table *ngIf="this.productMaps != undefined && this.productMaps.length >0" class=" custom-borderd-table table table-bordered table-striped search-result-table text-nowrap"
						 border='1'>
							<thead class="head-color font-size16px">
								<tr>
									<th width="30%">
										<div class="dropup min-wdth130">Name</div>
									</th>
									<th width="40%">Value</th>
									<th width="30%">Start Date</th>
									<!-- 
									<th>End Date</th> -->
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let map of productMaps;let i=index">
									<td>
										<span class="avail-text">{{map.type}}</span>
									</td>

									<td>
										<span class="avail-text">{{map.values[0].value}}</span>
									</td>
									<td>
										<span class="avail-text">{{_cfunction.dateFormator(map.values[0].start,1)}}</span>
									</td>
									<!-- 
									<td>{{formatDate(map.values[0].end)}}</td> -->
								</tr>

							</tbody>
						</table>
						<div *ngIf="this.productMaps == undefined || this.productMaps.length == 0" class="no-data">
							<p class="no-data-text">No data available</p>
						</div>
					</div>
				</div>
				<div class="hidden-xs" id="itemPriceInfo">
					<h2 class="orders-heading title-font-margin">Product Pricing</h2>

					<div class="table-responsive table-block">
						<table *ngIf="this.productPrices != undefined && this.productPrices.length >0" class=" custom-borderd-table table table-bordered table-striped search-result-table text-nowrap"
						 border='1'>
							<thead class="head-color font-size16px">
								<tr>
									<th width="30%">
										<div class="dropup min-wdth130">Name</div>
									</th>
									<!-- <th>
										<div class="dropup min-wdth130">Currency</div>
									</th> -->
									<th width="40%">Value</th>
									<th width="30%">Start Date</th>
									<!-- 
									<th>End Date</th> -->
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let price of productPrices;let i=index">
									<td>
										<span class="avail-text">{{price.type}}</span>
									</td>
									<!-- <td>{{price.values[0].currency}}</td> -->
									<td *ngIf="price.type == 'vat' || price.type == 'VAT' || price.type == 'Vat'">
										<span class="avail-text">{{price.values[0].value}} %</span>
									</td>
									<td *ngIf="price.type == 'cs' || price.type == 'CS'">
										<span class="avail-text">{{price.values[0].value}}</span>
									</td>
									<td *ngIf="(price.type == 'wsp' || price.type == 'WSP' || price.type == 'Wsp') || (price.type == 'rrp' || price.type == 'RRP' || price.type == 'Rrp')">
										<span class="avail-text" *ngIf="!(price.type == 'vat' || price.type == 'VAT' || price.type == 'Vat') && !(price.type == 'CS' && price.type == 'cs')">
										&pound;</span>
										<span class="avail-text"> {{price.values[0].value}}</span>
									</td>
									<td *ngIf="!(price.type == 'wsp' || price.type == 'WSP' || price.type == 'Wsp' || price.type == 'rrp' || price.type == 'RRP' || price.type == 'Rrp' || price.type == 'vat' || price.type == 'VAT' || price.type == 'Vat' || price.type == 'cs' || price.type == 'CS')">
										<span class="avail-text"> {{price.values[0].value}}</span>
									</td>
									<!--<td ><span class="avail-text"> {{price.values[0].value}}</span></td>-->
									<td>
										<span class="avail-text">{{_cfunction.dateFormator(price.values[0].start, 1)}}</span>
									</td>
									<!-- 
									<td>{{formatDate(price.values[0].end)}}</td> -->
								</tr>
							</tbody>
						</table>
						<div *ngIf="this.productPrices == undefined || this.productPrices.length == 0" class="no-data">
							<p class="no-data-text">No data available</p>
						</div>
					</div>
				</div>
				<div class="hidden-xs" id="itemAttr">
					<h2 class="orders-heading title-font-margin">Product Attributes</h2>
					<div class="table-responsive table-block">
						<table *ngIf="this.productAttributes != undefined && this.productAttributes.length >0" class=" custom-borderd-table table table-bordered table-striped search-result-table text-nowrap"
						 border='1'>
							<thead class="head-color font-size16px">
								<tr>
									<th width="30%">
										<div class="dropup min-wdth130">Name</div>
									</th>
									<th width="40%">Value</th>
									<th width="30%">Start Date</th>

								</tr>
							</thead>
							<tbody>

								<tr *ngFor="let attributes of productAttributes;let i=index">
									<td *ngIf="attributes.type">
										<span class="avail-text">{{attributes.type}}</span>
									</td>
									<td *ngIf="attributes.values">
										<span class="avail-text">{{attributes.values[0].value}}</span>
									</td>
									<td *ngIf="attributes.values">
										<span class="avail-text">{{_cfunction.dateFormator(attributes.values[0].start, 1)}}</span>
									</td>
								</tr>

							</tbody>
						</table>
						<div *ngIf="this.productAttributes == undefined || this.productAttributes.length == 0" class="no-data">
							<p class="no-data-text">No data available</p>
						</div>


					</div>
				</div>

				<div class="col-xs-12 hidden-md hidden-sm hidden-lg">
					<div class="row">
						<div class="col-xs-12 align-dot">
							<img class="modal-home-black" src="{{whoImgUrl}}product_home.png" (click)="showProductDetail()">
							<span class="dot-bg" (click)="showTable('itemCodeMapping')"></span>
							<span class="dot-bg" (click)="showTable('itemPriceInfo')"></span>
							<span class="dot-bg" (click)="showTable('itemAttr')"></span>
							<button type="button" class="btn mdl-btn btn-lg" data-toggle="modal" data-target="#prodDetailModal">
								<span class="glyphicon glyphicon-th-list product-mdl"></span>
							</button>

							<!-- Modal -->
							<div class="modal fade custom-model" id="prodDetailModal" role="dialog">
								<div class="modal-dialog modal-sm margin-none">
									<div class="modal-content modal-position">
										<div class="modal-body">

											<a href="#" class="" data-toggle="modal" data-target="#prodDetailModal" (click)="showTable('itemCodeMapping')">
												<div class="title-1">Product</div>
												<br>
												<div class="title-2">Identifiers</div>
											</a>
											<a href="#" class="" data-toggle="modal" data-target="#prodDetailModal" (click)="showTable('itemPriceInfo')">
												<div class="title-1">Product</div>
												<br>
												<div class="title-2">Pricing</div>
											</a>
											<a href="#" class="" data-toggle="modal" data-target="#prodDetailModal" (click)="showTable('itemAttr')">
												<div class="title-1">Product</div>
												<br>
												<div class="title-2">Attributes</div>
											</a>
											<img class="close modal-home-white" data-toggle="modal" data-target="#prodDetailModal" src="{{whoImgUrl}}morri_prod_home_white.png"
											 (click)="showProductDetail()">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--Search Order section end here-->
<div class="modal fade custom-model zindex9999991" id="popup_SessionExpired" role="dialog">
        <div class="modal-dialog top75 width314">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="border-top-bottom-popup">
                    <h5 class="padd-left-right-10">Session terminated                        <button type="button" id="close-popup" class="close close-icon" data-dismiss="modal" (click)="closePopup()">&#10006;</button>adfafasdf
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="new-batch-num-popup">Session has been terminated - please log in again
                        <!-- <span>{{msgJSON.message}}</span> -->
                        <span>Session has been terminated - please log in again.</span>
                    </div>
                </div>
                <div class="modal-footer border-top-grey-1">
                    <div class="text-right">
                        <button class="btn btn-default npr-popup-btn" type="button" (click)="closePopup()">OK</button>
                    </div>
                </div>
            </div>
            <!-- Modal Content End -->
        </div>
    </div>