<div class="mvp_bradcrumb">
    <div class="container">
        <div class="col-xs-12 breadcrumb product-breadcrumb">
            <a [routerLink]="['/customerselection']">
                <span class="bradcrumb-text">Home</span>
            </a>/
            <span class="bradcrumb-text bold">Orders</span>
        </div>
    </div>
</div>
<div class="mmbborder" id="circle-box-border"></div>
<div id="stickyContainer">
   <div class="sticky hidden-xs border-top-grey-1" id="sticky1">
        <div class="container padd-10-0">
            <div class="row equal">
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 desktop-paddzero mobile-paddzero" id="setBorder">
                    <div class="product-i">
                        <img src="{{imgName}}" class="img-responsive product-img-45 pull-left">
                        <h3 class="margin-zero product-title-top-0 font-bold font-size21">{{customerName}}</h3>
                        <a [class.hidden]="disabledCusChange ? true : null" (click)="toggleOrganisation()" class="Product-title-anchor">Change Customer
                            <span class="search-arrow-product">
                                <i id="changeIcon" class="glyphicon glyphicon-menu-down small-arrow-up"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8 padd0">
                    <main-navigation-menu  #navIcons></main-navigation-menu>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row desktop-marginzero" [hidden]="hideOrganisation">
                <div class="advanced-search-page text-center">
                    <ul class="product-circle">
                        <li *ngFor="let organisation of organisationListChange;let i=index" [class.hidden]="organisation.customerName=='All_Wholesale_Customers' || organisation.customerName =='kens'" (click)="changeOrgType('/orders', organisation.customerName); navIcons.reloadNavigation(organisation.orgType);" >
                            <a>
                                <img src="{{getCustomerImage(organisation.customerName)}}" class="img-responsive" alt="{{organisation.customerName}}" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="hidden-xs padd-btm-30 padd-top-10 bgcolor-grey min-height500">
    <div class="container padd-top-11 pad-left-right" *ngIf="!siteMaintanceFlg">
        <div id="noAccess" class="container error-message-container" [class.hidden]="(!disabledorderEnquiry || !disabledclaimsReview || !disabledorderValidation) ? true : null">
            <div class="row categories padd-top16">
                <div class="alert alert-danger text-center error-message">
                    <i class="glyphicon glyphicon-alert">
                    </i> &nbsp;&nbsp;
                    <strong>You don't have permission to access this menu.
                    </strong>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-md-2 col-lg-2 padright-10" [class.hidden]="disabledorderEnquiry ? true : null">
                <div (click)="redirect_page(['/orders',customerName, 'enquiry'])" class="bgcolor-white border-top-bottom cursor-pointer">
                    <div class="padd-top-25 padd-lr-dashboard text-align-webkit-center">
                        <img src="{{whoImgUrl}}IconOrders.svg" class="img-responsive" />
                    </div>
                    <div class="clearfix"></div>
                    <div class="padleft-10 padd-right10 text-center">
                        <h5 class="padd-top-11 padd-bot11 curs-pointer font-light font-1-17em font-wght900">Order Enquiry</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-2 col-lg-2 padright-10" [class.hidden]="disabledclaimsReview ? true : null" >
                <div (click)="redirect_page(['/orders',customerName, 'claims'])" class="bgcolor-white border-top-bottom cursor-pointer">
                    <div class="padd-top-25 padd-lr-dashboard text-align-webkit-center">
                        <img src="{{whoImgUrl}}IconOrderClaim.svg" class="img-responsive" />
                    </div>
                    <div class="clearfix"></div>
                    <div class="padleft-10 padd-right10 text-center">
                        <h5 class="padd-top-11 padd-bot11 curs-pointer font-light font-1-17em font-wght900">Claims Review</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-2 col-lg-2 padright-10" [class.hidden]="disabledorderValidation ? true : null" >
                <div (click)="redirect_page(['/orders',customerName, 'orders-validation'])" class="bgcolor-white border-top-bottom cursor-pointer">
                    <div class="padd-top-25 padd-lr-dashboard text-align-webkit-center">
                        <img src="{{whoImgUrl}}icon_Max_Order.png" class="img-responsive" />
                    </div>
                    <div class="clearfix"></div>
                    <div class="max-order-div text-center">
                        <h5 class="padd-top-111 padd-bot11 curs-pointer font-light font-1-17em font-wght900">Maintain Maximum Order Quantity Per Item</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="siteMaintanceFlg">
        <div class="col-xs-12 col-sm-12 col-md-12 maintenance-background">
            <div class="heading-text">
                <h3 class="semi-bold text-center hidden-xs">SITE MAINTENANCE</h3>
            </div>
            <div class="maintenance-box login-box bold text-center">
                {{siteMSg}}
            </div>
        </div>
    </div>
</div>
<div class="hidden-sm hidden-md hidden-lg">
    <div class="row pad-lft-right-15 padd-top-11">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <div class="error-message-container">
                <div class="categories">
                    <div class="alert alert-info text-center error-message">
                        <strong>Sorry, Dashboard is available only on desktop view.
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--session expiry modal starts here-->
<div class="modal fade custom-model zindex9999991" id="popup_SessionExpired" role="dialog">
    <div class="modal-dialog top75 width314">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="border-top-bottom-popup">
                <h5 class="padd-left-right-10">Session terminated<button type="button" id="close-popup" class="close close-icon" data-dismiss="modal" (click)="closePopup()">&#10006;</button>
                </h5>
            </div>
            <div class="modal-body">
                <div class="new-batch-num-popup">
                    <!-- <span>{{msgJSON.message}}</span> -->
                    <span>Session has been terminated - please log in again.</span>
                </div>
            </div>
            <div class="modal-footer border-top-grey-1">
                <div class="text-right">
                    <button class="btn btn-default npr-popup-btn" type="button" (click)="closePopup()">OK</button>
                </div>
            </div>
        </div>
        <!-- Modal Content End -->
    </div>
</div>
<!--session expiry modal ends here-->