<div id="stickyContainer">
    <!-- Breadcrumb start here-->
    <div class="mvp_bradcrumb">
        <div class="container">
            <div class="col-xs-12 breadcrumb product-breadcrumb">
                <a [routerLink]="['/customerselection']">
                    <span class="bradcrumb-text">Home</span>
                </a>/
                <a [routerLink]="['/cataloguemanagement', customerName]">
                    <span class="bradcrumb-text">Catalogue Management</span>
                </a>/
                <span class="bradcrumb-text">Catalogue Search</span>
            </div>
        </div>
    </div>
    <!-- Breadcrumb end here-->

    <!--Search Order section start here-->
    <div class="mmbborder" id="circle-box-border"></div>
    <!-- Only Show in Mobile View -->

    <!--Search order heading section start here-->
    <div class="sticky" id="sticky1">
        <div class="container">
            <div class="row mobile-marginzero search-order-row searchborder btm-bdr" id="search-box-border">
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 desktop-paddzero mobile-paddzero">
                    <div class="product-i">
                        <img src="{{imgName}}" class="img-responsive product-img pull-left">
                        <h3 class="{{style}}">{{customerDispayName}}</h3>
                        <a [class.hidden]="disabledCusChange ? true : null" (click)="toggleOrganisation()" class="Product-title-anchor">Change Customer
                            <span class="search-arrow-product">
                                <i id="changeIcon" class="glyphicon glyphicon-menu-down small-arrow-up"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 help-link-div padding-zero">
                    <main-navigation-menu #navIcons></main-navigation-menu>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row desktop-marginzero" [hidden]="hideOrganisation">
                <div class="advanced-search-page text-center">
                    <ul class="product-circle">
                        <li *ngFor="let organisation of organisationListChange;let i=index" [class.hidden]="organisation.customerName=='All_Wholesale_Customers' || organisation.customerName =='kens'" (click)="changeOrgType('/orders', organisation.customerName); navIcons.reloadNavigation(organisation.orgType);" >
                            <a>
                                <img src="{{getCustomerImage(organisation.customerName)}}" class="img-responsive" alt="{{organisation.customerName}}" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Search order heading section end here-->
<div class="hidden-sm hidden-xs">
    <button (click)="onScrolltop()" class="topbtn" id="topBtn">Top</button>
</div>
<div class="container">
    <div class="row desktop-marginzero">
        <div class="col-xs-12 desktop-paddzero fix-height">
            <h4 class="orders-heading">Catalogue</h4>

            <div class="row margin-zero">
                <div class="col-xs-12 search-order-div desktop-paddzero mobile-paddzero btborder blockmarginbt" id="search-order-border">
                    <div class="col-xs-12 xspadding">
                        <h4 class="search-order-heading hidden-xs">Search Criteria for Products</h4>
                        <p class="search-criteria-text">
                            Enter Product Number and Product Description in the search field
                        </p>
                    </div>

                    <!--Search orders form section start here-->
                    <form role="form" #singlecatalogue="ngForm" name="singlecatalogue" class="" (submit)="getCatalogueItem(singlecatalogue.value)">

                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 padding-right-zero search-section xspadding form-group">
                            <span class="green-star">*</span>
                            <label for="catalogueType">Range/ Catalogue Type</label>

                            <span class="up_arrow glyphicon glyphicon-menu-down rt10"></span>
                            <select class="form-control" id="catalogueType" name="catalogueType" required [(ngModel)]="catalogueType">
                                <option value="">Please Select</option>
                                <option *ngFor="let i of catalogueTypes;" [value]="i.catalogueType" [attr.selected]="i.catalogueType == catalogueTypeId ? true : null">{{i.catalogueType}}</option>
                            </select>
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 padding-right-zero search-section xspadding">
                            <label for="catalogueCode">Product Code/ Description</label>
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <input value=" " type="text" (keypress)="keyPress($event)" class="form-control order-no-form" id="catalogueCode" name="catalogueCode"
                                        [(ngModel)]="catalogueCode" />
                                </div>
                            </div>

                        </div>



                        <div class="mrgn-left-17per col-xs-8 col-sm-3 col-md-3 col-lg-3 padding-right-zero search-section xspadding ">
                            <div class="input-group dpadding col-xs-12 col-sm-12 col-md-9 col-lg-9">
                                <button type="submit" class="btn pull-right mrgn-r-2 search-button adv-search-btn form-control">SEARCH
                                    <span class="brd-left-white rt6px">
                                        <span class="glyphicon glyphicon-search search-icon pull-right"></span>
                                    </span>
                                </button>
                            </div>
                        </div>

                    </form>


                    <!--Search Result Model box Mobile start Here-->
                    <button id="openModalResult" [hidden]="true" data-toggle="modal" data-target="#catalogueResult">Open Modal</button>

                    <div class="modal fade hidden-lg hidden-md hidden-md" id="catalogueResult" role="dialog" [hidden]="catalogueResult">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" id="resultModalClose" class="close table-close" (click)="resetOnClose()" data-dismiss="modal">Close &#10006;</button>
                                    <h4 class="modal-title title-top pull-left">Catalogue Search Result</h4>
                                    <ul *ngIf="cataloguedetailListLength > 0" class="list-inline search-help-links pull-right">
                                        <li (click)="printCatalogue()">
                                            <a class="pdlinks"  tooltip="Only records that have been fetched and displayed on screen by “paging through”" tooltipPlacement="bottom">
                                                <img src="{{whoImgUrl}}print.png" class="img-resposnive icon-img">
                                            </a>
                                        </li>
                                        <li (click)="exportData()">
                                            <a class="pdlinks"  tooltip="Only records that have been fetched and displayed on screen by “paging through”" tooltipPlacement="bottom">
                                                <img src="{{whoImgUrl}}download.png" class="img-resposnive icon-img">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!--     <p class="catlouge-table-note-txt-model"><span class="catlouge-note-span">NOTE:</span> Please note that <span class="catlouge-note-span">Wholesale Catalogue/Range</span>                                    information shown here is as of <span class="catlouge-note-span">{{catalogueUpdatedDate}}</span>,
                                    any amendments after that date are <span class="catlouge-note-underline">Not Included.</span></p> -->
                                <div class="modal-body">
                                    <div *ngIf="cataloguedetailListLength == 0">
                                        <p class="no-data-text">No data available</p>
                                    </div>
                                    <div class="col-xs-12 search-results-div paddzero bg-white">
                                        <div *ngIf="cataloguedetailListLength > 0" class="table-responsive mobile-scroll" infinite-scroll [infiniteScrollDistance]="2"
                                            [infiniteScrollThrottle]="300" [scrollWindow]="false" (scrolled)="onScrollDown(catalogueCode, catalogueType)">
                                            <table class="bg-white  custom-borderd-table table table-bordered table-striped search-result-table text-nowrap">
                                                <thead class="head-color">
                                                    <tr>
                                                        <!--  <th>Catalogue ID</th> -->
                                                        <th>MIN</th>
                                                        <th>Customer Code</th>
                                                        <th>Availability</th>
                                                        <th>Description</th>
                                                        <th>Wholesale Price</th>
                                                        <th>Pack Type</th>
                                                        <th>Pack Size</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let catalogue of catalogueDetailList;let i=index" (click)="redirect_detail('catalogue',customerName,catalogue.id)"
                                                        class="order-number-table cursor-pointer">
                                                        <!--  <td>{{catalogue.id}}</td> -->
                                                        <td>{{catalogue.maps ? getMinValue(catalogue.maps ) :"Information not
                                                            yet available"}}
                                                        </td>
                                                        <td>{{catalogue.maps ? getAsinValue(catalogue.maps) :"-"}}</td>
                                                        <td>{{catalogue.availability ? catalogue.availability : "Information
                                                            not yet available"}}
                                                        </td>
                                                        <td>{{catalogue.description}}</td>

                                                        <td>{{catalogue.prices ? getWholesalePriceValue(catalogue.prices ) :"Information
                                                            not yet available"}}
                                                        </td>

                                                        <td>
                                                            {{catalogue.prices ? getWholesalePackTypeValue(catalogue.prices ) :"-"}}
                                                        </td>

                                                        <td>{{catalogue.prices ? getWholesalePackSizeValue(catalogue.prices )
                                                            :"-"}}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div *ngIf="showLoader" class="overlay-load">
                                                <div class="loader-box-shadow">
                                                    <div class="load-img">
                                                        <img src="{{whoImgUrl}}spinner.svg" class="loader-image" alt="Loader Image" />
                                                        <div>
                                                            <h6>LOADING</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Search Result Model box Mobile end Here-->

                    <!--Search results section start here-->
                    <div class="col-xs-12 search-results-div catalogue-search hidden-xs" [hidden]="catalogueResult">
                        <h4 class="search-result-heading">Search Results for Products</h4>
                        <div id="printNavCatalogue">
                            <div class="search-criteria-text" *ngIf="cataloguedetailListLength > 0">
                                <p class="pull-left">Below are the list of products which matches your search criteria</p>
                                <ul *ngIf="cataloguedetailListLength > 0" class="list-inline search-help-links">
                                    <li (click)="printCatalogue()" tooltip="Only records that have been fetched and displayed on screen by “paging through”" tooltipPlacement="bottom">
                                        <a class="pdlinks">
                                            <img src="{{whoImgUrl}}print.png" class="img-resposnive icon-img">Print</a>
                                    </li>
                                    <li (click)="exportData()"  tooltip="Only records that have been fetched and displayed on screen by “paging through”" tooltipPlacement="bottom">
                                        <a class="pdlinks">
                                            <img src="{{whoImgUrl}}download.png" class="img-resposnive icon-img">Download</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--    <p class="catlouge-table-note-txt"><span class="catlouge-note-span">NOTE:</span> Please note that <span class="catlouge-note-span">Wholesale Catalogue/Range</span>                            information shown here is as of <span class="catlouge-note-span">{{catalogueUpdatedDate}}</span>,
                            any amendments after that date are <span class="catlouge-note-underline">Not Included.</span></p> -->
                        <div *ngIf="cataloguedetailListLength == 0">
                            <p class="no-data-text">No data available</p>
                        </div>

                        <div *ngIf="cataloguedetailListLength > 0" id="exportable" class="table-responsive table-block overflow-x-inherit" infinite-scroll
                            [infiniteScrollDistance]="0.5" [infiniteScrollThrottle]="300" (scrolled)="onScrollDown(catalogueCode, catalogueType)">
                            <table class=" custom-borderd-table table table-bordered table-striped search-result-table text-nowrap" border='1'>
                                <thead class="head-color">
                                    <tr>
                                        <!-- <th>Catalogue ID</th> -->
                                        <th>MIN</th>
                                        <th>Customer Code</th>
                                        <th>Availability</th>
                                        <th>Description</th>
                                        <th>Wholesale Price</th>
                                        <th>Pack Type</th>
                                        <th>Pack Size</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let catalogue of catalogueDetailList;let i=index" (click)="redirect_detail('catalogue',customerName,catalogue.id)"
                                        class="order-number-table cursor-pointer">
                                        <!-- <td>{{catalogue.id}}</td> -->
                                        <td>{{catalogue.maps ? getMinValue(catalogue.maps ) :"-"}}
                                        </td>
                                        <td>{{catalogue.maps ? getAsinValue(catalogue.maps) :"-"}}</td>
                                        <td>{{catalogue.availability ? catalogue.availability : "-"}}
                                        </td>
                                        <td>{{catalogue.description}}</td>

                                        <td>{{catalogue.prices ? getWholesalePriceValue(catalogue.prices ) :"Information not
                                            yet available"}}
                                        </td>

                                        <td>
                                            {{catalogue.prices ? getWholesalePackTypeValue(catalogue.prices ) :"-"}}
                                        </td>
                                        <td>{{catalogue.prices ? getWholesalePackSizeValue(catalogue.prices ) :"Information not
                                            yet available"}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--Search results section end here-->
                </div>
            </div>
        </div>
    </div>
    <!-- loader section start-->
    <div *ngIf="showLoader" class="overlay-load">
        <div class="loader-box-shadow">
            <div class="load-img">
                <img src="{{whoImgUrl}}spinner.svg" class="loader-image" alt="Loader Image" />
                <div>
                    <h6>LOADING</h6>
                </div>
            </div>
        </div>
    </div>
    <!-- loader section end-->
    <div class='print_only' id="printHeader" [hidden]="printHeader">
        <!--dashboard container section start-->
        <div class="row dashboard-heading-div">
            <div class="col-xs-12">
                <img class="logo_print" src="{{whoImgUrl}}print_logo.png" alt="Morrisons logo">
                <h2 class="font-bold actualprint-ordernno">Catalogue Details</h2>
            </div>
        </div>
    </div>
    <!--Search order content section end here-->
</div>
<!--Search Order section end here-->
<div class="modal fade custom-model zindex9999991" id="popup_SessionExpired" role="dialog">
        <div class="modal-dialog top75 width314">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="border-top-bottom-popup">
                    <h5 class="padd-left-right-10">Session terminated                        <button type="button" id="close-popup" class="close close-icon" data-dismiss="modal" (click)="closePopup()">&#10006;</button>adfafasdf
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="new-batch-num-popup">Session has been terminated - please log in again
                        <!-- <span>{{msgJSON.message}}</span> -->
                        <span>Session has been terminated - please log in again.</span>
                    </div>
                </div>
                <div class="modal-footer border-top-grey-1">
                    <div class="text-right">
                        <button class="btn btn-default npr-popup-btn" type="button" (click)="closePopup()">OK</button>
                    </div>
                </div>
            </div>
            <!-- Modal Content End -->
        </div>
    </div>