<div id="stickyContainer">
	<div *ngIf="showLoader" class="overlay-load">
		<div class="loader-box-shadow">
			<div class="load-img">
				<img src="{{whoImgUrl}}spinner.svg" class="loader-image" alt="Loader Image" />
				<div>
					<h6>LOADING</h6>
				</div>
			</div>
		</div>
	</div>
	<!--Search Order section start here-->
	<div class="mmbborder" id="circle-box-border"></div>
	<!-- Only Show in Mobile View -->
	<!--Search order heading section start here-->
	<div class="sticky" id="sticky1">
		<div class="container pad-none">
			<div class="row mobile-marginzero search-order-row btm-bdr" id="search-box-border">
				<div class="col-xs-12 col-sm-5 col-md-4 col-lg-4 desktop-paddzero mobile-paddzero pad-lft-right-15">
					<div class="product-i">
						<img src="{{imgName}}" class="img-responsive product-img pull-left">
						<h3 class="{{style}}">{{customerDispayName}}</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Search order heading section end here-->
</div>
<div class="container contain-pad">
	<!--Search order content section start here-->
	<div class="row desktop-marginzero">
		<div class="col-xs-12 desktop-paddzero fix-height">
			<div class="row">
				<h2 class="orders-heading title-font dis-inlineblc padleft-25" id="prouctDetailTitle">PRODUCT DETAILS</h2>
			</div>
			<form role="form" #editproduct="ngForm" name="editproduct" class="">
				<div class="row pad-lft-right-15 hidden-lg hidden-md">
					<div class="col-xs-12 col-md-12 col-lg-12 ">
						<div class="error-message-container">
							<div class="categories">
								<div class="alert alert-info text-center error-message">
									<strong>Sorry, Add/Edit functionality is available only on desktop view.
									</strong>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row pad-lft-right-15 hidden-sm hidden-xs">
					<div class="col-xs-12 col-md-12 col-lg-12 " id="addProdErrMsg" style="display:none">
						<div class="error-message-container">
							<div class="categories">
								<div class="alert alert-danger text-center error-message">
									<i class="glyphicon glyphicon-alert"></i> &nbsp;&nbsp;{{errorMsgString}}

									<strong></strong>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-md-5 col-lg-5" id="productDetailImg">
						<img class="img-responsive max-height270" src='{{prodImgUrl}}'>
					</div>
					<div class="col-xs-12 col-md-7 col-lg-7 product-detail-border" id="productDetailHeader">
						<div class="row">
							<h6 class="product-heading">
								<span class="asterik-color">*</span>Product ID
							</h6>
							<input name="catalogueId" readonly class="orders-heading data-row bottom-line font-size-1-7em text-bold textbox-wid-bor"
							 [(ngModel)]='itemNumber' (change)="onChange()" placeholder="000000000" required>
						</div>
						<div class="row equal padd0">
							<div class="col-xs-6 col-md-6 col-lg-6 border-right pad-left-right data-row">
								<h6 class="product-heading">
									<span class="asterik-color margin-bot">*</span>Product Name
								</h6>
								<input name="productName" class="orders-heading avail-text textbox-wid-bor padbot-9  ellipsis wdt310" readonly [(ngModel)]="productName" (change)="onChange()" 
								 placeholder="Product name here" required="">
							</div>
							<div class="col-xs-6 col-md-6 col-lg-6 pad-left-right data-row">
								<h6 class="pad-left product-heading">
									<span class="asterik-color margin-bot">*</span>Range/ Catalogue Type
								</h6>
								<input name="catalogueType" class="orders-heading avail-text textbox-wid-bor padbot-9" readonly [(ngModel)]="catalogueType" (change)="onChange()" 
								 placeholder="Product name here">
							</div>
						</div>
						<div class="row equal padd0">
							<div class="col-xs-6 col-md-6 col-lg-6 border-right pad-left-right data-row">
								<h6 class="product-heading">
									<span class="asterik-color margin-bot">*</span>Availability</h6>
								<span class="up_arrow glyphicon glyphicon-menu-down top fontsize-25"></span>
								<select class="form-control avail-text" id="availabilityStatus" name="availabilityStatus" [(ngModel)]="availabilityStatus" (change)="onChange()" 
								 required>
									<option *ngFor="let i of availabilityMaster" [value]="i.availabilityStatus" [attr.selected]="i.availabilityStatus == productDetails.availability ? true : null">{{i.availabilityStatus}}</option>
								</select>
							</div>
							<div class="col-xs-6 col-md-6 col-lg-6 pad-left-right data-row">
								<h6 class="product-heading">
									<span class="asterik-color margin-bot">*</span>Workflow</h6>
								<span class="up_arrow glyphicon glyphicon-menu-down top fontsize-25"></span>
								<select class="form-control avail-text" id="workflow" name="workflow" [(ngModel)]="workflow" (change)="onChange()" required>
									<option *ngFor="let i of WorkflowMaster" [value]="i.workflowStatusName" [attr.selected]="i.workflowStatusName == productDetails.workflow ? true : null">
										<div class="orders-heading avail-text">{{i.workflowStatusName}}</div>
									</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 pad-left-right">
								<div class="col-md-12 col-lg-12 pad-left-right">
									<h6 class="product-heading">
										<span class="asterik-color margin-bot">*</span>Description</h6>
									<textarea name="productDesc" class="orders-heading avail-text textbox-wid-bor textarea-fixed" [(ngModel)]="productDesc" (change)="onChange()" placeholder="Type here..."
									 maxlength="50" oncopy="return false" oncut="return false" onpaste="return false" required></textarea>
								</div>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
					<div>
						<div class="">
							<div class="col-md-12 col-sm-12 col-lg-12  product-identifies">
								<h2 class="orders-heading title-font-margin">
									<span class="asterik-color">*</span>Product Identifiers</h2>
							</div>
							<div class="table-responsive table-block ovrflo-inherit">
								<table class=" custom-borderd-table table table-bordered table-striped search-result-table text-nowrap margin-bot td-pad-t-b-0"
								 border='1'>

									<thead class="head-color font-size16px">
										<tr>
											<th width="30%">
												<div class="dropup min-wdth130">Name</div>
											</th>
											<th width="30%">Value</th>
											<th width="30%">Start Date</th>
											<th width="10%" *ngIf="allowWrite">Delete</th>
										</tr>
									</thead>
									<tbody id="identifierBody">
										<tr *ngFor="let map of mapTypesMaster;let i=index">
											<td>
												<div class="orders-heading avail-text">
													{{map.mapName}}
												</div>
											</td>
											<td>
												<input autocomplete="off" class="ht33 orders-heading avail-text textbox-wid-bor" placeholder="Type here..." id="{{map.id}}"
												 maxlength="15" (change)="onChange()" (keypress)="keyPress($event)" name="{{map.id}}" value="{{map.value}}" oncopy="return false" oncut="return false"
												 onpaste="return false">
											</td>
											<td (click)="openCalender(map.date_id)">
												<!--<input placeholder="DD/MM/YYYY" value="" id="{{map.date_id}}" name="{{map.date_id}}" readonly
                                                class="form-control selectdate" required>-->
												<div class="input-group calendar-input-grp avail-text textbox-wid-bor ">
													<input placeholder="DD/MM/YYYY" id="{{map.date_id}}" name="{{map.date_id}}" value="{{map.date_value}}" (change)="onChange()" readonly class="form-control selectdate bg-transparent">
													<span class="input-group-addon calendar-addon bg-transparent">
														<i class="glyphicon glyphicon-calendar cust-calender"></i>
													</span>
												</div>
											</td>
											<td *ngIf="allowWrite">
												<div class="dis-inlineblc padleft-5" (click)="deleteProdMapNewRow(i)" *ngIf="map.newRow">
													<span class="glyphicon glyphicon-trash text-green padd-top-11 font-size16px"></span>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
								<div id="prodPriAddRow" class="col-md-6 col-sm-6 col-lg-6 pad-left-right pull-right">
									<div class="input-group pos" [class.hidden] = "!allowAddCatalogueAttribute">
										<div class="dis-inlineblc padleft-5 cusrsorPointer" (click)="addProdMapNewRow()">
											<span class="glyphicon glyphicon-plus-sign save-glyp"></span>
											<span class="save-text">Add Row</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div>
							<div class="row">
								<div class="col-md-6 col-sm-6 col-lg-6">
									<h2 class="orders-heading title-font-margin">Product Pricing</h2>
								</div>
							</div>
							<div class="table-responsive ovrflo-inherit">
								<table class=" custom-borderd-table table table-bordered table-striped search-result-table text-nowrap margin-bot  td-pad-t-b-0"
								 border='1'>
									<thead class="head-color  font-size16px">
										<tr>
											<th width="20%">
												<div class="dropup min-wdth130">Name</div>
											</th>
											<th width="20%">
												<div class="dropup min-wdth130">Currency</div>
											</th>
											<th width="20%">Value</th>
											<th width="30%">Start Date</th>
											<th width="10%" *ngIf="allowWrite">Delete</th>
										</tr>
									</thead>
									<tbody id="pricingBody">
										<tr *ngFor="let price of financialTypesMasterDisplay;let i=index">
											<td>
												<div class="orders-heading avail-text">{{price.financialType}}</div>
											</td>
											<td>
												<div class="col-xs-12 col-md-12 col-lg-12 pad-left-right">
													<span class="up_arrow glyphicon glyphicon-menu-down top fontsize-25 top3 rt5px"></span>
													<select class="bg-none ht33 orders-heading avail-text textbox-wid-bor" id="{{price.currency_id}}" (change)="onChange()" name="{{price.currency_id}}"
													 value="price.currency_value">
														<option value="">Please Select</option>
														<option *ngFor="let i of financialCurrencies;" [value]="i.financialCurrency" [attr.selected]="i.financialCurrency == price.currency_value ? true : null">{{i.financialCurrency}}</option>
													</select>
												</div>
											</td>
											<td>
												<div>
													<input autocomplete="off" class="ht33 orders-heading avail-text textbox-wid-bor" id="{{price.id}}" name="{{price.id}}" placeholder="Type here..."
													 maxlength="15" (keyup)="price.value=keyPressNumericWithDecimalRestrict($event , price.value, price.id)" value="{{price.value}}"
													 oncopy="return false" oncut="return false" onpaste="return false" (change)="onChange()">
												</div>
											</td>



											<td (click)="openCalender(price.date_id)">
												<div class="input-group calendar-input-grp avail-text textbox-wid-bor ">
													<input placeholder="DD/MM/YYYY" id="{{price.date_id}}" name="{{price.date_id}}" readonly class="form-control selectdate bg-transparent"
													 value="{{price.date_value}}" (change)="onChange()">
													<span class="input-group-addon calendar-addon bg-transparent">
														<i class="glyphicon glyphicon-calendar cust-calender"></i>
													</span>
												</div>
											</td>
											<td *ngIf="allowWrite">
												<div class="dis-inlineblc padleft-5" (click)="deleteProdPriceNewRow(i)" *ngIf="price.newRow">
													<span class="glyphicon glyphicon-trash text-green padd-top-11 font-size16px"></span>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
								<div id="prodAttrAddRow" class="col-md-6 col-sm-6 col-lg-6 pad-left-right pull-right">
									<div class="input-group pos" [class.hidden] = "!allowAddCatalogueAttribute">
										<div class="dis-inlineblc padleft-5 cusrsorPointer" (click)="addProdPriceNewRow()">
											<span class="glyphicon glyphicon-plus-sign save-glyp"></span>
											<span class="save-text">Add Row</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div>
							<div class="row item-atr-margin">
								<div class="col-md-4 col-lg-4 col-xs-12">
									<h2 class="orders-heading title-font-pos">Product Attributes</h2>
								</div>
							</div>
							<table class=" custom-borderd-table table table-bordered table-striped search-result-table text-nowrap margin-bot  td-pad-t-b-0"
							 border='1'>
								<thead class="head-color font-size16px">
									<tr>
										<th width="30%">
											<div class="dropup min-wdth130">Name</div>
										</th>
										<th width="30%">Value</th>
										<th width="30%">Start Date</th>
										<th width="10%" *ngIf="allowWrite">Delete</th>
									</tr>
								</thead>
								<tbody id="attributeBody">
									<tr *ngFor="let lookup of lookupTypesMaster;let i=index">
										<td>
											<div class="orders-heading avail-text">{{lookup.lookupName}}</div>
										</td>
										<td>
											<input class="ht33 orders-heading avail-text textbox-wid-bor" id="{{lookup.id}}" name="{{lookup.id}}" value="{{lookup.value}}"
											  oncopy="return false" oncut="return false" onpaste="return false" (change)="onChange()">
										</td>
										<td (click)="openCalender(lookup.date_id)">
											<div class="input-group calendar-input-grp avail-text textbox-wid-bor ">
												<input placeholder="DD/MM/YYYY" id="{{lookup.date_id}}" name="{{lookup.date_id}}" value="{{lookup.date_value}}" readonly
												 class="form-control selectdate bg-transparent" (change)="onChange()">
												<span class="input-group-addon calendar-addon bg-transparent">
													<i class="glyphicon glyphicon-calendar cust-calender"></i>
												</span>
											</div>
										</td>

										<td *ngIf="allowWrite">
											<div class="dis-inlineblc padleft-5" (click)="deleteProdLookupNewRow(i)" *ngIf="lookup.newRow">
												<span class="glyphicon glyphicon-trash text-green padd-top-11 font-size16px"></span>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
							<div id="prodMapAddRow" class="col-md-6 col-sm-6 col-lg-6 pad-left-right pull-right">
								<div class="input-group pos" [class.hidden] = "!allowAddCatalogueAttribute">
									<div class="dis-inlineblc padleft-5 cusrsorPointer" (click)="addProdLookupNewRow()">
										<span class="glyphicon glyphicon-plus-sign save-glyp"></span>
										<span class="save-text">Add Row</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12 col-sm-12 col-lg-12 text-center">
						<div class="col-md-6 col-sm-6 col-lg-6 text-center save-btn-pad">
							<button class="prdt-save-btn" type="button" (click)="editProductToCatalogue(editproduct.value)"> Save</button>
						</div>
						<div class="col-md-6 col-sm-6 col-lg-6 text-center save-btn-pad">
							<button class="prdt-save-btn" type="button" (click)="closeTab()"> Cancel</button>
						</div>
					</div>

					<!-- Modal data-target="#saveModal" data-toggle="modal" -->
					<div class="modal fade custom-model zindex999999" id="editConfirmationModal" role="dialog">
						<div class="modal-dialog width-455">
							<!-- Modal content-->
							<div class="modal-content mdl-content" id="editConfirmationModal">
								<div class="">
									<button type="button" class="close table-close top16" (click)="redirect2Detail()">Close &#10006;</button>
								</div>
								<div class="modal-body">
									<img class="img-responsive tick" src="{{whoImgUrl}}tick.png">
									<h4 class="prdct-succs text-center">Product successfully edited</h4>
									<div class="btn-pad">
										<button type="button" class="view-prdctbtn" (click)="redirect2Detail()">VIEW PRODUCT</button>
										<a (click)="redirect('/catalogue', customerName)" class="back-cat">Back to Catalogue</a>
									</div>
								</div>
							</div>
							<!-- Modal Content End -->
						</div>
					</div>
					<div class="modal fade custom-model zindex999999" id="calenderModal" role="dialog">
						<div class="modal-dialog width-455">
							<!-- Modal content-->
							<div class="modal-content mdl-content">
								<div class="">
									<button type="button" class="close table-close top16" data-dismiss="modal" aria-hidden="true" (click)="closeDateModelBox()">Close &#10006;</button>
								</div>
								<div class="modal-body text-center">
									<p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" [inline]=true [showIcon]="true" [minDate]="minDate"
									 [(ngModel)]="calDefaultDate" name="aa" id="aa" dateFormat="dd/mm/yy" hourFormat="24" class="brdr-0 textbox-wid-bor avail-text"
									 (onSelect)='CalOnDateSelection($event)' [defaultDate]="calDefaultDate"></p-calendar>
								</div>
								<div class="padd-top16 text-center">
									<button type="button" data-dismiss="modal" aria-hidden="true" (click)="clearDateModelBox()">Clear &#10006;</button>

								</div>
							</div>

							<!-- Modal Content End -->

						</div>

					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<!--Search Order section end here-->
<div class="modal fade custom-model zindex9999991" id="popup_SessionExpired" role="dialog">
        <div class="modal-dialog top75 width314">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="border-top-bottom-popup">
                    <h5 class="padd-left-right-10">Session terminated                        <button type="button" id="close-popup" class="close close-icon" data-dismiss="modal" (click)="closePopup()">&#10006;</button>
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="new-batch-num-popup">
                        <!-- <span>{{msgJSON.message}}</span> -->
                        <span>Session has been terminated - please log in again.</span>
                    </div>
                </div>
                <div class="modal-footer border-top-grey-1">
                    <div class="text-right">
                        <button class="btn btn-default npr-popup-btn" type="button" (click)="closePopup()">OK</button>
                    </div>
                </div>
            </div>
            <!-- Modal Content End -->
        </div>
    </div>