<!-- Bradcrumb start here-->
<div class="mvp_bradcrumb">
	<div class="container mobilebg">
		<div class="col-xs-12 breadcrumb product-breadcrumb">
			<a [routerLink]="['/']">
				<span class="bradcrumb-text underline">Home</span>
			</a>
		</div>
	</div>

</div>
<!-- Bradcrumb end here-->
<!--Search Order section start here-->
<div class="mmbborder" id="circle-box-border"></div>
<!-- Only Show in Mobile View -->

<!-- Carousal Satrt here-->
<div class="mvp reset-password-section">
	<section class="mvp-background hidden-xs"></section>

	<div *ngIf="showLoader" class="overlay-load">
		<div class="loader-box-shadow">
			<div class="load-img">
				<img src="{{whoImgUrl}}spinner.svg" class="loader-image" alt="Loader Image" />
				<div>
					<h6>LOADING</h6>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row login-block">
			<div class="col-xs-12 col-sm-6 col-md-5 col-sm-push-2 mvp-mainimage hidden-xs">
			</div>
			<div class="col-xs-12 col-sm-5 col-md-5 mvp-text">
				<div class="heading-text">
					<h3 class="login-text semi-bold text-center hidden-xs">Please enter your email address to reset your password. New password will be sent to Email address provided.</h3>
				</div>

				<div class="login-box">
					<form id="loginform" #form="ngForm" role="form" name="loginform" class="" (submit)="resetpassword(form.value)">
						<!-- <p class="reuired-flieds semi-bold hidden-xs"><span class="green-star">*</span>Required fields</p> -->
						<p class="secure-mobile-heading hidden-sm hidden-md hidden-lg">SECURE RESET</p>

						<div class="form-group">
							<label class="login-label semi-bold" for="username">Email Address</label>
							<input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" class="form-control col-xs-3" placeholder="Email address"
							 id="username" name="username" [(ngModel)]="userName" autocomplete="off" required>

						</div>
						<label class="login-label semi-bold"></label>
						<div class="form-group">
							<button type="submit" id="submit" name="ctnBtn" class="btn btn-primary yellow-btn pull-right">RESET</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade custom-model zindex999999" id="resetPassword" role="dialog">
		<div class="modal-dialog top75 width314">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="border-top-bottom-popup">
					<h5 class="padd-left-right-10">Reset Password
						<button type="button" id="close-popup" class="close close-icon" data-dismiss="modal" (click)="closerestPopup('resetPassword')">&#10006;</button>
					</h5>
				</div>
				<div class="modal-body">
					<div class="new-batch-num-popup">
						<span>{{resetPasswordMsg}}</span>
					</div>
				</div>
				<div class="modal-footer border-top-grey-1">
					<div class="text-right">
						<button class="btn btn-default npr-popup-btn" type="button" (click)="resetPasswordFunction(userName,resetPwdFlag)">Ok</button>
						<button class="btn btn-default white-bg-grn-bdr" type="button" *ngIf="showcancel" (click)="closerestPopup('resetPassword')">Cancel</button>

					</div>
				</div>
			</div>
			<!-- Modal Content End -->
		</div>
	</div>
</div>

<!-- Carousal End here-->