<!-- <div class="mvp_bradcrumb">
    <div class="container">
        <div class="col-xs-12 breadcrumb product-breadcrumb">
            <a [routerLink]="['/customerselection']">
                <span class="bradcrumb-text">Home</span>
            </a>/
            <a [routerLink]="['/groups', customerName]">
                <span class="bradcrumb-text">Manage Groups</span>
            </a>/
            <a [routerLink]="['/groups', customerName, groupName, 'users']">
                <span class="bradcrumb-text">Manage User</span>
            </a>/
            <span class="bradcrumb-text bold">View History</span>
        </div>
    </div>
</div> -->
<div class="mmbborder" id="circle-box-border"></div>
<!-- <div id="stickyContainer">
    <div class="sticky hidden-xs border-top-grey-1" id="sticky1">
        <div class="container padd-10-0">
            <div class="row equal">
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 desktop-paddzero mobile-paddzero" id="setBorder">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8 padd0">
                    <main-navigation-menu></main-navigation-menu>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="hidden-xs padd-btm-50 bgcolor-grey padd-top-10 min-height600">
    <div class="container bgcolor-white border-top-grey-1 margintop25">
         <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <h4 class="dis-inlineblc">View Users History</h4>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
            </div>
        </div>
        <div class="row border-top-grey-1 padd-top-18">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="bg-gainsboro padd6 border-radius3 display-flex">
                    <div class="col-sm-10 col-md-10 col-lg-10">
                        <div>
                            <span class="font-bold">Group Name</span> {{groupName}}
                        </div>
                        <div>
                            <span class="font-bold">Group Description</span> {{groupDescription}}
                        </div>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2 text-right">
                        <div class="radio-item-green-red-grey dis-inlineblc" *ngIf="userData.groupStatus == 'active'">
                            <input type="radio" [checked]="userData.groupStatus == 'active'">
                            <label for="ritema{{i}}"></label>
                        </div>
                        <div class="radio-item-green-red-grey dis-inlineblc" *ngIf="userData.groupStatus != 'active'">
                            <input type="radio" [checked]="userData.groupStatus != 'active'">
                            <label for="ritema{{i}}" class="red-bg"></label>
                        </div>
                    </div>
                </div>



                <!--<div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="row">
                        <strong class="font-bold">Group Name</strong> {{groupName}}
                    </div>
                    <div class="row">
                        <strong class="font-bold">Group Description</strong> {{groupDescription}}
                    </div>    
                 </div>
                  <div class="col-sm-6 col-md-6 col-lg-6">
                      <div class="radio-item-green-red-grey dis-inlineblc disable opacity_1" *ngIf="userData.groupStatus == 'active'">
                            <input type="radio" name="isactive" id="isactive" [checked]="userData.groupStatus == 'active'">
                            <label for="isactive"></label>
                      </div>
                      <div class="radio-item-green-red-grey dis-inlineblc disable opacity_1" *ngIf="userData.groupStatus != 'active'">
                            <input type="radio" name="isactive" id="isactive" [checked]="userData.groupStatus != 'active'">
                            <label for="isactive" class="red-bg"></label>
                      </div>
                 </div>-->
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="bg-gainsboro padd6 border-radius3 display-flex">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div>
                            <span class="font-bold">User Name</span> {{userName}}
                        </div>
                        <div>
                            <span class="font-bold">User Description</span> {{userDescription}}
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div>
                            <span class="font-bold">Login Credentials</span> {{userLogon}}
                        </div>
                        <div>
                            <span class="font-bold">Administrator</span> {{userData.adminFlag?"Yes":"No"}}
                        </div>
                    </div>
                </div>



                <!--<div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="row">
                        <strong class="font-bold">User Name</strong> {{userData.userName}}
                    </div>
                    <div class="row">
                        <strong class="font-bold">User Description</strong> {{userData.userDescription}}
                    </div>    
                 </div>
                  <div class="col-sm-6 col-md-6 col-lg-6">
                     <div class="row">
                        <strong class="font-bold">Login Credentials</strong> {{userData.userLogon}}
                      </div>
                       <div class="row">
                          <strong class="font-bold">Administrator</strong> {{userData.adminFlag}}
                       </div> 
                 </div>-->
            </div>
        </div>
    </div>
    
    <div class="container bgcolor-white">
        <div class="row bgcolor-white"  *ngIf="noDataFound">
            <div class="col-xs-12 col-md-12 col-lg-12 ">
                <div class="error-message-container">
                    <div class="categories">
                        <div class="alert alert-info text-center error-message">
                            <strong>Sorry, No data found at this moment.
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row bgcolor-white">
            <div class="col-xs-12 col-md-12 col-lg-12" *ngIf="!noDataFound">
                <div class="table-responsive table-block margintop15 max-height350 tableContainer-role">
                <table class="table search-result-table table-hover popup-table-border table-striped td-pad-tb" *ngIf="userLoginHistoryLength == 0">
                <div class="col-xs-12 col-md-12 col-lg-12 ">
                <div class="error-message-container">
                    <div class="categories">
                        <div class="alert alert-info text-center error-message">
                            <strong>Sorry, No data found at this moment.
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
                </table>
                    <table class="table search-result-table table-hover popup-table-border table-striped td-pad-tb" *ngIf="userLoginHistoryLength != 0">
                        <thead class="bg-white">
                            <tr>
                                <th>Start Date & Time</th>
                                <th>End Date & Time</th>
                            </tr>
                        </thead>
                       <tbody id="tableBody">
                            <tr *ngFor="let item of userLoginHistory; let i=index">
                                <td>{{item.start}}</td>
                                <td>{{item.end}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-right padd-bottom-30">
                    <button class="btn btn-default npr-popup-btn" type="button" (click)="backClicked()">Close</button>
                </div>
            </div>
        </div>
    </div>
    
    
    <div *ngIf="showLoader" class="overlay-load">
        <div class="loader-box-shadow">
            <div class="load-img">
                <img src="{{whoImgUrl}}spinner.svg" class="loader-image" alt="Loader Image" />
                <div>
                    <h6>LOADING</h6>
                </div>
            </div>
        </div>
    </div>
</div>