<div id="stickyContainer">

    <!--Search Order section start here-->
    <div class="mmbborder" id="circle-box-border"></div>
    <!-- Only Show in Mobile View -->

    <!--Search order heading section start here-->
    <div class="sticky" id="sticky1">
        <div class="container">
            <div class="row mobile-marginzero search-order-row searchborder btm-bdr" id="search-box-border">
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 desktop-paddzero mobile-paddzero">
                    <div class="product-i">
                        <img src="{{imgName}}" class="img-responsive product-img-45 pull-left">
                        <h3 class="margin-zero product-title-top-0 font-bold font-size21 customerlogoForStore">{{customerName}}</h3>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 pull-right text-right desktop-paddzero edit-section">
                    <a [routerLink]="['edit']" [fragment]="maindetails" *ngIf="allowEdit">
                        <span class="edit-icon">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </span>
                        <span class="edit-text">Edit</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row desktop-marginzero">
        <div class="col-xs-12 desktop-paddzero fix-height">
            <h4 class="orders-heading">Store Details</h4>
        </div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-12" *ngIf="storedetailListLength == 0">
        <div class="error-message-container">
            <div class="categories">
                <div class="alert alert-info text-center error-message">
                    <strong>Sorry, No data available at this moment.
                    </strong>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-12 padding-zero" *ngIf="storedetailListLength != 0">
        <div class="grey-background">
            <div class="row margin-zero store-details-section">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 padding-right-zero search-section xspadding form-group">
                    <span class="bold">Store ID Prefix</span> : {{storeData?.stores[0]?.storeIdPrefix ? storeData?.stores[0]?.storeIdPrefix
                    : "-"}}
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4  padding-right-zero search-section xspadding form-group">
                    <span class="bold">Store Name</span> : {{storeData?.stores[0]?.storeName ? storeData?.stores[0]?.storeName
                    :"-"}}
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4  padding-right-zero search-section xspadding form-group">
                    <span class="bold">Created Date </span> {{formatDate(storeData?.stores[0]?.createdDate) ? formatDate(storeData?.stores[0]?.createdDate)
                    : "-"}}
                </div>
            </div>
            <div class="row margin-zero store-details-section">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4   padding-right-zero search-section xspadding form-group">
                    <span class="bold">Store ID</span> : {{storeData?.stores[0]?.storeId ? storeData?.stores[0]?.storeId
                    : "-"}}
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 padding-right-zero search-section xspadding form-group">
                    <span class="bold">Trading Name</span> : {{storeData?.stores[0]?.tradingName ? storeData?.stores[0]?.tradingName
                    : "-"}}
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4  padding-right-zero search-section xspadding form-group">
                    <span class="bold">Last modified date</span> : {{formatDate(storeData?.stores[0].audit.when) ? formatDate(storeData?.stores[0].audit.when)
                    : "-"}}
                </div>
            </div>
            <div class="row margin-zero store-details-section">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 padding-right-zero search-section xspadding form-group">
                    <span class="bold">Availability</span> : {{storeData?.stores[0]?.availability ? storeData?.stores[0]?.availability
                    : "-"}}
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 padding-right-zero search-section xspadding form-group">
                    <span class="bold">Description</span> : {{storeData?.stores[0]?.storeDescription ? storeData?.stores[0]?.storeDescription
                    :"-" }}
                </div>
                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-4 padding-right-zero search-section xspadding form-group">
                    <span class="bold">User ID</span> : {{storeData?.stores[0]?.audit.who ? storeData?.stores[0]?.audit.who
                    :"-"}}
                    <div class="text-right padrt10" *ngIf="!isAmazonCatelogType">
                        <button type="button" class="btn btn-default store-details-btn" data-toggle="modal" data-target="#viewChanges" (click)="getAllRevisionId(storeData?.stores[0]?.storeId)">View Changes</button>
                    </div>
                </div>
            </div>
            <div class="row margin-zero store-details-section" *ngIf="isAmazonCatelogType">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 padding-right-zero search-section xspadding form-group store-merchantId" *ngIf="isAmazonCatelogType" >
                    <div class="bold">MerchantID</div>                
                    <div class="word-newline padding-right">{{merchantID}}</div>
                   
                </div>     
                
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 padding-right-zero search-section xspadding form-group store-merchantId" *ngIf="merchantforStorePick" >
                    <div class="bold">Minimum Expected Inventory</div>                
                    <div class="word-newline padding-right">{{threshold}}</div>
                   
                </div>
                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-4 padding-right-zero search-section xspadding form-group">                   
                </div>
                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-4 padding-right-zero search-section xspadding form-group">                   
                    <div class="text-right padrt10">
                        <button type="button" class="btn btn-default store-details-btn" data-toggle="modal" data-target="#viewChanges" (click)="getAllRevisionId(storeData?.stores[0]?.storeId)">View Changes</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="row bgcolor-white margin-zero" id="repricingContainer">
            <div id="exTab2" class="margin-top10">
                <ul class="nav nav-tabs nav-tabs-top-border">
                    <li [ngClass]="selectedTab == 'maindetails' ? 'active' : '' ">
                        <a href="#maindetails" data-toggle="tab" (click)="selectTab('maindetails')">
                            Main Details
                        </a>
                    </li>
                    <li [ngClass]="selectedTab == 'address' ? 'active' : '' ">
                        <a href="#address" data-toggle="tab" (click)="selectTab('address')">
                            Address
                        </a>
                    </li>

                  <ng-container *ngIf = "!merchantforStorePick">
                    <li [ngClass]="selectedTab == 'SupplyingDepot' ? 'active' : '' ">
                        <a href="#SupplyingDepot" data-toggle="tab" (click)="selectTab('SupplyingDepot')">
                            Supplying Depot
                        </a>
                    </li>

                    <li [ngClass]="selectedTab == 'DELIVERYOPPORTUNITIES' ? 'active' : '' ">
                        <a href="#DELIVERYOPPORTUNITIES" data-toggle="tab" (click)="selectTab('DELIVERYOPPORTUNITIES')">
                            Delivery Opportunities
                        </a>
                    </li>
                </ng-container>
                <ng-container *ngIf= "merchantforStorePick">
                    <li [ngClass]="selectedTab == 'MerchantID' ? 'active' : '' ">
                        <a href="#MerchantID" data-toggle="tab" (click)="selectTab('MerchantID')">
                            MarketPlaces
                        </a>
                    </li>
                </ng-container>    
                </ul>
                <!-- Tab HTML ends here -->

                <!-- Table data HTML starts here -->
                <div class="tab-content grey-background">
                    <div class="tab-pane" id="maindetails" [ngClass]="selectedTab == 'maindetails' ? 'active' : '' ">
                        <div class="table-responsive table-block margintop20  pos-inherit maindetails-tab-section">
                            <div class="row margin-zero">
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 padding-right-zero search-section xspadding form-group">
                                    <div class="bold">Area Code</div>
                                    <div>{{storeData?.stores[0]?.areaCode ? storeData?.stores[0]?.areaCode : "-"}}</div>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 padding-right-zero search-section xspadding form-group">
                                    <div class="bold">Region Code</div>
                                    <div>{{storeData?.stores[0]?.regionCode ? storeData?.stores[0]?.regionCode : "-"}}</div>
                                </div>
                                
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 padding-right-zero search-section xspadding form-group" *ngIf="customerName.toLowerCase() != 'amazon'">
                                    <div class="bold">Allocation Priority</div>
                                    <div>{{storeData?.stores[0]?.allocationPriority ? storeData?.stores[0]?.allocationPriority
                                        : "-"}}</div>
                                </div>
                            </div>
                            <div class="row margin-zero">
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 padding-right-zero search-section xspadding form-group">
                                    <div class="bold">Area Manager</div>
                                    <div>{{storeData?.stores[0]?.areaManager ? storeData?.stores[0]?.areaManager : "-"}}</div>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 padding-right-zero search-section xspadding form-group">
                                    <div class="bold">Region Manager</div>
                                    <div>{{storeData?.stores[0]?.regionManager}}</div>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 padding-right-zero search-section xspadding form-group">
                                    <div class="bold">Status</div>
                                    <div>{{storeData?.stores[0]?.status ? storeData?.stores[0]?.status : "-"}}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="address" [ngClass]="selectedTab == 'address' ? 'active' : '' ">
                        <div class="table-responsive table-block margintop20  pos-inherit address-tab-section">
                            <div class="row margin-top10">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-right-zero">
                                    <div class="bold">Address Name</div>
                                    <div>{{storeData?.stores[0]?.addressName ? storeData?.stores[0]?.addressName : "-"}}</div>
                                </div>

                            </div>

                            <div class="row margin-zero addr-box ">
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-right-zero">
                                    <div class="bold">Address Line 1</div>
                                    <div>{{storeData?.stores[0]?.addressLine1 ? storeData?.stores[0]?.addressLine1 : "-"}}</div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-left10 padding-right-zero">
                                    <div class="bold">Address Line 2</div>
                                    <div>{{storeData?.stores[0]?.addressLine2 ? storeData?.stores[0]?.addressLine2 : "-"}} </div>
                                </div>
                            </div>

                            <div class="row margin-zero addr-city-section">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group padding-left-zero ">
                                    <div class="row margin-zero">
                                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 padding-right-zero">
                                            <div class="bold">City</div>
                                            <div>{{storeData?.stores[0]?.addressCity ? storeData?.stores[0]?.addressCity :"-"}}</div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 padding-right-zero">
                                            <div class="bold">County</div>
                                            <div>{{storeData?.stores[0]?.addressCounty ? storeData?.stores[0]?.addressCounty :
                                                "-"}}
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 padding-right-zero">
                                            <div class="bold">Country</div>
                                            <div>{{storeData?.stores[0]?.addressCountry ? storeData?.stores[0]?.addressCountry
                                                :"-"}}
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 padding-right-zero">
                                            <div class="bold">PostCode</div>
                                            <div>{{storeData?.stores[0]?.addressPostcode ? storeData?.stores[0]?.addressPostcode:"-"}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row margin-zero store-contact-section">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-left-zero">
                                    <div class="row margin-zero">
                                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                            <div class="bold">Contact Email</div>
                                            <div>{{storeData?.stores[0]?.contactEmail ? storeData?.stores[0]?.contactEmail :"-"}}</div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                            <div class="bold">Contact FAX</div>
                                            <div>{{storeData?.stores[0]?.contactFax ? storeData?.stores[0]?.contactFax :"-"}}</div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                            <div class="bold">Contact Phone</div>
                                            <div>{{storeData?.stores[0]?.contactPhone ? storeData?.stores[0]?.contactPhone :"-"}}</div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" *ngIf="customerName.toLowerCase() == 'sandpiper'">
                                            <div class="bold">Port</div>
                                            <div>{{storeData?.stores[0]?.port ? storeData?.stores[0]?.port :"-"}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="SupplyingDepot" *ngIf="supplyingDepotName != ''" [ngClass]="selectedTab == 'SupplyingDepot' ? 'active' : '' ">
                        <div class="table-responsive table-block margintop20  pos-inherit">
                            <div class="row margin-zero">
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 padding-right-zero search-section xspadding form-group">
                                    <span class="bold">Supplying Depot </span> : {{supplyingDepotName != ''?supplyingDepotName:"-"}}
                                </div>
                            </div>
                            <div class="row margin-zero" *ngIf="customerName.toLowerCase() != 'amazon'">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="storeData?.stores[0]?.categories !=''">
                                    <table class="custom-borderd-table table table-bordered table-striped search-result-table text-nowrap viewchanges-table">
                                        <thead class="head-color">
                                            <tr>
                                                <th>Product Category</th>
                                                 <th>Mainframe Store ID</th>
                                                <th>RMS Selling Store ID</th>
                                                <th> RMS Warehouse ID</th>
                                              </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let category of this.storeData.stores[0].categories ;let i=index;">
                                                <td>{{category.name? category.name:"-"}}</td>
                                                <td>{{category.deliveryOpportunities[0].transitInformation.supplyingDepotLocation
                                                    ? category.deliveryOpportunities[0].transitInformation.supplyingDepotLocation:"-"}}
                                                    </td>
                                                <td>{{category.deliveryOpportunities[0].transitInformation.virtualSellingLocation
                                                    ? category.deliveryOpportunities[0].transitInformation.virtualSellingLocation:"-"}}</td>
                                                <td>{{category.deliveryOpportunities[0].transitInformation.supplyingShippingLocation
                                                    ? category.deliveryOpportunities[0].transitInformation.supplyingShippingLocation:"-"}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="row margin-zero " *ngIf="customerName.toLowerCase() == 'amazon'">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="storeData?.stores[0]?.categories !=''">
                                    <table class="custom-borderd-table table table-bordered table-striped search-result-table text-nowrap viewchanges-table viewchanges-amazon">
                                        <thead class="head-color">
                                            <tr>
                                                <th>Product Category</th>
                                                <th>RMS Selling Store ID</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let category of this.storeData.stores[0].categories ;let i=index;">
                                                <td>{{category.name? category.name:"-"}}</td>
                                                <td>{{category.deliveryOpportunities[0].transitInformation.virtualSellingLocation
                                                    ? category.deliveryOpportunities[0].transitInformation.virtualSellingLocation:"-"}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row margin-zero" *ngIf="storeData?.stores[0]?.categories ==0">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="error-message-container">
                                        <div class="categories">
                                            <div class="alert alert-info text-center error-message">
                                                <strong>Sorry, no data available at this moment for selected depot.
                                                    </strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="SupplyingDepot" *ngIf="supplyingDepotName == ''" [ngClass]="selectedTab == 'SupplyingDepot' ? 'active' : '' ">
                        <div class="table-responsive table-block margintop20  pos-inherit">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="error-message-container">
                                    <div class="categories">
                                        <div class="alert alert-info text-center error-message">
                                            <strong>Sorry, no data available at this moment for selected Store.
                                            </strong>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="tab-pane" id="DELIVERYOPPORTUNITIES" [ngClass]="selectedTab == 'DELIVERYOPPORTUNITIES' ? 'active' : '' ">
                        <div class="table-responsive table-block margintop20  pos-inherit">
                            <div class="col-xs-12">
                                <h4 class="orders-heading">Current Opportunity</h4>
                            </div>
                            <div class="row margin-zero">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <table class="custom-borderd-table table table-bordered table-striped table-hover search-result-table text-nowrap viewchanges-table current-opp-table marginzero">
                                        <thead class="head-color">
                                            <tr>
                                                <th>Product Category</th>
                                                <th>Delivery Days</th>
                                                <th>Mon</th>
                                                <th>Tue</th>
                                                <th>Wed</th>
                                                <th>Thu</th>
                                                <th>Fri</th>
                                                <th>Sat</th>
                                                <th>Sun</th>
                                                <th>Total Delivery Days</th>
                                                <th>Effective Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let category of storeData?.stores[0]?.categories;let i=index;" (click)="populateHistoricalFutureDO(category.name);"
                                                [ngClass]="{'bgSelected': historicalCategory==category.name}">
                                                <td>{{category.name}}</td>
                                                <td>{{category.deliveryOpportunities[0].value}}</td>
                                                <td>{{category.deliveryOpportunities[0].value.slice(0,1)}}</td>
                                                <td>{{category.deliveryOpportunities[0].value.slice(1,2)}}</td>
                                                <td>{{category.deliveryOpportunities[0].value.slice(2,3)}}</td>
                                                <td>{{category.deliveryOpportunities[0].value.slice(3,4)}}</td>
                                                <td>{{category.deliveryOpportunities[0].value.slice(4,5)}}</td>
                                                <td>{{category.deliveryOpportunities[0].value.slice(5,6)}}</td>
                                                <td>{{category.deliveryOpportunities[0].value.slice(6,7)}}</td>
                                                <td>{{category.deliveryOpportunities[0].value.split("Y").length - 1}}</td>
                                                <td>{{_cfunction.dateFormator(category.deliveryOpportunities[0].effectiveDate,1)}}</td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <h4 class="orders-heading">Changes - Historical and Future</h4>
                            </div>

                            <div class="row margin-zero">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <table class="custom-borderd-table table table-bordered table-striped search-result-table text-nowrap viewchanges-table changes-table">
                                        <thead class="head-color">
                                            <tr>
                                                <th>Product Category</th>
                                                <th>Delivery Days</th>
                                                <th>Mon</th>
                                                <th>Tue</th>
                                                <th>Wed</th>
                                                <th>Thu</th>
                                                <th>Fri</th>
                                                <th>Sat</th>
                                                <th>Sun</th>
                                                <th>Total Delivery Days</th>
                                                <!-- <th>Owner</th> -->
                                                <th>Effective Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let category of deliveryOpportunityArray; let i=index;">
                                                <td>{{historicalCategory}}</td>
                                                <td *ngIf="category.value != ''">{{category.value}}</td>
                                                <td *ngIf="category.value == ''">-</td>
                                                <td>{{category.value.slice(0,1)}}</td>
                                                <td>{{category.value.slice(1,2)}}</td>
                                                <td>{{category.value.slice(2,3)}}</td>
                                                <td>{{category.value.slice(3,4)}}</td>
                                                <td>{{category.value.slice(4,5)}}</td>
                                                <td>{{category.value.slice(5,6)}}</td>
                                                <td>{{category.value.slice(6,7)}}</td>
                                                <td>{{category.value.split("Y").length - 1}}</td>
                                                <!-- <td>john.doe@abc.com</td> -->
                                                <td>{{_cfunction.dateFormator(category.effectiveDate,1)}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                        <div class="tab-pane" id="MerchantID" [ngClass]="selectedTab == 'MerchantID' ? 'active' : '' ">
                                <div class="table table-block margintop20  pos-inherit">
                                        <table class="custom-borderd-table table table-bordered table-striped  text-nowrap viewchanges-table current-opp-table marginzero">
                                            <thead class="head-color">
                                                    <tr>
                                                            <th>MarketPlace Name</th>
                                                            <th>MarketPlace Id</th>
                                                            <th>RMS Selling Location</th>
                                                            <th>Inventory Applicable</th>
                                                            <th>Price Applicable</th>
                                                            <th>Settlement Report Applicable</th>
                                            </thead>
                                            <tbody>
                                               
                                                <ng-container  *ngFor='let storedata of storeDataList;let i=index'>
                                              
                                                         <tr *ngFor="let item of storedata.merchants;let i=index">                                      
                                                               
                                                                           <td>{{item.merchantName ? item.merchantName : "-"}}</td>    
                                                                           <td>{{item.marketplaceId ? item.marketplaceId : "-"}}</td> 
                                                                           <td>{{item.transitInformation.virtualSellingLocation? item.transitInformation.virtualSellingLocation : "-"}}</td> 
                                                                           <ng-container *ngIf='item.inventoryApplicable'>
                                                                                <td>Y</td>
                                                                           </ng-container>    
                                                                           <ng-container *ngIf='!item.inventoryApplicable'  >
                                                                                <td>N</td>
                                                                           </ng-container>                                                             
                                                                          
                                                                           <ng-container *ngIf='item.priceUpdateApplicable'>
                                                                                <td>Y</td>
                                                                           </ng-container>    
                                                                           <ng-container *ngIf='!item.priceUpdateApplicable'  >
                                                                                <td>N</td>
                                                                           </ng-container>
                                                                           
                                                                           <ng-container *ngIf='item.settlementReportApplicable'>
                                                                                <td>Y</td>
                                                                           </ng-container>    
                                                                           <ng-container *ngIf='!item.settlementReportApplicable'  >
                                                                                <td>N</td>
                                                                           </ng-container>                                                                                                                                        
                                                              
                                                            </tr>
                                                            <!-- <tr *ngIf= 'storedata?.merchants.length == 0'>
                                                                <td colspan="5">Market place data not available</td>
                                                            </tr> -->
                                                            
                                                </ng-container>
                                            
                                            </tbody>
                                        </table>
                                </div>
                        </div>
                    
                </div>
                <!-- Table data HTML ends here -->
            </div>
        </div>
    </div>
</div>
<div *ngIf="showLoader" class="overlay-load">
    <div class="loader-box-shadow">
        <div class="load-img">
            <img src="{{whoImgUrl}}spinner.svg" class="loader-image" alt="Loader Image" />
            <div>
                <h6>LOADING</h6>
            </div>
        </div>
    </div>
</div>

<!-- view changes popup html starts here -->
<div class="modal fade custom-model zindex999999 view-changes-popup" id="viewChanges" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content start-->
        <div class="modal-content mdl-content">
            <div class="">
                <button type="button" class="close table-close top16" data-dismiss="modal"> &#10006;</button>
            </div>
            <div class="modal-body ">
                <div class="version-popup">
                    <table class=" custom-borderd-table table table-bordered table-striped search-result-table text-nowrap viewchanges-table">
                        <thead class="head-color">
                            <tr>
                                <!--<th>Status</th>-->
                                <th>Effective Date</th>
                                <th>Version</th>
                                <!--<th>User ID</th>-->
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let storeRevision of storeRevisionData; let i=index;" class="cursor-pointer" data-dismiss="modal" (click)="populateSpecificVersionStore(storeRevision.revisionId, storeData?.stores[0]?.storeId , i)">
                                <!--<td>Current</td>-->
                                <td>{{_cfunction.dateFormator(storeRevision.createdDate, 1)}}</td>
                                 <td>{{storeRevision.revisionId}}</td>
                                <!--<td>{{userName}}</td>-->
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="pull-right">
               
                    <button type="button" class="btn btn-default store-details-btn" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
        <!-- Modal Content End -->
    </div>
</div>
<!-- view changes popup html ends here -->

<div class="modal fade custom-model zindex999999" id="errormodal" role="dialog">
    <div class="modal-dialog top75 width314">
        <div class="modal-content">
            <div class="border-top-bottom-popup">
                <h5 class="padd-left-right-10">View Store
                    <button type="button" id="close-popup" class="close close-icon" data-dismiss="modal" (click)="closePopup('errormodal')">&#10006;</button>
                </h5>
            </div>
            <div class="modal-body">
                <div class="new-batch-num-popup">
                    <div>Delivery opportunity for this store is in future.Details can be viewed only when date arrives.</div>
                </div>
            </div>
        </div>
    </div>
</div>