<div id="stickyContainer">
    <!--Search order heading section start here-->
    <div class="sticky hidden-xs border-top-grey-1" id="sticky1"> 
        <div class="container padd-10-0">
            <div class="row equal">
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 desktop-paddzero searchborder mobile-paddzero" id="setBorder">
                    <div class="product-i" *ngIf="showLogo">
                        <img src="{{imgName}}" class="img-responsive product-img-45 pull-left">
                        <h3 class="margin-zero product-title-top-0 font-bold font-size21">{{customerName}}</h3>
                        <a [class.hidden]="disabledCusChange ? true : null" (click)="toggleOrganisation()" class="Product-title-anchor">Change Customer<span class="search-arrow-product"><i id="changeIcon" class="glyphicon glyphicon-menu-down small-arrow-up"></i></span></a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" *ngIf="(showPendingReq && donotshow) && !siteMaintanceFlg">
                    <div *ngIf="showPendingReq && donotshow">
                        <div class="padd15 text-center">
                            <h3 class="margin-zero font-size21 text-grey">Pending Review Statistics Block</h3>
                        </div>
                        <!--<h3 class="marginzero font-bold font-size21 black">PENDING REVIEWS</h3>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 paddzero">
                            <p class="pending-review">Data Team
                                <span class="yellow padd-left-right-10 text-bold">{{dataTeamPendingRequests}}</span>
                            </p>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 paddzero comm-left-margin">
                            <p class="pending-review">Commercial
                                <span class="yellow padd-left-right-10 text-bold">{{commercialPendingRequests}}</span>
                            </p>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 paddzero supply-left-margin">
                            <p class="pending-review">Supply Chain
                                <span class="yellow padd-left-right-10 text-bold">{{supplyChainPendingRequests}}</span>
                            </p>
                        </div>-->
                    </div>
                </div>
                <div class="{{showPendingReq && donotshow ? 'col-xs-12 col-sm-5 col-md-5 col-lg-5' : 'col-xs-12 col-sm-9 col-md-9 col-lg-9'}} padd0">
                    <main-navigation-menu  #navIcons></main-navigation-menu>
                </div>
            </div>
        </div>

        <div *ngIf="showLoader" class="overlay-load">
            <div class="loader-box-shadow">
                <div class="load-img">
                    <img src="{{whoImgUrl}}spinner.svg" class="loader-image" alt="Loader Image" />
                    <div>
                        <h6>LOADING</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row desktop-marginzero" [hidden]="hideOrganisation">
                <div class="advanced-search-page text-center">
                    <ul class="product-circle">
                        <li *ngFor="let organisation of organisationListChange;let i=index" [class.hidden]="organisation.customerName=='All_Wholesale_Customers' || organisation.customerName =='kens'" (click)="changeOrgType(organisation.customerName); navIcons.reloadNavigation(organisation.orgType);" >
                            <a>
                                <img src="{{getCustomerImage(organisation.customerName)}}" class="img-responsive" alt="{{organisation.customerName}}" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Search order heading section end here-->
<div class="bgcolor-grey hidden-xs padd-top-18 padd-btm-10" *ngIf="!showPendingReq">
    <div class="container paddzero">
        <div class="row margin-0-0 border-top-green">
            <div class="col-sm-12 col-md-12 col-lg-12 bgcolor-white">
                <div class="padd30 text-center">
                    <h3 class="margin-zero font-size21 text-grey">Pending Review Statistics Block</h3>
                </div>
            </div>
            <!--<div class="col-sm-3 col-md-3 col-lg-3 min-height85 max-height85 bgcolor-white padd-left-0">
                <div class="background-green-color min-height85">
                    <p class="pending-review-text">Pending Reviews</p>
                </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 bgcolor-white min-height85 cursor-pointer " (click)="redirect_review('/datareview', customerName)">
                <p class="yellow text-center margon-tb-5-10 font-size36px bold">{{dataTeamPendingRequests}}</p>
                <p class="black text-center">DATA TEAM</p>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 bgcolor-white min-height85 cursor-pointer" (click)="redirect_review('/commercialreview', customerName)">
                <p class="yellow text-center margon-tb-5-10 font-size36px bold">{{commercialPendingRequests}}</p>
                <p class="black text-center">COMMERCIAL</p>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 bgcolor-white min-height85 cursor-pointer" (click)="redirect_review('/supplychainreview', customerName)">
                <p class="yellow text-center margon-tb-5-10 font-size36px bold">{{supplyChainPendingRequests}}</p>
                <p class="black text-center">SUPPLY CHAIN</p>
            </div>-->
        </div>
    </div>
</div>
