<div class="mvp_bradcrumb">
    <div class="container">
        <div class="col-xs-12 breadcrumb product-breadcrumb">
            <a [routerLink]="['/customerselection']">
                <span class="bradcrumb-text">Home</span>
            </a>/
            <a [routerLink]="['/groups', orgType]">
                <span class="bradcrumb-text">Manage Groups</span>
            </a>/
            <a [routerLink]="['/groups', orgType, groupName,'roles']">
                <span class="bradcrumb-text">Manage Roles</span>
            </a>/
             <a [routerLink]="['/groups', orgType, groupName,'roles', rolename,'customers']">
                <span class="bradcrumb-text">Manage Customers</span>
            </a>/
            <span class="bradcrumb-text bold">Manage Permissions</span>
        </div>
    </div>
</div>
<div class="mmbborder" id="circle-box-border"></div>
<div id="stickyContainer">
    <div class="sticky hidden-xs border-top-grey-1" id="sticky1">
        <div class="container padd-10-0">
            <div class="row equal">
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 desktop-paddzero mobile-paddzero" id="setBorder">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8 padd0">
                    <main-navigation-menu></main-navigation-menu>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="hidden-xs padd-btm-50 bgcolor-grey padd-top-10 min-height600">
    <div class="container bgcolor-white border-top-bottom margintop25">
        <div class="row" *ngIf="manageRolePermissionListLength != 0">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <h4 class="dis-inlineblc">Manage Role Permissions</h4>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 ">
            </div>
        </div>
        <div class="row border-top-grey-1 padd-top-18"  *ngIf="manageRolePermissionListLength != 0">
            <div class="col-sm-4 col-md-4 col-lg-4 user-group-discription-manage-permision">
                <div class="col-sm-9 col-md-9 col-lg-9">
                    <div class="row">
                        <strong class="font-bold">Group Name</strong> {{groupName}}
                    </div>
                    <div class="row">
                        <strong class="font-bold">Group Description</strong> {{groupDescription}}
                    </div>    
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="radio-item-green-red-grey dis-inlineblc disable opacity_1" *ngIf="groupStatus == 'active'">
                        <input type="radio" name="isactiveG" id="isactiveG" [checked]="groupStatus == 'active'">
                            <label for="isactiveG"></label>
                    </div>
                    <div class="radio-item-green-red-grey dis-inlineblc disable opacity_1" *ngIf="groupStatus != 'active'">
                        <input type="radio" name="isactiveG" id="isactiveG" [checked]="groupStatus != 'active'">
                            <label for="isactiveG"  class="red-bg"></label>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4  user-group-discription-manage-permision">
                <div class="col-sm-9 col-md-9 col-lg-9">
                    <div class="row">
                        <strong class="font-bold">Role Name</strong> {{rolename}}
                    </div>
                    <div class="row">
                        <strong class="font-bold">Role Description</strong> {{roleDescription}}
                    </div>    
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="radio-item-green-red-grey dis-inlineblc disable opacity_1" *ngIf="roleStatus == 'active'">
                        <input type="radio" name="isactiveR" id="isactiveR" [checked]="roleStatus == 'active'">
                            <label for="isactiveR"></label>
                    </div>
                    <div class="radio-item-green-red-grey dis-inlineblc disable opacity_1" *ngIf="roleStatus != 'active'">
                        <input type="radio" name="isactiveR" id="isactiveR" [checked]="roleStatus != 'active'">
                            <label for="isactiveR"  class="red-bg"></label>
                    </div>
                </div>
            </div>
               <div class="col-sm-4 col-md-4 col-lg-4  user-group-discription-manage-permision">
                <div class="col-sm-9 col-md-9 col-lg-9">
                    <div class="row">
                        <strong class="font-bold">Customer Name</strong> {{customerName}}
                    </div>
                    <div class="row">
                        <strong class="font-bold"></strong> 
                    </div>    
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="radio-item-green-red-grey dis-inlineblc disable opacity_1" *ngIf="manageRoleJSON.status == 'active'">
                        <input type="radio" name="isactive" id="isactive" [checked]="manageRoleJSON.status == 'active'">
                            <label for="isactive"></label>
                    </div>
                    <div class="radio-item-green-red-grey dis-inlineblc disable opacity_1" *ngIf="manageRoleJSON.status != 'active'">
                        <input type="radio" name="isactive" id="isactive" [checked]="manageRoleJSON.status != 'active'">
                            <label for="isactive"  class="red-bg"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container bgcolor-white">
        <div class="row bgcolor-white" >
            <div class="col-xs-12 col-md-12 col-lg-12 " *ngIf="manageRolePermissionListLength == 0">
                <div class="error-message-container">
                    <div class="categories">
                        <div class="alert alert-info text-center error-message">
                            <strong>{{errTxt}}
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-12 col-lg-12" *ngIf="manageRolePermissionListLength != 0">
                 <form role="form" #saverolepermission ="ngForm" name="saverolepermission" class="" (submit)="saveManageRolePermission()">
                        <div class="table-responsive table-block margintop15 tableContainer-groups header-fixed">
                        <table class="table search-result-table table-hover popup-table-border table-striped td-pad-tb header-fixed">
                            <thead class="bg-white">
                                <tr>
                                    <th class="width20"><div>Permissions Group</div></th>
                                    <th class="width60"><div>Permissions</div></th>
                                    <th class="text-center"><div>Granted</div></th>
                                </tr>
                            </thead>
                            <tbody id="tableBody" *ngIf="manageRolePermissionListLength != 0">
                                <tr class="cursor-pointer" *ngFor="let item of finalmanageRolePermissionArrayForPlotting; let i=index">
                                    <td class="width20">{{item.permGroup}}</td>
                                    <td class="width60">{{item.permName}}</td>
                                    <td class="text-center">
                                        <div class="radio-item-green-red-grey dis-inlineblc">
                                            <input type="radio" id="ritema{{i}}" name="ritem{{i}}" [checked]="item.status == 'active'" (click)="setStatus(i,'active', item.orgStatus)">
                                            <label for="ritema{{i}}"></label>
                                        </div>
                                        <div class="radio-item-green-red-grey dis-inlineblc">
                                            <input type="radio" id="ritemb{{i}}" name="ritem{{i}}" [checked]="item.status != 'active'" (click)="setStatus(i,'inactive', item.orgStatus)">
                                            <label for="ritemb{{i}}" class="red-bg"></label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-right padd-bottom-30">
                        <button class="btn btn-default npr-popup-btn" (click)="resetCustomers()" type="button">Cancel</button>
                        <button class="btn btn-default npr-popup-btn" type="submit" [class.disable]="!statusChanged">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
  
</div>
  <div class="modal fade custom-model zindex999999" id="messageModal" role="dialog">
        <div class="modal-dialog top75 width314">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="border-top-bottom-popup">
                    <h5 class="padd-left-right-10">Manage Group
                        <button type="button" id="close-popup" class="close close-icon" data-dismiss="modal" (click)="closePopup()">&#10006;</button>
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="new-batch-num-popup">
                        <span>{{popupMsg}}</span>
                    </div>
                </div>
            </div>
            <!-- Modal Content End -->
        </div>
    </div>
