<!--Search Order section start here-->
<!-- Breadcrumb start here-->
<div class="mvp_bradcrumb">
    <div class="container">
        <div class="col-xs-12 breadcrumb product-breadcrumb">
            <a [routerLink]="['/customerselection']">
                <span class="bradcrumb-text">Home</span>
            </a>/
            <a [routerLink]="['/cataloguemanagement', customerName]">
                <span class="bradcrumb-text">Catalogue Management</span>
            </a>/
            <span class="bradcrumb-text">Catalogue Upload</span>

        </div>

    </div>

</div>


<!--Search Order section start here-->
<div class="mmbborder" id="circle-box-border"></div>
<!-- Only Show in Mobile View -->

<catalogue-management-pending-request-header></catalogue-management-pending-request-header>


<!--Search order heading section end here-->
<div class="hidden-xs bgcolor-grey padd-top-10 min-height600">
    <div class="container bgcolor-white border-top-bottom margintop25">
        <h4 class="pad-lft-right-15">Catalogue Upload - {{selectedFileType}}</h4>
        <p class="search-criteria-text-catalogue" [hidden]="!btndisable">You can not upload Range catalogue between 7:45 PM to 12:30 AM</p>
    </div>
    <div class="container bgcolor-white">
        <div class="pad-lft-right-15">
            <div class="row search-order-div bgcolor-white" *ngIf="!disablecatalogueBulkUploadSubmit">
                <div class="col-xs-12 xspadding">
                    <!--<form (ngSubmit)="upload()" >
                        <input name="file" type="file" (change)="onChange($event)" />
                        <input type="submit" value="upload" />
                    </form>-->
                    <form id="fullRangeUploadFrm">
                        <ng2-file-input [id]="myFileInputIdentifier" (onAdded)="onAdded($event)" [multiple]=false [show-previews]=true [removable]=true
                            (OnRemoved)="onRemoved($event)" [drop-text]="'Drag and drop to upload or'" [browse-text]="'browse for files'"></ng2-file-input>
                        <div class="text-center padtop-15">
                            <button type="button" (click)="upload(uploadedFileName)" [class.disable]="btndisable" [disabled]="btndisable" class="btn btn-default prdt-save-btn">Submit</button>
                        </div>
                    </form>
                </div>
                <!-- Modal -->
                <div class="modal fade custom-model zindex999999" role="dialog" [hidden]="fullRangeUploadMsgBox" id="fullRangeUploadBox">
                    <div class="modal-dialog top125 wdt315">
                        <!-- Modal content-->
                        <div class="modal-content padd-btm-50">
                            <div class="border-top-bottom-popup">
                                <h5 class="pad-lft-right-15">{{MsgTitle}}
                                    <button type="button" class="close-icon" (click)="resetOnClose(fileuploadStatus)">&#10006;</button>
                                </h5>
                            </div>
                            <div class="modal-body pad-lft-right-15 margintop15">
                                <div>
                                    <p>{{fullRangeUploadMsgBoxMsg}}</p>
                                </div>
                            </div>
                            
                            <div class="modal-body pad-lft-right-15 margintop15">
                                <div>
                                    <button type="button" (click)="redirect_toList(fileuploadStatus)" class="btn btn-default npr-popup-btn mar-bottom-1 dis-inlineblc">Ok</button>
                                </div>
                            </div>
                        </div>
                        <!-- Modal Content End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- loader section start-->
    <div *ngIf="showLoader" class="overlay-load">
        <div class="loader-box-shadow">
            <div class="load-img">
                <img src="{{whoImgUrl}}spinner.svg" class="loader-image" alt="Loader Image" />
                <div>
                    <h6>LOADING</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hidden-sm hidden-md hidden-lg">
    <div class="row pad-lft-right-15 padd-top-11">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <div class="error-message-container">
                <div class="categories">
                    <div class="alert alert-info text-center error-message">
                        <strong>Sorry, Upload Catalogue is available only on desktop view.
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade custom-model zindex9999991" id="popup_SessionExpired" role="dialog">
        <div class="modal-dialog top75 width314">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="border-top-bottom-popup">
                    <h5 class="padd-left-right-10">Session terminated                       
                         <button type="button" id="close-popup" class="close close-icon" data-dismiss="modal" (click)="closePopup()">&#10006;</button>
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="new-batch-num-popup">
                        <!-- <span>{{msgJSON.message}}</span> -->
                        <span>Session has been terminated --- please log in again.</span>
                    </div>
                </div>
                <div class="modal-footer border-top-grey-1">
                    <div class="text-right">
                        <button class="btn btn-default npr-popup-btn" type="button" (click)="closePopup()">OK</button>
                    </div>
                </div>
            </div>
            <!-- Modal Content End -->
        </div>
    </div>