<!--Search Order section start here-->
<!-- Breadcrumb start here-->
<div class="mvp_bradcrumb">
    <div class="container">
        <div class="col-xs-12 breadcrumb product-breadcrumb">
            <a [routerLink]="['/customerselection']">
                <span class="bradcrumb-text">Home</span>
            </a>/
            <a [routerLink]="['/cataloguemanagement', customerName]">
                <span class="bradcrumb-text">Catalogue Management</span>
            </a>/
            <a [routerLink]="['/cataloguemanagement', customerName,'npr','manage']">
                <span class="bradcrumb-text">Manage New Product Requests</span>
            </a>/
            <span class="bradcrumb-text bold">Commercial Team Review</span>
        </div>
    </div>
</div>

<!--Search Order section start here-->
<div class="mmbborder" id="circle-box-border"></div>
<!-- Only Show in Mobile View -->

<catalogue-management-pending-request-header></catalogue-management-pending-request-header>

<!--Search order heading section end here-->
<div class="hidden-xs padd-btm-50 bgcolor-grey padd-top-10 min-height600">
    <div class="container bgcolor-white border-top-bottom margintop25">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <h4 class="dis-inlineblc">Lines From Selected Batches Requiring Commercial Team Review</h4>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 ">
                <div class="pull-right padd-top-10 text-right">
                    <span class="padd-left10 cursor-pointer" (click)="printOrder()">
                        <img src="{{whoImgUrl}}IconPrint.svg" class="img-responsive dis-inlineblc img-width padd-right5">Print</span>
                    <span class="padd-left10 padd-right20 cursor-pointer" (click)="exportData()">
                        <img src="{{whoImgUrl}}IconDownload.svg" class="img-responsive dis-inlineblc img-width padd-right5">Download</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container bgcolor-white" id="commercialContainer">

        <div class="pad-lft-right-15">
            <div class="row bgcolor-white">

                <div id="exTab2" class="margin-top30">

                    <ul class="nav nav-tabs nav-tabs-top-border">
                        <li class="active">
                            <a href="#Summary" data-toggle="tab">Summary
                                <sup class="padd-left5" *ngIf="errorSummary.commerecialTeamSummaryError > 0">
                                    <span class="badge badge-danger">{{errorSummary.commerecialTeamSummaryError}}</span>
                                </sup>
                            </a>
                        </li>
                        <li>
                            <a href="#RRPnett" data-toggle="tab">RRP nett
                                <sup class="padd-left5" *ngIf="errorSummary.commerecialTeamRrpNetError > 0">
                                    <span class="badge badge-danger">{{errorSummary.commerecialTeamRrpNetError}}</span>
                                </sup>
                            </a>
                        </li>
                        <li>
                            <a href="#TotalCost" data-toggle="tab">Total Cost
                                <sup class="padd-left5" *ngIf="errorSummary.commerecialTeamTotalCostError > 0">
                                    <span class="badge badge-danger">{{errorSummary.commerecialTeamTotalCostError}}</span>
                                </sup>
                            </a>
                        </li>
                        <li>
                            <a href="#MUC" data-toggle="tab">Morrisons Unit Cost
                                <sup class="padd-left5" *ngIf="errorSummary.commerecialTeamMorrisonsUnitCostError > 0">
                                    <span class="badge badge-danger">{{errorSummary.commerecialTeamMorrisonsUnitCostError}}</span>
                                </sup>
                            </a>
                        </li>
                        <li>
                            <a href="#StandardMarkup" data-toggle="tab">@ Standard 12% Markup
                                <sup class="padd-left5" *ngIf="errorSummary.commerecialTeamStandardMarkup > 0">
                                    <span class="badge badge-danger">{{errorSummary.commerecialTeamStandardMarkup}}</span>
                                </sup>
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="Summary">
                            <div class="table-responsive table-block margintop20 max-height350 pos-inherit">
                                <table class="table search-result-table table-hover popup-table-border table-striped " id="nprDataTbl">
                                    <thead class="bg-white">
                                        <tr>
                                            <th>VendorSKU</th>
                                            <th>Description</th>
                                            <th class="border-left border-top">Total Cost (&pound;)</th>
                                            <th class="border-top">RRP nett (&pound;)</th>
                                            <th class="border-top">Markup %</th>
                                            <th class="border-top border-left-light">Override Markup %</th>
                                            <th class="border-top border-left-light">Unit WSP (&pound;)</th>
                                            <th class="border-top border-right">Customer Margin %</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let comTeamRows of comteamData;let i=index">
                                            <td>{{comTeamRows.lpm}}</td>
                                            <td class="green">
                                                <input type="text" class="textbox-wid-bor" tooltip="{{comTeamRows.itemDesc}}" tooltipPlacement="bottom" [(ngModel)]="comTeamRows.itemDesc"
                                                    maxlength="50" oncopy="return false" oncut="return false" onpaste="return false"
                                                    (keypress)="keyPressWithSpace($event)">
                                            </td>
                                            <td class="border-left">{{comTeamRows.commercialTeam.summary.totalCost}}</td>
                                            <td class="">{{comTeamRows.commercialTeam.summary.rrpNet}}</td>
                                            <td class="">{{comTeamRows.commercialTeam.summary.markupPercentage}}</td>
                                            <td class="border-left-light">
                                                <input class="textbox-wid-bor" [ngClass]="{red:!comTeamRows.commercialTeam.summary.isOverideMarkupPercentageValid}" [(ngModel)]="comTeamRows.commercialTeam.summary.overideMarkupPercentage"
                                                    maxlength="50" oncopy="return false" oncut="return false" onpaste="return false"
                                                    (keypress)="keyPressWithSpace($event)">
                                            </td>
                                            <td class="border-left-light">{{comTeamRows.commercialTeam.summary.unitWsp}}</td>
                                            <td class="border-right">{{comTeamRows.commercialTeam.summary.customerMarginPercentage}}</td>
                                            <td class="display-flex">
                                                <span class="greenSqrIconToggle">
                                                    <input type="radio" value="" id="greenCheckboxForSummaryInput{{i}}" name="radioSummary{{i}}" (click)="getActivateCheckbox(i,'green','Summary')">
                                                    <label for="greenCheckboxForSummaryInputSummary{{i}}"></label>
                                                </span>
                                                <span class="redSqrIconToggle mar-left-3">
                                                    <input type="radio" value="" id="redCheckboxForSummaryInput{{i}}" name="radioSummary{{i}}" (click)="getActivateCheckbox(i,'red','Summary')">
                                                    <label for="redCheckboxForSummaryInput{{i}}"></label>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="RRPnett">
                            <div class="table-responsive table-block margintop20 max-height350 pos-inherit">
                                <table class="table search-result-table table-hover popup-table-border table-striped " id="nprDataTbl">
                                    <thead class="bg-white">
                                        <tr>
                                            <th>VendorSKU</th>
                                            <th>Description</th>
                                            <th class="border-left border-top">VAT Rate</th>
                                            <th class="border-top">RRP Gross (&pound;)</th>
                                            <th class="border-top border-left-light">Override RRP Gross (&pound;)</th>
                                            <th class="border-right border-top border-left-light">RRP Nett (&pound;)</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let comTeamRows of comteamData;let i=index">
                                            <td>{{comTeamRows.lpm}}</td>
                                            <td class="green">
                                                <input type="text" class="textbox-wid-bor" tooltip="{{comTeamRows.itemDesc}}" tooltipPlacement="bottom" [(ngModel)]="comTeamRows.itemDesc"
                                                    maxlength="50" oncopy="return false" oncut="return false" onpaste="return false"
                                                    (keypress)="keyPressWithSpace($event)">
                                            </td>
                                            <td class="border-left">{{comTeamRows.commercialTeam.rrpNet.vatRate}}</td>
                                            <td class="">{{comTeamRows.commercialTeam.rrpNet.rrpGross}}</td>
                                            <td class="border-left-light">
                                                <input class="textbox-wid-bor" [ngClass]="{red:!comTeamRows.commercialTeam.rrpNet.isOveriderrpGrossValid}" [(ngModel)]="comTeamRows.commercialTeam.rrpNet.overiderrpGross"
                                                    maxlength="50" oncopy="return false" oncut="return false" onpaste="return false"
                                                    (keypress)="keyPressWithSpace($event)">
                                            </td>
                                            <td class="border-right border-left-light">{{comTeamRows.commercialTeam.rrpNet.rrpNet}}</td>
                                            <td class="display-flex">
                                                <span class="greenSqrIconToggle">
                                                    <input type="radio" value="" id="greenCheckboxForRRPnettInput{{i}}" name="radiorrpNet{{i}}" (click)="getActivateCheckbox(i,'green','RRPnett')">
                                                    <label for="greenCheckboxForRRPnettInput{{i}}"></label>
                                                </span>
                                                <span class="redSqrIconToggle mar-left-3">
                                                    <input type="radio" value="" id="redCheckboxForRRPnettInput{{i}}" name="radiorrpNet{{i}}" (click)="getActivateCheckbox(i,'red','RRPnett')">
                                                    <label for="redCheckboxForRRPnettInput{{i}}"></label>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="TotalCost">
                            <div class="table-responsive table-block margintop20 max-height350 pos-inherit">
                                <table class="table search-result-table table-hover popup-table-border table-striped " id="nprDataTbl">
                                    <thead class="bg-white">
                                        <tr>
                                            <th>VendorSKU</th>
                                            <th>Description</th>
                                            <th class="border-left border-top">Morrisons Unit Cost</th>
                                            <th class="border-top">Logistics @6%</th>
                                            <th class="border-left-light border-top">Exclude Logistics</th>
                                            <th class="border-left-light border-top">H.O. Charge @1.015%</th>
                                            <th class="border-right border-top">Total Cost (&pound;)</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let comTeamRows of comteamData;let i=index">
                                            <td>{{comTeamRows.lpm}}</td>
                                            <td class="green">
                                                <input type="text" class="textbox-wid-bor" tooltip="{{comTeamRows.itemDesc}}" tooltipPlacement="bottom" [(ngModel)]="comTeamRows.itemDesc"
                                                    maxlength="50" oncopy="return false" oncut="return false" onpaste="return false"
                                                    (keypress)="keyPressWithSpace($event)">
                                            </td>
                                            <td class="border-left">{{comTeamRows.commercialTeam.totalCost.morrisonsUnitCost}}</td>
                                            <td class="">{{comTeamRows.commercialTeam.totalCost.logisticCost}}</td>
                                            <td class="border-left-light txt-center">
                                                <span class="greenSqrIconToggle">
                                                    <input type="checkbox" value="1" id="greenCheckboxExclude{{i}}" name="exclude{{i}}" [checked]="comTeamRows.commercialTeam.totalCost.excludeLogistic">
                                                    <label for="greenCheckboxExclude{{i}}"></label>
                                                </span>
                                            </td>
                                            <td class="border-left-light">{{comTeamRows.commercialTeam.totalCost.hoCharge}}</td>
                                            <td class="border-right">{{comTeamRows.commercialTeam.totalCost.totalCost}}</td>
                                            <td class="display-flex">
                                                <span class="greenSqrIconToggle">
                                                    <input type="radio" value="" id="greenCheckboxForTotalCostInput{{i}}" name="radioTotalCost{{i}}" (click)="getActivateCheckbox(i,'green','TotalCost')">
                                                    <label for="greenCheckboxForTotalCostInput{{i}}"></label>
                                                </span>
                                                <span class="redSqrIconToggle mar-left-3">
                                                    <input type="radio" value="" id="redCheckboxForTotalCostInput{{i}}" name="radioTotalCost{{i}}" (click)="getActivateCheckbox(i,'red','TotalCost')">
                                                    <label for="redCheckboxForTotalCostInput{{i}}"></label>
                                                </span>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="MUC">
                            <div class="table-responsive table-block margintop20 max-height350 pos-inherit">
                                <table class="table search-result-table table-hover popup-table-border table-striped " id="nprDataTbl">
                                    <thead class="bg-white">
                                        <tr>
                                            <th>VendorSKU</th>
                                            <th>Description</th>
                                            <th class="border-left border-top">Case Cost</th>
                                            <th class="border-top">Case Size</th>
                                            <th class="border-right border-top">Morrisons Unit Cost</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr *ngFor="let comTeamRows of comteamData;let i=index">
                                            <td>{{comTeamRows.lpm}}</td>
                                            <td class="green">
                                                <input type="text" class="textbox-wid-bor" tooltip="{{comTeamRows.itemDesc}}" tooltipPlacement="bottom" [(ngModel)]="comTeamRows.itemDesc"
                                                    maxlength="50" oncopy="return false" oncut="return false" onpaste="return false"
                                                    (keypress)="keyPressWithSpace($event)">
                                            </td>
                                            <td class="border-left">
                                                <input class="textbox-wid-bor" [ngClass]="{red:!comTeamRows.commercialTeam.morrisonsUnitCost.iscaseCostValid}" [(ngModel)]="comTeamRows.commercialTeam.morrisonsUnitCost.caseCost"
                                                    maxlength="50" oncopy="return false" oncut="return false" onpaste="return false"
                                                    (keypress)="keyPressWithSpace($event)">
                                            </td>
                                            <!--<td class="border-left">{{comTeamRows.commercialTeam.morrisonsUnitCost.caseCost}}</td>-->
                                            <td class="">{{comTeamRows.commercialTeam.morrisonsUnitCost.caseSize}}</td>
                                            <td class="border-right">{{comTeamRows.commercialTeam.morrisonsUnitCost.caseCost / comTeamRows.commercialTeam.morrisonsUnitCost.caseSize
                                                | number : '1.2-2'}}</td>
                                            <td class="display-flex">
                                                <span class="greenSqrIconToggle">
                                                    <input type="radio" value="" id="greenCheckboxForMUCInput{{i}}" name="radiomorrisonsUnitCost{{i}}" (click)="getActivateCheckbox(i,'green','MUC')">
                                                    <label for="greenCheckboxForMUCInput{{i}}"></label>
                                                </span>
                                                <span class="redSqrIconToggle mar-left-3">
                                                    <input type="radio" value="" id="redCheckboxForMUCInput{{i}}" name="radiomorrisonsUnitCost{{i}}" (click)="getActivateCheckbox(i,'red','MUC')">
                                                    <label for="redCheckboxForMUCInput{{i}}"></label>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="StandardMarkup">
                            <div class="table-responsive table-block margintop20 max-height350 pos-inherit">
                                <table class="table search-result-table table-hover popup-table-border table-striped " id="nprDataTbl">
                                    <thead class="bg-white">
                                        <tr>
                                            <th>VendorSKU</th>
                                            <th>Description</th>
                                            <th class="border-left border-top">Total Cost (&pound;)</th>
                                            <th class="border-top">RRP Nett (&pound;)</th>
                                            <th class="border-top">Standard WSP @12% Markup</th>
                                            <th class="border-right border-top">Standard Margin @12% Markup</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr *ngFor="let comTeamRows of comteamData;let i=index">
                                            <td>{{comTeamRows.lpm}}</td>
                                            <td class="green">
                                                <input type="text" class="textbox-wid-bor" tooltip="{{comTeamRows.itemDesc}}" tooltipPlacement="bottom" [(ngModel)]="comTeamRows.itemDesc"
                                                    maxlength="50" oncopy="return false" oncut="return false" onpaste="return false"
                                                    (keypress)="keyPressWithSpace($event)">
                                            </td>
                                            <td class="border-left">{{comTeamRows.commercialTeam.standardMarkup.totalCost}}</td>
                                            <td class="">{{comTeamRows.commercialTeam.standardMarkup.rrpNet}}</td>
                                            <td>{{comTeamRows.commercialTeam.standardMarkup.standardWspMarkup}}</td>
                                            <td class="border-right">{{comTeamRows.commercialTeam.standardMarkup.standardMarginMarkup}}</td>
                                            <td class="display-flex">
                                                <span class="greenSqrIconToggle">
                                                    <input type="radio" value="" id="greenCheckboxForStandardMarkupInput{{i}}" name="radiostandardMarkup{{i}}" (click)="getActivateCheckbox(i,'green','StandardMarkup')">
                                                    <label for="greenCheckboxForStandardMarkupInput{{i}}"></label>
                                                </span>
                                                <span class="redSqrIconToggle mar-left-3">
                                                    <input type="radio" value="" id="redCheckboxForStandardMarkupInput{{i}}" name="radiostandardMarkup{{i}}" (click)="getActivateCheckbox(i,'red','StandardMarkup')">
                                                    <label for="redCheckboxForStandardMarkupInput{{i}}"></label>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row padd-btm-15 padd-top-10">
            <div class="col-md-2 col-sm-2 col-lg-2">

            </div>
            <div class="col-md-10 col-sm-10 col-lg-10 text-right">
                <button class="btn btn-default npr-popup-btn mar-bottom-1">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="hidden-sm hidden-md hidden-lg">
    <div class="row pad-lft-right-15 padd-top-11">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <div class="error-message-container">
                <div class="categories">
                    <div class="alert alert-info text-center error-message">
                        <strong>Sorry, Single new product request is available only on desktop view.
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class='print_only' id="printHeader" [hidden]="printHeader">
    <!--dashboard container section start-->
    <div class="row dashboard-heading-div">
        <div class="col-xs-12">
            <img class="logo_print" src="{{whoImgUrl}}print_logo.png" alt="Morrisons logo">
            <h2 class="font-bold actualprint-ordernno">Lines From Selected Batches Requiring Commercial Team Review</h2>
        </div>
    </div>

    <div class="row dashboard-heading-div">
        <div class="col-xs-12">
            <h4 class="search-result-heading">Summary</h4>
            <div class="table-responsive table-block margintop20 max-height350  pos-inherit">
                <table class="table search-result-table table-hover popup-table-border table-striped" id="nprDataTbl">
                    <thead class="bg-white">
                        <tr>
                            <th>VendorSKU</th>
                            <th>Description</th>
                            <th>Total Cost (&pound;)</th>
                            <th>RRP nett (&pound;)</th>
                            <th>Markup %</th>
                            <th>Override Markup %</th>
                            <th>Unit WSP (&pound;)</th>
                            <th>Customer Margin %</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let comTeamRows of comteamData;let i=index">
                            <td>{{comTeamRows.lpm}}</td>
                            <td>{{comTeamRows.itemDesc}}</td>
                            <td>{{comTeamRows.commercialTeam.summary.totalCost}}</td>
                            <td>{{comTeamRows.commercialTeam.summary.rrpNet}}</td>
                            <td>{{comTeamRows.commercialTeam.summary.markupPercentage}}</td>
                            <td>{{comTeamRows.commercialTeam.summary.overideMarkupPercentage}}</td>
                            <td>{{comTeamRows.commercialTeam.summary.unitWsp}}</td>
                            <td>{{comTeamRows.commercialTeam.summary.customerMarginPercentage}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row dashboard-heading-div">
        <div class="col-xs-12">
            <h4 class="search-result-heading">RRP nett</h4>
            <div class="table-responsive table-block margintop20 max-height350  pos-inherit">
                <table class="table search-result-table table-hover popup-table-border table-striped" id="nprDataTbl">
                    <thead class="bg-white">
                        <tr>
                            <th>VendorSKU</th>
                            <th>Description</th>
                            <th>VAT Rate</th>
                            <th>RRP Gross (&pound;)</th>
                            <th>Override RRP Gross (&pound;)</th>
                            <th>RRP Nett (&pound;)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let comTeamRows of comteamData;let i=index">
                            <td>{{comTeamRows.lpm}}</td>
                            <td>{{comTeamRows.itemDesc}}</td>
                            <td>{{comTeamRows.commercialTeam.rrpNet.vatRate}}</td>
                            <td>{{comTeamRows.commercialTeam.rrpNet.rrpGross}}</td>
                            <td>{{comTeamRows.commercialTeam.rrpNet.overiderrpGross}}</td>
                            <td>{{comTeamRows.commercialTeam.rrpNet.rrpNet}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row dashboard-heading-div">
        <div class="col-xs-12">
            <h4 class="search-result-heading">Total Cost (&pound;)</h4>
            <div class="table-responsive table-block margintop20 max-height350  pos-inherit">
                <table class="table search-result-table table-hover popup-table-border table-striped" id="nprDataTbl">
                    <thead class="bg-white">
                        <tr>
                            <th>VendorSKU</th>
                            <th>Description</th>
                            <th>Morrisons Unit Cost</th>
                            <th>Logistics @6%</th>
                            <th>Exclude Logistics</th>
                            <th>H.O. Charge @1.015%</th>
                            <th>Total Cost (&pound;)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let comTeamRows of comteamData;let i=index">
                            <td>{{comTeamRows.lpm}}</td>
                            <td>{{comTeamRows.itemDesc}}</td>
                            <td>{{comTeamRows.commercialTeam.totalCost.morrisonsUnitCost}}</td>
                            <td>{{comTeamRows.commercialTeam.totalCost.logisticCost}}</td>
                            <td>{{comTeamRows.commercialTeam.totalCost.excludeLogistic}}</td>
                            <td>{{comTeamRows.commercialTeam.totalCost.hoCharge}}</td>
                            <td>{{comTeamRows.commercialTeam.totalCost.totalCost}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row dashboard-heading-div">
        <div class="col-xs-12">
            <h4 class="search-result-heading">Morrisons Unit Cost</h4>
            <div class="table-responsive table-block margintop20 max-height350  pos-inherit">
                <table class="table search-result-table table-hover popup-table-border table-striped" id="nprDataTbl">
                    <thead class="bg-white">
                        <tr>
                            <th>VendorSKU</th>
                            <th>Description</th>
                            <th>Case Cost</th>
                            <th>Case Size</th>
                            <th>Morrisons Unit Cost</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let comTeamRows of comteamData;let i=index">
                            <td>{{comTeamRows.lpm}}</td>
                            <td>{{comTeamRows.itemDesc}}</td>
                            <td>{{comTeamRows.commercialTeam.morrisonsUnitCost.caseCost}}</td>
                            <td>{{comTeamRows.commercialTeam.morrisonsUnitCost.caseSize}}</td>
                            <td>{{comTeamRows.commercialTeam.morrisonsUnitCost.caseCost / comTeamRows.commercialTeam.morrisonsUnitCost.caseSize}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row dashboard-heading-div">
        <div class="col-xs-12">
            <h4 class="search-result-heading">@ Standard 12% Markup</h4>
            <div class="table-responsive table-block margintop20 max-height350  pos-inherit">
                <table class="table search-result-table table-hover popup-table-border table-striped" id="nprDataTbl">
                    <thead class="bg-white">
                        <tr>
                            <th>VendorSKU</th>
                            <th>Description</th>
                            <th>Total Cost (&pound;)</th>
                            <th>RRP Nett (&pound;)</th>
                            <th>Standard WSP @12% Markup</th>
                            <th>Standard Margin @12% Markup</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let comTeamRows of comteamData;let i=index">
                            <td>{{comTeamRows.lpm}}</td>
                            <td>{{comTeamRows.itemDesc}}</td>
                            <td>{{comTeamRows.commercialTeam.standardMarkup.totalCost}}</td>
                            <td>{{comTeamRows.commercialTeam.standardMarkup.rrpNet}}</td>
                            <td>{{comTeamRows.commercialTeam.standardMarkup.standardWspMarkup}}</td>
                            <td>{{comTeamRows.commercialTeam.standardMarkup.standardMarginMarkup}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class='print_only' id="exportable" [hidden]="printHeader">
    <table class="table table-bordered table-striped" border=1>
        <thead>
            <tr>
                <th>VendorSKU</th>
                <th>Description</th>
                <th>Total Cost (&pound;)</th>
                <th>RRP nett (&pound;)</th>
                <th>Markup %</th>
                <th>Override Markup %</th>
                <th>Unit WSP (&pound;)</th>
                <th>Customer Margin %</th>
                <th>VAT Rate</th>
                <th>RRP Gross (&pound;)</th>
                <th>Override RRP Gross (&pound;)</th>
                <th>RRP Nett (&pound;)</th>
                <th>Morrisons Unit Cost</th>
                <th>Logistics @6%</th>
                <th>Exclude Logistics</th>
                <th>H.O. Charge @1.015%</th>
                <th>Total Cost (&pound;)</th>
                <th>Case Cost</th>
                <th>Case Size</th>
                <th>Morrisons Unit Cost</th>
                <th>Total Cost (&pound;)</th>
                <th>RRP Nett (&pound;)</th>
                <th>Standard WSP @12% Markup</th>
                <th>Standard Margin @12% Markup</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let comTeamRows of comteamData;let i=index">
                <td>{{comTeamRows.lpm}}</td>
                <td>{{comTeamRows.itemDesc}}</td>
                <td>{{comTeamRows.commercialTeam.summary.totalCost}}</td>
                <td>{{comTeamRows.commercialTeam.summary.rrpNet}}</td>
                <td>{{comTeamRows.commercialTeam.summary.markupPercentage}}</td>
                <td>{{comTeamRows.commercialTeam.summary.overideMarkupPercentage}}</td>
                <td>{{comTeamRows.commercialTeam.summary.unitWsp}}</td>
                <td>{{comTeamRows.commercialTeam.summary.customerMarginPercentage}}</td>
                <td>{{comTeamRows.commercialTeam.rrpNet.vatRate}}</td>
                <td>{{comTeamRows.commercialTeam.rrpNet.rrpGross}}</td>
                <td>{{comTeamRows.commercialTeam.rrpNet.overiderrpGross}}</td>
                <td>{{comTeamRows.commercialTeam.rrpNet.rrpNet}}</td>
                <td>{{comTeamRows.commercialTeam.totalCost.morrisonsUnitCost}}</td>
                <td>{{comTeamRows.commercialTeam.totalCost.logisticCost}}</td>
                <td>{{comTeamRows.commercialTeam.totalCost.excludeLogistic}}</td>
                <td>{{comTeamRows.commercialTeam.totalCost.hoCharge}}</td>
                <td>{{comTeamRows.commercialTeam.totalCost.totalCost}}</td>
                <td>{{comTeamRows.commercialTeam.morrisonsUnitCost.caseCost}}</td>
                <td>{{comTeamRows.commercialTeam.morrisonsUnitCost.caseSize}}</td>
                <td>{{comTeamRows.commercialTeam.morrisonsUnitCost.caseCost / comTeamRows.commercialTeam.morrisonsUnitCost.caseSize}}</td>
                <td>{{comTeamRows.commercialTeam.standardMarkup.totalCost}}</td>
                <td>{{comTeamRows.commercialTeam.standardMarkup.rrpNet}}</td>
                <td>{{comTeamRows.commercialTeam.standardMarkup.standardWspMarkup}}</td>
                <td>{{comTeamRows.commercialTeam.standardMarkup.standardMarginMarkup}}</td>
            </tr>
        </tbody>
    </table>
</div>