<!--Search Order section start here-->
<!-- Breadcrumb start here-->
<div class="mvp_bradcrumb">
    <div class="container">
        <div class="col-xs-12 breadcrumb product-breadcrumb">
            <a [routerLink]="['/customerselection']">
                <span class="bradcrumb-text">Home</span>
            </a>/
            <span class="bradcrumb-text bold">Catalogue Management</span>
        </div>
    </div>
</div>
<!--Search Order section start here-->
<div class="mmbborder" id="circle-box-border"></div>
<!-- Only Show in Mobile View -->
<!--Search order heading section start here-->
<catalogue-management-pending-request-header></catalogue-management-pending-request-header>
<!--Search order heading section end here-->


<div class="hidden-xs padd-btm-30 padd-top-10 bgcolor-grey min-height500">
    <div class="container paddzero">
        <div class="container error-message-container" [class.hidden]="noPermissionMsg == ''">
            <div class="row categories padd-top16">
                <div class="alert alert-danger text-center error-message">
                    <i class="glyphicon glyphicon-alert"></i> &nbsp;&nbsp;
                    <strong>{{noPermissionMsg}}</strong>
                </div>
            </div>
        </div>
    </div>
    <div class="container paddzero" [class.hidden]="noPermissionMsg != ''">
        <div id="noNprAccess" class="container error-message-container hide" [class.hidden]="hasAccess">
            <div class="row categories padd-top16">
                <div class="alert alert-danger text-center error-message">
                    <i class="glyphicon glyphicon-alert"></i> &nbsp;&nbsp;
                    <strong>{{errorMsgString}}
                    </strong>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="!siteMaintanceFlg">
            <div class="col-sm-3 col-md-3 col-lg-3 padright-10" id="catalogueEnquiry" [class.hidden]="!permissionArray.permArrayWholesaleCatalogues">
                <div class="bgcolor-white border-top-bottom">
                    <h4 class="padleft-10 fontsize-16 text-black semi-bold">Wholesale Product Catalogues</h4>
                </div>
                <div class="bgcolor-white ">
                    <div class="cat-dash-icon">
                        <img src="{{whoImgUrl}}CSR.svg" class="img-responsive width-height">
                    </div>
                    <p class="cat-dash-icon-cont text-grey line-ht1-2"> </p>
                    <div class="padleft-10 padd-right10 padd-btm-8">
                        <h5 class="pad-top10 padd-bottom10 curs-pointer font-light font-1-15em margin-zero" id="csr" [class.hidden]="disablecatalogueEnquiry"
                            (click)="redirectTo(['/catalogue', customerName])">Catalogue Enquiry</h5>
                        <h5 class="border-top-grey-1 pad-top10 padd-bottom10 curs-pointer font-light font-1-15em margin-zero" id="csr" [class.hidden]="disableaddCatalogueEntry"
                            (click)="redirectTo(['/catalogue', customerName, 'add'], true)">Catalogue New Entry
                        </h5>
                        <h5 class="border-top-grey-1 pad-top10 padd-bottom10 curs-pointer font-light font-1-15em margin-zero" id="mr" [class.hidden]="disablecatalogueBulkUploadView"
                            (click)="redirectTo(['/catalogue', customerName, 'upload'])">Catalogue Bulk Upload</h5>
                        <h5 class="border-top-grey-1 pad-top10 padd-bottom10 curs-pointer font-light font-1-15em margin-zero" id="nsfe" [class.hidden]="disablecatalogueBulkExportView"
                            (click)="redirectTo(['/catalogue', customerName, 'export'])">Catalogue Bulk Export
                        </h5>
                        <h5 class="border-top-grey-1 pad-top10 padd-bottom10 curs-pointer font-light font-1-15em margin-zero" id="nsfe" [class.hidden]="disableUploadRangeFileView"
                            (click)="redirectTo(['/catalogue', customerName, 'uploadrange'])">Upload Range File
                        </h5>
                     
                    </div>
                </div>
            </div>
           <div class="col-sm-3 col-md-3 col-lg-3 padright-10" id="storeenquiry" [class.hidden]="!permissionArray.preArrayWholesaleStores">
                <div class="bgcolor-white border-top-bottom">
                    <h4 class="padleft-10 fontsize-16 text-black semi-bold">Wholesale Customer Stores                    </h4>
                </div> 
                <div class="bgcolor-white ">
                    <div class="cat-dash-icon">
                        <img src="{{whoImgUrl}}STORE.svg" class="img-responsive width-height">
                    </div>
                    <p class="cat-dash-icon-cont text-grey line-ht1-2"></p>
                    <div class="padleft-10 padd-right10 padd-btm-8">
                        <h5 class="pad-top10 padd-bottom10 curs-pointer font-light font-1-15em margin-zero" id="csr" [class.hidden]="disablestoreEnquiry"
                            (click)="redirectTo(['/store', customerName])">Store Enquiry
                        </h5>
                        <h5 class="border-top-grey-1 pad-top10 padd-bottom10 curs-pointer font-light font-1-15em margin-zero" id="mr" (click)="redirectTo(['/catalogue', customerName, 'addstore'] , true)"  [class.hidden]="disableaddStoreNewEntry">Store  New Entry
                        </h5>
                        <h5 class="border-top-grey-1 pad-top10 padd-bottom10 curs-pointer font-light font-1-15em margin-zero" id="nsfe" (click)="redirectTo(['/catalogue', customerName, 'storebulkupload'])" [class.hidden]="disablestoreBulkUploadView">Store Bulk Upload
                        </h5>
                        <h5 class="border-top-grey-1 pad-top10 padd-bottom10 curs-pointer font-light font-1-15em margin-zero" id="vasr" (click)="redirectTo(['/store', customerName, 'export'])" [class.hidden]="disablestoreBulkExportView">Store Bulk Export
                        </h5>
                        <h5 class="border-top-grey-1 pad-top10 padd-bottom10 curs-pointer font-light font-1-15em margin-zero" id="vasr" (click)="redirect('/maintainsupplydepot', customerName)" [class.hidden]="disablemaintainSupplyingDepots">Maintain Supplying Depots
                        </h5>
                        <h5 class="border-top-grey-1 pad-top10 padd-bottom10 curs-pointer font-light font-1-15em margin-zero" id="vasr" (click)="redirect('/maintainallocationpriority', customerName)" [class.hidden]="disablemaintainAllocationPriorities">Maintain Allocation Priorities
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 padright-10" id="npr" [class.hidden]="!permissionArray.permArrayNewRequests">
                <div class="bgcolor-white border-top-bottom">
                    <h4 class="padleft-10 fontsize-16 text-black semi-bold">New Requests</h4>
                </div>
                <div class="bgcolor-white ">
                    <div class="cat-dash-icon">
                        <img src="{{whoImgUrl}}NPR.svg" class="img-responsive width-height">
                    </div>
                    <p class="cat-dash-icon-cont text-grey line-ht1-2"></p>
                    <div class="padleft-10 padd-right10 padd-btm-8">
                        <h5 class="pad-top10 padd-bottom10 curs-pointer font-light font-1-15em margin-zero" id="csr" [class.hidden]="disableaddRequests"
                            (click)="redirect('/singleproductrequest', customerName)">Create Requests</h5>
                        <h5 class="border-top-grey-1 pad-top10 padd-bottom10 curs-pointer font-light font-1-15em margin-zero" id="mr" [class.hidden]="disablemanageRequests"
                            (click)="redirect('/managerequest', customerName)">Manage Requests</h5>
                        <!--<h5 class="border-top-grey-1 pad-top10 padd-bottom10 curs-pointer font-light font-1-15em margin-zero" id="nsfe" (click)="redirect('/nisfeederexport', customerName)">View NIS Feeder Exports</h5>
                        <h5 class="border-top-grey-1 pad-top10 padd-bottom10 curs-pointer font-light font-1-15em margin-zero" id="vasr">View Add-To-Channel Status Report</h5>-->
                    </div>
                </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 padleft-10 padright-10" id="ppc" [class.hidden]="!permissionArray.permArrayPricing">

                <div class="bgcolor-white border-top-bottom">
                    <h4 class="padleft-10 fontsize-16  text-black semi-bold">Repricing</h4>
                </div>
                <div class="bgcolor-white ">
                    <div class="cat-dash-icon">
                        <img src="{{whoImgUrl}}PPC.svg" class="img-responsive width-height">
                    </div>
                    <p class="cat-dash-icon-cont text-grey line-ht1-2"></p>
                    <div class="padleft-10 padd-right10 padd-btm-8">
                        <h5 class="pad-top10 padd-bottom10 curs-pointer font-light font-1-15em margin-zero cl_pricing" id="vlor" [class.hidden]="disablerepricingProductsIdentification"
                            (click)="redirect('/productpricing', customerName)">Products Identification</h5>
                        <h5 class="border-top-grey-1 pad-top10 padd-bottom10 curs-pointer font-light font-1-15em margin-zero cl_pricing" [class.hidden]="disablerepricingConfiguration"
                            id="priceconfig" [class.disabled]="disablePriceConfig" (click)="redirectWithStatus('/configuration', customerName, disablePriceConfig)">Pricing Configuration</h5>
                        <h5 class="border-top-grey-1 pad-top10 padd-bottom10 curs-pointer font-light font-1-15em margin-zero cl_pricing" [class.hidden]="disablerepricingSupplierRequestsReview"
                            id="reprice" [class.disabled]="disableRePricing" (click)="redirectWithStatus('/repricing', customerName, disableRePricing)">Products Repricing (Proposals)</h5>
                        <h5 class="border-top-grey-1 pad-top10 padd-bottom10 curs-pointer font-light font-1-15em margin-zero cl_pricing" [class.hidden]="disablerepricingPeriodicReview"
                            id="prodicreprice" [class.disabled]="disableprodRePricing" (click)="redirectWithStatus('/prodicrepricing', customerName, disableprodRePricing)">Periodic Repricing</h5>

                          <!-- <h5 class="border-top-grey-1 padd-top-5 curs-pointer font-light font-1-15em" id="gnr">Generate New Report</h5>
                        <h5 class="border-top-grey-1 padd-top-5 curs-pointer font-light font-1-15em" id="me">Manage Exceptions</h5> -->
                          <h5 class="border-top-grey-1 pad-top10 padd-bottom10 curs-pointer font-light font-1-15em margin-zero" id="nsfe" [class.hidden]="disableUploadPromotionsView"
                            (click)="redirectTo(['/catalogue', customerName, 'uploadDeal'])">Upload Promotions
                      </h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 padleft-10 padright-10" id="mfre" [class.hidden]="!permissionArray.permArrayMainEstateRange">

                <div class="bgcolor-white border-top-bottom">
                    <h4 class="padleft-10 fontsize-16  text-black semi-bold">Morrisons Main Estate Range</h4>
                </div>
                <div class="bgcolor-white ">
                    <div class="cat-dash-icon">
                        <img src="{{whoImgUrl}}MSRE.svg" class="img-responsive width-height">
                    </div>
                    <p class="cat-dash-icon-cont text-grey line-ht1-2"></p>
                    <div class="padleft-10 padd-right10 padd-btm-8">
                        <h5 class="pad-top10 padd-bottom10 curs-pointer font-light font-1-15em margin-zero" id="vloe" (click)="redirect('/fullrangeexport', customerName)">RAFs</h5>
                        <h5 class="border-top-grey-1 pad-top10 padd-bottom10 curs-pointer font-light font-1-15em margin-zero" id="vloe" [class.hidden]="disableViewFullRangeExports"
                            (click)="redirect('/fullrangeexport', customerName)">Full Range Exports</h5>
                        <h5 class="border-top-grey-1 pad-top10 padd-bottom10 curs-pointer font-light font-1-15em margin-zero" id="gne" [class.hidden]="disablefullRangeExportsSupplyChainReview"
                            (click)="redirect('/fullrangereview', customerName)">Full Range Supply Chain Review</h5>
                        <h5 class="border-top-grey-1 pad-top10 padd-bottom10 curs-pointer font-light font-1-15em margin-zero" id="mdd">Manage Delist Dates</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="siteMaintanceFlg">
            <div class="col-xs-12 col-sm-12 col-md-12 maintenance-background">
                <div class="heading-text">
                    <h3 class="semi-bold text-center hidden-xs">SITE MAINTENANCE</h3>
                </div>
                <div class="maintenance-box login-box bold text-center">
                    {{siteMSg}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hidden-sm hidden-md hidden-lg">
    <div class="row pad-lft-right-15 padd-top-11">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <div class="error-message-container">
                <div class="categories">
                    <div class="alert alert-info text-center error-message">
                        <strong>Sorry, Catalogue management functionality is available only on desktop view.
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--session expiry modal starts here-->
<div class="modal fade custom-model zindex9999991" id="popup_SessionExpired" role="dialog">
    <div class="modal-dialog top75 width314">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="border-top-bottom-popup">
                <h5 class="padd-left-right-10">Session terminated<button type="button" id="close-popup" class="close close-icon" data-dismiss="modal" (click)="closePopup()">&#10006;</button>
                </h5>
            </div>
            <div class="modal-body">
                <div class="new-batch-num-popup">
                    <!-- <span>{{msgJSON.message}}</span> -->
                    <span>Session has been terminated - please log in again.</span>
                </div>
            </div>
            <div class="modal-footer border-top-grey-1">
                <div class="text-right">
                    <button class="btn btn-default npr-popup-btn" type="button" (click)="closePopup()">OK</button>
                </div>
            </div>
        </div>
        <!-- Modal Content End -->
    </div>
</div>
<!--session expiry modal ends here-->

