<!--Search Order section start here-->
<!-- Breadcrumb start here-->
<div class="mvp_bradcrumb">
    <div class="container">
        <div class="col-xs-12 breadcrumb product-breadcrumb">
            <a [routerLink]="['/customerselection']">
                <span class="bradcrumb-text">Home</span>
            </a>/
            <a [routerLink]="['/cataloguemanagement', customerName]">
                <span class="bradcrumb-text">Catalogue Management</span>
            </a>/
            <span class="bradcrumb-text bold">New Morrisons Full Range Export</span>
        </div>
    </div>
</div>
<!-- Breadcrumb end here-->

<!--Search Order section start here-->
<div class="mmbborder" id="circle-box-border"></div>
<!-- Only Show in Mobile View -->

<catalogue-management-pending-request-header></catalogue-management-pending-request-header>

<!--Search order heading section end here-->
<div class="hidden-xs padd-btm-50 bgcolor-grey padd-top-10 min-height600">
    <div class="container bgcolor-white">
    </div>
    <div class="container bgcolor-white border-top-bottom margintop25">
        <div class="row">
            <h4 class="pad-lft-right-15 dis-inlineblc">New Morrisons Full Range Export</h4>

        </div>
    </div>
    <div class="container bgcolor-white">
        <!--<h3 class="drilldown-header-title pad-left0">SINGLE NEW PRODUCT REQUESTS - ONLINE</h3>  -->
        <!-- <h3 class="drilldown-header-title pad-left0 catalogue-text margin-bot8 color-darkgrey">SINGLE NEW PRODUCT REQUEST - ONLINE</h3> -->
        <div class="pad-lft-right-15 padd-bottom-30">
            <div class="row bgcolor-white">
                <div class="text-center">
                    <div class="row">
                        <div class="center-block">
                            <img src="{{whoImgUrl}}CircleIconTick.svg" class="padd-top20 succ-fulrange-img">
                        </div>
                    </div>
                    <p class="text-center pad-top10 font-size20 success-fulrange bold">Success!</p>
                    <p class="font-size14px text-center success-msg text-bold font-light">New Morrisons Full Range export was initiated successfully.</p>
                    <p class="font-size14px text-center success-msg text-bold font-light">Generating a new export might take a while and you will be notified when it completes via email.</p>
                    <p class="font-size14px text-center success-msg text-bold font-light">Feel free to navigate away from this page.</p>
                    <div class="row catalogue-container succ-nav-div">
                        <div class="col-md-12 col-lg-12 col-sm-12">
                            <button (click)="redirect('/fullrangeexport', customerName)" class="succ-fulrange-nav-btn">View Previous Exports</button>
                        </div>
                    </div>
                </div>


            </div>
        </div>


    </div>

</div>

<div class="hidden-sm hidden-md hidden-lg">
    <div class="row pad-lft-right-15 padd-top-11">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <div class="error-message-container">
                <div class="categories">
                    <div class="alert alert-info text-center error-message">
                        <strong>Sorry, Single new product request is available only on desktop view.
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>