<div id="stickyContainer">
    <!-- Breadcrumb start here-->
    <div class="mvp_bradcrumb">
        <div class="container">
            <div class="col-xs-12 breadcrumb product-breadcrumb">
                <a [routerLink]="['/customerselection']">
                    <span class="bradcrumb-text">Home</span>
                </a>/
                <a [routerLink]="['/cataloguemanagement', customerName]">
                    <span class="bradcrumb-text">Catalogue Management</span>
                </a>/
                <span class="bradcrumb-text">Catalogue Download</span>
            </div>
        </div>
    </div>
    <!-- Breadcrumb end here-->
    <!--Search Order section start here-->
    <div class="mmbborder" id="circle-box-border"></div>
    <!-- Only Show in Mobile View -->
    <!--Search order heading section start here-->
    <div class="sticky" id="sticky1">
        <div class="hidden-xs container">
            <div class="row mobile-marginzero search-order-row searchborder btm-bdr" id="search-box-border">
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 desktop-paddzero mobile-paddzero">
                    <div class="product-i">
                        <img src="{{imgName}}" class="img-responsive product-img pull-left">
                        <h3 class="{{style}}">{{customerDispayName}}</h3>
                        <a [class.hidden]="disabledCusChange ? true : null" (click)="toggleOrganisation()" class="Product-title-anchor">Change Customer
                            <span class="search-arrow-product">
                                <i id="changeIcon" class="glyphicon glyphicon-menu-down small-arrow-up"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 help-link-div">
                    <main-navigation-menu #navIcons></main-navigation-menu>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row desktop-marginzero" [hidden]="hideOrganisation">
                <div class="advanced-search-page text-center">
                    <ul class="product-circle">
                        <li *ngFor="let organisation of organisationListChange;let i=index" [class.hidden]="organisation.customerName=='All_Wholesale_Customers'" (click)="changeOrgType('/catalogue', organisation.customerName,'export'); navIcons.reloadNavigation(organisation.orgType);" >
                            <a>
                                <img src="{{getCustomerImage(organisation.customerName)}}" class="img-responsive" alt="{{organisation.customerName}}" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--Search order heading section end here-->
</div>
<div class="hidden-sm hidden-xs">
    <button (click)="onScrolltop()" class="topbtn" id="topBtn">Top</button>
</div>
<div class="hidden-xs container">
    <div class="row desktop-marginzero">
        <div class="col-xs-12 desktop-paddzero fix-height">
            <h4 class="orders-heading">Catalogue Download</h4>
            <div class="row margin-zero">
                <div class="col-xs-12 search-order-div desktop-paddzero mobile-paddzero btborder blockmarginbt" id="search-order-border">
                    <div class="col-xs-12 xspadding">
                        <h4 class="search-order-heading hidden-xs">Search Existing Catalogue Files</h4>
                    </div>
                    <!--Search orders form section start here-->
                    <form role="form" #singlecatalogue="ngForm" name="singlecatalogue" class="" (submit)="getlistofCatalogeFiles(singlecatalogue.value)">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 padding-right-zero search-section xspadding form-group">
                            <span class="green-star">*</span>
                            <label for="catalogueType">Range/ Catalogue Type</label>
                            <span class="up_arrow glyphicon glyphicon-menu-down rt10"></span>
                            <select class="form-control" id="catalogueType" name="catalogueType" required [(ngModel)]="catalogueType" >
                                <option value="">Please Select</option>
                                <option *ngFor="let i of catalogueTypes;" [value]="i.catalogueType" [attr.selected]="i.catalogueType == catalogueTypeId ? true : null"  >{{i.catalogueType}}</option>
                            </select>
                        </div>
                        <div class="mrgn-left-17per col-xs-3 col-sm-3 col-md-3 col-lg-3 padding-right-zero search-section xspadding ">
                            <div class="input-group dpadding col-xs-12 col-sm-12 col-md-9 col-lg-9">
                                <button type="submit" class="btn pull-right mrgn-r-2 search-button adv-search-btn form-control">VIEW
                                    <span class="brd-left-white rt6px">
                                        <span class="glyphicon glyphicon-search search-icon pull-right"></span>
                                    </span>
                                </button>
                            </div>
                        </div>
                        <div class="mrgn-left-17per col-xs-6 col-sm-6 col-md-6 col-lg-6 padding-right-zero search-section xspadding ">
                            <div class="initiateCatalogue input-group dpadding col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
                                <button type="button" class="btn pull-right mrgn-r-2 search-button adv-search-btn form-control"  (click)="generateCatalogue(catalogueType)">Initiate New Catalogue Export</button>
                            </div>
                        </div>
                    </form>
                    <!--Search Result Model box Mobile start Here-->
                    <button id="openModalResult" [hidden]="true" data-toggle="modal" data-target="#catalogueResult">Open Modal</button>
                    <div class="col-xs-12 col-md-12 col-lg-12" *ngIf="showErrorMsg">
                        <div class="error-message-container">
                            <div class="categories">
                                <div class="alert alert-danger text-center error-message">
                                    <i class="glyphicon glyphicon-alert"></i> &nbsp;&nbsp;{{errorMsgString}}

                                    <strong></strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Search results section start here-->
                    <div class="col-xs-12 search-results-div catalogue-search hidden-xs" [hidden]="catalogueResult">
                        <h4 class="search-result-heading">Search Results for Catalogue Files</h4>
                        <div class="padd-bot11"></div>
                        <div *ngIf="cataloguedetailListLength == 0">
                            <p class="no-data-text">No data available</p>
                        </div>
                        <div *ngIf="cataloguedetailListLength > 0" id="exportable" class="table-responsive table-block overflow-x-inherit">
                            <table class=" custom-borderd-table table table-bordered table-striped search-result-table text-nowrap" border='1'>
                                <thead class="head-color">
                                    <tr>
                                        <th>Date and Time</th>
                                        <th>Filename</th>
                                        <th>Download</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let catalogue of catalogueDetailList;let i=index" class="catalogue-list-table">
                                        <!--<td>{{catalogue.fileDate}}</td>-->
                                        <td>{{_cfunction.dateFormator(catalogue.fileDate,12)}}</td>
                                        <td>{{catalogue.filename}}</td>
                                        <td class="full-range-img-download">
                                            <a (click)="fileDownloadUsingPresignedURL(catalogue.filename)">
                                                <img src="{{whoImgUrl}}SquareIconDownload.svg" class="img-responsive sqrIcon-npr cursor-pointer">
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- loader section start-->
    <div *ngIf="showLoader" class="overlay-load">
        <div class="loader-box-shadow">
            <div class="load-img">
                <img src="{{whoImgUrl}}spinner.svg" class="loader-image" alt="Loader Image" />
                <div>
                    <h6>LOADING</h6>
                </div>
            </div>
        </div>
    </div>

   
</div>
<!--Search Order section end here-->
<div class="modal fade custom-model zindex999999" id="addConfirmationModal" role="dialog">
    <div class="modal-dialog top75 width314">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="border-top-bottom-popup">
                <h5 class="pad-lft-right-30">Catalogue Process
                    <button type="button" id="close-popup" class="close-icon" (click)="closePopup()" data-dismiss="modal">&#10006;</button>
                </h5>
            </div>
            <div class="modal-body">
                <div class="new-batch-num-popup">
                    <span>{{succMSg}}</span>
                </div>
            </div>
        </div>
        <!-- Modal Content End -->
    </div>
</div>

<div class="hidden-sm hidden-md hidden-lg">
    <div class="row pad-lft-right-15 padd-top-11">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <div class="error-message-container">
                <div class="categories">
                    <div class="alert alert-info text-center error-message">
                        <strong>Sorry, Export Catalogue is available only on desktop view.
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>