<!--error message container section start-->

<div class="container error-message-container">
    <div class="row home">
    </div>
    <div class="row categories padd-top16">
        <div class="alert alert-danger text-center error-message">
            <i class="glyphicon glyphicon-alert">
            </i> &nbsp;&nbsp;
            <strong>Some thing went wrong. Either network issue or data is not available at this moment, please try again.
            </strong>
        </div>
    </div>
</div>
<!--error message container section end-->