<!--error message container section start-->

<div class="container error-message-container">
    <div class="row home">
    </div>
    <catalogue-management-pending-request-header></catalogue-management-pending-request-header>
    <!-- <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 help-link-div padding-zero">
        <main-navigation-menu #navIcons></main-navigation-menu>
    </div> -->
    <div class="row categories padd-top16">
        <div class="alert alert-danger text-center error-message">
            <div class="heading-text">
                <h3 class="semi-bold text-center hidden-xs">SITE MAINTENANCE</h3>
            </div>
            <div class="maintenance-box login-box bold text-center">
                Site is under maintenance
            </div>
        </div>
    </div>
</div>
<!--error message container section end-->

