<div id="stickyContainer">
    <!-- Breadcrumb start here-->
    <div class="mvp_bradcrumb">
        <div class="container">
            <div class="col-xs-12 breadcrumb product-breadcrumb">
                <a [routerLink]="['/customerselection']">
                    <span class="bradcrumb-text">Home</span>
                </a>/
                <a [routerLink]="['/cataloguemanagement', customerName]">
                    <span class="bradcrumb-text">Catalogue Management</span>
                </a>/
                <span class="bradcrumb-text">Store Download</span>
            </div>
        </div>
    </div>
    <!-- Breadcrumb end here-->
    <!--Search Order section start here-->
    <div class="mmbborder" id="circle-box-border"></div>
    <!-- Only Show in Mobile View -->
    <!--Search order heading section start here-->
    <catalogue-management-pending-request-header></catalogue-management-pending-request-header>
    <!--Search order heading section end here-->
</div>
<div class="hidden-sm hidden-xs">
    <button (click)="onScrolltop()" class="topbtn" id="topBtn">Top</button>
</div>
<div class="hidden-xs container">
    <div class="row desktop-marginzero">
        <div class="col-xs-12 desktop-paddzero fix-height">
            <h4 class="orders-heading">Store Bulk Export</h4>
            <div class="row margin-zero">
                <div class="col-xs-12 search-order-div desktop-paddzero mobile-paddzero btborder blockmarginbt" id="search-order-border" >
                    <div class="col-xs-12 xspadding" [hidden]="disableStoreStoreFileSubmit">
                        <h4 class="search-order-heading hidden-xs">Select Export Date</h4>
                    </div> 
                    <!--Search orders form section start here-->
                    <form role="form" #singlecatalogue="ngForm" name="singlecatalogue" class="" (submit)="getlistofExportFiles(singlecatalogue.value)" [hidden]="disableStoreStoreFileSubmit">
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 padding-right-zero search-section xspadding form-group">
                            <!-- <span class="green-star">*</span> -->
                            <!-- <label for="catalogueType">Select Export Date</label> -->
                            <div class="input-group col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                                <div class="input-group calendar-input-grp width-150p addstoredateshow" [ngClass]="(!disableStoreStoreFileSubmit)? 'addstoredateshow' :'disable'">
                                    <input type="text" class="form-control" name="daterangeInput" daterangepicker [options]="options" (selected)="singleSelect($event)" [(ngModel)]="singleDate" placeholder="DD/MM/YYYY" (keypress)="false" [disabled]="disableStoreStoreFileSubmit" />
                                    <span class="input-group-addon calendar-addon addstoredateinput" id="orderdateinput" daterangepicker [options]="options" (selected)="singleSelect($event)">
                                        <i class="glyphicon glyphicon-calendar cust-calender" id="orderdateinput"></i>                                        
                                    </span>
                                </div>

                                
                                <!-- <input type="text" class="form-control" readonly name="daterangeInput" id="daterangeInput" [(ngModel)]="category.effectiveDate" value="{{_cfunction.dateFormator(category.effectiveDate,1)}}"  daterangepicker [options]="options" (selected)="selectedDate($event, i); onModelChange(historicalCategory, i, 'DO'); " (change)="onChange4UnsavedChanges('effectiveDate', i, deliveryOpportunityArray)"> -->
                                <!-- <div class="input-group calendar-input-grp width-150p addstoredateshow" daterangepicker [options]="options" (selected)="singleSelect($event)">
                                    <span class="form-control uneditable-input"  name="daterange" >
                                        {{ singleDate | date:'dd/MM/yyyy'}}
                                    </span>
                                    <span class="input-group-addon calendar-addon addstoredateinput" id="orderdateinput">
                                        <i class="glyphicon glyphicon-calendar cust-calender" id="orderdateinput"></i>                                        
                                    </span>
                                </div> -->
                               
                            </div>
                        </div>
                        <!-- <div class="mrgn-left-17per col-xs-3 col-sm-3 col-md-3 col-lg-3 padding-right-zero search-section xspadding ">
                            <div class="input-group dpadding col-xs-12 col-sm-12 col-md-9 col-lg-9">
                                <button type="submit" class="btn pull-right mrgn-r-2 search-button adv-search-btn form-control">VIEW
                                    <span class="brd-left-white rt6px">
                                        <span class="glyphicon glyphicon-search search-icon pull-right"></span>
                                    </span>
                                </button>
                            </div>
                        </div> -->
                        <!--[hidden]="buttonHide"-->
                        <div class="mrgn-left-17per col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-right-zero search-section xspadding "  [ngClass]="(buttonHide) ? 'disable':''">
                            <div class="input-group col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
                                <button type="button" class="btn pull-right mrgn-r-2 search-button adv-search-btn form-control" (click)="generateExport(exportType)">Initiate New Store Export</button>
                            </div>
                        </div>
                    </form>
                    <!--Search Result Model box Mobile start Here-->
                    <button id="openModalResult" [hidden]="true" data-toggle="modal" data-target="#exportResult">Open Modal</button>
                    <div class="col-xs-12 col-md-12 col-lg-12" *ngIf="showErrorMsg">
                        <div class="error-message-container">
                            <div class="categories">
                                <div class="alert alert-danger text-center error-message">
                                    <i class="glyphicon glyphicon-alert"></i> &nbsp;&nbsp;{{errorMsgString}}

                                    <strong></strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Search results section start here-->
                    <div class="col-xs-12 search-results-div catalogue-search hidden-xs" [hidden]="exportResult">
                        <h4 class="search-result-heading">Exported Store Files</h4>
                        <div class="padd-bot11"></div>
                        <div *ngIf="exportdetailListLength == 0">
                            <p class="no-data-text">No data available</p>
                        </div>
                        <div *ngIf="exportdetailListLength > 0" id="exportable" class="table-responsive table-block margintop15 max-height350 pos-inherit">
                            <table class=" custom-borderd-table table table-bordered table-striped search-result-table text-nowrap" border='1'>
                                <thead class="head-color">
                                    <tr>
                                        <th>Date and Time</th>
                                        <th>Filename</th>
                                        <th style="text-align: center;">User</th>
                                        <th style="text-align: center;">Exported Date</th>
                                        <th style="text-align: center;">Status</th>    
                                        <th>Download</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let export of exportDetailList;let i=index" class="catalogue-list-table">
                                        <!--<td>{{export.fileDate}}</td>-->
                                        <td>{{_cfunction.dateFormator(export.fileDate,12)}}</td>
                                        <td>{{export.filename}}</td>
                                        <td style="text-align: center;">{{export.userName}}</td>
                                        <td style="text-align: center;">{{export.selectionDate}}</td>
                                        <td style="text-align: center;">{{export.status}}</td>
                                        <td class="full-range-img-download" [ngClass]="(export.status != 'Completed') ? 'disable':''">
                                            <a (click)="fileDownloadUsingPresignedURL(export.filename)" >
                                                <img src="{{whoImgUrl}}SquareIconDownload.svg" class="img-responsive sqrIcon-npr cursor-pointer">
                                            </a>
                                        </td>
                                       
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- loader section start-->
    <div *ngIf="showLoader" class="overlay-load">
        <div class="loader-box-shadow">
            <div class="load-img">
                <img src="{{whoImgUrl}}spinner.svg" class="loader-image" alt="Loader Image" />
                <div>
                    <h6>LOADING</h6>
                </div>
            </div>
        </div>
    </div>

   
</div>
<!--Search Order section end here-->
<div class="modal fade custom-model zindex999999" id="addConfirmationModal" role="dialog">
    <div class="modal-dialog top75 width314">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="border-top-bottom-popup">
                <h5 class="pad-lft-right-30">Store Process
                    <button type="button" id="close-popup" class="close-icon" (click)="closePopup()" data-dismiss="modal">&#10006;</button>
                </h5>
            </div>
            <div class="modal-body">
                <div class="new-batch-num-popup">
                    <span>{{succMSg}}</span>
                </div>
            </div>
        </div>
        <!-- Modal Content End -->
    </div>
</div>

<div class="hidden-sm hidden-md hidden-lg">
    <div class="row pad-lft-right-15 padd-top-11">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <div class="error-message-container">
                <div class="categories">
                    <div class="alert alert-info text-center error-message">
                        <strong>Sorry, Export Store is available only on desktop view.
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>