<!-- <div class="mvp_bradcrumb">
    <div class="container">
        <div class="col-xs-12 breadcrumb product-breadcrumb">
            <a [routerLink]="['/customerselection']">
                <span class="bradcrumb-text">Home</span>
            </a>/
            <a [routerLink]="['/groups', customerName]">
                <span class="bradcrumb-text">Manage Groups</span>
            </a>/
            <a [routerLink]="['/groups', customerName, groupName, 'users']">
                <span class="bradcrumb-text">Manage User</span>
            </a>/
            <span class="bradcrumb-text bold">View Amendments</span>
        </div>
    </div>
</div> -->
<div class="mmbborder" id="circle-box-border"></div>
<!-- <div id="stickyContainer">
    <div class="sticky hidden-xs border-top-grey-1" id="sticky1">
        <div class="container padd-10-0">
            <div class="row equal">
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 desktop-paddzero mobile-paddzero" id="setBorder">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8 padd0">
                    <main-navigation-menu></main-navigation-menu>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="hidden-xs padd-btm-50 bgcolor-grey padd-top-10 min-height600">
    <div class="container bgcolor-white border-top-grey-1 margintop25">
         <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <h4 class="dis-inlineblc">View Amendments</h4>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
            </div>
        </div>
        <div class="row border-top-grey-1 padd-top-18">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="bg-gainsboro padd6 border-radius3 display-flex">
                    <div class="col-sm-10 col-md-10 col-lg-10">
                        <div>
                            <span class="font-bold">Group Name</span> {{groupName}}
                        </div>
                        <div>
                            <span class="font-bold">Group Description</span> {{groupDesc}}
                        </div>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2 text-right">
                        <div class="radio-item-green-red-grey dis-inlineblc" *ngIf="groupStatus == 'active'">
                            <input type="radio" [checked]="groupStatus == 'active'">
                            <label for="ritema{{i}}"></label>
                        </div>
                        <div class="radio-item-green-red-grey dis-inlineblc" *ngIf="groupStatus != 'active'">
                            <input type="radio" [checked]="groupStatus != 'active'">
                            <label for="ritema{{i}}" class="red-bg"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="bg-gainsboro padd6 border-radius3 display-flex">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div>
                            <span class="font-bold">User Name</span> {{userName}}
                        </div>
                        <div>
                            <span class="font-bold">User Description</span> {{userDesc}}
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div>
                            <span class="font-bold">Login Credentials</span> {{userLogOn}}
                        </div>
                        <div>
                            <span class="font-bold">Administrator</span> {{adminFlag}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container bgcolor-white">
        <div class="row bgcolor-white"  *ngIf="userAmendmentListLength == 0 || noDataFound">
            <div class="col-xs-12 col-md-12 col-lg-12 ">
                <div class="error-message-container">
                    <div class="categories">
                        <div class="alert alert-info text-center error-message">
                            <strong>{{errTxt}}</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row bgcolor-white">
            <div class="col-xs-12 col-md-12 col-lg-12 padd-bot11" *ngIf="userAmendmentListLength != 0 && !noDataFound">
                <div class="table-responsive table-block margintop15 max-height350 tableContainer-role ">
                    <table class="table search-result-table table-hover popup-table-border table-striped td-pad-tb">
                        <thead class="bg-white">
                            <tr>
                                <th>Date & Time</th>
                                <th>Changed By</th>
                                <th width="50%">Description</th>
                            </tr>
                        </thead>
                       <tbody id="tableBody">
                        <tr *ngFor="let amend of userAmendmentList; let i=index" >
                            <td>{{amend.createdAt}}</td>
                            <td>{{amend.createdBy}}</td>
                            <td>{{amend.description}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="text-right padd-bottom-30 padd-right-15 padd-top-10">
                <button class="btn btn-default npr-popup-btn" type="button" (click)="backClicked()">Close</button>
            </div>
        </div>
    </div>
    
    
    <div *ngIf="showLoader" class="overlay-load">
        <div class="loader-box-shadow">
            <div class="load-img">
                <img src="{{whoImgUrl}}spinner.svg" class="loader-image" alt="Loader Image" />
                <div>
                    <h6>LOADING</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hidden-sm hidden-md hidden-lg">
    <div class="row pad-lft-right-15 padd-top-11">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <div class="error-message-container">
                <div class="categories">
                    <div class="alert alert-info text-center error-message">
                        <strong>Sorry, View User Amendments functionality is available only on desktop view.
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>