<!-- Bradcrumb start here-->
<div class="mvp_bradcrumb">
	<div class="container mobilebg">
		<div class="col-xs-12 breadcrumb product-breadcrumb">
			<span class="bradcrumb-text">Home</span>

		</div>
	</div>

</div>
<!-- Bradcrumb end here-->

<!-- Carousal Satrt here-->
<div class="mvp">
	<div class="container">
		<div class="mvp-carousal">

			<h3 class="mobile-heading">SELECT CUSTOMER</h3>
			<p class="text-content">Please proceed from this page by Selecting a Customer from the list provided.</p>
			<!-- <p class="text-content hidden-xs">making this the first time true genrator on the internet</p> -->
		</div>

		<ul class="order-circle">
			<li *ngFor="let organisation of organisationList;let i=index" (click)="redirect('/orders', organisation.orgType)" [ngClass]="(!custPermission[organisation.orgType])?'hide':''">
				<a>
					<img src="{{whoImgUrl}}{{organisation.imgUrl}}" class="img-responsive" alt="{{organisation.orgType}}" />
				</a>
			</li>
		</ul>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " [hidden]="!allCustPermFalse">
			<div class="error-message-container">
				<div class="categories">
					<div class="alert alert-info text-center error-message">
						<strong>Sorry, You are not allow to access this.
						</strong>
					</div>
				</div>
			</div>
		</div>

		<div *ngIf="showLoader" class="overlay-load">
			<div class="loader-box-shadow">
				<div class="load-img">
					<img src="{{whoImgUrl}}spinner.svg" class="loader-image" alt="Loader Image" />
					<div>
						<h6>LOADING</h6>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<!-- Carousal End here-->