<!-- Bradcrumb start here-->
<div class="mvp_bradcrumb">
	<div class="container mobilebg">
		<div class="col-xs-12 breadcrumb product-breadcrumb">
			<span class="bradcrumb-text">Home</span>

		</div>
	</div>

</div>
<!-- Bradcrumb end here-->
 <!--Search Order section start here-->
 <div class="mmbborder" id="circle-box-border"></div>
 <!-- Only Show in Mobile View -->

<!-- Carousal Satrt here-->
<div class="mvp">
	<div class="container">

		<div class="row" *ngIf="!siteMaintanceFlg">

			<div class="mvp-carousal"  [hidden]="assignedIconList.length == 0">

				<h3 class="mobile-heading">SELECT CUSTOMER</h3>
				<p class="text-content">Please proceed from this page by Selecting a Customer from the list provided.</p>
				<!-- <p class="text-content hidden-xs">making this the first time true genrator on the internet</p> -->
			</div>

			<ul class="order-circle" [hidden]="assignedIconList.length == 0 ">
				<li *ngFor="let organisation of assignedIconList | customerorderBy:'customerName':ascending;let i=index" [class.hidden]="organisation.customerName=='All_Wholesale_Customers'" (click)="redirectToComponent(organisation.customerName)">
					<a>
						<img src="{{organisation.image}}" class="img-responsive" alt="{{organisation.customerName}}" />
					</a>
				</li>
			</ul>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " [hidden]="assignedIconList.length != 0">
				<div class="error-message-container">
					<div class="categories">
						<div class="alert alert-info text-center error-message">
							<strong>You do not have any access permissions defined.
							</strong>
						</div>
					</div>
				</div>
			</div>

			<div *ngIf="showLoader" class="overlay-load">
				<div class="loader-box-shadow">
					<div class="load-img">
						<img src="{{whoImgUrl}}spinner.svg" class="loader-image" alt="Loader Image" />
						<div>
							<h6>LOADING</h6>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="row" *ngIf="siteMaintanceFlg">
				
				<div class="col-xs-12 col-sm-12 col-md-12 maintenance-background">
					<div class="heading-text">
						<h3 class="semi-bold text-center hidden-xs">SITE MAINTENACE</h3>
					</div>
	
					<div class="maintenance-box login-box bold text-center">
						{{siteMSg}}
					</div>
				</div>
		</div>

	</div>
</div>

<!-- Carousal End here-->

<div class="modal fade custom-model zindex9999991" id="popup_SessionExpired" role="dialog">
		<div class="modal-dialog top75 width314">
			<div class="modal-content">
				<div class="border-top-bottom-popup">
					<h5 class="padd-left-right-10">Session terminated
						<button type="button" id="close-popup" class="close close-icon" data-dismiss="modal" (click)="closePopup()">&#10006;</button>
					</h5>
				</div>
				<div class="modal-body">
					<div class="new-batch-num-popup">
						<span>Session has been terminated - please log in again.</span>
					</div>
				</div>
				<div class="modal-footer border-top-grey-1">
					<div class="text-right">
						<button class="btn btn-default npr-popup-btn" type="button" (click)="closePopup()">OK</button>
					</div>
				</div>
			</div>
		</div>
	</div>