<!--Search Order section start here-->
<!-- Breadcrumb start here-->
<div class="mvp_bradcrumb">
    <div class="container">
        <div class="col-xs-12 breadcrumb product-breadcrumb">
            <!-- <a >  -->
            <!-- [routerLink]="['/customerselection']" -->
            <span class="bradcrumb-text">Home</span>
            <!-- </a> -->/
            <!-- <a> -->
            <!-- [routerLink]="['/dashboard', customerName]" -->
            <span class="bradcrumb-text">Dashboard</span>
            <!-- </a> -->/
            <!--  <a> -->
            <!-- [routerLink]="['/dashboard', customerName, 'fulfilment']" -->
            <span class="bradcrumb-text">Fulfilment</span>
            <!-- </a> -->/
            <!--  <a> -->
            <!-- (click)="goToLevelOne(['dashboard',customerName,'fulfilment','levelone',catagoryName,uomName, currDate])" -->
            <span class="bradcrumb-text">Drilldown level 1</span>
            <!-- </a> -->/
            <span class="bradcrumb-text bold">Drilldown level 2</span>
        </div>
    </div>
</div>

<!--Search Order section start here-->
<!--<div class="mmbborder" id="circle-box-border">

    
</div>
 Only Show in Mobile View -->

<!--<catalogue-management-pending-request-header></catalogue-management-pending-request-header>-->
<!--Search Order section start here-->
<!--Search Order section start here-->
<div class="mmbborder" id="circle-box-border"></div>
<!-- Only Show in Mobile View -->

<div id="stickyContainer">
    <!--Search order heading section start here-->
    <div class="sticky hidden-xs border-top-grey-1" id="sticky1">
        <div class="container padd-10-0">
            <div class="row equal">
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 desktop-paddzero mobile-paddzero" id="setBorder">
                    <div class="product-i">
                        <img src="{{imgName}}" class="img-responsive product-img-45 pull-left">
                        <h3 class="margin-zero product-title-top-0 font-bold font-size21">{{customerName}}</h3>
                        <!-- 
                        <a [class.hidden]="disabledCusChange ? true : null" (click)="toggleOrganisation()" class="Product-title-anchor">Change Customer
                            <span class="search-arrow-product">
                                <i id="changeIcon" class="glyphicon glyphicon-menu-down small-arrow-up"></i>
                            </span>
                        </a> -->
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8 padd0">
                    <!-- <main-navigation-menu #navIcons></main-navigation-menu> -->
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row desktop-marginzero" [hidden]="hideOrganisation">
                <div class="advanced-search-page text-center">
                    <!-- <a  (click)="toggleOrganisation()"><span class="circle-arrow hidden-xs"><i class="glyphicon glyphicon-menu-up"></i></span></a> -->
                    <ul class="product-circle">
                        <!--  <li *ngFor="let organisation of organisationListChange;let i=index" (click)="changeOrgType('/dashboard', organisation.orgType); navIcons.reloadNavigation(organisation.orgType);"
                            [ngClass]="(!custPermission[organisation.orgType])?'hide':''"> -->
                        <li *ngFor="let organisation of organisationListChange;let i=index" [ngClass]="(!custPermission[organisation.orgType])?'hide':''">
                            <a>
                                <img src="{{organisation.imgUrl}}" class="img-responsive" alt="{{organisation.orgType}}" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



<!--Search order heading section end here-->
<div class="hidden-xs padd-btm-50 bgcolor-grey padd-top-10 min-height600">
    <div class="container bgcolor-white border-top-bottom margintop25">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <h4 class="dis-inlineblc">Fulfilment Dashboard - Drilldown Level 2</h4>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 ">
                <div class="pull-right padd-top-10 text-right">
                    <span class="padd-left10 curs-pointer" (click)="printdata()">
                        <img src="{{whoImgUrl}}IconPrint.svg" class="img-responsive dis-inlineblc img-width padd-right5">Print</span>
                    <span class="padd-left10 padd-right20 curs-pointer" (click)="exportData()">
                        <img src="{{whoImgUrl}}IconDownload.svg" class="img-responsive dis-inlineblc img-width padd-right5">Download</span>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <span class="padd-right10">
                    Ship To Delivery At (Date)
                </span>
                <span class="bold text-black padd-right20">
                    {{currDate | date:'dd/MM/yyyy'}}
                </span>
                <span class="padd-right10">
                    Category
                </span>
                <span class="bold text-black padd-right20">
                    {{catagoryNameStr}}
                </span>
                <span class="padd-right10">
                    UOM
                </span>
                <span class="bold text-black padd-right20">
                    {{uomNameStr}}
                </span>
                <span class="padd-right10">
                    Identifier
                </span>
                <span class="bold text-black padd-right20">
                    {{pinNumber}}
                </span>

                <span class="padd-right10">
                    Product Description
                </span>
                <span class="bold text-black">
                    {{productDescription}}
                </span>
                  <span class="padd-left-20" *ngIf="customerName.toLowerCase() == 'amazon'">
                    Ship To Location
                </span>
                <span class="padd-left-20" *ngIf="customerName.toLowerCase() != 'amazon'">
                    Ship From Location
                </span>
                <span class="bold text-black" *ngIf="shipFromLocationdescp != ''">
                    {{shipFromLocationId}} - {{shipFromLocationdescp? shipFromLocationdescp: ""}}
                </span>
                <span class="bold text-black" *ngIf="shipFromLocationdescp == ''">
                    {{shipFromLocationId}}
                </span>
                  <span class="padd-left-20"  *ngIf="customerName.toLowerCase() == 'amazon'">
                     Channel sub-type
                 </span>
                 <span class="bold text-black" *ngIf="customerName.toLowerCase() == 'amazon'">
                  {{channel}}
                 </span>
            </div>
        </div>
    </div>

    <div class="container bgcolor-white">
        <!--<h3 class="drilldown-header-title pad-left0">SINGLE NEW PRODUCT REQUESTS - ONLINE</h3>  -->
        <!-- <h3 class="drilldown-header-title pad-left0 catalogue-text margin-bot8 color-darkgrey">SINGLE NEW PRODUCT REQUEST - ONLINE</h3> -->
        <div class="pad-lft-right-15">
            <div class="row bgcolor-white">
                <div class="col-xs-12 col-md-12 col-lg-12 " *ngIf="fulfilmentdataLen == 0 ">
                    <div class="error-message-container">
                        <div class="categories">
                            <div class="alert alert-info text-center error-message">
                                <strong>Sorry, No data found at this moment.
                                </strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive table-block mar-top10 border-none  max-height350 pos-inherit" id="orderItemTable" infinite-scroll
                    [infiniteScrollDistance]="2" [infiniteScrollThrottle]="300" [scrollWindow]="false" (scrolled)="onScrollDown()">
                    <table border="1" class="table table-bordered table-striped">
                        <thead>
                            <tr class="bg-green">
                                <th attr.colspan="{{identifierOrderSize}}" class="yellow-border-right order-header">Order
                                    <i id="order_table" (click)="toggleTableColumns('Order');" class="glyphicon glyphicon-chevron-right pull-right"></i>
                                </th>
                                <th attr.colspan="{{identifierProductSize}}" class="yellow-border-right">Product
                                    <i id="product_table" (click)="toggleTableColumns('Product');" class="glyphicon glyphicon-chevron-right pull-right"></i>
                                </th>
                                <th attr.colspan="{{identifierquantitySize}}" class="yellow-border-right">Quantity
                                    <i id="quantity_table" (click)="toggleTableColumns('Quantity');" class="glyphicon glyphicon-chevron-right pull-right"></i>
                                </th>
                                <th attr.colspan="{{identifierpriceSize}}" class="yellow-border-right">Price
                                    <i id="price_table" (click)="toggleTableColumns('Price');" class="glyphicon glyphicon-chevron-right pull-right"></i>
                                </th>
                                <th attr.colspan="{{identifierstatusSize}}">Status
                                    <i id="status_table" (click)="toggleTableColumns('Status');" class="glyphicon glyphicon-chevron-right pull-right"></i>
                                </th>
                            </tr>
                            <tr class="bgcolor-white text-color-black">
                                <th [ngClass]="yellow_border_right_salesOrder" class="vertical-align-middle">Sales Order ID</th>
                                <th [hidden]="orderHide" class="vertical-align-middle">Ship From Location ID</th>
                                <th class="yellow-border-right vertical-align-middle" [hidden]="orderHide">Ship To Location ID</th>
                                <th class="vertical-align-middle">Line</th>
                                <th class="vertical-align-middle">Identifier</th>
                                <th class="vertical-align-middle" [hidden]="productHide">Base</th>
                                <th class="vertical-align-middle" [hidden]="productHide">Alternate</th>
                                <th class="yellow-border-right vertical-align-middle">Description</th>
                                <th class="vertical-align-middle">UOM</th>
                                <th [hidden]="quantityHide" class="vertical-align-middle">Case Size</th>
                                <th [ngClass]="yellow_border_right_ordered" class="vertical-align-middle">Ordered</th>
                                <th [hidden]="quantityHide" class="vertical-align-middle">Confirmed</th>
                                <th [hidden]="quantityHide" class="vertical-align-middle">Picked</th>
                                <th class="yellow-border-right vertical-align-middle" [hidden]="quantityHide">Shipped</th>
                                <th class="vertical-align-middle">Currency</th>
                                <th [hidden]="priceHide" class="vertical-align-middle">Tax</th>
                                <th [ngClass]="yellow_border_right_net" class="vertical-align-middle">Net</th>
                                <th class="yellow-border-right vertical-align-middle" [hidden]="priceHide">Total</th>
                                <th class="vertical-align-middle">Current</th>
                                <th [hidden]="statusHide" class="vertical-align-middle">Stock</th>
                                <th [hidden]="statusHide" class="vertical-align-middle">Value</th>
                                <th [hidden]="statusHide" class="vertical-align-middle">Validation</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of fulfilmentdataArr;let i=index ">
                                <td [ngClass]="yellow_border_right_salesOrder">{{item.orderShipInfo.salesOrderID ? item.orderShipInfo.salesOrderID : '-'}}</td>
                                <td [hidden]="orderHide">{{item.orderShipInfo.shipFromLocationID ? item.orderShipInfo.shipFromLocationID : '-'}}</td>
                                <td class="yellow-border-right" [hidden]="orderHide">{{item.orderShipInfo.shipToLocationID ? item.orderShipInfo.shipToLocationID : '-'}}</td>

                                <td>{{item.productInfo.noOfLines ? item.productInfo.noOfLines: '-'}}</td>
                                <td>{{item.productInfo.productIdentifier ? item.productInfo.productIdentifier : '-'}}</td>
                                <td [hidden]="productHide">{{item.productInfo.productBase ? item.productInfo.productBase : '-'}}</td>
                                <td [hidden]="productHide">{{item.productInfo.productAlternate ? item.productInfo.productAlternate : '-'}}</td>
                                <td class="yellow-border-right">{{item.productDescription ? item.productDescription : '-'}}</td>

                                <td>{{item.uom}}</td>
                                <td [hidden]="quantityHide">{{item.quantityInfo.caseSize}}</td>
                                <td [ngClass]="yellow_border_right_ordered">{{item.quantityInfo.qtyOrdered ? item.quantityInfo.qtyOrdered : '-'}}</td>
                                <td [hidden]="quantityHide">{{item.quantityInfo.qtyConfirmed ? item.quantityInfo.qtyConfirmed : '-'}}</td>
                                <td [hidden]="quantityHide">{{item.quantityInfo.qtyPicked ? item.quantityInfo.qtyPicked : '-'}}</td>
                                <td class="yellow-border-right" [hidden]="quantityHide">{{item.quantityInfo.qtyShipped ? item.quantityInfo.qtyShipped : '-'}}</td>

                                <td>{{item.priceInfo.currency ? item.priceInfo.currency : '-'}}</td>
                                <td [hidden]="priceHide" *ngIf="item.priceInfo.tax || item.priceInfo.tax == 0">{{item.priceInfo.tax}}%</td>
                                <td [hidden]="priceHide" *ngIf="!(item.priceInfo.tax || item.priceInfo.tax == 0)">-</td>

                                <td [ngClass]="yellow_border_right_net">{{(item.priceInfo.amount * ((item.quantityInfo.qtyConfirmed && item.quantityInfo.qtyConfirmed
                                    != 0) ? item.quantityInfo.qtyConfirmed : 1)) | number:'1.0-2'}}</td>

                                <td class="yellow-border-right" *ngIf="(item.priceInfo.tax || item.priceInfo.tax == 0) && (item.priceInfo.amount || item.priceInfo.amount == 0) && (item.quantityInfo.qtyConfirmed || item.quantityInfo.qtyConfirmed == 0)"
                                    [hidden]="priceHide">{{ (item.priceInfo.amount * (item.quantityInfo.qtyConfirmed && item.quantityInfo.qtyConfirmed
                                    != 0 ? item.quantityInfo.qtyConfirmed : 1)) * (item.priceInfo.tax /100) + (item.priceInfo.amount
                                    * (item.quantityInfo.qtyConfirmed && item.quantityInfo.qtyConfirmed != 0 ? item.quantityInfo.qtyConfirmed
                                    : 1)) | number:'1.0-2' }}</td>
                                <td class="yellow-border-right" *ngIf="!((item.priceInfo.tax || item.priceInfo.tax == 0) && (item.priceInfo.amount || item.priceInfo.amount == 0) && (item.quantityInfo.qtyConfirmed || item.quantityInfo.qtyConfirmed == 0))"
                                    [hidden]="priceHide">-</td>
                                <!-- <td class="yellow-border-right" [hidden]="priceHide">{{item.priceInfo.amount && item.priceInfo.tax &&  item.quantityInfo.qtyConfirmed ? ((item.priceInfo.amount * (item.quantityInfo.qtyConfirmed ? item.quantityInfo.qtyConfirmed : 1)) * (item.priceInfo.tax /100) + (item.priceInfo.amount * (item.quantityInfo.qtyConfirmed ? item.quantityInfo.qtyConfirmed : 1))) : "-"}}</td> -->

                                <td>{{item.statuInfo.currentStatus ? item.statuInfo.currentStatus : '-'}}</td>
                                <td [hidden]="statusHide">{{item.statuInfo.stock ? item.statuInfo.stock : '-'}}</td>
                                <td [hidden]="statusHide">{{item.statuInfo.value}}</td>

                                <td *ngIf="item.statuInfo.statValText" [hidden]="statusHide" class="{{item.statuInfo.statValColor}}">
                                    <span *ngIf="item.statuInfo.statValText.length > 2" id="validationTooltip" tooltip="{{item.statuInfo.statValText}}" tooltipPlacement="left">
                                        {{formatSelection(item.statuInfo.statValText)}}
                                    </span>
                                    <span *ngIf="item.statuInfo.statValText.length <= 2 ">
                                        {{item.statuInfo.statValText}}
                                    </span>
                                </td>
                                <td [hidden]="statusHide" id="ordersDetailValidation" class="{{item.statuInfo.statValColor}}" *ngIf="!item.statuInfo.statValText">-</td>

                            </tr>
                        </tbody>
                        <thead>
                            <tr class="bgcolor-white text-color-black" *ngIf="fulfilmentdataLen > 0 ">
                                <th [ngClass]="yellow_border_right_salesOrder" class="vertical-align-middle">Total:ALL</th>
                                <th [hidden]="orderHide" class="vertical-align-middle"></th>
                                <th class="yellow-border-right vertical-align-middle" [hidden]="orderHide"></th>
                                <th class="vertical-align-middle"></th>
                                <th class="vertical-align-middle"></th>
                                <th class="vertical-align-middle" [hidden]="productHide"></th>
                                <th class="vertical-align-middle" [hidden]="productHide"></th>
                                <th class="yellow-border-right vertical-align-middle"></th>
                                <th class="vertical-align-middle"></th>
                                <th [hidden]="quantityHide" class="vertical-align-middle"></th>
                                <th [ngClass]="yellow_border_right_ordered" class="vertical-align-middle">{{orderedTotalQty}}</th>
                                <th [hidden]="quantityHide" class="vertical-align-middle">{{confirmedTotalQty}}</th>
                                <th [hidden]="quantityHide" class="vertical-align-middle">{{pickedTotalQty}}</th>
                                <th class="yellow-border-right vertical-align-middle" [hidden]="quantityHide">{{shippedTotalQty}}</th>
                                <th class="vertical-align-middle"></th>
                                <th [hidden]="priceHide" class="vertical-align-middle"></th>
                                <th [ngClass]="yellow_border_right_net" class="vertical-align-middle"></th>
                                <th class="yellow-border-right vertical-align-middle" [hidden]="priceHide"></th>
                                <th class="vertical-align-middle"></th>
                                <th [hidden]="statusHide" class="vertical-align-middle"></th>
                                <th [hidden]="statusHide" class="vertical-align-middle"></th>
                                <th [hidden]="statusHide" class="vertical-align-middle"></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <!-- loader section start-->
    <div *ngIf="showLoader" class="overlay-load">
        <div class="loader-box-shadow">
            <div class="load-img">
                <img src="{{whoImgUrl}}spinner.svg" class="loader-image" alt="Loader Image" />
                <div>
                    <h6>LOADING</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- loader section end-->

<!-- Print HTML Starts -->
<div class='print_only' id="printHeader" [hidden]="true">
    <!--dashboard container section start-->
    <div class="row dashboard-heading-div">
        <div class="col-xs-12">
            <img class="logo_print" src="{{whoImgUrl}}print_logo.png" [hidden]="export" alt="Morrisons logo">
            <h3 class="font-bold actualprint-ordernno">Fulfilment Dashboard - Drilldown Level 2</h3>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <span class="padd-right10">
            Ship To Delivery At (Date):
        </span>
        <span class="bold text-black padd-right20">
            {{currDate | date:'dd/MM/yyyy'}}
        </span> |
        <span class="padd-left-20">
            Ship From Location:
        </span>
        <span class="bold text-black" *ngIf="shipFromLocationdescp != ''">
            {{shipFromLocationId}} - {{shipFromLocationdescp? shipFromLocationdescp: ""}}
        </span>
        <span class="bold text-black" *ngIf="shipFromLocationdescp == ''">
            {{shipFromLocationId}}
        </span> |
        <span class="padd-right10">
            Category:
        </span>
        <span class="bold text-black padd-right20">
            {{catagoryNameStr}}
        </span> |
        <span class="padd-right10">
            UOM:
        </span>
        <span class="bold text-black padd-right20">
            {{uomNameStr}}
        </span> |
        <span class="padd-right10">
            Identifier:
        </span>
        <span *ngIf="customerName == 'Amazon' || customerName == 'mccolls'" class="bold text-black padd-right20">
            {{pinNumber}} |
        </span>
        <span *ngIf="customerName != 'Amazon' && customerName != 'mccolls'" class="bold text-black padd-right20">
            {{legacy}} |
        </span>
        <span class="padd-right10">
            Product Description:
        </span>
        <span class="bold text-black">
            {{productDescription}}
        </span>
           <span class="padd-right10"  *ngIf="customerName.toLowerCase() == 'amazon'">
          Channel sub-type
        </span>
        <span class="bold text-black" *ngIf="customerName.toLowerCase() == 'amazon'">
            {{channel}}
        </span>
    </div>
    <div class="table-responsive table-block mar-top10 border-none " id="orderItemTable">
        <table border="1" class="table table-bordered table-striped" id="fulfulmentleveltwo">
            <thead>
                <tr class="bg-green">
                    <th colspan="3">Order</th>
                    <th colspan="5">Product</th>
                    <th colspan="6">Quantity</th>
                    <th colspan="4">Price</th>
                    <th colspan="4">Status</th>
                </tr>
                <tr class="bgcolor-white text-color-black">
                    <th>Sales Order ID</th>
                    <th>Ship From Location ID</th>
                    <th>Ship To Location ID</th>
                    <th>Line</th>
                    <th>Identifier</th>
                    <th>Base</th>
                    <th>Alternate</th>
                    <th>Description</th>
                    <th>UOM</th>
                    <th>Case Size</th>
                    <th>Ordered</th>
                    <th>Confirmed</th>
                    <th>Picked</th>
                    <th>Shipped</th>
                    <th>Currency</th>
                    <th>Tax</th>
                    <th>Net</th>
                    <th>Total</th>
                    <th>Current</th>
                    <th>Stock</th>
                    <th>Value</th>
                    <th>Validation</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of fulfilmentdataArr;let i=index ">
                    <td>{{item.orderShipInfo.salesOrderID}}</td>
                    <td>{{item.orderShipInfo.shipFromLocationID}}</td>
                    <td>{{item.orderShipInfo.shipToLocationID}}</td>

                    <td>{{item.productInfo.noOfLines}}</td>
                    <td>{{item.productInfo.productIdentifier}}</td>
                    <td>{{item.productInfo.productBase}}</td>
                    <td>{{item.productInfo.productAlternate}}</td>
                    <td>{{item.productDescription ? item.productDescription : '-'}}</td>

                    <td>{{item.uom}}</td>
                    <td>{{item.quantityInfo.caseSize}}</td>
                    <td>{{item.quantityInfo.qtyOrdered}}</td>
                    <td>{{item.quantityInfo.qtyConfirmed}}</td>
                    <td>{{item.quantityInfo.qtyPicked}}</td>
                    <td>{{item.quantityInfo.qtyShipped}}</td>

                    <td>{{item.priceInfo.currency}}</td>
                    <td>{{item.priceInfo.tax}}%</td>

                    <td>{{(item.priceInfo.amount * ((item.quantityInfo.qtyConfirmed && item.quantityInfo.qtyConfirmed != 0) ?
                        item.quantityInfo.qtyConfirmed : 1)) | number:'1.0-2'}}</td>

                    <td *ngIf="(item.priceInfo.tax || item.priceInfo.tax == 0) && (item.priceInfo.amount || item.priceInfo.amount == 0) && (item.quantityInfo.qtyConfirmed || item.quantityInfo.qtyConfirmed == 0)">{{ (item.priceInfo.amount * (item.quantityInfo.qtyConfirmed && item.quantityInfo.qtyConfirmed != 0 ?
                        item.quantityInfo.qtyConfirmed : 1)) * (item.priceInfo.tax /100) + (item.priceInfo.amount * (item.quantityInfo.qtyConfirmed
                        && item.quantityInfo.qtyConfirmed != 0 ? item.quantityInfo.qtyConfirmed : 1)) | number:'1.0-2' }}</td>
                    <td *ngIf="!((item.priceInfo.tax || item.priceInfo.tax == 0) && (item.priceInfo.amount || item.priceInfo.amount == 0) && (item.quantityInfo.qtyConfirmed || item.quantityInfo.qtyConfirmed == 0))">-</td>

                    <td>{{item.statuInfo.currentStatus ? item.statuInfo.currentStatus : '-'}}</td>
                    <td>{{item.statuInfo.stock ? item.statuInfo.stock : '-'}}</td>
                    <td>{{item.statuInfo.value}}</td>
                    <td *ngIf="item.statuInfo.statValText">{{item.statuInfo.statValText}}</td>
                    <td *ngIf="!item.statuInfo.statValText">-</td>

                </tr>
                <tr *ngIf="fulfilmentdataLen > 0 ">
                    <td [ngClass]="yellow_border_right_salesOrder" class="vertical-align-middle">Total:ALL</td>
                    <td class="vertical-align-middle"></td>
                    <td class="yellow-border-right vertical-align-middle"></td>
                    <td class="vertical-align-middle"></td>
                    <td class="vertical-align-middle"></td>
                    <td class="vertical-align-middle"></td>
                    <td class="vertical-align-middle"></td>
                    <td class="yellow-border-right vertical-align-middle"></td>
                    <td class="vertical-align-middle"></td>
                    <td class="vertical-align-middle"></td>
                    <td [ngClass]="yellow_border_right_ordered" class="vertical-align-middle">{{orderedTotalQty}}</td>
                    <td class="vertical-align-middle">{{confirmedTotalQty}}</td>
                    <td class="vertical-align-middle">{{pickedTotalQty}}</td>
                    <td class="yellow-border-right vertical-align-middle">{{shippedTotalQty}}</td>
                    <td class="vertical-align-middle"></td>
                    <td class="vertical-align-middle"></td>
                    <td class="vertical-align-middle"></td>
                    <td class="yellow-border-right vertical-align-middle"></td>
                    <td class="vertical-align-middle"></td>
                    <td class="vertical-align-middle"></td>
                    <td class="vertical-align-middle"></td>
                    <td class="vertical-align-middle"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- export HTML Starts -->
<div class='print_only' id="exportHeader" [hidden]="true">
    <!--dashboard container section start-->
    <div class="row dashboard-heading-div">
        <div class="col-xs-12">
            <h3 class="font-bold actualprint-ordernno">Fulfilment Dashboard - Drilldown Level 2</h3>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <span class="padd-right10">
            Ship To Delivery At (Date):
        </span>
        <span class="bold text-black padd-right20">
            {{currDate | date:'dd/MM/yyyy'}}
        </span> |
         <span class="padd-left-20" *ngIf="customerName.toLowerCase() != 'amazon'">
            Ship From Location:
        </span>
        <span class="padd-left-20" *ngIf="customerName.toLowerCase() == 'amazon'">
            Ship To Location:
        </span>
        <span class="bold text-black" *ngIf="shipFromLocationdescp != ''">
            {{shipFromLocationId}} - {{shipFromLocationdescp? shipFromLocationdescp: ""}} |
        </span>
        <span class="bold text-black" *ngIf="shipFromLocationdescp == ''">
            {{shipFromLocationId}} |
        </span> |
          <span class="bold text-black"  *ngIf="customerName.toLowerCase() == 'amazon'">
           Channel sub-type
        </span>
        <span class="bold text-black" *ngIf="customerName.toLowerCase() == 'amazon'">
            {{channel}}
        </span>
        <span class="padd-right10">
            Category:
        </span>
        <span class="bold text-black padd-right20">
            {{catagoryNameStr}}
        </span> |
        <span class="padd-right10">
            UOM:
        </span>
        <span class="bold text-black padd-right20">
            {{uomNameStr}}
        </span> |
        <span class="padd-right10">
            Identifier:
        </span>
        <span *ngIf="customerName == 'Amazon' || customerName == 'mccolls'" class="bold text-black padd-right20">
            {{pinNumber}} |
        </span>
        <span *ngIf="customerName != 'Amazon' && customerName != 'mccolls'" class="bold text-black padd-right20">
            {{legacy}} |
        </span>
        <span class="padd-right10">
            Product Description:
        </span>
        <span class="bold text-black">
            {{productDescription}} |
        </span>
           <span class="padd-right10"  *ngIf="customerName.toLowerCase() == 'amazon'">
          Channel sub-type
        </span>
        <span class="bold text-black" *ngIf="customerName.toLowerCase() == 'amazon'">
            {{channel}}
        </span>
       
    </div>
    <div class="table-responsive table-block mar-top10 border-none " id="orderItemTable">
        <table border="1" class="table table-bordered table-striped" id="fulfulmentleveltwo">
            <thead>
                <tr class="bg-green">
                    <th colspan="3">Order</th>
                    <th colspan="5">Product</th>
                    <th colspan="6">Quantity</th>
                    <th colspan="4">Price</th>
                    <th colspan="4">Status</th>
                </tr>
                <tr class="bgcolor-white text-color-black">
                    <th>Sales Order ID</th>
                    <th>Ship From Location ID</th>
                    <th>Ship To Location ID</th>
                    <th>Line</th>
                    <th>Identifier</th>
                    <th>Base</th>
                    <th>Alternate</th>
                    <th>Description</th>
                    <th>UOM</th>
                    <th>Case Size</th>
                    <th>Ordered</th>
                    <th>Confirmed</th>
                    <th>Picked</th>
                    <th>Shipped</th>
                    <th>Currency</th>
                    <th>Tax</th>
                    <th>Net</th>
                    <th>Total</th>
                    <th>Current</th>
                    <th>Stock</th>
                    <th>Value</th>
                    <th>Validation</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of fulfilmentdataArr;let i=index ">
                    <td>{{item.orderShipInfo.salesOrderID}}</td>
                    <td>{{item.orderShipInfo.shipFromLocationID}}</td>
                    <td>{{item.orderShipInfo.shipToLocationID}}</td>

                    <td>{{item.productInfo.noOfLines}}</td>
                    <td>{{item.productInfo.productIdentifier}}</td>
                    <td>{{item.productInfo.productBase}}</td>
                    <td>{{item.productInfo.productAlternate}}</td>
                    <td>{{item.productDescription ? item.productDescription : '-'}}</td>

                    <td>{{item.uom}}</td>
                    <td>{{item.quantityInfo.caseSize}}</td>
                    <td>{{item.quantityInfo.qtyOrdered}}</td>
                    <td>{{item.quantityInfo.qtyConfirmed}}</td>
                    <td>{{item.quantityInfo.qtyPicked}}</td>
                    <td>{{item.quantityInfo.qtyShipped}}</td>

                    <td>{{item.priceInfo.currency}}</td>
                    <td>{{item.priceInfo.tax}}%</td>

                    <td>{{(item.priceInfo.amount * ((item.quantityInfo.qtyConfirmed && item.quantityInfo.qtyConfirmed != 0) ?
                        item.quantityInfo.qtyConfirmed : 1)) | number:'1.0-2'}}</td>

                    <td *ngIf="(item.priceInfo.tax || item.priceInfo.tax == 0) && (item.priceInfo.amount || item.priceInfo.amount == 0) && (item.quantityInfo.qtyConfirmed || item.quantityInfo.qtyConfirmed == 0)">{{ (item.priceInfo.amount * (item.quantityInfo.qtyConfirmed && item.quantityInfo.qtyConfirmed != 0 ?
                        item.quantityInfo.qtyConfirmed : 1)) * (item.priceInfo.tax /100) + (item.priceInfo.amount * (item.quantityInfo.qtyConfirmed
                        && item.quantityInfo.qtyConfirmed != 0 ? item.quantityInfo.qtyConfirmed : 1)) | number:'1.0-2' }}</td>
                    <td *ngIf="!((item.priceInfo.tax || item.priceInfo.tax == 0) && (item.priceInfo.amount || item.priceInfo.amount == 0) && (item.quantityInfo.qtyConfirmed || item.quantityInfo.qtyConfirmed == 0))">-</td>

                    <td>{{item.statuInfo.currentStatus ? item.statuInfo.currentStatus : '-'}}</td>
                    <td>{{item.statuInfo.stock ? item.statuInfo.stock : '-'}}</td>
                    <td>{{item.statuInfo.value}}</td>
                    <td *ngIf="item.statuInfo.statValText">{{item.statuInfo.statValText}}</td>
                    <td *ngIf="!item.statuInfo.statValText">-</td>

                </tr>
                <tr *ngIf="fulfilmentdataLen > 0 ">
                    <td [ngClass]="yellow_border_right_salesOrder" class="vertical-align-middle">Total:ALL</td>
                    <td class="vertical-align-middle"></td>
                    <td class="yellow-border-right vertical-align-middle"></td>
                    <td class="vertical-align-middle"></td>
                    <td class="vertical-align-middle"></td>
                    <td class="vertical-align-middle"></td>
                    <td class="vertical-align-middle"></td>
                    <td class="yellow-border-right vertical-align-middle"></td>
                    <td class="vertical-align-middle"></td>
                    <td class="vertical-align-middle"></td>
                    <td [ngClass]="yellow_border_right_ordered" class="vertical-align-middle">{{orderedTotalQty}}</td>
                    <td class="vertical-align-middle">{{confirmedTotalQty}}</td>
                    <td class="vertical-align-middle">{{pickedTotalQty}}</td>
                    <td class="yellow-border-right vertical-align-middle">{{shippedTotalQty}}</td>
                    <td class="vertical-align-middle"></td>
                    <td class="vertical-align-middle"></td>
                    <td class="vertical-align-middle"></td>
                    <td class="yellow-border-right vertical-align-middle"></td>
                    <td class="vertical-align-middle"></td>
                    <td class="vertical-align-middle"></td>
                    <td class="vertical-align-middle"></td>
                    <td class="vertical-align-middle"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="hidden-sm hidden-md hidden-lg">
    <div class="row pad-lft-right-15 padd-top-11">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <div class="error-message-container">
                <div class="categories">
                    <div class="alert alert-info text-center error-message">
                        <strong>Sorry, Fullfillment Drilldown 2 functionality is available only on desktop view.
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>