<ul class="drover-menu drover-menu-cat pull-right col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <li [class.hidden]="!enableOrder ? true : null" (click)="redirect(['/orders', customerName])" class="drover-icon cursor-pointer padd-menu margin-zero">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right padd0">
            <div class="padd-right-41">
                <img src="{{whoImgUrl}}IconOrders.svg" class="img-responsive width40 dis-inlineblc verti-align-top">
                <span class="menu-product-name-inline dis-inlineblc padd-top-5 text-left padd-top-18">Orders</span>
            </div>
        </div>
    </li>
    <li [class.hidden]="!enableraiseNewOrder ? true : null" class="drover-icon cursor-pointer padd-menu margin-zero">
        <a class="drover-menu-anchor">
            <img src="{{whoImgUrl}}icon_4.png" class="img-responsive  width40 dis-inlineblc verti-align-top">
            <div class="menu-product-name-inline dis-inlineblc padd-top-5 text-left padd-top-18">Raise New
                <br>Order</div>
        </a>
    </li>
    <li [class.hidden]="!enablecatalogueEnquiry ? true : null" (click)="redirect(['/catalogue', customerName])" class="cursor-pointer drover-icon padd-menu margin-zero">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right padd0">
            <div>
                <img src="{{whoImgUrl}}IconCatalogueEnquiries.svg" class="img-responsive width40 dis-inlineblc verti-align-top">
                <span class="menu-product-name-inline dis-inlineblc padd-top-5 text-left">Catalogue
                    <br>Enquiry</span>
            </div>
        </div>
    </li>
    <li [class.hidden]="!enablecatalogueUploadCatalogue ? true : null" (click)="redirect(['/catalogue', customerName, 'upload'])"
        class="cursor-pointer drover-icon padd-menu margin-zero">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right padd0">
            <div>
                <img src="{{whoImgUrl}}IconCatalogueUploadGreen.svg" class="img-responsive width40 dis-inlineblc verti-align-top">
                <div class="menu-product-name-inline dis-inlineblc padd-top-5 text-left">Catalogue
                    <br>Upload</div>
            </div>
        </div>
    </li>
    <li [class.hidden]="!enablecatalogueExportCatalogue ? true : null" (click)="redirect(['/catalogue', customerName, 'export'])"
        class="cursor-pointer drover-icon padd-menu margin-zero">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right padd0">
            <div>
                <img src="{{whoImgUrl}}IconCatalogueDownload.svg" class="img-responsive width40 dis-inlineblc verti-align-top">
                <div class="menu-product-name-inline dis-inlineblc padd-top-5 text-left">Catalogue
                    <br>Export</div>
            </div>
        </div>
    </li>
    <li [class.hidden]="!enablecatalogueAddNewProducts ? true : null" (click)="redirect(['/catalogue', customerName, 'add'], true)"
        class="cursor-pointer drover-icon padd-menu margin-zero">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right padd0">
            <div>
                <img src="{{whoImgUrl}}icon_6.png" class="img-responsive width40 dis-inlineblc verti-align-top">
                <div class="menu-product-name-inline dis-inlineblc padd-top-5 text-left">Add New
                    <br>Product</div>
            </div>
        </div>
    </li>
    <li [class.hidden]="!enablecatalogueManagement ? true : null" class="drover-icon cursor-pointer padd-menu margin-zero" (click)="redirect(['/cataloguemanagement', customerName])">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right padd0">
            <div>
                <img src="{{whoImgUrl}}IconCatalogueManagement.svg" class="img-responsive width40 dis-inlineblc verti-align-top">
                <span class="menu-product-name-inline dis-inlineblc padd-top-5 text-left">Catalogue
                    <br>Management</span>
            </div>
        </div>
    </li>
    <li [class.hidden]="!enablereports ? true : null" class="drover-icon cursor-pointer padd-menu margin-zero" (click)="redirect(['/reports', customerName])">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right padd0">
            <div>
                <img src="{{whoImgUrl}}IconReports.svg" class="img-responsive width40 dis-inlineblc verti-align-top">
                <span class="menu-product-name-inline dis-inlineblc padd-top-18 text-left">Reports</span>
            </div>
        </div>
    </li>
    <li [class.hidden]="!enabledashboards ? true : null" class="drover-icon cursor-pointer padd-menu margin-zero" (click)="redirect(['/dashboard', customerName])">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right padd0">
            <div>
                <img src="{{whoImgUrl}}IconDashboard.svg" class="img-responsive width40 dis-inlineblc verti-align-top">
                <span class="menu-product-name-inline dis-inlineblc padd-top-5 text-left padd-top-18">Dashboards</span>
            </div>
        </div>
    </li>
    <li [class.hidden]="!enableaccessMgmt ? true : null" class="drover-icon cursor-pointer padd-menu margin-zero" (click)="redirect(['/groups', customerName])">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right padd0">
            <div>
                <img src="{{whoImgUrl}}IconPermissions.svg" class="img-responsive width40 dis-inlineblc verti-align-top">
                <span class="menu-product-name-inline dis-inlineblc padd-top-5 text-left">Manage
                    <br>Permissions</span>
            </div>
        </div>
    </li>
    <li [class.hidden]="!enableorderMgmtClaims ? true : null" class="drover-icon cursor-pointer padd-menu margin-zero" (click)="redirect(['/orders', customerName, 'claims'])">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right padd0">
            <div>
                <img src="{{whoImgUrl}}IconOrderClaim.svg" class="img-responsive width40 dis-inlineblc verti-align-top">
                <span class="menu-product-name-inline dis-inlineblc padd-top-5 text-left">Order Management
                    <br>Claims</span>
            </div>
        </div>
    </li>
</ul>