<!-- maintain allocation priority structure starts here -->

<!-- Breadcrumb start here-->
<div class="mvp_bradcrumb">
    <div class="container">
        <div class="col-xs-12 breadcrumb product-breadcrumb">
            <a [routerLink]="['/customerselection']">
                <span class="bradcrumb-text">Home</span>
            </a>/
            <a [routerLink]="['/cataloguemanagement', customerName]">
                <span class="bradcrumb-text">Catalogue Management</span>
            </a>/
            <span class="bradcrumb-text bold">Maintain Allocation Priorities</span>
        </div>
    </div>
</div>
<!-- breadcrumb ends here -->

<!-- navigation menu section starts here -->
<div class="mmbborder" id="circle-box-border"></div>
<div id="stickyContainer">
    <div class="sticky hidden-xs border-top-grey-1" id="sticky1">
        <div class="container padd-10-0">
            <div class="row equal">
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 desktop-paddzero mobile-paddzero" id="setBorder">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8 padd0">
                    <main-navigation-menu></main-navigation-menu>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <catalogue-management-pending-request-header></catalogue-management-pending-request-header> -->
<!-- navigation menu section ends here -->

<!-- maintain allocation priorities content section starts -->
<div class="hidden-xs padd-btm-50 bgcolor-grey padd-top-10 min-height600">
    <div class="container bgcolor-white border-top-bottom margintop25" *ngIf="!siteMaintanceFlg">
        <!-- maintain allocation priority heading, print and download start-->
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <h4 class="dis-inlineblc">Maintain Allocation Priorities</h4>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 " [hidden]="disablePrintHeader">
                <div class="pull-right padd-top-10 text-right">
                    <span class="padd-left10 cursor-pointer" (click)="printOrder()">
                        <img src="{{whoImgUrl}}IconPrint.svg" class="img-responsive dis-inlineblc img-width padd-right5"
                            alt="Print" />Print
                    </span>
                    <span class="padd-left10 cursor-pointer" (click)="exportData()">
                        <img src="{{whoImgUrl}}IconDownload.svg" class="img-responsive dis-inlineblc img-width padd-right5"
                            alt="Download" />Download
                    </span>
                </div>
            </div>
        </div>
        <!-- maintain allocation priority heading, print and download end-->

        <hr class="hr-repricing" />

        <!--maintain allocation priorities table section start-->
        <div class="row">
            <div class="col-xs-12 map-table-section bgcolor-white">
                <form role="form" #editAllocationPriority="ngForm" name="editAllocationPriority" (submit)="saveAllocationPriorities()">
                    <div class="row padd-btm-10">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left edit-section">
                            <button class="btn btn-default store-details-btn" *ngIf="addAllocationPrioritiesPermission" [class.disable]="disableAddBtn" type="button" (click)="addNewRow()"> <i class="glyphicon glyphicon-plus-sign"></i> &nbsp;Add New Priority</button>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right padd-top-5 edit-section" *ngIf="editAllocationPrioritiesPermission">
                            <a (click)="editAP()" *ngIf="showEdit">
                                <span class="edit-icon">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </span>
                                <span class="edit-text">Edit</span>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <table class="custom-borderd-table table table-bordered table-striped search-result-table text-nowrap viewchanges-table"
                                id="allocPriortyTable">
                                <thead class="head-color">
                                    <tr>
                                        <th width="20%">Allocation Priorities</th>
                                        <th width="80%">Description</th>
                                    </tr>
                                </thead>
                                <tbody id="allocPriorityBody" *ngIf="editForm">
                                    <tr *ngFor="let allocationPriority of allocationPriorities; let i=index;">
                                        <td>
                                            <div>
                                                <input type="text" class="form-control" name="allocationPriorityValue_edit_{{i}}" id="allocationPriorityValue_edit_{{i}}"
                                                    placeholder="Allocation Priorities" [(ngModel)]="allocationPriority.allocationPriorityCode"
                                                    (focusout)="_cfunction.validateInputText($event, 10, 'err_invalidap_'+i, 'Allocation Priority Code', true, 'allocationPriorityValue_edit_'+i, true);" (keyup)="checkDuplicateAP(allocationPriority.allocationPriorityCode,i,'errorMsg'+i,$event, 'allocationPriorityValue_edit_'+i);"
                                                    (ngModelChange)="onChange($event,i);" required />
                                                <span class="red" id="errorMsg{{i}}"></span>
                                                <span class="red" id="err_invalidap_{{i}}"></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <input type="text" class="form-control" name="description_{{i}}" id="allocationPriorityDescription_{{i}}"
                                                    placeholder="Description" [(ngModel)]="allocationPriority.allocationPriorityDesc"
                                                    (focusout)="_cfunction.validateInputText($event,0,'err_allocPriorityDesc_'+i, 'Allocation Priority Description', true, 'allocationPriorityDescription_'+i, true);"
                                                    (ngModelChange)="onChange($event,i)" required />
                                                <span class="red" id="err_allocPriorityDesc_{{i}}"></span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody id="allocPriorityBody" *ngIf="!editForm">
                                    <tr *ngFor="let allocationPriority of allocationPriorities; let i=index;">
                                        <td>
                                            <div *ngIf="allocationPriority.allocationId != 0">{{allocationPriority.allocationPriorityCode}}</div>
                                            <div *ngIf="allocationPriority.allocationId == 0">
                                                <input type="text" class="form-control" name="allocationPriorityValue_add_{{i}}" id="allocationPriorityValue_add_{{i}}"
                                                    placeholder="Allocation Priorities" [(ngModel)]="allocationPriority.allocationPriorityCode"
                                                    (focusout)="_cfunction.validateInputText($event, 10, 'err_invalidap_'+i, 'Allocation Priority Code', true, 'allocationPriorityValue_add_'+i, true);"
                                                    (keyup)="checkDuplicateAP(allocationPriority.allocationPriorityCode,i,'errorMsg'+i,$event, 'allocationPriorityValue_add_'+i);" (ngModelChange)="onChange($event,i);" />
                                                <span class="red" id="errorMsg{{i}}"></span>
                                                <span class="red" id="err_invalidap_{{i}}"></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div *ngIf="allocationPriority.allocationId != 0">{{allocationPriority.allocationPriorityDesc}}</div>
                                            <div *ngIf="allocationPriority.allocationId == 0">
                                                <input type="text" class="form-control" name="description_{{i}}" id="allocationPriorityDescription_{{i}}"
                                                    placeholder="Description" [(ngModel)]="allocationPriority.allocationPriorityDesc"
                                                    (focusout)="_cfunction.validateInputText($event,0,'err_allocPriorityDesc_'+i, 'Allocation Priority Description', true, 'allocationPriorityDescription_'+i, true);"
                                                    (ngModelChange)="onChange($event,i)" />
                                                <span class="red" id="err_allocPriorityDesc_{{i}}"></span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-12 col-lg-12 text-right margin-bottom-10">
                            <span *ngIf="addAllocationPrioritiesPermission || editAllocationPrioritiesPermission"><button class="btn btn-default store-details-btn" type="submit" [class.disable]="disableSave">Save</button></span>
                            <button class="btn btn-default store-details-btn" type="button" (click)="cancelAndRedirect()">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--maintain allocation priorities table section end-->
    </div>
    <!--site maintenance start-->
    <div class="row" *ngIf="siteMaintanceFlg">
        <div class="col-xs-12 col-sm-12 col-md-12 maintenance-background">
            <div class="heading-text">
                <h3 class="semi-bold text-center hidden-xs">SITE MAINTENANCE</h3>
            </div>
            <div class="maintenance-box login-box bold text-center">
                {{siteMSg}}
            </div>
        </div>
    </div>
    <!--site maintenance end-->
</div>
<!-- maintain allocation priorities content section ends -->

<!--print functionality start-->

<!--print header-->
<!-- Print HTML starts here -->
<div class='print_only' id="printHeader" [hidden]="printHeader">
    <div class="row dashboard-heading-div">
        <div class="col-xs-12">
            <img class="logo_print" src="{{whoImgUrl}}print_logo.png" alt="Morrisons logo">
        </div>
    </div>

</div>

<div class='print_only' id="exportable" [hidden]="printHeader">
    <div class="row dashboard-heading-div">
        <div class="col-xs-12">
            <h2 class="font-bold actualprint-ordernno">Maintain Allocation Priorities</h2>
        </div>
    </div>
    <div class="row dashboard-heading-div">
        <div class="col-xs-12">
            <table id="mainTbl" border=1>
                <thead>
                    <tr>
                        <th>Allocation Priorities</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let allocationPriority of allocationPriorities;let i=index">
                        <td>{{allocationPriority.allocationPriorityCode}}</td>
                        <td>{{allocationPriority.allocationPriorityDesc}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--print functionality end-->

<!-- success message modal start -->
<div class="modal fade custom-model zindex999999" id="confirmationModal" role="dialog">
    <div class="modal-dialog width-455">
        <!-- Modal content-->
        <div class="modal-content mdl-content">
            <div class=""><button type="button" class="close table-close top16" (click)="closePopup('confirmationModal')"
                    data-dismiss="modal">Close &#10006;</button></div>
            <div class="modal-body ">
                <img class="img-responsive tick" src="{{whoImgUrl}}tick.png">
                <h4 class="prdct-succs">{{popupMsg}}</h4>
            </div>
        </div>
        <!-- Modal Content End -->
    </div>
</div>
<!-- success message modal end -->

<!-- success message modal start -->

<div class="modal fade custom-model opacity_1 out" id="errorMsgPopup" role="dialog">
    <div class="modal-dialog top75 width350">

        <div class="modal-content">
            <div class="border-top-bottom-popup">
                <h5 class="padding-lftrgt-10">Maintain Allocation Priorities
                    <button class="close close-icon" data-dismiss="modal" id="close-popup" (click)="closePopup('errorMsgPopup')"
                        type="button">✖</button>
                </h5>
            </div>
            <div class="modal-body">
                <div class="new-batch-num-popup">
                    <div [innerHTML]="popupMsg"></div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- success message modal end -->
<div class="modal fade custom-model opacity_1" id="popup_SessionExpired" role="dialog">
    <div class="modal-dialog top75 width350">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="border-top-bottom-popup">
                <h5 class="padd-left-right-10">Session terminated<button type="button" id="close-popup" class="close close-icon"
                        data-dismiss="modal" (click)="closePopup('popup_SessionExpired')">&#10006;</button>
                </h5>
            </div>
            <div class="modal-body">
                <div class="new-batch-num-popup">
                    <!-- <span>{{msgJSON.message}}</span> -->
                    <span>Session has been terminated - please log in again.</span>
                </div>
            </div>
            <div class="modal-footer border-top-grey-1">
                <div class="text-right">
                    <button class="btn btn-default npr-popup-btn" type="button" (click)="closePopup('popup_SessionExpired')">OK</button>
                </div>
            </div>
        </div>
        <!-- Modal Content End -->
    </div>
</div>

<!-- maintain allocation priority structure ends here -->