<!-- Breadcrumb start here-->
<div class="mvp_bradcrumb">
    <div class="container">
        <div class="col-xs-12 breadcrumb product-breadcrumb">
            <a [routerLink]="['/customerselection']">
                <span class="bradcrumb-text">Home</span>
            </a>/
            <a [routerLink]="['/groups', customerName]">
                <span class="bradcrumb-text">Manage Groups</span>
            </a>/
            <span class="bradcrumb-text bold">Search Users</span>
        </div>
    </div>
</div>
<div class="mmbborder" id="circle-box-border"></div>
<div id="stickyContainer">
    <div class="sticky hidden-xs border-top-grey-1" id="sticky1">
        <div class="container padd-10-0">
            <div class="row equal">
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 desktop-paddzero mobile-paddzero" id="setBorder">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8 padd0">
                    <main-navigation-menu></main-navigation-menu>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hidden-xs padd-btm-50 bgcolor-grey padd-top-10 min-height600">
    <div class="container bgcolor-white border-top-bottom margintop25">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <h4 class="dis-inlineblc">Search Users</h4>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 ">
            </div>
        </div>
    </div>
    <div class="container bgcolor-white padd-top16">
        <div class="row">
            <div class="col-md-2 col-lg-3"></div>
            <div class="col-sm-12 col-md-8 col-lg-6 ">
                <div class="user-Description display-flex">
                    <form role="form" name="searchUser" class="" (submit)="searchUsers()">
                    <div class="col-sm-2 col-md-2 col-lg-2 text-right padd-top8"><strong>Search for </strong></div>
                    <div class="col-sm-8 col-md-7 col-lg-7"><div class="input-group">
                        <div class="input-group-btn"><input class="form-control order-no-form" required type="text" placeholder="Username" [(ngModel)]="searchUsername" [ngModelOptions]="{standalone: true}" (keypress)="keyPress($event)"></div>
                    </div></div>
                    <div class="col-sm-2 col-md-3 col-lg-3"><button class="btn btn-default npr-popup-btn" type="submit">Search</button></div>
                    </form>
                </div>
            </div>
            <div class="col-md-2 col-lg-3"></div>
        </div>
    </div>
    <div class="container bgcolor-white" *ngIf="showResult">
        <div class="row bgcolor-white">
            <div class="col-xs-12 col-md-12 col-lg-12 " *ngIf="userListLength == 0">
                <div class="error-message-container">
                    <div class="categories">
                        <div class="alert alert-info text-center error-message">
                            <strong>Sorry, No data found at this moment.
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-12 col-lg-12" *ngIf="userListLength != 0">
                <div class="table-responsive table-block margintop15 tableContainer-groups header-fixed">
                    <table class="table search-result-table table-hover popup-table-border table-striped td-pad-tb header-fixed">
                        <thead class="bg-white">
                            <tr>
                                <th>Group Name</th>
                                <th>User Name</th>
                                <th>Login Credentials</th>
                                <th>User Description</th>
                                <th class="text-center">Administrator</th>
                            </tr>
                        </thead>
                        <tbody id="tableBody" *ngIf="userListLength != 0">
                            <tr class="cursor-pointer" *ngFor="let item of userList; let i=index" (click)="selectUser(item)" [class.highlighted]="item.userId == selectedUser && item.groupId == selectedGroup && selectedUser != '' && selectedGroup != ''">
                                <td>{{item.groupName}}</td>
                                <td>{{item.userName}}</td>
                                <td>{{item.userLogon}}</td>
                                <td>{{item.userDescription}}</td>
                                <td class="text-center">
                                    <div class="greenSqrIconToggle dis-inlineblc disable">
                                        <input type="checkbox" id="ritema{{i}}" name="ritem{{i}}" [(ngModel)]="item.adminFlag">
                                        <label for="ritema{{i}}"></label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-right padd-bottom-30" [class.disable]="selectedGroup == ''"> 
                    <button class="btn btn-default npr-popup-btn" type="button" (click)="navigateToUserRoles()">Manage User Roles</button>
                    <button class="btn btn-default white-bg-grn-bdr" type="button" (click)="navigateToUserPermissions()">View User Permissions</button>
                    <button class="btn btn-default white-bg-grn-bdr" type="button" (click)="navigateToUserAmendments()">View User Amendments</button>
                    <button class="btn btn-default white-bg-grn-bdr" type="button" (click)="navigatetoUserHistory()">View User History</button>
                </div>
                <!-- </form> -->
            </div>
        </div>
    </div>
    <!-- loader section start-->
    <div *ngIf="showLoader" class="overlay-load">
        <div class="loader-box-shadow">
            <div class="load-img">
                <img src="{{whoImgUrl}}spinner.svg" class="loader-image" alt="Loader Image" />
                <div>
                    <h6>LOADING</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hidden-sm hidden-md hidden-lg">
    <div class="row pad-lft-right-15 padd-top-11">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <div class="error-message-container">
                <div class="categories">
                    <div class="alert alert-info text-center error-message">
                        <strong>Sorry, Search User functionality is available only on desktop view.
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>