
<div class="mvp_bradcrumb">
    <div class="container">
        <div class="col-xs-12 breadcrumb product-breadcrumb">
            <a [routerLink]="['/customerselection']">
                <span class="bradcrumb-text">Home</span>
            </a>/
            <span *ngIf="loggedInUserGroup == superAdminGroup"><a [routerLink]="['/groups', customerName]">
                <span class="bradcrumb-text">Manage Groups</span>
            </a>/</span>
            <a [routerLink]="['/groups', customerName,groupName, 'users' ]">
                <span class="bradcrumb-text">Manage User</span>
            </a>/
            <span class="bradcrumb-text bold">View User List</span>
        </div>
    </div>
</div>
<div class="mmbborder" id="circle-box-border">
</div>


<div class="hidden-xs padd-btm-50 bgcolor-grey padd-top-10 min-height600">
    <div class="container bgcolor-white border-top-grey-1 margintop25">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <h4 class="dis-inlineblc">View Users List</h4>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
            </div>
        </div>

    </div>

    <div class="container bgcolor-white">
        <div class="row bgcolor-white" *ngIf="noDataFound">
            <div class="col-xs-12 col-md-12 col-lg-12 ">
                <div class="error-message-container">
                    <div class="categories">
                        <div class="alert alert-info text-center error-message">
                            <strong>Sorry, No data found at this moment.
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row bgcolor-white">
            <div class="col-xs-12 col-md-12 col-lg-12" *ngIf="!noDataFound">
                <div class="table-responsive table-block margintop15 max-height335 tableContainer-role">
                    <table class="table search-result-table table-hover popup-table-border table-striped td-pad-tb" *ngIf="userDataLength == 0">
                        <div class="col-xs-12 col-md-12 col-lg-12 ">
                            <div class="error-message-container">
                                <div class="categories">
                                    <div class="alert alert-info text-center error-message">
                                        <strong>Sorry, No data found at this moment.
                            </strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </table>
                    <table class="table search-result-table table-hover popup-table-border table-striped td-pad-tb" *ngIf="userDataLength != 0">
                        <thead class="bg-white">
                            <tr>
                                <th>Login ID</th>
                                <th>Start Date & Time</th>
                                <th>End Date & Time</th>
                                <th>Customer access</th>
                                <th>Kill Session(Button)</th>
                            </tr>
                        </thead>
                        <tbody id="tableBody">
                            <tr *ngFor="let item of userData; let i=index">
                                <td>{{item.userName}}</td>
                                <td><span *ngFor ="let itemsuserLoginDetails of item.userLoginDetails">{{itemsuserLoginDetails.start}}</span></td>
                                <td>-</td>
                                <td  *ngIf = "item.customerAccess.length!=0"><span *ngFor="let itemAccess of item.customerAccess; let isLast=last">
                                    {{itemAccess.customerName}}{{isLast ? '' : ', '}}
                                </span></td>
                              <td  *ngIf = "item.customerAccess.length==0">-</td>
                                <td><button class="btn btn-default npr-popup-btn" type="button" (click)="killsession(item.userId)">Kill Session</button></td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-right padd-bottom-30">
                </div>
            </div>
        </div>
    </div>


    <div *ngIf="showLoader" class="overlay-load">
        <div class="loader-box-shadow">
            <div class="load-img">
                <img src="{{whoImgUrl}}spinner.svg" class="loader-image" alt="Loader Image" />
                <div>
                    <h6>LOADING</h6>
                </div>
            </div>
        </div>
    </div>
</div>