<!--Footer Section start here-->
<div class="container-fluid footer border-top-grey">
    <div class="container">
        
        <!--copyright section start-->
        <div class="row copyright-row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 copyright-div text-right">
                <!-- <span class="copyright-text">&copy; 2017 All rights reserved. Morrisons Ltd</span> -->
                <span class="copyright-text">&copy; 2018 All rights reserved. Morrisons Ltd</span>
            </div>
        </div>
        <!--copyright section end-->
    </div>
</div>
<!--Footer Section end here-->