<!-- Header Start Here -->
<nav class="navbar navbar-default dashboard-navbar">
    <div class="container header">
        <!-- hamburger menu section start-->
        <div class="col-sm-2">
            <button id="nav-toggle" (click)="menuClick()" class="navbar-toggle lines-button x pull-left hidden-sm hidden-md hidden-lg"
                type="button" aria-label="Toggle Navigation" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="lines"></span>
            </button>
            <!-- hamburger menu section end-->
            <a id="diableLogo" *ngIf="pageState == '999'" class="navbar-home wholesale-navbar disabled">
                <img class="homeicon" src="{{whoImgUrl}}morrisons_logo.svg" alt="Morrisons Logo" />
            </a>
            <a *ngIf="pageState != '999'" (click)="changeModal()" class="navbar-home wholesale-navbar">
                <img class="homeicon" src="{{whoImgUrl}}morrisons_logo.svg" alt="Morrisons Logo" />
            </a>
        </div>
        <div class="col-sm-6">
            <div class="row text-center" *ngIf="envFlag">
                Environment: <span class="environment">{{environmentToDisplay}}</span>
            </div>
            <div class="row text-center">
                <span id="deploymentDetailsId" *ngIf="deploymentDetailsMsg != ''">
                  <span > {{deploymentDetailsMsg}}</span>
                </span>
            </div>
            <div class="row text-center">
                <span id="featureDetailsId" *ngIf="featureDetailsMsg != ''">
                 <span > {{featureDetailsMsg}}  </span>
                </span>
            </div>
            <div class="row text-center">
                <span id="businessMessageDetailsId" *ngIf="businessMessageDetailsMsg != ''">
                  <span>  {{businessMessageDetailsMsg}} </span>
                </span>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="dropdown user-signin hidden-xs background-darkgreen" id="login">
                <button class="logout-btn" id="username" type="button" data-toggle="dropdown">

                </button>
                <span class="caret" data-toggle="dropdown"></span>
                <ul class="dropdown-menu pull-right">
                    <span class="caret"></span>
                    <li>
                        <a (click)="checkUnsaved()">Logout</a>
                    </li>
                </ul>
            </div>
        </div>



        <!-- Trigger the modal with a button -->
        <!-- Modal -->
        <div class="modal fade custom-model" id="timeoutModal" role="dialog">
            <div class="modal-dialog mdl-position">

                <!-- Modal content-->
                <div class="modal-content mdl-content">

                    <div class="modal-body">
                        <h4 class="mdl-title">Your session is about to expire!</h4>
                        <p class="mdl-p">You will be logged out in 60 seconds.</p>
                        <p class="mdl-p1">Do you want to stay signed in?</p>

                        <div class="btn-pad">
                            <button type="button" (click)="resetSession()" class="mdl-btn1">Yes, Keep me signed in</button>
                            <button type="button" (click)="timeOutSession()" class="mdl-btn2">No, Sign me out</button>
                        </div>
                    </div>

                </div>


            </div>
        </div>
        <!-- model end -->

        <div class="modal fade custom-model" id="permissionChanges" role="dialog">
            <div class="modal-dialog mdl-position">

                <!-- Modal content-->
                <div class="modal-content mdl-content">

                    <div class="modal-body">
                        <h4 class="mdl-title">{{permissionChangesTxt}}</h4>
                        <p class="mdl-p">You will be logged out in 60 seconds.</p>

                        <div class="btn-pad">
                            <button type="button" (click)="timeOutSession()" class="mdl-btn2">No, Sign me out</button>
                        </div>
                    </div>

                </div>


            </div>
        </div>
        <!-- model end -->

        <!-- unsave changes modal starts here-->
        <div class="modal fade custom-model zindex9999991 unSaveChangesModal" id="unsaveModal" role="dialog">
            <div class="modal-dialog top75">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <div class="new-batch-num-popup">
                            <h4>You have some unsaved changes!</h4>
                            <h4>Do you want to stay on same page?</h4>
                        </div>
                    </div>
                    <div class="modal-footer border-top-grey-1">
                        <div class="">
                            <button type="button" class="btn btn-default npr-popup-btn" (click)="keepMeonSamePage()">Yes, Keep me in</button>
                            <button type="button" class="btn btn-default npr-popup-btn" (click)="navigatTopage()">No, Navigate to click page</button>
                        </div>
                    </div>
                </div>
                <!-- Modal Content End -->
            </div>
        </div>
        <!-- unsave changes modal ends here-->
    </div>
</nav>
<!-- Header End Here -->

<!-- Mobile Menus Start-->
<div id="navbar" class="navbar-collapse collapse">
    <div class="container paddzeo mobileMenuHead">
        <ul class="nav navbar-nav mobileMenu nav-list" id="cat-list">
            <!-- category shuffle for easter ordering -->
            <li id="usernameMob" [routerLinkActive]="['active']">
                <button (click)="menuClose()">
                    <img src="{{whoImgUrl}}mbicon_user.png" class="img-responsive mbslide-img" alt="Customer Image">
                    <span id="usernameMobile" class="newheader-text usernameText"></span>
                </button>
            </li>


            <li id="orderMob" [routerLinkActive]="['active']">
                <button (click)="menuClose()" (click)="navigateMobile('/orders')">
                    <img src="{{whoImgUrl}}mbicon_order.png" class="img-responsive mbslide-img" alt="Customer Image">
                    <span class="newheader-text">Sales Order</span>
                </button>
                <span (click)="toggleOrder()" class="mg-arrow" id="orderArrowSpan">
                    <i id="orderArrow" class="glyphicon glyphicon-menu-down small-arrow-down"></i>
                </span>
            </li>
            <li id="orderRaiseMob" [routerLinkActive]="['active']">
                <button class="mb-menu-align" id="raise-new-order-mbmenu">
                    <img src="{{whoImgUrl}}mbicon_raiseorder.png" class="img-responsive mbslide-img mb-align-img" id="raise-new-order-mbimg"
                        alt="Customer Image">
                    <span class="newheader-text">Raise New Sales Order</span>
                </button>
            </li>

            <li id="catalogueMob" [routerLinkActive]="['active']">
                <button (click)="menuClose()" (click)="navigateMobile('/catalogue')">
                    <img src="{{whoImgUrl}}mbicon_catlogue.png" class="img-responsive mbslide-img" alt="Customer Image">
                    <span class="newheader-text">Catalogue Enquiry</span>
                </button>
                <span (click)="toggleCatalogue()" class="mg-arrow" id="catalogueArrowSpan">
                    <i id="catalogueArrow" class="glyphicon glyphicon-menu-down small-arrow-down"></i>
                </span>
            </li>
            <li id="catalogueRaiseMob" [routerLinkActive]="['active']">
                <button class="mb-menu-align" id="add-new-product-mbmenu">
                    <img src="{{whoImgUrl}}mbicon_addproduct.png" class="img-responsive mbslide-img mb-align-img" id="add-new-product-mbimg"
                        alt="Customer Image">
                    <span class="newheader-text">Add New Product</span>
                </button>
            </li>

            <li id="reportsMob" [routerLinkActive]="['active']">
                <button (click)="menuClose()" (click)="navigateMobile('/reports')">
                    <img src="{{whoImgUrl}}mbicon_reports.png" class="img-responsive mbslide-img" alt="Customer Image">
                    <span class="newheader-text">Reports</span>
                </button>
            </li>
            <li id="permissonsMob" [routerLinkActive]="['active']">
                <button>
                    <img src="{{whoImgUrl}}mbicon_permission.png" class="img-responsive mbslide-img" alt="Customer Image">
                    <span class="newheader-text">Manage Permissions</span>
                </button>
            </li>

            <li id="logoutMob" [routerLinkActive]="['active']">
                <button (click)="menuClose()" (click)="logoutUser()" (click)="redirect('/')">
                    <img src="{{whoImgUrl}}mbicon_logout.png" class="img-responsive mbslide-img" alt="Customer Image">
                    <span class="newheader-text">Logout</span>
                </button>
            </li>
        </ul>
    </div>
</div>
<!-- Mobile Menus End-->