<!--Search Order section start here-->
<!-- Breadcrumb start here-->
<div class="mvp_bradcrumb">
    <div class="container">
        <div class="col-xs-12 breadcrumb product-breadcrumb">
            <a [routerLink]="['/customerselection']">
                <span class="bradcrumb-text">Home</span>
            </a>/
            <a [routerLink]="['/cataloguemanagement', customerName]">
                <span class="bradcrumb-text">Catalogue Management</span>
            </a>/
            <span class="bradcrumb-text bold">Manage New Product Requests</span>
        </div>
    </div>
</div>

<!--Search Order section start here-->
<div class="mmbborder" id="circle-box-border"></div>
<!-- Only Show in Mobile View -->

<catalogue-management-pending-request-header></catalogue-management-pending-request-header>

<!--Search order heading section end here-->
<div class="hidden-xs padd-btm-50 bgcolor-grey padd-top-10 min-height600">
    <div class="container bgcolor-white border-top-bottom margintop25">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <h4 class="dis-inlineblc">Manage New Product Requests</h4>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 ">
                <div class="pull-right padd-top-10 text-right">
                    <span>
                        <img src="{{whoImgUrl}}IconEye.svg" class="img-responsive dis-inlineblc img-width padd-right5">Show Completed Batches</span>
                    <span class="padd-left10  cursor-pointer" (click)="printOrder()">
                        <img src="{{whoImgUrl}}IconPrint.svg" class="img-responsive dis-inlineblc img-width padd-right5">Print</span>
                    <span class="padd-left10 padd-right20  cursor-pointer" (click)="exportData()">
                        <img src="{{whoImgUrl}}IconDownload.svg" class="img-responsive dis-inlineblc img-width padd-right5">Download</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container bgcolor-white">
        <!--<h3 class="drilldown-header-title pad-left0">SINGLE NEW PRODUCT REQUESTS - ONLINE</h3>  -->
        <!-- <h3 class="drilldown-header-title pad-left0 catalogue-text margin-bot8 color-darkgrey">SINGLE NEW PRODUCT REQUEST - ONLINE</h3> -->
        <div class="pad-lft-right-15">
            <div class="row bgcolor-white">

                <div class="table-responsive table-block margintop15 max-height350" id="main-table-container">
                    <table class="table search-result-table table-hover popup-table-border table-striped " id="nprDataTbl">
                        <thead class="bg-white">
                            <tr>
                                <th>Select</th>
                                <th>Batch ID</th>
                                <th>Batch Type</th>
                                <th>Amazon Channel</th>
                                <th>Upload Date</th>
                                <th>Batch Description</th>
                                <th>Total Products</th>
                                <th>Rejected/ Deleted</th>
                                <th>Errored</th>
                                <th>Data Review</th>
                                <th>Commercial Review</th>
                                <th>Supply Ch. Review</th>
                                <th>Awaiting Export</th>
                                <th>Exported</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let rowData of productRequestList; let i=index">
                                <td class="txt-center">
                                    <span class="checkboxFour">
                                        <input type="checkbox" value="1" id="checkboxFourInput{{i}}" class="checkboxFourInput" name="checkboxFourInput{{i}}">
                                        <label for="checkboxFourInput{{i}}"></label>
                                    </span>
                                </td>

                                <td>{{rowData.batchId}}</td>
                                <td>{{rowData.requestType}}</td>
                                <td>{{rowData.channel}}</td>
                                <td>{{rowData.createdDate}}</td>
                                <td>{{rowData.batchDescription}}</td>
                                <td>{{rowData.requestAggregateSummary.productsCount}}</td>
                                <td>{{rowData.requestAggregateSummary.rejectedCount}}</td>
                                <td class="red">{{rowData.requestAggregateSummary.erroredCount}}</td>
                                <td class="red">{{rowData.requestAggregateSummary.pendingDataTeamReviewCount}}</td>
                                <td class="green">{{rowData.requestAggregateSummary.pendingCommercialReviewCount}}</td>
                                <td class="yellow">{{rowData.requestAggregateSummary.pendingSupplychainReviewCount}}</td>
                                <td>{{rowData.requestAggregateSummary.awaitingExportCount}}</td>
                                <td>{{rowData.requestAggregateSummary.exportCount}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

        <div class="row padd-btm-15">
            <div class="col-md-3 col-sm-3 col-lg-2">
                <div class="form-group">
                    <span class="up_arrow glyphicon glyphicon-menu-down top9px"></span>
                    <select class="form-control border-radous-0" [(ngModel)]="selChannel">
                        <option value="">Select</option>
                        <option value="batches">All Batches</option>
                        <option value="cloud">All Cloud</option>
                        <option value="fresh">All Fresh</option>
                        <option value="pn">All PN</option>
                        <option value="pantry">All Pantry</option>
                        <option value="core">All Core</option>
                        <option value="npr">All NPR</option>
                        <option value="ao">All AO</option>
                        <option value="raf">All RAF</option>
                        <!-- <option [value]="add_offer">Add Offer</option> -->
                    </select>
                </div>
            </div>
            <div class="col-md-9 col-sm-9 col-lg-10 text-right">
                <div class="col-md-7 col-sm-4 col-lg-7 text-right">
                </div>
                <div class="col-md-4 col-sm-7 col-lg-4 text-right form-group">
                    <span class="up_arrow glyphicon glyphicon-menu-down top9px"></span>
                    <select class="form-control border-radous-0 padd-right30" [(ngModel)]="selRecordsType">
                        <option value="">Please Select</option>
                        <option value="1">All Lines For Selected Batches</option>
                        <option value="2">Lines Requiring Error Correction</option>
                        <option value="3">Lines Pending Data Team Approval</option>
                        <option value="4">Lines Pending Commercial Approval</option>
                        <option value="5">Lines Pending Supply Chain Approval</option>
                        <!-- <option [value]="add_offer">Add Offer</option> -->
                    </select>
                </div>
                <div class="col-md-1 col-sm-1 col-lg-1 text-right padd-left-0 padd-right-0">
                    <button class="btn btn-default npr-popup-btn mar-bottom-1 padd-lr-adj" (click)="viewSelectedRecordAction()">View</button>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="hidden-sm hidden-md hidden-lg">
    <div class="row pad-lft-right-15 padd-top-11">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <div class="error-message-container">
                <div class="categories">
                    <div class="alert alert-info text-center error-message">
                        <strong>Sorry, Single new product request is available only on desktop view.
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class='print_only' id="printHeader" [hidden]="printHeader">
    <!--dashboard container section start-->
    <div class="row dashboard-heading-div">
        <div class="col-xs-12">
            <img class="logo_print" src="{{whoImgUrl}}print_logo.png" alt="Morrisons logo">
            <h2 class="font-bold actualprint-ordernno">Manage New Product Requests</h2>
        </div>
    </div>
</div>

<div class='print_only' id="hiddenDivForExport" [hidden]="printHeader">
    <table border=1>
        <thead>
            <tr>
                <th>Batch ID</th>
                <th>Batch Type</th>
                <th>Amazon Channel</th>
                <th>Upload Date</th>
                <th>Batch Description</th>
                <th>Total Products</th>
                <th>Rejected/ Deleted</th>
                <th>Errored</th>
                <th>Data Review</th>
                <th>Commercial Review</th>
                <th>Supply Ch. Review</th>
                <th>Awaiting Export</th>
                <th>Exported</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let rowData of productRequestList; let i=index">
                <td>{{rowData.batchId}}</td>
                <td>{{rowData.requestType}}</td>
                <td>{{rowData.channel}}</td>
                <td>{{rowData.createdDate}}</td>
                <td>{{rowData.batchDescription}}</td>
                <td>{{rowData.requestAggregateSummary.productsCount}}</td>
                <td>{{rowData.requestAggregateSummary.rejectedCount}}</td>
                <td class="red">{{rowData.requestAggregateSummary.erroredCount}}</td>
                <td class="red">{{rowData.requestAggregateSummary.pendingDataTeamReviewCount}}</td>
                <td class="green">{{rowData.requestAggregateSummary.pendingCommercialReviewCount}}</td>
                <td class="yellow">{{rowData.requestAggregateSummary.pendingSupplychainReviewCount}}</td>
                <td>{{rowData.requestAggregateSummary.awaitingExportCount}}</td>
                <td>{{rowData.requestAggregateSummary.exportCount}}</td>
            </tr>
        </tbody>
    </table>
</div>