<!--Search Order section start here-->
<!-- Breadcrumb start here-->
<div class="mvp_bradcrumb">
    <div class="container">
        <div class="col-xs-12 breadcrumb product-breadcrumb">
            <a [routerLink]="['/customerselection']">
                <span class="bradcrumb-text">Home</span>
            </a>/
            <a [routerLink]="['/dashboard', customerName]">
                <span class="bradcrumb-text">Dashboard</span>
            </a>/
            <span class="bradcrumb-text bold">Fulfilment</span>
        </div>
    </div>
</div>

<!--Search Order section start here-->
<!--<div class="mmbborder" id="circle-box-border">

    
</div>
 Only Show in Mobile View -->

<!--<catalogue-management-pending-request-header></catalogue-management-pending-request-header>-->
<!--Search Order section start here-->
<!--Search Order section start here-->
<div class="mmbborder" id="circle-box-border"></div>
<!-- Only Show in Mobile View -->

<div id="stickyContainer">
    <!--Search order heading section start here-->
    <div class="sticky hidden-xs border-top-grey-1" id="sticky1">
        <div class="container padd-10-0">
            <div class="row equal">
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 desktop-paddzero mobile-paddzero" id="setBorder">
                    <div class="product-i">
                        <img src="{{imgName}}" class="img-responsive product-img-45 pull-left">
                        <h3 class="margin-zero product-title-top-0 font-bold font-size21">{{customerName}}</h3>
                        <a [class.hidden]="disabledCusChange ? true : null" (click)="toggleOrganisation()" class="Product-title-anchor">Change Customer
                            <span class="search-arrow-product">
                                <i id="changeIcon" class="glyphicon glyphicon-menu-down small-arrow-up"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8 padd0">
                    <main-navigation-menu #navIcons></main-navigation-menu>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row desktop-marginzero" [hidden]="hideOrganisation">
                <div class="advanced-search-page text-center">
                    <!-- <a  (click)="toggleOrganisation()"><span class="circle-arrow hidden-xs"><i class="glyphicon glyphicon-menu-up"></i></span></a> -->
                    <ul class="product-circle">
                        <li *ngFor="let organisation of organisationListChange;let i=index" [class.hidden]="organisation.customerName=='All_Wholesale_Customers'  || organisation.customerName =='kens'"
                            (click)="changeOrgType('/dashboard', organisation.customerName); navIcons.reloadNavigation(organisation.orgType);">
                            <a>
                                <img src="{{getCustomerImage(organisation.customerName)}}" class="img-responsive" alt="{{organisation.customerName}}" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



<!--Search order heading section end here-->
<div class="hidden-xs padd-btm-50 bgcolor-grey padd-top-10 min-height600">
    <div class="container bgcolor-white border-top-bottom margintop25">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <h4 class="dis-inlineblc">Fulfilment Dashboard</h4>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 ">
                <div *ngIf="fulfilmentdataLen  > 0" class="pull-right padd-top-10 text-right">
                    <span class="padd-left10 curs-pointer" (click)="printdata()">
                        <img src="{{whoImgUrl}}IconPrint.svg" class="img-responsive dis-inlineblc img-width padd-right5">Print</span>
                    <span class="padd-left10  curs-pointer" (click)="exportData()">
                        <img src="{{whoImgUrl}}IconDownload.svg" class="img-responsive dis-inlineblc img-width padd-right5">Download</span>

                    <span class="glyphicon glyphicon glyphicon-time padd-left10 padd-right20 curs-pointer" (click)="updatedate()"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 border-top-bottom pendignItem" *ngIf="customerName.toLowerCase() != 'amazon'">
                <p class="dis-inlineblc"><strong>Number of pending line item shipments: {{pendingCount}} </strong></p>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 border-top-bottom pendignItem" *ngIf="customerName.toLowerCase() == 'amazon'">
                <p class="dis-inlineblc"><strong> Number of pending line item shipment for all channel sub-type: {{pendingCount}} </strong></p>
            </div>

        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <form role="form" #fulfillmentSearch="ngForm" class="" (submit)="getNewFulFillmentData(fulfillmentSearch.value)">
                <div class="form-inline">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-zero">
                            <!-- <p class="dis-inlineblc"><strong>Search</strong></p>
                                <div class="dis-inlineblc">
                                    <div>
                                        <span class="down_arrow1 glyphicon glyphicon-menu-down"></span>
                                        <select class="form-control search-select" id="searchType" name="searchType" (change)="onChange($event)" [(ngModel)]="searchType"
                                            required>
                                            <option selected value="ShipToDeliverAt">Ship To  Deliver At</option>
                                            <option value="ShipFromLocation">Ship From Location</option>
                                        </select>
                                    </div>
                                </div>-->

                            <p class="dis-inlineblc"><strong>Delivery Date</strong></p>
                            <div class="dis-inlineblc">
                                <div>
                                    <div id="fulfillmentdateshow" class="input-group calendar-input-grp width-150p">
                                        <input placeholder="DD/MM/YYYY" [ngModel]="deliverydate | date:'dd/MM/yyyy'" id="fulfillmentdateinput" name="fulfillmentdatefrom"
                                            readonly class="form-control selectdate" required>
                                        <span class="input-group-addon calendar-addon" (click)="showPopup()" id="fulfillmentdateinput">
                                                <i class="glyphicon glyphicon-calendar cust-calender" id="fulfillmentdateinput"></i>
                                            </span>
                                    </div>
                                    <div id="orderDatePicker" [hidden]="showDatepicker">
                                        <datepicker id="orderdateinput" name="fulfillmentdateinput" [(ngModel)]="deliverydate" [maxDate]="maxDate" (selectionDone)="onSelectionDone($event)"
                                            [onlyCurrentMonth]=true></datepicker>
                                        <div class="clearfix">
                                            <div class="text-center padd-btm-8">
                                                <button (click)="clearDate()" type="button" class="btn btn-sm btn-green">Clear</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="dis-inlineblc padd-left-20" *ngIf="customerName.toLowerCase() == 'amazon'"><strong>Ship To Location</strong></p>
                            <p class="dis-inlineblc padd-left-20" *ngIf="customerName.toLowerCase() != 'amazon'"><strong>Ship From Location</strong></p>
                            <div class="dis-inlineblc" *ngIf="customerName.toLowerCase() == 'amazon'">
                                <div>
                                    <span class="down_arrow glyphicon glyphicon-menu-down down-arrow-dashboard-amazon"></span>
                                    <select class="form-control periodic-repricing-select down-down-select-dashboard-amazon" id="shipFromLocationIdType" name="shipFromLocationIdType"
                                        [(ngModel)]="shipFromLocationIdType" required>
                                            <option selected>All</option>
                                            <option *ngFor="let location of shipFromLocationIDs; let i=index" [value]="location.id+'-'+location.description">{{location.id + '-' + location.description}}</option>
                                        </select>
                                </div>
                            </div>
                            <div class="dis-inlineblc" *ngIf="customerName.toLowerCase() != 'amazon'">
                                <div>
                                    <span class="down_arrow glyphicon glyphicon-menu-down down-arrow-dashboard"></span>
                                    <select class="form-control periodic-repricing-select down-down-select-dashboard" id="shipFromLocationIdType" name="shipFromLocationIdType"
                                        [(ngModel)]="shipFromLocationIdType" required>
                                            <option selected>All</option>
                                            <option *ngFor="let location of shipFromLocationIDs; let i=index" [value]="location.id+'-'+location.description">{{location.id + '-' + location.description}}</option>
                                        </select>
                                </div>
                            </div>
                            <p class="dis-inlineblc padd-left-20" *ngIf="customerName.toLowerCase() == 'amazon'"><strong>Channel sub-type</strong></p>
                            <div class="dis-inlineblc" *ngIf="customerName.toLowerCase() == 'amazon'">
                                <div>
                                    <span class="down_arrow glyphicon glyphicon-menu-down down-arrow-dashboard"></span>
                                    <select class="form-control periodic-repricing-select down-down-select-dashboard" id="channelSubType" [(ngModel)]="channelSubType"
                                        name="channelSubType" required>
                                    <option selected [value]="ALL" >All</option>
                                    <option *ngFor="let channel of channelSubTypeList" [value]="channel.value">{{channel.name}}</option>
                                </select>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-default npr-popup-btn mar-bottom-1 marginleft20">Search</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="container bgcolor-white">
        <!--<h3 class="drilldown-header-title pad-left0">SINGLE NEW PRODUCT REQUESTS - ONLINE</h3>  -->
        <!-- <h3 class="drilldown-header-title pad-left0 catalogue-text margin-bot8 color-darkgrey">SINGLE NEW PRODUCT REQUEST - ONLINE</h3> -->
        <div class="pad-lft-right-15">
            <div class="row bgcolor-white">
                <div class="col-xs-12 col-md-12 col-lg-12 " *ngIf="fulfilmentdataLen == 0 ">
                    <div class="error-message-container">
                        <div class="categories">
                            <div class="alert alert-info text-center error-message">
                                <strong>Sorry, No data found at this moment.
                                </strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive table-block margintop15 max-height350 tableContainer-fullfilment-0 header-fixed" id="tableContainer"
                    *ngIf="fulfilmentdataLen > 0 ">
                    <table class="table search-result-table table-hover popup-table-border table-striped header-fixed" id="nisfeederexport">
                        <thead class="bg-white">
                            <tr>
                                <th></th>
                                <th></th>
                                <th colspan="2" class="heading-center order-fullfilment">Ordered</th>
                                <th>Rejected</th>
                                <th colspan="2" class="heading-center confirm-fullfilment">Confirmed</th>
                                <th colspan="2" class="heading-center shipped-fullfilment">Shipped</th>
                                <th colspan="2" class="heading-center percentage-fullfilment">Percentage</th>
                                <!--  <th colspan="2" class="heading-center shipped-fullfilment">Percentage</th>
                                
                                    <th colspan="2" >Delivered</th> -->
                            </tr>
                            <tr>
                                <th>Category</th>
                                <th>UOM</th>
                                <th>Total Quantity</th>
                                <th>No. of Lines</th>
                                <th>Total Quantity</th>
                                <th>Total Quantity</th>
                                <th>No. of Lines</th>
                                <th>Total Quantity</th>
                                <th>No. of Lines</th>
                                <!-- 
                                <th>Confirmed V/S Ordered</th> -->
                                <th>% Shipped Quantity</th>
                                <th>% Shipped Lines</th>
                                <!--  <th>Total Quantity</th>
                                        <th>No. of Lines</th> -->
                            </tr>
                        </thead>
                        <tbody *ngIf="fulfilmentdataLen > 0">
                            <tr class="cursor-pointer" *ngFor="let fulfilmentData of fulfilmentdataArr; let i = index;" (click)="gotoLevelone(['dashboard',customerName,'fulfilment','levelone',fulfilmentData.category,fulfilmentData.uom,currDate, channel])">
                                <td class="fulfilment-category">{{fulfilmentData.category}}</td>
                                <td>{{fulfilmentData.uom}}</td>
                                <td *ngIf="fulfilmentData.orderRaised.totalQty">{{fulfilmentData.orderRaised.totalQty}}</td>
                                <td *ngIf="!fulfilmentData.orderRaised.totalQty">0</td>
                                <td *ngIf="fulfilmentData.orderRaised.noOfLines">{{fulfilmentData.orderRaised.noOfLines}}</td>
                                <td *ngIf="!fulfilmentData.orderRaised.noOfLines">0</td>
                                <td *ngIf="fulfilmentData.orderRejected.totalQty">{{fulfilmentData.orderRejected.totalQty}}</td>
                                <td *ngIf="!fulfilmentData.orderRejected.totalQty">0</td>
                                <td *ngIf="fulfilmentData.orderConfirmed.totalQty">{{fulfilmentData.orderConfirmed.totalQty}}</td>
                                <td *ngIf="!fulfilmentData.orderConfirmed.totalQty">0</td>
                                <td *ngIf="fulfilmentData.orderConfirmed.noOfLines">{{fulfilmentData.orderConfirmed.noOfLines}}</td>
                                <td *ngIf="!fulfilmentData.orderConfirmed.noOfLines">0</td>
                                <td *ngIf="fulfilmentData.orderShipped.totalQty">{{fulfilmentData.orderShipped.totalQty }}</td>
                                <td *ngIf="!fulfilmentData.orderShipped.totalQty">0</td>
                                <td *ngIf="fulfilmentData.orderShipped.noOfLines">{{fulfilmentData.orderShipped.noOfLines}} </td>
                                <td *ngIf="!fulfilmentData.orderShipped.noOfLines">0</td>
                                <!-- <td>{{getconfirmedVsOrdered(fulfilmentData.orderRaised.totalQty,fulfilmentData.orderConfirmed.totalQty)}}</td> -->
                                <td> {{getshippedVsOrdered(fulfilmentData.orderRaised.totalQty,fulfilmentData.orderShipped.totalQty)}}</td>
                                <!-- "% Shipped (Lines)" column, = (no. of Shipped Lines)/(no. of Ordered Lines) [display as %, i.e. multiply by 100] -->
                                <td> {{getShippedLines(fulfilmentData.orderShipped.noOfLines,fulfilmentData.orderRaised.noOfLines)}}</td>

                                <!--  
                                    <td>{{fulfilmentData.category}}</td>
                                    <td>{{fulfilmentData.category}}</td> 
                                -->

                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <!--<div class="row bgcolor-white" *ngIf="fulfilmentdataLen > 0 ">
                <div class="table-responsive table-block max-height350 tableBootomContainer-fullfilment-0">
                    <table class="table search-result-table table-hover popup-table-border table-striped header-fixed" id="nisfeederexport">
                        <thead class="bg-white">
                            <tr>
                                <th>Total: Excluding TB and XTB</th>
                                <th>All</th>
                                <th>{{orderQtytotalTBXTB}}</th>
                                <th>{{orderlinetotalTBXTB}}</th>
                                <th>{{rejectTotalQtyTBXTB}}</th>
                                <th>{{confirmTotalQtyTBXTB}}</th>
                                <th>{{confirmTotalLinesTBXTB}}</th>
                                <th>{{shiptotalQtyTBXTB}}</th>
                                <th>{{shiptotalLinesTBXTB}}</th>
                                <!-- 
                                <th>Confirmed V/S Ordered</th> 
                                <th>{{percentShipQtyTBXTB | number : '1.2-2'}}</th>
                                <th>{{percentShipLinesTBXTB | number : '1.2-2'}}</th>
                                <!--  <th>Total Quantity</th>
                                        <th>No. of Lines</th> 
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>-->
            <div class="row bgcolor-white" *ngIf="fulfilmentdataLen > 0 ">
                <div class="table-responsive table-block max-height350 tableBootomContainer-fullfilment-0">
                    <table class="table search-result-table table-hover popup-table-border table-striped header-fixed" id="nisfeederexport">
                        <thead class="bg-white fullfilmet-total-row">
                            <tr>
                                <th>Total: All</th>
                                <th>All</th>
                                <th>{{orderQtytotal}}</th>
                                <th>{{orderlinetotal}}</th>
                                <th>{{rejectTotalQty}}</th>
                                <th>{{confirmTotalQty}}</th>
                                <th>{{confirmTotalLines}}</th>
                                <th>{{shiptotalQty}}</th>
                                <th>{{shiptotalLines}}</th>
                                <!-- 
                                <th>Confirmed V/S Ordered</th> -->
                                <th>{{percentShipQty | number : '1.2-2'}}</th>
                                <th>{{percentShipLines | number : '1.2-2'}}</th>
                                <!--  <th>Total Quantity</th>
                                        <th>No. of Lines</th> -->
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- loader section start-->
    <div *ngIf="showLoader" class="overlay-load">
        <div class="loader-box-shadow">
            <div class="load-img">
                <img src="{{whoImgUrl}}spinner.svg" class="loader-image" alt="Loader Image" />
                <div>
                    <h6>LOADING</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- loader section end-->
<div class='print_only' id="printHeader" [hidden]="true">
    <!--dashboard container section start-->
    <div class="row dashboard-heading-div">
        <div class="col-xs-12">
            <img class="logo_print" src="{{whoImgUrl}}print_logo.png" alt="Morrisons logo">
            <h3 class="font-bold actualprint-ordernno">Fulfilment Dashboard</h3>
            <span class="padd-right10">
                Ship To Delivery At (Date):
            </span>
            <span class="bold text-black padd-right20">
                <strong>{{currDate | date:'dd/MM/yyyy'}} |</strong>
            </span>
            <span class="padd-left-20" *ngIf="customerName.toLowerCase() == 'amazon'">
                Ship To Location:
            </span>
            <span class="padd-left-20" *ngIf="customerName.toLowerCase() != 'amazon'">
                Ship From Location:
            </span>
            <span class="bold text-black">
                <strong>{{shipFromLocationId}} |</strong>
            </span>
            <span class="padd-left-20" *ngIf="customerName.toLowerCase() == 'amazon'">
              Channel sub-type :
            </span>
            <span class="bold text-black">
                <strong>{{subtype}} |</strong>
            </span>
            <span class="bol text-black" *ngIf="customerName.toLowerCase() != 'amazon'">
                Number of pending line item shipments:
            </span>
            <span *ngIf="customerName.toLowerCase() == 'amazon'">
                 Number of pending line item shipment for all channel sub-type:
            </span>
            <span class="bol text-black">
                <strong> {{pendingCount}}</strong>
            </span>
        </div>
    </div>

    <!--Search order content section end here-->

    <table class="table table-bordered table-striped" border=1>
        <thead class="bg-white">
            <tr>
                <th></th>
                <th></th>
                <th colspan="2" class="heading-center">Ordered</th>
                <th>Rejected</th>
                <th colspan="2" class="heading-center">Confirmed</th>
                <th colspan="2" class="heading-center">Shipped</th>
                <th colspan="2" class="heading-center">Percentage</th>
            </tr>
            <tr>
                <th>Category</th>
                <th>UOM</th>
                <th>Total Quantity</th>
                <th>No. of Lines</th>
                <th>Total Quantity</th>
                <th>Total Quantity</th>
                <th>No. of Lines</th>
                <th>Total Quantity</th>
                <th>No. of Lines</th>
                <th>% Shipped Quantity</th>
                <th>% Shipped Lines</th>
            </tr>
        </thead>
        <tbody *ngIf="fulfilmentdataLen > 0">
            <tr class="cursor-pointer" *ngFor="let fulfilmentData of fulfilmentdataArr; let i = index;">
                <td>{{fulfilmentData.category}}</td>
                <td>{{fulfilmentData.uom}}</td>
                <td *ngIf="fulfilmentData.orderRaised.totalQty">{{fulfilmentData.orderRaised.totalQty}}</td>
                <td *ngIf="!fulfilmentData.orderRaised.totalQty">0</td>
                <td *ngIf="fulfilmentData.orderRaised.noOfLines">{{fulfilmentData.orderRaised.noOfLines}}</td>
                <td *ngIf="!fulfilmentData.orderRaised.noOfLines">0</td>
                <td *ngIf="fulfilmentData.orderRejected.totalQty">{{fulfilmentData.orderRejected.totalQty}}</td>
                <td *ngIf="!fulfilmentData.orderRejected.totalQty">0</td>
                <td *ngIf="fulfilmentData.orderConfirmed.totalQty">{{fulfilmentData.orderConfirmed.totalQty}}</td>
                <td *ngIf="!fulfilmentData.orderConfirmed.totalQty">0</td>
                <td *ngIf="fulfilmentData.orderConfirmed.noOfLines">{{fulfilmentData.orderConfirmed.noOfLines}}</td>
                <td *ngIf="!fulfilmentData.orderConfirmed.noOfLines">0</td>
                <td *ngIf="fulfilmentData.orderShipped.totalQty">{{fulfilmentData.orderShipped.totalQty }}</td>
                <td *ngIf="!fulfilmentData.orderShipped.totalQty">0</td>
                <td *ngIf="fulfilmentData.orderShipped.noOfLines">{{fulfilmentData.orderShipped.noOfLines}} </td>
                <td *ngIf="!fulfilmentData.orderShipped.noOfLines">0</td>
                <td> {{getshippedVsOrdered(fulfilmentData.orderRaised.totalQty,fulfilmentData.orderShipped.totalQty)}}</td>
                <!-- "% Shipped (Lines)" column, = (no. of Shipped Lines)/(no. of Ordered Lines) [display as %, i.e. multiply by 100] -->
                <td> {{getShippedLines(fulfilmentData.orderShipped.noOfLines,fulfilmentData.orderRaised.noOfLines)}}</td>
            </tr>
            <tr>
                <td>Total: All</td>
                <td>All</td>
                <td>{{orderQtytotal}}</td>
                <td>{{orderlinetotal}}</td>
                <td>{{rejectTotalQty}}</td>
                <td>{{confirmTotalQty}}</td>
                <td>{{confirmTotalLines}}</td>
                <td>{{shiptotalQty}}</td>
                <td>{{shiptotalLines}}</td>
                <!-- 
                <td>Confirmed V/S Ordered</th> -->
                <td>{{percentShipQty | number : '1.2-2'}}</td>
                <td>{{percentShipLines | number : '1.2-2'}}</td>
                <!--  <th>Total Quantity</th>
                        <th>No. of Lines</th> -->
            </tr>
        </tbody>
    </table>
</div>

<!-- loader section end-->
<div class='print_only' id="exportHeader" [hidden]="true">
    <!--dashboard container section start-->
    <div class="row dashboard-heading-div">
        <div class="col-xs-12">
            <h3 class="font-bold actualprint-ordernno">Fulfilment Dashboard</h3>
            <span class="padd-right10">
                Ship To Delivery At (Date):
            </span>
            <span class="bold text-black padd-right20">
                <strong>{{currDate | date:'dd/MM/yyyy'}} |</strong>
            </span>
            <span class="padd-left-20" *ngIf="customerName.toLowerCase() == 'amazon'">
                Ship To Location:
            </span>
            <span class="padd-left-20" *ngIf="customerName.toLowerCase() != 'amazon'">
                Ship From Location:
            </span>
            <span class="bold text-black">
                <strong>{{shipFromLocationId}} |</strong>
            </span>
            <span class="bol text-black" *ngIf="customerName.toLowerCase() != 'amazon'">
                Number of pending line item shipments:
            </span>
            <span *ngIf="customerName.toLowerCase() == 'amazon'">
                 Number of pending line item shipment for all channel sub-type:
            </span>
            <span class="bol text-black">
                <strong> {{pendingCount}} |</strong>
            </span>
            <span class="padd-left-20" *ngIf="customerName.toLowerCase() == 'amazon'">
              Channel sub-type:
            </span>
            <span class="bold text-black">
                <strong>{{subtype}} |</strong>
            </span>
        </div>
    </div>

    <!--Search order content section end here-->

    <table class="table table-bordered table-striped" border=1>
        <thead class="bg-white">
            <tr>
                <th></th>
                <th></th>
                <th colspan="2" class="heading-center">Ordered</th>
                <th>Rejected</th>
                <th colspan="2" class="heading-center">Confirmed</th>
                <th colspan="2" class="heading-center">Shipped</th>
                <th colspan="2" class="heading-center">Percentage</th>
            </tr>
            <tr>
                <th>Category</th>
                <th>UOM</th>
                <th>Total Quantity</th>
                <th>No. of Lines</th>
                <th>Total Quantity</th>
                <th>Total Quantity</th>
                <th>No. of Lines</th>
                <th>Total Quantity</th>
                <th>No. of Lines</th>
                <th>% Shipped Quantity</th>
                <th>% Shipped Lines</th>
            </tr>
        </thead>
        <tbody *ngIf="fulfilmentdataLen > 0">
            <tr class="cursor-pointer" *ngFor="let fulfilmentData of fulfilmentdataArr; let i = index;">
                <td>{{fulfilmentData.category}}</td>
                <td>{{fulfilmentData.uom}}</td>
                <td *ngIf="fulfilmentData.orderRaised.totalQty">{{fulfilmentData.orderRaised.totalQty}}</td>
                <td *ngIf="!fulfilmentData.orderRaised.totalQty">0</td>
                <td *ngIf="fulfilmentData.orderRaised.noOfLines">{{fulfilmentData.orderRaised.noOfLines}}</td>
                <td *ngIf="!fulfilmentData.orderRaised.noOfLines">0</td>
                <td *ngIf="fulfilmentData.orderRejected.totalQty">{{fulfilmentData.orderRejected.totalQty}}</td>
                <td *ngIf="!fulfilmentData.orderRejected.totalQty">0</td>
                <td *ngIf="fulfilmentData.orderConfirmed.totalQty">{{fulfilmentData.orderConfirmed.totalQty}}</td>
                <td *ngIf="!fulfilmentData.orderConfirmed.totalQty">0</td>
                <td *ngIf="fulfilmentData.orderConfirmed.noOfLines">{{fulfilmentData.orderConfirmed.noOfLines}}</td>
                <td *ngIf="!fulfilmentData.orderConfirmed.noOfLines">0</td>
                <td *ngIf="fulfilmentData.orderShipped.totalQty">{{fulfilmentData.orderShipped.totalQty }}</td>
                <td *ngIf="!fulfilmentData.orderShipped.totalQty">0</td>
                <td *ngIf="fulfilmentData.orderShipped.noOfLines">{{fulfilmentData.orderShipped.noOfLines}} </td>
                <td *ngIf="!fulfilmentData.orderShipped.noOfLines">0</td>
                <td> {{getshippedVsOrdered(fulfilmentData.orderRaised.totalQty,fulfilmentData.orderShipped.totalQty)}}</td>
                <!-- "% Shipped (Lines)" column, = (no. of Shipped Lines)/(no. of Ordered Lines) [display as %, i.e. multiply by 100] -->
                <td> {{getShippedLines(fulfilmentData.orderShipped.noOfLines,fulfilmentData.orderRaised.noOfLines)}}</td>
            </tr>
            <tr>
                <td>Total: All</td>
                <td>All</td>
                <td>{{orderQtytotal}}</td>
                <td>{{orderlinetotal}}</td>
                <td>{{rejectTotalQty}}</td>
                <td>{{confirmTotalQty}}</td>
                <td>{{confirmTotalLines}}</td>
                <td>{{shiptotalQty}}</td>
                <td>{{shiptotalLines}}</td>
                <td>{{percentShipQty | number : '1.2-2'}}</td>
                <td>{{percentShipLines | number : '1.2-2'}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal fade custom-model zindex999999" id="updateDate" role="dialog">
    <div class="modal-dialog top75 width314">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="border-top-bottom-popup">
                <h5 class="padd-left-right-10">Updated Date
                    <button type="button" id="close-popup" class="close close-icon" data-dismiss="modal" (click)="closePopup('updateDate')">&#10006;</button>
                </h5>
            </div>
            <div class="modal-body">
                <div class="new-batch-num-popup">
                    <span>Updated Date : {{updateddate}}</span>
                </div>
            </div>
        </div>
        <!-- Modal Content End -->
    </div>
</div>
<div class="modal fade custom-model zindex9999991" id="popup_SessionExpired" role="dialog">
    <div class="modal-dialog top75 width314">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="border-top-bottom-popup">
                <h5 class="padd-left-right-10">{{msgJSON.title}}
                    <button type="button" id="close-popup" class="close close-icon" data-dismiss="modal" (click)="closePopup()">&#10006;</button>
                </h5>
            </div>
            <div class="modal-body">
                <div class="new-batch-num-popup">
                    <span>{{msgJSON.message}}</span>
                </div>
            </div>
            <div class="modal-footer border-top-grey-1">
                <div class="text-right">
                    <button class="btn btn-default npr-popup-btn" type="button" (click)="closePopup()">OK</button>
                </div>
            </div>
        </div>
        <!-- Modal Content End -->
    </div>
</div>