<!-- maintain allocation priority structure starts here -->

<!-- Breadcrumb start here-->
<div class="mvp_bradcrumb">
        <div class="container">
            <div class="col-xs-12 breadcrumb product-breadcrumb">
                <a [routerLink]="['/customerselection']">
                    <span class="bradcrumb-text">Home</span>
                </a>/
                <a [routerLink]="['/orders', customerName]">
                    <span class="bradcrumb-text">Orders</span>
                </a>/
                <span class="bradcrumb-text bold">Maintain Maximum Order Quantity</span>
            </div>
        </div>
    </div>
    <!-- breadcrumb ends here -->
    <div id="stickyContainer">
        <div class="sticky hidden-xs border-top-grey-1" id="sticky1">
            <div class="container padd-10-0">
                <div class="row equal">
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 desktop-paddzero mobile-paddzero" id="setBorder">
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8 padd0">
                        <main-navigation-menu></main-navigation-menu>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
    <div *ngIf="showLoader" class="overlay-load">
            <div class="loader-box-shadow">
                <div class="load-img">
                    <img src="{{whoImgUrl}}spinner.svg" class="loader-image" alt="Loader Image" />
                    <div>
                        <h6>LOADING</h6>
                    </div>
                </div>
            </div>
    </div>
    <!-- maintain maximum quantity content section starts -->
    <div class="hidden-xs padd-btm-50 bgcolor-grey padd-top-10 min-height600">
        <div class="container bgcolor-white border-top-bottom margintop25">
            <!-- maintain maximum quantity heading-->
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <h4 class="dis-inlineblc">Maintain Maximum Order Quantity</h4>
                </div>
            </div>
            <!-- maintain maximum quantity heading-->
            <hr class="hr-repricing" />
            <div class="row" *ngIf="isAmazonCustomer">

                    <div class="col-xs-6 col-xs-offset-3">
                        <div class="alert alert-warning alert-dismissible fade in text-center" role="alert">
                            <strong>This functionality is applicable to Core only.</strong> 
                        </div>
                    </div>
            
              </div>
            
    
            <!--maintain maximum quantity table section start-->
            
            <div class="row">                    
                <div class="col-xs-12 map-table-section bgcolor-white">
                       <!-- Pagination -->
                            <!-- pager -->
                            
                                <div  class="page" [class.disable]="addRow" *ngIf="recordsIfExit > 0">
                                       
                                    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                                        
                                       
                                        <li [ngClass]="{disabled:pager.currentPage == 1}">
                                            <a (click)="(pager.currentPage > 1) ? setPage(pager.currentPage - 1) : false">&lt;</a>
                                        </li>
                                        <li [ngClass]="{disabled:pager.currentPage == 1}" *ngIf="((pager.currentPage > firstDisplay) && (pager.totalPages > pageDisplay))">
                                                <a (click)="setPage(1)">1</a>
                                        </li>
                                        <li class="disabled" (click)="cancelEvent($event)" *ngIf="(((pager.currentPage - (pageDisplay-1)) >=1) && (pager.totalPages > pageDisplay))">
                                            <a href="javascript:void(0);">. . .</a>
                                        </li> 
                                        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">                                    
                                            <a (click)="setPage(page)">{{page}}</a>
                                        </li>
                                        <li class="disabled" (click)="cancelEvent($event)" *ngIf="(((pager.currentPage + (pageDisplay-1)) <= pager.totalPages) && (pager.totalPages > pageDisplay))">
                                                <a href="javascript:void(0);">. . .</a>
                                        </li>
                                        <li [ngClass]="{disabled:pager.currentPage == pager.totalPages}" *ngIf="((pager.currentPage < (pager.totalPages - lastDisplay)) && (pager.totalPages > pageDisplay))">
                                                <a (click)="setPage(pager.totalPages)">{{pager.totalPages}}</a>
                                        </li>
                                        <li [ngClass]="{disabled:pager.currentPage == pager.totalPages}">
                                            <a (click)="(pager.currentPage < pager.totalPages)? setPage(pager.currentPage + 1) : false">&gt;</a>
                                        </li>
                                        
                                    </ul>
                                    </div>
                                    <!-- end pager -->
                                    <!-- end Pagination -->
                                     <form [formGroup]="validateForm" (ngSubmit)="onSubmit()"> 
                     <!-- <form role="form" #validateForm="ngForm" name="editAllocationPriority" (submit)="onSubmit()"> -->
                        <div class="row padd-btm-10">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left edit-section">
                                <button class="btn btn-default store-details-btn"  [class.disable]="addRow" type="button" (click)="addNewRow()"> <i class="glyphicon glyphicon-cog"></i> &nbsp; Set New Maximum Order Quantity</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    
                                <table class="custom-borderd-table table table-bordered table-striped search-result-table text-nowrap viewchanges-table"
                                    id="allocPriortyTable" >
                                    
                                    <thead class="head-color">
                                        <tr>
                                            <th width="20%">Maximum Order Quantity</th>
                                            <th width="20%">Description</th>
                                            <th width="20%">Implementation Date</th>
                                            <th width="20%">Changed By</th>
                                        </tr>
                                    </thead>                                  
                                    <tbody id="addNewRowBody" *ngIf="addRow">
                                        <tr>
                                            <td>
                                                <div class="form-group">                                                          
                                                        <input type="text" class="form-control" formControlName="maxQuantity" #maxQuantity  >
                                                        <div class="alert alert-danger" *ngIf="submitted && f.maxQuantity.errors">
                                                            <div *ngIf="validateForm.controls['maxQuantity'].errors.required">
                                                               Order Quantity must be entered
                                                           </div> 
                                                           <div *ngIf="f.maxQuantity.hasError('pattern')">
                                                                Please enter valid order quantity 
                                                           </div> 
                                                        </div>
                                                        
                                                </div>
                                              
                                            </td>
                                            <td>
                                                <div>
                                                    <input type="text" class="form-control" formControlName="description" #description>
                                                    <div class="alert alert-danger" *ngIf="submitted && f.description.errors">  
                                                            <div *ngIf="validateForm.controls['description'].errors.required">
                                                                    Description must be entered
                                                            </div>                                                           
                                                           <div *ngIf="f.description.hasError('pattern')">
                                                                Please enter valid description 
                                                           </div> 
                                                        </div>
                                                </div>
                                            </td>
                                            <td>                                    
                                                   

                                            <div class="input-group col-xs-12 col-sm-12">

                                              <div class="input-group col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                                                     <div class="input-group calendar-input-grp width-150p addstoredateshow">
                                                         
                                                           <input type="text"  class="form-control"  formControlName="startDate" daterangepicker [options]="options" (selected)="singleSelect($event)" placeholder="YYYY-MM-DD" (keypress)="false" />
                                                           
                                                          <span class="input-group-addon calendar-addon addstoredateinput" id="orderdateinput" daterangepicker [options]="options" (selected)="singleSelect($event)">
                                                             <i class="glyphicon glyphicon-calendar cust-calender" id="orderdateinput"></i>                                        
                                                          </span>   
                                                                                                                  
                                                      </div>
                                                      <div class="alert alert-danger" *ngIf="submitted && f.startDate.errors">
                                                        <div *ngIf="validateForm.controls['startDate'].errors.required">
                                                           Date must be entered
                                                        </div>
                                                      </div>  
                                                </div>
                                            </div>  
                                                 <!-- <div class="alert alert-danger" *ngIf="validateForm.controls['orderdate'].invalid &&  
                                                          (validateForm.controls['orderdate'].dirty || validateForm.controls['orderdate'].touched)">
                                                         <div *ngIf="validateForm.controls['orderdate'].errors.required">
                                                               Order Date must be entered
                                                         </div> 
                                                </div>  -->
                                            </td>
                                            <td>
                                                <div> 
                                                    &nbsp;
                                                </div>
                                            </td>        
                                        </tr>
                                    </tbody>
                                        <tr *ngIf="recordsIfExit == 0">
                                            <td colspan="4"> 
                                                <p class="no-data-text">No data available</p>
                                            </td>
                                        </tr>
                                        
                                        <tr *ngFor="let data of OrderData">
                                            
                                            <td> {{data.maxQuantity}}  </td>
                                            <td [innerHTML]='data.description | lineBreakStr : 50'></td>                                          
                                            <td> {{data.startDate | date: 'yyyy-MM-dd'}}</td>  
                                            <td> {{data.createdBy}}&nbsp;&nbsp;{{data.createdDate | date: 'yyyy-MM-dd h:mm:ss'}}    </td>
                                            
                                         </tr>
                                  
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-12 col-lg-12 text-right margin-bottom-10">
                                <span *ngIf="addRow"><button class="btn btn-default store-details-btn">Save</button></span>
                                <span *ngIf="addRow"><button class="btn btn-default store-details-btn" (click)="cancelMaxOrder()">Cancel</button></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--maintain allocation priorities table section end-->
        </div>
        <!--site maintenance start-->
        <div class="row" *ngIf="siteMaintanceFlg">
            <div class="col-xs-12 col-sm-12 col-md-12 maintenance-background">
                <div class="heading-text">
                    <h3 class="semi-bold text-center hidden-xs">SITE MAINTENANCE</h3>
                </div>
                <div class="maintenance-box login-box bold text-center">
                    {{siteMSg}}
                </div>
            </div>
        </div>
        <!--site maintenance end-->
    </div>
    <!-- maintain allocation priorities content section ends -->
    
   
    
    <!-- success of record added modal start -->
    <div class="modal fade custom-model zindex999999" id="messageModal" role="dialog">
            <div class="modal-dialog top75 width314">
                <div class="modal-content">
                    <div class="border-top-bottom-popup">
                        <h5 class="padd-left-right-10">Maintain Maximum Order Quantity
                            <button type="button" id="close-popup" class="close close-icon" data-dismiss="modal" (click)="closePopup('messageModal')">&#10006;</button>
                        </h5>
                    </div>
                    <div class="modal-body">
                        <div class="new-batch-num-popup">
                            <div [innerHTML]="popupMsg"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

   <!-- success of record added modal end -->
    
    <!-- success message modal start -->
    <div class="modal fade custom-model zindex999999" id="confirmationModal" role="dialog">
        <div class="modal-dialog width-455">
            <!-- Modal content-->
            <div class="modal-content mdl-content">
                <div class=""><button type="button" class="close table-close top16" (click)="closePopup('confirmationModal')"
                        data-dismiss="modal">Close &#10006;</button></div>
                <div class="modal-body ">
                    <img class="img-responsive tick" src="{{whoImgUrl}}tick.png">
                    <h4 class="prdct-succs">{{popupMsg}}</h4>
                </div>
            </div>
            <!-- Modal Content End -->
        </div>
    </div>
    <!-- success message modal end -->
    
    <!-- success message modal start -->
    
    <div class="modal fade custom-model opacity_1 out" id="errorMsgPopup" role="dialog">
        <div class="modal-dialog top75 width350">
    
            <div class="modal-content">
                <div class="border-top-bottom-popup">
                    <h5 class="padding-lftrgt-10">Maintain Allocation Priorities
                        <button class="close close-icon" data-dismiss="modal" id="close-popup" (click)="closePopup('errorMsgPopup')"
                            type="button">✖</button>
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="new-batch-num-popup">
                        <div [innerHTML]="popupMsg"></div>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
    
    <!-- success message modal end -->
    <div class="modal fade custom-model opacity_1" id="popup_SessionExpired" role="dialog">
        <div class="modal-dialog top75 width350">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="border-top-bottom-popup">
                    <h5 class="padd-left-right-10">Session terminated<button type="button" id="close-popup" class="close close-icon"
                            data-dismiss="modal" (click)="closePopup('popup_SessionExpired')">&#10006;</button>
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="new-batch-num-popup">
                        <!-- <span>{{msgJSON.message}}</span> -->
                        <span>Session has been terminated - please log in again.</span>
                    </div>
                </div>
                <div class="modal-footer border-top-grey-1">
                    <div class="text-right">
                        <button class="btn btn-default npr-popup-btn" type="button" (click)="closePopup('popup_SessionExpired')">OK</button>
                    </div>
                </div>
            </div>
            <!-- Modal Content End -->
        </div>
    </div>
    
    <!-- maintain allocation priority structure ends here -->