<div class="mvp_bradcrumb">
    <div class="container">
        <div class="col-xs-12 breadcrumb product-breadcrumb">
            <a [routerLink]="['/customerselection']">
                <span class="bradcrumb-text">Home</span>
            </a>/
            <a [routerLink]="['/groups', customerName]">
                <span class="bradcrumb-text">Manage Groups</span>
            </a>/
            <span class="bradcrumb-text bold">Manage Roles</span>
        </div>
    </div>
</div>
<div class="mmbborder" id="circle-box-border"></div>
<div id="stickyContainer">
    <div class="sticky hidden-xs border-top-grey-1" id="sticky1">
        <div class="container padd-10-0">
            <div class="row equal">
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 desktop-paddzero mobile-paddzero" id="setBorder">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8 padd0">
                    <main-navigation-menu></main-navigation-menu>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hidden-xs padd-btm-50 bgcolor-grey padd-top-10 min-height600">
    <div class="container bgcolor-white border-top-bottom margintop25">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <h4 class="dis-inlineblc">Manage Group Roles</h4>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 ">
            </div>
        </div>
    </div>
    <div class="container bgcolor-white padd-top-10">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 user-Description">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="row">
                        <span class="font-bold">Group Name</span> {{groupName}}
                    </div>
                    <div class="row">
                        <span class="font-bold">Group Description</span> {{groupDescription}}
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 radio-user">
                    <div class="radio-item-green-red-grey dis-inlineblc" *ngIf="groupStatus == 'active'">
                        <input type="radio" [checked]="groupStatus == 'active'">
                        <label for=""></label>
                    </div>
                    <div class="radio-item-green-red-grey dis-inlineblc" *ngIf="groupStatus != 'active'">
                        <input type="radio" [checked]="groupStatus != 'active'">
                        <label for="" class="red-bg"></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row bgcolor-white">
            <div class="col-xs-12 col-md-12 col-lg-12 " *ngIf="noDataFound">
                <div class="error-message-container">
                    <div class="categories">
                        <div class="alert alert-info text-center error-message">
                            <strong>{{errTxt}}
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-12 col-lg-12">
                <form role="form" #addGrpRole="ngForm" name="addGrpRole" class="" (submit)="saveGroupRoles()">
                    <div class="table-responsive table-block margintop15 tableContainer-groups header-fixed" *ngIf="!noDataFound">
                        <table class="table search-result-table table-hover popup-table-border table-striped td-pad-tb header-fixed" *ngIf="this.roleList.length == 0">
                            <div class="error-message-container">
                                <div class="categories">
                                    <div class="alert alert-info text-center error-message">
                                        <strong>{{errTxt}}
                                        </strong>
                                    </div>
                                </div>
                            </div>
                        </table>
                        <table class="table search-result-table table-hover popup-table-border table-striped td-pad-tb header-fixed" *ngIf="this.roleList.length != 0">
                            <thead class="bg-white">
                                <tr>
                                    <th class="width20">
                                        <div>Role Name</div>
                                    </th>
                                    <th class="width55">
                                        <div>Role Description</div>
                                    </th>
                                    <th class="text-center width20">
                                        <div class="padd-right-32">Status</div>
                                    </th>
                                    <th class="text-center width5">
                                        <div>&nbsp;</div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="tableBody">
                                <tr class="cursor-pointer" *ngFor="let role of roleList; let i=index" [class.highlighted]="role.roleName == selectedRole && selectedRole != ''">
                                    <td class="width20" (click)="selectRole(role)" *ngIf="role.roleName && role.roleName != ''">{{role.roleName}}</td>
                                    <td class="width20" *ngIf="!role.roleName">
                                        <div class="input-group">
                                            <div class="input-group-btn">
                                                <input class="form-control order-no-form" required type="text" id="inpGrp_{{role.roleName1}}" placeholder="Role Name" [(ngModel)]="role.roleName1"
                                                    (focusout)="focusOutFunction($event, i)" [ngModelOptions]="{standalone: true}">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="width55" (click)="selectRole(role)" *ngIf="role.roleDescription && role.roleDescription != ''">{{role.roleDescription}}</td>
                                    <td class="width55" *ngIf="!role.roleDescription">
                                        <div class="input-group">
                                            <div class="input-group-btn">
                                                <input class="form-control order-no-form" required type="text" placeholder="Role Description" [(ngModel)]="role.roleDescription1"
                                                    [ngModelOptions]="{standalone: true}">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-center width20">
                                        <div class="radio-item-green-red-grey dis-inlineblc">
                                            <input type="radio" id="ritema{{i}}" name="ritem{{i}}" [checked]="role.roleStatus == 'active'" (click)="setStatus(i,'active')">
                                            <label for="ritema{{i}}"></label>
                                        </div>
                                        <div class="radio-item-green-red-grey dis-inlineblc">
                                            <input type="radio" id="ritemb{{i}}" name="ritem{{i}}" [checked]="role.roleStatus != 'active'" (click)="setStatus(i,'inactive')">
                                            <label for="ritemb{{i}}" class="red-bg"></label>
                                        </div>
                                    </td>
                                    <td class="text-center width5" *ngIf="role.roleName && role.roleName != ''" (click)="selectRole(role)">&nbsp;</td>
                                    <td class="text-center width5" *ngIf="!role.roleName">
                                        <div class='dis-inlineblc padleft-5'>
                                            <span (click)="deleteRowPopup(i)" class='glyphicon glyphicon-trash text-green padd-top-11 font-size16px'></span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-right padd-bottom-30">
                        <button class="btn btn-default white-bg-grn-bdr" type="button" (click)="addNewRole()">Add New Role</button>
                        <button class="btn btn-default npr-popup-btn" type="button" (click)="resetRoles()">Cancel</button>
                        <button class="btn btn-default npr-popup-btn" type="submit" [class.disablebtn]="!unsavedRole">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container bgcolor-white border-top-grey-1" *ngIf="roleListLength != 0">
        <div class="text-right padd-bottom-30 padd-top-10">
            <button class="btn btn-default white-bg-grn-bdr" type="button"  [tooltipDisabled]="!unsavedRole || selectedRole != ''" tooltip="First save or cancel pending changes"
            tooltipPlacement="top" [class.disablebtn]="unsavedRole || selectedRole == ''" (click)="goToViewRoleUsers()">View Role Users</button>
            <button class="btn btn-default npr-popup-btn" type="button"   [tooltipDisabled]="!unsavedRole || selectedRole != ''" tooltip="First save or cancel pending changes"
            tooltipPlacement="top" (click)="goToManageRoleCustomers()" [class.disablebtn]="unsavedRole || selectedRole == ''">Manage Role Customers</button>
        </div>
    </div>
    <!-- loader section start-->
    <div *ngIf="showLoader" class="overlay-load">
        <div class="loader-box-shadow">
            <div class="load-img">
                <img src="{{whoImgUrl}}spinner.svg" class="loader-image" alt="Loader Image" />
                <div>
                    <h6>LOADING</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade custom-model zindex999999" id="messageModal" role="dialog">
        <div class="modal-dialog top75 width314">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="border-top-bottom-popup">
                    <h5 class="pad-lft-right-30">Manage Group Roles
                        <button type="button" id="close-popup" class="close close-icon" data-dismiss="modal" (click)="closePopup()">&#10006;</button>
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="new-batch-num-popup">
                        <span>{{popupMsg}}</span>
                    </div>
                </div>
            </div>
            <!-- Modal Content End -->
        </div>
    </div>
    <div class="modal fade custom-model zindex999999" id="deleteModal" role="dialog">
        <div class="modal-dialog top75 width314">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="border-top-bottom-popup">
                    <h5 class="padd-left-right-10">Manage Group Roles
                        <button type="button" id="close-popup" class="close close-icon" data-dismiss="modal" (click)="closePopup('deleteModal')">&#10006;</button>
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="new-batch-num-popup">
                        <span>Are you sure you want to delete this?</span>
                    </div>
                </div>
                <div class="modal-footer border-top-grey-1">
                    <div class="text-right">
                        <button class="btn btn-default white-bg-grn-bdr" type="button" (click)="closePopup('deleteModal')">Cancel</button>
                        <button class="btn btn-default npr-popup-btn" type="button" (click)="deleteRow(rowToDelete)">Delete</button>
                    </div>
                </div>
            </div>
            <!-- Modal Content End -->
        </div>
    </div>
</div>

<div class="hidden-sm hidden-md hidden-lg">
    <div class="row pad-lft-right-15 padd-top-11">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <div class="error-message-container">
                <div class="categories">
                    <div class="alert alert-info text-center error-message">
                        <strong>Sorry, Manage Group Roles functionality is available only on desktop view.
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>