<!--Search Order section start here-->
<!-- Breadcrumb start here-->
<div class="mvp_bradcrumb">
    <div class="container">
        <div class="col-xs-12 breadcrumb product-breadcrumb">
            <a [routerLink]="['/customerselection']">
                <span class="bradcrumb-text">Home</span>
            </a>/
            <a [routerLink]="['/cataloguemanagement', customerName]">
                <span class="bradcrumb-text">Catalogue Management</span>
            </a>/
            <a [routerLink]="['/cataloguemanagement', customerName,'npr','manage']">
                <span class="bradcrumb-text">Manage New Product Requests</span>
            </a>/
            <span class="bradcrumb-text bold">All Lines For Selected Batches</span>
        </div>
    </div>
</div>

<!--Search Order section start here-->
<div class="mmbborder" id="circle-box-border"></div>
<!-- Only Show in Mobile View -->

<!--Search order heading section end here-->
<div class="hidden-xs padd-btm-50 bgcolor-grey">
    <catalogue-management-pending-request-header></catalogue-management-pending-request-header>
    <div class="container bgcolor-white border-top-bottom margintop25">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <h4 class="dis-inlineblc">View All Lines From Selected Batches</h4>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 ">
                <div class="pull-right padd-top-10 text-right prnt-download-txt">
                    <span class="padd-left10 curs-pointer" (click)="printBatchLines()">
                        <img src="{{whoImgUrl}}IconPrint.svg" class="img-responsive dis-inlineblc img-width padd-right5">Print</span>
                    <span class="padd-left10 padd-right20 curs-pointer" (click)="exportData()">
                        <img src="{{whoImgUrl}}IconDownload.svg" class="img-responsive dis-inlineblc img-width padd-right5">Download</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container bgcolor-white" id="allLinesContainer">
        <div class="pad-lft-right-15">
            <div class="row bgcolor-white padd-bot20">

                <div class="table-responsive table-block margintop15 max-height350 pos-inherit">
                    <table class="table search-result-table table-hover popup-table-border table-striped " id="nprDataTbl">
                        <thead class="bg-white">
                            <tr class="border-bottom-none">
                                <th colspan="5"></th>
                                <th colspan="3" class="txt-center">Review Status</th>
                                <th colspan="4"></th>
                            </tr>
                            <tr class="border-top-none">
                                <th>Select</th>
                                <th>Vendor SKU (Legacy-MIN-PIN)</th>
                                <th>Description</th>
                                <th>Category</th>
                                <th>Status</th>
                                <th>Data</th>
                                <th>Commercials</th>
                                <th>Supply</th>
                                <th>Batch ID</th>
                                <th>Type</th>
                                <th>Exported</th>
                                <th>Track ID</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let allLineRow of allLinesData;let i=index">
                                <td class="txt-center">
                                    <span class="checkboxFour">
                                        <input type="checkbox" value="1" id="checkboxFourInput{{i}}" class="checkboxFourInput" name="checkboxFourInput{{i}}">
                                        <label for="checkboxFourInput{{i}}"></label>
                                    </span>
                                </td>
                                <td>{{allLineRow.lpm}}</td>
                                <td class="green">
                                    <input type="text" class="textbox-wid-bor" tooltip="{{allLineRow.itemDesc}}" tooltipPlacement="bottom" [(ngModel)]="allLineRow.itemDesc"
                                        maxlength="50" oncopy="return false" oncut="return false" onpaste="return false" (keypress)="keyPressWithSpace($event)">
                                </td>
                                <td>{{allLineRow.department}}</td>
                                <td>{{allLineRow.status}}</td>
                                <td class="green">{{allLineRow.dataReviewStatus}}</td>
                                <td class="red">{{allLineRow.commercialReviewStatus}}</td>
                                <td>{{allLineRow.supplyChainReviewStatus}}</td>
                                <td>{{allLineRow.batchId}}</td>
                                <td>{{allLineRow.requestType}}</td>
                                <td>{{allLineRow.fileReference}}</td>
                                <td>{{allLineRow.trackId}}</td>
                            </tr>

                    </table>
                </div>

                <div class="row padd-btm-15">
                    <div class="col-md-3 col-sm-3 col-lg-2">
                        <div class="form-group">
                            <span class="up_arrow glyphicon glyphicon-menu-down top9px"></span>
                            <select class="form-control border-radous-0" [(ngModel)]="selChannel">
                                <option value="">Select</option>

                                <option value="food">Food</option>
                                <option value="non-food">Non - Food</option>
                                <option value="bws">BWS</option>
                                <!-- <option [value]="add_offer">Add Offer</option> -->
                            </select>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9 col-lg-10 text-right">
                        <button class="btn btn-default npr-popup-btn mar-bottom-1">Generate NIS Feeder Document</button>
                        <button class="btn btn-default npr-popup-btn mar-bottom-1">Generate Add-To-Channel Report</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- loader section start-->
    <div *ngIf="showLoader" class="overlay-load">
        <div class="loader-box-shadow">
            <div class="load-img">
                <img src="{{whoImgUrl}}spinner.svg" class="loader-image" alt="Loader Image" />
                <div>
                    <h6>LOADING</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hidden-sm hidden-md hidden-lg">
    <div class="row pad-lft-right-15 padd-top-11">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <div class="error-message-container">
                <div class="categories">
                    <div class="alert alert-info text-center error-message">
                        <strong>Sorry, Error Correction is available only on desktop view.
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- loader section end-->
<div class='print_only' id="printHeader" [hidden]="true">
    <!--dashboard container section start-->
    <div class="row dashboard-heading-div">
        <div class="col-xs-12">
            <img class="logo_print" src="{{whoImgUrl}}print_logo.png" alt="Morrisons logo">
            <h3 class="font-bold actualprint-ordernno">All lines form selected batches</h3>
        </div>
    </div>
</div>
<!--Search order content section end here-->

<div class='print_only' id="exportable" [hidden]="true">
    <table class="table table-bordered table-striped" border=1>
        <thead class="bg-white">
            <tr class="border-bottom-none">
                <th colspan="4"></th>
                <th colspan="3" class="txt-center">Review Status</th>
                <th colspan="4"></th>
            </tr>
            <tr class="border-top-none">
                <th>Vendor SKU (Legacy-MIN-PIN)</th>
                <th>Description</th>
                <th>Category</th>
                <th>Status</th>
                <th>Data</th>
                <th>Commercials</th>
                <th>Supply</th>
                <th>Batch ID</th>
                <th>Type</th>
                <th>Exported</th>
                <th>Track ID</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let allLineRow of allLinesData;let i=index">
                <td>{{allLineRow.lpm}}</td>
                <td class="green">
                    <span tooltip="{{allLineRow.itemDesc}}" tooltipPlacement="bottom">{{allLineRow.itemDesc}}</span>
                </td>
                <td>{{allLineRow.department}}</td>
                <td>{{allLineRow.status}}</td>
                <td class="green">{{allLineRow.dataReviewStatus}}</td>
                <td class="red">{{allLineRow.commercialReviewStatus}}</td>
                <td>{{allLineRow.supplyChainReviewStatus}}</td>
                <td>{{allLineRow.batchId}}</td>
                <td>{{allLineRow.requestType}}</td>
                <td>{{allLineRow.fileReference}}</td>
                <td>{{allLineRow.trackId}}</td>
            </tr>
        </tbody>
    </table>
</div>