<div class="container tnc-container">
    <div id="top" class="row home">
    </div>
    <div class="row">
        <!--Termcondition Component breadcrumb start here-->
        <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li>
                        <a routerLink="/home">
                            <span class="breadcrumb-underline">Home</span>
                        </a>
                    </li>
                    <li class="active">Terms and Conditions
                    </li>
                </ol>
            </div>
        </div>
        <!--Termcondition Component breadcrumb end here-->

        <!-- Termcondition Component main Seection start here-->
        <div class="sizingWrap">
            <h2 class="sectionTitle">
                <span>
					Terms and Conditions: 
				</span>
                <br> Terms and Conditions of Sale
            </h2>
            <div class="tandc">
                <!-- Termcondition Component about these term paragraph start here-->
                <div class="col-xs-12 section-heading">
                    <h3 id="section1" class="section">About these Terms</h3>
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">These terms and conditions relate to the purchase and collection of orders made through Morrisons&#39; Food
                    to Order Microsite my.morrisons.com/foodtoorder (the &#34;Microsite&#34;). These terms and conditions
                    together with our Privacy Policy and Terms of Use apply to any products that you may purchase from the
                    Microsite.
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">Please read all of these terms and conditions carefully before you order any products because, by ordering,
                    you agree to be bound by them. If you do not accept these terms and conditions, you should not order
                    any products from us. You should print and save a copy of these terms and conditions for your future
                    reference.
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">Please note that these terms and conditions are different to the terms and conditions that govern any purchases
                    that you make on the Morrisons grocery website
                    <a href="https://groceries.morrisons.com" target="blank">groceries.morrisons.com
					</a> or through our mobile app, Morrisons Grocery.
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">The contract will be concluded in English.
                </div>
                <!-- Termcondition Component about these term paragraph end here-->

                <!-- Termcondition Component Your Personal Details paragraph start here-->
                <div class="col-xs-12 section-heading">
                    <h3 id="section2" class="section">Your Personal Details</h3>
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">If you already hold a Morrisons More Card or a Morrisons Grocery Website account you may use these login
                    details to make orders on our Microsite.
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">If you do not already hold a Morrisons More Card or a Morrisons Grocery Website account you will need to
                    register with us to order our products through the Microsite. You will also need to enter certain details
                    during the &#34;checkout&#34; process.
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">In creating a registration on the Microsite you will create an account to use Morrisons grocery website
                    <a href="https://groceries.morrisons.com" target="blank">groceries.morrisons.com
					</a> or through our mobile app, Morrisons Grocery in addition to our Microsite.
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">You will be asked to enter information such as your name, age, address and telephone number. You are responsible
                    for ensuring that all of the information you provide to us is true and accurate.
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">To ensure that your credit, debit or charge card is not being used without your consent and to verify that
                    you are over 18 years of age (see our &#34;Age Restrictions&#34; section below) we carry out certain
                    identity and fraud checks, including validating the name, age and address and other personal information
                    that you give to us during our registration and &#34;checkout&#34; process. We will use certain third
                    party databases to do so (for example, Experian, Equifax and the IMRG Security Alert scheme). We reserve
                    the right to change our checks from time to time.
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">If any problems arise from these checks, we will attempt to contact you (using the contact details you have
                    provided) to discuss this and request additional proof of age, identity or other information (for example,
                    photo ID such as a driving licence or passport) which may be required by Morrisons&#39; Customer Services.
                    We reserve the right to reject or cancel an order at our discretion at any time if we consider that our
                    checks have not been satisfied in full.
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">We think it is important that you know exactly what personal details we collect from you and how we look
                    after and use them. This issue is very important to us, so we have set out full details in our
                    <a href="#/privacypolicy" class="privacy-policy-link">privacy policy</a>.
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">You are responsible for keeping confidential your username, password and any other information relevant to
                    your access to our Microsite.
                </div>
                <!-- Termcondition Component Your Personal Details paragraph end here-->

                <!-- Termcondition Component Ordering through our Microsite paragraph start here-->
                <div class="col-xs-12 section-heading">
                    <h3 id="section3" class="section">Ordering through our Microsite</h3>
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">Our Microsite is only intended for use by people resident on mainland England, Scotland and Wales. We are
                    unable to accept orders from people resident in any other countries.
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">Our Microsite is also only intended for use by consumers; that means people who want to buy our products
                    for personal use and not for any business purposes. We reserve the right to reject or cancel your order
                    if we reasonably think that you are buying our products for business purposes but we will attempt to
                    contact you (using the contact details you have provided) to discuss this first.
                </div>
                <div class="col-xs-12 section-subheading">
                    <h4 class="subHeading">Age Restrictions</h4>
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">We will not sell products to people under the age of 18.
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">We are an ethical retailer and are committed to upholding both our legal and social obligations as a retailer
                    of products. To achieve this position, we have a number of control checks throughout our purchase and
                    delivery process, for example we may ask you to confirm your date of birth when you place an order with
                    us, verify who you say you are through personal identity checks and we will only allow collection by
                    somebody who is, in our reasonable opinion, aged 18 or over.
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">We follow a &#34;Challenge 25&#34; policy. Accordingly, when products, including age restricted products,
                    are collected, if the person collecting your delivery appears to be under the age of 25, we will request
                    photo ID (such as a driving licence or passport) to prove that they are over the age of 18.
                </div>
                <div class="col-xs-12 section-subheading">
                    <h4 class="subHeading">Your Status</h4>
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">By placing an order with us, you are confirming to us that:
                </div>
                <p class="char-bullet">
                    <span class="char-text">a.
					</span>you are a consumer and are not purchasing our products for any business purposes;
                </p>
                <p class="char-bullet">
                    <span class="char-text">b.
					</span>you are at least 18 years old; and
                </p>
                <p class="char-bullet">
                    <span class="char-text">c.
					</span>you are resident in mainland England, Scotland or Wales.
                </p>
                <!-- Termcondition Component Ordering through our Microsite paragraph end here-->

                <!-- Termcondition Component Prices and Product Information paragraph start here-->
                <div class="col-xs-12 section-heading">
                    <h3 id="section4" class="section">Prices and Product Information</h3>
                </div>
                <div class="section-subheading">
                    <h4 class="subHeading">Product Information</h4>
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">All of our product prices are inclusive of VAT.
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">The price of the products will normally be as quoted on our Microsite as at the time of your use. There are
                    some exceptions to this position however, as set out below.
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">The exact price and weight of products you have ordered will be confirmed at the time of collection in&#45;store.
                    If we have changed the price per unit of measurement of a product sold individually by weight since you
                    placed your order and you are not happy with the new price, you may reject the product on collection.
                    In that case, we will not charge you for it and will deduct the cost of the product from your final order
                    amount. You may also be entitled to a refund of your deposit, as set out in paragraph 6.3.
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">Multi&#45;save offers (for example buy two for &#163;5, buy two for &#163;2.50, or buy two for &#163;4) are
                    available on certain items. The multi&#45;save discount for these offers will be deducted in&#45;store
                    at the time of collection, but the estimated order total displayed online will include the full price
                    for those items. If you have any queries about the price detailed in your confirmed order, please contact
                    Customer Services on 0345 611 611, or speak to staff in&#45;store at the time of collection.
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">Some products are only available at certain times and this is confirmed on each product page. The online
                    ordering system will suggest suitable collection dates and times based on the items which you place in
                    your basket.
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">The products sold on our Microsite are special promotional products and are only available while stocks last.
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">We stock a large number of products and it is always possible that, despite our best efforts, some of the
                    products listed may be incorrectly priced. If a product’s correct price is less than our stated price,
                    we will charge the lower amount. If a product’s correct price is higher than our stated price, we will
                    notify you when we deliver that product to you and you can choose whether you want to accept or reject
                    the relevant product. If you reject the product we will not charge you for it and will return it at our
                    own cost. You may also be entitled to a refund of your deposit, as set out in paragraph 6.2. If you accept
                    the product, we will charge the correct price.
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">The product information contained on our Microsite has been published in good faith and we will do our best
                    to ensure that it is accurate. However, occasionally, it may be incorrect, incomplete or out of date
                    due to human error or circumstances beyond our control. Where information is incorrect due to an error
                    or circumstances beyond our control, we reserve the right not to accept your order for the affected products,
                    or if your order has already been accepted, not to supply the affected products to you. We will notify
                    you if this is the case and will not charge you for the product. You may also be entitled to a refund
                    of your deposit, as set out in paragraph 6.2.
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">Some of the product descriptions contain illustrative photographs and serving suggestions. Colours and appearances
                    of products on computer, tablet or mobile device screens may vary slightly and may not accurately reflect
                    actual products delivered. Product specifications may change from time to time which means that, if the
                    specification has changed in the meantime, the information displayed on our Microsite when you place
                    an order may not reflect the product you receive. If you think that the product you have received does
                    not match its description, then you can reject it in accordance with paragraph 8.10.
                </div>
                <div class="col-xs-12 section-subheading">
                    <h4 class="subHeading">Products sold individually by weight</h4>
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">Where products are sold individually by weight (such as certain fresh meat, poultry, fish, cheese, fruit
                    or vegetables) the price of these products will be expressed per kilogram or in another appropriate unit
                    of measurement. For some products sold individually by weight you may also be able to choose items within
                    approximate weight bands, or of an approximate thickness or size. In each case, we will weigh the individual
                    item to be delivered to you when we pick it for delivery, calculate the price for that item based on
                    its actual weight and the price per kilogram (or other appropriate unit of measurement) in force at the
                    time of picking, and charge you that price.
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">The exact price and weight will be confirmed at the time of collection. If we have changed the price per
                    unit of measurement of a product sold individually by weight since you placed your order and you are
                    not happy with the new price, you may reject the product on collection. In that case, we will not charge
                    you for it (and if such products make up your entire order we will return your deposit).
                </div>
                <div class="col-xs-12 section-subheading">
                    <h4 class="subHeading">Allergy Information</h4>
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">The product information contained on our Microsite may not include information on allergens used in our products
                    on the respective product page. A full list of allergen information is available in store, or by contacting
                    our Customer Services team using the contact details set out in paragraph 11 below.
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">Allergen information will also be available on each product at the time of collection. If you no longer wish
                    to purchase a product based on allergen information provided at the time of the product you may remove
                    such products from your order (and if such products make up your entire order we will return your deposit).
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">Morrisons cannot be held responsible if you fail to confirm the suitability of any products prior to making
                    your order.
                </div>
                <!-- Termcondition Component Prices and Product Information paragraph end here-->

                <!-- Termcondition Component Making your Order and Payment paragraph start here-->
                <div class="col-xs-12 section-heading">
                    <h3 id="section5" class="section">Making your Order and Payment</h3>
                </div>
                <div class="section-subheading">
                    <h4 class="subHeading">Forming the contract</h4>
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">The technical steps required to create a contract between you and us for purchase of products are as follows:
                </div>
                <p>
                </p>
                <ul class="col-xs-12 normalUl">
                    <li>
                        You must select the products you wish to order and a delivery date and timeslot, and then go to our &#34;checkout&#34;.
                    </li>
                    <li>
                        You will be guided through the &#34;checkout&#34; process by a series of instructions. If you want to correct any errors
                        you have made, you can use our functionality to go back and remove individual products from your
                        order or empty your trolley and start again.
                    </li>
                    <li>
                        You will be asked to choose a date and time and Morrisons store from which you would like to collect your order.
                    </li>
                    <li>
                        The online system will identify your earliest available collection date and time taking into account the products you have
                        placed in your basket, and the collection slots available at your chosen store.
                    </li>
                    <li>
                        Once you have confirmed the products you wish to order, and your preferred date, time and store of collection, an estimated
                        total order price will be displayed.
                    </li>
                    <li>
                        You place an order on our Microsite (online or through our mobile app) by clicking the &#34;Purchase Order&#34; button at
                        the end of the &#34;checkout&#34; process and paying the required deposit amount (calculated in accordance
                        with paragraph 6.1).
                    </li>
                    <li>
                        Morrisons&#39; acceptance of your order takes place upon the payment of the deposit amount.
                    </li>
                    <li>
                        We will send you an email receipt for your order confirming the products which you have ordered. Please keep this email safe
                        as you will need it when you collect your order in store. You can present this in store either by
                        printing this out, or by presenting a digital version in store (for example on a tablet or smart
                        &#39;phone)
                        <sup>1
						</sup> .
                    </li>
                    <li>
                        We will also send you a reminder near to your collection date with details of your order and how to collect it.
                    </li>
                    <li>
                        If you amend your order after your initial order we will also send you an email confirming your updated order.
                    </li>
                </ul>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">In order for Morrisons to process your order in time for Christmas and/or New Year, you must submit your
                    order to us by:
                </div>
                <p class="char-bullet">
                    <span class="char-text">a.
					</span>for Orders to be collected for Christmas by 7PM (GMT) on Wednesday 14 December 2016; and
                </p>
                <p class="char-bullet">
                    <span class="char-text">b.
					</span>for Orders to be collected for New Year by 7PM (GMT) on Wednesday 21 December 2016.
                </p>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">The details of your contract will be held by us. If you require any information about orders you have placed
                    with us, you can contact Customer Services using the contact details set out in paragraph 11 below.
                </div>
                <!-- Termcondition Component Making your Order and Payment paragraph End here-->

                <!-- Termcondition Component Payment paragraph start here-->
                <div class="col-xs-12 section-heading">
                    <h3 id="section6" class="section">Payment</h3>
                </div>
                <div class="section-subheading">
                    <h4 class="subHeading">Deposit</h4>
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">During the checkout process, when you have selected the products which you wish to order, alongside your
                    preferred selection time and store, an estimated order price and the deposit will be displayed on screen.
                    The deposit will be &#163;20.00 or the total amount of your order, whichever amount is less.
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">In the event that you place an order which we deem to be large, either by volume or by value, or we believe
                    that you are ordering for business purposes we may contact you to discuss your order and request a larger
                    deposit. We reserve the right to reject your order as set out in paragraph 3.2.
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">The deposit amount will be taken following the authorisation of your payment details. The deposit is usually
                    non&#45;refundable. If you have a right to reject a product and the rejected product was the only product
                    you ordered we will refund your deposit. If you have a right to reject a product and the other products
                    in your order have a value less than the value of your deposit, we will refund your deposit after deducting
                    the value of the other products in your order.
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">Payment of the deposit must be by credit, debit or charge card. We do not accept any other payment methods
                    or vouchers (including those obtained in&#45;store at Morrisons or otherwise) for payment of your deposit.
                    Any refund of your deposit will be made in cash.
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">We reserve the right to terminate our contract with you if we are refused authority for payment or reasonably
                    believe that payment will be refused at any stage. We will attempt to contact you if this is the case.
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">You agree to compensate us in full against all reasonable costs expenses and outgoings incurred by us in
                    obtaining full payment from you in the event a failed payment occurs. This may include an administration
                    charge of up to &#163;20.00. We reserve the right at any time after a failed payment has occurred to
                    ask a debt collection agency to assist in collecting payment from you.
                </div>
                <div class="col-xs-12 section-subheading">
                    <h4 class="subHeading">Balance</h4>
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">The outstanding balance (being the difference between your final order price and the deposit taken) will
                    need to be paid in store at the time of collection of your order.
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">Payment in store may be made by cash, credit, debit or charge card, or by vouchers which we may make available
                    to you for use in store. Any refund of your balance payment will be made in cash.
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">Please note that the full price of your order may be different from both the checkout total shown on screen
                    at the time of checkout and the amount &#34;reserved&#34; for the following reasons:
                </div>
                <p class="char-bullet">
                    <span class="char-text">a.
					</span>if you have ordered products which are included in a multi&#45;save offer;
                </p>
                <p class="char-bullet">
                    <span class="char-text">b.
					</span>if you have ordered products whose weight may vary; or
                </p>
                <p class="char-bullet">
                    <span class="char-text">c.
					</span>if we have changed out prices since the time of your order.
                </p>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">We will confirm to you the full amount or your order in&#45;store at the time of collection once the weight
                    of the products provided to you and any multi&#45;save offers have been deducted. Your payment receipt
                    will set out how the full price has been calculated.
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">If, on collection, you no longer wish to purchase any product you have ordered, please discuss this with
                    staff in&#45;store who will endeavour to satisfy any queries.
                </div>
                <!-- Termcondition Component Payment paragraph End here-->

                <!-- Termcondition Component Collection paragraph start here-->
                <div class="col-xs-12 section-heading">
                    <h3 id="section7" class="section">Collection</h3>
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">During the order process you will be asked to choose your preferred collection date and time, and the store
                    from which you would like to collect your order.
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">Orders should be collected from the store selected for collection, and at the date and time specified. If
                    you miss your collection time, you may collect your order on the collection date, at any time following
                    your specified collection time. Please note that if you do not collect your order at your specified collection
                    time you may need to wait in&#45;store until your order can be processed by staff in&#45;store, particularly
                    at busy times. To minimise in&#45;store waiting time, please collect your item at the date and time confirmed
                    in your order.
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">If your order remains uncollected at the end of the store opening hours for your selected store as set out
                    here:
                    <a href="https://my.morrisons.com/storefinder" target="blank" class="store-finder-link">https://my.morrisons.com/storefinder
					</a> on the date you selected for collection, Morrisons will cancel your order and your deposit
                    will not be refunded.
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">Following confirmation of your order, if you need to change the collection date or time, please contact our
                    Customer Services team (using the contact details set out in paragraph 11 below) who will assist you
                    with this. Please note that your preferred date and time may not be available, but we will do our best
                    to accommodate changes made following the placing of your order.
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">In certain circumstance we may need to amend the delivery time or date. If we need to vary this a member
                    of our customer service team will contact you (using the contact details you have provided) to discuss
                    an alternative collection time or date.
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">Morrisons will not provide carrier bags for any orders made through our Microsite. It is likely you will
                    need carrier bags to take home your order on collection. You can bring your own carrier bags at the time
                    you collect your order, or alternatively carrier bags will be available to purchase in&#45;store.
                </div>
                <!-- Termcondition Component Collection paragraph end here-->

                <!-- Termcondition Component Cancellation, Refunds and Returns paragraph start here-->
                <div class="col-xs-12 section-heading">
                    <h3 id="section8" class="section">Cancellation, Refunds and Returns </h3>
                </div>
                <div class="section-subheading">
                    <h4 class="subHeading"> I want to change my order </h4>
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">Once an order is placed and the required deposit has been paid, you can amend the order by contacting Customer
                    Services on 0345 611 611.
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">You may amend your order:
                </div>
                <p class="char-bullet">
                    <span class="char-text">a.
					</span>for collection dates before 14 December 2016 at any time up to the time we begin to prepare
                    your order;
                </p>
                <p class="char-bullet">
                    <span class="char-text">b.
					</span>for collections between 15 December 2016 and 24 December 2016 at any time up to 14 December
                    2016; or
                </p>
                <p class="char-bullet">
                    <span class="char-text">c.
					</span>for collections between 26 December 2016 and 31 December 2016 at any time up to 21 December
                    2016.
                </p>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">Any items added before this cut&#45;off time will automatically form part of your order.
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">If you amend your order after you have placed it with us, the Customer Services team will confirm the new
                    estimated order amount. The final amount of your order will be calculated in&#45;store at the time of
                    collection.
                </div>
                <div class="col-xs-12 section-subheading">
                    <h4 class="subHeading">I’ve changed my mind and want to cancel</h4>
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">When purchasing products from us online or through our mobile app, you have a general right to cancel your
                    order and receive a refund at any time from when the contract is formed until the end of 14 days after
                    you receive the products you have ordered but there are exceptions to this right. (The contract is formed
                    when we receive payment of your deposit amount and accept your order, as set out in paragraph 5.1.)
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">This cancellation right does not apply to &#34;perishable&#34; products (which means they are chilled, refrigerated
                    or frozen products, or they have a &#34;use by&#34;, &#34;best before&#34; or &#34;BBE&#34; date stamped
                    on the product which expires 6 weeks or less from the date of delivery).
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">As all of the products sold under the Microsite are &#34;perishable&#34; products you do not have the right
                    to cancel your order after the cut&#45;off time set out in paragraph 8.2 unless paragraph 8.8 applies.
                </div>
                <div class="col-xs-12 section-subheading">
                    <h4 class="subHeading">Rejecting products at the point of collection</h4>
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">In addition to any remedies available to you in these terms and conditions, you may cancel your order, or
                    any product making up part of your order in the following circumstances:
                </div>
                <p class="char-bullet">
                    <span class="char-text">a.
					</span>if you are not satisfied with the weight or cost of the product picked for you;
                </p>
                <p class="char-bullet">
                    <span class="char-text">b.
					</span>if you are concerned about any of the allergy information or ingredients noted on the packet
                    for the product or provided in store; or
                </p>
                <p class="char-bullet">
                    <span class="char-text">c.
					</span>if you are otherwise not satisfied with the product on inspection.
                </p>
                <div class="col-xs-12 section-subheading">
                    <h4 class="subHeading">The products collected are defective</h4>
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">We are under a legal duty to supply products that are in conformity with this contract and each product is
                    sold subject to its product description which can be found on the relevant page for that product.
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">If you think that any product you have received does not match its description, is not of satisfactory quality,
                    or is otherwise faulty or defective, then in the first instance please contact Customer Services (using
                    the contact details in paragraph 11 below) or contact staff in&#45;store who will do their best to assist
                    you. We reserve the right to ask you to send us reasonable evidence of any product affected by such issues.
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">We will refund to you the cost of any product affected by such issues. To receive a refund of an affected
                    perishable product though, you must notify us of any such issues
                    <b>before
					</b> the expiry of the &#34;use by&#34;, &#34;best before&#34; or &#34;BBE&#34; date stamped on
                    the product. (For an explanation of what we mean by &#34;perishable&#34; please see section 8.6 above).
                </div>
                <div class="col-xs-12 section-subheading">
                    <h4 class="subHeading">Returns</h4>
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">You must return any defective products to us in store.
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">Until the time of returning the products, you must take reasonable care of the products. If you fail to do
                    so, we may have a right of action against you for compensation or to reduce the amount of any refund
                    to you. Where possible, we ask that you please return the products in their original packaging.
                </div>
                <!-- Termcondition Component Cancellation, Refunds and Returns paragraph end here-->

                <!-- Termcondition Component Our Liability paragraph start here-->
                <div class="col-xs-12 section-heading">
                    <h3 id="section9" class="section">Our Liability</h3>
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">If we fail to comply with these terms and conditions, we shall only be liable to you for the purchase price
                    of the products and other losses that you suffer as a result of our failure to comply which are a foreseeable
                    consequence of such failure.
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">Nothing in these terms and conditions excludes or limits our liability for:
                </div>
                <p class="char-bullet">
                    <span class="char-text">a.
					</span>death or personal injury caused by our negligence;
                </p>
                <p class="char-bullet">
                    <span class="char-text">b.
					</span>fraud or fraudulent misrepresentation;
                </p>
                <p class="char-bullet">
                    <span class="char-text">c.
					</span>liability which may not be limited or excluded by section 31 (1) Consumer Rights Act 2015;
                </p>
                <p class="char-bullet">
                    <span class="char-text">d.
					</span>defective products under the Consumer Protection Act 1987; or
                </p>
                <p class="char-bullet">
                    <span class="char-text">e.
					</span>any other matter for which it would be illegal for us to exclude or attempt to exclude our
                    liability.
                </p>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">We only supply the products for domestic and private use. If you use the products for any commercial, business
                    or re&#45;sale purpose we will have no liability to you for any loss of profit, loss of business, business
                    interruption, or loss of business opportunity.
                </div>
                <!-- Termcondition Component Our Liability paragraph end here-->

                <!-- Termcondition Component General paragraph start here-->
                <div class="col-xs-12 section-heading">
                    <h3 id="section10" class="section">General</h3>
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">Neither we nor you will be responsible if we are unable to perform our obligations under the contract due
                    to events which are genuinely beyond your or our reasonable control (as applicable).
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">Nothing under the contract shall give rights to any person who is not a party to it (whether under the Contracts
                    (Rights of Third Parties) Act 1999) or otherwise.
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">We revise our terms and conditions from time to time. You will be subject to the terms and conditions in
                    force at the time that a contract is formed between you and us (as set out above).
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">These terms are governed by English law and you can bring legal proceedings in respect of the products in
                    the English and Welsh courts. If you live in Scotland you can bring legal proceedings in respect of the
                    products in either the Scottish or the English courts.
                </div>
                <!-- Termcondition Component General paragraph end here-->

                <!-- Termcondition Component Customer Services paragraph start here-->
                <div class="col-xs-12 section-heading">
                    <h3 id="section11" class="section">Customer Services</h3>
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">If you have any questions or complaints, please contact our Customer Services team on
                    <span class="phone-no">0345 611 611
					</span> between the hours of 8.00 am to 11.00 pm every day of the week.
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">Alternatively, please write to us at:
                </div>
                <p class="address">
                    Customer Services Department
                    <br> Wm Morrison Supermarkets PLC
                    <br> Hilmore House
                    <br> Gain Lane
                    <br> Bradford
                    <br> BD3 7DL
                </p>
                <!-- Termcondition Component Customer Services paragraph end here-->

                <!-- Termcondition Component Alternative Dispute Resolution paragraph start here-->
                <div class="col-xs-12 section-heading">
                    <h3 id="section12" class="section">Alternative Dispute Resolution</h3>
                </div>
                <div class="col-xs-1 numbered">
                </div>
                <div class="col-xs-11 terms-text">Alternative dispute resolution is a process where an independent body considers the facts of a dispute and
                    seeks to resolve it, without you having to go to court. If you are not happy with how we have handled
                    any complaint, you may want to contact the alternative dispute resolution provider we use. You can submit
                    a complaint to The Retail Ombudsman via their website at
                    <a href="http://www.theretailombudsman.org.uk/" target="blank">http://www.theretailombudsman.org.uk/ 
					</a>.The Retail Ombudsman will not charge you for making a complaint and if you are not satisfied
                    with the outcome you can still bring legal proceedings. In addition, please note that disputes may be
                    submitted for online resolution to the
                    <a href="http://ec.europa.eu/consumers/odr/" target="blank">European Commission Online Dispute Resolution
					</a> platform.
                </div>
                <!-- Termcondition Component Alternative Dispute Resolution paragraph end here-->

                <!-- Termcondition Component Information About Us paragraph start here-->
                <div class="col-xs-12 section-heading">
                    <h3 id="down" class="section">Information About Us</h3>
                </div>
                <div class="col-xs-1 numbered"></div>
                <div class="col-xs-11 terms-text">We operate our Microsite my.morrisons.com/foodtoorder. Our full legal name is Wm Morrison Supermarkets Plc.
                    We are a public limited company incorporated in England and Wales. Our registered company number is 358949
                    and our registered address is Hilmore House, Gain Lane, Bradford, West Yorkshire, BD3 7DL. Our VAT number
                    is 343 4753 55.
                </div>
                <!-- Termcondition Component Information About Us paragraph end here-->
            </div>
        </div>
        <!-- Termcondition Component main Seection end here-->

        <div class="back-to-top">
            <a (click)="goToTop()" class="back">Back to Top</a>
        </div>
    </div>
</div>