<!-- Section Login start here-->
<div class="mvp">

	<section class="mvp-background hidden-xs"></section>

	<div class="container min-height688">
		<div *ngIf="showLoader" class="overlay-load">
			<div class="loader-box-shadow">
				<div class="load-img">
					<img src="{{whoImgUrl}}spinner.svg" class="loader-image" alt="Loader Image" />
					<div>
						<h6>LOADING</h6>
					</div>
				</div>
			</div>
		</div>
		<div class="row login-block" *ngIf="!siteMaintanceFlg">
			<div class="col-xs-12 col-sm-6 col-md-5 col-sm-push-2 mvp-mainimage hidden-xs">
			</div>
			<div class="col-xs-12 col-sm-5 col-md-5 mvp-text">
				<div class="heading-text">
					<h3 class="login-text semi-bold text-center hidden-xs">SECURE LOGIN</h3>
				</div>

				<div class="login-box">
					<form id="loginform" #form="ngForm" role="form" name="loginform" class="" (submit)="authLogin(form.value)">
						<!-- <p class="reuired-flieds semi-bold hidden-xs"><span class="green-star">*</span>Required fields</p> -->
						<p class="secure-mobile-heading hidden-sm hidden-md hidden-lg">SECURE LOGIN</p>
						<div class="form-group">
							<label class="login-label semi-bold" for="username">Email Address</label>
							<input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" class="form-control col-xs-3" placeholder="Email address"
							 id="username" name="username" [(ngModel)]="username" autocomplete="off" required>

						</div>
						<div class="form-group">
							<label class="login-label semi-bold label-top" for="password">Password</label>
							<input type="password" class="form-control" placeholder="********" id="password" name="password" [(ngModel)]="password" required>
						</div>

						<p class="error-text" [hidden]="loginError" id="error-msg">{{errorMsg}}</p>

						<a class="forgot-password semi-bold" [routerLink]="['/resetpassword']">Reset Password?</a>
						<button type="submit" id="submit" name="ctnBtn" class="btn btn-primary yellow-btn pull-right">LOGIN</button>
					</form>
				</div>
			</div>
		</div>
		<div class="row login-block" *ngIf="siteMaintanceFlg">
				<div class="col-xs-12 col-sm-6 col-md-5 col-sm-push-2 mvp-mainimage hidden-xs">
				</div>
				<div class="col-xs-12 col-sm-5 col-md-5 mvp-text">
					<div class="heading-text">
						<h3 class="login-text semi-bold text-center hidden-xs">SITE MAINTENACE</h3>
					</div>
	
					<div class="login-box">
						{{siteMSg}}
					</div>
				</div>
		</div>
			<!--<div class="row pagenotfound">
				<div class="col-xs-12 col-sm-6 col-md-5 col-sm-push-2 mvp-mainimage hidden-xs">
				</div>
				<div class="col-xs-12 col-sm-5 col-md-5 mvp-text pagenotfound-block">
					<div class="heading-text">
						<h3 class="pagenotfound-heading semi-bold text-center hidden-xs">PAGE UNAVAILABLE</h3>
					</div>
			
					<div class="pagenotfound-box">
							<p class="secure-mobile-heading hidden-sm hidden-md hidden-lg text-center">PAGE UNAVAILABLE</p>
							<div class="content-text col-xs-12">
								<h4 class="pagenotfound-text semi-bold text-center error-text">Your page is temporarily unavailable due to downtime.</h4>
								<div class="text-center">
									<p class="error-text">Dummy text!!!!!</p>	
								</div>
							</div>
							<div class="content-text">
								
							</div>
					</div>
				</div>
			</div>-->
	</div>
</div>
<!-- Section Login end here-->