<!--Search Order section start here-->
<!-- Breadcrumb start here-->
<div class="mvp_bradcrumb">
    <div class="container">
        <div class="col-xs-12 breadcrumb product-breadcrumb">
            <a [routerLink]="['/customerselection']">
                <span class="bradcrumb-text">Home</span>
            </a>/
            <a [routerLink]="['/cataloguemanagement', customerName]">
                <span class="bradcrumb-text">Catalogue Management</span>
            </a>/
            <span class="bradcrumb-text bold">NIS Feeder Exports</span>
        </div>
    </div>
</div>

<!--Search Order section start here-->
<div class="mmbborder" id="circle-box-border"></div>
<!-- Only Show in Mobile View -->

<catalogue-management-pending-request-header></catalogue-management-pending-request-header>

<!--Search order heading section end here-->
<div class="hidden-xs padd-btm-50 bgcolor-grey padd-top-10 min-height600">
    <div class="container bgcolor-white border-top-bottom margintop25">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <h4 class="dis-inlineblc">NIS Feeder Exports</h4>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 ">
                <div class="pull-right padd-top-10 text-right">
                    <span class="padd-left10 curs-pointer" (click)="printNisData()">
                        <img src="{{whoImgUrl}}IconPrint.svg" class="img-responsive dis-inlineblc img-width padd-right5">Print</span>
                    <span class="padd-left10 padd-right20 curs-pointer" (click)="exportData()">
                        <img src="{{whoImgUrl}}IconDownload.svg" class="img-responsive dis-inlineblc img-width padd-right5">Download</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container bgcolor-white">
        <!--<h3 class="drilldown-header-title pad-left0">SINGLE NEW PRODUCT REQUESTS - ONLINE</h3>  -->
        <!-- <h3 class="drilldown-header-title pad-left0 catalogue-text margin-bot8 color-darkgrey">SINGLE NEW PRODUCT REQUEST - ONLINE</h3> -->
        <div class="pad-lft-right-15">
            <div class="row bgcolor-white">

                <div class="table-responsive table-block margintop15 max-height350">
                    <table class="table search-result-table table-hover popup-table-border table-striped " id="nisfeederexport">
                        <thead class="bg-white">
                            <tr>
                                <th>Date of Export</th>
                                <th>Category</th>
                                <th>Count</th>
                                <th>Template Id</th>
                                <th>Tracking Id</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>14/07/2017</td>
                                <td>Food</td>
                                <td>12345</td>
                                <td>12345678</td>
                                <td>
                                    <input class="padd-left5 border-groove height26" id="1" name="1" value="" maxlength="15"
                                        oncopy="return false" oncut="return false" onpaste="return false" placeholder="Set Tracking Id">
                                    <button class="btn btn-default nis-save-btn" data-toggle="modal" data-target="#nisinfobox">Save</button>
                                </td>
                            </tr>
                            <tr>
                                <td>14/07/2017</td>
                                <td>Food</td>
                                <td>12345</td>
                                <td>12345678</td>
                                <td>
                                    <span>
                                        <input class="padd-left5 border-groove height26" id="2" name="2" value="" maxlength="15"
                                            oncopy="return false" oncut="return false" onpaste="return false" placeholder="Set Tracking Id">
                                        <button class="btn btn-default nis-save-btn" data-toggle="modal" data-target="#nisinfobox">Save</button>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>14/07/2017</td>
                                <td>Food</td>
                                <td>12345</td>
                                <td>12345678</td>
                                <td>
                                    <input class="padd-left5 border-groove height26" id="3" name="3" value="" maxlength="15"
                                        oncopy="return false" oncut="return false" onpaste="return false" placeholder="Set Tracking Id">
                                    <button class="btn btn-default nis-save-btn" data-toggle="modal" data-target="#nisinfobox">Save</button>
                                </td>

                            </tr>
                            <tr>
                                <td>14/07/2017</td>
                                <td>Food</td>
                                <td>12345</td>
                                <td>12345678</td>
                                <td>
                                    <input class="padd-left5 border-groove height26" id="4" name="4" value="" maxlength="15"
                                        oncopy="return false" oncut="return false" onpaste="return false" placeholder="Set Tracking Id">
                                    <button class="btn btn-default nis-save-btn" data-toggle="modal" data-target="#nisinfobox">Save</button>
                                </td>

                            </tr>
                            <tr>
                                <td>14/07/2017</td>
                                <td>Food</td>
                                <td>12345</td>
                                <td>12345678</td>
                                <td>sdgedrhgmjhyukyj</td>
                            </tr>
                            <tr>
                                <td>14/07/2017</td>
                                <td>Food</td>
                                <td>12345</td>
                                <td>12345678</td>
                                <td>
                                    <input class="padd-left5 border-groove height26" id="5" name="5" value="" maxlength="15"
                                        oncopy="return false" oncut="return false" onpaste="return false" placeholder="Set Tracking Id">
                                    <button class="btn btn-default nis-save-btn" data-toggle="modal" data-target="#nisinfobox">Save</button>
                                </td>

                            </tr>
                            <tr>
                                <td>14/07/2017</td>
                                <td>Food</td>
                                <td>12345</td>
                                <td>12345678</td>
                                <td>dfhrwthrth</td>
                            </tr>
                            <tr>
                                <td>14/07/2017</td>
                                <td>Food</td>
                                <td>12345</td>
                                <td>12345678</td>
                                <td>rtjhwrtjywrjryj</td>
                            </tr>


                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>

</div>

<!-- Modal -->
<div class="modal fade custom-model zindex999999" role="dialog" id="nisinfobox">
    <div class="modal-dialog top125 wdt250">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="border-top-bottom-popup">
                <h5 class="pad-lft-right-15">Tracking Id Added
                    <button type="button" class="close-icon" data-dismiss="modal">&#10006;</button>
                </h5>
            </div>
            <div class="modal-body pad-lft-right-15 margintop15">
                <div>
                    <p>New Tracking Id (sdkjcfhuidsiduhfi) has been successfully added.</p>
                </div>
            </div>
        </div>
        <!-- Modal Content End -->
    </div>
</div>

<div class="hidden-sm hidden-md hidden-lg">
    <div class="row pad-lft-right-15 padd-top-11">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <div class="error-message-container">
                <div class="categories">
                    <div class="alert alert-info text-center error-message">
                        <strong>Sorry, NIS feeder export is available only on desktop view.
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- loader section end-->
<div class='print_only' id="printHeader" [hidden]="true">
    <!--dashboard container section start-->
    <div class="row dashboard-heading-div">
        <div class="col-xs-12">
            <img class="logo_print" src="{{whoImgUrl}}print_logo.png" alt="Morrisons logo">
            <h3 class="font-bold actualprint-ordernno">NIS Feeder Exports</h3>
        </div>
    </div>
</div>
<!--Search order content section end here-->

<div class='print_only' id="exportable" [hidden]="true">
    <table class="table table-bordered table-striped" border=1>

        <thead class="bg-white">
            <tr>
                <th>Date of Export</th>
                <th>Category</th>
                <th>Count</th>
                <th>Template Id</th>
                <th>Tracking Id</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>14/07/2017</td>
                <td>Food</td>
                <td>12345</td>
                <td>12345678</td>
                <td>NA</td>
            </tr>
            <tr>
                <td>14/07/2017</td>
                <td>Food</td>
                <td>12345</td>
                <td>12345678</td>
                <td>NA</td>
            </tr>
            <tr>
                <td>14/07/2017</td>
                <td>Food</td>
                <td>12345</td>
                <td>12345678</td>
                <td>NA</td>

            </tr>
            <tr>
                <td>14/07/2017</td>
                <td>Food</td>
                <td>12345</td>
                <td>12345678</td>
                <td>NA</td>

            </tr>
            <tr>
                <td>14/07/2017</td>
                <td>Food</td>
                <td>12345</td>
                <td>12345678</td>
                <td>sdgedrhgmjhyukyj</td>
            </tr>
            <tr>
                <td>14/07/2017</td>
                <td>Food</td>
                <td>12345</td>
                <td>12345678</td>
                <td>NA</td>

            </tr>
            <tr>
                <td>14/07/2017</td>
                <td>Food</td>
                <td>12345</td>
                <td>12345678</td>
                <td>dfhrwthrth</td>
            </tr>
            <tr>
                <td>14/07/2017</td>
                <td>Food</td>
                <td>12345</td>
                <td>12345678</td>
                <td>rtjhwrtjywrjryj</td>
            </tr>


        </tbody>

    </table>
</div>