<!-- Breadcrumb start here--><!-- 
<div class="mvp_bradcrumb">
    <div class="container">
        <div class="col-xs-12 breadcrumb product-breadcrumb">
                  <a [routerLink]="['/customerselection']"> 
            <span class="bradcrumb-text">Home</span>
            </a>/
             <a [routerLink]="['/groups', customerName]"> 
            <span class="bradcrumb-text">Manage Groups</span>
             </a> /
             <a [routerLink]="['/groups', customerName, groupName, 'roles']"> 
            <span class="bradcrumb-text">Manage Roles</span>
             </a> /
            <span class="bradcrumb-text bold">View Users</span>
        </div>
    </div>
</div> -->
<div class="mmbborder" id="circle-box-border"></div>
<div id="stickyContainer">
    <!-- <div class="sticky hidden-xs border-top-grey-1" id="sticky1">
        <div class="container padd-10-0">
            <div class="row equal">
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 desktop-paddzero mobile-paddzero" id="setBorder">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8 padd0">
                    <main-navigation-menu></main-navigation-menu>
                </div>
            </div>
        </div>
    </div> -->
</div>


<div class="hidden-xs padd-btm-50 bgcolor-grey padd-top-10 min-height600">
    <div class="container bgcolor-white border-top-bottom margintop25">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <h4 class="dis-inlineblc">View Role Users</h4>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6 user-group-discription">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="row">
                        <strong>Group Name</strong> {{groupName}}
                    </div>
                    <div class="row">
                        <strong>Group Description</strong> {{groupDescription}}
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="radio-item-green-red-grey dis-inlineblc" *ngIf="groupStatus == 'active'">
                        <input type="radio" id="groupRadio" [checked]="groupStatus == 'active'">
                        <label for="groupRadio"></label>
                    </div>
                    <div class="radio-item-green-red-grey dis-inlineblc" *ngIf="groupStatus != 'active'">
                        <input type="radio" id="groupRadio" [checked]="groupStatus != 'active'">
                        <label for="groupRadio" class="red-bg"></label>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6  user-group-discription">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="row">
                        <strong>Role Name</strong> {{roleName}}
                    </div>
                    <div class="row">
                        <strong>Role Description</strong> {{roleDescription}}
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="radio-item-green-red-grey dis-inlineblc" *ngIf="roleStatus == 'active'">
                        <input type="radio" id="roleRadio" [checked]="roleStatus == 'active'">
                        <label for="roleRadio"></label>
                    </div>
                    <div class="radio-item-green-red-grey dis-inlineblc" *ngIf="roleStatus != 'active'">
                        <input type="radio" id="roleRadio" [checked]="roleStatus != 'active'">
                        <label for="roleRadio" class="red-bg"></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="userRoleListLength == 0">
            <div class="col-xs-12 col-md-12 col-lg-12 ">
                <div class="error-message-container">
                    <div class="categories">
                        <div class="alert alert-info text-center error-message">
                            <strong>{{errTxt}}
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container bgcolor-white">
        <div class="row bgcolor-white">

            <div class="col-xs-12 col-md-12 col-lg-12">
                <div class="table-responsive table-block margintop15 max-height350 header-fixed tableContainer-groupuser">
                    <table class="table search-result-table table-hover popup-table-border header-fixed table-striped td-pad-tb" *ngIf="userRoleListLength != 0">
                        <thead class="bg-white">
                            <tr>
                                <th class="width21">User Name</th>
                                <th class="width21">Login Credentials</th>
                                <th class="width37">User Description</th>
                                <th class="text-center width21">Administrator</th>
                            </tr>
                        </thead>
                        <tbody id="tableBody" *ngIf="userRoleListLength != 0">
                            <tr *ngFor="let item of userRoleList; let i=index">
                                <td class="width21">{{item.userName}}</td>
                                <td class="width21">{{item.userLogon}}</td>
                                <td class="width37">{{item.userDescription}}</td>
                                <td class="text-center width21">{{(item.adminFlag == true)? 'Yes': 'No'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-right padd-bottom-30">
                    <button (click)="closeWindow()" class="btn btn-default npr-popup-btn" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- loader section start-->
    <div *ngIf="showLoader" class="overlay-load">
        <div class="loader-box-shadow">
            <div class="load-img">
                <img src="{{whoImgUrl}}spinner.svg" class="loader-image" alt="Loader Image" />
                <div>
                    <h6>LOADING</h6>
                </div>
            </div>
        </div>
    </div>
</div>