<!--Search Order section start here-->

<div class="container">
    <ul class="list-inline search-help-links drilldown-links">
        <li (click)="printOrderDetail()">
            <a class="pdlinks" *ngIf='!orderTrackerSelected'>
                <img src="{{whoImgUrl}}print.png" class="img-resposnive icon-img">Print</a>
        </li>
        <li (click)="exportData()">
            <a class="pdlinks" *ngIf='!orderTrackerSelected'>
                <img src="{{whoImgUrl}}download.png" class="img-resposnive icon-img">Download</a>
        </li>
    </ul>
    <!--Search order heading section start here-->
    <div class="row mobile-marginzero drilldown-order-row drilldown-border-option" id="orderDetailHighLevel">
        <div class="col-xs-12 col-sm-12 desktop-paddzero mobile-paddzero help-link-div scroll-x">
            <ul class="drilldown-options row equal">
                <li class="drildown-block">
                    <img src="{{imgName}}" class="img-responsive drilldown-product-img pull-left pd-tp-15">
                    <div class="pull-left padd-top15">
                        <span class="drildown-option-span">CUSTOMER ID</span>
                        <h4 class="margin-zero product-title-top-chnaged">{{customerId | uppercase}}</h4>
                    </div>
                </li>
                <li class="drildown-block padd-top15">
                    <span class="drildown-option-span ">SALES ORDER ID</span>
                    <h4 class="margin-zero product-title-top-color-chnaged">{{orderId}}</h4>

                </li>
                <li class="drildown-block padd-top15">
                    <span class="drildown-option-span">SHIP TO LOCATION ID</span>
                    <ng-container *ngIf = !iscustomerAmazon>
                    <h4 class="margin-zero product-title-top-chnaged">{{shipToLocationId}}</h4>
                    </ng-container>
                    <ng-container *ngIf = iscustomerAmazon>
                        <h4 class="margin-zero product-title-top-chnaged">{{shipSaleLocationId}}</h4>
                    </ng-container>

                </li>
                <li class="drildown-block padd-top15">
                    <span class="drildown-option-span">SHIP TO DELIVER AT</span>
                    <h4 class="margin-zero product-title-top-chnaged">{{_cfunction.dateFormator(shipToDeliverAt,1)}}</h4>

                </li>
                <li class="drildown-block-last padd-top15">
                    <span class="drildown-option-span">SHIP TO DESPATCH AT</span>
                    <h4 class="margin-zero product-title-top-chnaged">{{_cfunction.dateFormator(shipToDespatchAt,1)}}</h4>

                </li>
            </ul>
        </div>
    </div>
</div>
<!--Search order heading section end here-->

<!-- Header details block start here-->
<div class="container" id="orderDetailHeader">
    <div class="row">
        <div class="row mobile-marginzero drilldown-border-option" style="margin:15px;">
            <button class="order-detail-tracker1-white" *ngIf='orderTrackerSelected' (click)="showOrderDetail()">Order Detail</button>
            <button class="order-detail-tracker1-green" *ngIf='!orderTrackerSelected' (click)="showOrderDetail()">Order Detail</button>
            <button class="order-detail-tracker-white" *ngIf='orderDetailSelected' (click)="showOrderTracker()">Order Tracker</button>
            <button class="order-detail-tracker-green" *ngIf='!orderDetailSelected' (click)="showOrderTracker()">Order Tracker</button>
        </div>
        <div class="order-detail" *ngIf="statusOrderDetail">
            <h3 class="drilldown-header-title">Header Details</h3>
            <div class="row pad-lft-right-15">
                <div class="col-xs-12 col-sm-4 drilldown-border padleft-0 paddright lft-bord">
                    <div class="data-row">
                        <h2 class="drilldown-Search-order-heading order-drill-head" (click)="showdetail('OrderQuantityInfo')">ORDER QUANTITY
                            <span class="search-arrow-product arrow-right">
                                <i id="order_Qnt_Info" class="glyphicon glyphicon-menu-down small-arrow-up left-5"></i>
                            </span>
                        </h2>
                        <!--<a (click)="showdetail('OrderQuantityInfo')" class="order-header-color Product-title-anchor ">ORDER QUANTITY <span class="search-arrow-product"><i id="order_Qnt_Info" class="glyphicon glyphicon-menu-down small-arrow-up"></i></span></a>-->
                    </div>
                    <div class="hidden-md hidden-lg hidden-xs hidden-sm" id="OrderQuantityInfo">
                        <div class="data-row">
                            <h4 class="drilldown-Search-order-heading">Ordered Lines</h4>
                            <span class="search-header-span">{{itemsOrderedCountTotal ? itemsOrderedCountTotal : (itemsOrderedCountTotal == "0" ? itemsOrderedCountTotal
                                : "0")}}</span>
                        </div>
                        <div class="data-row">
                            <h4 class="drilldown-Search-order-heading">Ordered Quantity</h4>
                            <span class="search-header-span">{{itemsOrderedSumTotal ? itemsOrderedSumTotal : (itemsOrderedSumTotal == "0" ? itemsOrderedSumTotal
                                : "0")}}
                            </span>
                        </div>
                        <div class="data-row">
                            <h4 class="drilldown-Search-order-heading">Confirmed Lines</h4>
                            <span class="search-header-span">{{itemsConfirmedCountTotal ? itemsConfirmedCountTotal : (itemsConfirmedCountTotal == "0" ? itemsConfirmedCountTotal
                                : "0")}}</span>
                        </div>
                        <div class="data-row">
                            <h4 class="drilldown-Search-order-heading">Confirmed Quantity</h4>
                            <span class="search-header-span">{{itemsConfirmedSumTotal ? itemsConfirmedSumTotal : (itemsConfirmedSumTotal == "0" ? itemsConfirmedSumTotal
                                : "0")}}</span>
                        </div>
                        <div class="data-row">
                            <h4 class="drilldown-Search-order-heading">Picked Lines</h4>
                            <span class="search-header-span">{{itemsPickedCountTotal ? itemsPickedCountTotal : (itemsPickedCountTotal == "0" ? itemsPickedCountTotal
                                : "0")}}</span>
                        </div>
                        <div class="data-row">
                            <h4 class="drilldown-Search-order-heading">Picked Quantity</h4>
                            <span class="search-header-span">{{itemsPickedSumTotal ? itemsPickedSumTotal : (itemsPickedSumTotal == "0" ? itemsPickedSumTotal
                                : "0")}}</span>
                        </div>
                        <div class="data-row">
                            <h4 class="drilldown-Search-order-heading">Shipped Lines</h4>
                            <span class="search-header-span">{{itemsShippedCountTotal ? itemsShippedCountTotal : (itemsShippedCountTotal == "0" ? itemsShippedCountTotal
                                : "0")}}</span>
                        </div>
                        <div class="data-row">
                            <h4 class="drilldown-Search-order-heading">Shipped Quantity</h4>
                            <span class="search-header-span">{{itemsShippedSumTotal ? itemsShippedSumTotal : (itemsShippedSumTotal == "0" ? itemsShippedSumTotal
                                : "0")}}
                            </span>
                        </div>
                    </div>
                    <div class="data-row">
                        <h2 class="drilldown-Search-order-heading order-drill-head" (click)="showdetail('TransmissionInfo')">TRANSMISSION INFORMATION
                            <span class="search-arrow-product arrow-right">
                                <i id="trans_info" class="glyphicon glyphicon-menu-down small-arrow-up left-5"></i>
                            </span>
                        </h2>
                        <!--  <a (click)="showdetail('TransmissionInfo')" class="order-header-color Product-title-anchor ">TRANSMISSION INFORMATION<span class="search-arrow-product"><i id="trans_info" class="glyphicon glyphicon-menu-down small-arrow-up"></i></span></a>-->
                    </div>
                    <div class="hidden-md hidden-lg hidden-xs hidden-sm" id="TransmissionInfo">
                        <div class="data-row">
                            <h4 class="drilldown-Search-order-heading">Message ID</h4>
                            <div class="search-header-span over-hidden">{{messageId}}</div>
                        </div>
                        <div class="data-row">
                            <h4 class="drilldown-Search-order-heading">Message Type</h4>
                            <span class="search-header-span">{{messageType}}</span>
                        </div>
                        <div class="data-row">
                            <h4 class="drilldown-Search-order-heading">Message Created at</h4>
                            <span class="search-header-span">{{_cfunction.dateFormator(messageCreatedAt,2)}}</span>
                        </div>
                        <div class="data-row">
                            <h4 class="drilldown-Search-order-heading">Buyer Party Id</h4>
                            <span class="search-header-span">{{orderBuyerPartyId}}</span>
                        </div>
                        <div class="data-row">
                            <h4 class="drilldown-Search-order-heading">SellerParty ID</h4>
                            <span class="search-header-span">{{orderSellerPartyId}}</span>
                        </div>
                        <div class="data-row">
                            <h4 class="drilldown-Search-order-heading">Reference Code</h4>
                            <div class="search-header-span over-hidden">{{orderReferenceCode}}</div>
                        </div>
                        <div class="data-row">
                            <h4 class="drilldown-Search-order-heading">Created at</h4>
                            <span class="search-header-span">{{_cfunction.dateFormator(messageCreatedAt,2)}}</span>
                        </div>
                    </div>
                    <!--<div class="data-row">
					<h4 class="drilldown-Search-order-heading">Order Buyer Party Id</h4>
					<span class="search-header-span">{{orderBuyerPartyId}}</span>
				</div>
				<div class="data-row">
					<h4 class="drilldown-Search-order-heading">Order Buyer Party Id</h4>
					<span class="search-header-span">{{orderBuyerPartyId}}</span>
				</div>
				<div class="data-row">
					<h4 class="drilldown-Search-order-heading">Order SellerParty ID</h4>
					<span class="search-header-span">{{orderSellerPartyId}}</span>
				</div>
				<div class="data-row">
					<h4 class="drilldown-Search-order-heading">Order Reference Code</h4>
					<div class="search-header-span over-hidden">{{orderReferenceCode}}</div>
				</div>
						
				<div class="data-row">
					<h4 class="drilldown-Search-order-heading">Current Status</h4>
					<span class="search-header-span">{{statusCurrent}}</span>
				</div>-->
                </div>

                <div class="col-xs-12 col-sm-4 drilldown-border padleft-0 padright-0 lft-bord">
                    <div class="data-row" *ngIf="!(customerId == 'amazon' && messageType == 'OF')">
                        <h2 class="drilldown-Search-order-heading order-drill-head" (click)="showdetail('ShippingAdd')">SHIPPING ADDRESS
                            <span class="search-arrow-product arrow-right">
                                <i id="ship_add" class="glyphicon glyphicon-menu-down small-arrow-up left-5"></i>
                            </span>
                        </h2>
                        <!-- <a (click)="showdetail('ShippingAdd')" class="order-header-color Product-title-anchor ">SHIPPING ADDRESS<span class="search-arrow-product"><i id="ship_add" class="glyphicon glyphicon-menu-down small-arrow-up"></i></span></a>-->
                    </div>
                    <div class="hidden-md hidden-lg hidden-xs hidden-sm" id="ShippingAdd">
                        <div class="data-row">
                            <h4 class="drilldown-Search-order-heading">Post Code</h4>
                            <span class="search-header-span">{{shipToAddressPostCode}}</span>
                        </div>
                        <div class="data-row">
                            <h4 class="drilldown-Search-order-heading">Party ID</h4>
                            <span class="search-header-span">{{shipToPartyId}}</span>
                        </div>
                        <div class="data-row">
                            <h4 class="drilldown-Search-order-heading">Name</h4>
                            <span class="search-header-span">{{shipToAddressName}}</span>
                        </div>
                        <div class="data-row">
                            <h4 class="drilldown-Search-order-heading">Line 1</h4>
                            <span class="search-header-span">{{shipToAddressLine1}}</span>
                        </div>
                        <div class="data-row">
                            <h4 class="drilldown-Search-order-heading">Line 2</h4>
                            <span class="search-header-span">{{shipToAddressLine2}}</span>
                        </div>
                        <div class="data-row">
                            <h4 class="drilldown-Search-order-heading">City</h4>
                            <span class="search-header-span">{{shipToAddressCity}}</span>
                        </div>
                        <div class="data-row">
                            <h4 class="drilldown-Search-order-heading">Country Code</h4>
                            <span class="search-header-span">{{shipToAddressCountryCode}}</span>
                        </div>
                    </div>
                    <div class="data-row">
                        <h2 class="drilldown-Search-order-heading order-drill-head" (click)="showdetail('BillingAdd')">BILLING ADDRESS
                            <span class="search-arrow-product arrow-right">
                                <i id="bill_add" class="glyphicon glyphicon-menu-down small-arrow-up left-5"></i>
                            </span>
                        </h2>
                        <!--a (click)="showdetail('BillingAdd')" class="order-header-color Product-title-anchor ">BILLING ADDRESS<span class="search-arrow-product"><i id="bill_add" class="glyphicon glyphicon-menu-down small-arrow-up"></i></span></a-->
                    </div>
                    <div class="hidden-md hidden-lg hidden-xs hidden-sm" id="BillingAdd">
                        <div class="data-row">
                            <h4 class="drilldown-Search-order-heading">Post Code</h4>
                            <span class="search-header-span">{{billToAddressPostCode}}</span>
                        </div>
                        <div class="data-row">
                            <h4 class="drilldown-Search-order-heading">Party ID</h4>
                            <span class="search-header-span">{{billToPartyId}}</span>
                        </div>
                        <div class="data-row">
                            <h4 class="drilldown-Search-order-heading">Name</h4>
                            <span class="search-header-span">{{billToAddressName}}</span>
                        </div>
                        <div class="data-row">
                            <h4 class="drilldown-Search-order-heading">Line 1</h4>
                            <span class="search-header-span">{{billToAddressLine1}}</span>
                        </div>
                        <div class="data-row">
                            <h4 class="drilldown-Search-order-heading">Line 2</h4>
                            <span class="search-header-span">{{billToAddressLine2}}</span>
                        </div>
                        <div class="data-row">
                            <h4 class="drilldown-Search-order-heading">City</h4>
                            <span class="search-header-span">{{billToAddressCity}}</span>
                        </div>
                        <div class="data-row">
                            <h4 class="drilldown-Search-order-heading">Country Code</h4>
                            <span class="search-header-span">{{billToAddressCountryCode}}</span>
                        </div>

                    </div>
                    <!--<div class="data-row">
                <h4 class="drilldown-Search-order-heading">Ship To Address Country Code</h4>
                <span class="search-header-span">{{shipToAddressCountryCode}}</span>
            </div>
            
            
            -->
                </div>

                <div class="col-xs-12 col-sm-4 padleft-0 padright-0 drilldown-border lft-bord">
                    <div class="data-row">
                        <h2 class="drilldown-Search-order-heading order-drill-head" (click)="showdetail('InvoiceInfo')">INVOICE INFORMATION
                            <span class="search-arrow-product arrow-right">
                                <i id="invoice_info" class="glyphicon glyphicon-menu-down small-arrow-up left-5"></i>
                            </span>
                        </h2>
                        <!--<a (click)="showdetail('InvoiceInfo')" class="order-header-color Product-title-anchor ">INVOICE INFORMATION<span class="search-arrow-product"><i id="invoice_info" class="glyphicon glyphicon-menu-down small-arrow-up"></i></span></a>-->
                    </div>
                    <div class="hidden-md hidden-lg hidden-xs hidden-sm" id="InvoiceInfo">
                        <div class="data-row">
                            <h4 class="drilldown-Search-order-heading">ID</h4>
                            <span class="search-header-span">{{billToId ? billToId : (billToId == "0" ? billToId : "-")}}</span>
                        </div>
                        <div class="data-row">
                            <h4 class="drilldown-Search-order-heading">Net Amount</h4>
                            <span class="search-header-span">{{billToTotalNetAmount ? billToTotalNetAmount : (billToTotalNetAmount == "0" ? billToTotalNetAmount
                                : "0")}}
                            </span>
                        </div>
                        <div class="data-row">
                            <h4 class="drilldown-Search-order-heading">Tax Amount</h4>
                            <span class="search-header-span">{{billToTotalTaxAmount ? billToTotalTaxAmount : (billToTotalTaxAmount == "0" ? billToTotalTaxAmount
                                : "0")}}
                            </span>
                        </div>
                        <div class="data-row">
                            <h4 class="drilldown-Search-order-heading">Total Amount</h4>
                            <span class="search-header-span">{{billToTotalAmount}}</span>
                        </div>
                    </div>

                    <!--<div class="data-row">
                <h4 class="drilldown-Search-order-heading">Items Confirmed Count Total</h4>
                <span class="search-header-span">{{itemsConfirmedCountTotal ? itemsConfirmedCountTotal : "-"}}</span>
            </div>
            <div class="data-row">
                <h4 class="drilldown-Search-order-heading">Items Confirmed Sum Total</h4>
                <span class="search-header-span">{{itemsConfirmedSumTotal ? itemsConfirmedSumTotal : "-"}}</span>
            </div>
            <div class="data-row">
                <h4 class="drilldown-Search-order-heading">Items Ordered Count Total</h4>
                <span class="search-header-span">{{itemsOrderedCountTotal ? itemsOrderedCountTotal : "-"}}</span>
            </div>
            <div class="data-row">
                <h4 class="drilldown-Search-order-heading">Items Ordered Sum Total</h4>
                <span class="search-header-span">{{itemsOrderedSumTotal ? itemsOrderedSumTotal : "-"}}</span>
            </div>
            <div class="data-row">
                <h4 class="drilldown-Search-order-heading">Items Picked Count Total</h4>
                <span class="search-header-span">{{itemsPickedCountTotal ? itemsPickedCountTotal : "-"}}</span>
            </div>
            <div class="data-row">
                <h4 class="drilldown-Search-order-heading">Items Picked Sum Total</h4>
                <span class="search-header-span">{{itemsPickedSumTotal ? itemsPickedSumTotal : "-"}}</span>
            </div>
            <div class="data-row">
                <h4 class="drilldown-Search-order-heading">Items Shipped Count Total</h4>
                <span class="search-header-span">{{itemsShippedCountTotal ? itemsShippedCountTotal : "-"}}</span>
            </div>
            <div class="data-row">
                <h4 class="drilldown-Search-order-heading">Items Shipped Sum Total</h4>
                <span class="search-header-span">{{itemsShippedSumTotal ? itemsShippedSumTotal : "-"}}</span>
            </div>
            <div class="data-row">
                <h4 class="drilldown-Search-order-heading">Raised Date & Time</h4>
                <span class="search-header-span">{{_cfunction.dateFormator(createdAt,2)}}</span>
            </div>-->

                </div>
            </div>
            <!-- Header details block end here-->

            <!--Search order content section start here-->
            <!--div class="container"-->
            <div class="">

                <div class="col-xs-12 paddzero ">
                    <h3 class="orders-heading-drilldown">Item Details</h3>
                    <div class="row margin-zero">
                        <div class="col-xs-12 desktop-paddzero">

                            <!--Search Result Model box Mobile start Here-->
                            <div class="modal fade hidden-lg hidden-md hidden-md" id="myModal2" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <!-- <h4 class="modal-title">Advance Search</h4> -->
                                        </div>
                                        <div class="modal-body">
                                            <div class="col-xs-12 search-results-div paddzero">
                                                <div class="table-responsive mobile-scroll">
                                                    <table class="table table-bordered table-striped search-result-table">
                                                        <thead>
                                                            <tr class="bg-light-green">
                                                                <th colspan="5">PRODUCT
                                                                    <i id="advSearchIcon" class="glyphicon glyphicon-chevron-right pull-right"></i>
                                                                </th>
                                                                <th colspan="5">QUANTITY
                                                                    <i id="advSearchIcon" class="glyphicon glyphicon-chevron-right pull-right"></i>
                                                                </th>
                                                                <th colspan="4">PRICE
                                                                    <i id="advSearchIcon" class="glyphicon glyphicon-chevron-right pull-right"></i>
                                                                </th>
                                                                <th colspan="5">STATUS
                                                                    <i id="advSearchIcon" class="glyphicon glyphicon-chevron-right pull-right"></i>
                                                                </th>
                                                            </tr>
                                                            <tr class="bg-green">
                                                                <th>Line</th>
                                                                <th>Identifier</th>
                                                                <th>Base</th>
                                                                <th>Alternate</th>
                                                                <th>Description</th>
                                                                <th>UOM</th>
                                                                <th>Ordered</th>
                                                                <th>Confirmed</th>
                                                                <th>Picked</th>
                                                                <th>Shipped</th>
                                                                <th>Currency</th>
                                                                <th>Tax</th>
                                                                <th>Net</th>
                                                                <th>Total</th>
                                                                <th>Current</th>
                                                                <th>Despatch</th>
                                                                <th>Stock</th>
                                                                <th>Value</th>
                                                                <th>Validation</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let item of orderItemList;let i=index">
                                                                <!-- <td>{{item.itemId}}</td>
                                                        <td class="item-descr-table">{{item.itemDescription}}</td> -->
                                                                <td>{{item.itemLineId ? item.itemLineId : (item.itemLineId ==
                                                                    0 ? item.itemLineId : "-")}}</td>
                                                                <td>{{item.itemId ? item.itemId : (item.itemId == 0 ? item.itemId
                                                                    : "-")}}</td>
                                                                <td>{{item.itemBaseType ? item.itemBaseType : (item.itemBaseType
                                                                    == 0 ? item.itemBaseType : "0")}}</td>
                                                                <td *ngIf="item.itemAlternateId">
                                                                    barcodeEan:{{item.itemAlternateId.barcodeEan ? item.itemAlternateId.barcodeEan : "-"}},
                                                                    <br> clientAsin:{{item.itemAlternateId.barcodeAsin ?
                                                                    item.itemAlternateId.barcodeAsin : "-"}},
                                                                    <br> skuLegacy:{{item.itemAlternateId.skuLegacy ? item.itemAlternateId.skuLegacy
                                                                    : "-"}},
                                                                    <br> skuMin:{{item.itemAlternateId.skuMin ? item.itemAlternateId.skuMin
                                                                    : "-"}},
                                                                    <br> skuPin:{{item.itemAlternateId.skuPin ? item.itemAlternateId.skuPin
                                                                    : "-"}}
                                                                </td>
                                                                <td *ngIf="!item.itemAlternateId">-</td>

                                                                <td>{{item.itemDescription ? item.itemDescription : "Information
                                                                    not yet available"}}</td>
                                                                <td>{{item.quantityType ? item.quantityType : "Information not
                                                                    yet available"}}
                                                                </td>
                                                                <td>{{item.quantityOrdered ? item.quantityOrdered : (item.quantityOrdered
                                                                    == 0 ? item.quantityOrdered : "0")}}</td>
                                                                <td>{{item.quantityConfirmed ? item.quantityConfirmed : (item.quantityConfirmed
                                                                    == 0 ? item.quantityConfirmed : "0")}}
                                                                </td>
                                                                <td>{{item.quantityPicked ? item.quantityPicked : (item.quantityPicked
                                                                    == 0 ? item.quantityPicked : "0")}}</td>
                                                                <td>{{item.quantityShipped ? item.quantityShipped : (item.quantityShipped
                                                                    == 0 ? item.quantityShipped : "0")}}</td>
                                                                <td>{{item.priceConfirmedCurrency ? item.priceConfirmedCurrency
                                                                    : "-"}}
                                                                </td>
                                                                <!-- tax -->
                                                                <td *ngIf="item.priceConfirmedTaxRate">{{item.priceConfirmedTaxRate}}%</td>
                                                                <td *ngIf="!item.priceConfirmedTaxRate">-</td>
                                                                <td>{{(item.priceConfirmedAmount * (getQutyData(item.statusCurrent,
                                                                    item))) | number:'1.0-2'}}</td>
                                                                <!-- <td *ngIf="item.statusCurrent!='shipped'">{{item.billToNetAmount ? item.billToNetAmount : (item.billToNetAmount
                                                                == 0 ? item.billToNetAmount : "-")}}</td> -->
                                                                <!-- total -->
                                                                <!--<td *ngIf="item.priceConfirmedTaxRate && item.priceConfirmedAmount">{{(item.priceConfirmedAmount * item.quantityConfirmed) |  number:'1.0-2'}}</td>-->
                                                                <!-- <td *ngIf="item.statusCurrent!='shipped' && item.priceConfirmedTaxRate && item.priceConfirmedAmount">{{item.billToAmount| number:'1.0-2'}}</td> -->
                                                                <td *ngIf="item.priceConfirmedTaxRate && item.priceConfirmedAmount">{{ ((item.priceConfirmedAmount * (getQutyData(item.statusCurrent,
                                                                    item))) * (item.priceConfirmedTaxRate /100) + (getQutyData(item.statusCurrent,
                                                                    item))) | number:'1.0-2' }}</td>
                                                                <td *ngIf="!item.priceConfirmedTaxRate || !item.priceConfirmedAmount">-</td>
                                                                <td>{{item.statusCurrent ? item.statusCurrent : "Information
                                                                    not yet available"}}</td>
                                                                <td>{{_cfunction.dateFormator(item.shipToDespatchAt,1)}}</td>
                                                                <td>{{item.stockAdjust}}</td>
                                                                <td>{{item.priceChecked}}</td>
                                                                <td>{{item.statValText}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Search Result Model box Mobile end Here-->

                            <!--Search results section start here-->
                            <div class="col-xs-12 search-results-div drilldown-div">

                                <div id="export_xls" class="collapse">
                                    <div [hidden]="true" id="orderDetailTable">

                                        <table class="order-detail-table" border="1">
                                            <thead>
                                                <tr>
                                                    <th>CUSTOMER ID</th>
                                                    <th>SALES ORDER ID</th>
                                                    <th>SHIP TO LOCATION ID</th>
                                                    <th>SHIP TO DELIVER AT</th>
                                                    <th>SHIP TO DESPATCH AT</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>{{customerId | uppercase}}</td>
                                                    <td>{{orderId}}</td>                                                   
                                                    <td>{{shipToLocationId}}</td>                                                  
                                                    <td>{{shipSaleLocationId}}</td>
                                                    <td>{{_cfunction.dateFormator(shipToDeliverAt,1)}}</td>
                                                    <td>{{_cfunction.dateFormator(shipToDespatchAt,1)}}</td>

                                                </tr>

                                                <tr></tr>
                                            </tbody>
                                        </table>
                                        <table id="order-head-details-table" border="1">
                                            <tbody>
                                                <tr class="tblhead text-bold">
                                                    <td>ORDER QUANTITY</td>
                                                    <td>SHIPPING ADDRESS</td>
                                                    <td>INVOICE INFORMATION</td>
                                                </tr>

                                                <tr class="tblhead">
                                                    <td>Ordered Lines</td>
                                                    <td>Post Code</td>
                                                    <td>ID</td>
                                                </tr>

                                                <tr>
                                                    <td>{{itemsOrderedCountTotal ? itemsOrderedCountTotal : (itemsOrderedCountTotal
                                                        == "0" ? itemsOrderedCountTotal : "0")}}
                                                    </td>
                                                    <td>{{shipToAddressPostCode}}</td>
                                                    <td>{{billToId ? billToId : (billToId == "0" ? billToId : "-")}}
                                                    </td>

                                                </tr>



                                                <tr class="tblhead">
                                                    <td>Ordered Quantity</td>
                                                    <td>Party ID</td>
                                                    <td>Net Amount</td>
                                                </tr>

                                                <tr>
                                                    <td>{{itemsOrderedSumTotal ? itemsOrderedSumTotal : (itemsOrderedSumTotal
                                                        == "0" ? itemsOrderedSumTotal : "-")}}</td>
                                                    <td>{{shipToPartyId}}</td>
                                                    <td>{{billToTotalNetAmount ? billToTotalNetAmount : (billToTotalNetAmount
                                                        == "0" ? billToTotalNetAmount : "-")}}</td>
                                                </tr>
                                                <tr class="tblhead">
                                                    <td>Confirmed Lines</td>
                                                    <td>Name</td>
                                                    <td>Tax Amount</td>
                                                </tr>
                                                <tr>
                                                    <td>{{itemsConfirmedCountTotal ? itemsConfirmedCountTotal : (itemsConfirmedCountTotal
                                                        == "0" ? itemsConfirmedCountTotal : "0")}}</td>
                                                    <td>{{shipToAddressName}}</td>
                                                    <td>{{billToTotalTaxAmount ? billToTotalTaxAmount : (billToTotalTaxAmount
                                                        == "0" ? billToTotalTaxAmount : "-")}}</td>
                                                </tr>



                                                <tr class="tblhead">
                                                    <td>Confirmed Quantity</td>
                                                    <td>Line 1</td>
                                                    <td>Total Amount</td>
                                                </tr>

                                                <tr>
                                                    <td>{{itemsConfirmedSumTotal ? itemsConfirmedSumTotal : (itemsConfirmedSumTotal
                                                        == "0" ? itemsConfirmedSumTotal : "0")}}
                                                    </td>
                                                    <td>{{shipToAddressLine1}}</td>
                                                    <td>{{billToTotalAmount}}</td>

                                                </tr>



                                                <tr class="tblhead">
                                                    <td>Picked Lines</td>
                                                    <td>Line 2</td>

                                                </tr>

                                                <tr>
                                                    <td>{{itemsPickedCountTotal ? itemsPickedCountTotal : (itemsPickedCountTotal
                                                        == "0" ? itemsPickedCountTotal : "-")}}</td>
                                                    <td>{{shipToAddressLine2}}</td>

                                                </tr>



                                                <tr class="tblhead">
                                                    <td>Picked Quantity</td>
                                                    <td>City</td>
                                                </tr>

                                                <tr>
                                                    <td>{{itemsPickedSumTotal ? itemsPickedSumTotal : (itemsPickedSumTotal ==
                                                        "0" ? itemsPickedSumTotal : "-")}}</td>
                                                    <td>{{shipToAddressCity}}</td>
                                                </tr>



                                                <tr class="tblhead">
                                                    <td>Shipped Lines</td>
                                                    <td>Country Code</td>

                                                </tr>

                                                <tr>
                                                    <td>{{itemsShippedCountTotal ? itemsShippedCountTotal : (itemsShippedCountTotal
                                                        == "0" ? itemsShippedCountTotal : "0")}}
                                                    </td>
                                                    <td>{{shipToAddressCountryCode}}</td>

                                                </tr>



                                                <tr class="tblhead">
                                                    <td>Shipped Quantity</td>
                                                    <td rowspan="2" class="text-bold">BILLING ADDRESS</td>

                                                </tr>

                                                <tr>
                                                    <td>{{itemsShippedSumTotal ? itemsShippedSumTotal : (itemsShippedSumTotal
                                                        == "0" ? itemsShippedSumTotal : "-")}}</td>
                                                </tr>



                                                <tr class="tblhead">
                                                    <td rowspan="2" class="text-bold">TRANSMISSION INFORMATION</td>
                                                    <td>Post Code</td>
                                                </tr>

                                                <tr>
                                                    <td>{{billToAddressPostCode}}</td>

                                                </tr>



                                                <tr class="tblhead">
                                                    <td>Message ID</td>
                                                    <td>Party ID</td>
                                                </tr>

                                                <tr>
                                                    <td class="over-hidden">
                                                        <div class="msg-div">{{messageId}}</div>
                                                    </td>
                                                    <td>{{billToPartyId}}</td>
                                                </tr>



                                                <tr class="tblhead">
                                                    <td>Message Type</td>
                                                    <td>Name</td>
                                                </tr>

                                                <tr>
                                                    <td>{{messageType}}</td>
                                                    <td>{{billToAddressName}}</td>
                                                </tr>



                                                <tr class="tblhead">
                                                    <td>Message Created at</td>
                                                    <td>Line 1</td>
                                                </tr>

                                                <tr>
                                                    <td>{{_cfunction.dateFormator(messageCreatedAt,2)}}</td>
                                                    <td>{{billToAddressLine1}}</td>
                                                </tr>



                                                <tr class="tblhead">
                                                    <td>Buyer Party ID</td>
                                                    <td>Line 2</td>
                                                </tr>

                                                <tr>
                                                    <td>{{orderBuyerPartyId}}</td>
                                                    <td>{{billToAddressLine2}}</td>
                                                </tr>



                                                <tr class="tblhead">
                                                    <td>Seller Party ID</td>
                                                    <td>City</td>
                                                </tr>

                                                <tr>
                                                    <td>{{orderSellerPartyId}}</td>
                                                    <td>{{billToAddressCity}}</td>
                                                </tr>



                                                <tr class="tblhead">
                                                    <td>Reference Code</td>
                                                    <td>Country Code</td>
                                                </tr>

                                                <tr>
                                                    <td>{{orderReferenceCode}}</td>
                                                    <td>{{billToAddressCountryCode}}</td>
                                                </tr>



                                                <tr class="tblhead">
                                                    <td>Created At</td>
                                                </tr>

                                                <tr>
                                                    <td>{{_cfunction.dateFormator(createdAt,2)}}</td>
                                                </tr>



                                            </tbody>
                                        </table>


                                    </div>

                                    <div class="table-responsive table-block" id="orderItemTable">
                                        <table border="1" class=" custom-borderd-table table table-bordered table-striped search-result-table text-nowrap" id="itemDetailDrillDown">
                                            <thead>
                                                <tr class="bg-light-green">
                                                    <th colspan="5">PRODUCT </th>
                                                    <th colspan="5">QUANTITY</th>
                                                    <th colspan="4">PRICE </th>
                                                    <th colspan="5">STATUS </th>
                                                </tr>
                                                <tr class="bg-green">
                                                    <th>Line</th>
                                                    <th>Identifier</th>
                                                    <th>Base</th>
                                                    <th>Alternate</th>
                                                    <th>Description</th>
                                                    <th>UOM</th>
                                                    <th>Ordered</th>
                                                    <th>Confirmed</th>
                                                    <th>Picked</th>
                                                    <th>Shipped</th>
                                                    <th>Currency</th>
                                                    <th>Tax</th>
                                                    <th>Net</th>
                                                    <th>Total</th>
                                                    <th>Current</th>
                                                    <th>Despatch</th>
                                                    <th>Stock</th>
                                                    <th>Value</th>
                                                    <th>Validation</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of orderItemList;let i=index">
                                                    <!-- <td>{{item.itemId}}</td>
                                            <td class="item-descr-table">{{item.itemDescription}}</td> -->
                                                    <td>{{item.itemLineId ? item.itemLineId : "-"}}</td>
                                                    <td>{{item.itemId ? item.itemId : "-"}}</td>
                                                    <td>{{item.itemBaseType ? item.itemBaseType : "-"}}</td>

                                                    <td *ngIf="item.itemAlternateId">
                                                        barcodeEan:{{item.itemAlternateId.barcodeEan ? item.itemAlternateId.barcodeEan : "-"}},
                                                        <br> clientAsin:{{item.itemAlternateId.clientAsin ? item.itemAlternateId.clientAsin
                                                        : "-"}},
                                                        <br> skuLegacy:{{item.itemAlternateId.skuLegacy ? item.itemAlternateId.skuLegacy
                                                        : "-"}},
                                                        <br> skuMin:{{item.itemAlternateId.skuMin ? item.itemAlternateId.skuMin
                                                        : "-"}},
                                                        <br> skuPin:{{item.itemAlternateId.skuPin ? item.itemAlternateId.skuPin
                                                        : "-"}}
                                                    </td>
                                                    <td *ngIf="!item.itemAlternateId">-</td>

                                                    <td>{{item.itemDescription ? item.itemDescription : "-"}}</td>
                                                    <td>{{item.quantityType ? item.quantityType : "-"}}</td>
                                                    <td>{{item.quantityOrdered ? item.quantityOrdered : (item.quantityOrdered
                                                        == 0 ? item.quantityOrdered : "-")}}</td>
                                                    <td>{{item.quantityConfirmed ? item.quantityConfirmed : (item.quantityConfirmed
                                                        == 0 ? item.quantityConfirmed : "0")}}
                                                    </td>
                                                    <td>{{item.quantityPicked ? item.quantityPicked : (item.quantityPicked ==
                                                        0 ? item.quantityPicked : "-")}}</td>
                                                    <td>{{item.quantityShipped ? item.quantityShipped : (item.quantityShipped
                                                        == 0 ? item.quantityShipped : "-")}}</td>

                                                    <td>{{item.priceConfirmedCurrency ? item.priceConfirmedCurrency : "Information
                                                        not yet available"}}</td>
                                                    <!-- tax -->
                                                    <td>{{item.priceConfirmedTaxRate}}%</td>
                                                    <td>{{(item.priceConfirmedAmount * (getQutyData(item.statusCurrent, item)))
                                                        | number:'1.0-2'}}</td>
                                                    <!-- <td *ngIf="item.statusCurrent!='shipped'">{{item.billToNetAmount ? item.billToNetAmount : (item.billToNetAmount
                                                    == 0 ? item.billToNetAmount : "Information not yet available")}}
                                                </td> -->
                                                    <!-- total -->
                                                    <!--<td >{{(1 + item.priceConfirmedTaxRate) * item.priceConfirmedAmount}}</td>-->
                                                    <!-- <td *ngIf="item.statusCurrent!='shipped'">{{item.billToAmount | number:'1.0-2'}}</td> -->
                                                    <td>{{ ((item.priceConfirmedAmount * (getQutyData(item.statusCurrent, item)))
                                                        * (item.priceConfirmedTaxRate /100) + (item.priceConfirmedAmount
                                                        * (getQutyData(item.statusCurrent, item)))) | number:'1.0-2' }}
                                                    </td>
                                                    <td>{{item.statusCurrent ? item.statusCurrent : "-"}}</td>
                                                    <td>{{_cfunction.dateFormator(item.shipToDespatchAt,1)}}</td>
                                                    <td>{{item.stockAdjust != null ? item.stockAdjust : "-"}}</td>
                                                    <td>{{item.priceChecked != null ? item.priceChecked : "-"}}</td>
                                                    <td>{{item.statValText != null ? item.statValText : "-"}}</td>

                                                </tr>
                                                <tr class="bg-darkgrey txtclr-white">
                                                    <td colspan="10">
                                                        <strong>Total:</strong>
                                                    </td>
                                                    <td>GBP</td>
                                                    <td></td>
                                                    <td>{{net_Total}}</td>
                                                    <td>{{total_Total}}</td>
                                                    <td colspan="5"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div id="export">
                                    <div [hidden]="true" id="orderDetailTable">

                                        <table class="order-detail-table" border="1">
                                            <thead>
                                                <tr>
                                                    <th>CUSTOMER ID</th>
                                                    <th>SALES ORDER ID</th>
                                                    <th>SHIP TO LOCATION ID</th>
                                                    <th>SHIP TO DELIVER AT</th>
                                                    <th>SHIP TO DESPATCH AT</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>{{customerId | uppercase}}</td>
                                                    <td>{{orderId}}</td>
                                                    <td>{{shipToLocationId}}</td>
                                                    <td>{{_cfunction.dateFormator(shipToDespatchAt,1)}}</td>
                                                    <td>{{_cfunction.dateFormator(shipToDeliverAt,1)}}</td>
                                                </tr>

                                                <tr></tr>
                                            </tbody>
                                        </table>
                                        <table id="order-head-details-table" border="1">
                                            <tbody>
                                                <tr class="tblhead">
                                                    <td>Order Buyer Party Id</td>
                                                    <td>Ship To Address Country Code</td>
                                                    <td>Items Confirmed Count Total</td>
                                                </tr>

                                                <tr>
                                                    <td>{{orderBuyerPartyId}}</td>
                                                    <td>{{shipToAddressCountryCode}}</td>
                                                    <td>{{itemsConfirmedCountTotal ? itemsConfirmedCountTotal : (itemsConfirmedCountTotal
                                                        == "0" ? itemsConfirmedCountTotal : "0")}}
                                                    </td>

                                                </tr>

                                                <tr></tr>

                                                <tr class="tblhead">
                                                    <td>Order SellerParty ID</td>
                                                    <td>Ship To Address Post Code</td>
                                                    <td>Items Confirmed Sum Total</td>
                                                </tr>

                                                <tr>
                                                    <td>{{orderSellerPartyId}}</td>
                                                    <td>{{shipToAddressPostCode}}</td>
                                                    <td>{{itemsConfirmedSumTotal ? itemsConfirmedSumTotal : (itemsConfirmedSumTotal
                                                        == "0" ? itemsConfirmedSumTotal : "0")}}
                                                    </td>

                                                </tr>

                                                <tr></tr>

                                                <tr class="tblhead">
                                                    <td>Order Reference Code</td>
                                                    <td>Bill to Party ID</td>
                                                    <td>Items Ordered Count Total</td>
                                                </tr>

                                                <tr>
                                                    <td>{{orderReferenceCode}}</td>
                                                    <td>{{billToPartyId}}</td>
                                                    <td>{{itemsOrderedCountTotal ? itemsOrderedCountTotal : (itemsOrderedCountTotal
                                                        == "0" ? itemsOrderedCountTotal : "0")}}
                                                    </td>

                                                </tr>

                                                <tr></tr>

                                                <tr class="tblhead">
                                                    <td>Message ID</td>
                                                    <td>Bill to Address Name</td>
                                                    <td>Items Ordered Sum Total</td>
                                                </tr>

                                                <tr>
                                                    <td class="over-hidden">
                                                        <div class="msg-div">{{messageId}}</div>
                                                    </td>
                                                    <td>{{billToAddressName}}</td>
                                                    <td>{{itemsOrderedSumTotal ? itemsOrderedSumTotal : (itemsOrderedSumTotal
                                                        == "0" ? itemsOrderedSumTotal : "-")}}</td>

                                                </tr>

                                                <tr></tr>

                                                <tr class="tblhead">
                                                    <td>Message Type</td>
                                                    <td>Bill to Address Line 1</td>
                                                    <td>Items Picked Count Total</td>
                                                </tr>

                                                <tr>
                                                    <td>{{messageType}}</td>
                                                    <td>{{billToAddressLine1}}</td>
                                                    <td>{{itemsPickedCountTotal ? itemsPickedCountTotal : (itemsPickedCountTotal
                                                        == "0" ? itemsPickedCountTotal : "-")}}</td>


                                                </tr>

                                                <tr></tr>

                                                <tr class="tblhead">
                                                    <td>Message Created at</td>
                                                    <td>Bill to Address Line 2</td>
                                                    <td>Items Picked Sum Total</td>
                                                </tr>

                                                <tr>
                                                    <td>{{_cfunction.dateFormator(messageCreatedAt,2)}}</td>
                                                    <td>{{billToAddressLine2}}</td>
                                                    <td>{{itemsPickedSumTotal ? itemsPickedSumTotal : (itemsPickedSumTotal ==
                                                        "0" ? itemsPickedSumTotal : "-")}}</td>


                                                </tr>

                                                <tr></tr>

                                                <tr class="tblhead">
                                                    <td>Current Status</td>
                                                    <td>Bill To Address City</td>
                                                    <td>Items Shipped Count Total</td>
                                                </tr>

                                                <tr>
                                                    <td>{{statusCurrent}}</td>
                                                    <td>{{billToAddressCity}}</td>
                                                    <td>{{itemsShippedCountTotal ? itemsShippedCountTotal : (itemsShippedCountTotal
                                                        == "0" ? itemsShippedCountTotal : "0")}}
                                                    </td>


                                                </tr>

                                                <tr></tr>

                                                <tr class="tblhead">
                                                    <td>Ship to Party ID</td>
                                                    <td>Bill To Address Post Code</td>
                                                    <td>Items Shipped Sum Total</td>

                                                </tr>

                                                <tr>
                                                    <td>{{shipToPartyId}}</td>
                                                    <td>{{billToAddressPostCode}}</td>
                                                    <td>{{itemsShippedSumTotal ? itemsShippedSumTotal : (itemsShippedSumTotal
                                                        == "0" ? itemsShippedSumTotal : "-")}}</td>
                                                </tr>

                                                <tr></tr>

                                                <tr class="tblhead">
                                                    <td>Ship to Address Name</td>
                                                    <td>Bill to Address Country Code</td>
                                                    <td>Raised Date & Time</td>
                                                </tr>

                                                <tr>
                                                    <td>{{shipToAddressName}}</td>
                                                    <td>{{billToAddressCountryCode}}</td>
                                                    <td>{{_cfunction.dateFormator(createdAt,2)}}</td>

                                                </tr>

                                                <tr></tr>

                                                <tr class="tblhead">
                                                    <td>Ship to Address Line 1</td>
                                                    <td>Bill To ID</td>
                                                    <td class="border-zero"></td>
                                                </tr>

                                                <tr>
                                                    <td>{{shipToAddressLine1}}</td>
                                                    <td>{{billToId ? billToId : (billToId == "0" ? billToId : "-")}}</td>
                                                    <td class="border-zero"></td>
                                                </tr>

                                                <tr></tr>

                                                <tr class="tblhead">
                                                    <td>Ship to Address Line 2</td>
                                                    <td>Bill to Total Net Amount</td>
                                                    <td class="border-zero"></td>
                                                </tr>

                                                <tr>
                                                    <td>{{shipToAddressLine2}}</td>
                                                    <td>{{billToTotalNetAmount ? billToTotalNetAmount : (billToTotalNetAmount
                                                        == "0" ? billToTotalNetAmount : "-")}}</td>
                                                    <td class="border-zero"></td>
                                                </tr>

                                                <tr></tr>

                                                <tr class="tblhead">
                                                    <td>Ship to Address City</td>
                                                    <td>Bill to Total Tax Amount</td>
                                                    <td class="border-zero"></td>
                                                </tr>

                                                <tr>
                                                    <td>{{shipToAddressCity}}</td>
                                                    <td>{{billToTotalTaxAmount ? billToTotalTaxAmount : (billToTotalTaxAmount
                                                        == "0" ? billToTotalTaxAmount : "-")}}</td>
                                                    <td class="border-zero"></td>

                                                </tr>

                                                <tr></tr>

                                            </tbody>
                                        </table>


                                    </div>

                                    <div class="table-responsive table-block" id="orderItemTable">
                                        <table border="1" class=" custom-borderd-table table table-bordered table-striped search-result-table text-nowrap" id="itemDetailDrillDown">
                                            <thead>
                                                <tr class="bg-light-green">

                                                    <th attr.colspan="{{identifierHeaderSize}}">PRODUCT
                                                        <i id="orderItemTable_product" (click)="toggleTableColumns('Product'); " class="glyphicon glyphicon-chevron-right pull-right"></i>
                                                    </th>
                                                    <th attr.colspan="{{identifierquantitySize}}">QUANTITY
                                                        <i id="orderItemTable_quantity" (click)="toggleTableColumns('Quantity');" class="glyphicon glyphicon-chevron-right pull-right"></i>
                                                    </th>
                                                    <th attr.colspan="{{identifierpriceSize}}">PRICE
                                                        <i id="orderItemTable_price" (click)="toggleTableColumns('Price'); " class="glyphicon glyphicon-chevron-right pull-right"></i>
                                                    </th>
                                                    <th attr.colspan="{{identifierstatusSize}}">STATUS
                                                        <i id="orderItemTable_status" (click)="toggleTableColumns('Status'); " class="glyphicon glyphicon-chevron-right pull-right"></i>
                                                    </th>
                                                </tr>
                                                <tr class="bg-green">
                                                    <th>Line</th>
                                                    <th>Identifier</th>
                                                    <th [hidden]="identifierHide">Base</th>
                                                    <th [hidden]="identifierHide">Alternate</th>
                                                    <th>Description</th>
                                                    <th>UOM</th>
                                                    <th>Ordered</th>
                                                    <th [hidden]="quantityHide">Confirmed</th>
                                                    <th [hidden]="quantityHide">Picked</th>
                                                    <th [hidden]="quantityHide">Shipped</th>
                                                    <th>Currency</th>
                                                    <th [hidden]="priceHide">Tax</th>
                                                    <th>Net</th>
                                                    <th [hidden]="priceHide">Total</th>
                                                    <th>Current</th>
                                                    <th [hidden]="statusHide">Despatch</th>
                                                    <th [hidden]="statusHide">Stock</th>
                                                    <th [hidden]="statusHide">Value</th>
                                                    <th [hidden]="statusHide">Validation</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of orderItemList;let i=index ">
                                                    <!-- <td>{{item.itemId}}</td>
                                            <td class="item-descr-table">{{item.itemDescription}}</td> -->
                                                    <td>{{item.itemLineId ? item.itemLineId : (item.itemLineId == 0 ? item.itemLineId
                                                        : "-")}}</td>
                                                    <td>{{item.itemId ? item.itemId : "-"}}</td>
                                                    <td [hidden]="identifierHide">{{item.itemBaseType ? item.itemBaseType : "-"}}</td>

                                                    <td *ngIf="item.itemAlternateId" [hidden]="identifierHide">
                                                        barcodeEan:{{item.itemAlternateId.barcodeEan ? item.itemAlternateId.barcodeEan : "-"}},
                                                        <br> clientAsin:{{item.itemAlternateId.clientAsin ? item.itemAlternateId.clientAsin
                                                        : "-"}},
                                                        <br> skuLegacy:{{item.itemAlternateId.skuLegacy ? item.itemAlternateId.skuLegacy
                                                        : "-"}},
                                                        <br> skuMin:{{item.itemAlternateId.skuMin ? item.itemAlternateId.skuMin
                                                        : "-"}},
                                                        <br> skuPin:{{item.itemAlternateId.skuPin ? item.itemAlternateId.skuPin
                                                        : "-"}}
                                                    </td>
                                                    <td *ngIf="!item.itemAlternateId" [hidden]="identifierHide">-</td>

                                                    <td>{{item.itemDescription ? item.itemDescription : "-"}}</td>
                                                    <td class="bg-grey">{{item.quantityType ? item.quantityType : "-"}}</td>
                                                    <td class="bg-grey">{{item.quantityOrdered ? item.quantityOrdered : (item.quantityOrdered
                                                        == 0 ? item.quantityOrdered : "0")}}</td>
                                                    <td class="bg-grey" [hidden]="quantityHide">{{item.quantityConfirmed ? item.quantityConfirmed : (item.quantityConfirmed
                                                        == 0 ? item.quantityConfirmed : "0")}}
                                                    </td>
                                                    <td class="bg-grey" [hidden]="quantityHide">{{item.quantityPicked ? item.quantityPicked : (item.quantityPicked ==
                                                        0 ? item.quantityPicked : "0")}}</td>
                                                    <td class="bg-grey" [hidden]="quantityHide">{{item.quantityShipped ? item.quantityShipped : (item.quantityShipped
                                                        == 0 ? item.quantityShipped : "0")}}</td>

                                                    <td>{{item.priceConfirmedCurrency ? item.priceConfirmedCurrency : "0"}}</td>
                                                    <!-- tax -->
                                                    <td [hidden]="priceHide">{{item.priceConfirmedTaxRate}}%</td>
                                                     <!-- <td>{{(item.priceConfirmedAmount * getQutyData(item.statusCurrent, item))
                                                        | number:'1.0-2' }}</td>  -->
                                                    
                                                    <td *ngIf="amazonType==true">{{ item.priceConfirmedAmount * (getQutyData(item.statusCurrent, item))
                                                        / (1 + (item.priceConfirmedTaxRate /100))  | number:'1.0-2' | positive }}
                                                    </td>
                                                    <td *ngIf="amazonType!=true">{{(item.priceConfirmedAmount * getQutyData(item.statusCurrent, item))
                                                        | number:'1.0-2' }}
                                                    </td>  

                                                    <!-- <td *ngIf="item.statusCurrent!='shipped'">{{item.billToNetAmount ? item.billToNetAmount : (item.billToNetAmount
                                                    == 0 ? item.billToNetAmount : "-")}}</td> -->
                                                    <!-- total -->
                                                    <!--<td>{{((item.priceConfirmedAmount * item.quantityConfirmed) |  number:'1.0-2')}}</td>-->
                                                    <!-- <td [hidden]="priceHide" *ngIf="item.statusCurrent!='shipped'">{{item.billToAmount | number:'1.0-2'}}</td> -->
                                                    <td *ngIf="amazonType==true" [hidden]="priceHide">
                                                        {{(item.priceConfirmedAmount * getQutyData(item.statusCurrent, item))
                                                            | number:'1.0-2' }}    
                                                            
                                                    </td>
                                                    <td *ngIf="amazonType!=true">{{ ((item.priceConfirmedAmount * (getQutyData(item.statusCurrent, item)))
                                                        * (item.priceConfirmedTaxRate /100) + (item.priceConfirmedAmount
                                                        * (getQutyData(item.statusCurrent, item)))) | number:'1.0-2' }}
                                                    </td>
                                                    <td *ngIf="amazonType==true" class="bg-grey">{{item.statusCurrent ? item.statusCurrent : "-"}}</td>
                                                    <td *ngIf="amazonType!=true" [hidden]="statusHide" class="bg-grey">{{item.statusCurrent ? item.statusCurrent : "-"}}</td>
                                                    <td [hidden]="statusHide">{{_cfunction.dateFormator(item.shipToDespatchAt,1)}}</td>
                                                    <td [hidden]="statusHide" class="bg-grey">{{item.stockAdjust != null ? item.stockAdjust : "-"}}</td>
                                                    <td [hidden]="statusHide" class="bg-grey">{{item.priceChecked != null ? item.priceChecked : "-"}}</td>
                                                    <td *ngIf="item.statValText" [hidden]="statusHide" id="ordersDetailValidation" class="{{item.statValColor}}">
                                                        <span *ngIf="item.statValText.length > 2" id="validationTooltip" tooltip="{{item.statValText}}" tooltipPlacement="left">
                                                            {{formatSelection(item.statValText)}}
                                                        </span>
                                                        <span *ngIf="item.statValText.length <= 2 ">
                                                            {{item.statValText}}
                                                        </span>
                                                    </td>
                                                    <td [hidden]="statusHide" id="ordersDetailValidation" class="{{item.statValColor}}" *ngIf="!item.statValText">-</td>

                                                </tr>
                                                <tr class="bg-darkgrey txtclr-white">
                                                    <td>
                                                        <strong>Total:</strong>
                                                    </td>
                                                    <td></td>
                                                    <td [hidden]="identifierHide"></td>

                                                    <td [hidden]="identifierHide"></td>

                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td [hidden]="quantityHide"></td>
                                                    <td [hidden]="quantityHide"></td>
                                                    <td [hidden]="quantityHide"></td>

                                                    <td>GBP</td>
                                                    <!-- tax -->
                                                    <td [hidden]="priceHide"></td>
                                                    <td>{{net_Total | positive }}</td>
                                                    <!-- total -->
                                                    <td [hidden]="priceHide">{{total_Total}}</td>
                                                   
                                                    <td [hidden]="statusHide"></td>
                                                    <td [hidden]="statusHide"></td>
                                                    <td [hidden]="statusHide"></td>
                                                    <td [hidden]="statusHide"></td>
                                                    <td [hidden]="statusHide"></td>
                                                    <td></td>
                                                    
                                                 
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!--<ul class="list-inline search-help-links links-margin">
                                    <li (click)="printOrderDetail()">
                                        <a class="pdlinks">
                                            <img src="{{whoImgUrl}}print.png" class="img-resposnive icon-img">Print</a>
                                    </li>
                                    <li (click)="exportData()">
                                        <a class="pdlinks">
                                            <img src="{{whoImgUrl}}download.png" class="img-resposnive icon-img">Download</a>
                                    </li>
                                </ul>-->
                            </div>
                            <!--Search results section end here-->
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="showLoader" class="overlay-load">
                <div class="loader-box-shadow">
                    <div class="load-img">
                        <img src="{{whoImgUrl}}spinner.svg" class="loader-image" alt="Loader Image" />
                        <div>
                            <h6>LOADING</h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class='print_only' id="printHeader" [hidden]="printHeader">
                <!--dashboard container section start-->
                <div class="row dashboard-heading-div">
                    <div class="col-xs-12">
                        <img class="logo_print" src="{{whoImgUrl}}print_logo.png" alt="Morrisons logo">
                        <hr>
                        <h2 class="font-bold actualprint-ordernno">Order Details</h2>
                    </div>
                </div>

            </div>
            <!-- loader section end-->
            <!--Search order content section end here-->
            <div class="hidden-sm hidden-xs">
                <button (click)="onScrolltop()" class="topbtn" id="topBtn">Top</button>
            </div>
        </div>
    </div>
    <div class="order-tracker" *ngIf="statusOrderTracker">
        <div class="row order-tracker-DHL" *ngIf='!isAmazon'>
            <button class="order-tracker-graph">DHL Push</button>
        </div>
        <div class="row order-tracker-DHL-time" *ngIf='!isAmazon'>
            {{_cfunction.dateFormator(DHLtime,2)}}
        </div>
        <div class="row order-tracker-DHL-arrow" *ngIf='!isAmazon'>
            <span class="glyphicon glyphicon-arrow-up"></span>
        </div>
        <div class="row">
            <button class="order-tracker-graph">Raised</button>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <button class="order-tracker-graph">Confirmed</button>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <button class="order-tracker-graph" *ngIf='isAmazon'>Picked</button>
            <span class="glyphicon glyphicon-arrow-right" *ngIf='isAmazon'></span>
            <button class="order-tracker-graph">Shipped</button>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <button class="order-tracker-graph hide">Receipt</button>
            <span class="glyphicon glyphicon-arrow-right hide"></span>
            <button class="order-tracker-graph">Accounted</button>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <button class="order-tracker-graph">Invoiced</button>
        </div>
        <div class="row">
            <button class="order-tracker-timestamp">{{_cfunction.dateFormator(timeStampRaised,1)}}</button>
            <button class="order-tracker-timestamp">{{_cfunction.dateFormator(timeStampConfirmed,8)}}</button>
            <button class="order-tracker-timestamp" *ngIf='isAmazon'>{{_cfunction.dateFormator(timeStampPicked,8)}}</button>
            <button class="order-tracker-timestamp">{{_cfunction.dateFormator(timeStampShip,8)}}</button>
            <button class="order-tracker-timestamp hide">{{_cfunction.dateFormator(timeStampReceipt,8)}}</button>
            <button class="order-tracker-timestamp">{{_cfunction.dateFormator(timeStampAccounted,8)}}</button>
            <button class="order-tracker-timestamp">{{_cfunction.dateFormator(timeStampInvoiced,8)}}
                <a (click)="getInvoiceDownload()" *ngIf='ISINVOICEpresent'>
                Download Invoice</a>
            </button>
        </div>
        <div class="row order-tracker-SMS2" *ngIf='!isAmazon'>
            <span class="glyphicon glyphicon-arrow-down"></span>

        </div>
        <div class="row order-tracker-SMS2-arrow" *ngIf='!isAmazon'>
            <button class="order-tracker-graph">SMS2 Confirmation</button>
        </div>
        <div class="row order-tracker-SMS2-time" *ngIf='!isAmazon'>{{_cfunction.dateFormator(sms2Time,9)}}
        </div>
        <!--Search Order section end here-->
    </div>
</div>

<div class="modal fade custom-model zindex9999991" id="popup_SessionExpired" role="dialog">
    <div class="modal-dialog top75 width314">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="border-top-bottom-popup">
                <h5 class="padd-left-right-10">Session terminated
                    <button type="button" id="close-popup" class="close close-icon" data-dismiss="modal" (click)="closePopup()">&#10006;</button>
                </h5>
            </div>
            <div class="modal-body">
                <div class="new-batch-num-popup">
                    <!-- <span>{{msgJSON.message}}</span> -->
                    <span>Session has been terminated - please log in again.</span>
                </div>
            </div>
            <div class="modal-footer border-top-grey-1">
                <div class="text-right">
                    <button class="btn btn-default npr-popup-btn" type="button" (click)="closePopup()">OK</button>
                </div>
            </div>
        </div>
        <!-- Modal Content End -->
    </div>
</div>