<!--Search Order section start here-->
<!-- Breadcrumb start here-->
<div class="mvp_bradcrumb">
    <div class="container">
        <div class="col-xs-12 breadcrumb product-breadcrumb">
            <a [routerLink]="['/customerselection']">
                <span class="bradcrumb-text">Home</span>
            </a>/
            <a [routerLink]="['/cataloguemanagement', customerName]">
                <span class="bradcrumb-text">Catalogue Management</span>
            </a>/
            <span class="bradcrumb-text bold">Maintain Supply Depots</span>
        </div>
    </div>
</div>

<!--Search Order section start here-->
<div class="mmbborder" id="circle-box-border"></div>
<!-- Only Show in Mobile View -->
<catalogue-management-pending-request-header></catalogue-management-pending-request-header>

<div class="hidden-xs padd-btm-50 padd-top-10 bgcolor-grey">
    <div class="container bgcolor-white border-top-bottom" *ngIf="!siteMaintanceFlg">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <h4 class="dis-inlineblc">Maintain Supply Depots</h4>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 ">
                <div class="pull-right padd-top-10 text-right" [class.hidden]="newSD || (supplyingDepot == undefined || supplyingDepotCategoryDD == [])">
                    <span class="padd-left10 cursor-pointer" (click)="printIt()" tooltip="Only records that have been fetched and displayed on screen by “paging through”"
                        tooltipPlacement="bottom">
                        <img src="{{whoImgUrl}}IconPrint.svg" class="img-responsive dis-inlineblc img-width padd-right5">Print
                    </span>
                    <span class="padd-left10 cursor-pointer" (click)="exportIt()" tooltip="Only records that have been fetched and displayed on screen by “paging through”"
                        tooltipPlacement="bottom">
                        <img src="{{whoImgUrl}}IconDownload.svg" class="img-responsive dis-inlineblc img-width padd-right5">Download
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="container bgcolor-white" *ngIf="!siteMaintanceFlg">
        <div class="pad-lft-right-15" *ngIf="supplyingDepot != undefined">
            <form role="form" #maintainSuppDepot="ngForm" name="maintainSuppDepot" class="" (submit)="saveSupplyDepot()">
                <div class="row search-order-div bgcolor-white">
                    <div class="col-md-12 col-lg-12 col-sm-12  margin-bottom-0 padd-left-0">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 search-section xspadding padd-left-0">
                            <label for="catalogueType">Choose Supplying Depots</label>
                            <span class="up_arrow glyphicon glyphicon-menu-down"></span>
                            <select (change)="showSupplyingDepotTable($event.target.value)" class="form-control ng-untouched ng-pristine ng-invalid"
                                id="supDepoName" name="supDepoName" [(ngModel)]="supplyingDhlDepotName" [class.disable]="disableSupplyDepotDD">                                    
                                <option *ngFor="let sd of supplyingDepot | orderBy:'supplyingDhlDepotName'; let i=index;" [value]="sd.supplyingDhlDepotName">{{sd.supplyingDhlDepotName}}</option>
                            </select>
                        </div>
                        <div class="col-md-2 col-lg-2 col-sm-6 addNewDepotLink" *ngIf="this.supplyingDepot !== undefined" [class.disable]="!addNewButton">
                            <a (click)="addNewSD()" *ngIf="addSupplyingDepotPermission">
                                <span class="glyphicon glyphicon-plus glaphi-border"></span> &nbsp;Add New Depot
                            </a>
                        </div>
                        <div class="col-md-7 col-lg-7 col-sm-12 padd-left-0 padding-top-20" [hidden]="!newBoxDisplay">
                            <div class="col-md-9 col-lg-5 col-sm-9 padd-left-0">
                                <div class=" input-group store-input-group" id="div_newSupplyDepotName">
                                    <input class="form-control order-no-form ng-untouched ng-pristine ng-valid" #newSupplyDepotName id="newSupplyDepotName" name="newSupplyDepotName"
                                        type="text" placeholder="Enter Supply Depot Name" (keypress)="buttonDisplay()" ng-pattern="/^[a-zA-Z\s]*$/"
                                        [(ngModel)]="supplyingDhlDepotNameNew" (focusout)="_cfunction.validateInputText($event, 0, 'err_newSupplyDepotName', 'Supply Depot', true, 'div_newSupplyDepotName', true);"
                                        (keyup)="checkDuplicateSD(supplyingDhlDepotNameNew, 0, 'newSupplyDepotName', 'div_newSupplyDepotName')">
                                    <span class="input-group-addon">
                                        <span class="info-icon" (click)="canNewSD()" title="Cancel" Alt="Cancel">
                                            <span class="glyphicon glyphicon-remove"></span>
                                    </span>
                                    </span>
                                </div>
                                <span id="err_newSupplyDepotName" class="red"></span>
                                <span id="err_newSupplyDepotNameDuplicate" class="red"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-lg-12 col-sm-12 padding-right-zero margin-bottom-0 padd-left-0" *ngIf="supplyingDepot != undefined && supplyingDepotCategoryDD != []">
                        <table class="custom-borderd-table table table-bordered table-striped search-result-table text-nowrap viewchanges-table changes-table">
                            <thead class="head-color">
                                <tr>
                                    <th width="12%">Product Category</th>
                                    <th>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 search-section xspadding">Mainframe Store ID</div>
                                    </th>
                                    <th>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 search-section xspadding">RMS Selling Store ID</div>
                                    </th>
                                    <th>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 search-section xspadding">RMS Warehouse ID</div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="supplyDepotTable">
                                <tr *ngFor="let sdCategory of selectedCategorySupplyDepot | orderBy:'categoryName';let i=index;">
                                    <td class="vmiddle">{{sdCategory.categoryName}}</td>
                                    <td>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-zero">
                                            <span class="up_arrow glyphicon glyphicon-menu-down " style="top:7px !important;"></span>
                                            <select class="form-control ng-untouched ng-pristine ng-invalid" [(ngModel)]="sdCategory.rmsWarehouseId" id="rmsWarehouseId{{sdCategory.categoryName}}_id"
                                                name="rmsWarehouseId{{sdCategory.categoryName}}_id" required (change)="modelChange()"
                                                (focusout)="_cfunction.validateInputText($event, 0, 'err_rmsWarehouseId'+sdCategory.categoryName+'_id', 'RMS Warehouse ID', true, 'rmsWarehouseId'+sdCategory.categoryName+'_id', true)">
                                                <option value="">Please Select</option>
                                                <option *ngFor="let number of supplyingDepotCategoryDD[sdCategory.categoryName].rmsWarehouseIdList|sortnumber:'number'" [ngValue]="number" [selected]="number == sdCategory.rmsWarehouseId">{{number}}</option>
                                            </select>
                                            <span id="err_rmsWarehouseId{{sdCategory.categoryName}}_id"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-zero">
                                            <span class="up_arrow glyphicon glyphicon-menu-down " style="top:7px !important;"></span>
                                            <select class="form-control ng-untouched ng-pristine ng-invalid" [(ngModel)]="sdCategory.rmsSellingStoreId" name="rmsSellingStoreId_{{sdCategory.categoryName}}"
                                                id="rmsSellingStoreId{{sdCategory.categoryName}}_id" required (change)="modelChange()"
                                                (focusout)="_cfunction.validateInputText($event, 0, 'err_rmsSellingStoreId'+sdCategory.categoryName+'_id', 'RMS Selling Store ID', true, 'rmsSellingStoreId'+sdCategory.categoryName+'_id', true)">
                                                <option value="">Please Select</option>
                                                <option *ngFor="let number of supplyingDepotCategoryDD[sdCategory.categoryName].rmsSellingStoreIdList|sortnumber:'number'" [ngValue]="number" [selected]="number == sdCategory.rmsSellingStoreId">{{number}}</option>
                                            </select>
                                            <span id="err_rmsSellingStoreId{{sdCategory.categoryName}}_id"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-zero">
                                            <span class="up_arrow glyphicon glyphicon-menu-down " style="top:7px !important;"></span>
                                            <select class="form-control ng-untouched ng-pristine ng-invalid" [(ngModel)]="sdCategory.mainFrameStoreId" name="mainFrameStoreId_{{sdCategory.categoryName}}"
                                                id="mainFrameStoreId{{sdCategory.categoryName}}_id" required (change)="modelChange()"
                                                (focusout)="_cfunction.validateInputText($event, 0, 'err_mainFrameStoreId'+sdCategory.categoryName+'_id', 'Mainframe Store ID', true, 'mainFrameStoreId'+sdCategory.categoryName+'_id', true)">
                                                <option value="">Please Select</option>
                                                <option *ngFor="let number of supplyingDepotCategoryDD[sdCategory.categoryName].mainFrameStoreIdList|sortnumber:'number'" [ngValue]="number" [selected]="number == sdCategory.mainFrameStoreId">{{number}}</option>
                                            </select>
                                            <span id="err_mainFrameStoreId{{sdCategory.categoryName}}_id"></span>
                                        </div>
                                    </td>

                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="col-md-12 col-lg-12 col-sm-12 padding-right-zero text-right margin-top-0">
                        <button class="btn btn-default store-details-btn" type="submit" *ngIf="supplyingDepot != undefined" [class.disable]="!addSaveButton"
                            (click)="validate()">Save</button>
                        <button class="btn btn-default store-details-btn" type="button" (click)="exitScreen()">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="pad-lft-right-15" *ngIf="supplyingDepot == undefined || supplyingDepotCategoryDD == []">
            <div class="error-message-container">
                <div class="categories">
                    <div class="alert alert-info text-center error-message">
                        <strong>Sorry, No data found at this moment.</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--site maintenance start-->
    <div class="row" *ngIf="siteMaintanceFlg">
        <div class="col-xs-12 col-sm-12 col-md-12 maintenance-background">
            <div class="heading-text">
                <h3 class="semi-bold text-center hidden-xs">SITE MAINTENANCE</h3>
            </div>
            <div class="maintenance-box login-box bold text-center">
                {{siteMSg}}
            </div>
        </div>
    </div>
    <!--site maintenance end-->
</div>
<div class="modal fade custom-model zindex9999991" id="popup_SessionExpired" role="dialog">
    <div class="modal-dialog top75 width314">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="border-top-bottom-popup">
                <h5 class="padd-left-right-10">Session terminated<button type="button" id="close-popup" class="close close-icon" data-dismiss="modal" (click)="closePopup('popup_SessionExpired')">&#10006;</button>
                </h5>
            </div>
            <div class="modal-body">
                <div class="new-batch-num-popup">
                    <!-- <span>{{msgJSON.message}}</span> -->
                    <span>Session has been terminated - please log in again.</span>
                </div>
            </div>
            <div class="modal-footer border-top-grey-1">
                <div class="text-right">
                    <button class="btn btn-default npr-popup-btn" type="button" (click)="closePopup('popup_SessionExpired')">OK</button>
                </div>
            </div>
        </div>
        <!-- Modal Content End -->
    </div>
</div>
<div class="modal fade custom-model zindex999999" id="messageModal" role="dialog">
    <div class="modal-dialog top75 width314">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="border-top-bottom-popup">
                <h5 class="padd-left-right-10">Maintain Supply Depot
                    <button type="button" id="close-popup" class="close close-icon" data-dismiss="modal" (click)="closePopup('messageModal')">&#10006;</button>
                </h5>
            </div>
            <div class="modal-body">
                <div class="new-batch-num-popup">
                    <span>{{popupMsg}}</span>
                </div>
            </div>
        </div>
        <!-- Modal Content End -->
    </div>
</div>

<div class='print_only' id="printHeader" [hidden]="true">
    <!--dashboard container section start-->
    <div class="row dashboard-heading-div">
        <div class="col-xs-12">
            <img class="logo_print" src="{{whoImgUrl}}print_logo.png" alt="Morrisons logo">
            <h3 class="font-bold actualprint-ordernno">Maintain Supply Depot</h3>
        </div>
    </div>
</div>
<!--Search order content section end here-->

<div class='print_only' id="exportable" [hidden]="true">
    <!-- <div class="row dashboard-heading-div">
        <div class="col-xs-12">
            <h3 class="font-bold actualprint-ordernno">Maintain Supply Depot</h3>
        </div>
    </div> -->
    <strong>Supplying Depots : </strong>{{supplyingDhlDepotName}}
    <table class="table table-bordered table-striped" border=1>
        <thead>
            <tr>
                <th>Product Category</th>
                <th>Mainframe Store ID</th>
                <th>RMS Selling Store ID</th>
                <th>RMS Warehouse ID</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let sdCategory of selectedCategorySupplyDepot">
                <td>{{sdCategory.categoryName}}</td>
                <td>{{sdCategory.rmsWarehouseId}}</td>
                <td>{{sdCategory.rmsSellingStoreId}}</td>
                <td>{{sdCategory.mainFrameStoreId}}</td>
            </tr>
        </tbody>
    </table>
</div>