<!--Search Order section start here-->
<!-- Breadcrumb start here-->
<div class="mvp_bradcrumb">
    <div class="container">
        <div class="col-xs-12 breadcrumb product-breadcrumb">
            <a [routerLink]="['/customerselection']">
                <span class="bradcrumb-text">Home</span>
            </a>/
            <a [routerLink]="['/cataloguemanagement', customerName]">
                <span class="bradcrumb-text">Catalogue Management</span>
            </a>/
            <a [routerLink]="['/cataloguemanagement', customerName,'npr','manage']">
                <span class="bradcrumb-text">Manage New Product Requests</span>
            </a>/
            <span class="bradcrumb-text bold">Supply Chain Team Review</span>
        </div>
    </div>
</div>

<!--Search Order section start here-->
<div class="mmbborder" id="circle-box-border"></div>
<!-- Only Show in Mobile View -->
<catalogue-management-pending-request-header></catalogue-management-pending-request-header>


<!--Search order heading section end here-->
<div class="hidden-xs padd-btm-50 bgcolor-grey padd-top-10 min-height600">
    <div class="container bgcolor-white border-top-bottom margintop25">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <h4 class="dis-inlineblc">Lines From Selected Batches Requiring Supply Chain Team Review</h4>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 ">
                <div class="pull-right padd-top-10 text-right">
                    <span class="padd-left10 cursor-pointer" (click)="printOrder()">
                        <img src="{{whoImgUrl}}IconPrint.svg" class="img-responsive dis-inlineblc img-width padd-right5">Print</span>
                    <span class="padd-left10 padd-right20 cursor-pointer" (click)="exportData()">
                        <img src="{{whoImgUrl}}IconDownload.svg" class="img-responsive dis-inlineblc img-width padd-right5">Download</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container bgcolor-white" id="supplyContainer">

        <div class="pad-lft-right-15">
            <div class="row bgcolor-white" id="supplyChainContainer">

                <div id="exTab2" class="margin-top30">

                    <ul class="nav nav-tabs nav-tabs-top-border">
                        <li class="active">
                            <a href="#Main" data-toggle="tab">Main
                                <sup class="padd-left5">
                                    <span class="badge badge-danger" *ngIf="errorSummary.supplychainMainError > 0">{{errorSummary.supplychainMainError}}</span>
                                </sup>
                            </a>
                        </li>
                        <li>
                            <a href="#Warehouse" data-toggle="tab">Warehouse
                                <sup class="padd-left5">
                                    <span class="badge badge-danger" *ngIf="errorSummary.supplychainWarehouseError > 0">{{errorSummary.supplychainWarehouseError}}</span>
                                </sup>
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="Main">
                            <div class="table-responsive table-block margintop20 max-height350 pos-inherit">
                                <table class="table search-result-table table-hover popup-table-border table-striped " id="nprDataTbl">
                                    <thead class="bg-white">
                                        <tr>
                                            <th>VendorSKU</th>
                                            <th>Description</th>
                                            <th class="border-left border-top">Channel</th>
                                            <th class="border-left-light border-top">Storage Temperatures</th>
                                            <th class="border-left-light border-top">Exclusion List?</th>
                                            <th class="border-left-light border-top">Order Cycles</th>
                                            <th class="border-left-light border-top">Can Supply?</th>
                                            <th class="border-left-light border-right border-top">Depot</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let supplyChainRow of supplychainData;let i=index">
                                            <td>{{supplyChainRow.lpm}}</td>
                                            <td class="green">
                                                <input type="text" class="textbox-wid-bor" tooltip="{{supplyChainRow.itemDesc}}" tooltipPlacement="bottom" [(ngModel)]="supplyChainRow.itemDesc"
                                                    maxlength="50" oncopy="return false" oncut="return false" onpaste="return false"
                                                    (keypress)="keyPressWithSpace($event)">
                                            </td>
                                            <td class="border-left">
                                                <input class="textbox-wid-bor" [ngClass]="{red:!supplyChainRow.supplyChainTeam.main.isChannelValid}" [(ngModel)]="supplyChainRow.supplyChainTeam.main.channel"
                                                    maxlength="50" oncopy="return false" oncut="return false" onpaste="return false"
                                                    (keypress)="keyPressWithSpace($event)">
                                            </td>
                                            <td class="border-left-light">
                                                <input class="textbox-wid-bor" [ngClass]="{red:!supplyChainRow.supplyChainTeam.main.isStorageTemparturesValid}" [(ngModel)]="supplyChainRow.supplyChainTeam.main.storageTempartures"
                                                    maxlength="50" oncopy="return false" oncut="return false" onpaste="return false"
                                                    (keypress)="keyPressWithSpace($event)">
                                            </td>
                                            <td class="border-left-light">{{supplyChainRow.supplyChainTeam.main.exclusionList}}</td>
                                            <td class="border-left-light">
                                                <input class="textbox-wid-bor" [ngClass]="{red:!supplyChainRow.supplyChainTeam.main.isorderCyclesValid}" [(ngModel)]="supplyChainRow.supplyChainTeam.main.orderCycles"
                                                    maxlength="50" oncopy="return false" oncut="return false" onpaste="return false"
                                                    (keypress)="keyPressWithSpace($event)">
                                            </td>
                                            <td class="border-left-light">
                                                <input class="textbox-wid-bor" [ngClass]="{red:!supplyChainRow.supplyChainTeam.main.isSuppliedValid}" [(ngModel)]="supplyChainRow.supplyChainTeam.main.isSupplied"
                                                    maxlength="50" oncopy="return false" oncut="return false" onpaste="return false"
                                                    (keypress)="keyPressWithSpace($event)">
                                            </td>
                                            <td class="border-left-light border-right">
                                                <a href="" data-toggle="modal" data-target="#productdata" class="img-responsive sqrIcon-npr cursor-pointer green text-nounderline">{{supplyChainRow.supplyChainTeam.main.depot}}</a>
                                            </td>
                                            <td class="display-flex">
                                                <span class="greenSqrIconToggle mar-left-3">
                                                    <input type="radio" value="" id="greenCheckboxForMainInput{{i}}" name="radioMain{{i}}" (click)="getActivateCheckbox(i,'green','Main')">
                                                    <label for="greenCheckboxForMainInput{{i}}"></label>
                                                </span>
                                                <span class="redSqrIconToggle mar-left-3">
                                                    <input type="radio" value="" id="redCheckboxForMainInput{{i}}" name="radioMain{{i}}" (click)="getActivateCheckbox(i,'red','Main')">
                                                    <label for="redCheckboxForMainInput{{i}}"></label>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="Warehouse">
                            <div class="table-responsive table-block margintop20 max-height350 pos-inherit">
                                <table class="table search-result-table table-hover popup-table-border table-striped " id="nprDataTbl">
                                    <thead class="bg-white">
                                        <tr>
                                            <th>VendorSKU</th>
                                            <th>Description</th>
                                            <th class="border-left border-top">Expiration Type</th>
                                            <th class="border-left-light border-top">Product Shelf</th>
                                            <th class="border-left-light border-top">Minimum Life on Receipt</th>
                                            <th class="border-left-light border-top">Life to Customer</th>
                                            <th class="border-left-light border-top">Storage Temperatures</th>
                                            <th class="border-left-light border-right border-top">Depot</th>
                                            <th>Action</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let supplyChainRow of supplychainData;let i=index">
                                            <td>{{supplyChainRow.lpm}}</td>
                                            <td class="green">
                                                <input type="text" class="textbox-wid-bor" tooltip="{{supplyChainRow.itemDesc}}" tooltipPlacement="bottom" [(ngModel)]="supplyChainRow.itemDesc"
                                                    maxlength="50" oncopy="return false" oncut="return false" onpaste="return false"
                                                    (keypress)="keyPressWithSpace($event)">
                                            </td>
                                            <td class="border-left">
                                                <input class="textbox-wid-bor" [ngClass]="{red:!supplyChainRow.supplyChainTeam.warehouse.isExpirationTypeValid}" [(ngModel)]="supplyChainRow.supplyChainTeam.warehouse.expirationType"
                                                    maxlength="50" oncopy="return false" oncut="return false" onpaste="return false"
                                                    (keypress)="keyPressWithSpace($event)">
                                            </td>
                                            <td class="border-left-light">
                                                <input class="textbox-wid-bor" [ngClass]="{red:!supplyChainRow.supplyChainTeam.warehouse.isProductShelfValid}" [(ngModel)]="supplyChainRow.supplyChainTeam.warehouse.productShelf"
                                                    maxlength="50" oncopy="return false" oncut="return false" onpaste="return false"
                                                    (keypress)="keyPressWithSpace($event)">
                                            </td>
                                            <td class="border-left-light">
                                                <input class="textbox-wid-bor" [ngClass]="{red:!supplyChainRow.supplyChainTeam.warehouse.isMinimumLifeOnReceiptValid}" [(ngModel)]="supplyChainRow.supplyChainTeam.warehouse.minimumLifeOnReceipt"
                                                    maxlength="50" oncopy="return false" oncut="return false" onpaste="return false"
                                                    (keypress)="keyPressWithSpace($event)">
                                            </td>
                                            <td class="border-left-light">
                                                <input class="textbox-wid-bor" [ngClass]="{red:!supplyChainRow.supplyChainTeam.warehouse.isLifeToCustomerValid}" [(ngModel)]="supplyChainRow.supplyChainTeam.warehouse.lifeToCustomer"
                                                    maxlength="50" oncopy="return false" oncut="return false" onpaste="return false"
                                                    (keypress)="keyPressWithSpace($event)">
                                            </td>
                                            <td class="border-left-light">
                                                <input class="textbox-wid-bor" [ngClass]="{red:!supplyChainRow.supplyChainTeam.main.isStorageTemparturesValid}" [(ngModel)]="supplyChainRow.supplyChainTeam.main.storageTempartures"
                                                    maxlength="50" oncopy="return false" oncut="return false" onpaste="return false"
                                                    (keypress)="keyPressWithSpace($event)">
                                            </td>
                                            <td class="border-left-light border-right">
                                                <a href="" data-toggle="modal" data-target="#productdata" class="img-responsive sqrIcon-npr cursor-pointer green text-nounderline">{{supplyChainRow.supplyChainTeam.main.depot}}</a>
                                            </td>
                                            <td class="display-flex">
                                                <span class="greenSqrIconToggle mar-left-3">
                                                    <input type="radio" value="" id="greenCheckboxForWarehouseInput{{i}}" name="radioWarehouse{{i}}" (click)="getActivateCheckbox(i,'green','Warehouse')">
                                                    <label for="greenCheckboxForWarehouseInput{{i}}"></label>
                                                </span>
                                                <span class="redSqrIconToggle mar-left-3">
                                                    <input type="radio" value="" id="redCheckboxForWarehouseInput{{i}}" name="radioWarehouse{{i}}" (click)="getActivateCheckbox(i,'red','Warehouse')">
                                                    <label for="redCheckboxForWarehouseInput{{i}}"></label>
                                                </span>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row padd-btm-15 padd-top-10">
            <div class="col-md-2 col-sm-2 col-lg-2">

            </div>
            <div class="col-md-10 col-sm-10 col-lg-10 text-right">

                <button class="btn btn-default npr-popup-btn mar-bottom-1">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade custom-model" id="productdata" role="dialog">
    <div class="modal-dialog top75">
        <!-- Modal content-->
        <div class="modal-content width650">
            <div class="border-top-bottom-popup">
                <h5 class="pad-lft-right-30">Ability to Supply to Channel
                    <button type="button" id="close-popup" class="close-icon" data-dismiss="modal">&#10006;</button>
                </h5>

            </div>
            <div class="modal-body pad-lft-right-30 margintop15 dis-inlineblc">
                <div>Product Code</div>
                <div class="padd-bot11">
                    <input type="text" class="form-control order-no-form borderinsert" id="productcode" name="productcode" placeholder="Product code"
                        (keypress)="keyPress($event)" required maxlength="50" />
                </div>
                <div>Product Description</div>
                <div class="padd-bot11">
                    <input type="text" class="form-control order-no-form borderinsert" id="productcode" name="productcode" placeholder="Product Description"
                        (keypress)="keyPress($event)" required maxlength="50" />
                </div>

                <div>Requesting Channel</div>
                <div class="padd-bot11">
                    <span class="up_arrow glyphicon glyphicon-menu-down right35 top159"></span>
                    <select class="form-control">
                        <option value="">Select an option</option>
                        <option value="OF">Store Pick (Cloud)</option>
                        <option value="PRXKD">Fresh</option>
                        <option value="THSV2">Prime Now</option>
                        <option value="THSV3">Pantry</option>
                        <option value="MP8QW">Core (Amazon.co.uk)</option>
                    </select>
                </div>

                <div class="table-responsive table-block margintop20 max-height160">
                    <table class="table table-bordered table-stripped search-result-table table-hover popup-table-border">
                        <thead class="">
                            <tr>
                                <th>Morrisons Depot</th>
                                <th>DGC</th>
                                <th>LiveLocation</th>
                                <th>DoNotOrder (DNO) Flag</th>
                                <th>Stock on Hand</th>
                                <th>Stock on Order</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="padd-bot20 pull-right padd-top-11">
                    <button class="btn btn-default npr-popup-btn" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>

    </div>

    <div class="hidden-sm hidden-md hidden-lg">
        <div class="row pad-lft-right-15 padd-top-11">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                <div class="error-message-container">
                    <div class="categories">
                        <div class="alert alert-info text-center error-message">
                            <strong>Sorry, Single new product request is available only on desktop view.
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class='print_only' id="printHeader" [hidden]="printHeader">
        <!--dashboard container section start-->
        <div class="row dashboard-heading-div">
            <div class="col-xs-12">
                <img class="logo_print" src="{{whoImgUrl}}print_logo.png" alt="Morrisons logo">
                <h2 class="font-bold actualprint-ordernno">Lines From Selected Batches Requiring Supply Chain Team Review</h2>
            </div>
        </div>

        <div class="row dashboard-heading-div">
            <div class="col-xs-12">
                <h4 class="search-result-heading">Main</h4>
                <div class="table-responsive table-block margintop20 max-height350  pos-inherit">
                    <table class="table search-result-table table-hover popup-table-border table-striped" id="nprDataTbl">
                        <thead class="bg-white">
                            <tr>
                                <th>VendorSKU</th>
                                <th>Description</th>
                                <th>Channel</th>
                                <th>Storage Temperatures</th>
                                <th>Exclusion List?</th>
                                <th>Order Cycles</th>
                                <th>Can Supply?</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let supplyChainRow of supplychainData;let i=index">
                                <td>{{supplyChainRow.lpm}}</td>
                                <td>{{supplyChainRow.itemDesc}}</td>
                                <td>{{supplyChainRow.supplyChainTeam.main.channel}}</td>
                                <td>{{supplyChainRow.supplyChainTeam.main.storageTempartures}}</td>
                                <td>{{supplyChainRow.supplyChainTeam.main.exclusionList}}</td>
                                <td>{{supplyChainRow.supplyChainTeam.main.orderCycles}}</td>
                                <td>{{supplyChainRow.supplyChainTeam.main.isSupplied}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row dashboard-heading-div">
            <div class="col-xs-12">
                <h4 class="search-result-heading">Warehouse</h4>
                <div class="table-responsive table-block margintop20 max-height350  pos-inherit">
                    <table class="table search-result-table table-hover popup-table-border table-striped" id="nprDataTbl">
                        <thead class="bg-white">
                            <tr>
                                <th>VendorSKU</th>
                                <th>Description</th>
                                <th>Expiration Type</th>
                                <th>Product Shelf</th>
                                <th>Minimum Life on Receipt</th>
                                <th>Life to Customer</th>
                                <th>Storage Temperatures</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let supplyChainRow of supplychainData;let i=index">
                                <td>{{supplyChainRow.lpm}}</td>
                                <td>{{supplyChainRow.itemDesc}}</td>
                                <td>{{supplyChainRow.supplyChainTeam.warehouse.expirationType}}</td>
                                <td>{{supplyChainRow.supplyChainTeam.warehouse.productShelf}}</td>
                                <td>{{supplyChainRow.supplyChainTeam.warehouse.minimumLifeOnReceipt}}</td>
                                <td>{{supplyChainRow.supplyChainTeam.warehouse.lifeToCustomer}}</td>
                                <td>{{supplyChainRow.supplyChainTeam.main.storageTempartures}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class='print_only' id="exportable" [hidden]="printHeader">
        <table class="table table-bordered table-striped" border=1>
            <thead>
                <tr>
                    <th>VendorSKU</th>
                    <th>Description</th>
                    <th>Channel</th>
                    <th>Storage Temperatures</th>
                    <th>Exclusion List?</th>
                    <th>Order Cycles</th>
                    <th>Can Supply?</th>
                    <th>Expiration Type</th>
                    <th>Product Shelf</th>
                    <th>Minimum Life on Receipt</th>
                    <th>Life to Customer</th>
                    <th>Storage Temperatures</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let supplyChainRow of supplychainData;let i=index">
                    <td>{{supplyChainRow.lpm}}</td>
                    <td>{{supplyChainRow.itemDesc}}</td>
                    <td>{{supplyChainRow.supplyChainTeam.main.channel}}</td>
                    <td>{{supplyChainRow.supplyChainTeam.main.storageTempartures}}</td>
                    <td>{{supplyChainRow.supplyChainTeam.main.exclusionList}}</td>
                    <td>{{supplyChainRow.supplyChainTeam.main.orderCycles}}</td>
                    <td>{{supplyChainRow.supplyChainTeam.main.isSupplied}}</td>
                    <td>{{supplyChainRow.supplyChainTeam.warehouse.expirationType}}</td>
                    <td>{{supplyChainRow.supplyChainTeam.warehouse.productShelf}}</td>
                    <td>{{supplyChainRow.supplyChainTeam.warehouse.minimumLifeOnReceipt}}</td>
                    <td>{{supplyChainRow.supplyChainTeam.warehouse.lifeToCustomer}}</td>
                    <td>{{supplyChainRow.supplyChainTeam.main.storageTempartures}}</td>
                </tr>
            </tbody>
        </table>
    </div>