<!-- Breadcrumb start here-->
<div class="mvp_bradcrumb">
    <div class="container">
        <div class="col-xs-12 breadcrumb product-breadcrumb">
            <a [routerLink]="['/customerselection']">
                <span class="bradcrumb-text">Home</span>
            </a>/
            <a [routerLink]="['/cataloguemanagement', customerName]">
                <span class="bradcrumb-text">Catalogue Management</span>
            </a>/
            <span class="bradcrumb-text bold">Periodic Repricing Review</span>
        </div>
    </div>
</div>
<!-- Breadcrumb ends here -->

<catalogue-management-pending-request-header></catalogue-management-pending-request-header>

<div class="hidden-xs padd-btm-50 bgcolor-grey padd-top-10 min-height600">
    <div class="container bgcolor-white border-top-bottom margintop25">
        <!--Body Heading and Print & Download Icons HTML Starts -->
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <h4 class="dis-inlineblc">Periodic Repricing Review</h4>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 ">
                <div class="pull-right padd-top-10 text-right" *ngIf="productRepricingDatalen > 0">
                    <!--<span class="padd-left10 cursor-pointer" tooltip="Only records that have been fetched and displayed on screen by “paging through”"
                        tooltipPlacement="bottom" (click)="printOrder()">
                        <img src="{{whoImgUrl}}IconPrint.svg" class="img-responsive dis-inlineblc img-width padd-right5">Print
                    </span>-->
                    <span class="padd-left10 padd-right20 cursor-pointer" tooltip="Only records that have been fetched and displayed on screen by “paging through”"
                        tooltipPlacement="bottom" (click)="exportData()">
                        <img src="{{whoImgUrl}}IconDownload.svg" class="img-responsive dis-inlineblc img-width padd-right5">Download
                    </span>
                </div>
            </div>
        </div>
        <!--Body Heading and Print & Download Icons Ends -->

        <hr class="hr-repricing" />

        <div class="col-sm-12 col-md-12 col-lg-12">
            <!-- 2 Radio Buttons and 1 input textbox HTML Starts here-->
            <!-- Form is used, as we can send the values of all the parameters of the form conveniently-->
            <form role="form" #repricingSearch="ngForm" name="repricingSearch" class="" (submit)="getprodicProductReprising(repricingSearch.value)">
                <div class="form-inline">
                    <div class="row">
                        <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 padding-zero">
                            <h4 class="dis-inlineblc fontsize-16">Range / Catalogue Type</h4>
                            <div class="dis-inlineblc">
                                <div>
                                    <span class="down_arrow glyphicon glyphicon-menu-down"></span>
                                    <select class="form-control periodic-repricing-select" id="catalogueType" name="catalogueType" [(ngModel)]="catalogueType"
                                        required>
                                        <option value="" disabled selected>Please Select</option>
                                        <option *ngFor="let i of catalogueTypes;" [value]="i.catalogueType">{{i.catalogueType}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="radio-item dis-inlineblc">
                                <input type="radio" id="branded" name="ritem" value="branded" [(ngModel)]="brandType" (change)="onChangeBrand($event)">
                                <label for="branded">
                                    <h4 class="fontsize-16">Branded</h4>
                                </label>
                            </div>
                            <div class="radio-item dis-inlineblc">
                                <input type="radio" id="ownbranded" name="ritem" value="ownbranded" [(ngModel)]="brandType" (change)="onChangeBrand($event)">
                                <label for="ownbranded">
                                    <h4 class="fontsize-16">Own Brand</h4>
                                </label>
                            </div>
                            <button type="submit" (click)="getFieldVal('')" class="btn btn-default npr-popup-btn mar-bottom-1 ">Search</button>
                        </div>
                        <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 padding-zero">
                            <div class="bgcolor-grey padding10">
                                <h4 class="dis-inlineblc fontsize-16">Amount</h4>
                                <input #txtFname class="form-control dis-inlineblc width86" id="amountStr" name="amountStr" maxnumberwithinfiitedecimalvalue="100" OnlyNumber="true" type="text"
                                    [(ngModel)]="amountStr" />
                                <!-- <input #txtFname placeholder="first name" /> -->

                                <h4 class="dis-inlineblc fontsize-16">Increase (%)</h4>
                                <input class="form-control dis-inlineblc width86" id="increasePStr" name="increasePStr" type="text" [(ngModel)]="increasePStr"  maxnumberwithinfiitedecimalvalue="100" OnlyNumber="true"
                                   />
                                <button type="button" class="btn btn-default npr-popup-btn mar-bottom-1 " (click)="getFieldVal('')" >Filter Thresholds</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!-- <form role="form" #repricingSearchFilter="ngForm" name="repricingSearchFilter" class="" (submit)="getprodicProductReprising(repricingSearch.value)">
                    <div class="form-inline">
                        <div class="row col-sm-4 col-md-4 col-lg-4" >
                            <h4 class="dis-inlineblc">Amount</h4>
                            <input type="text" class="form-control repricing-textbox" id="amountFilter" name="amountFilter" MaxNumber="100" [(ngModel)]="amountFilter">
                            <h4 class="dis-inlineblc">Increase (%)</h4>                            
                            <input type="text" class="form-control repricing-textbox" id="amountFilter" name="amountFilter" MaxNumber="100" [(ngModel)]="amountFilter">
                            <button type="submit" class="btn btn-default npr-popup-btn mar-bottom-1 ">Search</button>
                        </div>
                    </div>
                </form> -->
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12" *ngIf="productRepricingDatalen == 0">
            <div class="error-message-container">
                <div class="categories">
                    <div class="alert alert-info text-center error-message">
                        <strong>Sorry, No data found at this moment.
                        </strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12" *ngIf="productRepricingDatalen > 0">
            <!-- <form role="form" #productRepricing="ngForm" name="productRepricing" class="" (submit)="updateRepricing(productRepricing.value)"> -->
            <div class="row bgcolor-white" id="repricingContainer">
                <div id="exTab2" class="margin-top30">
                    <!-- Tab HTML starts here -->
                    <ul class="nav nav-tabs nav-tabs-top-border">
                        <li class="active">
                            <a href="#Summary" data-toggle="tab">
                                Summary
                                <sup class="padd-left5">
                                    <!-- <span class="badge badge-danger"></span> -->
                                </sup>
                            </a>
                        </li>
                        <li>
                            <a href="#ProductInfo" data-toggle="tab">
                                Product Info
                                <sup class="padd-left5">
                                    <!-- <span class="badge badge-danger"></span> -->
                                </sup>
                            </a>
                        </li>
                        <li>
                            <a href="#CostInfo" data-toggle="tab">
                                Cost Info
                                <sup class="padd-left5">
                                    <!-- <span class="badge badge-danger"></span> -->
                                </sup>
                            </a>
                        </li>
                        <li>
                            <a href="#TotalCostMargin" data-toggle="tab">
                                Total Cost & Margin
                                <sup class="padd-left5">
                                    <!-- <span class="badge badge-danger"></span> -->
                                </sup>
                            </a>
                        </li>
                        <li>
                            <a href="#NonPromotionalWSP" data-toggle="tab">
                                Non Promotional WSP
                                <sup class="padd-left5">
                                    <!-- <span class="badge badge-danger"></span> -->
                                </sup>
                            </a>
                        </li>
                        <li>
                            <a href="#PromotionalWSP" data-toggle="tab">
                                Promotional WSP
                                <sup class="padd-left5">
                                    <!-- 
                                            <span class="badge badge-danger"></span> -->
                                </sup>
                            </a>
                        </li>
                    </ul>
                    <!-- Tab HTML ends here -->

                    <!-- Table data HTML starts here -->
                    <div class="tab-content periodic-tab-content">
                        <div class="tab-pane active" id="Summary">
                            <div class="table-responsive table-block margintop20 max-height350 pos-inherit" infinite-scroll [infiniteScrollDistance]="2"
                                [infiniteScrollThrottle]="300" [scrollWindow]="false" (scrolled)="onScrollDown()">
                                <table class="table search-result-table table-hover popup-table-border table-striped " id="nprDataTbl">
                                    <thead class="bg-white">
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th class="wdt197"></th>
                                            <th class="border-left border-top heading-center green" colspan="3">
                                                <div class="border-bottom-1">PREVIOUS</div>
                                            </th>
                                            <th class="border-top heading-center green" colspan="3">
                                                <div class="border-bottom-1">NEW</div>
                                            </th>
                                            <th class="border-top heading-center green" colspan="2">
                                                <div class="border-bottom-1">WSP INCREASE</div>
                                            </th>
                                            <th class="border-top"></th>
                                            <th class="border-right border-top "></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        <tr>
                                            <th class="border-top-0">Legacy Code</th>
                                            <th class="border-top-0">PIN</th>
                                            <th class="border-top-0">MIN</th>
                                            <th class="wdt197 border-top-0">Description</th>
                                            <th class="border-left border-top-0 heading-center green">Case Size</th>
                                            <th class="border-top-0  heading-center green">Case Cost</th>
                                            <th class="border-top-0 heading-center green">WSP</th>
                                            <th class="border-top-0 heading-center green">Case Size</th>
                                            <th class="border-top-0 heading-center green">Case Cost</th>
                                            <th class="border-top-0 heading-center green">WSP</th>
                                            <th class="border-top-0 heading-center green">Increase (%)</th>
                                            <th class="border-top-0 heading-center green">Amount</th>
                                            <th class="border-top-0 heading-center">Reason Code</th>
                                            <th class="border-top-0 border-right heading-center">Customer Impact</th>
                                            <th class="border-top-0">Sales</th>
                                            <th class="border-top-0">Approve</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let repriceData of productRepricingData  | searchfilter: filterValue : searchVal ;let i=index">
                                            <td>{{repriceData.legacyCode}}</td>
                                            <td>{{repriceData.pin}}</td>
                                            <td>{{repriceData.min}}</td>
                                            <td class="green ">{{repriceData.productDesc}}</td>
                                            <td class="border-left txt-center">{{repriceData.cost.caseSize}}</td>
                                            <td class="txt-center">{{repriceData.cost.caseCost}}</td>
                                            <td class="txt-center">{{repriceData.cost.wsp}} </td>
                                            <td class="txt-center">{{repriceData.cost.caseSizeNew}} </td>
                                            <td class="txt-center">{{repriceData.cost.caseCostNew}}</td>
                                            <td class="txt-center">{{repriceData.cost.wspNew}}</td>
                                            <td class="txt-center">{{repriceData.cost.percIncrease}}</td>
                                            <td class="txt-center">{{repriceData.cost.amount}}</td>
                                            <td class="txt-center">
                                                <input type="text"  [class.disable]="disabletxtonSub" class="form-control repricing-textbox" id="reasoncode{{i}}" (click)="reasoncodeclick()" (keydown)="getChangeValue(repriceData.productInfo.reasonCode,i, $event)"  name="reasoncode{{i}}" maxlength="30" [(ngModel)]="repriceData.productInfo.reasonCode">
                                            </td>                                          
                                            <!-- <td  class="border-right txt-center">{{calcualteCutomerImpact(repriceData.productInfo.itemAnnualSaleQty,repriceData.cost.uomType,repriceData.productInfo.customerImpact,i,repriceData.cost.caseSizeNew,repriceData.cost.amount)}}</td> -->
                                            <td class="border-right txt-center">{{repriceData.productInfo.customerImpact}}</td>
                        
                    
                                            <td>
                                                <a data-toggle="modal" data-target="#salesdata" (click)="salesPopup(i,repriceData.legacyCode,repriceData.pin)">Sales</a>
                                            </td>
                                            <td class="display-flex">
                                                <span class="greenSqrIconToggle mar-left-3">
                                                    <input type="radio" value="" id="greenCheckboxForSummaryInput{{i}}" name="radioSummary{{i}}" (click)="getActivateCheckbox('approved',i,'green','Summary',repriceData.legacyCode)"
                                                        [(ngModel)]="repriceData.approvalStatus" [value]="'approved'">
                                                    <label for="greenCheckboxForSummaryInput{{i}}"></label>
                                                </span>
                                                <span class="redSqrIconToggle mar-left-3">
                                                    <input type="radio" value="" id="redCheckboxForSummaryInput{{i}}" name="radioSummary{{i}}" (click)="getActivateCheckbox('rejected',i,'red','Summary', repriceData.legacyCode)"
                                                        [(ngModel)]="repriceData.approvalStatus" [value]="'rejected'">
                                                    <label for="redCheckboxForSummaryInput{{i}}"></label>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="tab-pane" id="ProductInfo">
                            <div class="table-responsive table-block margintop20 max-height350 pos-inherit" infinite-scroll [infiniteScrollDistance]="2"
                                [infiniteScrollThrottle]="300" [scrollWindow]="false" (scrolled)="onScrollDown()">
                                <table class="table search-result-table table-hover popup-table-border table-striped " id="nprDataTbl">
                                    <thead class="bg-white">
                                        <tr>
                                            <th>Legacy Code</th>
                                            <th>PIN</th>
                                            <th>MIN</th>
                                            <th class="wdt197">Description</th>
                                            <th class="border-left border-top">Supplier</th>
                                            <th class="border-top">Trading Group</th>
                                            <th class="border-top">Product Group</th>
                                            <th class="border-top">Category</th>
                                            <th class="border-top">SubClass</th>
                                            <th class="border-right border-top">Barcode</th>
                                            <th>Sales</th>
                                            <th>Approve</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let repriceData of productRepricingData | searchfilter: filterValue : searchVal;let i=index">
                                            <td>{{repriceData.legacyCode}}</td>
                                            <td>{{repriceData.pin}}</td>
                                            <td>{{repriceData.min}}</td>
                                            <td class="green">{{repriceData.productDesc}}</td>
                                            <td class="border-left">{{repriceData.productInfo.supplier}}</td>
                                            <td class="">{{repriceData.productInfo.tradingGroup}}</td>
                                            <td class="">{{repriceData.productInfo.productGroup}}</td>
                                            <td class="">{{repriceData.productInfo.className}}</td>
                                            <td class="">{{repriceData.productInfo.subClass}}</td>
                                            <td class="border-right">{{repriceData.productInfo.barcode}}</td>
                                            <td>
                                                <a data-toggle="modal" data-target="#salesdata" (click)="salesPopup(i,repriceData.legacyCode,repriceData.pin)">Sales</a>
                                            </td>
                                            <td class="display-flex">
                                                <span class="greenSqrIconToggle mar-left-3">
                                                    <input type="radio" value="" id="greenCheckboxForProductInfoInput{{i}}" name="radioProductInfo{{i}}" (click)="getActivateCheckbox('approved', i,'green','ProductInfo', repriceData.legacyCode)"
                                                        [(ngModel)]="repriceData.approvalStatus" [value]="'approved'">
                                                    <label for="greenCheckboxForProductInfoInput{{i}}"></label>
                                                </span>
                                                <span class="redSqrIconToggle mar-left-3">
                                                    <input type="radio" value="" id="redCheckboxForProductInfoInput{{i}}" name="radioProductInfo{{i}}" (click)="getActivateCheckbox('rejected', i,'red','ProductInfo', repriceData.legacyCode)"
                                                        [(ngModel)]="repriceData.approvalStatus" [value]="'rejected'">
                                                    <label for="redCheckboxForProductInfoInput{{i}}"></label>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="tab-pane" id="CostInfo">
                            <div class="table-responsive table-block margintop20 max-height350 pos-inherit" infinite-scroll [infiniteScrollDistance]="2"
                                [infiniteScrollThrottle]="300" [scrollWindow]="false" (scrolled)="onScrollDown()">
                                <table class="table search-result-table table-hover popup-table-border table-striped " id="nprDataTbl">
                                    <thead class="bg-white">
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th class="wdt197"></th>
                                            <th class="border-left border-top"></th>
                                            <th class="border-top"></th>
                                            <th class="border-top green heading-center" colspan="4">
                                                <div class="border-bottom-1">PREVIOUS</div>
                                            </th>
                                            <th class="border-top green heading-center" colspan="4">
                                                <div class="border-bottom-1">NEW</div>
                                            </th>
                                            <th class="border-right border-top"></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        <tr>
                                            <th class="border-top-0">Legacy Code</th>
                                            <th class="border-top-0">PIN</th>
                                            <th class="border-top-0">MIN</th>
                                            <th class="wdt197 border-top-0">Description</th>
                                            <th class="border-left border-top-0">RRP</th>
                                            <th class=" border-top-0">VAT</th>
                                            <th class="green border-top-0">Date</th>
                                            <th class="green border-top-0">Case Size</th>
                                            <th class="green border-top-0">Case Cost</th>
                                            <th class="green border-top-0">Unit Cost</th>
                                            <th class="green border-top-0">Date</th>
                                            <th class="green border-top-0">Case Size</th>
                                            <th class="green border-top-0">Case Cost</th>
                                            <th class="green border-top-0">Unit Cost</th>
                                            <th class="border-right border-top-0">Currency Type</th>
                                            <th class="border-top-0">Sales</th>
                                            <th class="border-top-0">Approve</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let repriceData of productRepricingData | searchfilter: filterValue : searchVal;let i=index">
                                            <td>{{repriceData.legacyCode}}</td>
                                            <td>{{repriceData.pin}}</td>
                                            <td>{{repriceData.min}}</td>
                                            <td class="green wdt197">{{repriceData.productDesc}}</td>
                                            <td class="border-left">{{repriceData.cost.retailSellingPrice}}</td>
                                            <td class="">{{repriceData.cost.vat}}</td>
                                            <td class="">{{_cfunction.dateFormator(repriceData.cost.date,1)}}</td>
                                            <td class="">{{repriceData.cost.caseSize}}</td>
                                            <td class="">{{repriceData.cost.caseCost}}</td>
                                            <td class="">{{repriceData.cost.unitCost}}</td>
                                            <td class="">{{_cfunction.dateFormator(repriceData.cost.dateNew,1)}}</td>
                                            <td class="">{{repriceData.cost.caseSizeNew}}</td>
                                            <td class="">{{repriceData.cost.caseCostNew}}</td>
                                            <td class="">{{repriceData.cost.unitCostNew}}</td>
                                            <td class="border-right">{{repriceData.cost.currencyType}}</td>
                                            <td>
                                                <a data-toggle="modal" data-target="#salesdata" (click)="salesPopup(i,repriceData.legacyCode,repriceData.pin)">Sales</a>
                                            </td>
                                            
                                            <td class="display-flex">
                                                <span class="greenSqrIconToggle mar-left-3">
                                                    <input type="radio" value="" id="greenCheckboxForCostInfoInput{{i}}" name="radioCostInfo{{i}}" (click)="getActivateCheckbox('approved', i,'green','CostInfo', repriceData.legacyCode)"
                                                        [(ngModel)]="repriceData.approvalStatus" [value]="'approved'">
                                                    <label for="greenCheckboxForCostInfoInput{{i}}"></label>
                                                </span>
                                                <span class="redSqrIconToggle mar-left-3">
                                                    <input type="radio" value="" id="redCheckboxForCostInfoInput{{i}}" name="radioCostInfo{{i}}" (click)="getActivateCheckbox('rejected', i,'red','CostInfo',repriceData.legacyCode)"
                                                        [(ngModel)]="repriceData.approvalStatus" [value]="'rejected'">
                                                    <label for="redCheckboxForCostInfoInput{{i}}"></label>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="tab-pane" id="TotalCostMargin">
                            <div class="table-responsive table-block margintop20 max-height350 pos-inherit" infinite-scroll [infiniteScrollDistance]="2"
                                [infiniteScrollThrottle]="300" [scrollWindow]="false" (scrolled)="onScrollDown()">
                                <table class="table search-result-table table-hover popup-table-border table-striped " id="nprDataTbl">
                                    <thead class="bg-white">
                                        <tr>
                                            <th>Legacy Code</th>
                                            <th>PIN</th>
                                            <th>MIN</th>
                                            <th class="wdt197">Description</th>
                                            <th class="border-left border-top">Unit Cost (new)</th>
                                            <th class="border-top">Overrider %</th>
                                            <th class="border-top">Overrider Net / Gross</th>
                                            <th class="border-top">Delivery</th>
                                            <th class="border-top">Total Cost</th>
                                            <th class="border-top">Calculated Margin %</th>
                                            <th class="border-right border-top  border-left-light">Overwritten Margin %</th>
                                            <th>Sales</th>
                                            <th>Approve</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let repriceData of productRepricingData | searchfilter: filterValue : searchVal;let i=index">
                                            <td>{{repriceData.legacyCode}}</td>
                                            <td>{{repriceData.pin}}</td>
                                            <td>{{repriceData.min}}</td>
                                            <td class="green wdt197">{{repriceData.productDesc}}</td>
                                            <td class="border-left">{{repriceData.cost.unitCostNew}}</td>
                                            <td class="">{{repriceData.margin.overriderPercent}}</td>
                                            <td class="">{{repriceData.margin.overriderNetGross}}</td>
                                            <td class="">{{repriceData.margin.deliveryChargeUnit}}</td>
                                            <td class="">{{repriceData.margin.totalCost}}</td>
                                            <td class="">{{repriceData.margin.calculatedMarginPercent}}</td>
                                            <td class="border-right  border-left-light">
                                                <input type="text"  [class.disable]="disabletxtonSub" class="form-control repricing-textbox" id="overWrittenP{{i}}" (keyup)="getFinalMargin(repriceData.margin.overwrittenMarginPercent,i,repriceData)"
                                                    name="overWrittenP{{i}}" MaxNumber="100" [(ngModel)]="repriceData.margin.overwrittenMarginPercent">
                                            </td>
                                            <td>
                                                <a data-toggle="modal" data-target="#salesdata" (click)="salesPopup(i,repriceData.legacyCode,repriceData.pin)">Sales</a>
                                            </td>
                                            <td class="display-flex">
                                                <span class="greenSqrIconToggle mar-left-3">
                                                    <input type="radio" value="" id="greenCheckboxForTotalCostMarginInput{{i}}" name="radioTotalCostMargin{{i}}" (click)="getActivateCheckbox('approved', i,'green','TotalCostMargin', repriceData.legacyCode)"
                                                        [(ngModel)]="repriceData.approvalStatus" [value]="'approved'">
                                                    <label for="greenCheckboxForTotalCostMarginInput{{i}}"></label>
                                                </span>
                                                <span class="redSqrIconToggle mar-left-3">
                                                    <input type="radio" value="" id="redCheckboxForTotalCostMarginInput{{i}}" name="radioTotalCostMargin{{i}}" (click)="getActivateCheckbox('rejected', i,'red','TotalCostMargin', repriceData.legacyCode)"
                                                        [(ngModel)]="repriceData.approvalStatus" [value]="'rejected'">
                                                    <label for="redCheckboxForTotalCostMarginInput{{i}}"></label>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="tab-pane" id="NonPromotionalWSP">
                            <div class="table-responsive table-block margintop20 max-height350 pos-inherit" infinite-scroll [infiniteScrollDistance]="2"
                                [infiniteScrollThrottle]="300" [scrollWindow]="false" (scrolled)="onScrollDown()">
                                <table class="table search-result-table table-hover popup-table-border table-striped " id="nprDataTbl">
                                    <thead class="bg-white">
                                        <tr>
                                            <th>Legacy Code</th>
                                            <th>PIN</th>
                                            <th>MIN</th>
                                            <th class="wdt197">Description</th>
                                            <th class="border-left border-top">Total Cost</th>
                                            <th class="border-top">Margin %</th>
                                            <th class="border-top">Pre-Challenge WSP</th>
                                            <th class="border-top">Challenge</th>
                                            <th class="border-top">Non Promo Final WSP</th>
                                            <th class="border-top">Family Menber</th>
                                            <th class="border-top  border-left-light">Overwritten WSP</th>
                                            <th class="  border-left-light border-right border-top">Non Promo WSP Case</th>
                                            <th>Sales</th>
                                            <th>Approve</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let repriceData of productRepricingData | searchfilter: filterValue : searchVal;let i=index">
                                            <td>{{repriceData.legacyCode}}</td>
                                            <td>{{repriceData.pin}}</td>
                                            <td>{{repriceData.min}}</td>
                                            <td class="green wdt197">{{repriceData.productDesc}}</td>
                                            <td class="border-left">{{repriceData.margin.totalCost}}</td>
                                            <td class="">{{repriceData.margin.finalMarginPercent}}</td>
                                            <td class="">{{repriceData.nonPromoWsp.preChallengeWsp}}</td>
                                            <td class="">{{repriceData.nonPromoWsp.nonPromoChallenge}}</td>
                                            <td class="">{{repriceData.nonPromoWsp.nonPromoFinalWsp}}</td>
                                            <td *ngIf="repriceData.nonPromoWsp.leadProduct!=''">
                                              <a data-toggle="modal" data-target="#familyMemberdata" (click)="familyMemberpopup(i,repriceData.nonPromoWsp.leadProduct)">Family Member</a>
 
                                            </td>
                                            <td *ngIf="repriceData.nonPromoWsp.leadProduct==''" class="text-center">-</td>
                                            <td class=" border-left-light">
                                                <input type="text"  [class.disable]="disabletxtonSub" class="form-control repricing-textbox" id="overWrittenWsp{{i}}" MaxNumberWithInfiiteDecimalValue="100"
                                                    name="overWrittenWsp{{i}}" (keyup)=getcalOMp(repriceData.nonPromoWsp.nonPromoOverwrittenWsp,i,repriceData)
                                                    ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" OnlyNumber="true" [(ngModel)]="repriceData.nonPromoWsp.nonPromoOverwrittenWsp">
                                            </td>
                                            <td class="border-right  border-left-light">{{repriceData.nonPromoWsp.nonPromoWspCase}}</td>
                                            <td>
                                                <a data-toggle="modal" data-target="#salesdata" (click)="salesPopup(i,repriceData.legacyCode,repriceData.pin)">Sales</a>
                                            </td>
                                            <td class="display-flex">
                                                <span class="greenSqrIconToggle mar-left-3">
                                                    <input type="radio" value="" id="greenCheckboxForNonPromotionalWSPInput{{i}}" name="radioNonPromotionalWSP{{i}}" (click)="getActivateCheckbox('approved', i,'green','NonPromotionalWSP', repriceData.legacyCode)"
                                                        [(ngModel)]="repriceData.approvalStatus" [value]="'approved'">
                                                    <label for="greenCheckboxForNonPromotionalWSPInput{{i}}"></label>
                                                </span>
                                                <span class="redSqrIconToggle mar-left-3">
                                                    <input type="radio" value="" id="redCheckboxForNonPromotionalWSPInput{{i}}" name="radioNonPromotionalWSP{{i}}" (click)="getActivateCheckbox('rejected', i,'red','NonPromotionalWSP', repriceData.legacyCode)"
                                                        [(ngModel)]="repriceData.approvalStatus" [value]="'rejected'">
                                                    <label for="redCheckboxForNonPromotionalWSPInput{{i}}"></label>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="tab-pane" id="PromotionalWSP">
                            <div class="table-responsive table-block margintop20 max-height350 pos-inherit" infinite-scroll [infiniteScrollDistance]="2"
                                [infiniteScrollThrottle]="300" [scrollWindow]="false" (scrolled)="onScrollDown()">
                                <table class="table search-result-table table-hover popup-table-border table-striped " id="nprDataTbl">
                                    <thead class="bg-white">
                                        <tr>
                                            <th>Legacy Code</th>
                                            <th>PIN</th>
                                            <th>MIN</th>
                                            <th class="wdt197">Description</th>
                                            <th class="border-left border-top">Total Cost</th>
                                            <th class="border-top">Margin %</th>
                                            <th class="border-top">Retro</th>
                                            <th class="border-top">Promo WSP</th>
                                            <th class="border-top">Challenge</th>
                                            <th class="border-top  border-left-light">Promo Final WSP</th>
                                            <th class="  border-left-light border-right border-top">Promo WSP Case</th>
                                            <th>Sales</th>
                                            <th>Approve</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let repriceData of productRepricingData | searchfilter: filterValue : searchVal;let i=index">
                                            <td>{{repriceData.legacyCode}}</td>
                                            <td>{{repriceData.pin}}</td>
                                            <td>{{repriceData.min}}</td>
                                            <td class="green ">{{repriceData.productDesc}}</td>
                                            <td class="border-left">{{repriceData.margin.totalCost}}</td>
                                            <td class="">{{repriceData.margin.finalMarginPercent}}</td>
                                            <td class="">{{repriceData.promoWsp.retro}}</td>
                                            <td class="">{{repriceData.promoWsp.promoWsp}}</td>
                                            <td class="">{{repriceData.promoWsp.promoChallange}}</td>
                                            <td class=" border-left-light">
                                                <input type="text"  [class.disable]="disabletxtonSub" class="form-control repricing-textbox" id="promoFinalWsp{{i}}" MaxNumber="100" name="promoFinalWsp{{i}}"
                                                    (keyup)="calPromoWSPCase(repriceData.promoWsp.promoFinalWsp,i,repriceData)" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" OnlyNumber="true"
                                                    [(ngModel)]="repriceData.promoWsp.promoFinalWsp">
                                            </td>
                                            <td class=" border-left-light border-right">{{repriceData.promoWsp.promoWspCase}}</td>
                                            <td>
                                                <a data-toggle="modal" data-target="#salesdata" (click)="salesPopup(i,repriceData.legacyCode,repriceData.pin)">Sales</a>
                                            </td>
                                            <td class="display-flex">
                                                <span class="greenSqrIconToggle mar-left-3">
                                                    <input type="radio" value="" id="greenCheckboxForPromotionalWSPInput{{i}}" name="radioPromotionalWSP{{i}}" (click)="getActivateCheckbox('approved',i,'green','PromotionalWSP', repriceData.legacyCode)"
                                                        [(ngModel)]="repriceData.approvalStatus" [value]="'approved'">
                                                    <label for="greenCheckboxForPromotionalWSPInput{{i}}"></label>
                                                </span>
                                                <span class="redSqrIconToggle mar-left-3">
                                                    <input type="radio" value="" id="redCheckboxForPromotionalWSPInput{{i}}" name="radioPromotionalWSP{{i}}" (click)="getActivateCheckbox('rejected',i,'red','PromotionalWSP', repriceData.legacyCode)"
                                                        [(ngModel)]="repriceData.approvalStatus" [value]="'rejected'">
                                                    <label for="redCheckboxForPromotionalWSPInput{{i}}"></label>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                    <!-- Table data HTML ends here -->
                </div>
            </div>
            <!-- Approve all, Save and cancel button HTML starts here -->
            <div class="form-inline margintop20" *ngIf="productRepricingDatalen > 0">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-lg-3">
                        <label>
                            <b>Only Show Unactioned?</b>
                        </label>
                        <span class="greenSqrIconToggle mar-left-3">
                            <input type="checkbox" value="" id="greenCheckboxForUnactionedInput" name="radiowarehouse" [checked]="onlyshowUnactionFlag" (click)="getActivateCheckboxForUnactioned($event)">
                            <label for="greenCheckboxForUnactionedInput"></label>
                        </span>
                    </div>
                    <div class="col-md-9 col-sm-9 col-lg-9 text-right dis-inlineblc">
                        <button id="rejectallpending" name="rejectallpending" class="btn btn-default npr-popup-btn mar-bottom-12 dis-inlineblc" [class.disable]="disableReject"
                            (click)="rejectallpending(productRepricingDatalen)">Reject all pending</button>
                        <button id="approveall" name="approveall" class="btn btn-default npr-popup-btn mar-bottom-12 dis-inlineblc" [class.disable]="disableApprove"
                            (click)="approveAll(productRepricingDatalen)" tooltip="Only records that have been fetched and displayed on screen by “paging through”" tooltipPlacement="bottom">Approve All</button>
                        <button id="cancel" name="cancel" class="btn btn-default npr-popup-btn mar-bottom-1 dis-inlineblc" (click)="cancelandExit()">Cancel</button>
                        <span [class.disable]="disableSave">
                            <button id="save" name="save" class="btn btn-default npr-popup-btn mar-bottom-1 dis-inlineblc " (click)="updateRepricing('form')">Save</button>
                        </span>
                    </div>
                </div>
            </div>
            <!-- Save and cancel button HTML starts here -->

            <hr>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12 text-right dis-inlineblc mar-bottom-13 ">
                    <button (click)="generateDraftSub()" class="btn btn-default npr-popup-btn " [class.disable]="disableDraftsub">Generate Draft Submission</button>
                    <span [hidden]="!btn_repricingPeriodicReviewSubmit"><button (click)="generateSub()" class="btn btn-default npr-popup-btn"  [class.disable]="disablesub">Generate Submission</button></span>
                </div>
            </div>
            <!-- </form> -->
        </div>
    </div>
</div>

<!-- loader section start-->
<div *ngIf="showLoader" class="overlay-load">
    <div class="loader-box-shadow">
        <div class="load-img">
            <img src="{{whoImgUrl}}spinner.svg" class="loader-image" alt="Loader Image" />
            <div>
                <h6>LOADING</h6>
            </div>
        </div>
    </div>
</div>
<!-- Loader section ends -->
<div class="modal fade custom-model zindex999999" id="RepricingSave" role="dialog">
    <div class="modal-dialog width-455">
        <!-- Modal content-->
        <div class="modal-content mdl-content">
            <div class="">
                <button type="button" class="close table-close top16" (click)="closeRepricingUpdateSuccess()" data-dismiss="modal">Close &#10006;</button>
            </div>
            <div class="modal-body ">
                <img class="img-responsive tick" src="{{whoImgUrl}}tick.png">
                <h4 class="prdct-succs">{{successMsg}}</h4>
            </div>
        </div>
        <!-- Modal Content End -->
    </div>
</div>

<!-- Print HTML starts here -->
<div class='print_only' id="printHeader" [hidden]="printHeader">
    <div class="row dashboard-heading-div">
        <div class="col-xs-12">
            <img class="logo_print" src="{{whoImgUrl}}print_logo.png" alt="Morrisons logo">
            <h2 class="font-bold actualprint-ordernno">Periodic Repricing</h2>
            <h4 class="font-bold actualprint-ordernno">Range / Catalogue Type : {{catalogueType}}</h4>
            <h4 class="font-bold actualprint-ordernno">Brand Type : {{brandType == 'ownbranded' ? 'Own Branded' : 'Branded' }}</h4>
        </div>
    </div>
</div>
<div class="modal fade custom-model" id="familyMemberdata" role="dialog" [hidden]="!printHeader">
    <div class="modal-dialog wdt560">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="border-top-bottom-popup">
                <div class="row padd-top-btm-5">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <h5 class="pad-lft-right-30 dis-inlineblc">Family Member</h5>
                        <button type="button" id="close-popup" class="close-icon padd-right7" data-dismiss="modal">&#10006;</button>
                    </div>
                </div>
            </div>
            <div class="row padd-top-btm-5 padd-left-30 padd-right-30">
                <div class="table-responsive table-block margintop20 max-height350 pos-inherit"  *ngIf="familyMemberDatalen != 0" >
                    <table class="table search-result-table table-hover popup-table-border table-striped">
                        <thead class="bg-white">
                            <tr>
                                <th>Legacy Code</th>
                                <th>PIN</th>
                                <th>MIN</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let repriceData of familyMemberData;let i=index">
                                <td>{{repriceData.legacyCode}}</td>
                                <td>{{repriceData.pin}}</td>
                                <td>{{repriceData.min}}</td>
                                <td>{{repriceData.productDesc}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>                
                <div class="table-responsive table-block margintop20 max-height350 pos-inherit" *ngIf="familyMemberDatalen == 0">
                        <div class="error-message-container">
                            <div class="categories">
                                <div class="alert alert-info text-center error-message">
                                    <strong>Sorry, No Record Found.
                                    </strong>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="padd-btm-15 clearfix"></div>
            <div class="padd-btm-15">
                <div class="col-md-12 col-sm-12 col-lg-12 text-right">
                    <button class="btn btn-default npr-popup-btn mar-bottom-1" data-dismiss="modal">Close</button>
                </div>
            </div>
            <div class="padd-btm-15 clearfix"></div>
        </div>
    </div>
</div>

<div class="modal fade custom-model" id="salesdata" role="dialog" [hidden]="!printHeader">
    <div class="modal-dialog wdt560">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="border-top-bottom-popup">
                <div class="row padd-top-btm-5">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <h5 class="pad-lft-right-30 dis-inlineblc">Sales</h5>
                        <button type="button" id="close-popup" class="close-icon padd-right7" data-dismiss="modal">&#10006;</button>
                    </div>
                </div>
            </div>
            <div class="row padd-top-btm-5 padd-left-30 padd-right-30">
                <div class="table-responsive table-block margintop20 max-height350 pos-inherit"  *ngIf="productRepricingSalesDatalen == 1" >
                    <table class="table search-result-table table-hover popup-table-border table-striped">
                        <thead class="bg-white">
                            <tr>
                                <th>Week</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Sales Volume</th>
                                <th>Sales Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let repriceData of productRepricingSalesData;let i=index">
                                <td>{{repriceData.weekNumber}}</td>
                                <td>{{_cfunction.dateFormator(repriceData.weekStartDate,1)}}</td>
                                <td>{{_cfunction.dateFormator(repriceData.weekEndDate,1)}}</td>
                                <td>{{repriceData.salesQty}}</td>
                                <td>{{repriceData.salesAmount}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>                
                <div class="table-responsive table-block margintop20 max-height350 pos-inherit" *ngIf="productRepricingSalesDatalen == 0">
                        <div class="error-message-container">
                            <div class="categories">
                                <div class="alert alert-info text-center error-message">
                                    <strong>Sorry, No Record Found.
                                    </strong>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="padd-btm-15 clearfix"></div>
            <div class="padd-btm-15">
                <div class="col-md-12 col-sm-12 col-lg-12 text-right">
                    <button class="btn btn-default npr-popup-btn mar-bottom-1" data-dismiss="modal">Close</button>
                </div>
            </div>
            <div class="padd-btm-15 clearfix"></div>
        </div>
    </div>
</div>

<div class='print_only' id="exportable" [hidden]="printHeader">
    <div class="row dashboard-heading-div">
        <div class="col-xs-12">
            <h2 class="font-bold actualprint-ordernno">Periodic Repricing</h2>
            <h4 class="font-bold actualprint-ordernno">Range / Catalogue Type : {{catalogueType}}</h4>
            <h4 class="font-bold actualprint-ordernno">Brand Type : {{brandType == 'ownbranded' ? 'Own Branded' : 'Branded' }}</h4>
        </div>
    </div>
    <div class="row dashboard-heading-div">
        <div class="col-xs-12">
            <h4 class="search-result-heading" h1>Summary</h4>
            <table id="mainTbl" border=1>
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th class="wdt197"></th>
                        <th class="border-left border-top heading-center green" colspan="3">PREVIOUS</th>

                        <th class="border-top heading-center green" colspan="3">NEW</th>
                        <th class="border-top heading-center green" colspan="2">WSP INCREASE</th>

                        <th class="border-top"></th>
                        <th class="border-right border-top "></th>
                    </tr>
                    <tr>
                        <th>Legacy Code</th>
                        <th>PIN</th>
                        <th>MIN</th>
                        <th class="wdt197">Description</th>
                        <th class="border-left border-top heading-center green">Case Size</th>
                        <th class=" border-top heading-center green">Case Cost</th>
                        <th class="border-top heading-center green">WSP</th>
                        <th class="border-top heading-center green">Case Size</th>
                        <th class="border-top heading-center green">Case Cost</th>
                        <th class="border-top heading-center green">WSP</th>
                        <th class="border-top heading-center green">Increase (%)</th>
                        <th class="border-top heading-center green">Amount</th>
                        <th class="border-top heading-center">Reason Code</th>
                        <th class="border-right border-top heading-center">Customer Impact</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let repriceData of productRepricingData | searchfilter: filterValue : searchVal;let i=index">
                        <td>{{repriceData.legacyCode}}</td>
                        <td>{{repriceData.pin}}</td>
                        <td>{{repriceData.min}}</td>
                        <td class="green ">{{repriceData.productDesc}}</td>
                        <td class="border-left txt-center">{{repriceData.cost.caseSize}}</td>
                        <td class="txt-center">{{repriceData.cost.caseCost}}</td>
                        <td class="txt-center">{{repriceData.cost.wsp}} </td>
                        <td class="txt-center">{{repriceData.cost.caseSizeNew}} </td>
                        <td class="txt-center">{{repriceData.cost.caseCostNew}}</td>
                        <td class="txt-center">{{repriceData.cost.wspNew}}</td>
                        <td class="txt-center">{{repriceData.cost.percIncrease}}</td>
                        <td class="txt-center">{{repriceData.cost.amount}}</td>
                        <td class="txt-center">{{repriceData.productInfo.reasonCode}}</td>
                        <td class="border-right txt-center">{{repriceData.productInfo.customerImpact}}</td> 
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row dashboard-heading-div">
        <div class="col-xs-12">
            <h4 class="search-result-heading" h1>Product Info</h4>
            <table id="mainTbl" border=1>
                <thead>
                    <tr>
                        <th>Legacy Code</th>
                        <th>PIN</th>
                        <th>MIN</th>
                        <th>Description</th>
                        <th>Supplier</th>
                        <th>Trading Group</th>
                        <th>Product Group</th>
                        <th>Category</th>
                        <th>SubClass</th>
                        <th>Barcode</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let repriceData of productRepricingData | searchfilter: filterValue : searchVal;let i=index">
                        <td>{{repriceData.legacyCode}}</td>
                        <td>{{repriceData.pin}}</td>
                        <td>{{repriceData.min}}</td>
                        <td class="green">{{repriceData.productDesc}}</td>
                        <td class="border-left">{{repriceData.productInfo.supplier}}</td>
                        <td class="">{{repriceData.productInfo.tradingGroup}}</td>
                        <td class="">{{repriceData.productInfo.productGroup}}</td>
                        <td class="">{{repriceData.productInfo.className}}</td>
                        <td class="">{{repriceData.productInfo.subClass}}</td>
                        <td class="border-right">{{repriceData.productInfo.barcode}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row dashboard-heading-div">
        <div class="col-xs-12">
            <h4 class="search-result-heading" h1>Cost Info</h4>
            <table id="mainTbl" border=1>
                <thead>
                    <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th class="wdt197"></th>
                            <th class="border-left border-top"></th>
                            <th class="border-top"></th>
                            <th class="border-top green heading-center" colspan="4">
                                <div class="border-bottom-1">PREVIOUS</div>
                            </th>
                            <th class="border-top green heading-center" colspan="4">
                                <div class="border-bottom-1">NEW</div>
                            </th>
                            <th class="border-right border-top"></th>
                        </tr>
                    <tr>
                        <th>Legacy Code</th>
                        <th>PIN</th>
                        <th>MIN</th>
                        <th class="wdt197">Description</th>
                        <th class="border-left border-top">RRP</th>
                        <th class="border-top">VAT</th>
                        <th class="border-top green">Date</th>
                        <th class="border-top green">Case Size</th>
                        <th class="border-top green">Case Cost</th>
                        <th class="border-top green">Unit Cost</th>
                        <th class="border-top green">Date</th>
                        <th class="border-top green">Case Size</th>
                        <th class="border-top green">Case Cost</th>
                        <th class="border-top green">Unit Cost</th>
                        <th class="border-right border-top">Currency Type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let repriceData of productRepricingData | searchfilter: filterValue : searchVal;let i=index">
                        <td>{{repriceData.legacyCode}}</td>
                        <td>{{repriceData.pin}}</td>
                        <td>{{repriceData.min}}</td>
                        <td class="green wdt197">{{repriceData.productDesc}}</td>
                        <td class="border-left">{{repriceData.cost.retailSellingPrice}}</td>
                        <td class="">{{repriceData.cost.vat}}</td>
                        <td class="">{{_cfunction.dateFormator(repriceData.cost.date,1)}}</td>
                        <td class="">{{repriceData.cost.caseSize}}</td>
                        <td class="">{{repriceData.cost.caseCost}}</td>
                        <td class="">{{repriceData.cost.unitCost}}</td>
                        <td class="">{{_cfunction.dateFormator(repriceData.cost.dateNew,1)}}</td>
                        <td class="">{{repriceData.cost.caseSizeNew}}</td>
                        <td class="">{{repriceData.cost.caseCostNew}}</td>
                        <td class="">{{repriceData.cost.unitCostNew}}</td>
                        <td class="border-right">{{repriceData.cost.currencyType}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row dashboard-heading-div">
        <div class="col-xs-12">
            <h4 class="search-result-heading" h1>Total Cost & Margin</h4>
            <table id="mainTbl" border=1>
                <thead>
                    <tr>
                        <th>Legacy Code</th>
                        <th>PIN</th>
                        <th>MIN</th>
                        <th class="wdt197">Description</th>
                        <th class="border-left border-top">Unit Cost (new)</th>
                        <th class="border-left-light border-top">Overrider %</th>
                        <th class="border-left-light border-top">Overrider</th>
                        <th class="border-left-light border-top">Delivery</th>
                        <th class="border-left-light border-top">Total Cost</th>
                        <th class="border-left-light border-top">Calculated Margin %</th>
                        <th class="border-left-light border-right border-top">Overwritten Margin %</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let repriceData of productRepricingData | searchfilter: filterValue : searchVal;let i=index">
                        <td>{{repriceData.legacyCode}}</td>
                        <td>{{repriceData.pin}}</td>
                        <td>{{repriceData.min}}</td>
                        <td class="green wdt197">{{repriceData.productDesc}}</td>
                        <td class="border-left">{{repriceData.cost.unitCostNew}}</td>
                        <td class="">{{repriceData.margin.overriderPercent}}</td>
                        <td class="">{{repriceData.margin.overriderNetGross}}</td>
                        <td class="">{{repriceData.margin.deliveryChargeUnit}}</td>
                        <td class="">{{repriceData.margin.totalCost}}</td>
                        <td class="">{{repriceData.margin.calculatedMarginPercent}}</td>
                        <td class="border-right border-left-light">{{repriceData.margin.overwrittenMarginPercent}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row dashboard-heading-div">
        <div class="col-xs-12">
            <h4 class="search-result-heading" h1>Non Promotional WSP</h4>
            <table id="mainTbl" border=1>
                <thead>
                    <tr>
                        <th>Legacy Code</th>
                        <th>PIN</th>
                        <th>MIN</th>
                        <th>Description</th>
                        <th>Total Cost</th>
                        <th> Margin %</th>
                        <th>Pre-challenge WSP</th>
                        <th>Challenge</th>
                        <th>Non Promo Final WSP</th>
                       <!-- <th>Lead Product</th>-->
                        <th>Overwritten WSP</th>
                        <th>Non Promo WSP Case</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let repriceData of productRepricingData | searchfilter: filterValue : searchVal;let i=index">
                        <td>{{repriceData.legacyCode}}</td>
                        <td>{{repriceData.pin}}</td>
                        <td>{{repriceData.min}}</td>
                        <td class="green wdt197">{{repriceData.productDesc}}</td>
                        <td class="border-left">{{repriceData.margin.totalCost}}</td>
                        <td class="">{{repriceData.margin.finalMarginPercent}}</td>
                        <td class="">{{repriceData.nonPromoWsp.preChallengeWsp}}</td>
                        <td class="">{{repriceData.nonPromoWsp.nonPromoChallenge}}</td>
                        <td class="">{{repriceData.nonPromoWsp.nonPromoFinalWsp}}</td>
                      <!--  <td *ngIf="repriceData.nonPromoWsp.leadProduct!=''">{{repriceData.nonPromoWsp.leadProduct}}</td>
                        <td *ngIf="repriceData.nonPromoWsp.leadProduct==''" class="text-center">-</td>-->
                        <td class=" border-left-light">{{repriceData.nonPromoWsp.nonPromoOverwrittenWsp}}</td>
                        <td class="border-right  border-left-light">{{repriceData.nonPromoWsp.nonPromoWspCase}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row dashboard-heading-div">
        <div class="col-xs-12">
            <h4 class="search-result-heading" h1>Promotional WSP</h4>
            <table id="mainTbl" border=1>
                <thead>
                    <tr>
                        <th>Legacy Code</th>
                        <th>PIN</th>
                        <th>MIN</th>
                        <th>Description</th>
                        <th>Total Cost</th>
                        <th>Margin %</th>
                        <th>Retro</th>
                        <th>Promo WSP</th>
                        <th>Challenge</th>
                        <th>Promo Final WSP</th>
                        <th>Promo WSP Case</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let repriceData of productRepricingData | searchfilter: filterValue : searchVal;let i=index">
                        <td>{{repriceData.legacyCode}}</td>
                        <td>{{repriceData.pin}}</td>
                        <td>{{repriceData.min}}</td>
                        <td class="green ">{{repriceData.productDesc}}</td>
                        <td class="border-left">{{repriceData.margin.totalCost}}</td>
                        <td class="">{{repriceData.margin.finalMarginPercent}}</td>
                        <td class="">{{repriceData.promoWsp.retro}}</td>
                        <td class="">{{repriceData.promoWsp.promoWsp}}</td>
                        <td class="">{{repriceData.promoWsp.promoChallange}}</td>
                        <td class=" border-left-light">{{repriceData.promoWsp.promoFinalWsp}}</td>
                        <td class=" border-left-light border-right">{{repriceData.promoWsp.promoWspCase}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Print HTML ends here -->
<div class="modal fade custom-model zindex9999991" id="popup_SessionExpired" role="dialog">
    <div class="modal-dialog top75 width314">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="border-top-bottom-popup">
                <h5 class="padd-left-right-10">Session terminated<button type="button" id="close-popup" class="close close-icon" data-dismiss="modal" (click)="closePopup()">&#10006;</button>
                </h5>
            </div>
            <div class="modal-body">
                <div class="new-batch-num-popup">
                    <!-- <span>{{msgJSON.message}}</span> -->
                    <span>Session has been terminated - please log in again.</span>
                </div>
            </div>
            <div class="modal-footer border-top-grey-1">
                <div class="text-right">
                    <button class="btn btn-default npr-popup-btn" type="button" (click)="closePopup()">OK</button>
                </div>
            </div>
        </div>
        <!-- Modal Content End -->
    </div>
</div>

<!-- unsave changes modal page level starts here-->
<div class="modal fade custom-model zindex9999991 unSaveChangesModal" id="unsaveModalPageLevel" role="dialog">
    <div class="modal-dialog top75">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="new-batch-num-popup">
                    <h4>You have some unsaved changes!!</h4>
                    <h4>Do you want to stay on same page?</h4>
                </div>
            </div>
            <div class="modal-footer border-top-grey-1">
                <div class="">
                    <button type="button" class="btn btn-default npr-popup-btn" (click)="keepMeonSamePage()">Yes, Keep me in</button>
                    <button type="button" class="btn btn-default npr-popup-btn" (click)="navigatTopage()">No, Navigate to click page</button>
                </div>
            </div>
        </div>
        <!-- Modal Content End -->
    </div>
</div>
<!-- unsave changes modal page level ends here-->