<!-- Breadcrumb start here-->
<div class="mvp_bradcrumb">
    <div class="container">
        <div class="col-xs-12 breadcrumb product-breadcrumb">
            <a [routerLink]="['/customerselection']">
                <span class="bradcrumb-text">Home</span>
            </a>/
            <span class="bradcrumb-text bold">Manage Groups</span>
        </div>
    </div>
</div>
<div class="mmbborder" id="circle-box-border"></div>
<div id="stickyContainer">
    <div class="sticky hidden-xs border-top-grey-1" id="sticky1">
        <div class="container padd-10-0">
            <div class="row equal">
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 desktop-paddzero mobile-paddzero" id="setBorder">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8 padd0">
                    <main-navigation-menu></main-navigation-menu>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="hidden-xs padd-btm-50 bgcolor-grey padd-top-10 min-height600">
    <div *ngIf="!siteMaintanceFlg">
        <div class="container bgcolor-white border-top-bottom margintop25">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <h4 class="dis-inlineblc">Manage User Groups</h4>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 ">
                </div>
            </div>
        </div>
        <div class="container bgcolor-white">
            <div class="row bgcolor-white">
                <div class="col-xs-12 col-md-12 col-lg-12 " *ngIf="noDataFound">
                    <div class="error-message-container">
                        <div class="categories">
                            <div class="alert alert-info text-center error-message">
                                <strong>{{errTxt}}
                                </strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-12 col-lg-12" *ngIf="!noDataFound">
                    <form role="form" #addNewGrp="ngForm" name="addNewGrp" class="">
                        <div class="table-responsive table-block margintop15 tableContainer-groups header-fixed">
                            <table class="table search-result-table table-hover popup-table-border table-striped td-pad-tb header-fixed">
                                <thead class="bg-white">
                                    <tr>
                                        <th class="width20">
                                            <div>Group Name</div>
                                        </th>
                                        <th class="width55">
                                            <div>Group Description</div>
                                        </th>
                                        <th class="text-center width20">
                                            <div class="padd-right-32">Status</div>
                                        </th>
                                        <th class="text-center width5">
                                            <div>&nbsp;</div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="tableBody" *ngIf="!noDataFound">
                                    <tr class="cursor-pointer" *ngFor="let item of groupList; let i=index" [class.highlighted]="item.groupName == selectedGroup && selectedGroup != ''">
                                        <td class="width20" *ngIf="item.groupName && item.groupName != ''" (click)="selectGroup(item.groupName, item.groupId, item.groupDescription, item.groupStatus)">{{item.groupName}}</td>
                                        <td class="width20" *ngIf="!item.groupName" id="inpGrpTd_{{item.groupName1}}">
                                            <div class="input-group">
                                                <div class="input-group-btn"><input class="form-control order-no-form" id="inpGrp_{{item.groupName1}}" required
                                                        type="text" placeholder="Group Name" [(ngModel)]="item.groupName1" [ngModelOptions]="{standalone: true}"
                                                        (focusout)="focusOutFunction($event)"></div>
                                            </div>
                                        </td>
                                        <td class="width55" *ngIf="item.groupDescription && item.groupDescription != ''" (click)="selectGroup(item.groupName, item.groupId, item.groupDescription)">{{item.groupDescription}}</td>
                                        <td class="width55" *ngIf="!item.groupDescription">
                                            <div class="input-group">
                                                <div class="input-group-btn"><input class="form-control order-no-form" required type="text" placeholder="Group Description"
                                                        [(ngModel)]="item.groupDescription1" [ngModelOptions]="{standalone: true}"></div>
                                            </div>
                                        </td>
                                        <td class="text-center width20">
                                            <div class="radio-item-green-red-grey dis-inlineblc">
                                                <input type="radio" id="ritema{{i}}" name="ritem{{i}}" [checked]="item.groupStatus == 'active'" (click)="setStatus(i,'active')">
                                                <label for="ritema{{i}}"></label>
                                            </div>
                                            <div class="radio-item-green-red-grey dis-inlineblc">
                                                <input type="radio" id="ritemb{{i}}" name="ritem{{i}}" [checked]="item.groupStatus != 'active'" (click)="setStatus(i,'inactive')">
                                                <label for="ritemb{{i}}" class="red-bg"></label>
                                            </div>
                                        </td>
                                        <td class="text-center width5" *ngIf="item.groupName && item.groupName != ''" (click)="selectGroup(item.groupName, item.groupId, item.groupDescription)">&nbsp;</td>
                                        <td class="text-center width5" *ngIf="!item.groupName">
                                            <div class='dis-inlineblc padleft-5'><span (click)="deleteRowPopup(i)" class='glyphicon glyphicon-trash text-green padd-tb5 font-size16px'></span></div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="text-right padd-bottom-30">
                            <button class="btn btn-default white-bg-grn-bdr" type="button" (click)="addNewGroup()">Add New Group</button>
                            <button class="btn btn-default npr-popup-btn" type="button" [class.disablebtn]="!unsavedGroup" (click)="resetGroups()">Cancel</button>
                            <button class="btn btn-default npr-popup-btn" type="button" [class.disablebtn]="!unsavedGroup" (click)="saveGroup()" >Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="container bgcolor-white border-top-grey-1" *ngIf="groupListLength != 0">
            <div class="text-right padd-bottom-30 padd-top-10">
                <button class="btn btn-default white-bg-grn-bdr" type="button" (click)="gotoSearchUsers()">Search User</button>
                <button class="btn btn-default npr-popup-btn" [tooltipDisabled]="!unsavedGroup" tooltip="First save or cancel pending changes"
                    tooltipPlacement="top" [class.disablebtn]="unsavedGroup  || selectedGroup == ''" type="button" (click)="gotoGroupRoles()">Manage Group Roles</button>
                <button class="btn btn-default npr-popup-btn" [tooltipDisabled]="!unsavedGroup" tooltip="First save or cancel pending changes"
                    tooltipPlacement="top" [class.disablebtn]="unsavedGroup  || selectedGroup == ''" type="button" (click)="gotoGroupUsers()">Manage Group Users</button>
            </div>
        </div>
        <!-- loader section start-->
        <div *ngIf="showLoader" class="overlay-load">
            <div class="loader-box-shadow">
                <div class="load-img">
                    <img src="{{whoImgUrl}}spinner.svg" class="loader-image" alt="Loader Image" />
                    <div>
                        <h6>LOADING</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade custom-model zindex999999" id="messageModal" role="dialog">
            <div class="modal-dialog top75 width314">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="border-top-bottom-popup">
                        <h5 class="padd-left-right-10">Manage Group
                            <button type="button" id="close-popup" class="close close-icon" data-dismiss="modal" (click)="closePopup()">&#10006;</button>
                        </h5>
                    </div>
                    <div class="modal-body">
                        <div class="new-batch-num-popup">
                            <span>{{popupMsg}}</span>
                        </div>
                    </div>
                </div>
                <!-- Modal Content End -->
            </div>
        </div>
        <div class="modal fade custom-model zindex999999" id="unsavedDataWarningModal" role="dialog">
            <div class="modal-dialog top75 width314">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="border-top-bottom-popup">
                        <h5 class="padd-left-right-10">Manage Group
                            <button type="button" id="close-popup" class="close close-icon" data-dismiss="modal" (click)="closePopup()">&#10006;</button>
                        </h5>
                    </div>
                    <div class="modal-body">
                        <div class="new-batch-num-popup">
                            <span>{{unsavedDataWarningMsg}}</span>
                        </div>
                    </div>
                    <div class="modal-footer border-top-grey-1">
                        <div class="text-right">
                            <button class="btn btn-default white-bg-grn-bdr" type="button" (click)="closePopup('unsavedDataWarningModal')">Cancel</button>
                            <button class="btn btn-default npr-popup-btn" type="button" (click)="navigateSearchUsers()">Ok</button>
                        </div>
                    </div>
                </div>
                <!-- Modal Content End -->
            </div>
        </div>
        <div class="modal fade custom-model zindex999999" id="deleteModal" role="dialog">
            <div class="modal-dialog top75 width314">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="border-top-bottom-popup">
                        <h5 class="padd-left-right-10">Manage Group Roles
                            <button type="button" id="close-popup" class="close close-icon" data-dismiss="modal" (click)="closePopup('deleteModal')">&#10006;</button>
                        </h5>
                    </div>
                    <div class="modal-body">
                        <div class="new-batch-num-popup">
                            <span>Are you sure you want to delete this?</span>
                        </div>
                    </div>
                    <div class="modal-footer border-top-grey-1">
                        <div class="text-right">
                            <button class="btn btn-default white-bg-grn-bdr" type="button" (click)="closePopup('deleteModal')">Cancel</button>
                            <button class="btn btn-default npr-popup-btn" type="button" (click)="deleteRow(rowToDelete)">Delete</button>
                        </div>
                    </div>
                </div>
                <!-- Modal Content End -->
            </div>
        </div>
    </div>
    <div class="row" *ngIf="siteMaintanceFlg">
        <div class="col-xs-12 col-sm-12 col-md-12 maintenance-background">
            <div class="heading-text">
                <h3 class="semi-bold text-center hidden-xs">SITE MAINTENANCE</h3>
            </div>
            <div class="maintenance-box login-box bold text-center">
                {{siteMSg}}
            </div>
        </div>
    </div>
</div>

<div class="hidden-sm hidden-md hidden-lg">
    <div class="row pad-lft-right-15 padd-top-11">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <div class="error-message-container">
                <div class="categories">
                    <div class="alert alert-info text-center error-message">
                        <strong>Sorry, Manage Groups functionality is available only on desktop view.
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>