<div id="stickyContainer">
    <!-- Breadcrumb start here-->
    <div class="mvp_bradcrumb">
        <div class="container">
            <div class="col-xs-12 breadcrumb product-breadcrumb">
                <a [routerLink]="['/customerselection']">
                    <span class="bradcrumb-text">Home</span>
                </a>/
                <a [routerLink]="['/cataloguemanagement', customerName]">
                    <span class="bradcrumb-text">Catalogue Management</span>
                </a>/
                <span class="bradcrumb-text">View uploaded catalogue files</span>
            </div>
        </div>
    </div>
    <!-- Breadcrumb end here-->
    <!--Search Order section start here-->
    <div class="mmbborder" id="circle-box-border"></div>
    <!-- Only Show in Mobile View -->
    <!--header with navigation start-->
    <catalogue-management-pending-request-header></catalogue-management-pending-request-header>
    <!--header with navigation end-->
    <!--Search order heading section start here-->
    <div class="sticky" id="sticky1">
        <div class="container">
            <div class="row desktop-marginzero" [hidden]="hideOrganisation">
                <div class="advanced-search-page text-center">
                    <ul class="product-circle">
                        <li *ngFor="let organisation of organisationListChange;let i=index" [class.hidden]="organisation.customerName=='All_Wholesale_Customers'" (click)="changeOrgType('/orders', organisation.customerName); navIcons.reloadNavigation(organisation.orgType);" >
                            <a>
                                <img src="{{getCustomerImage(organisation.customerName)}}" class="img-responsive" alt="{{organisation.customerName}}" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--Search order heading section end here-->
</div>
<div class="hidden-sm hidden-xs">
    <button (click)="onScrolltop()" class="topbtn" id="topBtn">Top</button>
</div>
<div class="hidden-xs container" *ngIf="isAmazonCatelogType">
    <div class="row desktop-marginzero">
        <div class="col-xs-12 desktop-paddzero fix-height">
            <h4 class="orders-heading">Select Catalogue Files</h4>
            <div class="row margin-zero">
                    <div class="col-xs-12 search-order-div desktop-paddzero mobile-paddzero btborder blockmarginbt">
                            <div class="col-xs-12 xspadding">
                                <h4 class="search-order-heading hidden-xs padd-top8">Select Channel</h4>
                                <form role="form" #singlecatalogue="ngForm" name="singlecatalogue" class="" (submit)="getlistofUploadedCatalogeFiles()">
                                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 padding-right-zero search-section xspadding form-group">
                                            <span class="green-star">*</span>
                                            <label for="catalogueType">Channel Type</label>
                                            <span class="up_arrow glyphicon glyphicon-menu-down rt10"></span>
                                            <select class="form-control" id="catalogueType"   name="catalogueType" required [(ngModel)]="catalogueType" >
                                                <option value="">Please Select</option>
                                                <option *ngFor="let i of catalogueTypes;" [value]="i.catalogueType" [attr.selected]="i.catalogueType == catalogueTypeId ? true : null"  >{{i.catalogueType}}</option>
                                            </select>
                                        </div>
                                        <div class="mrgn-left-17per col-xs-3 col-sm-3 col-md-3 col-lg-3 padding-right-zero search-section xspadding ">
                                            <div class="input-group dpadding col-xs-12 col-sm-12 col-md-9 col-lg-9">
                                                <button type="submit" class="btn pull-right mrgn-r-2 search-button adv-search-btn form-control">VIEW
                                                    <span class="brd-left-white rt6px">
                                                        <span class="glyphicon glyphicon-search search-icon pull-right"></span>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>                                        
                                    </form>
                            </div>
                     </div>   
            </div>
        </div>    
    </div>
    

</div>
<div class="hidden-xs container" *ngIf="isAmazonCatelogData">
    <div class="row desktop-marginzero">
        <div class="col-xs-12 desktop-paddzero fix-height">
            <h4 class="orders-heading">Uploaded Catalogue Files</h4>
            <div class="row margin-zero">
                <div class="col-xs-12 search-order-div desktop-paddzero mobile-paddzero btborder blockmarginbt" id="search-order-border">
                    <div class="col-xs-12 xspadding">
                        <div class="col-xs-6 col-sm-6 col-md-9 col-lg-9 padd0">
                            <h4 class="search-order-heading hidden-xs padd-top8">Search result for uploaded Catalogue Files</h4>
                        </div>
                        <div *ngIf="!disablecatalogueBulkUploadSubmit" class="input-group col-xs-6 col-sm-3 col-md-2 col-lg-2 uploadCatalogueButton">
                            <button type="button" class="btn pull-right search-button adv-search-btn form-control" (click)="redirect('/fullrangeupload', customerName)">Upload new catalogue file</button>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-12 col-lg-12" *ngIf="errorMsgString != ''">
                        <div class="error-message-container padd-top16">
                            <div class="categories">
                                <div class="alert alert-info text-center error-message">
                                    {{errorMsgString}}

                                    <strong></strong>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Search results section start here-->
                    <div *ngIf="!disablecatalogueBulkUploadView"  class="col-xs-12 search-results-div hidden-xs">
                        <div *ngIf="catalogueFileListLength == 0 && errorMsgString == ''">
                            <p class="no-data-text">No data available</p>
                        </div>
                        <div *ngIf="catalogueFileListLength > 0" id="exportable" class="table-responsive table-block max-height350" infinite-scroll
                            [infiniteScrollDistance]="2" [infiniteScrollThrottle]="300" [scrollWindow]="false" (scrolled)="onScrollDown()" >

                            <!-- <div id="exportable" class="table-responsive table-block overflow-x-inherit"> -->
                            <table id="tbl" class=" custom-borderd-table table table-bordered table-striped search-result-table text-nowrap" border='1'>
                                <thead class="head-color">
                                    <tr>
                                        <th>Date and Time</th>
                                        <th>Filename</th>
                                        <th class="text-center">Download</th>
                                        <th>Upload Status</th>
                                        <th class="text-center">Error Log</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let catalogue of catalogueFileList;let i=index" class="catalogue-list-table">
                                        <!--<td>{{catalogue.eventDate}}</td>-->
                                        <td>{{_cfunction.dateFormator(catalogue.eventDate,13)}}</td>
                                        <td>{{catalogue.uploadedFileName}}</td>
                                        <td class="text-align-webkit-center" [ngClass]="(catalogue.status != 'Upload Completed') ? 'disable':''">
                                            <a (click)="fileDownloadUsingPresignedURL(catalogue.uploadedFileName, catalogue.uploadedFilePath)" >
                                                <img src="{{whoImgUrl}}SquareIconDownload.svg" class="img-responsive sqrIcon-npr cursor-pointer"  >
                                            </a>
                                        </td>
                                        <td *ngIf="catalogue.status">{{catalogue.status}}</td>
                                        <td *ngIf="!catalogue.status">-</td>
                                        <td *ngIf="catalogue.status" class="text-align-webkit-center">
                                            <a *ngIf="catalogue?.errorFilePath" [ngClass]="(catalogue?.errorFilePath.length == 1 ) ? 'disable':''" title="{{(catalogue?.errorFilePath.length == 1 ) ? 'File Not Available':'' }}" (click)="fileDownloadUsingPresignedURL(catalogue.uploadedFileName,catalogue.errorFilePath )">
                                                <img src="{{whoImgUrl}}SquareIconDownload.svg" class="img-responsive sqrIcon-npr cursor-pointer">
                                            </a>
                                            <span *ngIf="!catalogue?.errorFilePath">
                                                No Error Log.
                                            </span>
                                        </td>
                                        <td *ngIf="!catalogue.status">-</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- loader section start-->
    <div *ngIf="showLoader" class="overlay-load">
        <div class="loader-box-shadow">
            <div class="load-img">
                <img src="{{whoImgUrl}}spinner.svg" class="loader-image" alt="Loader Image" />
                <div>
                    <h6>LOADING</h6>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="hidden-sm hidden-md hidden-lg">
    <div class="row pad-lft-right-15 padd-top-11">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <div class="error-message-container">
                <div class="categories">
                    <div class="alert alert-info text-center error-message">
                        <strong>Sorry, View uploaded catalogue files is available only on desktop view.
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade custom-model zindex999999" id="addConfirmationModal" role="dialog">
    <div class="modal-dialog top75 width314">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="border-top-bottom-popup">
                <h5 class="pad-lft-right-30">Catalogue Download
                    <button type="button" id="close-popup" class="close-icon" (click)="closePopup()" data-dismiss="modal">&#10006;</button>
                </h5>
            </div>
            <div class="modal-body">
                <div class="new-batch-num-popup">
                    <span>{{succMSg}}</span>
                </div>
            </div>
        </div>
        <!-- Modal Content End -->
    </div>
</div>
<div class="modal fade custom-model zindex9999991" id="popup_SessionExpired" role="dialog">
        <div class="modal-dialog top75 width314">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="border-top-bottom-popup">
                    <h5 class="padd-left-right-10">Session terminated                        <button type="button" id="close-popup" class="close close-icon" data-dismiss="modal" (click)="closePopup()">&#10006;</button>
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="new-batch-num-popup">
                        <!-- <span>{{msgJSON.message}}</span> -->
                        <span>Session has been terminated - please log in again.</span>
                    </div>
                </div>
                <div class="modal-footer border-top-grey-1">
                    <div class="text-right">
                        <button class="btn btn-default npr-popup-btn" type="button" (click)="closePopupp()">OK</button>
                    </div>
                </div>
            </div>
            <!-- Modal Content End -->
        </div>
    </div>