<!--Search Order section start here-->
<!-- Breadcrumb start here-->
<div class="mvp_bradcrumb">
    <div class="container">
        <div class="col-xs-12 breadcrumb product-breadcrumb">
            <!-- [routerLink]="['/customerselection']" -->
            <!--   <a> -->
            <span class="bradcrumb-text">Home</span>
            <!-- </a> -->/
            <!-- [routerLink]="['/dashboard', customerName]" -->
            <!-- <a> -->
            <span class="bradcrumb-text">Dashboard</span>
            <!-- </a> -->/
            <!-- [routerLink]="['/dashboard', customerName, 'fulfilment']" -->
            <!--  <a> -->
            <span class="bradcrumb-text">Fulfilment</span>
            <!-- </a> -->/
            <span class="bradcrumb-text bold">Drilldown level 1</span>
        </div>
    </div>
</div>

<!--Search Order section start here-->
<!--<div class="mmbborder" id="circle-box-border">

    
</div>
 Only Show in Mobile View -->

<!--<catalogue-management-pending-request-header></catalogue-management-pending-request-header>-->
<!--Search Order section start here-->
<!--Search Order section start here-->
<div class="mmbborder" id="circle-box-border"></div>
<!-- Only Show in Mobile View -->

<div id="stickyContainer">
    <!--Search order heading section start here-->
    <div class="sticky hidden-xs border-top-grey-1" id="sticky1">
        <div class="container padd-10-0">
            <div class="row equal">
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 desktop-paddzero mobile-paddzero" id="setBorder">
                    <div class="product-i">
                        <img src="{{imgName}}" class="img-responsive product-img-45 pull-left">
                        <h3 class="margin-zero product-title-top-0 font-bold font-size21">{{customerName}}</h3>
                        <!-- 
                        <a [class.hidden]="disabledCusChange ? true : null" (click)="toggleOrganisation()" class="Product-title-anchor">Change Customer
                            <span class="search-arrow-product">
                                <i id="changeIcon" class="glyphicon glyphicon-menu-down small-arrow-up"></i>
                            </span>
                        </a> -->
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8 padd0">
                    <!-- 
                    <main-navigation-menu #navIcons></main-navigation-menu> -->
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row desktop-marginzero" [hidden]="hideOrganisation">
                <div class="advanced-search-page text-center">
                    <!-- <a  (click)="toggleOrganisation()"><span class="circle-arrow hidden-xs"><i class="glyphicon glyphicon-menu-up"></i></span></a> -->
                    <ul class="product-circle">
                        <!-- <li *ngFor="let organisation of organisationListChange;let i=index" (click)="changeOrgType('/dashboard', organisation.orgType); navIcons.reloadNavigation(organisation.orgType);"
                            [ngClass]="(!custPermission[organisation.orgType])?'hide':''"> -->
                        <li *ngFor="let organisation of organisationListChange;let i=index" [ngClass]="(!custPermission[organisation.orgType])?'hide':''">
                            <a>
                                <img src="{{organisation.imgUrl}}" class="img-responsive" alt="{{organisation.orgType}}" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



<!--Search order heading section end here-->
<div class="hidden-xs padd-btm-50 bgcolor-grey padd-top-10 min-height600">
    <div class="container bgcolor-white border-top-bottom margintop25">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <h4 class="dis-inlineblc">Fulfilment Dashboard - Drilldown Level 1</h4>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 ">
                <div *ngIf="fulfilmentdataLen  > 0" class="pull-right padd-top-10 text-right">
                    <span class="padd-left10 curs-pointer" (click)="printdata()">
                        <img src="{{whoImgUrl}}IconPrint.svg" class="img-responsive dis-inlineblc img-width padd-right5">Print</span>
                    <span class="padd-left10 padd-right20 curs-pointer" (click)="exportData()">
                        <img src="{{whoImgUrl}}IconDownload.svg" class="img-responsive dis-inlineblc img-width padd-right5">Download</span>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <span class="padd-right10">
                    Ship To Delivery At (Date)
                </span>
                <span class="bold text-black padd-right20">
                    {{currDate | date:'dd/MM/yyyy'}}
                </span>
                <span class="padd-right10">
                    Category
                </span>
                <span class="bold text-black padd-right20">
                    {{catagoryNameStr}} |
                </span>
                <span class="padd-right10">
                    UOM
                </span>
                <span class="bold text-black">
                    {{uomNameStr}} |
                </span>
                 <span class="padd-left-20" *ngIf="customerName.toLowerCase() == 'amazon'">
                    Ship To Location
                </span>
                <span class="padd-left-20" *ngIf="customerName.toLowerCase() != 'amazon'">
                    Ship From Location
                </span>
                <span class="bold text-black" *ngIf="shipFromLocationdescp != ''">
                    {{shipFromLocationId}} - {{shipFromLocationdescp? shipFromLocationdescp: ""}} |
                </span>
                <span class="bold text-black" *ngIf="shipFromLocationdescp == ''">
                    {{shipFromLocationId}} |
                </span>
                <span class="padd-left-20" *ngIf="customerName.toLowerCase() == 'amazon'">
                    Channel sub-type
                </span>
                 <span class="bold text-black padd-right10" *ngIf="customerName.toLowerCase() == 'amazon'">
                    {{channel}}
                </span>
            </div>
        </div>
    </div>
    <div class="container bgcolor-white">
        <!--<h3 class="drilldown-header-title pad-left0">SINGLE NEW PRODUCT REQUESTS - ONLINE</h3>  -->
        <!-- <h3 class="drilldown-header-title pad-left0 catalogue-text margin-bot8 color-darkgrey">SINGLE NEW PRODUCT REQUEST - ONLINE</h3> -->
        <div class="pad-lft-right-15">
            <div class="row bgcolor-white">
                <div class="col-xs-12 col-md-12 col-lg-12 " *ngIf="fulfilmentdataLen == 0 ">
                    <div class="error-message-container">
                        <div class="categories">
                            <div class="alert alert-info text-center error-message">
                                <strong>Sorry, No data found at this moment.
                                </strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive table-block margintop15 max-height350 header-fixed fullfilment-zero-table-container" id="tableContainer"
                    *ngIf="fulfilmentdataLen > 0 ">
                    <table class="table search-result-table table-hover popup-table-border header-fixed table-striped" id="fulfulmentlevelone">
                        <thead class="bg-white">
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th colspan="2" class="heading-center order-fullfilment">Ordered</th>
                                <th>Rejected</th>
                                <th colspan="2" class="heading-center confirm-fullfilment">Confirmed</th>
                                <th colspan="2" class="heading-center shipped-fullfilment">Shipped</th>
                                <!-- 
                                <th colspan="2" class="heading-center">Delivered</th> -->
                            </tr>
                            <tr>
                                <th>Legacy</th>
                                <th>PIN</th>
                                <th class="wdt200">Product Description</th>
                                <th>Total Quantity</th>
                                <th>No. of Lines</th>
                                <th>Total Quantity</th>
                                <th>Total Quantity</th>
                                <th>No. of Lines</th>
                                <th>Total Quantity</th>
                                <th>No. of Lines</th>
                                <!-- 
                                <th>Total Quantity</th>
                                <th>No. of Lines</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                            </tr>

                        </tbody>
                        <tbody class="fullfilment-level-zero-body" *ngIf="fulfilmentdataLen > 0">
                            <tr class="cursor-pointer" *ngFor="let fulfilmentData of fulfilmentdataArr; let i = index;" (click)="gotoLevelTwo(['dashboard',customerName,'fulfilment','leveltwo',fulfilmentData.category,fulfilmentData.legacy,fulfilmentData.pin,fulfilmentData.uom,currDate,fulfilmentData.productDescription ,channel])">
                                <td>{{fulfilmentData.legacy}}</td>
                                <td>{{fulfilmentData.pin}}</td>
                                <td class="wdt200">{{fulfilmentData.productDescription}}</td>
                                <td *ngIf="fulfilmentData.orderRaised.totalQty">{{fulfilmentData.orderRaised.totalQty}}</td>
                                <td *ngIf="!fulfilmentData.orderRaised.totalQty">0</td>
                                <td *ngIf="fulfilmentData.orderRaised.noOfLines">{{fulfilmentData.orderRaised.noOfLines}}</td>
                                <td *ngIf="!fulfilmentData.orderRaised.noOfLines">0</td>
                                <td *ngIf="fulfilmentData.orderRejected.totalQty">{{fulfilmentData.orderRejected.totalQty}}</td>
                                <td *ngIf="!fulfilmentData.orderRejected.totalQty">0</td>
                                <td *ngIf="fulfilmentData.orderConfirmed.totalQty">{{fulfilmentData.orderConfirmed.totalQty}}</td>
                                <td *ngIf="!fulfilmentData.orderConfirmed.totalQty">0</td>
                                <td *ngIf="fulfilmentData.orderConfirmed.noOfLines">{{fulfilmentData.orderConfirmed.noOfLines}}</td>
                                <td *ngIf="!fulfilmentData.orderConfirmed.noOfLines">0</td>
                                <td *ngIf="fulfilmentData.orderShipped.totalQty">{{fulfilmentData.orderShipped.totalQty }}</td>
                                <td *ngIf="!fulfilmentData.orderShipped.totalQty">0</td>
                                <td *ngIf="fulfilmentData.orderShipped.noOfLines">{{fulfilmentData.orderShipped.noOfLines}} </td>
                                <td *ngIf="!fulfilmentData.orderShipped.noOfLines">0</td>
                                <!-- <td *ngIf="fulfilmentData.orderShipped.totalQty">{{fulfilmentData.orderShipped.totalQty }}</td>
                                <td *ngIf="!fulfilmentData.orderShipped.totalQty">-</td>
                                <td *ngIf="fulfilmentData.orderShipped.noOfLines">{{fulfilmentData.orderShipped.noOfLines}} </td>
                                <td *ngIf="!fulfilmentData.orderShipped.noOfLines">-</td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row bgcolor-white" *ngIf="fulfilmentdataLen > 0">
                <div class="table-responsive table-block max-height350 header-fixed fullfilment-zero-table-container" id="tableContainer">
                    <table class="table search-result-table table-hover popup-table-border header-fixed table-striped" id="fulfulmentlevelone">
                        <thead class="bg-white">
                            <tr>
                                <th>Total : All</th>
                                <th></th>
                                <th class="wdt200"></th>
                                <th>{{orderQtytotal}}</th>
                                <th>{{orderlinetotal}}</th>
                                <th>{{rejectTotalQty}}</th>
                                <th>{{confirmTotalQty}}</th>
                                <th>{{confirmTotalLines}}</th>
                                <th>{{shiptotalQty}}</th>
                                <th>{{shiptotalLines}}</th>
                                <!-- 
                                <th>Total Quantity</th>
                                <th>No. of Lines</th> -->
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- loader section start-->
    <div *ngIf="showLoader" class="overlay-load">
        <div class="loader-box-shadow">
            <div class="load-img">
                <img src="{{whoImgUrl}}spinner.svg" class="loader-image" alt="Loader Image" />
                <div>
                    <h6>LOADING</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- loader section end-->
<div class='print_only' id="printHeader" [hidden]="true">
    <!--dashboard container section start-->
    <div class="row dashboard-heading-div">
        <div class="col-xs-12">
            <img class="logo_print" src="{{whoImgUrl}}print_logo.png" alt="Morrisons logo">
            <h3 class="font-bold actualprint-ordernno">Fulfilment Dashboard - Drilldown Level 1</h3>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <span class="padd-right10">
            Ship To Deliver At (Date)
        </span> :
        <span class="font-bold text-black padd-right20">
            {{currDate | date:'dd/MM/yyyy'}}
        </span> |
        <span class="padd-left-20" *ngIf="customerName.toLowerCase() == 'amazon'">
            Ship To Location
        </span>
        <span class="padd-left-20" *ngIf="customerName.toLowerCase() != 'amazon'">
            Ship From Location
        </span> :
        <span class="bold text-black" *ngIf="shipFromLocationdescp != ''">
            {{shipFromLocationId}} - {{shipFromLocationdescp? shipFromLocationdescp: ""}}
        </span>
        <span class="bold text-black" *ngIf="shipFromLocationdescp == ''">
            {{shipFromLocationId}}
        </span> |
        <span class="padd-right10">
            Category
        </span> :
        <span class="bold text-black padd-right20">
            {{catagoryNameStr}}
        </span> |
        <span class="padd-right10">
            UOM
        </span> :
        <span class="bold text-black">
            {{uomNameStr}}
        </span>
         <span class="padd-left-20" *ngIf="customerName.toLowerCase() == 'amazon'">
                  Channel sub-type:
         </span>
         <span class="bold text-black padd-right10" *ngIf="customerName.toLowerCase() == 'amazon'">
                    {{channel}}
         </span>
    </div>

    <div class="table-responsive table-block mar-top10 border-none " id="orderItemTable">
        <table border="1" class="table table-bordered table-striped" id="fulfulmentleveltwo">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th colspan="2" class="heading-center order-fullfilment">Ordered</th>
                    <th>Rejected</th>
                    <th colspan="2" class="heading-center confirm-fullfilment">Confirmed</th>
                    <th colspan="2" class="heading-center shipped-fullfilment">Shipped</th>
                </tr>
                <tr>
                    <th>Legacy</th>
                    <th>PIN</th>
                    <th class="wdt200">Product Description</th>
                    <th>Total Quantity</th>
                    <th>No. of Lines</th>
                    <th>Total Quantity</th>
                    <th>Total Quantity</th>
                    <th>No. of Lines</th>
                    <th>Total Quantity</th>
                    <th>No. of Lines</th>
                </tr>
            </thead>
            <tbody class="fullfilment-level-zero-body" *ngIf="fulfilmentdataLen > 0">
                <tr class="cursor-pointer" *ngFor="let fulfilmentData of fulfilmentdataArr; let i = index;" (click)="gotoLevelTwo(['dashboard',customerName,'fulfilment','leveltwo',fulfilmentData.category,fulfilmentData.legacy,fulfilmentData.pin,fulfilmentData.uom,currDate,fulfilmentData.productDescription])">
                    <td>{{fulfilmentData.legacy}}</td>
                    <td>{{fulfilmentData.pin}}</td>
                    <td class="wdt200">{{fulfilmentData.productDescription}}</td>
                    <td *ngIf="fulfilmentData.orderRaised.totalQty">{{fulfilmentData.orderRaised.totalQty}}</td>
                    <td *ngIf="!fulfilmentData.orderRaised.totalQty">0</td>
                    <td *ngIf="fulfilmentData.orderRaised.noOfLines">{{fulfilmentData.orderRaised.noOfLines}}</td>
                    <td *ngIf="!fulfilmentData.orderRaised.noOfLines">0</td>
                    <td *ngIf="fulfilmentData.orderRejected.totalQty">{{fulfilmentData.orderRejected.totalQty}}</td>
                    <td *ngIf="!fulfilmentData.orderRejected.totalQty">0</td>
                    <td *ngIf="fulfilmentData.orderConfirmed.totalQty">{{fulfilmentData.orderConfirmed.totalQty}}</td>
                    <td *ngIf="!fulfilmentData.orderConfirmed.totalQty">0</td>
                    <td *ngIf="fulfilmentData.orderConfirmed.noOfLines">{{fulfilmentData.orderConfirmed.noOfLines}}</td>
                    <td *ngIf="!fulfilmentData.orderConfirmed.noOfLines">0</td>
                    <td *ngIf="fulfilmentData.orderShipped.totalQty">{{fulfilmentData.orderShipped.totalQty }}</td>
                    <td *ngIf="!fulfilmentData.orderShipped.totalQty">0</td>
                    <td *ngIf="fulfilmentData.orderShipped.noOfLines">{{fulfilmentData.orderShipped.noOfLines}} </td>
                    <td *ngIf="!fulfilmentData.orderShipped.noOfLines">0</td>
                </tr>
                <tr>
                    <td>Total : All</td>
                    <td></td>
                    <td class="wdt200"></td>
                    <td>{{orderQtytotal}}</td>
                    <td>{{orderlinetotal}}</td>
                    <td>{{rejectTotalQty}}</td>
                    <td>{{confirmTotalQty}}</td>
                    <td>{{confirmTotalLines}}</td>
                    <td>{{shiptotalQty}}</td>
                    <td>{{shiptotalLines}}</td>
                    <!-- 
                        <th>Total Quantity</th>
                        <th>No. of Lines</th> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class='print_only' id="exportHeader" [hidden]="true">
    <!--dashboard container section start-->
    <div class="row dashboard-heading-div">
        <div class="col-xs-12">
            <h3 class="font-bold actualprint-ordernno">Fulfilment Dashboard - Drilldown Level 1</h3>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <span class="padd-right10">
            Ship To Deliver At (Date)
        </span> :
        <span class="font-bold text-black padd-right20">
            {{currDate | date:'dd/MM/yyyy'}}
        </span> |
        <span class="padd-left-20" *ngIf="customerName.toLowerCase() != 'amazon'">
            Ship From Location
        </span>
        <span class="padd-left-20" *ngIf="customerName.toLowerCase() == 'amazon'">
            Ship To Location
        </span> :
        <span class="bold text-black" *ngIf="shipFromLocationdescp != ''">
            {{shipFromLocationId}} - {{shipFromLocationdescp? shipFromLocationdescp: ""}} |
        </span>
        <span class="bold text-black" *ngIf="shipFromLocationdescp == ''">
            {{shipFromLocationId}} 
        </span> |
        <span class="padd-right10">
            Category
        </span> :
        <span class="bold text-black padd-right20">
            {{catagoryNameStr}}
        </span> |
        <span class="padd-right10">
            UOM
        </span> :
        <span class="bold text-black">
            {{uomNameStr}} |
        </span>
         <span class="padd-left-20" *ngIf="customerName.toLowerCase() == 'amazon'">
            Channel sub-type:
          </span>
           <span class="bold text-black padd-right10" *ngIf="customerName.toLowerCase() == 'amazon'">
                    {{channel}}
           </span>
    </div>

    <div class="table-responsive table-block mar-top10 border-none " id="orderItemTable">
        <table border="1" class="table table-bordered table-striped" id="fulfulmentleveltwo">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th colspan="2" class="heading-center order-fullfilment">Ordered</th>
                    <th>Rejected</th>
                    <th colspan="2" class="heading-center confirm-fullfilment">Confirmed</th>
                    <th colspan="2" class="heading-center shipped-fullfilment">Shipped</th>
                </tr>
                <tr>
                    <th>Legacy</th>
                    <th>PIN</th>
                    <th class="wdt200">Product Description</th>
                    <th>Total Quantity</th>
                    <th>No. of Lines</th>
                    <th>Total Quantity</th>
                    <th>Total Quantity</th>
                    <th>No. of Lines</th>
                    <th>Total Quantity</th>
                    <th>No. of Lines</th>
                </tr>
            </thead>
            <tbody class="fullfilment-level-zero-body" *ngIf="fulfilmentdataLen > 0">
                <tr class="cursor-pointer" *ngFor="let fulfilmentData of fulfilmentdataArr; let i = index;" (click)="gotoLevelTwo(['dashboard',customerName,'fulfilment','leveltwo',fulfilmentData.category,fulfilmentData.legacy,fulfilmentData.pin,fulfilmentData.uom,currDate,fulfilmentData.productDescription])">
                    <td>{{fulfilmentData.legacy}}</td>
                    <td>{{fulfilmentData.pin}}</td>
                    <td class="wdt200">{{fulfilmentData.productDescription}}</td>
                    <td *ngIf="fulfilmentData.orderRaised.totalQty">{{fulfilmentData.orderRaised.totalQty}}</td>
                    <td *ngIf="!fulfilmentData.orderRaised.totalQty">0</td>
                    <td *ngIf="fulfilmentData.orderRaised.noOfLines">{{fulfilmentData.orderRaised.noOfLines}}</td>
                    <td *ngIf="!fulfilmentData.orderRaised.noOfLines">0</td>
                    <td *ngIf="fulfilmentData.orderRejected.totalQty">{{fulfilmentData.orderRejected.totalQty}}</td>
                    <td *ngIf="!fulfilmentData.orderRejected.totalQty">0</td>
                    <td *ngIf="fulfilmentData.orderConfirmed.totalQty">{{fulfilmentData.orderConfirmed.totalQty}}</td>
                    <td *ngIf="!fulfilmentData.orderConfirmed.totalQty">0</td>
                    <td *ngIf="fulfilmentData.orderConfirmed.noOfLines">{{fulfilmentData.orderConfirmed.noOfLines}}</td>
                    <td *ngIf="!fulfilmentData.orderConfirmed.noOfLines">0</td>
                    <td *ngIf="fulfilmentData.orderShipped.totalQty">{{fulfilmentData.orderShipped.totalQty }}</td>
                    <td *ngIf="!fulfilmentData.orderShipped.totalQty">0</td>
                    <td *ngIf="fulfilmentData.orderShipped.noOfLines">{{fulfilmentData.orderShipped.noOfLines}} </td>
                    <td *ngIf="!fulfilmentData.orderShipped.noOfLines">0</td>
                </tr>
                <tr>
                    <td>Total : All</td>
                    <td></td>
                    <td class="wdt200"></td>
                    <td>{{orderQtytotal}}</td>
                    <td>{{orderlinetotal}}</td>
                    <td>{{rejectTotalQty}}</td>
                    <td>{{confirmTotalQty}}</td>
                    <td>{{confirmTotalLines}}</td>
                    <td>{{shiptotalQty}}</td>
                    <td>{{shiptotalLines}}</td>
                    <!-- 
                        <th>Total Quantity</th>
                        <th>No. of Lines</th> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!--Search order content section end here-->

<div class="hidden-sm hidden-md hidden-lg">
    <div class="row pad-lft-right-15 padd-top-11">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <div class="error-message-container">
                <div class="categories">
                    <div class="alert alert-info text-center error-message">
                        <strong>Sorry, Fullfillment Drilldown 1 functionality is available only on desktop view.
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade custom-model zindex9999991" id="popup_SessionExpired" role="dialog">
    <div class="modal-dialog top75 width314">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="border-top-bottom-popup">
                <h5 class="padd-left-right-10">{{msgJSON.title}}
                    <button type="button" id="close-popup" class="close close-icon" data-dismiss="modal" (click)="closePopup()">&#10006;</button>
                </h5>
            </div>
            <div class="modal-body">
                <div class="new-batch-num-popup">
                    <span>{{msgJSON.message}}</span>
                </div>
            </div>
            <div class="modal-footer border-top-grey-1">
                <div class="text-right">
                    <button class="btn btn-default npr-popup-btn" type="button" (click)="closePopup()">OK</button>
                </div>
            </div>
        </div>
        <!-- Modal Content End -->
    </div>
</div>