<div class="container" ng-controller="cookiesCtrlCtrl">
    <div id="top" class="row home">
    </div>
    <!--Cookies Component Breadcrumb start here-->
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <li>
                    <a routerLink="/home">
                        <span class="breadcrumb-underline">Home
                        </span>
                    </a>
                </li>
                <li class="active">Cookie Policy
                </li>
            </ol>
        </div>
    </div>
    <!--Cookies Component Breadcrumb end here-->

    <!-- Cookies Main section start Here-->
    <div class="row sizingWranpm p csTaC">
        <!--Cookies component heading start here-->
        <h2 class="sectionTitle">
            <span>
                Policies:
            </span>
            <br> Cookie Policy
        </h2>
        <div>
            <p>
                This policy explains what cookies we use why we use them. We recommend that read the policy fully. For more details about
                your personal data please refer to our
                <a (click)="redirect('privacypolicy')">privacy policy.
                </a>
            </p>
            <!--Cookies component heading end here-->

            <!--Cookies Component what are cookies section start here-->
            <h3 class="level3">
                What Are Cookies?
            </h3>
            <p>
                Cookies are a small text file that is placed on your computer, tablet or mobile phone when you access our websites. They
                are not harmful to your devices (like a virus or malicious code) and allow you to use many of the useful
                features of our websites (like remembering your favourites).
            </p>
            <!--Cookies Component what are cookies section end here-->

            <!--Cookies Component how use cookies section start here-->
            <h3 class="level3">
                How Do We Use Cookies?
            </h3>
            <p>
                In the table below we set out what cookies we use on our websites and how they are used. To read the table it is useful to
                know the following:
            </p>
            <p>
            </p>
            <ol>
                <li>
                    Cookies have a lifetime. Some only last until you close your browser or a short time. These are called
                    <strong>'session cookies'
                    </strong>. Some last longer though, for example, to enable a website to recognise you when you return
                    to them. These are called
                    <strong>'persistent cookies'
                    </strong>.
                </li>
                <li>
                    Cookies placed directly by a website owner (like us) are known as
                    <strong>'first party cookies'
                    </strong> and most modern websites also use technology provided by other people/businesses, for example
                    to provide online advertising. Cookies placed by other parties are known as
                    <strong>'third party cookies'
                    </strong>.
                </li>
            </ol>
            <p>
            </p>
            <!--Cookies Component how use cookies section end here-->
            <!-- Cookies Compoenent Responsive Table start here-->
            <div class="table-responsive">
                <table class="group">
                    <thead class="group">
                        <tr>
                            <th>
                                Cookie name
                            </th>
                            <th>
                                What is it used for?
                            </th>
                            <th>
                                Other information
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="3" class="subHeading cookiesSubHead">
                                <p>
                                    <strong>Strictly necessary cookies
                                    </strong>
                                </p>
                                <p>
                                    <em>What are they?
                                    </em> These cookies are essential to enable you to move around our website and use its
                                    features, such as accessing secure areas of the website. Without these cookies, services
                                    you have asked for, like shopping baskets or electronic billing cannot be provided.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    .ASPXROLES
                                </p>
                            </td>
                            <td>
                                <p>
                                    This cookie is placed when you log into a protected area of our website. It allows our website to define what roles and permissions
                                    are assigned to you.
                                </p>
                            </td>
                            <td>
                                <p>
                                    This is a first party session cookie.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    ASP.NET_SessionId
                                </p>
                                <p>
                                    Customer session cookie
                                </p>
                                <p>
                                    Server cookies
                                </p>
                                <p>
                                    Last request time
                                </p>
                            </td>
                            <td>
                                <p>
                                    These cookies identify your unique session throughout your journey through our website and are used to indicate when you
                                    need to log-in to our website again.
                                </p>
                            </td>
                            <td>
                                <p>
                                    ASP.NET_SessionIdis a first party session cookie.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    BC_BANDWIDTH
                                </p>
                            </td>
                            <td>
                                <p>
                                    This cookie detects the bandwidth of your internet to allow us to stream videos to your browser.
                                </p>
                            </td>
                            <td>
                                <p>
                                    This is a first party session cookie.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    GetGrowingUser
                                </p>
                            </td>
                            <td>
                                <p>
                                    This cookie identifies you if you have logged in to the Get Growing section of our website.
                                </p>
                            </td>
                            <td>
                                <p>
                                    This is a first party session cookie.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    Secure token
                                </p>
                                <p>
                                    3D secure cookies
                                </p>
                            </td>
                            <td>
                                <p>
                                    These cookies enable our website to identify you when moving to any secure pages of our website, including when going through
                                    the 'Verify By Visa' or 'Mastercard Securecode' process when making a payment on our
                                    website.
                                </p>
                            </td>
                            <td>
                                <p>
                                    3D secure cookies are third party cookies.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" class="subHeading cookiesSubHead">
                                <p>
                                    <strong>Functionality cookies
                                    </strong>
                                </p>
                                <p>
                                    <em>What are they?
                                    </em> These are cookies that allow our website to remember choices you make (such as
                                    your user name, language or the region you are in) and to provide enhanced, more personal
                                    features. These cookies can remember changes you have made to text size, fonts and other
                                    parts of web pages you can customise. They may also be used to provide services you have
                                    asked for, such as watching a video or commenting on a blog.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    .EPiServerLogin
                                </p>
                            </td>
                            <td>
                                <p>
                                    This cookie is placed when you log into a protected area of our website. It allows our website to define what roles and permissions
                                    are assigned to you.
                                </p>
                            </td>
                            <td>
                                <p>
                                    This is a first party persistent cookie that lasts for 30 days.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    act
                                </p>
                                <p>
                                    c_user
                                </p>
                                <p>
                                    Csm
                                </p>
                                <p>
                                    Datr
                                </p>
                                <p>
                                    Fr
                                </p>
                                <p>
                                    Lu
                                </p>
                                <p>
                                    P
                                </p>
                                <p>
                                    S
                                </p>
                                <p>
                                    Presence
                                </p>
                                <p>
                                    reg_fb_ref
                                </p>
                                <p>
                                    xs
                                </p>
                            </td>
                            <td>
                                <p>
                                    These cookies enable you to share content with Facebook from our website, and to show us the first and last of our Facebook
                                    pages that you visited. Facebook can track visitor information and activity connected
                                    to Facebook. These cookies can sometimes be placed even if you are not a Facebook user
                                    or logged in to Facebook.
                                </p>
                            </td>
                            <td>
                                <p>
                                    These are third party cookies.
                                </p>
                                <p>
                                    act, p, s and reg_fb_ref are session cookies.
                                </p>
                                <p>
                                    c_user can either be a session cookie or a persistent cookie which lasts for up to 30 days. csm, fr and xs last for 22 days.
                                </p>
                                <p>
                                    Lu and datr last for 488 days.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    DeviceAction
                                </p>
                            </td>
                            <td>
                                <p>
                                    This cookie detects whether you are accessing our website via a mobile platform (e.g. your mobile phone) so that we can display
                                    the appropriate version of our website.
                                </p>
                            </td>
                            <td>
                                <p>
                                    This is a first party persistent cookie that lasts for 158 days.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    Hsid
                                </p>
                            </td>
                            <td>
                                <p>
                                    This MorningStar cookie provides share and fund price information.
                                </p>
                            </td>
                            <td>
                                <p>
                                    This is a third party cookie session cookie.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    MorrGlobalUser
                                </p>
                            </td>
                            <td>
                                <p>
                                    This cookie helps us identify you as a unique user on the website.
                                </p>
                            </td>
                            <td>
                                <p>
                                    This is a first party persistent cookie that lasts for 183 days.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" class="subHeading cookiesSubHead">
                                <p>
                                    <strong>Performance cookies
                                    </strong>
                                </p>
                                <p>
                                    <em>What are they?
                                    </em> These cookies collect information about how you use our websites, for example which
                                    pages you go to most often and if you get an error message. These cookies are used to
                                    improve how our website works.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    Google Analytics (_utma, _utmb, _utmc and _utmz)
                                </p>
                            </td>
                            <td>
                                <p>
                                    These cookies enable Google Analytics software to work which helps us to take and analyse visitor information such as browser
                                    usage (e.g. how long you spend on our website, when you start and finish, the amount
                                    of times you visit, when your previous visit was), new visitors' response to marketing
                                    and shopping times. This information enables us to produce reports to help us improve
                                    our website, your shopping experience and to make our marketing activity more relevant.
                                    Please note, the data stored by these cookies can only be seen by us and Google.
                                </p>
                            </td>
                            <td>
                                <p>
                                    These are first party cookies.
                                </p>
                                <p>
                                    _utma is a persistent cookie that lasts for 728 days
                                </p>
                                <p>
                                    _utmb is a persistent cookie that lasts for 30 minutes
                                </p>
                                <p>
                                    _utmc is a session cookie
                                </p>
                                <p>
                                    _utmz is a persistent cookie that lasts for 181 days
                                </p>
                                <p>
                                    _utmli is a persistent cookie
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    Akamai_AnalyticsMetrics_clientId
                                </p>
                                <p>
                                    AkamaiAnalytics_BrowserSessionId
                                </p>
                                <p>
                                    AkamaiAnalytics_VisitCookie
                                </p>
                                <p>
                                    AkamaiAnalytics_VisitsPlaying
                                </p>
                                <p>
                                    AkamaiAnalytics_VisitLastCloseTime
                                </p>
                                <p>
                                    AkamaiAnalytics_VisitUnqueTitles
                                </p>
                                <p>
                                    AkamaiAnalyticsDO_bitRateBucketsCsv
                                </p>
                                <p>
                                    AkamaiAnalyticsDO_visitMetricsCsv
                                </p>
                                <p>
                                    AkamaiAnalyticsDO_visitStartTime
                                </p>
                            </td>
                            <td>
                                <p>
                                    These cookies store the start epoch times of the Play and Heartbeat beacons (to track your user journey through the site),
                                    initial bandwidth capability for progressive download deliveries, the last time your
                                    browser was closed, streams playing in tabs, the ID for a visit, a visit start time and
                                    related metrics. They store information to compute bitrate date (to calculate a user's
                                    internet connection speed) for the visit, identify unique viewers and new viewers and
                                    help us to make sure our analytics data is accurate and not misleading.
                                </p>
                            </td>
                            <td>
                                <p>
                                    These are all third party cookies.
                                </p>
                                <p>
                                    Akamai_Analytics Metrics_clientId is a persistent cookie that lasts for 12 months.
                                </p>
                                <p>
                                    All of the other cookies are session cookies.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    RememberMe
                                </p>
                                <p>
                                    Viewport
                                </p>
                                <p>
                                    Episodes
                                </p>
                                <p>
                                    Tracking
                                </p>
                                <p>
                                    Order placed
                                </p>
                            </td>
                            <td>
                                <p>
                                    These cookies enable us to record and analyse the performance of our website and the success of our adverts and marketing,
                                    for example by remembering you between shopping visits to our website and linking such
                                    visits, recording when you have placed an order and recording the size of your browser.
                                </p>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    Voucher
                                </p>
                            </td>
                            <td>
                                <p>
                                    This cookie temporarily stores voucher codes to avoid you having to re-enter the code.
                                </p>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    Beta pool
                                </p>
                            </td>
                            <td>
                                <p>
                                    This cookie is used to control features and functionality which are undergoing testing on our website.
                                </p>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" class="subHeading cookiesSubHead">
                                <p>
                                    <strong>Targeting or advertising cookies
                                    </strong>
                                </p>
                                <p>
                                    <em>What are they?
                                    </em>These cookies are used to drive online advertising that is relevant to you by building
                                    up a picture of what you are interested in from your use of the internet. The cookies
                                    can limit the number of times you see an advert and help to measure the effectiveness
                                    of any advertising. They remember that you have visited a website and this information
                                    may be shared with other organisations or advertisers. Quite often targeting or advertising
                                    cookies will be linked to website functionality provided by the other organisation.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    _stid
                                </p>
                                <p>
                                    Google Analytics (_utma, _utmb, _utmc and _utmz)
                                </p>
                                <p>
                                    recents
                                </p>
                                <p>
                                    ServiceHistory
                                </p>
                                <p>
                                    ShareAL
                                </p>
                                <p>
                                    ShareUT
                                </p>
                                <p>
                                    StOAuth
                                </p>
                            </td>
                            <td>
                                <p>
                                    These cookies are placed by ShareThis. They allow you to create links and share content from our website on social media
                                    networks. ShareThis will also use the data collected to provide advertisers with profile
                                    information for targeted, behavioural advertising.
                                </p>
                            </td>
                            <td>
                                <p>
                                    These are third party cookies.
                                </p>
                                <p>
                                    _utmc, recents and ServiceHistory are session cookies.
                                </p>
                                <p>
                                    All other cookies are persistent cookies.
                                </p>
                                <p>
                                    _stid lasts for 1 year.
                                </p>
                                <p>
                                    _utma lasts for 730 days
                                </p>
                                <p>
                                    _utmb lasts for 30 minutes
                                </p>
                                <p>
                                    _utmz lasts for 183 days
                                </p>
                                <p>
                                    ShareAL lasts for 1 day
                                </p>
                                <p>
                                    ShareUT and StOAuth last for 365 days
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    _uset
                                </p>
                            </td>
                            <td>
                                <p>
                                    This cookie determines whether you have received any other cookies from ShareThis (referred to above) to prevent any repetition
                                    within 8 hours.
                                </p>
                            </td>
                            <td>
                                <p>
                                    This is a third party cookie.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    _cc_aud
                                </p>
                                <p>
                                    _cc_cc
                                </p>
                                <p>
                                    _cc_dc
                                </p>
                                <p>
                                    _cc_id
                                </p>
                                <p>
                                    aud
                                </p>
                                <p>
                                    cc
                                </p>
                                <p>
                                    dc
                                </p>
                                <p>
                                    OAID
                                </p>
                            </td>
                            <td>
                                <p>
                                    These cookies are placed by Lotame Data Management Platform. This information enables us to make our marketing activity more
                                    relevant.
                                </p>
                            </td>
                            <td>
                                <p>
                                    These are third party cookies. All are persistent cookies that last for 270 days, except for _cc_dc and dc which are session
                                    cookies.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    A3
                                </p>
                                <p>
                                    B4
                                </p>
                                <p>
                                    C4
                                </p>
                                <p>
                                    D1
                                </p>
                                <p>
                                    ActivityInfo2
                                </p>
                                <p>
                                    Eyeblaster
                                </p>
                                <p>
                                    u2
                                </p>
                            </td>
                            <td>
                                <p>
                                    These cookies are placed by Media Mind. This information enables us to make our marketing activity more relevant.
                                </p>
                            </td>
                            <td>
                                <p>
                                    These are third party sistent cookies.
                                </p>
                                <p>
                                    A3 and B4 last for 82 days.
                                </p>
                                <p>
                                    C4 lasts for 65 days.
                                </p>
                                <p>
                                    ActivityInfo2 and u2 last for 90 days.
                                </p>
                                <p>
                                    D1 lasts for 32 days.
                                </p>
                                <p>
                                    Eyeblaster lasts for 66 days.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    AdsUserLocale
                                </p>
                                <p>
                                    NID
                                </p>
                                <p>
                                    PREF
                                </p>
                                <p>
                                    S
                                </p>
                                <p>
                                    APISID
                                </p>
                                <p>
                                    SID
                                </p>
                                <p>
                                    SSID
                                </p>
                                <p>
                                    HSID
                                </p>
                                <p>
                                    SAPISID
                                </p>
                            </td>
                            <td>
                                <p>
                                    These cookies are placed by Google. They verify when you have logged in to your user account, allow Google to store your
                                    user preferences and enable adverts on Google to be personalised to you.
                                </p>
                            </td>
                            <td>
                                <p>
                                    These are third party cookies.
                                </p>
                                <p>
                                    AdsUserLocale and S are session cookies.
                                </p>
                                <p>
                                    All other cookies are persistent cookies.
                                </p>
                                <p>
                                    NID lasts for 179 days.
                                </p>
                                <p>
                                    PREF lasts for 724 days.
                                </p>
                                <p>
                                    APISID and HSID last for 3646 days.
                                </p>
                                <p>
                                    SID lasts for 3650 days.
                                </p>
                                <p>
                                    SAPISID and SSID last for 3648 days.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    Anj
                                </p>
                                <p>
                                    icu
                                </p>
                                <p>
                                    uess
                                </p>
                                <p>
                                    uuid2
                                </p>
                            </td>
                            <td>
                                <p>
                                    Run by AppNexus, a company that provides technology, data and analytics to help companies buy and sell online advertising.
                                    These cookies capture visitor information such as whether your browser is set to receive
                                    cookies and interest segments to provide you with personalised adverts when you visit
                                    other selected websites. They will also stop you seeing the same advert too many times,
                                    they collect information on what adverts you have seen, how recently they have been shown
                                    and how many total adverts you have been shown. To view AppNexus' privacy policy see
                                    <a href="http://www.appnexus.com/platform-policy">http://www.appnexus.com/platform-policy
                                    </a>.
                                </p>
                            </td>
                            <td>
                                <p>
                                    These are third party persistent cookies.
                                </p>
                                <p>
                                    anj and uuid2 last for 90 days.
                                </p>
                                <p>
                                    icu lasts for 86 days.
                                </p>
                                <p>
                                    sess lasts for 1 day
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    ANON_ID
                                </p>
                            </td>
                            <td>
                                <p>
                                    Thiscookie is placed by Tribal Fusion. These cookies are used to deliver adverts more relevant to you and your interests.
                                    They are used to limit the number of times you see an advertisement as well as help measure
                                    the effectiveness of an advertising campaign. They are usually placed by advertising
                                    networks with our permission. They remember that you have visited a website and this
                                    information is shared with other organisations such as advertisers. Quite often targeting
                                    or advertising cookies will be linked to site functionality provided by the other organisation.
                                    To view Tribal Fusion's privacy policy see
                                    <a href="http://www.tribalfusion.com/tfcompany/privacy_policy">http://www.tribalfusion.com/tfcompany/privacy_policy
                                    </a>.
                                </p>
                            </td>
                            <td>
                                <p>
                                    This is a third party persistent cookie that lasts for 90 days.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    GAPS
                                </p>
                                <p>
                                    PREF
                                </p>
                                <p>
                                    Recently_watched_video id_list
                                </p>
                                <p>
                                    use_hitbox
                                </p>
                                <p>
                                    VISITOR_INFO1_LIVE
                                </p>
                                <p>
                                    ACTIVITY
                                </p>
                            </td>
                            <td>
                                <p>
                                    These cookies are placed by youtube. They enable youtube to analyse visitor information related to video usage such as views
                                    and shares, to store your preferences, target their adverts to you and track what videos
                                    you watch and how many times a particular video is viewed. These cookies are used to
                                    deliver adverts more relevant to you and your interests. They are used to limit the number
                                    of times you see an advertisement as well as help measure the effectiveness of an advertising
                                    campaign. They are usually placed by advertising networks with our permission. They remember
                                    that you have visited a website and this information is shared with other organisations
                                    such as advertisers. Quite often targeting or advertising cookies will be linked to site
                                    functionality provided by the other organisation.
                                </p>
                            </td>
                            <td>
                                <p>
                                    These are third party cookies.
                                </p>
                                <p>
                                    Recently_watched_ video id_list and use_hitbox are session cookies.
                                </p>
                                <p>
                                    GAPS lasts for 726 days.
                                </p>
                                <p>
                                    PREF lasts for 3650 days.
                                </p>
                                <p>
                                    VISITOR_INFO1_LIVE lasts for 234 days.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    Id
                                </p>
                                <p>
                                    Mdata
                                </p>
                                <p>
                                    NSC_fo1efm_qppm_ttm
                                </p>
                                <p>
                                    OAX
                                </p>
                                <p>
                                    S_6428361
                                </p>
                                <p>
                                    S_6428362
                                </p>
                                <p>
                                    S_6428363
                                </p>
                                <p>
                                    S_6486626
                                </p>
                                <p>
                                    S-6539291
                                </p>
                                <p>
                                    S_6605144
                                </p>
                            </td>
                            <td>
                                <p>
                                    These cookies are placed by the Media Innovation Group. These cookies are used to deliver adverts more relevant to you and
                                    your interests. They are used to limit the number of times you see an advertisement as
                                    well as help measure the effectiveness of an advertising campaign. They are usually placed
                                    by advertising networks with our permission. They remember that you have visited a website
                                    and this information is shared with other organisations such as advertisers. Quite often
                                    targeting or advertising cookies will be linked to site functionality provided by the
                                    other organisation.
                                </p>
                            </td>
                            <td>
                                <p>
                                    These are third party cookies.
                                </p>
                                <p>
                                    Id, mdata and OAX are persistent cookies that last for 395 days.
                                </p>
                                <p>
                                    NSC_fo1efm_qppm_ttm is a persistent cookie.
                                </p>
                                <p>
                                    All other cookies are session cookies.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    Tradedoubler
                                </p>
                                <p>
                                    Google Ad Services
                                </p>
                                <p>
                                    Doubleclick
                                </p>
                            </td>
                            <td>
                                <p>
                                    These cookies record when you click on certain adverts. They allow us to track how successful our adverts are.
                                </p>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    Remarketing partner cookies
                                </p>
                            </td>
                            <td>
                                <p>
                                    These cookies are placed by our marketing partners. This information is used by the marketing partners to target relevant
                                    adverts to you as you browse the internet.
                                </p>
                            </td>
                            <td>
                                <p>
                                    These are third party cookies.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    sc.UserId
                                </p>
                            </td>
                            <td>
                                <p>
                                    This cookie allows SessionCam to identify when recorded sessions are from the same device, indicating the same user. With
                                    this information, someone using the SessionCam console can quickly see and list all session
                                    recordings from the same user.
                                </p>
                            </td>
                            <td>
                                <p>
                                    1st party permanent cookie, set for 1 year, (used to identify an individual unique user)
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    sc.Status
                                </p>
                            </td>
                            <td>
                                <p>
                                    This cookie ensures best performance of a website that is using SessionCam, it means that the number of calls to SessionCam
                                    can be minimised.
                                </p>
                            </td>
                            <td>
                                <p>
                                    1st party session-expiry cookie
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    sc.ASP_NET_SESSIONID
                                </p>
                            </td>
                            <td>
                                <p>
                                    This cookie allows SessionCam to make sure that all the pages visited by a customer to your website during a session are
                                    placed into a single recording.
                                </p>
                            </td>
                            <td>
                                <p>
                                    1st party session-expiry cookie
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    sc.ASP_NET_SESSIONID
                                </p>
                            </td>
                            <td>
                                <p>
                                    This cookie allows SessionCam to make sure that all the pages visited by a customer to your website during a session are
                                    placed into a single recording - even if that user???s session crosses over multiple
                                    domain names or protocols.
                                </p>
                            </td>
                            <td>
                                <p>
                                    3rd party session-expirycookie
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    SessionCamTestCookie
                                </p>
                            </td>
                            <td>
                                <p>
                                    This cookie is set when SessionCam initialises and is only ever used to ensure we can read and write cookies. Once this cookie
                                    has been set it is deleted immediately and if the cookie fails to set, SessionCam will
                                    not attempt to record.
                                </p>
                            </td>
                            <td>
                                <p>
                                    1st party SessionCam Test cookie deleted after being set.
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- Cookies Compoenent Responsive Table end here-->
            <p>
            </p>
            <!-- Cookies Compoenent Third party cookies paragraph start here-->
            <h3 class="level3">
                Third Party Cookies
            </h3>
            <p>
                We include content from other websites, such as YouTube videos and give you the option to share on social media, such as
                Facebook. We love it when you share information from our website, but when you do, please be aware that additional
                cookies and similar technologies may be placed on your computer, mobile phone or tablet device from these
                other websites. We're not responsible for these so please check the privacy and cookie policies of the social
                media networks you use for full details of what they do. Where we put
                <strong>YouTube
                </strong> videos on our website, we use cookies to capture and analyse visitor information as number of views
                and shares.
            </p>
            <!-- Cookies Compoenent Third party cookies paragraph end here-->

            <!-- Cookies Compoenent sessioncam paragraph start here-->
            <h3 class="level3">
                SessionCam
            </h3>
            <p>
                Our web site may use the SessionCam web site recording service. SessionCam may record mouse clicks, mouse movements, page
                scrolling and any text keyed into website forms. The information collected does not include bank details
                or any sensitive personal data. Data collected by SessionCam is for Morrisons internal use only. The information
                collected is used to improve our website usability and is stored and used for aggregated and statistical
                reporting. To find out more, visit
                <a href="https://sessioncam.com/">SessionCam.com
                </a>
            </p>
            <!-- Cookies Compoenent sessioncam paragraph end here-->

            <!-- Cookies Compoenent how can manage cookies paragraph start here-->
            <h3 class="level3">
                How Can You Manage Cookies?
            </h3>
            <p>
                By continuing to use our websites you are agreeing to our use of cookies. To manage all cookies placed on your computer,
                mobile phone or tablet device through your web browser settings, please consult your browser's guide or visit
                <a href="http://www.allaboutcookies.org/">www.allaboutcookies.org
                </a> or
                <a href="http://www.aboutcookies.org/">www.aboutcookies.org
                </a> for more information. Some browsers are more sophisticated than others in managing these technologies,
                so if you want greater controls, it would be worth comparing a few of them. To manage cookies on your mobile
                phone please refer to your user manual.
            </p>
            <p>
                If you are particularly concerned about third party cookies, you can often opt-out directly (such as Google Analytics, please
                visit
                <a href="https://tools.google.com/dlpage/gaoptout">https://tools.google.com/dlpage/gaoptout
                </a>). Note, these providers may use cookies to power their opt-out service, so if you change your browser
                settings to block all cookies, their opt-out service may cease to work and you may still receive adverts.
            </p>
            <p>
                Our websites are designed to use cookies, so if you choose not to allow cookies you may not be able to access all of the
                features we provide and your shopping experience on our website will be limited.
            </p>
            <!-- Cookies Compoenent how can manage cookies paragraph end here-->

            <!-- Cookies Compoenent Updates to cookie policy paragraph start here-->
            <h3 class="level3">
                Updates To This Cookie Policy
            </h3>
            <p>
                We regularly review the cookies we and our suppliers use to continually improve our services to you. As a result, we will
                need to change this policy from time to time to keep it accurate and up to date. If we change this policy,
                we will tell you. That way you can check to see if you are happy with our new policy and adjust your browser
                settings if you want to before proceeding any further. Please look out for these notices in future when you
                are using our website.
            </p>
            <!-- Cookies Compoenent Updates to cookie policy paragraph end here-->

            <!-- Cookies Compoenent contact us paragraph start here-->
            <h3 class="level3">
                Contact Us
            </h3>
            <p>
                If you want any further information about our approach to cookies and similar technologies, our websites in general or have
                any other privacy questions relating to us, we'd be happy to help you. Our contact details are set out
                <a href="https://groceries.morrisons.com/webshop/getAlternateContactUs.do?ad=502|1070070||&ad=502|1124795||">here
                </a> and our address is: WM Morrison Supermarkets Plc, Hilmore House, Gain Lane, Bradford, BD3 7DL.
            </p>
            <p>
                Thank you for taking the time to visit our website and reading about our use of cookies.
            </p>
            <p>
                Happy and safe browsing
            </p>
            <!-- Cookies Compoenent contact us paragraph end here-->
        </div>
        <div class="back-to-top">
            <a (click)="goToTop()" class="back">Back to Top
            </a>
        </div>
    </div>
    <!-- Cookies Main section end Here-->
</div>