<div id="stickyContainer">
	<div *ngIf="showLoader" class="overlay-load">
		<div class="loader-box-shadow">
			<div class="load-img">
				<img src="{{whoImgUrl}}spinner.svg" class="loader-image" alt="Loader Image" />
				<div>
					<h6>LOADING</h6>
				</div>
			</div>
		</div>
	</div>
	<div class="mmbborder" id="circle-box-border"></div>
	<div class="sticky" id="sticky1">
		<div class="container pad-none">
			<div class="row mobile-marginzero search-order-row btm-bdr" id="search-box-border">
				<div class="col-xs-12 col-sm-5 col-md-4 col-lg-4 desktop-paddzero mobile-paddzero pad-lft-right-15">
					<div class="product-i">
						<img src="{{imgName}}" class="img-responsive product-img pull-left">
						<h3 class="{{style}}">{{customerDispayName}}</h3>
					</div>
				</div>
			</div>
		</div>
</div>
</div>
<div class="container contain-pad">
	<div class="row desktop-marginzero">
		<div class="col-xs-12 desktop-paddzero fix-height">
			<div class="row">
				<h2 class="orders-heading title-font dis-inlineblc padleft-25" id="prouctDetailTitle">PRODUCT DETAILS</h2>
			</div>
			<form role="form" #addproduct="ngForm" name="addproduct" class="" (submit)="addNewProduct(addproduct.value, $event)">
				<div class="row pad-lft-right-15 hidden-lg hidden-md">
					<div class="col-xs-12 col-md-12 col-lg-12 ">
						<div class="error-message-container">
							<div class="categories">
								<div class="alert alert-info text-center error-message">
									<strong>Sorry, Add/Edit functionality is available only on desktop view.
									</strong>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row pad-lft-right-15 hidden-sm hidden-xs">
					<div class="col-xs-12 col-md-12 col-lg-12 " id="addProdErrMsg" style="display:none">
						<div class="error-message-container">
							<div class="categories">
								<div class="alert alert-danger text-center error-message">
									<i class="glyphicon glyphicon-alert">
									</i> &nbsp;&nbsp;{{errorMsgString}}
									<strong>
									</strong>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-md-5 col-lg-5 " id="productDetailImg">
						<img class="img-responsive max-height270" src='{{imageUrl}}'>
					</div>
					<div class="col-xs-12 col-md-7 col-lg-7 product-detail-border" id="productDetailHeader">
						<div class="row">
							<h6 class="product-heading">
								<span class="asterik-color">*</span>Product ID</h6>
							<span id="search-img" class="prod-search-icon disable cursor-pointer" (click)="getSingleProductDetail(productid)">
								<i class="glyphicon glyphicon-search search-icon"></i>
							</span>
							<input autocomplete="off" name="productid" id="productid" class="orders-heading data-row bottom-line font-size-1-7em text-bold textbox-wid-bor paddb0"
							 maxlength="10" placeholder="000000000" required (keypress)="keyPress($event)" [(ngModel)]="productid" (ngModelChange)="eventHandler($event,1)"
							 (keyup.enter)="getSingleProductDetail(productid)">
						</div>
						<div class="row">
							<div class="col-xs-12 pad-left-right">
								<div class="col-xs-6 col-md-6 col-lg-6 border-right pad-left-right data-row">
									<h6 class="product-heading">
										<span class="asterik-color margin-bot">*</span>Product Name</h6>
									<input class="orders-heading avail-text textbox-wid-bor padbot-9" readonly placeholder="Product name here" name="productName"
									 id="productName" ng-maxlength="50" maxlength="50" [(ngModel)]="productName" required>
									</div>
								<div class="col-xs-6 col-md-6 col-lg-6 pad-left-right data-row paddb2">
									<h6 class="pad-left product-heading">
										<span class="asterik-color margin-bot">*</span>Range/ Catalogue Type</h6>
									<span class="up_arrow glyphicon glyphicon-menu-down top fontsize-25"></span>

									<select class="form-control avail-text" id="catalogueType" name="catalogueType" [(ngModel)]="catalogueType" required>
										<option disabled value=''>Please Select</option>
										<option *ngFor="let i of catalogueTypeMaster;" [value]="i.catalogueType">{{i.catalogueType}}</option>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 pad-left-right">
								<div class="col-xs-6 col-md-6 col-lg-6 border-right pad-left-right data-row">
									<h6 class="product-heading">
										<span class="asterik-color margin-bot">*</span>Availability</h6>
									<span class="up_arrow glyphicon glyphicon-menu-down top fontsize-25"></span>
									<select class="form-control avail-text" id="availabilityStatus" name="availabilityStatus" [(ngModel)]="availabilityStatus"
									 required>
										<option disabled value=''>Please Select</option>
										<option *ngFor="let i of availabilityMaster;" [value]="i.availabilityStatus">{{i.availabilityStatus}}</option>
									</select>
								</div>
								<div class="col-xs-6 col-md-6 col-lg-6 pad-left-right data-row">

									<h6 class="product-heading">
										<span class="asterik-color margin-bot">*</span>Workflow</h6>
									<span class="up_arrow glyphicon glyphicon-menu-down top fontsize-25"></span>
									<select class="form-control avail-text" id="workflowStatusName" name="workflowStatusName" [(ngModel)]="workflowStatusName"
									 required>
										<option disabled value=''>Please Select</option>
										<option *ngFor="let i of WorkflowMaster;" [value]="i.workflowStatusName">{{i.workflowStatusName}}</option>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 pad-left-right">
								<div class="col-md-12 col-lg-12 pad-left-right">
									<h6 class="product-heading">
										<span class="asterik-color margin-bot">*</span>Description</h6>
									<textarea id="description" name="description" class="orders-heading avail-text textbox-wid-bor textarea-fixed" placeholder="Type here..."
									 [(ngModel)]="description" maxlength="50" oncopy="return false" oncut="return false" onpaste="return false" required></textarea>
								</div>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
					<div>
						<div class="row">
							<div class="col-md-6 col-sm-6 col-lg-6">
								<h2 class="orders-heading title-font-margin">
									<span class="asterik-color">*</span>Product Identifiers</h2>
							</div>
						</div>
						<div class="table-responsive table-block  ovrflo-inherit">
							<table class=" custom-borderd-table table table-bordered table-striped search-result-table text-nowrap margin-bot td-pad-t-b-0"
							 border='1' id="tbl_prodIdentifiers">
								<thead class="head-color font-size16px">
									<tr>
										<th width="30%">
											<div class="dropup min-wdth130">Name</div>
										</th>
										<th width="30%">Value</th>
										<th width="30%">Start Date</th>
										<th width="10%" *ngIf="allowWrite">Delete</th>
									</tr>
								</thead>
								<tbody id="identifierBody">
									<tr *ngFor="let map of mapTypesMasterDisplay;let i=index">
										<td>
											<div class="orders-heading avail-text">
												{{map.mapName}}
											</div>
										</td>
										<td>
											<input class="ht33 orders-heading avail-text textbox-wid-bor" id="{{map.id}}" name="{{map.id}}" value="{{map.value}}" maxlength="15"
											 oncopy="return false" oncut="return false" onpaste="return false" (keypress)="keyPress($event)">
										</td>
										<td (click)="openCalender(map.date_id)">
											<div class="input-group calendar-input-grp avail-text textbox-wid-bor ">
												<input placeholder="DD/MM/YYYY" id="{{map.date_id}}" name="{{map.date_id}}" readonly class="form-control selectdate bg-transparent">
												<span class="input-group-addon calendar-addon bg-transparent">
													<i class="glyphicon glyphicon-calendar cust-calender"></i>
												</span>
											</div>
										</td>
										<td *ngIf="allowWrite">
										</td>
									</tr>
								</tbody>
							</table>
							<div id="prodAttrAddRow" class="col-md-6 col-sm-6 col-lg-6 pad-left-right pull-right">
								<div class="input-group pos" [class.hidden] = "!allowAddCatalogueAttribute">
									<div class="dis-inlineblc padleft-5 cusrsorPointer" (click)="addProdMapNewRow()">
										<span class="glyphicon glyphicon-plus-sign save-glyp"></span>
										<span class="save-text">Add Row</span>
									</div>
								</div>
							</div>

						</div>
					</div>
					<div class="clearfix"></div>
					<div>
						<div class="row">
							<div class="col-md-6 col-sm-6 col-lg-6">
								<h2 class="orders-heading title-font-margin">Product Pricing</h2>
							</div>
						</div>
						<div class="table-responsive table-block  ovrflo-inherit">
							<table class=" custom-borderd-table table table-bordered table-striped search-result-table text-nowrap margin-bot td-pad-t-b-0"
							 border='1'>
								<thead class="head-color font-size16px">
									<tr>
										<th width="20%">
											<div class="dropup min-wdth130">Name</div>
										</th>
										<th width="20%">
											<div class="dropup min-wdth130">Currency</div>
										</th>
										<th width="20%">Value</th>
										<th width="30%">Start Date</th>
										<th width="10%" *ngIf="allowWrite">Delete</th>
									</tr>
								</thead>
								<tbody id="pricingBody">
									<tr *ngFor="let price of financialTypesMasterDisplay;let i=index">
										<td>
											<div class="orders-heading avail-text">{{price.financialType}}</div>
										</td>
										<td>
											<div class="col-xs-12 col-md-12 col-lg-12 pad-left-right">
												<span class="up_arrow glyphicon glyphicon-menu-down top fontsize-25 top3 rt5px"></span>
												<select class="bg-none ht33 orders-heading avail-text textbox-wid-bor" id="{{price.currency_id}}" name="{{price.currency_id}}"
												 value="price.currency_value">
													<option value="">Please Select</option>
													<option *ngFor="let i of financialCurrencies;" [value]="i.financialCurrency">{{i.financialCurrency}}</option>
												</select>
											</div>
										</td>
										<td>
											<input class="ht33 orders-heading avail-text textbox-wid-bor" id="{{price.id}}" name="{{price.id}}" value="{{price.value}}"
											 maxlength="15" oncopy="return false" oncut="return false" onpaste="return false" (keyup)="keyPressNumericWithDecimalRestrict($event, price.value, price.id)">
										</td>
										<td (click)="openCalender(price.date_id)">
											<div class="input-group calendar-input-grp avail-text textbox-wid-bor ">
												<input placeholder="DD/MM/YYYY" id="{{price.date_id}}" name="{{price.date_id}}" readonly class="form-control selectdate bg-transparent">
												<span class="input-group-addon calendar-addon bg-transparent">
													<i class="glyphicon glyphicon-calendar cust-calender"></i>
												</span>
											</div>
										</td>
										<td *ngIf="allowWrite">
										</td>
									</tr>
								</tbody>
							</table>
							<div id="prodMapAddRow" class="col-md-6 col-sm-6 col-lg-6 pad-left-right pull-right">
								<div class="input-group pos" [class.hidden] = "!allowAddCatalogueAttribute">
									<div class="dis-inlineblc padleft-5 cusrsorPointer" (click)="addProdPriceNewRow()">
										<span class="glyphicon glyphicon-plus-sign save-glyp"></span>
										<span class="save-text">Add Row</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div>
						<div class="row item-atr-margin">
							<div class="col-md-4 col-lg-4 col-xs-12">
								<h2 class="orders-heading title-font-pos">Product Attributes</h2>
							</div>
						</div>
						<div class="table-responsive table-block clearfix  ovrflo-inherit">
							<table class=" custom-borderd-table table table-bordered table-striped search-result-table text-nowrap margin-bot td-pad-t-b-0"
							 border='1'>
								<thead class="head-color font-size16px">
									<tr>
										<th width="30%">
											<div class="dropup min-wdth130">Name</div>
										</th>
										<th width="30%">Value</th>
										<th width="30%">Start Date</th>
										<th width="10%" *ngIf="allowWrite">Delete</th>
									</tr>
								</thead>
								<tbody id="attributeBody">
									<tr *ngFor="let lookup of lookupTypesMasterDisplay;let i=index">
										<td>
											<div class="orders-heading avail-text">{{lookup.lookupName}}</div>
										</td>
										<td>
											<input class="ht33 orders-heading avail-text textbox-wid-bor" id="{{lookup.id}}" name="{{lookup.id}}" value="{{lookup.value}}"
											 maxlength="15" oncopy="return false" oncut="return false" onpaste="return false" (keypress)="keyPressWithSpace($event)">
										</td>
										<td (click)="openCalender(lookup.date_id)">
											<div class="input-group calendar-input-grp avail-text textbox-wid-bor ">
												<input placeholder="DD/MM/YYYY" id="{{lookup.date_id}}" name="{{lookup.date_id}}" readonly class="form-control selectdate bg-transparent">
												<span class="input-group-addon calendar-addon bg-transparent">
													<i class="glyphicon glyphicon-calendar cust-calender"></i>
												</span>
											</div>
										</td>
										<td *ngIf="allowWrite">
										</td>
									</tr>
								</tbody>
							</table>
							<div id="prodPriAddRow" class="col-md-6 col-sm-6 col-lg-6 pad-left-right pull-right">
								<div class="input-group pos" [class.hidden] = "!allowAddCatalogueAttribute">
									<div class="dis-inlineblc padleft-5 cusrsorPointer" (click)="addProdLookupNewRow()">
										<span class="glyphicon glyphicon-plus-sign save-glyp"></span>
										<span class="save-text">Add Row</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="input-group pos col-md-12 col-sm-12 col-lg-12">
						<div class="save-btn-pad col-md-6 col-sm-6 col-lg-6">
							<button class="prdt-save-btn" type="submit" [disabled]="productName == ''" [ngClass]="(productName == '')?'disable':''">
							Save</button>
							<div class="modal fade custom-model zindex999999" id="addConfirmationModal" role="dialog">
								<div class="modal-dialog width-455">
										<div class="modal-content mdl-content">
										<div class="">
											<button type="button" class="close table-close top16" (click)="refresh()">Close &#10006;</button>
										</div>
										<div class="modal-body ">
											<img class="img-responsive tick" src="{{whoImgUrl}}tick.png">
											<h4 class="prdct-succs">Product successfully added to catalogue</h4>
											<div class="btn-pad">
											<a (click)="refresh()" class="back-cat">Add more item</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="modal fade custom-model zindex999999" id="calenderModal" role="dialog">
								<div class="modal-dialog width-455">
									<div class="modal-content mdl-content">
										<div class="">
											<button type="button" class="close table-close top16" data-dismiss="modal" aria-hidden="true" (click)="closeDateModelBox()">Close &#10006;</button>
										</div>
										<div class="modal-body text-center">
											<p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" [inline]=true [showIcon]="true" [minDate]="minDate"
											 [(ngModel)]="calDefaultDate" name="aa" id="aa" dateFormat="dd/mm/yy" hourFormat="24" class="brdr-0 textbox-wid-bor avail-text"
											 (onSelect)='CalOnDateSelection($event)' [defaultDate]="calDefaultDate"> </p-calendar>
										</div>
										<div class="padd-top16">
											<button type="button" data-dismiss="modal" aria-hidden="true" (click)="clearDateModelBox()">Clear &#10006;</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="save-btn-pad col-md-6 col-sm-6 col-lg-6">
							<button class="prdt-save-btn" type="button" (click)="closeTab()"> Cancel</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal fade custom-model zindex9999991" id="popup_SessionExpired" role="dialog">
        <div class="modal-dialog top75 width314">
            <div class="modal-content">
                <div class="border-top-bottom-popup">
                    <h5 class="padd-left-right-10">Session terminated  <button type="button" id="close-popup" class="close close-icon" data-dismiss="modal" (click)="closePopup()">&#10006;</button>
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="new-batch-num-popup">
                        <span>Session has been terminated - please log in again.</span>
                    </div>
                </div>
                <div class="modal-footer border-top-grey-1">
                    <div class="text-right">
                        <button class="btn btn-default npr-popup-btn" type="button" (click)="closePopup()">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>