<!-- breadcrumb start -->
<div class="mvp_bradcrumb">
  <div class="container">
    <div class="col-xs-12 breadcrumb product-breadcrumb">
      <a [routerLink]="['/customerselection']">
        <span class="bradcrumb-text">Home</span>
      </a>/
      <a [routerLink]="['/cataloguemanagement', customerName]">
        <span class="bradcrumb-text">Catalogue Management</span>
      </a>/
      <span class="bradcrumb-text bold">{{pageTitle}}</span>
    </div>
  </div>
</div>
<!-- breadcrumb end -->

<div class="mmbborder" id="circle-box-border"></div>

<!-- header with navigation start -->
<catalogue-management-pending-request-header></catalogue-management-pending-request-header>
<!-- header with navigation end -->

<div class="hidden-xs padd-btm-50 padd-top-10 bgcolor-grey">
  <div class="hidden-xs container bgcolor-white border-top-bottom" *ngIf="!siteMaintanceFlg">
    <div class="row desktop-marginzero">
      <!-- heading start -->
      <div class="col-xs-12 desktop-paddzero fix-height">
        <div class="row">
          <div class="col-xs-12">
            <h4 class="orders-heading">{{pageTitle}}</h4>
          </div>
        </div>
        <hr class="hr-repricing margin-bottom-10">
      </div>
      <!-- heading end -->

      <div class="row">
        <!-- upload section start -->
        <div class="col-xs-12">
          <form id="fullRangeUploadFrm">
            <ng2-file-input [id]="myFileInputIdentifier" (onAdded)="onAdded($event)" [multiple]=false [show-previews]=true [removable]=true
              (onRemoved)="onRemoved($event)" [drop-text]="'Drag and drop to upload or'" [browse-text]="'browse for files'"></ng2-file-input>
            <div class="text-center margin-bottom-10">
              <button type="button" (click)="upload(uploadedFileName)" class="btn btn-default green-btn">Submit</button>
            </div>
          </form>
        </div>
        <!-- upload section end -->

        <!-- range file upload message popup start -->
        <div class="modal fade custom-model opacity_1 out" role="dialog" [hidden]="rangeFileUploadMsgBox" id="rangeFileUploadBox">
          <div class="modal-dialog top75 width350">
            <div class="modal-content">
              <div class="border-top-bottom-popup">
                <h5 class="padding-lftrgt-10">{{msgTitle}}
                  <button class="close close-icon" id="close-popup" (click)="resetOnClose(fileuploadStatus)" type="button">✖</button>
                </h5>
              </div>
              <div class="modal-body">
                <div class="row margin-zero">
                  <div class="col-xs-12 new-batch-num-popup">
                    <span>{{popupMessage}}</span>
                  </div>
                  <div class="col-xs-12 text-right">
                    <button type="button" (click)="redirect_toList(fileuploadStatus)" class="btn btn-default green-btn margin-bottom-10">Ok</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- range file upload message popup end -->
      </div>
    </div>
  </div>

  <!-- loader section start -->
  <div *ngIf="showLoader" class="overlay-load">
    <div class="loader-box-shadow">
        <div class="load-img">
            <img src="{{whoImgUrl}}spinner.svg" class="loader-image" alt="Loader Image" />
            <div>
                <h6>LOADING</h6>
            </div>
        </div>
    </div>
  </div>
  <!-- loader section end -->

  <!--site maintenance start-->
  <div class="row" *ngIf="siteMaintanceFlg">
    <div class="col-xs-12 col-sm-12 col-md-12 maintenance-background">
      <div class="heading-text">
        <h3 class="semi-bold text-center hidden-xs">SITE MAINTENANCE</h3>
      </div>
      <div class="maintenance-box login-box bold text-center">
        {{siteMSg}}
      </div>
    </div>
  </div>
  <!--site maintenance end-->

  <!--session termination start-->
  <div class="modal fade custom-model opacity_1" id="popup_SessionExpired" role="dialog">
    <div class="modal-dialog top75 width350">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="border-top-bottom-popup">
          <h5 class="padd-left-right-10">Session terminated
            <button type="button" id="close-popup" class="close close-icon" data-dismiss="modal" (click)="closePopup('popup_SessionExpired')">&#10006;</button>
          </h5>
        </div>
        <div class="modal-body">
          <div class="new-batch-num-popup">
            <span>Session has been terminated - please log in again.</span>
          </div>
        </div>
        <div class="modal-footer">
          <div class="text-right">
            <button class="btn btn-default npr-popup-btn" type="button" (click)="closePopup('popup_SessionExpired')">OK</button>
          </div>
        </div>
      </div>
      <!-- Modal Content End -->
    </div>
  </div>
  <!-- session termination end -->
</div>