<div id="stickyContainer">
    <div class="mmbborder" id="circle-box-border"></div>

    <div class="sticky" id="sticky1">
        <div class="container">
            <div class="row mobile-marginzero search-order-row searchborder btm-bdr" id="search-box-border">
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 desktop-paddzero mobile-paddzero">
                    <div class="product-i">
                        <img src="{{imgName}}" class="img-responsive product-img-45 pull-left">
                        <h3 class="margin-zero product-title-top-0 font-bold font-size21 customerlogoForStore">{{customerName}}</h3>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 pull-right text-right edit-section"></div>
            </div>
        </div>
        <div class="container">
            <div class="row desktop-marginzero" [hidden]="hideOrganisation">
                <div class="advanced-search-page text-center">
                    <ul class="product-circle">
                        <li *ngFor="let organisation of organisationListChange;let i=index" [class.hidden]="organisation.customerName=='All_Wholesale_Customers'"
                            (click)="changeOrgType('/orders', organisation.customerName); navIcons.reloadNavigation(organisation.orgType);">
                            <a><img src="{{whoImgUrl}}{{getCustomerImage(organisation.customerName)}}" class="img-responsive"
                                    alt="{{organisation.customerName}}" /></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container store-details-container">
    <div class="row desktop-marginzero">
        <div class="col-xs-12 desktop-paddzero fix-height">
            <div class="col-xs-6">
                <h4 class="orders-heading">Store Details</h4>
            </div>
            <div class="col-xs-6">
                <p class="search-criteria-text padd-tb6">
                    <sup>*</sup> Mandatory field
                </p>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-12 padding-zero ">
            <form role="form" #addstore="ngForm" name="addstore" class="" (submit)="addStoreInfo(addstore.value)">               
            <div class="row margin-zero store-details-section grey-background">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-md-4 search-section xspadding">
                            <span class="bold">Store ID Prefix <sup>*</sup>  </span> {{storePrefixfornewStore}}

                        </div>
                        <div class="col-md-4 search-section xspadding form-group">
                            <label for="storeNameId" class="bold">Store Name <sup>*</sup>  </label>
                            <input type="text" id="storeNameId" name="storeName" class="form-control"
                             [(ngModel)]='storeInfo.storeName' placeholder="Bradford Store" 
                                (change)="onChange4UnsavedChanges('storeName')" ng-maxlength="100" maxlength="100" (focusout)="_cfunction.validateInputText($event, 0, 'errStoreName', 'Store Name')">
                            <span id="errStoreName"></span>
                        </div>

                        <div class="col-md-4 search-section xspadding ">
                            <span class="bold">Created Date :</span> {{this.createdDate}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 search-section xspadding" *ngIf="customerName.toLowerCase() != 'amazon'">
                            <span class="bold">Store ID <sup>*</sup> </span>
                            <input type="text" id="storeID" name="storeId" class="form-control storeID" [(ngModel)]='storeInfo.storeId' placeholder="1234 "  
                                ng-maxlength="4" maxlength="4" ng-minlength="1" minlength="1" (change)="onChange4UnsavedChanges('storeId')"
                                (focusout)="_cfunction.validateInputText($event, 9, 'errstoreID', 'Store ID'); getStoreId(storeInfo.storeId)">
                            <span id="errstoreID"></span>
                        </div>
                        <div class="col-md-4 search-section xspadding" *ngIf="customerName.toLowerCase() == 'amazon'">
                            <span class="bold">Store ID <sup>*</sup> </span>
                            <input type="text" id="storeID" name="storeId" class="form-control storeID" [(ngModel)]='storeInfo.storeId' placeholder="1234" 
                                ng-maxlength="3" maxlength="3" ng-minlength="1" minlength="1" (change)="onChange4UnsavedChanges('storeId')"
                                (focusout)="_cfunction.validateInputText($event, 9, 'errstoreID', 'Store ID'); getStoreId(storeInfo.storeId)">
                            <span id="errstoreID"></span>
                        </div>
                        <div class="col-md-4 search-section xspadding form-group">
                            <label for="tradingNameId" class="bold">Trading Name <sup>*</sup> </label>
                            <input type="text" id="tradingNameId" name="tradingName" class="form-control" [(ngModel)]='storeInfo.tradingName' placeholder="Trading Name" 
                                ng-maxlength="100" maxlength="100" (change)="onChange4UnsavedChanges('tradingName'); showHideMarketPlace(this)" (focusout)="_cfunction.validateInputText($event, 0, 'errtradingName', 'Trading Name')">
                            <span id="errtradingName"></span>
                        </div>
                        <!-- <div class="col-md-4 search-section xspadding">

                        </div> -->
                        <div *ngIf="makeEffectivePermission" class="col-md-4 search-section xspadding form-group">
                            <label class="bold">Make effective immediately? </label>
                            <span class="greenSqrIconToggle mar-left-3">
                                <input id="effectiveImmediatelyId" name="radiowarehouse" type="checkbox"  [disabled]="savedisable" [(ngModel)]="makeEffectiveToday" (click)="changeImmediately()">
                                <label class="vtop" for="effectiveImmediatelyId"></label>
                            </span>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-4 search-section xspadding form-group dropdown-box">
                            <label for="availabilityStatus" class="bold">Availability <sup>*</sup>  </label>
                            <div>
                                <span class="up_arrow glyphicon glyphicon-menu-down dropdown-icon availabilityStatusuparrow" id="availabilityStatusuparrow"></span>
                                <select class="form-control dropdown-select availabilityStatus" id="availability" name="availability" [(ngModel)]="storeInfo.availability" 
                                    (change)="onChange4UnsavedChanges('availability')">
                                   <option value="" selected>Select</option>
                                    <option *ngFor="let i of availabilityMaster" [value]="i" >{{i}}</option>  
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 search-section xspadding form-group">
                            <span class="bold">Description   </span> {{storeInfo.storeId}}:{{storeInfo.tradingName}} {{storeInfo.storeName}}
                            <span id="errStoreName"></span>
                        </div>
                        <div class="col-md-4" *ngIf="!isAmazonCatelogType">
                        </div>
                        <div class="col-md-4 search-section xspadding" *ngIf="isAmazonCatelogType">
                                <span class="bold">MerchantId  <sup>*</sup> </span>
                                <input type="text" id="merchantId" name="merchantId" class="form-control " [(ngModel)]='merchantId' placeholder="eg: 1000" 
                                    ng-maxlength="50" maxlength="50" ng-minlength="1" minlength="1">
                                   
                                <span id="errormerchantId"></span>
                            </div>
                           <div class="col-md-4 search-section-for-threshold xspadding" *ngIf="tradingNameforPick">
                                <span class="bold">Minimum Expected Inventory <sup>*</sup></span>
                                <div>
                                <!-- <input type="text" id="minimumExpetedInventory" name="minimumExpetedInventory" class="form-control-inventory " [(ngModel)]='minimumExpetedInventory' placeholder="   eg: 1000" 
                                    ng-maxlength="50" maxlength="50" ng-minlength="1" minlength="1"> -->
                                <input type="text" id="minimumExpetedInventory" name="minimumExpetedInventory" class="form-control minimumExpetedInventory" [(ngModel)]='minimumExpetedInventory' placeholder="1000" 
                                    ng-maxlength="10" maxlength="10" ng-minlength="1" minlength="1" (change)="onChange4UnsavedChanges('minimumExpetedInventory')"
                                    (focusout)="_cfunction.validateInputText($event, 9, 'errminimumExpetedInventory', 'Minimum Expeted Inventory'); getStoreId(storeInfo.minimumExpetedInventory)">
                                </div>  
                                <span id="errorminimumExpetedInventory"></span>
                            </div>   
                           
                    </div>
                </div>
            </div>
            <div class="row bgcolor-white margin-zero" id="repricingContainer">
                <div id="exTab2" class="margin-top10 exTab2">
                    <ul class="nav nav-tabs nav-tabs-top-border">
                        <li class="active" id="maindetailshead">
                            <a href="#maindetails" data-toggle="tab">
                                Main Details
                                <sup class="padd-left5">
                               
                                </sup>
                            </a>
                        </li>
                        <ng-container>
                        <li id="addresshead">
                            <a href="#ADDRESSDIV" data-toggle="tab">
                                Address
                                <sup class="padd-left5">
                               
                                </sup>
                            </a>
                        </li>
                           
                    </ng-container>
                        
                        <ng-container *ngIf = "!tradingNameforPick">                 
                        <li id="Supplyinghead">
                            <a href="#SupplyingDepot" data-toggle="tab">
                                Supplying Depot
                                <sup class="padd-left5">
                                 
                                </sup>
                            </a>
                        </li>
                   
                        <li id="Deliveryhead">
                            <a href="#DELIVERYOPPORTUNITIES" data-toggle="tab">
                                Delivery Opportunities
                                <sup class="padd-left5">
                                  
                                </sup>
                            </a>
                         </li>
                        </ng-container>
                        <ng-container *ngIf = "tradingNameforPick">                          
                       
                        <li id="Marketplaceshead">
                            <a href="#Marketplaces" data-toggle="tab">
                                Marketplaces
                                <sup class="padd-left5">
                                  
                                </sup>
                            </a>
                        </li>
                       
                    </ng-container> 
                    
                    </ul>

                    <div class="tab-content grey-background">
                        <div class="tab-pane active" id="maindetails">
                            <div class="table-responsive table-block margintop20 max-height350 pos-inherit maindetails-tab-section">
                                <div class="row margin-zero">
                                    <div class="row margin-top10">
                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 search-section xspadding form-group">
                                            <label for="areaCodeId" class="bold">Area Code  </label>
                                            <div class="input-group store-input-group" id="areaCodeGrpId">
                                                <input type="text" id="areaCodeId" name="storeAreaCode" class="form-control" [(ngModel)]='storeInfo.areaCode' (change)="onChange4UnsavedChanges('areaCode')"
                                                    placeholder="AB" ng-maxlength="100" maxlength="100" ng-minlength="1" minlength="1"
                                                    (focusout)="validateInputText($event, 12, 'areaCodeMessage','areaCodeGrpId', 'Area Code',false)">
                                                <span class="input-group-addon" id="areaCodeMsgId" [tooltip]="areaCodeTooltip" tooltipPlacement="top">
                                                <span class="info-icon">
                                                    <img src="{{whoImgUrl}}information.svg" class="info-img" alt="Info Image" />
                                                </span>
                                                <tooltip-content #areaCodeTooltip>
                                                    <span id="areaCodeMessage">Area Code is optional</span>
                                                </tooltip-content>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 search-section xspadding form-group" *ngIf="!isAmazonCatelogType">
                                            <label for="regionCodeId" class="bold">Region Code </label>
                                            <div class="input-group store-input-group" id="regionCodeGrpId">
                                                <input type="text" id="regionCodeId" name="storeregionCode" class="form-control" (change)="onChange4UnsavedChanges('regionCode')"
                                                    [(ngModel)]='storeInfo.regionCode' placeholder=" AB or 12 or AB12" ng-minlength="1"
                                                    minlength="1" ng-maxlength="100" maxlength="100" (focusout)="validateInputText($event, 12, 'regionCodeMessage','regionCodeGrpId', 'Region Code', false)">
                                                <span *ngIf="!_cfunction.isInvalid" class="input-group-addon" id="errregionCode" [tooltip]="regionCodeTooltip" tooltipPlacement="top">
                                                <span class="info-icon">
                                                    <img src="{{whoImgUrl}}information.svg" class="info-img" alt="Info Image" />
                                                </span>
                                                <tooltip-content #regionCodeTooltip>
                                                    <span id="regionCodeMessage">Region Code is optional</span>
                                                </tooltip-content>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 search-section xspadding form-group" *ngIf="isAmazonCatelogType">
                                                <label for="regionCodeId" class="bold">Region Code  <sup>*</sup></label>
                                                <div class="input-group store-input-group" id="regionCodeGrpId">
                                                    <span class="up_arrow glyphicon glyphicon-menu-down dropdown-icon region_up_arrow"></span>
                                                    <select class="form-control dropdown-select storeRegionP" id="storeRegionP" name="storeRegionP" [(ngModel)]="storeInfo.regionCode"
                                                        (focusout)="validateInputText($event, 13, 'regionCodeMessage','regionCodeGrpId', 'Region Code')"
                                                        (change)="onChange4UnsavedChanges('regionCode');">
                                                    <option value="" selected>Select</option>
                                                    <option *ngFor="let i of amazonRegionCodesData" [value]="i.catalogueCode" >{{i.catalogueCode}}</option>
                                                </select>
                                                    <span class="input-group-addon errregionCode" id="errregionCode" [tooltip]="regionCodeTooltips" tooltipPlacement="top">
                                                   <tooltip-content #regionCodeTooltips>
                                                        <span id="regionCodeMessage">{{showInfoErrorMsg('Region Code')}}</span>
                                                    </tooltip-content>
                                                    </span>
                                                </div>
                                            </div>

                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 search-section xspadding form-group dropdown-box" *ngIf="customerName.toLowerCase() != 'amazon'">
                                            <div class="bold">Allocation Priority <sup>*</sup></div>
                                            <div class="input-group store-input-group" id="allocationPriorityId">
                                                <span class="up_arrow glyphicon glyphicon-menu-down dropdown-icon allocation_up_arrow"></span>
                                                <select class="form-control dropdown-select storeAllocationP" id="storeAllocationP" name="storeAllocationP" [(ngModel)]="storeInfo.allocationPriority" 
                                                    (focusout)="validateInputText($event, 10, 'allocationPriorityMessage','allocationPriorityId', 'Allocation Priority')"
                                                    (change)="onChange4UnsavedChanges('allocationPriority');">
												<option value="" selected>Select</option>
												<option *ngFor="let i of allocationPriority" [value]="i.allocationPriorityCode" >{{i.allocationPriorityCode}}</option>
											</select>
                                                <span class="input-group-addon errregionCode" id="errregionCode" [tooltip]="allocationPriorityTooltip" tooltipPlacement="top">
                                               <tooltip-content #allocationPriorityTooltip>
                                                    <span id="allocationPriorityMessage">{{showInfoErrorMsg('Allocation Priority')}}</span>
                                                </tooltip-content>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 search-section xspadding form-group dropdown-box" *ngIf="customerName.toLowerCase() == 'amazon'">

                                        </div>
                                    </div>
                                    <div class="row margin-zero">
                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 search-section xspadding form-group">
                                            <label for="areaManagerID" class="bold">Area Manager  </label>
                                            <div class="input-group store-input-group" id="areaManagerGrpId">
                                                <input type="text" id="areaManagerID" name="storeAreaManager" class="form-control" [(ngModel)]='storeInfo.areaManager' placeholder="e.g: John Doe" 
                                                    ng-maxlength="100" maxlength="100" ng-minlength="1" minlength="1" (change)="onChange4UnsavedChanges('areaManager'); "
                                                    (focusout)="validateInputText($event, 12, 'areaManagerMessage','areaManagerGrpId', 'Area Manager',false)">
                                                <span class="input-group-addon" id="errAreaManager" [tooltip]="areaManagerTooltip" tooltipPlacement="top">
                                                <span class="info-icon">
                                                    <img src="{{whoImgUrl}}information.svg" class="info-img" alt="Info Image" />
                                                </span>
                                                <tooltip-content #areaManagerTooltip>
                                                    <span id="areaManagerMessage">Area Manager is optional</span>
                                                </tooltip-content>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 search-section xspadding form-group">
                                            <label for="regionManagerId" class="bold">Region Manager</label>
                                            <div class="input-group store-input-group" id="regionManagerGrpId">
                                                <input type="text" id="regionManagerId" name="storeregionManager" class="form-control" [(ngModel)]='storeInfo.regionManager' 
                                                    placeholder="e.g: Jane Doe" ng-maxlength="100" maxlength="100" ng-minlength="1"
                                                    minlength="1" (change)="onChange4UnsavedChanges('regionManager')" (focusout)="validateInputText($event, 12, 'regionManagerMessage','regionManagerGrpId', 'Region Manager',false)">
                                                <span class="input-group-addon" id="errregionManager" [tooltip]="regionManagerTooltip" tooltipPlacement="top">
                                                <span class="info-icon">
                                                    <img src="{{whoImgUrl}}information.svg" class="info-img" alt="Info Image" />
                                                </span>
                                                <tooltip-content #regionManagerTooltip>
                                                    <span id="regionManagerMessage">Region Manager is optional</span>
                                                </tooltip-content>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 search-section xspadding form-group dropdown-box">

                                            <div>
                                                <label for="statusId" class="bold">Status <sup>*</sup> </label>
                                                <span class="up_arrow glyphicon glyphicon-menu-down dropdown-icon status_up_arrow"></span>
                                                <div id="statusGrpId">
                                                    <select class="form-control dropdown-select" id="statusId" name="statusId" [(ngModel)]="storeInfo.status" (change)="onChange4UnsavedChanges('status')" 
                                                        (focusout)="validateInputText($event, 5, 'statusMessage','statusGrpId', 'Status')">
                                                        <option value="" selected>Select</option>
                                                        <option *ngFor="let i of statusmaster" [value]="i">{{i}}</option>
                                                    </select>
                                                </div>
                                                <span id="errstatus" [tooltip]="statusTooltip" tooltipPlacement="top">
                                                
                                                <tooltip-content #statusTooltip>
                                                    <span id="statusMessage">{{showInfoErrorMsg('Status')}}</span>
                                                </tooltip-content>
                                                </span>
                                            </div>


                                            <!-- <div>
                                                <label for="statusId" class="bold">Status <sup>*</sup> </label>
                                                <span class="up_arrow glyphicon glyphicon-menu-down dropdown-icon status_up_arrow"></span>

                                                <select class="form-control dropdown-select" id="statusId" name="statusId" [(ngModel)]="storeInfo.status" (change)="onChange4UnsavedChanges('status')">
                                                <option value="" selected>rollout</option>
                                                  <!--  <option *ngFor="let i of status" [value]="i" >{{i}}</option>  
                                                </select>
                                            </div>-->
                                            <!--<div class="input-group store-input-group" id="statusGrpId">
                                                <input type="text" id="statusId" name="storeStatus" class="form-control" [(ngModel)]='storeInfo.status' placeholder="e.g: rollout"
                                                    ng-maxlength="100" maxlength="100" ng-minlength="1" minlength="1" (change)="onChange4UnsavedChanges('status')"
                                                    (focusout)="validateInputText($event, 5, 'statusMessage','statusGrpId', 'Status')">
                                                <span class="input-group-addon" id="errstatus" [tooltip]="statusTooltip" tooltipPlacement="top">
                                                <span class="info-icon">
                                                    <img src="{{whoImgUrl}}information.svg" class="info-img" alt="Info Image" />
                                                </span>
                                                <tooltip-content #statusTooltip>
                                                    <span id="statusMessage">{{showInfoErrorMsg('Status')}}</span>
                                                </tooltip-content>
                                                </span>
                                            </div>-->
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="tab-pane" id="ADDRESSDIV">
                            <div class="table-responsive table-block margintop20 pos-inherit address-tab-section">
                                <div class="row margin-zero">
                                    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-9 padding-right-zero search-section xspadding form-group addr-box">
                                        <label for="addressLine1" class="bold">Address Name</label>
                                        <span>{{storeInfo.storeName}}</span>
                                        <!-- <div class="input-group store-input-group" id="addrnameGrpId">
                                            <input type="text" id="addressLine1" name="storeAddressLine1" class="form-control" [(ngModel)]='storeInfo.storeName' placeholder="CREWE UNDERWOOD LANE"
                                                (change)="onChange4UnsavedChanges('addressLine1')" ng-maxlength="100" maxlength="100"
                                                ng-minlength="1" minlength="1" (focusout)="validateInputText($event, 12, 'addrMessage','addrnameGrpId', 'Address Name',true)">
                                            <span class="input-group-addon" id="errAddress1" [tooltip]="addrnameTooltip" tooltipPlacement="top">
                                                <span class="info-icon">
                                                    <img src="{{whoImgUrl}}information.svg" class="info-img" alt="Info Image" />
                                                </span>
                                            <tooltip-content #addrnameTooltip>
                                                <span id="addrMessage">Address Name is Required</span>
                                            </tooltip-content>
                                            </span>
                                        </div>-->


                                    </div>
                                </div>
                                <div class="row margin-zero addr-box">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 search-section xspadding form-group">
                                        <label for="addressLine1" class="bold">Address Line 1</label>
                                        <div class="input-group store-input-group" id="addrLine1GrpId">
                                            <input type="text" id="addressLine1" name="storeAddressLine1" class="form-control" [(ngModel)]='storeInfo.addressLine1' placeholder="CREWE UNDERWOOD LANE" 
                                                (change)="onChange4UnsavedChanges('addressLine1')" ng-maxlength="100" maxlength="100"
                                                ng-minlength="1" minlength="1" (focusout)="validateInputText($event, 12, 'addrLine1Message','addrLine1GrpId', 'Address Line 1',false)">
                                            <span class="input-group-addon" id="errAddress1" [tooltip]="addrLine1Tooltip" tooltipPlacement="top">
                                                <span class="info-icon">
                                                    <img src="{{whoImgUrl}}information.svg" class="info-img" alt="Info Image" />
                                                </span>
                                            <tooltip-content #addrLine1Tooltip>
                                                <span id="addrLine1Message">Address Line 1 is optional</span>
                                            </tooltip-content>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 search-section xspadding form-group">
                                        <label for="addressLine2" class="bold">Address Line 2</label>
                                        <div class="input-group store-input-group" id="addrLine2GrpId">
                                            <input type="text" id="addressLine2" name="storeAddressLine2" class="form-control" [(ngModel)]='storeInfo.addressLine2' placeholder="e.g: 257/259 UNDERWOOD LANE" 
                                                (change)="onChange4UnsavedChanges('addressLine2')" ng-maxlength="100" maxlength="100"
                                                ng-minlength="1" minlength="1" (focusout)="validateInputText($event, 12, 'addrLine2Message','addrLine2GrpId', 'Address Line 2',false)">
                                            <span class="input-group-addon" id="errAddress2" [tooltip]="addrLine2Tooltip" tooltipPlacement="top">
                                                <span class="info-icon">
                                                    <img src="{{whoImgUrl}}information.svg" class="info-img" alt="Info Image" />
                                                </span>
                                            <tooltip-content #addrLine2Tooltip>
                                                <span id="addrLine2Message">Address Line 2 is optional</span>
                                            </tooltip-content>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row margin-zero addr-city-section">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group padding-left-zero">
                                        <div class="row margin-zero">
                                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                                <label for="cityId" class="bold">City</label>
                                                <div class="input-group store-input-group" id="cityGrpId">
                                                    <input type="text" id="cityId" name="storeCity" class="form-control" [(ngModel)]='storeInfo.addressCity' placeholder="e.g: CREWE" 
                                                        (change)="onChange4UnsavedChanges('addressCity')" ng-maxlength="100"
                                                        ng-minlength="1" minlength="1" maxlength="100" (focusout)="validateInputText($event, 12, 'cityMessage','cityGrpId', 'City',false)">
                                                    <span class="input-group-addon" id="errCity" [tooltip]="cityTooltip" tooltipPlacement="top">
                                                        <span class="info-icon">
                                                            <img src="{{whoImgUrl}}information.svg" class="info-img" alt="Info Image" />
                                                        </span>
                                                    <tooltip-content #cityTooltip>
                                                        <span id="cityMessage">City is optional</span>
                                                    </tooltip-content>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                                <label for="countyId" class="bold">County</label>
                                                <div class="input-group store-input-group" id="countyGrpId">
                                                    <input type="text" id="countyId" name="storeCounty" class="form-control" [(ngModel)]='storeInfo.addressCounty' placeholder="e.g: CHESHIRE" 
                                                        (change)="onChange4UnsavedChanges('addressCounty')" ng-maxlength="100"
                                                        ng-minlength="1" minlength="1" maxlength="100" (focusout)="validateInputText($event, 12, 'countyMessage','countyGrpId', 'County',false)">
                                                    <span class="input-group-addon" id="errCounty" [tooltip]="countyTooltip" tooltipPlacement="top">
                                                        <span class="info-icon">
                                                            <img src="{{whoImgUrl}}information.svg" class="info-img" alt="Info Image" />
                                                        </span>
                                                    <tooltip-content #countyTooltip>
                                                        <span id="countyMessage">County is optional</span>
                                                    </tooltip-content>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                                <label for="countryId" class="bold">Country</label>
                                                <div class="input-group store-input-group" id="countryGrpId">
                                                    <input type="text" id="countryId" name="storeCountry" class="form-control" [(ngModel)]='storeInfo.addressCountry' placeholder="UK" 
                                                        (change)="onChange4UnsavedChanges('addressCountry')" ng-maxlength="100"
                                                        ng-minlength="1" minlength="1" maxlength="100" (focusout)="validateInputText($event, 12, 'countryMessage','countryGrpId', 'Country',false)">
                                                    <span class="input-group-addon" id="errCountry" [tooltip]="countryTooltip" tooltipPlacement="top">
                                                        <span class="info-icon">
                                                            <img src="{{whoImgUrl}}information.svg" class="info-img" alt="Info Image" />
                                                        </span>
                                                    <tooltip-content #countryTooltip>
                                                        <span id="countryMessage">Country is optional</span>
                                                    </tooltip-content>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" *ngIf="customerName.toUpperCase()!='AMAZON'">
                                                <label for="postcodeId" class="bold">PostCode <sup>*</sup></label>
                                                <div class="input-group store-input-group" id="postcodeGrpId">
                                                    <input type="text" id="postcodeId" name="storePostCode" class="form-control" [(ngModel)]='storeInfo.addressPostcode' placeholder="e.g: CW1 3SF"
                                                        (change)="onChange4UnsavedChanges('addressPostcode')" ng-maxlength="10"
                                                        maxlength="10" ng-minlength="1" minlength="1" (focusout)="validateInputText($event, 6, 'postcodeMessage','postcodeGrpId', 'PostCode',true)">
                                                    <span class="input-group-addon" id="errPostCode" [tooltip]="postcodeTooltip" tooltipPlacement="top">
                                                        <span class="info-icon">
                                                            <img src="{{whoImgUrl}}information.svg" class="info-img" alt="Info Image" />
                                                        </span>
                                                    <tooltip-content #postcodeTooltip>
                                                        <span id="postcodeMessage">{{showInfoErrorMsg('PostCode')}}</span>
                                                    </tooltip-content>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" *ngIf="customerName.toUpperCase()=='AMAZON'">
                                                <label for="postcodeId" class="bold">PostCode </label>
                                                <div class="input-group store-input-group" id="postcodeGrpId">
                                                    <input type="text" id="postcodeId" name="storePostCode" class="form-control" [(ngModel)]='storeInfo.addressPostcode' placeholder="e.g: CW1 3SF" 
                                                        (change)="onChange4UnsavedChanges('addressPostcode')" ng-maxlength="10"
                                                        maxlength="10" ng-minlength="1" minlength="1" (focusout)="validateInputText($event, 6, 'postcodeMessage','postcodeGrpId', 'PostCode',false)">
                                                    <span class="input-group-addon" id="errPostCode" [tooltip]="postcodeTooltip" tooltipPlacement="top">
                                                        <span class="info-icon">
                                                            <img src="{{whoImgUrl}}information.svg" class="info-img" alt="Info Image" />
                                                        </span>
                                                    <tooltip-content #postcodeTooltip>
                                                        <span id="postcodeMessage">PostCode is optional</span>
                                                    </tooltip-content>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row margin-zero store-contact-section">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-left-zero">
                                        <div class="row margin-zero">
                                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                                <label for="contactEmailId" class="bold">Contact Email <sup *ngIf="customerName.toUpperCase()=='RONTEC' || customerName.toUpperCase()=='RONTEC-B'">*</sup></label>
                                                <div *ngIf="customerName.toUpperCase()!='RONTEC' && customerName.toUpperCase()!='RONTEC-B'" class="input-group store-input-group" id="emailGrpId">
                                                    <input id="contactEmailId" name="storeContactEmail" type="text" class="form-control" [(ngModel)]='storeInfo.contactEmail'
                                                        placeholder="e.g: john.doe@morrisonsplc.co.uk" ng-maxlength="100" maxlength="100"
                                                        (change)="onChange4UnsavedChanges('contactEmail')" (focusout)="validateInputText($event, 7, 'emailMessage','emailGrpId', 'Contact Email',false)">
                                                    <span class="input-group-addon" id="errStoreContactEmail" [tooltip]="emailTooltip" tooltipPlacement="top">
                                                        <span class="info-icon">
                                                            <img src="{{whoImgUrl}}information.svg" class="info-img" alt="Info Image" />
                                                        </span>
                                                    <tooltip-content #emailTooltip>
                                                        <span id="emailMessage">Contact Email is optional</span>
                                                    </tooltip-content>
                                                    </span>
                                                </div>
                                                <div *ngIf="customerName.toUpperCase()=='RONTEC' || customerName.toUpperCase()=='RONTEC-B'" class="input-group store-input-group" id="emailGrpId">
                                                    <input id="contactEmailId" name="storeContactEmail" type="text" class="form-control" [(ngModel)]='storeInfo.contactEmail' 
                                                        placeholder="e.g: john.doe@morrisonsplc.co.uk" ng-maxlength="100" maxlength="100"
                                                        (change)="onChange4UnsavedChanges('contactEmail')" (focusout)="validateInputText($event, 7, 'emailMessage','emailGrpId', 'Contact Email',true)">
                                                    <span class="input-group-addon" id="errStoreContactEmail" [tooltip]="emailTooltip" tooltipPlacement="top">
                                                        <span class="info-icon">
                                                            <img src="{{whoImgUrl}}information.svg" class="info-img" alt="Info Image" />
                                                        </span>
                                                    <tooltip-content #emailTooltip>
                                                        <span id="emailMessage">{{showInfoErrorMsg('Contact Email')}}</span>
                                                    </tooltip-content>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                                <label for="storeContactFAX_id" class="bold">Contact FAX</label>
                                                <div class="input-group store-input-group" id="faxGrpId">
                                                    <input type="text" name="storeContactFAX" id="storeContactFAX_id" class="form-control" [(ngModel)]='storeInfo.contactFax'
                                                        (change)="onChange4UnsavedChanges('contactFax')" placeholder="e.g: 01234 567890"
                                                        maxlength="50" ng-maxlength="20" maxlength="20" ng-minlength="1" minlength="1"
                                                        (focusout)="validateInputText($event, 8, 'faxMessage','faxGrpId', 'Contact FAX',false)">
                                                    <span class="input-group-addon" id="errStoreContactFAX" [tooltip]="faxTooltip" tooltipPlacement="top">
                                                        <span class="info-icon">
                                                            <img src="{{whoImgUrl}}information.svg" class="info-img" alt="Info Image" />
                                                        </span>
                                                    <tooltip-content #faxTooltip>
                                                        <span id="faxMessage">Contact FAX is optional</span>
                                                    </tooltip-content>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                                <label for="storeContactPhone_id" class="bold">Contact Phone</label>
                                                <div class="input-group store-input-group" id="phoneGrpId">
                                                    <input type="text" name="storeContactPhone" id="storeContactPhone_id" class="form-control" [(ngModel)]='storeInfo.contactPhone'
                                                        (change)="onChange4UnsavedChanges('contactPhone')" placeholder="01234 567890"
                                                        maxlength="50" ng-maxlength="20" maxlength="20" ng-minlength="1" minlength="1"
                                                        (focusout)="validateInputText($event, 8, 'phoneMessage','phoneGrpId', 'Contact Phone',false)">
                                                    <span class="input-group-addon" id="errStoreContactPhone" [tooltip]="phoneTooltip" tooltipPlacement="top">
                                                        <span class="info-icon">
                                                            <img src="{{whoImgUrl}}information.svg" class="info-img" alt="Info Image" />
                                                        </span>
                                                    <tooltip-content #phoneTooltip>
                                                        <span id="phoneMessage">Contact Phone is optional</span>
                                                    </tooltip-content>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 dropdown-box" *ngIf="customerName.toLowerCase() == 'sandpiper'">
                                                <label for="storePort_id" class="bold">Port <sup>*</sup></label>

                                                <span class="up_arrow glyphicon glyphicon-menu-down dropdown-icon status_up_arrow"></span>
                                                <div id="portId">
                                                    <select class="form-control dropdown-select" id="storePort_id" name="storePort" [(ngModel)]="storeInfo.port" (change)="onChange4UnsavedChanges('port')"
                                                        (focusout)="validateInputText($event ,12, 'portMessage','portId', 'Port',true)">
                                                    <option value="" selected>Select</option>
                                                  <option *ngFor="let i of portMaster" [value]="i" >{{i}}</option> 
                                                </select>
                                                    <span id="errstorePort" [tooltip]="portTooltip" tooltipPlacement="top">
                                                       
                                                    <tooltip-content #portTooltip>
                                                        <span id="portMessage">Port is required</span>
                                                    </tooltip-content>
                                                    </span>
                                                </div>
                                                <!--<div class="input-group store-input-group" id="portId">
                                                    <input type="text" name="storePort" id="storePort_id" class="form-control" [(ngModel)]='storeInfo.port' placeholder="St Helier"
                                                        (change)="onChange4UnsavedChanges('port')" ng-maxlength="100" maxlength="100"
                                                        ng-minlength="1" minlength="1" (focusout)="validateInputText($event ,12, 'portMessage','portId', 'Port',true)">
                                                    <span class="input-group-addon" id="errstorePort" [tooltip]="portTooltip" tooltipPlacement="top">
                                                        <span class="info-icon">
                                                            <img src="{{whoImgUrl}}information.svg" class="info-img" alt="Info Image" />
                                                        </span>
                                                    <tooltip-content #portTooltip>
                                                        <span id="portMessage">Port is required</span>
                                                    </tooltip-content>
                                                    </span>
                                                </div>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="SupplyingDepot" [class.active]="fragment == 'SupplyingDepot'" *ngIf="customerName.toLowerCase() != 'amazon' && customerName.toLowerCase() != 'deliveroo'">
                            <div class="table-responsive table-block margintop20  pos-inherit supplying-depot-div">
                                <div class="row margin-zero">
                                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 padding-right-zero xspadding dropdown-box">
                                        <label for="supplyDepotType" class="bold">Supplying Depot <sup>*</sup> </label>
                                        <div>
                                            <span class="up_arrow glyphicon glyphicon-menu-down dropdown-icon supplyDepotTypeUparrow"></span>
                                            <select class="form-control dropdown-select supplyDepotType" name="supplyDepotType" (change)="getSupplyDepotValuesOnChange(sypplyDeportTypeSelect.value);onChange4UnsavedChanges('supplyingDepotName')"
                                                [(ngModel)]="storeInfo.supplyingDepotName" #sypplyDeportTypeSelect >
                                                <option value="" selected>Please Select</option>
                                                <option *ngFor="let i of supplyingDepot" [attr.selected]="i.supplyingDhlDepotName.toUpperCase() == storeInfo.supplyingDepotName.toUpperCase() ? true : null" [value]="i.supplyingDhlDepotName">{{i.supplyingDhlDepotName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!--<div class="col-xs-12 col-sm-6 col-md-4 col-lg-8 padding-right-zero xspadding pull-right">
                                        <button class="btn btn-default store-details-btn reset-store-btn" type="button" (click)="resetTodefault(sypplyDeportTypeSelect.value)">Reset Store to Default</button>
                                    </div>-->
                                </div>
                                <div class="row margin-zero" *ngIf="supplyDeportCategoryLen != -1">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <table class="custom-borderd-table table table-bordered table-striped search-result-table text-nowrap viewchanges-table">
                                            <thead class="head-color">
                                                <tr>
                                                    <th>Product Category</th>
                                                    <th>Mainframe Store ID</th>
                                                    <th>RMS Selling Store ID</th>
                                                    <th> RMS Warehouse ID</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let sdCategory of supplyDepotCatData | sortCategory:'name';let i=index;">
                                                    <td class="vmiddle">{{sdCategory.name}}</td>
                                                    <td>
                                                        <div class="input-group store-input-group" id="mfStoreGrpId{{i}}">
                                                            <input type="text" name="mainFrameStoreId{{sdCategory.name}}_id" id="mainFrameStoreId{{sdCategory.depotId}}_id" class="form-control supplyingdepottable"
                                                                (change)="onChange4UnsavedChanges('depotId', i, supplyDepotCatData)"
                                                                [(ngModel)]='sdCategory.depotId' placeholder="e.g: 12345" maxlength="10" 
                                                                (focusout)="validateInputText($event, 9, 'mfStoreIdMessage'+i,'mfStoreGrpId'+i, 'RMS Warehouse ID')">
                                                            <span class="input-group-addon" id="" [tooltip]="mfStoreIdTooltip" tooltipPlacement="top">
                                                                <span class="info-icon">
                                                                    <img src="{{whoImgUrl}}information.svg" class="info-img" alt="Info Image" />
                                                                </span>
                                                            <tooltip-content #mfStoreIdTooltip>
                                                                <span id="mfStoreIdMessage{{i}}">{{showInfoErrorMsg('RMS Warehouse ID')}}</span>
                                                            </tooltip-content>
                                                            </span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="input-group store-input-group" id="rmsStoreGrpId{{i}}">
                                                            <input type="text" name="rmsSellingStoreId{{sdCategory.name}}_id" id="rmsSellingStoreId{{sdCategory.saleId}}_id" class="form-control supplyingdepottable"
                                                                (change)="onChange4UnsavedChanges('saleId', i, supplyDepotCatData)"
                                                                [(ngModel)]='sdCategory.saleId' placeholder="e.g: 12345" maxlength="10" 
                                                                (focusout)="validateInputText($event, 9, 'rmsStoreIdMessage'+i,'rmsStoreGrpId'+i, 'RMS Selling Store ID')">
                                                            <span class="input-group-addon" id="" [tooltip]="rmsStoreIdTooltip" tooltipPlacement="top">
                                                                <span class="info-icon">
                                                                    <img src="{{whoImgUrl}}information.svg" class="info-img" alt="Info Image" />
                                                                </span>
                                                            <tooltip-content #rmsStoreIdTooltip>
                                                                <span id="rmsStoreIdMessage{{i}}">{{showInfoErrorMsg('RMS Selling Store ID')}}</span>
                                                            </tooltip-content>
                                                            </span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="input-group store-input-group" id="rmsWarehouseGrpId{{i}}">
                                                            <input type="text" name="rmsWarehouseId{{sdCategory.name}}_id" id="rmsWarehouseId{{sdCategory.stockId}}_id" class="form-control supplyingdepottable"
                                                                (change)="onChange4UnsavedChanges('stockId', i, supplyDepotCatData)"
                                                                [(ngModel)]='sdCategory.stockId' placeholder="e.g: 12345" maxlength="10"
                                                                (focusout)="validateInputText($event, 9, 'rmsWarehouseIdMessage'+i,'rmsWarehouseGrpId'+i, 'Mainframe Store ID')">
                                                            <span class="input-group-addon" id="" [tooltip]="rmsWarehouseIdTooltip" tooltipPlacement="top">
                                                                <span class="info-icon">
                                                                    <img src="{{whoImgUrl}}information.svg" class="info-img" alt="Info Image" />
                                                                </span>
                                                            <tooltip-content #rmsWarehouseIdTooltip>
                                                                <span id="rmsWarehouseIdMessage{{i}}">{{showInfoErrorMsg('Mainframe Store ID')}}</span>
                                                            </tooltip-content>
                                                            </span>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row margin-zero" *ngIf="supplyDeportCategoryLen == -1">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="error-message-container">
                                            <div class="categories">
                                                <div class="alert alert-info text-center error-message">
                                                    <strong>Please select Supplying Depot.
                                                    </strong>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="tab-pane" id="SupplyingDepot" [class.active]="fragment == 'SupplyingDepot'" *ngIf="customerName.toLowerCase() == 'amazon' || customerName.toLowerCase() == 'deliveroo'">
                            <div class="table-responsive table-block margintop20  pos-inherit supplying-depot-div">
                                <div class="row margin-zero">
                                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 padding-right-zero xspadding dropdown-box">
                                        <label for="supplyDepotType" class="bold">Supplying Depot <sup>*</sup> </label>

                                    </div>
                                    <!--<div class="col-xs-12 col-sm-6 col-md-4 col-lg-8 padding-right-zero xspadding pull-right">
                                        <button class="btn btn-default store-details-btn reset-store-btn" type="button" (click)="resetTodefault(sypplyDeportTypeSelect.value)">Reset Store to Default</button>
                                    </div>-->
                                </div>
                                <div class="row margin-zero">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <table class="custom-borderd-table table table-bordered table-striped search-result-table text-nowrap viewchanges-table viewchanges-amazon">
                                            <thead class="head-color">
                                                <tr>
                                                    <th>Product Category <sup>*</sup></th>
                                                    <th>RMS Selling Store ID<sup>*</sup> </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let sdCategory of supplyDepotCatData | sortCategory:'name';let i=index;">
                                                    <td class="vmiddle">{{sdCategory.name}}</td>
                                                    <td>
                                                        <div class="input-group store-input-group" id="rmsStoreGrpId{{i}}">
                                                            {{storeInfo.storeId}}
                                                        </div>
                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="DELIVERYOPPORTUNITIES" *ngIf="customerName.toLowerCase() != 'amazon'">
                            <div class="table-responsive table-block margintop20 max-height350 pos-inherit">
                                <div class="col-xs-12">
                                    <h4 class="orders-heading">Current Opportunity</h4>
                                </div>
                                <div class="row margin-zero" *ngIf="supplyDeportCategoryLen != -1">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <table class="custom-borderd-table table table-bordered table-striped table-hover search-result-table text-nowrap viewchanges-table current-opp-table"
                                            id="deliverymain">
                                            <thead class="head-color">
                                                <tr>
                                                    <th>Product Category</th>
                                                    <th>Delivery Days <sup>*</sup> </th>
                                                    <th>Mon</th>
                                                    <th>Tue</th>
                                                    <th>Wed</th>
                                                    <th>Thu</th>
                                                    <th>Fri</th>
                                                    <th>Sat</th>
                                                    <th>Sun</th>
                                                    <th>Total Delivery </th>
                                                    <th> Effective date <sup>*</sup> </th>
                                                </tr>
                                            </thead>
                                            <tbody class="deliveryopportunitytable">
                                                <tr *ngFor="let sdCategory of supplyDepotCatData | sortCategory:'name';let i=index;">
                                                    <td class="vmiddle">{{sdCategory.name}}</td>
                                                    <td>
                                                        <div class="input-group store-input-group" id="deliveryDaysGrpId{{i}}">
                                                            <input type="text" uppercase class="form-control" placeholder="e.g: YNYNNYY" name='Histval_{{historicalCategory+i}}' id='Histval_{{historicalCategory+i}}'
                                                                [(ngModel)]="sdCategory.value" maxlength="7" (focusout)="validateInputText($event, 11, 'deliveryDaysMessage'+i,'deliveryDaysGrpId'+i, 'Delivery Days', true)" >
                                                            <span class="input-group-addon deliverydaysMsgId" id="areaCodeMsgId" [tooltip]="deliveryDaysTooltip" tooltipPlacement="top">
                                                                <span class="info-icon">
                                                                    <img src="{{whoImgUrl}}information.svg" class="info-img" alt="Info Image" />
                                                                </span>
                                                            <tooltip-content #deliveryDaysTooltip>
                                                                <span id="deliveryDaysMessage{{i}}">&nbsp;</span>
                                                            </tooltip-content>
                                                            </span>
                                                        </div>
                                                    </td>
                                                    <td>{{sdCategory.value != undefined && sdCategory.value.slice(0,1) != ''?sdCategory.value.slice(0,1).toUpperCase():''}}</td>
                                                    <td>{{sdCategory.value != undefined && sdCategory.value.slice(1,2) != ''?sdCategory.value.slice(1,2).toUpperCase():''}}</td>
                                                    <td>{{sdCategory.value != undefined && sdCategory.value.slice(2,3) != ''?sdCategory.value.slice(2,3).toUpperCase():''}}</td>
                                                    <td>{{sdCategory.value != undefined && sdCategory.value.slice(3,4) != ''?sdCategory.value.slice(3,4).toUpperCase():''}}</td>
                                                    <td>{{sdCategory.value != undefined && sdCategory.value.slice(4,5) != ''?sdCategory.value.slice(4,5).toUpperCase():''}}</td>
                                                    <td>{{sdCategory.value != undefined && sdCategory.value.slice(5,6) != ''?sdCategory.value.slice(5,6).toUpperCase():''}}</td>
                                                    <td>{{sdCategory.value != undefined && sdCategory.value.slice(6,7) != ''?sdCategory.value.slice(6,7).toUpperCase():''}}</td>
                                                    <td>{{sdCategory.value?sdCategory.value.toUpperCase().split("Y").length -
                                                        1:0}}
                                                    </td>
                                                    <td *ngIf="!makeEffectiveToday">

                                                        <input type="text" class="form-control effectivedatedelivery" id="Histcal_{{historicalCategory+i}}" [(ngModel)]="sdCategory.effectiveDate" 
                                                            daterangepicker [options]="options" value="_cfunction.dateFormator(sdCategory.effectiveDate,1)"
                                                            (selected)="selectedDate($event, i)" [ngModelOptions]="{standalone: true}">
                                                    </td>
                                                    <td *ngIf="makeEffectiveToday">

                                                        <input type="text" class="form-control effectivedatedelivery" id="Histcal_{{historicalCategory+i}}" [(ngModel)]="todayDate"
                                                            value="_cfunction.dateFormator(todayDate)" readonly [ngModelOptions]="{standalone: true}">
                                                    </td>
                                                </tr>
                                            </tbody>

                                        </table>

                                    </div>

                                </div>
                                <div class="row margin-zero" *ngIf="supplyDeportCategoryLen == -1">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="error-message-container">
                                            <div class="categories">
                                                <div class="alert alert-info text-center error-message">
                                                    <strong>Please select Supplying Depot.
                                                    </strong>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="tab-pane" id="DELIVERYOPPORTUNITIES" *ngIf="customerName.toLowerCase() == 'amazon'">
                            <div class="table-responsive table-block margintop20 max-height350 pos-inherit">
                                <div class="col-xs-12">
                                    <h4 class="orders-heading">Current Opportunity</h4>
                                </div>
                                <div class="row margin-zero">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <table class="custom-borderd-table table table-bordered table-striped table-hover search-result-table text-nowrap viewchanges-table current-opp-table"
                                            id="deliverymain">
                                            <thead class="head-color">
                                                <tr>
                                                    <th>Product Category</th>
                                                    <th>Delivery Days <sup>*</sup> </th>
                                                    <th>Mon</th>
                                                    <th>Tue</th>
                                                    <th>Wed</th>
                                                    <th>Thu</th>
                                                    <th>Fri</th>
                                                    <th>Sat</th>
                                                    <th>Sun</th>
                                                    <th>Total Delivery </th>
                                                    <th> Effective date <sup>*</sup> </th>
                                                </tr>
                                            </thead>
                                            <tbody class="deliveryopportunitytable">
                                                <tr *ngFor="let sdCategory of supplyDepotCatData | sortCategory:'name';let i=index;">
                                                    <td class="vmiddle">{{sdCategory.name}}</td>
                                                    <td *ngIf="sdCategory.name=='ALL'">
                                                        <div class="input-group store-input-group" id="deliveryDaysGrpId{{i}}">
                                                            <input type="text" uppercase class="form-control" placeholder="e.g: YNYNNYY" name='Histval_{{historicalCategory+i}}' id='Histval_{{historicalCategory+i}}'
                                                                [(ngModel)]="sdCategory.value" maxlength="7" (click)="getvalue(sdCategory.value)" 
                                                                (focusout)="validateInputText($event, 11, 'deliveryDaysMessage'+i,'deliveryDaysGrpId'+i, 'Delivery Days', true)">
                                                            <span class="input-group-addon deliverydaysMsgId" id="areaCodeMsgId" [tooltip]="deliveryDaysTooltip" tooltipPlacement="top">
                                                                <span class="info-icon">
                                                                    <img src="{{whoImgUrl}}information.svg" class="info-img" alt="Info Image" />
                                                                </span>
                                                            <tooltip-content #deliveryDaysTooltip>
                                                                <span id="deliveryDaysMessage{{i}}">&nbsp;</span>
                                                            </tooltip-content>
                                                            </span>
                                                        </div>
                                                    </td>
                                                    <td *ngIf="sdCategory.name!='ALL'">
                                                        {{supplyDepotCatData[0].value}}

                                                    </td>
                                                    <td *ngIf="sdCategory.name=='ALL'">{{sdCategory.value != undefined && sdCategory.value.slice(0,1) != ''?sdCategory.value.slice(0,1).toUpperCase():''}}</td>
                                                    <td *ngIf="sdCategory.name!='ALL'">{{supplyDepotCatData[0].value != undefined && supplyDepotCatData[0].value.slice(0,1)
                                                        != ''?supplyDepotCatData[0].value.slice(0,1).toUpperCase():''}}</td>
                                                    <td *ngIf="sdCategory.name=='ALL'">{{sdCategory.value != undefined && sdCategory.value.slice(1,2) != ''?sdCategory.value.slice(1,2).toUpperCase():''}}</td>
                                                    <td *ngIf="sdCategory.name!='ALL'">{{supplyDepotCatData[0].value != undefined && supplyDepotCatData[0].value.slice(1,2)
                                                        != ''?supplyDepotCatData[0].value.slice(1,2).toUpperCase():''}}</td>
                                                    <td *ngIf="sdCategory.name=='ALL'">{{sdCategory.value != undefined && sdCategory.value.slice(2,3) != ''?sdCategory.value.slice(2,3).toUpperCase():''}}</td>
                                                    <td *ngIf="sdCategory.name!='ALL'">{{supplyDepotCatData[0].value != undefined && supplyDepotCatData[0].value.slice(2,3)
                                                        != ''?supplyDepotCatData[0].value.slice(2,3).toUpperCase():''}}</td>

                                                    <td *ngIf="sdCategory.name=='ALL'">{{sdCategory.value != undefined && sdCategory.value.slice(3,4) != ''?sdCategory.value.slice(3,4).toUpperCase():''}}</td>
                                                    <td *ngIf="sdCategory.name!='ALL'">{{supplyDepotCatData[0].value != undefined && supplyDepotCatData[0].value.slice(3,4)
                                                        != ''?supplyDepotCatData[0].value.slice(3,4).toUpperCase():''}}</td>

                                                    <td *ngIf="sdCategory.name=='ALL'">{{sdCategory.value != undefined && sdCategory.value.slice(4,5) != ''?sdCategory.value.slice(4,5).toUpperCase():''}}</td>
                                                    <td *ngIf="sdCategory.name!='ALL'">{{supplyDepotCatData[0].value != undefined && supplyDepotCatData[0].value.slice(4,5)
                                                        != ''?supplyDepotCatData[0].value.slice(4,5).toUpperCase():''}}</td>

                                                    <td *ngIf="sdCategory.name=='ALL'">{{sdCategory.value != undefined && sdCategory.value.slice(5,6) != ''?sdCategory.value.slice(5,6).toUpperCase():''}}</td>
                                                    <td *ngIf="sdCategory.name!='ALL'">{{supplyDepotCatData[0].value != undefined &&supplyDepotCatData[0].value.slice(5,6)
                                                        != ''?supplyDepotCatData[0].value.slice(5,6).toUpperCase():''}}</td>

                                                    <td *ngIf="sdCategory.name=='ALL'">{{sdCategory.value != undefined && sdCategory.value.slice(6,7) != ''?sdCategory.value.slice(6,7).toUpperCase():''}}</td>
                                                    <td *ngIf="sdCategory.name!='ALL'">{{supplyDepotCatData[0].value != undefined && supplyDepotCatData[0].value.slice(6,7)
                                                        != ''?supplyDepotCatData[0].value.slice(6,7).toUpperCase():''}}</td>

                                                    <td *ngIf="sdCategory.name=='ALL'">{{sdCategory.value?sdCategory.value.toUpperCase().split("Y").length -
                                                        1:0}}
                                                    </td>
                                                    <td *ngIf="sdCategory.name!='ALL'">{{supplyDepotCatData[0].value?supplyDepotCatData[0].value.toUpperCase().split("Y").length
                                                        - 1:0}}
                                                    </td>
                                                    <td *ngIf="sdCategory.name=='ALL'&& !makeEffectiveToday">
                                                        <input type="text" class="form-control effectivedatedelivery" id="Histcal_{{historicalCategory+i}}" [(ngModel)]="sdCategory.effectiveDate"
                                                            daterangepicker [options]="options" value="_cfunction.dateFormator(sdCategory.effectiveDate,1)"
                                                            (selected)="selectedDate($event, i)" (focusout)="getvaluefordate(sdCategory.effectiveDate)" 
                                                            [ngModelOptions]="{standalone: true}">                              

                                                    </td>
                                                      <td *ngIf="sdCategory.name=='ALL' && makeEffectiveToday">
                                                        <input type="text" class="form-control effectivedatedelivery" id="Histcal_{{historicalCategory+i}}" [(ngModel)]="todayDate"
                                                            value="_cfunction.dateFormator(todayDate)" readonly [ngModelOptions]="{standalone: true}">        

                                                    </td>
                                                    <td *ngIf="sdCategory.name!='ALL'&& !makeEffectiveToday">
                                                        <div> {{supplyDepotCatData[0].effectiveDate}}</div>
                                                    </td>
                                                    <td *ngIf="sdCategory.name!='ALL' && makeEffectiveToday">
                                                        <input type="text" class="form-control effectivedatedelivery" id="Histcal_{{historicalCategory+i}}" [(ngModel)]="todayDate"
                                                            value="_cfunction.dateFormator(todayDate)" readonly [ngModelOptions]="{standalone: true}">                                                    </td>
                                                </tr>
                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                            </div>
                            
                        </div>

                        
                       
                        <div class="tab-pane" id="Marketplaces" *ngIf="customerName.toLowerCase() == 'amazon' && tradingNameforPick === true">
                                <div class="table-responsive table-block margintop20 max-height350 pos-inherit">
                                    <div class="row margin-zero">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <table class="custom-borderd-table table table-bordered table-striped table-hover search-result-table text-nowrap viewchanges-table current-opp-table"
                                                id="marketplaces">
                                                <thead class="head-color">
                                                        <tr>
                                                                <th>MarketPlace Name</th>
                                                                
                                                                <th>RMS Selling Location <sup>*</sup></th>
                                                                <th>Inventory Applicable</th>
                                                                <th>Price Applicable</th>
                                                                <th>Settlement Report Applicable</th>
                                                                
                                                        </tr>
                                                </thead>
                                                <tbody class="deliveryopportunitytable">
                                                    <tr *ngFor = 'let name of merchantName;let i = index'>
                                                        <td>{{name}}</td>                                                       
                                                  
                                                        <td *ngIf='name == "Prime Now"'>                                                       
                                                        <input id="rmsLocationforPrimeNow" class="form-control" name="rmsLocationforPrimeNow" type="text" [(ngModel)]="rmsSellingLocationForPrimeNow" placeholder="7123" >                                             
                                                       
                                                         
                                                        <td *ngIf='name == ".CO.UK"'>  
                                                        <input id="rmsLocationforCoDotUK" class="form-control" name="rmsLocationforCoDotUK" type="text" [(ngModel)]="rmsSellingLocationForCODOTUK" placeholder="7123" >                                                                                        

                                                        <td *ngIf='name == "Prime Now"'>                                                       
                                                                <input id="inventoryApplicablePrime" name="inventoryApplicablePrime" type="checkbox" [(ngModel)]="isCheckedInventoryForPrimeNow" (click)="checkInventoryApplicableforPrime(isCheckedInventoryForPrimeNow?'false':'true')" ></td>
        
                                                        <td *ngIf='name == ".CO.UK"'>  
                                                                <input id="inventoryApplicableCODOTUK" name="inventoryApplicableCODOTUK" type="checkbox" [(ngModel)]="isCheckedInventoryForCODOTUK" (click)="checkInventoryApplicableforCODOTUK(isCheckedInventoryForCODOTUK?'false':'true')"></td>
                                                        
                                                        <td *ngIf='name == "Prime Now"'>                                                       
                                                                <input id="priceApplicablePrime" name="priceApplicablePrime" type="checkbox" [(ngModel)]="isCheckedPriceForPrimeNow" (click)="checkPriceApplicableforPrime(isCheckedPriceForPrimeNow?'false':'true')"></td>
                
                                                        <td *ngIf='name == ".CO.UK"'>  
                                                                <input id="priceApplicableCODOTUK" name="priceApplicableCODOTUK" type="checkbox" [(ngModel)]="isCheckedPriceForCODOTUK" (click)="checkPriceApplicableforCODOTUK(isCheckedPriceForCODOTUK?'false':'true')"></td>
                                                          
                                                        <td *ngIf='name == "Prime Now"'>                                                       
                                                                <input id="settlementReportPrime" name="settlementReportPrime" type="checkbox" [(ngModel)]="isCheckedSettlementForPrimeNow" (click)="checkSettlementReportforPrime(isCheckedSettlementForPrimeNow?'false':'true')"></td>
                        
                                                        <td *ngIf='name == ".CO.UK"'>  
                                                                <input id="settlementReportCODOTUK" name="settlementReportCODOTUK" type="checkbox" [(ngModel)]="isCheckedSettlementForCODOTUK" (click)="checkSettlementReportforCODOTUK(isCheckedSettlementForCODOTUK?'false':'true')"></td>
                                                        
                                                        
                                                    </tr>
                                                </tbody>
    
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                  
                    
                    
                    
                    
                    
                    </div>                    
                </div>
            </div>
            <div class="row bgcolor-white text-right action-btn-section storetn">
                    <button class="btn store-details-btn" type="submit" [class.disable]="addstore.form.pristine" [disabled]="savedisable"> Save</button>               
            </div>
        </form>
    </div>
    <div class="modal fade custom-model zindex999999" id="messageModal" role="dialog">
        <div class="modal-dialog top75 width314">
            <div class="modal-content">
                <div class="border-top-bottom-popup">
                    <h5 class="padd-left-right-10">Add Store
                        <button type="button" id="close-popup" class="close close-icon" data-dismiss="modal" (click)="closePopup('messageModal')">&#10006;</button>
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="new-batch-num-popup">
                        <div [innerHTML]="popupMsg"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade custom-model zindex999999" id="errormodal" role="dialog">
        <div class="modal-dialog top75 width314">
            <div class="modal-content">
                <div class="border-top-bottom-popup">
                    <h5 class="padd-left-right-10">Add Store
                        <button type="button" id="close-popup" class="close close-icon" data-dismiss="modal" (click)="closePopup('errormodal')">&#10006;</button>
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="new-batch-num-popup">
                        <div>{{errorMsgString}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="showLoader" class="overlay-load">
    <div class="loader-box-shadow">
        <div class="load-img">
            <img src="{{whoImgUrl}}spinner.svg" class="loader-image" alt="Loader Image" />
            <div>
                <h6>LOADING</h6>
            </div>
        </div>
    </div>
</div>

<div class="modal fade custom-model zindex999999" id="viewChanges" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content mdl-content">
            <div class="">
                <button type="button" class="close table-close top16" data-dismiss="modal"> &#10006;</button>
            </div>
            <div class="modal-body ">
                <div class="version-popup">
                    <table class=" custom-borderd-table table table-bordered table-striped search-result-table text-nowrap viewchanges-table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Effective Date</th>
                                <th>Version</th>
                                <th>User ID</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="cursor-pointer">
                                <td>Current</td>
                                <td>{{storeeffDate}}</td>
                                <td></td>
                                <td>{{userName}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="pull-right">
                    <button type="button" class="btn btn-default sd-viewchanges-btn">Select</button>
                    <button type="button" class="btn btn-default sd-viewchanges-btn" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade custom-model zindex9999991" id="popup_SessionExpired" role="dialog">
    <div class="modal-dialog top75 width314">
        <div class="modal-content">
            <div class="border-top-bottom-popup">
                <h5 class="padd-left-right-10">Session terminated<button type="button" id="close-popup" class="close close-icon" data-dismiss="modal" (click)="closePopup()">&#10006;</button>
                </h5>
            </div>
            <div class="modal-body">
                <div class="new-batch-num-popup">
                    <span>Session has been terminated - please log in again.</span>
                </div>
            </div>
            <div class="modal-footer border-top-grey-1">
                <div class="text-right">
                    <button class="btn btn-default npr-popup-btn" type="button" (click)="closePopup()">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade custom-model zindex9999991 unSaveChangesModal" id="unsaveModalPageLevel" role="dialog">
    <div class="modal-dialog top75">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="new-batch-num-popup">
                    <h4>You have some unsaved changes!!</h4>
                    <h4>Do you want to stay on same page?</h4>
                </div>
            </div>
            <div class="modal-footer border-top-grey-1">
                <div class="">
                    <button type="button" class="btn btn-default npr-popup-btn" (click)="keepMeonSamePage()">Yes, Keep me in</button>
                    <button type="button" class="btn btn-default npr-popup-btn" (click)="navigatTopage()">No, Navigate to click page</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Make Effect Immediately  modal page level starts here-->
<div class="modal fade custom-model zindex9999991 unSaveChangesModal" id="immediatelyModalPageLevel" role="dialog">
    <div class="modal-dialog top75">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="new-batch-num-popup">
                    <h4>Changes will be effective Immediately</h4>
                    <h4>Are you sure you want to do the same ?</h4>
                </div>
            </div>
            <div class="modal-footer border-top-grey-1">
                <div class="">
                    <button type="button" class="btn btn-default npr-popup-btn" (click)="yesEffect()">Yes</button>
                    <button type="button" class="btn btn-default npr-popup-btn" (click)="noEffect()">No</button>
                </div>
            </div>
        </div>
        <!-- Modal Content End -->
    </div>
</div>
<!-- Confirm Reverse of Make Effect Immediately  modal page level starts here-->
<div class="modal fade custom-model zindex9999991 unSaveChangesModal" id="reverteffectModalPageLevel" role="dialog">
    <div class="modal-dialog top75">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="new-batch-num-popup">
                    <h4>Changes will be revert and you lost the data</h4>
                    <h4>Are you sure you want to do the same ?</h4>
                </div>
            </div>
            <div class="modal-footer border-top-grey-1">
                <div class="">
                    <button type="button" class="btn btn-default npr-popup-btn" (click)="yesredirect()">Yes</button>
                    <button type="button" class="btn btn-default npr-popup-btn" (click)="noredirect()">No</button>
                </div>
            </div>
        </div>
        <!-- Modal Content End -->
    </div>
</div>
<!-- Confirm Reverse of Make Effect Immediately changes modal page level ends here-->