<div id="stickyContainer">
        <!-- Breadcrumb start here-->
        <div class="mvp_bradcrumb">
            <div class="container">
                <div class="col-xs-12 breadcrumb product-breadcrumb">
                    <a [routerLink]="['/customerselection']">
                        <span class="bradcrumb-text underline">Home</span>
                    </a>&gt;
                    <span class="bradcrumb-text">Reports</span>
                </div>
            </div>
        </div>
        <!-- Breadcrumb end here-->
        <!--Search Order section start here-->
        <div class="mmbborder" id="circle-box-border"></div>
        <!-- Only Show in Mobile View -->
        <!--Search order heading section start here-->
        <div class="sticky hidden-xs" id="sticky1">
            <div class="container">
                <div class="row mobile-marginzero search-order-row searchborder btm-bdr" id="search-box-border">
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 desktop-paddzero mobile-paddzero">
                        <div class="product-i">
                            <img src="{{imgName}}" class="img-responsive product-img pull-left">
                            <h3 class="{{style}}">{{customerDispayName}}</h3>
                            <a [class.hidden]="disabledCusChange ? true : null" (click)="toggleOrganisation()" class="Product-title-anchor">Change Customer
                                <span class="search-arrow-product">
                                    <i id="changeIcon" class="glyphicon glyphicon-menu-down small-arrow-up"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 help-link-div">
                        <main-navigation-menu #navIcons></main-navigation-menu>
                    </div>
                </div>
            </div>
            <div class="container hidden-xs">
                <div class="row desktop-marginzero" [hidden]="hideOrganisation">
                    <div class="advanced-search-page text-center">
                        <ul class="product-circle">
                            <li *ngFor="let organisation of organisationListChange;let i=index" [class.hidden]="organisation.customerName=='All_Wholesale_Customers'  || organisation.customerName =='kens'"
                                (click)="changeOrgType('/reports', organisation.customerName); navIcons.reloadNavigation(organisation.orgType);">
                                <a>
                                    <img src="{{getCustomerImage(organisation.customerName)}}" class="img-responsive" alt="{{organisation.customerName}}"
                                    />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--Search order heading section end here-->
    </div>
    <div class="hidden-sm hidden-xs">
        <button (click)="onScrolltop()" class="topbtn" id="topBtn">Top</button>
    </div>
    <div class="container hidden-xs">
        <div class="row desktop-marginzero" *ngIf="!siteMaintanceFlg">
            <div class="col-xs-12 desktop-paddzero fix-height">
                <div class="row desktop-marginzero">
                    <div class="col-lg-6 col-md-6">
                        <h4 class="orders-heading">Reports</h4>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="text-right" *ngIf="reportDataLength > 0">
                            <div class="pull-right padd-top-10 text-right">
                                <span class="padd-left10  cursor-pointer" tooltip="Only records that have been fetched and displayed on screen by “paging through”"
                                    tooltipPlacement="bottom" (click)="printOrder()">
                                    <img src="{{whoImgUrl}}IconPrint.svg" class="img-responsive dis-inlineblc img-width padd-right5">Print</span>
                                <span class="padd-left10 padd-right20  cursor-pointer" tooltip="Only records that have been fetched and displayed on screen by “paging through”"
                                    tooltipPlacement="bottom" (click)="exportData()">
                                    <img src="{{whoImgUrl}}IconDownload.svg" class="img-responsive dis-inlineblc img-width padd-right5">Download</span>
                            </div>
                        </div>
    
                    </div>
                </div>
                <div class="row margin-zero">
                    <div class="col-xs-12 search-order-div desktop-paddzero mobile-paddzero btborder blockmarginbt" id="search-order-border">
                        <div class="col-xs-12 xspadding">
                            <h4 class="search-order-heading hidden-xs">Select Report Type</h4>
                        </div>
                        <!--Search orders form section start here-->
                        <form role="form" #singlecatalogue="ngForm" name="singlecatalogue">
                            <div class="col-xs-8 col-sm-6 col-md-4 col-lg-4 padding-right-zero search-section xspadding form-group">
                                <span class="green-star">*</span>
                                <label for="catalogueType">Report Type</label>
                                <span class="up_arrow glyphicon glyphicon-menu-down rt10"></span>
                                <select class="form-control" id="catalogueType" name="catalogueType" (change)="onChange(reportTypeselsct.value)" required="required"
                                    [(ngModel)]="catalogueType" #reportTypeselsct>
                                    <!-- <select class="form-control" id="catalogueType" name="catalogueType" required [(ngModel)]="catalogueType" #reportType> -->
                                    <option value="" disabled selected>Please Select</option>
                                    <option *ngFor="let i of reportArr | orderBy:order:ascending; let j=index;" [value]="i.reportTypeId">{{i.reportType}}</option>
                                    <!--<option  *ngFor="let i of catalogueTypes;" [value]="i.catalogueType" [attr.selected]="i.catalogueType == catalogueTypeId ? true : null" >{{i.catalogueType}}</option>-->
                                </select>
                            </div>
                            <div class="mrgn-left-17per col-xs-6 col-sm-4 col-md-3 col-lg-3 padding-right-zero search-section xspadding ">
                                <div class="input-group dpadding col-xs-12 col-sm-12 col-md-9 col-lg-9">
                                    <button type="submit" class="btn pull-right mrgn-r-2 search-button adv-search-btn form-control" (click)="viewReports(reportTypeselsct.value)">VIEW
                                        <span class="brd-left-white rt6px">
                                            <span class="glyphicon glyphicon-search search-icon pull-right"></span>
                                        </span>
                                    </button>
                                </div>
                            </div>
                            <div class="mrgn-left-17per col-xs-12 col-sm-12 col-md-5 col-lg-5 padding-right-zero search-section xspadding ">
                                <div class="initiateCatalogue input-group dpadding col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
                                    <!-- <button type="button" class="btn pull-right mrgn-r-2 search-button adv-search-btn form-control" id="requestNewReport" (click)="toggleAdvSearch()" *ngIf="reportPermission" data-toggle="modal" data-target="#reportData">REQUEST NEW REPORT GENERATION</button>getRequestReport(reportType.value) -->
                                    <button type="button" class="btn pull-right mrgn-r-2 search-button adv-search-btn form-control" id="requestNewReport" (click)="getToggleCall()"
                                        *ngIf="reporttypeBtn">REQUEST NEW REPORT GENERATION</button>
                                   <!--  <button type="button" class="btn pull-right mrgn-r-2 search-button adv-search-btn form-control" id="requestNewReportforDateRange"
                                        (click)="getRequestReportForDateRange(reportType.value)" *ngIf="dateRangeReportPermission">REQUEST NEW REPORT GENERATION</button> -->
                                </div>
                            </div>
                        </form>
                        
                        
                        <!--Advanced search section for desktop start here-->
                        <div class="col-xs-12 adv-search-div mbform-none" [hidden]="!advSearch">
    
                            <div class="col-xs-12 xspadding">
                                <h4 class="search-order-heading hidden-xs">Report Request Input Parameters</h4>
                                <p class="search-criteria-text text-red padd-tb5">
                                    <sup>*</sup>Selecting atleast 1 field is mandatory from Order Date, Status, Shipped To, Delivery
                                    Date and Invoice ID.
                                    <br> Maximum 2 fields to be selected.
                                </p>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-xs-12 xspadding">
                                <div class="err-msg" *ngIf="errorMsg">
                                    <div class="alert alert-danger text-center error-message">
                                        <i class="glyphicon glyphicon-alert"></i> &nbsp;&nbsp;
                                        <strong>Select atleast 1 field from Order Date, Status, Shipped To, Delivery Date and Invoice ID.</strong>
                                    </div>
                                </div>
                            </div>
    
                            <form role="form" #orderSearch="ngForm" name="orderSearch" class="" (submit)="getReleventOrders(orderSearch.value)">
                                <div class="row equal">
                                    <div class="col-xs-12 col-sm-6 dashed-border desktop-paddzero mobile-paddzero">
                                        <div class="col-xs-12 col-sm-12  form-group calendar-form-group">
                                            <label for="orderdatefrom" *ngIf="orderdateHide">Order Date:</label>
                                            <div (click)="toggaleCalender(1)" id="orderdateshow" class="input-group calendar-input-grp">
                                                <input placeholder="DD/MM/YYYY" *ngIf="orderdateHide" [ngModel]="orderdate | date:'dd/MM/yyyy'" id="orderdatefrom" name="orderdatefrom"
                                                    readonly class="form-control selectdate" (keyup.enter)="getReleventOrders(orderSearch.value)"
                                                    required>
                                                <span class="input-group-addon calendar-addon" (click)="showPopup()" id="orderdateinput">
                                                    <i class="glyphicon glyphicon-calendar cust-calender" id="orderdateinput"></i>
                                                </span>
                                            </div>
                                            <div id="orderDatePicker">
                                                <datepicker [ngClass]="{'hide': !showDatepicker}" id="orderdateinput" name="orderdateinput" [(ngModel)]="orderdate" [maxDate]="maxDate"
                                                    (selectionDone)="onKeypress($event, 6);toggaleCalender(1);" [onlyCurrentMonth]=true></datepicker>
                                                <div class="clearfix">
                                                    <div class="text-center padd-btm-8">
                                                        <button [ngClass]="{'hide': !showDatepicker}" type="button" class="btn btn-sm btn-green" (click)="clear(1);onKeypress('', 6)">Clear</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
    
                                        <div class="col-xs-12 col-sm-12 form-group" *ngIf="statusHide">
                                            <label for="status">Status:</label>
                                            <span class="up_arrow glyphicon glyphicon-menu-down"></span>
                                            <select class="form-control" id="status" [(ngModel)]="status" (ngModelChange)="onKeypress($event,2)" name="status" [disabled]="statusshow"
                                                (keyup.enter)="getReleventOrders(orderSearch.value)">
                                                <option *ngFor="let i of selectStatus" [value]="i.value" [attr.selected]="i.value === status ? true : null">{{i.status}}</option>
                                            </select>
                                        </div>
    
                                        <div class="col-xs-12 col-sm-12 form-group" *ngIf="shipToHide">
                                            <label for="shipto">Shipped To:</label>
                                            <input type="text" class="form-control" #myvalshipto id="shipto" (ngModelChange)="onKeypress(myvalshipto.value, 3)" (keyup)="onKeypress(myvalshipto.value, 3)"
                                                name="shipto" maxlength="15" (keypress)="keyPress($event)" placeholder="Please select Store Id"
                                                [(ngModel)]="shipto" [disabled]="shiptoshow" (keyup.enter)="getReleventOrders(orderSearch.value)"
                                            />
                                        </div>
    
                                        <div class="col-xs-12 col-sm-12  form-group calendar-form-group">
                                            <label for="deliverydatefrom" *ngIf="deliverydateHide">Delivery Date:</label>
                                            <div (click)="toggaleCalender(2)" id="deliverydateshow" class="input-group calendar-input-grp" *ngIf="deliverydateHide">
                                                <input placeholder="DD/MM/YYYY" [ngModel]="deliverydate | date:'dd/MM/yyyy'" id="deliverydatefrom" name="deliverydatefrom"
                                                    readonly class="form-control selectdate" (keyup.enter)="getReleventOrders(orderSearch.value)">
                                                <span class="input-group-addon calendar-addon" (click)="showPopup()" id="deliverydatefrom">
                                                    <i class="glyphicon glyphicon-calendar cust-calender" id="deliverydatefrom"></i>
                                                </span>
                                            </div>
                                            <div id="deliveryDatePicker">
                                                <datepicker [ngClass]="{'hide': !showDatepicker}" class="popup" id="deliverydateinput" name="deliverydateinput" [(ngModel)]="deliverydate"
                                                    [maxDate]="myDate" (selectionDone)="onKeypress($event, 4);toggaleCalender(2);"
                                                    [onlyCurrentMonth]=true></datepicker>
                                                <div class="clearfix">
                                                    <div class="text-center padd-btm-8">
                                                        <button [ngClass]="{'hide': !showDatepicker}" type="button" class="btn btn-sm btn-green" (click)="clear(2);onKeypress('', 4)">Clear</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
    
                                        <div class="col-xs-12 col-sm-12 form-group" *ngIf="invoiceIdHide">
                                            <label for="invoiceId">Invoice ID:</label>
                                            <input type="text" class="form-control" #myvalinvoiceId id="invoiceId" name="invoiceId" [(ngModel)]="invoiceId" [disabled]="invoiceIdshow"
                                                (ngModelChange)="onKeypress(myvalinvoiceId.value, 5)" (keyup)="onKeypress(myvalinvoiceId.value, 5)"
                                                (keyup.enter)="getReleventOrders(orderSearch.value)" maxlength="15" (keypress)="keyPress($event)"
                                            />
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 desktop-paddzero mobile-paddzero">
                                        <!-- <div class="col-xs-12 col-sm-12  form-group" *ngIf="channelHide">
                                            <label for="channel">Channels:</label>
                                            <span class="up_arrow glyphicon glyphicon-menu-down"></span>
                                            <select class="form-control" id="channel" [(ngModel)]="channel" (ngModelChange)="onKeypress($event,1)" name="channel" [disabled]="channelsshow">
                                                <option *ngFor="let i of selectChannels" [value]="i.value" [attr.selected]="i.value == channel ? true : null">{{i.channel}}</option>
                                            </select>
                                        </div>-->
    
                                        <div class="col-xs-12 col-sm-12  form-group calendar-form-group">
                                            <label for="invoicedatefrom" *ngIf="invoicedateHide">Invoice Date:</label>
                                            <div (click)="toggaleCalender(3)" id="invoicedateshow" class="input-group calendar-input-grp">
                                                <input placeholder="DD/MM/YYYY" *ngIf="invoicedateHide" [ngModel]="invoicedate | date:'dd/MM/yyyy'" id="invoicedateinput"
                                                    name="invoicedatefrom" readonly class="form-control selectdate" (keyup.enter)="getReleventOrders(orderSearch.value)"
                                                    required>
                                                <span class="input-group-addon calendar-addon" (click)="showPopup()" id="invoicedateinput">
                                                    <i class="glyphicon glyphicon-calendar cust-calender" id="invoicedateinput"></i>
                                                </span>
                                            </div>
                                            <div id="invoiceDatePicker">
                                                <datepicker [ngClass]="{'hide': !showDatepicker}" id="invoicedateinput" name="invoicedateinput" [(ngModel)]="invoicedate"
                                                    [maxDate]="maxDate" (selectionDone)="onKeypress($event, 7);toggaleCalender(3);"
                                                    [onlyCurrentMonth]=true>
                                                </datepicker>
                                                <div class="clearfix">
    
                                                    <div class="text-center padd-btm-8">
                                                        <button [ngClass]="{'hide': !showDatepicker}" type="button" class="btn btn-sm btn-green" (click)="clear(3);onKeypress('', 7)">Clear</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 form-group" *ngIf="shipfromHide">
                                            <label for="shipfrom">Shipped From:</label>
                                            <input type="text" class="form-control" #myvalshipfrom id="shipfrom" placeholder="Please select depot Id" (ngModelChange)="onKeypress(myvalshipfrom.value, 8)"
                                                (keyup)="onKeypress(myvalshipfrom.value, 8)" name="shipfrom" maxlength="15" (keypress)="keyPress($event)"
                                                [(ngModel)]="shipfrom" [disabled]="shipfromshow" (keyup.enter)="getReleventOrders(orderSearch.value)"
                                            />
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 form-group pull-right">
                                            <button type="submit" id="adv-search-desk" class="btn pull-right mrgn-r-2 search-button adv-search-btn form-control">SUBMIT REQUEST
                                                <span class="brd-left-white">
                                                    <span class="glyphicon glyphicon-search search-icon pull-right"></span>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!--Advanced search section end here-->
                        <!-- New filter options  -->
                        <div class="col-xs-12 adv-search-div mbform-none" [hidden]="!advSearchforRange">
                            <div class="col-xs-12 xspadding">
                                <h4 class="search-order-heading hidden-xs">Report Request Input Parameters</h4>
                                <p class="search-criteria-text text-red padd-tb5">
                                    <sup>*</sup>Selecting only one date range is allowed from Order Date, Delivery Date, Despatch
                                    Date and Invoice Date.
                                </p>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-xs-12 xspadding">
                                <div class="err-msg" *ngIf="showErrorMsgNew">
                                    <div class="alert alert-danger text-center error-message">
                                        <i class="glyphicon glyphicon-alert"></i> &nbsp;&nbsp;
                                        <strong>Select atleast 1 field from Order Date, Delivery Date, Despatch Date</strong>
                                    </div>
                                </div>
                            </div>
                            <form role="form" #orderSearchfordateRange="ngForm" name="orderSearchfordateRange" class="" (submit)="getUnifiedSearchOrders()">
                                <div class="row equal">
                                    <div class="col-xs-12 col-sm-6 dashed-border desktop-paddzero mobile-paddzero ordrSrch-left-div">
                                        <div class="col-xs-12 col-sm-12  form-group calendar-form-group" id="OrderDatefiled">
                                            <label for="deliverydatefrom">Order Date</label>
                                            <div class="input-group calendar-input-grp">
                                                <input daterangepicker placeholder="DD-MM-YYYY - DD-MM-YYYY"   value="" [(ngModel)]="orderdate1" (ngModelChange)="updateJSONONEmpty('orderDate')"
                                                    (selected)="selectedValues($event, 'orderDate')" id="orderDate" name="orderDate"
                                                    class="form-control selectdate" (keyup.enter)="getUnifiedSearchOrders()">
                                                <span daterangepicker class="input-group-addon calendar-addon" (selected)="selectedValues($event, 'orderDate')"><i class="glyphicon glyphicon-calendar cust-calender"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12  form-group calendar-form-group" id="DeliveryDatefiled">
                                            <label for="deliverydatefrom">Delivery Date</label>
                                            <div class="input-group calendar-input-grp">
                                                <input daterangepicker placeholder="DD-MM-YYYY - DD-MM-YYYY" value=""  [(ngModel)]="deliverydate1" (ngModelChange)="updateJSONONEmpty('deliverydate')"
                                                    (selected)="selectedValues($event, 'deliverydate')" id="deliverydate" name="deliverydate"
                                                    class="form-control selectdate" (keyup.enter)="getUnifiedSearchOrders()">
                                                <span daterangepicker class="input-group-addon calendar-addon" (selected)="selectedValues($event, 'deliverydate')"><i class="glyphicon glyphicon-calendar cust-calender"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12  form-group calendar-form-group" id="DesptchDatefiled">
                                            <label for="deliverydatefrom">Despatch Date</label>
                                            <div class="input-group calendar-input-grp">
                                                <input daterangepicker placeholder="DD-MM-YYYY - DD-MM-YYYY" value=""[(ngModel)]="dispatchDate1" (ngModelChange)="updateJSONONEmpty('dispatchDate')"
                                                    (selected)="selectedValues($event, 'dispatchDate')" id="dispatchDate" name="dispatchDate"
                                                    class="form-control selectdate" (keyup.enter)="getUnifiedSearchOrders()">
                                                <span daterangepicker class="input-group-addon calendar-addon" (selected)="selectedValues($event, 'dispatchDate')"><i class="glyphicon glyphicon-calendar cust-calender"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12  form-group calendar-form-group" id="InvoiceDatefiled">
                                            <label for="deliverydatefrom">Invoice Date</label>
                                            <div class="input-group calendar-input-grp">
                                                <input daterangepicker placeholder="DD-MM-YYYY - DD-MM-YYYY" value="" [(ngModel)]="invoicedate1" (ngModelChange)="updateJSONONEmpty('invoiceDate')" (selected)="selectedValues($event, 'invoiceDate')" id="invoiceDate" name="invoiceDate" class="form-control selectdate" (keyup.enter)="getUnifiedSearchOrders()">
                                                <span daterangepicker class="input-group-addon calendar-addon" (selected)="selectedValues($event, 'invoiceDate')"><i class="glyphicon glyphicon-calendar cust-calender"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 form-group">
                                            <label for="dispatchDAteParam">
                                                Include Despatch Date in report?
                                            </label>
                                            <input type="checkbox" id="dispatchDAteParam" name="dispatchDAteParam" (click)="selectedValues($event, 'dispatchDAteParam')"
                                                [(ngModel)]="dispatchDAteParamID" [value]="'No'">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 desktop-paddzero mobile-paddzero ordrSrch-right-div">
                                        <div class="col-xs-12 col-sm-12 form-group">
                                            <label for="status">Status:</label>
                                            <span class="up_arrow glyphicon glyphicon-menu-down"></span>
                                            <select class="form-control" id="status" [(ngModel)]="status" (ngModelChange)="onKeypress($event,2); updateJSONONEmpty('statusCurrent')"
                                                (focusout)="selectedValues($event, 'statusCurrent')" name="status" (keyup.enter)="getUnifiedSearchOrders()">
                                                <option *ngFor="let i of selectStatus" [value]="i.value" [attr.selected]="i.value === status ? true : null">{{i.status}}</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 form-group">
                                            <label for="shipto">Shipped To:</label>
                                            <input type="text" class="form-control" #myvalshipto id="shipToLocationId" (ngModelChange)="onKeypress(myvalshipto.value, 3);updateJSONONEmpty('shipToLocationId')"
                                                (focusout)="selectedValues($event, 'shipToLocationId')" (keyup)="onKeypress(myvalshipto.value, 3)"
                                                name="shipto" maxlength="15" (keypress)="keyPress($event)" [(ngModel)]="shipto" (keyup.enter)="getUnifiedSearchOrders()"
                                            />
                                        </div>
                                        <div class="col-xs-12 col-sm-12 form-group">
                                            <label for="shipfrom">Shipped From:</label>
                                            <input type="text" class="form-control" #myvalshipfrom id="shipfrom" (ngModelChange)="onKeypress(myvalshipfrom.value, 8); updateJSONONEmpty('shipFromLocationId')"
                                                (focusout)="selectedValues($event, 'shipFromLocationId')" (keyup)="onKeypress(myvalshipfrom.value, 8)"
                                                name="shipfrom" maxlength="15" (keypress)="keyPress($event)" [(ngModel)]="shipfrom"
                                                (keyup.enter)="getUnifiedSearchOrders()" />
                                        </div>
                                        <div class="col-xs-12 col-sm-12 form-group">
                                            <label for="invoiceId">Invoice ID:</label>
                                            <input type="text" class="form-control" #myvalinvoiceId id="invoiceId" name="invoiceId" [(ngModel)]="invoiceId" (focusout)="selectedValues($event, 'billToId')"
                                                (ngModelChange)="onKeypress(myvalinvoiceId.value, 5); updateJSONONEmpty('billToId')"
                                                (keyup)="onKeypress(myvalinvoiceId.value, 5)" (keyup.enter)="getUnifiedSearchOrders()"
                                                maxlength="15" (keypress)="keyPress($event)" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 form-group pull-right">
                                    <button type="submit" id="adv-search-desk" class="btn pull-right mrgn-r-2 search-button adv-search-btn form-control">SUBMIT REQUEST
                                        <span class="brd-left-white"><span class="glyphicon glyphicon-search search-icon pull-right"></span></span>
                                    </button>
                                </div>
                            </form>
                        </div>
    
                        <!--Deal search section for desktop start here-->
                        <!-- <div style="display: none">{{advSearch}} --- {{advSearchforRange}} --- {{dealSearch}}</div> -->
                        <div class="col-xs-12 adv-search-div mbform-none" [hidden]="!dealSearch1">
    
                            <div class="col-xs-12 xspadding">
                                <h4 class="search-order-heading hidden-xs">Report Request Input Parameters</h4>
                                <p class="search-criteria-text text-red padd-tb5">
                                    <sup>*</sup>Selecting Start date and End  date is mandatory. You can choose maximum of 6 weeks data.
                                    
                                </p>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-xs-12 xspadding">
                                <div class="err-msg" *ngIf="errorMsg">
                                    <div class="alert alert-danger text-center error-message">
                                        <i class="glyphicon glyphicon-alert"></i> &nbsp;&nbsp;
                                        <strong>Select Start Date &amp; End Date.</strong>
                                    </div>
                                </div>
                            </div>
    
                            <form role="form" #dealSearch="ngForm" name="dealSearch" class="" (submit)="getReleventOrders(dealSearch.value)">
                                <div class="row equal">
                                    <div class="col-xs-12 col-sm-3 desktop-paddzero mobile-paddzero">
                                        <div class="col-xs-12 col-sm-12  form-group calendar-form-group">
                                            <label for="dealdatefrom">Start Date:</label>
                                            <div (click)="toggaleCalender(4)" id="dealstartdateshow" class="input-group calendar-input-grp">
                                                <input placeholder="DD/MM/YYYY" [ngModel]="dealstartdate | date:'dd/MM/yyyy'" id="dealdatefrom" name="dealdatefrom"
                                                    readonly class="form-control selectdate" (keyup.enter)="getReleventOrders(dealSearch.value)"
                                                    required>
                                                <span class="input-group-addon calendar-addon" (click)="showPopup()" id="dealstartdateinput">
                                                    <i class="glyphicon glyphicon-calendar cust-calender" id="dealstartdateinput"></i>
                                                </span>
                                            </div>
                                            <div id="dealstartDatePicker">
                                                <!--[minDate] = "dealStratDate" [maxDate]="dealEndDate"-->
                                                <datepicker [ngClass]="{'hide': !showDatepicker}" id="dealstartdateinput" name="dealstartdateinput" [(ngModel)]="dealstartdate" 
                                                    (selectionDone)="onKeypress($event, 9);toggaleCalender(4);" [onlyCurrentMonth]=true></datepicker>
                                                <div class="clearfix">
                                                    <div class="text-center padd-btm-8">
                                                        <button [ngClass]="{'hide': !showDatepicker}" type="button" class="btn btn-sm btn-green" (click)="clear(4);resetField(dealSearch.value,4);">Clear</button>
                                                    </div>
                                                </div>
                                            </div>
                                                
                                        </div>
                                        
                                        
                                    </div>
                                    <div class="col-xs-12 col-sm-3 desktop-paddzero mobile-paddzero">
                                        
    
                                        <div class="col-xs-12 col-sm-12  form-group calendar-form-group">
                                            <label for="dealdateto">End Date:</label>
                                            <div (click)="toggaleCalender(5)" id="dealenddateshow" class="input-group calendar-input-grp">
                                                <input placeholder="DD/MM/YYYY" [ngModel]="dealenddate | date:'dd/MM/yyyy'" id="dealdateto" name="dealdateto"
                                                    readonly class="form-control selectdate" (keyup.enter)="getReleventOrders(dealSearch.value)"
                                                    required>
                                                <span class="input-group-addon calendar-addon" (click)="showPopup()" id="dealenddateinput">
                                                    <i class="glyphicon glyphicon-calendar cust-calender" id="dealenddateinput"></i>
                                                </span>
                                            </div>	
    
                                            <div id="dealendDatePicker">
                                                <datepicker [ngClass]="{'hide': !showDatepicker}" id="dealenddateinput" name="dealenddateinput" [(ngModel)]="dealenddate" [minDate]="dealStratDate" [maxDate]= "dealEndDate"
                                                    (selectionDone)="onKeypress($event, 10);toggaleCalender(5);" [onlyCurrentMonth]=false></datepicker>
                                                <div class="clearfix">
                                                    <div class="text-center padd-btm-8">
                                                        <button [ngClass]="{'hide': !showDatepicker}" type="button" class="btn btn-sm btn-green" (click)="clear(5); resetField(dealSearch.value,5);">Clear</button>
                                                    </div>
                                                </div>
                                            </div>	
                                                
                                        </div>
    
                                        
                                        
                                    </div>
    
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 form-group pull-right" [ngStyle]="{'padding-top':'20px'}">
                                        <button type="submit" id="adv-search-desk" class="btn pull-right mrgn-r-2 search-button adv-search-btn form-control">SUBMIT REQUEST
                                            <span class="brd-left-white">
                                                <span class="glyphicon glyphicon-search search-icon pull-right" [ngStyle]="{'padding-top':'20px'}"></span>
                                            </span>
                                        </button>
                                    </div>
    
                                </div>
                            </form>
                            
                        </div>
                        
                        <!--Deal search section end here-->
    
                        <!--Search Result Model box Mobile start Here-->
                        <button id="openModalResult" [hidden]="true" data-toggle="modal" data-target="#catalogueResult">Open Modal</button>
                        <div class="col-xs-12 col-md-12 col-lg-12" *ngIf="showErrorMsg">
                            <div class="error-message-container">
                                <div class="categories">
                                    <div class="alert alert-danger text-center error-message">
                                        <i class="glyphicon glyphicon-alert"></i> &nbsp;&nbsp;{{errorMsgString}}
    
                                        <strong></strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-xs-12 search-results-div catalogue-search hidden-xs" [hidden]="catalogueResult">
                            <h4 class="search-result-heading padd-btm-8">Available Reports for Selected Report Type</h4>
    
                            <!-- Pagination -->
                            <!-- pager -->
                            <!-- <div>
                                Current Page : {{pager.currentPage}}
                                Pages : {{pager.pages}} 
                                totalPage : {{pager.totalPages}}
                               
                            </div> -->
                            <div *ngIf="finalPageDisplay" class="page">
                            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                                
                               
                                <li [ngClass]="{disabled:pager.currentPage == 1}">
                                    <a (click)="(pager.currentPage > 1) ? setPage(pager.currentPage - 1) : false">&lt;</a>
                                </li>
                                <li [ngClass]="{disabled:pager.currentPage == 1}" *ngIf="((pager.currentPage > firstDisplay) && (pager.totalPages > pageDisplay))">
                                        <a (click)="setPage(1)">1</a>
                                </li>
                                <li class="disabled" (click)="cancelEvent($event)" *ngIf="(((pager.currentPage - (pageDisplay-1)) >=1) && (pager.totalPages > pageDisplay))">
                                    <a href="javascript:void(0);">. . .</a>
                                </li> 
                                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">                                    
                                    <a (click)="setPage(page)">{{page}}</a>
                                </li>
                                <li class="disabled" (click)="cancelEvent($event)" *ngIf="(((pager.currentPage + (pageDisplay-1)) <= pager.totalPages) && (pager.totalPages > pageDisplay))">
                                        <a href="javascript:void(0);">. . .</a>
                                </li>
                                <li [ngClass]="{disabled:pager.currentPage == pager.totalPages}" *ngIf="((pager.currentPage < (pager.totalPages - lastDisplay)) && (pager.totalPages > pageDisplay))">
                                        <a (click)="setPage(pager.totalPages)">{{pager.totalPages}}</a>
                                </li>
                                <li [ngClass]="{disabled:pager.currentPage == pager.totalPages}">
                                    <a (click)="(pager.currentPage < pager.totalPages)? setPage(pager.currentPage + 1) : false">&gt;</a>
                                </li>
                                
                            </ul>
                            </div>
                            <!-- end pager -->
                            <!-- end Pagination -->
    
                            <!-- <div *ngIf="reportDataLength == 0">
                                <p class="no-data-text">No data available</p>
                            </div> -->
                            <div *ngIf="errorMsg1">
                                <div>
                                    <div class="col-xs-12 col-md-12 col-lg-12 ">
                                        <div class="error-message-container">
                                            <div class="categories">
                                                <div class="alert alert-info text-center error-message">
                                                    <strong>{{errorMsgPopup}}
                                                    </strong>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                            <div *ngIf="reportDataLength > 0" id="exportable" class="table-responsive" [ngClass]="(!finalPageDisplay)?' max-height350':''" infinite-scroll [infiniteScrollDistance]="1.5"
                                [infiniteScrollThrottle]="300" [scrollWindow]="false" (scrolled)="(!finalPageDisplay) ? onScrollDown() : ''">                           
                                
    
                                <table class=" custom-borderd-table table table-bordered table-striped search-result-table text-nowrap" border='1'>
                                    <thead class="head-color">
                                        <tr>
                                            <th>Date and Time</th>
                                            <th>File Name</th>
                                            <th>Status</th>
                                            <th>Input Parameters</th>
                                            <th>Requested By</th>
                                            <th>Download</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngIf="loaderSet"><td colspan="6" style="text-align:center"><i class="fa fa-spinner fa-spin" style="font-size:48px;color:#004e27"></i></td></tr>
                                        <tr *ngFor="let report of reportData;let i=index" class="order-number-table">
                                            <!--<td class="rpt_download_cursor">{{report.createdDate}}</td>-->
                                            <td class="rpt_download_cursor">{{_cfunction.dateFormator(report.createdDate,12)}}</td>
                                            <td class="rpt_download_cursor">{{report.reportName}}</td>
                                            <td *ngIf="report.reportStatus" class="rpt_download_cursor">{{report.reportStatus}}</td>
                                            <td *ngIf="!report.reportStatus" class="rpt_download_cursor">-</td>
                                            <td *ngIf="report.inputParams" class="rpt_download_cursor max-wdt190"><span tooltip="{{report.inputParams}}" tooltipPlacement="bottom">{{formatSelection(report.inputParams)}}</span></td>
                                            <td *ngIf="!report.inputParams" class="rpt_download_cursor max-wdt190">-</td>
                                            <td *ngIf="report.createdBy" class="rpt_download_cursor">{{report.createdBy}}</td>
                                            <td *ngIf="!report.createdBy" class="rpt_download_cursor">-</td>
                                            <td class="full-range-img-download">
                                                <a (click)="fileReportDownload(i)">
                                                    <img src="{{whoImgUrl}}SquareIconDownload.svg" class="img-responsive sqrIcon-npr" />
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="siteMaintanceFlg">
            <div class="col-xs-12 col-sm-12 col-md-12 maintenance-background">
                <div class="heading-text">
                    <h3 class="semi-bold text-center hidden-xs">SITE MAINTENANCE</h3>
                </div>
                <div class="maintenance-box login-box bold text-center">
                    {{siteMSg}}
                </div>
            </div>
        </div>
        <!-- loader section start-->
        <div *ngIf="showLoader" class="overlay-load">
            <div class="loader-box-shadow">
                <div class="load-img">
                    <img src="{{whoImgUrl}}spinner.svg" class="loader-image" alt="Loader Image" />
                    <div>
                        <h6>LOADING</h6>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- loader section end-->
        <div class='print_only' id="printHeader" [hidden]="printHeader">
            <!--dashboard container section start-->
            <div class="row dashboard-heading-div">
                <div class="col-xs-12">
                    <img class="logo_print" src="{{whoImgUrl}}print_logo.png" alt="Morrisons logo">
                    <h2 class="font-bold actualprint-ordernno">Report Details</h2>
                </div>
            </div>
        </div>
    </div>
    
    <!--Search Order section end here-->
    <div class="modal fade custom-model zindex999999" id="addConfirmationModal" role="dialog">
        <div class="modal-dialog top75 width314">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="border-top-bottom-popup">
                    <h5 class="pad-lft-right-30" style="padding:0px 10px 0px 10px;">Report Process
                        <button type="button" id="close-popup" class="close-icon" (click)="closePopup()" data-dismiss="modal" style="padding:0px;">&#10006;</button>
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="new-batch-num-popup">
                        <span>{{succMSg}}</span>
                    </div>
                </div>
            </div>
            <!-- Modal Content End -->
        </div>
    </div>
    
    <div class="hidden-sm hidden-md hidden-lg">
        <div class="row pad-lft-right-15 padd-top-11">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                <div class="error-message-container">
                    <div class="categories">
                        <div class="alert alert-info text-center error-message">
                            <strong>Sorry, Report functionality is available only on desktop view.
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <!--Print HTML -->
    <div class='print_only' id="printHeader" [hidden]="printHeader">
        <div class="row dashboard-heading-div">
            <div class="col-xs-12">
                <img class="logo_print" src="{{whoImgUrl}}print_logo.png" alt="Morrisons logo">
                <h2 class="font-bold actualprint-ordernno">Product Identification</h2>
            </div>
        </div>
    </div>
    
    <div class="table-responsive table-block margintop15 max-height350" id="hiddenDivForExport" [hidden]="printHeader">
        <table border=1>
            <thead class="bg-white">
                <tr>
                    <th>Date and Time</th>
                    <th>File Name</th>
                    <th>Status</th>
                    <th>Input Parameters</th>
                    <th>Requested By</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let report of reportDataDownload;let i=index" class="order-number-table">
                    <td>{{report.createdDate}}</td>
                    <td>{{report.reportName}}</td>
                    <td *ngIf="report.reportStatus">{{report.reportStatus}}</td>
                    <td *ngIf="!report.reportStatus">-</td>
                    <td *ngIf="report.inputParams">{{report.inputParams}}</td>
                    <td *ngIf="!report.inputParams">-</td>
                    <td *ngIf="report.createdBy">{{report.createdBy}}</td>
                    <td *ngIf="!report.createdBy">-</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Print HTML Ends -->
    
    <div class="modal fade custom-model zindex999999" id="addConfirmationModal" role="dialog">
        <div class="modal-dialog top75 width314">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="border-top-bottom-popup">
                    <h5 class="pad-lft-right-30"  style="padding:0px 10px 0px 10px;">Report Process
                        <button type="button" id="close-popup" aria-label="Close" class="close close-icon" data-dismiss="modal" style="padding:0px;">&#10006;</button>
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="new-batch-num-popup">
                        <span>{{succMSg}}</span>
                    </div>
                </div>
            </div>
            <!-- Modal Content End -->
        </div>
    </div>
    
    <div class="modal fade custom-model zindex999999" id="downloadInProgress" role="dialog">
        <div class="modal-dialog width-455">
            <!-- Modal content-->
            <div class="modal-content mdl-content">
                <div class="">
                    <button type="button" class="close table-close top16" (click)="closeInProgressDownload()">Close &#10006;</button>
                </div>
                <div class="modal-body ">
                    <h4 class="prdct-succs">In Progress...</h4>
                </div>
            </div>
            <!-- Modal Content End -->
        </div>
    </div>
    
    <div class="modal fade custom-model zindex999999" id="dateSpan" role="dialog">
        <div class="modal-dialog width-455">
            <!-- Modal content-->
            <div class="modal-content mdl-content">
                <div class="">
                    <button type="button" class="close table-close top16" (click)="closedateSpan()">Close &#10006;</button>
                </div>
                <div class="modal-body ">
                    <h4 class="prdct-succs">Maximum allowed date range is {{rangeDateVal}} days.</h4>
                </div>
            </div>
            <!-- Modal Content End -->
        </div>
    </div>
    
    <div class="modal fade custom-model zindex999999" id="reportInProgress" role="dialog">
        <div class="modal-dialog width-455">
            <!-- Modal content-->
            <div class="modal-content mdl-content">
                <div class="">
                    <button type="button" class="close table-close top16" (click)="closeReportProgress()">Close &#10006;</button>
                </div>
                <div class="modal-body ">
                    <h4 class="prdct-succs">{{errorMessage}}</h4>
                </div>
            </div>
            <!-- Modal Content End -->
        </div>
    </div>
    
    <div class="modal fade custom-model zindex999999" id="timeElapse" role="dialog">
        <div class="modal-dialog width-455">
            <!-- Modal content-->
            <div class="modal-content mdl-content">
                <div class="">
                    <button type="button" class="close table-close top16" (click)="closeTimeElapse()">Close &#10006;</button>
                </div>
                <div class="modal-body ">
                    <h4 class="prdct-succs">{{errorMessage}}</h4>
                </div>
            </div>
            <!-- Modal Content End -->
        </div>
    </div>
    <div class="modal fade custom-model zindex9999991" id="popup_SessionExpired" role="dialog">
        <div class="modal-dialog top75 width314">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="border-top-bottom-popup">
                    <h5 class="padd-left-right-10">Session terminated<button type="button" id="close-popup" class="close close-icon" data-dismiss="modal" (click)="closePopupp()">&#10006;</button>
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="new-batch-num-popup">
                        <!-- <span>{{msgJSON.message}}</span> -->
                        <span>Session has been terminated - please log in again.</span>
                    </div>
                </div>
                <div class="modal-footer border-top-grey-1">
                    <div class="text-right">
                        <button class="btn btn-default npr-popup-btn" type="button" (click)="closePopup()">OK</button>
                    </div>
                </div>
            </div>
            <!-- Modal Content End -->
        </div>
    </div>