<!--Search Order section start here-->
<!-- Breadcrumb start here-->
<div class="hidden-xs hidden-sm mvp_bradcrumb">
    <div class="container">
        <div class="col-xs-12 breadcrumb product-breadcrumb">
            <a [routerLink]="['/customerselection']">
                <span class="bradcrumb-text">Home</span>
            </a>/
            <a [routerLink]="['/cataloguemanagement', customerName]">
                <span class="bradcrumb-text">Catalogue Management</span>
            </a>/
            <a [routerLink]="['/cataloguemanagement', customerName]">
                <span class="bradcrumb-text">Full Range Export</span>
            </a>/
            <span class="bradcrumb-text bold">Supply Chain Team Review</span>
        </div>
    </div>
</div>

<!--Search Order section start here-->
<div class="mmbborder" id="circle-box-border"></div>
<!-- Only Show in Mobile View -->
<catalogue-management-pending-request-header></catalogue-management-pending-request-header>


<!--Search order heading section end here-->
<div class="hidden-xs padd-btm-50 bgcolor-grey padd-top-10 min-height600">
    <div class="container bgcolor-white border-top-bottom margintop25">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <h4 class="dis-inlineblc">Lines Requiring Supply Chain Team Review</h4>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 " *ngIf="supplychainDatatLength > 0 && !noDataFound">
                <div class="pull-right padd-top-10 text-right">
                    <!-- Print Icon code starts here -->
                    <span class="padd-left10 cursor-pointer" tooltip="Only records that have been fetched and displayed on screen by “paging through”" tooltipPlacement="bottom" (click)="printOrder()">
                        <img src="{{whoImgUrl}}IconPrint.svg" class="img-responsive dis-inlineblc img-width padd-right5">Print
                    </span>
                    <!-- Print Icon code ends here -->
                    <!-- Download Icon code starts here -->
                    <span class="padd-left10 padd-right20 cursor-pointer"  tooltip="Only records that have been fetched and displayed on screen by “paging through”" tooltipPlacement="bottom" (click)="exportData()">
                        <img src="{{whoImgUrl}}IconDownload.svg" class="img-responsive dis-inlineblc img-width padd-right5">Download
                    </span>
                    <!-- Download Icon code ends here -->
                </div>
            </div>
        </div>
    </div>
    <form role="form" #supplychain="ngForm" name="supplychain" class="" (submit)="updateSupplychain(supplychain.value)">

        <div class="container bgcolor-white" id="supplyContainer" *ngIf="supplychainDatatLength > 0 && !noDataFound">

            <div class="pad-lft-right-15">
                <div class="row bgcolor-white" id="supplyChainContainer">

                    <div id="exTab2" class="margin-top30">

                        <ul class="nav nav-tabs nav-tabs-top-border">
                            <li class="active">
                                <a href="#Main" data-toggle="tab">Main
                                    <sup class="padd-left5">
                                        <span class="badge badge-danger"></span>
                                    </sup>
                                </a>
                            </li>
                            <li>
                                <a href="#Additional" data-toggle="tab">Additional
                                    <sup class="padd-left5">
                                        <span class="badge badge-danger"></span>
                                    </sup>
                                </a>
                            </li>
                            <li>
                                <a href="#Warehouse" data-toggle="tab">Warehouse Groups
                                    <sup class="padd-left5">
                                        <span class="badge badge-danger"></span>
                                    </sup>
                                </a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="Main">
                                <div class="table-responsive table-block margintop20 max-height270 pos-inherit" infinite-scroll [infiniteScrollDistance]="2"
                                    [infiniteScrollThrottle]="300" [scrollWindow]="false" (scrolled)="onScrollDown()">
                                    <table class="table search-result-table table-hover popup-table-border table-striped " id="nprDataTbl">
                                        <thead class="bg-white">
                                            <tr>
                                                <th>VendorSKU</th>
                                                <th class="wdt197">Description</th>
                                                <th class="border-left border-top">Product Life</th>
                                                <th class="border-left-light border-top">Fresh</th>
                                                <th class="border-left-light border-top">Pantry</th>
                                                <th class="border-left-light border-top">Core</th>
                                                <th class="border-left-light border-top">PN Hub</th>
                                                <th class="border-left-light border-top">PN Node</th>
                                                <th class="border-left-light border-top">Order Cycles</th>
                                                <th class="border-left-light border-right border-top">Ranged</th>
                                                <th>Approve</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let supplyChainRow of supplychainData;let i=index">
                                                <td>
                                                    <span>{{supplyChainRow.vendorSKU}}</span>
                                                    <input type="hidden" class="form-control" value="supplyChainRow.vendorSKU" id="venderSku{{i}}" name="venderSku{{i}}" [(ngModel)]="supplyChainRow.vendorSKU">
                                                </td>
                                                <td class="green wdt197">
                                                    {{supplyChainRow.itemDesc}}
                                                </td>
                                                <td class="border-left"> {{supplyChainRow.supplyChainTeam.main.productShelfLife}} </td>
                                                <td class="border-left-light ">
                                                    <div class="col-md-12 col-sm-12 col-lg-12 pad-left-right">
                                                        <span class="up_arrow glyphicon glyphicon-menu-down top9px right0"></span>
                                                        <select class="form-control border-radius0" id="availableToFresh{{i}}" name="availableToFresh{{i}}" (change)="onChange()" [(ngModel)]="supplyChainRow.availableToFresh"
                                                            required>
                                                            <option *ngFor="let i of selectStatus" [value]="i.value" [attr.selected]="i.value == supplyChainRow.availableToFresh ? true : null">{{i.status}}</option>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td class="border-left-light">
                                                    <div class="col-md-12 col-sm-12 col-lg-12 pad-left-right">
                                                        <span class="up_arrow glyphicon glyphicon-menu-down top9px right0"></span>
                                                        <select class="form-control border-radius0" id="availableToPantry{{i}}" name="availableToPantry{{i}}" (change)="onChange()" [(ngModel)]="supplyChainRow.availableToPantry"
                                                            required>
                                                            <option *ngFor="let i of selectStatus" [value]="i.value" [attr.selected]="i.value == supplyChainRow.availableToPantry ? true : null">{{i.status}}</option>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td class="border-left-light">
                                                    <div class="col-md-12 col-sm-12 col-lg-12 pad-left-right">
                                                        <span class="up_arrow glyphicon glyphicon-menu-down top9px right0"></span>
                                                        <select class="form-control border-radius0" id="availableToCore{{i}}" name="availableToCore{{i}}" (change)="onChange()" [(ngModel)]="supplyChainRow.availableToCore"
                                                            required>
                                                            <option *ngFor="let i of selectStatus" [value]="i.value" [attr.selected]="i.value == supplyChainRow.availableToCore ? true : null">{{i.status}}</option>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td class="border-left-light">
                                                    <div class="col-md-12 col-sm-12 col-lg-12 pad-left-right">
                                                        <span class="up_arrow glyphicon glyphicon-menu-down top9px right0"></span>
                                                        <select class="form-control border-radius0" id="availableToPNHub{{i}}" name="availableToPNHub{{i}}" (change)="onChange()" [(ngModel)]="supplyChainRow.availableToPNHub"
                                                            required>
                                                            <option *ngFor="let i of selectStatus" [value]="i.value" [attr.selected]="i.value == supplyChainRow.availableToPNHub ? true : null">{{i.status}}</option>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td class="border-left-light">
                                                    <div class="col-md-12 col-sm-12 col-lg-12 pad-left-right">
                                                        <span class="up_arrow glyphicon glyphicon-menu-down top9px right0"></span>
                                                        <select class="form-control border-radius0" id="availableToPNNodes{{i}}" name="availableToPNNodes{{i}}" (change)="onChange()" [(ngModel)]="supplyChainRow.availableToPNNodes"
                                                            required>
                                                            <option *ngFor="let i of selectStatusPNNodes" [value]="i.value" [attr.selected]="i.value == supplyChainRow.availableToPNNodes ? true : null">{{i.status}}</option>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td class="border-left-light">
                                                    {{supplyChainRow.supplyChainTeam.main.orderCycles}}
                                                </td>
                                                <td class="border-left-light border-right" *ngIf="supplyChainRow.supplyChainTeam.main.currentlyRanged == 'OFFERED'">
                                                    <!--  {{supplyChainRow.itemDesc}} -->
                                                    <img src="{{whoImgUrl}}iconNo.svg" class="scr-img-dia">
                                                </td>
                                                <td class="border-left-light border-right" *ngIf="supplyChainRow.supplyChainTeam.main.currentlyRanged != 'OFFERED'">
                                                    <!--  {{supplyChainRow.itemDesc}} -->
                                                    <img src="{{whoImgUrl}}iconYes.svg" class="scr-img-dia">
                                                </td>
                                                <td class="display-flex">
                                                    <span class="greenSqrIconToggle mar-left-3">
                                                        <input type="checkbox" value="i" id="greenCheckboxForMainInput{{i}}" name="greenCheckboxForMainInput{{i}}" [(ngModel)]="selectedAllArr[i]"
                                                            (click)="getActivateCheckbox(i,'green','Main')">
                                                        <label for="greenCheckboxForMainInput{{i}}"></label>
                                                    </span>
                                                    <!-- <span class="redSqrIconToggle mar-left-3">
                                                    <input type="radio" value="i" id="redCheckboxForMainInput{{i}}"   name="redCheckboxForMainInput{{i}}" (click)="getActivateCheckbox(i,'red','Main')">
                                                    <label for="redCheckboxForMainInput{{i}}"></label>
                                                </span> -->
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane" id="Additional">
                                <div class="table-responsive table-block margintop20 max-height350 pos-inherit" infinite-scroll [infiniteScrollDistance]="2"
                                    [infiniteScrollThrottle]="300" [scrollWindow]="false" (scrolled)="onScrollDown()">
                                    <table class="table search-result-table table-hover popup-table-border table-striped " id="nprDataTbl">
                                        <thead class="bg-white">
                                            <tr>
                                                <th>VendorSKU</th>
                                                <th class="wdt197">Description</th>
                                                <th class="border-left border-top">Loose</th>
                                                <th class="border-left-light border-top">Short Life</th>
                                                <th class="border-left-light border-top">Delist Planned</th>
                                                <th class="border-left-light border-top">Exclude</th>
                                                <th class="border-left-light border-top">Ignore</th>
                                                <th class="border-left-light border-top">Clipper</th>
                                                <th class="border-left-light border-top">Cinram</th>
                                                <th class="border-left-light border-top">Bunzl</th>
                                                <th class="border-left-light border-top">
                                                    <img tooltip="Do Not Order Flag set." tooltipPlacement="top" src="{{whoImgUrl}}IconQuestion.svg" class="img-responsive dis-inlineblc img-width padd-right5">DNO</th>
                                                <th class="border-left-light border-top">
                                                    <img tooltip="Available but not in SIT (Group 1)." tooltipPlacement="top" src="{{whoImgUrl}}IconQuestion.svg" class="img-responsive dis-inlineblc img-width padd-right5">not SIT</th>
                                                <th class="border-left-light border-top">
                                                    <img tooltip="Available in all six groups." tooltipPlacement="top" src="{{whoImgUrl}}IconQuestion.svg" class="img-responsive dis-inlineblc img-width padd-right5">All Groups</th>
                                                <th class="border-left-light border-top">
                                                    <img tooltip="Last Issue date within 2 weeks." tooltipPlacement="top" src="{{whoImgUrl}}IconQuestion.svg" class="img-responsive dis-inlineblc img-width padd-right5">Last Issue</th>
                                                <th class="border-left-light border-right border-top">
                                                    <img tooltip="Failed all supply check rules" tooltipPlacement="top" src="{{whoImgUrl}}IconQuestion.svg" class="img-responsive dis-inlineblc img-width padd-right5">Other</th>
                                                <th>Approve</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let supplyChainRow of supplychainData;let i=index">
                                                <td>
                                                    <span>{{supplyChainRow.vendorSKU}}</span>
                                                </td>
                                                <td class="green wdt197">
                                                    {{supplyChainRow.itemDesc}}
                                                </td>
                                                <td class="border-left">
                                                    <img src="{{whoImgUrl}}icon{{getValue(supplyChainRow.supplyChainTeam.additional.isLoose)}}.svg" class="scr-img-dia">
                                                </td>
                                                <td class="border-left-light">
                                                    <img src="{{whoImgUrl}}icon{{getValue(supplyChainRow.supplyChainTeam.additional.shortLife)}}.svg" class="scr-img-dia">
                                                </td>
                                                <td class="border-left-light">
                                                    <img src="{{whoImgUrl}}icon{{getValue(supplyChainRow.supplyChainTeam.additional.delistPlanned)}}.svg" class="scr-img-dia">
                                                </td>
                                                <td class="border-left-light">
                                                    <img src="{{whoImgUrl}}icon{{getValue(supplyChainRow.supplyChainTeam.additional.exclude)}}.svg" class="scr-img-dia">
                                                </td>
                                                <td class="border-left-light">
                                                    <img src="{{whoImgUrl}}icon{{getValue(supplyChainRow.supplyChainTeam.additional.ignore)}}.svg" class="scr-img-dia">
                                                </td>
                                                <td class="border-left-light">
                                                    <img src="{{whoImgUrl}}icon{{getValue(supplyChainRow.supplyChainTeam.additional.clipper)}}.svg" class="scr-img-dia">
                                                </td>
                                                <td class="border-left-light">
                                                    <img src="{{whoImgUrl}}icon{{getValue(supplyChainRow.supplyChainTeam.additional.cinram)}}.svg" class="scr-img-dia">
                                                </td>
                                                <td class="border-left-light">
                                                    <img src="{{whoImgUrl}}icon{{getValue(supplyChainRow.supplyChainTeam.additional.bunzl)}}.svg" class="scr-img-dia">
                                                </td>
                                                <td class="border-left-light">
                                                    <img src="{{whoImgUrl}}icon{{getValue(supplyChainRow.supplyChainTeam.additional.dno)}}.svg" class="scr-img-dia">
                                                </td>
                                                <td class="border-left-light">
                                                    <img src="{{whoImgUrl}}icon{{getValue(supplyChainRow.supplyChainTeam.additional.notSit)}}.svg" class="scr-img-dia">
                                                </td>
                                                <td class="border-left-light">
                                                    <img src="{{whoImgUrl}}icon{{getValue(supplyChainRow.supplyChainTeam.additional.allGroups)}}.svg" class="scr-img-dia">
                                                </td>
                                                <td class="border-left-light">
                                                    <img src="{{whoImgUrl}}icon{{getValue(supplyChainRow.supplyChainTeam.additional.lastIssue)}}.svg" class="scr-img-dia">
                                                </td>
                                                <td class="border-left-light border-right">
                                                    <img src="{{whoImgUrl}}icon{{getValue(supplyChainRow.supplyChainTeam.additional.remainingProducts)}}.svg" class="scr-img-dia">
                                                </td>
                                                <td class="display-flex">
                                                    <span class="greenSqrIconToggle mar-left-3">
                                                        <input type="checkbox" value="" id="greenCheckboxForAdditionalInput{{i}}" name="radioAdditional{{i}}" [(ngModel)]="selectedAllArr[i]"
                                                            (click)="getActivateCheckbox(i,'green','Additional')">
                                                        <label for="greenCheckboxForAdditionalInput{{i}}"></label>
                                                    </span>
                                                    <!-- <span class="redSqrIconToggle mar-left-3">
                                                    <input type="radio" value="" id="redCheckboxForAdditionalInput{{i}}" name="radioAdditional{{i}}" (click)="getActivateCheckbox(i,'red','Additional')">
                                                    <label for="redCheckboxForAdditionalInput{{i}}"></label>
                                                </span> -->
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane" id="Warehouse">
                                <div class="table-responsive table-block margintop20 max-height350 pos-inherit" infinite-scroll [infiniteScrollDistance]="2"
                                    [infiniteScrollThrottle]="300" [scrollWindow]="false" (scrolled)="onScrollDown()">
                                    <table class="table search-result-table table-hover popup-table-border table-striped " id="nprDataTbl">
                                        <thead class="bg-white">
                                            <tr>
                                                <th></th>
                                                <th></th>
                                                <th colspan="3" class="border-left border-top txt-center">SIT</th>
                                                <th colspan="3" class="border-left-light border-top txt-center">WAK</th>
                                                <th colspan="3" class="border-left-light border-top txt-center">GAD</th>
                                                <th colspan="3" class="border-left-light border-top txt-center">STO</th>
                                                <th colspan="3" class="border-left-light border-top txt-center">BEL</th>
                                                <th colspan="3" class="border-left-light border-right border-top txt-center">LAT</th>
                                                <th></th>
                                            </tr>
                                            <tr>
                                                <th>VendorSKU</th>
                                                <th class="wdt197">Description</th>
                                                <th class="border-left txt-center">D</th>
                                                <th class="txt-center">P</th>
                                                <th class="txt-center">S</th>
                                                <th class="border-left-light txt-center">D</th>
                                                <th class="txt-center">P</th>
                                                <th class="txt-center">S</th>
                                                <th class="border-left-light txt-center">D</th>
                                                <th class="txt-center">P</th>
                                                <th class="txt-center">S</th>
                                                <th class="border-left-light txt-center">D</th>
                                                <th class="txt-center">P</th>
                                                <th class="txt-center">S</th>
                                                <th class="border-left-light txt-center">D</th>
                                                <th class="txt-center">P</th>
                                                <th class="txt-center">S</th>
                                                <th class="border-left-light txt-center">D</th>
                                                <th class="txt-center">P</th>
                                                <th class="txt-center border-right">S</th>
                                                <th>Approve</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let supplyChainRow of supplychainData;let i=index">
                                                <td>
                                                    <span>{{supplyChainRow.vendorSKU}}</span>
                                                </td>
                                                <td class="green wdt197">
                                                    {{supplyChainRow.itemDesc}}
                                                </td>
                                                <td class="border-left">
                                                    <img src="{{whoImgUrl}}icon{{getValue(supplyChainRow.supplyChainTeam.warehouse.sitDiscontinued)}}.svg" class="scr-img-dia">
                                                </td>
                                                <td class="border-left-light">
                                                    <img src="{{whoImgUrl}}icon{{getValue(supplyChainRow.supplyChainTeam.warehouse.sitPickfaceAssigned)}}.svg" class="scr-img-dia">
                                                </td>
                                                <td class="border-left-light">
                                                    <img src="{{whoImgUrl}}icon{{getValue(supplyChainRow.supplyChainTeam.warehouse.sitStockOnHand)}}.svg" class="scr-img-dia">
                                                </td>
                                                <td class="border-left-light">
                                                    <img src="{{whoImgUrl}}icon{{getValue(supplyChainRow.supplyChainTeam.warehouse.wakDiscontinued)}}.svg" class="scr-img-dia">
                                                </td>
                                                <td class="border-left-light">
                                                    <img src="{{whoImgUrl}}icon{{getValue(supplyChainRow.supplyChainTeam.warehouse.wakPickfaceAssigned)}}.svg" class="scr-img-dia">
                                                </td>
                                                <td class="border-left-light">
                                                    <img src="{{whoImgUrl}}icon{{getValue(supplyChainRow.supplyChainTeam.warehouse.wakStockOnHand)}}.svg" class="scr-img-dia">
                                                </td>
                                                <td class="border-left-light">
                                                    <img src="{{whoImgUrl}}icon{{getValue(supplyChainRow.supplyChainTeam.warehouse.gadDiscontinued)}}.svg" class="scr-img-dia">
                                                </td>
                                                <td class="border-left-light">
                                                    <img src="{{whoImgUrl}}icon{{getValue(supplyChainRow.supplyChainTeam.warehouse.gadPickfaceAssigned)}}.svg" class="scr-img-dia">
                                                </td>
                                                <td class="border-left-light">
                                                    <img src="{{whoImgUrl}}icon{{getValue(supplyChainRow.supplyChainTeam.warehouse.gadStockOnHand)}}.svg" class="scr-img-dia">
                                                </td>
                                                <td class="border-left-light">
                                                    <img src="{{whoImgUrl}}icon{{getValue(supplyChainRow.supplyChainTeam.warehouse.stoDiscontinued)}}.svg" class="scr-img-dia">
                                                </td>
                                                <td class="border-left-light">
                                                    <img src="{{whoImgUrl}}icon{{getValue(supplyChainRow.supplyChainTeam.warehouse.stoPickfaceAssigned)}}.svg" class="scr-img-dia">
                                                </td>
                                                <td class="border-left-light">
                                                    <img src="{{whoImgUrl}}icon{{getValue(supplyChainRow.supplyChainTeam.warehouse.stoStockOnHand)}}.svg" class="scr-img-dia">
                                                </td>
                                                <td class="border-left-light">
                                                    <img src="{{whoImgUrl}}icon{{getValue(supplyChainRow.supplyChainTeam.warehouse.belDiscontinued)}}.svg" class="scr-img-dia">
                                                </td>
                                                <td class="border-left-light">
                                                    <img src="{{whoImgUrl}}icon{{getValue(supplyChainRow.supplyChainTeam.warehouse.belPickfaceAssigned)}}.svg" class="scr-img-dia">
                                                </td>
                                                <td class="border-left-light">
                                                    <img src="{{whoImgUrl}}icon{{getValue(supplyChainRow.supplyChainTeam.warehouse.belStockOnHand)}}.svg" class="scr-img-dia">
                                                </td>
                                                <td class="border-left-light">
                                                    <img src="{{whoImgUrl}}icon{{getValue(supplyChainRow.supplyChainTeam.warehouse.latDiscontinued)}}.svg" class="scr-img-dia">
                                                </td>
                                                <td class="border-left-light">
                                                    <img src="{{whoImgUrl}}icon{{getValue(supplyChainRow.supplyChainTeam.warehouse.latPickfaceAssigned)}}.svg" class="scr-img-dia">
                                                </td>
                                                <td class="border-left-light border-right">
                                                    <img src="{{whoImgUrl}}icon{{getValue(supplyChainRow.supplyChainTeam.warehouse.latStockOnHand)}}.svg" class="scr-img-dia">
                                                </td>
                                                <td class="display-flex">
                                                    <span class="greenSqrIconToggle mar-left-3">
                                                        <input type="checkbox" value="" id="greenCheckboxForWarehouseInput{{i}}" name="radioWarehouse{{i}}" [(ngModel)]="selectedAllArr[i]"
                                                            (click)="getActivateCheckbox(i,'green','Warehouse')">
                                                        <label for="greenCheckboxForWarehouseInput{{i}}"></label>
                                                    </span>
                                                    <!-- <span class="redSqrIconToggle mar-left-3">
                                                    <input type="radio" value="" id="redCheckboxForWarehouseInput{{i}}" name="radioWarehouse{{i}}"  (click)="getActivateCheckbox(i,'red','Warehouse')">
                                                    <label for="redCheckboxForWarehouseInput{{i}}"></label>
                                                </span> -->
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <div class="text-center padd-top-10">
                                    D - Discontinued; P - Pickface assigned; S - Stock on hand
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row padd-btm-15 padd-top-10">
                <div class="col-md-2 col-sm-2 col-lg-2">

                </div>
                <div class="col-md-10 col-sm-10 col-lg-10 text-right">
                    <button class="btn btn-default mar-bottom-1" type="button" (click)="selectAll();">Select All</button>
                    <button class="btn btn-default mar-bottom-1" type="button" (click)="UnselectAll();">Unselect All</button>
                    <button class="btn btn-default npr-popup-btn mar-bottom-1" type="button" (click)="redirect('/cataloguemanagement',customerName)">Cancel</button>
                    <button class="btn btn-default npr-popup-btn mar-bottom-1" type="submit">Save</button>
                </div>
            </div>
        </div>

        <div class="container bgcolor-white" id="supplyContainerErr" *ngIf="supplychainDatatLength == 0 || noDataFound == true">
            <div class="padd-top16">
                <div class="">
                    <div class="error-message-container">
                        <div class="categories">
                            <div class="alert alert-info text-center error-message">
                                <strong>Sorry, No data found at this moment.
                                </strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- loader section start-->
    <div *ngIf="showLoader" class="overlay-load">
        <div class="loader-box-shadow">
            <div class="load-img">
                <img src="{{whoImgUrl}}spinner.svg" class="loader-image" alt="Loader Image" />
                <div>
                    <h6>LOADING</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row pad-lft-right-15 hidden-lg hidden-md hidden-sm ">
    <div class="col-xs-12 col-md-12 col-lg-12 ">
        <div class="error-message-container">
            <div class="categories">
                <div class="alert alert-info text-center error-message">
                    <strong>Sorry, this functionality is available only on desktop view.
                    </strong>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade custom-model zindex999999" id="fullrangeUpdateSuccess" role="dialog">
    <div class="modal-dialog width-455">
        <!-- Modal content-->
        <div class="modal-content mdl-content">
            <div class="">
                <button type="button" class="close table-close top16" (click)="closefullrangeUpdateSuccess()">Close &#10006;</button>
            </div>
            <div class="modal-body ">
                <img class="img-responsive tick" src="{{whoImgUrl}}tick.png">
                <h4 class="prdct-succs">Selected rows for review updated successfully.</h4>
            </div>
        </div>
        <!-- Modal Content End -->
    </div>
</div>
<div class="modal fade custom-model zindex999999" id="fullrangeError" role="dialog">
    <div class="modal-dialog width-455">
        <!-- Modal content-->
        <div class="modal-content mdl-content">
            <div class="">
                <button type="button" class="close table-close top16" (click)="closefullrangeUpdateError()">Close &#10006;</button>
            </div>
            <div class="modal-body ">
                <img class="img-responsive tick" src="{{whoImgUrl}}tick.png">
                <h4 class="prdct-succs">Please select rows to accept.</h4>
            </div>
        </div>
        <!-- Modal Content End -->
    </div>
</div>

<div class='print_only' id="printHeader" [hidden]="printHeader">
    <!--dashboard container section start-->
    <div class="row dashboard-heading-div">
        <div class="col-xs-12">
            <img class="logo_print" src="{{whoImgUrl}}print_logo.png" alt="Morrisons logo">

            <h2 class="font-bold actualprint-ordernno">Lines Requiring Supply Chain Team Review</h2>

        </div>
    </div>
</div>

<div class='print_only' id="exportable" [hidden]="printHeader">
    <div class="row dashboard-heading-div">
        <div class="col-xs-12">
            <h4 class="search-result-heading" h1>Main</h4>
            <table id="mainTbl" border=1>
                <thead>
                    <tr>
                        <th>VendorSKU</th>
                        <th>Description</th>
                        <th>Product Life</th>
                        <th>Fresh</th>
                        <th>Pantry</th>
                        <th>Core</th>
                        <th>PN Hub</th>
                        <th>PN Node</th>
                        <th>Order Cycles</th>
                        <th>Ranged</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let supplyChainRow of supplychainData;let i=index">
                        <td>{{supplyChainRow.vendorSKU}}</td>
                        <td>{{supplyChainRow.itemDesc}}</td>
                        <td> {{supplyChainRow.supplyChainTeam.main.productShelfLife}} </td>
                        <td>{{supplyChainRow.availableToFresh}}</td>
                        <td>{{supplyChainRow.availableToPantry}}</td>
                        <td>{{supplyChainRow.availableToCore}}</td>
                        <td>{{supplyChainRow.availableToPNHub}}</td>
                        <td>{{supplyChainRow.availableToPNNodes}}</td>
                        <td>{{supplyChainRow.supplyChainTeam.main.orderCycles}}</td>
                        <td>{{supplyChainRow.supplyChainTeam.main.currentlyRanged}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row dashboard-heading-div">
        <div class="col-xs-12">
            <h4 class="search-result-heading">Additional</h4>
            <table id="additionalTbl" border=1>
                <thead>
                    <tr>
                        <th>VendorSKU</th>
                        <th>Description</th>
                        <th>Loose</th>
                        <th>Short Life</th>
                        <th>Delist Planned</th>
                        <th>Exclude</th>
                        <th>Ignore</th>
                        <th>Clipper</th>
                        <th>Cinram</th>
                        <th>Bunzl</th>
                        <th>DNO</th>
                        <th>not SIT</th>
                        <th>All Groups</th>
                        <th>Last Issue</th>
                        <th>Other</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let supplyChainRow of supplychainData;let i=index">
                        <td>
                            <span>{{supplyChainRow.vendorSKU}}</span>
                        </td>
                        <td>{{supplyChainRow.itemDesc}}</td>
                        <td>{{getValue(supplyChainRow.supplyChainTeam.additional.isLoose)}}</td>
                        <td>{{getValue(supplyChainRow.supplyChainTeam.additional.shortLife)}}</td>
                        <td>{{getValue(supplyChainRow.supplyChainTeam.additional.delistPlanned)}}</td>
                        <td>{{getValue(supplyChainRow.supplyChainTeam.additional.exclude)}}</td>
                        <td>{{getValue(supplyChainRow.supplyChainTeam.additional.ignore)}}</td>
                        <td>{{getValue(supplyChainRow.supplyChainTeam.additional.clipper)}}</td>
                        <td>{{getValue(supplyChainRow.supplyChainTeam.additional.cinram)}}</td>
                        <td>{{getValue(supplyChainRow.supplyChainTeam.additional.bunzl)}}</td>
                        <td>{{getValue(supplyChainRow.supplyChainTeam.additional.dno)}}</td>
                        <td>{{getValue(supplyChainRow.supplyChainTeam.additional.notSit)}}</td>
                        <td>{{getValue(supplyChainRow.supplyChainTeam.additional.allGroups)}}</td>
                        <td>{{getValue(supplyChainRow.supplyChainTeam.additional.lastIssue)}}</td>
                        <td>{{getValue(supplyChainRow.supplyChainTeam.additional.remainingProducts)}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row dashboard-heading-div">
        <div class="col-xs-12">
            <h4 class="search-result-heading">Warehouse Groups</h4>
            <table id="warehouseTbl" border=1>
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th colspan="3">SIT</th>
                        <th colspan="3">WAK</th>
                        <th colspan="3">GAD</th>
                        <th colspan="3">STO</th>
                        <th colspan="3">BEL</th>
                        <th colspan="3">LAT</th>

                    </tr>
                    <tr>
                        <th>VendorSKU</th>
                        <th>Description</th>
                        <th>D</th>
                        <th>P</th>
                        <th>S</th>
                        <th>D</th>
                        <th>P</th>
                        <th>S</th>
                        <th>D</th>
                        <th>P</th>
                        <th>S</th>
                        <th>D</th>
                        <th>P</th>
                        <th>S</th>
                        <th>D</th>
                        <th>P</th>
                        <th>S</th>
                        <th>D</th>
                        <th>P</th>
                        <th>S</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let supplyChainRow of supplychainData;let i=index">
                        <td>
                            <span>{{supplyChainRow.vendorSKU}}</span>
                        </td>

                        <td>{{supplyChainRow.itemDesc}}</td>
                        <td>{{getValue(supplyChainRow.supplyChainTeam.warehouse.sitDiscontinued)}}</td>
                        <td>{{getValue(supplyChainRow.supplyChainTeam.warehouse.sitPickfaceAssigned)}}</td>
                        <td>{{getValue(supplyChainRow.supplyChainTeam.warehouse.sitStockOnHand)}}</td>
                        <td>{{getValue(supplyChainRow.supplyChainTeam.warehouse.wakDiscontinued)}}</td>
                        <td>{{getValue(supplyChainRow.supplyChainTeam.warehouse.wakPickfaceAssigned)}}</td>
                        <td>{{getValue(supplyChainRow.supplyChainTeam.warehouse.wakStockOnHand)}}</td>
                        <td>{{getValue(supplyChainRow.supplyChainTeam.warehouse.gadDiscontinued)}}</td>
                        <td>{{getValue(supplyChainRow.supplyChainTeam.warehouse.gadPickfaceAssigned)}}</td>
                        <td>{{getValue(supplyChainRow.supplyChainTeam.warehouse.gadStockOnHand)}}</td>
                        <td>{{getValue(supplyChainRow.supplyChainTeam.warehouse.stoDiscontinued)}}</td>
                        <td>{{getValue(supplyChainRow.supplyChainTeam.warehouse.stoPickfaceAssigned)}}</td>
                        <td>{{getValue(supplyChainRow.supplyChainTeam.warehouse.stoStockOnHand)}}</td>
                        <td>{{getValue(supplyChainRow.supplyChainTeam.warehouse.belDiscontinued)}}</td>
                        <td>{{getValue(supplyChainRow.supplyChainTeam.warehouse.belPickfaceAssigned)}}</td>
                        <td>{{getValue(supplyChainRow.supplyChainTeam.warehouse.belStockOnHand)}}</td>
                        <td>{{getValue(supplyChainRow.supplyChainTeam.warehouse.latDiscontinued)}}</td>
                        <td>{{getValue(supplyChainRow.supplyChainTeam.warehouse.latPickfaceAssigned)}}</td>
                        <td>{{getValue(supplyChainRow.supplyChainTeam.warehouse.latStockOnHand)}}</td>
                    </tr>
                    <tr>
                        <TD colspan="8">D - Discontinued; P - Pickface assigned; S - Stock on hand</TD>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>