<!-- Breadcrumb start here-->
<div class="mvp_bradcrumb">
    <div class="container">
        <div class="col-xs-12 breadcrumb product-breadcrumb">
            <a [routerLink]="['/customerselection']">
                <span class="bradcrumb-text">Home</span>
            </a>/
            <a [routerLink]="['/cataloguemanagement', customerName]">
                <span class="bradcrumb-text">Catalogue Management</span>
            </a>/
            <a [routerLink]="['/cataloguemanagement', customerName]">
                <span class="bradcrumb-text">Pricing Review</span>
            </a>/
            <span class="bradcrumb-text bold">Products</span>
        </div>
    </div>
</div>
<!-- Breadcrumb ends here -->

<catalogue-management-pending-request-header></catalogue-management-pending-request-header>


<!-- Body of the page starts here-->
<div class="hidden-xs padd-btm-50 bgcolor-grey padd-top-10 min-height600">
    <div class="container bgcolor-white border-top-bottom margintop25">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <h4 class="dis-inlineblc">Upcoming Pricing Changes And Affected Wholesale Products</h4>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 " *ngIf="productPriceDatalen > 0">
                <div class="pull-right padd-top-10 text-right">
                    <span class="padd-left10  cursor-pointer" tooltip="Only records that have been fetched and displayed on screen by “paging through”"
                        tooltipPlacement="bottom" (click)="printOrder()">
                        <img src="{{whoImgUrl}}IconPrint.svg" class="img-responsive dis-inlineblc img-width padd-right5">Print</span>
                    <span class="padd-left10 padd-right20  cursor-pointer" tooltip="Only records that have been fetched and displayed on screen by “paging through”"
                        tooltipPlacement="bottom" (click)="exportData()">
                        <img src="{{whoImgUrl}}IconDownload.svg" class="img-responsive dis-inlineblc img-width padd-right5">Download</span>
                </div>
            </div>
        </div>
    </div>

    <div class="container bgcolor-white" *ngIf="productPriceDatalen > 0 && !noDataFound">
        <div class="pad-lft-right-15">
            <div class="row bgcolor-white">

                <div class="table-responsive table-block margintop15 max-height350 pos-inherit" id="main-table-container" infinite-scroll
                    [infiniteScrollDistance]="2" [infiniteScrollThrottle]="300" [scrollWindow]="false" (scrolled)="onScrollDown()">
                    <table class="table search-result-table table-hover popup-table-border table-striped " id="nprDataTbl">
                        <thead class="bg-white">
                            <tr>
                                <!-- <th>Pricing Id</th> --> 
                                <th>Trading Group</th>
                                <th>Product Group</th>
                                <th class="supplier-prod-identification-th"> Supplier</th>
                                <th>Proposed Date</th>
                                <th>
                                    <span tooltip="Upcoming changes that were processed earlier" tooltipPlacement="top">
                                        <img src="{{whoImgUrl}}IconQuestion.svg" class="img-responsive img-width padd-right5">
                                    </span> Repeat
                                </th>
                                <th>% Requested</th>
                                <th>Decision</th>
                                <th>Decision Date</th>
                                <th>% Agreed</th>
                                <th>Affected Count</th>
                                <th>Product Details</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- 
                                [hidden]="(showResult == 'All' && (hideRepeat == 'NO' &&  productPrice.pricingRepeat == 'NO') )?false:
                            ((showResult == '0' && productPrice.affectedCount == 0   && productPrice.pricingRepeat=='NO'  )?false:
                            (  showResult == '0' && productPrice.affectedCount == 0 &&  hideRepeat == 'All' &&  (productPrice.pricingRepeat == 'YES' ||productPrice.pricingRepeat == 'NO' ) )?false:
                             ( showResult == 'All' && hideRepeat == 'All'&&  (productPrice.pricingRepeat == 'YES' ||productPrice.pricingRepeat == 'NO' ))
                            ?false:true)"  searchfilter: filterValue : searchVal |
                             -->
                            <tr *ngFor="let productPrice of productPriceData| filtermulti: searchValArr ;let i=index" >

                                <!-- <td>{{productPrice.pricingId}}</td> -->
                                <td>{{productPrice.tradingGroup}}</td>
                                <td>{{productPrice.category}}</td>
                                <td class="supplier-prod-identification-td">{{productPrice.supplier}}</td>
                                <td>{{productPrice.proposedDate}}</td>
                                <td>{{productPrice.pricingRepeat}}</td>
                                <td>{{productPrice.increaseRequested}}</td>
                                <td>{{productPrice.decision}}</td>
                                <td>{{productPrice.decisionDate}}</td>
                                <td>{{productPrice.increaseAgreed}}</td>
                                <td>{{productPrice.affectedCount}}</td>
                                <td>
                                    <a href="" data-toggle="modal" data-target="#productdata" (click)="productPricingPopup(productPrice.pricingId, productPrice.idx)">Products</a>
                                </td>
                                <td class="display-flex">
                                    <span class="greenSqrIconToggle mar-left-3">
                                        <input type="radio" value="Y" id="greenCheckboxForWarehouseInput{{i}}" name="radiowarehouse{{i}}" (click)="getActivateCheckbox(i,'green','Warehouse',productPrice.pricingId)" [ngModel]="productPrice.procuredPricingStatus" >
                                        <label for="greenCheckboxForWarehouseInput{{i}}"></label>
                                    </span>
                                    <span class="redSqrIconToggle mar-left-3">
                                        <input type="radio" value="N" id="redCheckboxForWarehouseInput{{i}}" name="radiowarehouse{{i}}" (click)="getActivateCheckbox(i,'red','Warehouse',productPrice.pricingId)"
                                        [ngModel]="productPrice.procuredPricingStatus" >
                                        <label for="redCheckboxForWarehouseInput{{i}}"></label>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row padd-btm-15 padd-top-10">
                    <div class="col-md-3 col-sm-3 col-lg-3">
                        <label>
                            <b>Only Show Unmatched?</b>
                        </label>
                        <span class="greenSqrIconToggle mar-left-3">
                            <input type="checkbox" value="" id="greenCheckboxForWarehouseInput" name="radiowarehouse" (click)="getActivateCheckbox1('filter')">
                            <label for="greenCheckboxForWarehouseInput"></label>
                        </span>
                    </div>
                    <div class="col-md-3 col-sm-3 col-lg-3 text-center">
                        <label>
                            <b>Hide Repeat</b>
                        </label>
                        <span class="greenSqrIconToggle mar-left-3">
                            <input type="checkbox" value="" id="hideRepeat" checked="check" (click)="getActivateCheckboxForHide('filter')">
                            <label for="hideRepeat"></label>
                        </span>
                    </div>
                    <div class="col-md-3 col-sm-3 col-lg-3 text-center">
                        <label>
                            <b>Only Show Unactioned?</b>
                        </label>
                        <span class="greenSqrIconToggle">
                            <input type="checkbox" value="" id="greenCheckboxForUnactionedInput" name="radiowarehouse" checked="checked" (click)="getActivateCheckboxForUnactioned($event)">
                            <label for="greenCheckboxForUnactionedInput"></label>
                        </span>
                    </div>
                    
                    <div *ngIf="!disablerepricingProductsIdentification" class="col-md-3 col-sm-3 col-lg-3 text-right" [class.disable]="!unsavedChange">
                        <button class="btn btn-default npr-popup-btn mar-bottom-1" type="{{!unsavedChange?'button':'submit'}}" (click)="updateProductPricing()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container bgcolor-white" id="productPriceDatalen" *ngIf="productPriceDatalen == 0 || noDataFound == true">
        <div class="pad-lft-right-15">
            <div class="col-xs-12 col-md-12 col-lg-12 ">
                <div class="error-message-container">
                    <div class="categories">
                        <div class="alert alert-info text-center error-message">
                            <strong>Sorry, No data found at this moment.
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- loader section start-->
    <div *ngIf="showLoader" class="overlay-load">
        <div class="loader-box-shadow">
            <div class="load-img">
                <img src="{{whoImgUrl}}spinner.svg" class="loader-image" alt="Loader Image" />
                <div>
                    <h6>LOADING</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Starts-->
<div class="modal fade custom-model pricing" id="productdata" role="dialog" [hidden]="!printHeader">
    <div class="modal-dialog width85">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="border-top-bottom-popup">
                <h5 class="pad-lft-right-30">Wholesale Products Affected by Proposed Price Change
                    <button type="button" id="close-popup" aria-label="close" class="close close-icon" data-dismiss="modal">&#10006;</button>
                </h5>
            </div>

            <div class="row padd-top-btm-5 padd-left-30 padd-right-30">
                <form role="form" #searchPricing="ngForm" name="searchPricing" class="" (submit)="displaySearchData(searchPricing.value)">
                    <div class="form-inline">
                        <div class="row">
                            <div class="col-sm-12 col-md-11 col-lg-8">
                                <div class="col-sm-5 col-md-5 col-lg-5 padd-bottom10">
                                    <label>Supplier</label>
                                    <input type="text" class="form-control pricingTextBox" maxlength="100" [(ngModel)]="productPriceData[productPriceRowIndex].supplier"
                                        name="manList" id="manList">
                                </div>
                                <div class="col-sm-5 col-md-5 col-lg-5 padd-bottom10 padd-left-0 padd-right-0">
                                    <label>Product Group</label>
                                    <input type="text" class="form-control pricingTextBox" maxlength="100" [(ngModel)]="productPriceData[productPriceRowIndex].category"
                                        name="deptList" id="deptList">
                                </div>
                                <div class="col-sm-2 col-md-2 col-lg-2 padd-bottom10">
                                    <button type="submit" class="btn btn-default npr-popup-btn mar-bottom-1">Search</button>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-2"></div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="row padd-top-25 padd-left-30 padd-right-30" *ngIf="!hideOnLanding">
                <div class="row">
                    <h5 class="search-result-heading-pricing padd-bot20">Search Results</h5>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-12">
                        <div class="table-responsive table-block max-height150">
                            <table class="table search-result-table table-hover popup-table-border table-striped">
                                <thead class="bg-white padd-4-8">
                                    <th width="280px">Legacy PIN-MIN</th>
                                    <th>Description</th>
                                    <th width="60px" class="text-center">Select</th>
                                </thead>
                                <tbody *ngIf="searchResultDataLength > 0">
                                    <tr *ngFor="let searchData of searchResultData;let i=index" class="verti-align-middle">
                                        <td>{{searchData.lpm}}</td>
                                        <td class="green">{{searchData.itemDescription}}</td>
                                        <td class="text-center">
                                            <span class="greenSqrIconToggle mar-left-3">
                                                <input type="checkbox" value="" id="greenCheckboxForBasicInput{{i}}" name="radiowarehouse{{i}}" (click)="getActivateCheckbox(i, 'add','ProductPricing')">
                                                <label for="greenCheckboxForBasicInput{{i}}"></label>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="searchResultDataLength == 0">
                                    <tr class="verti-align-middle">
                                        <td colspan=3 class="text-center">
                                            <div class="alert alert-info">
                                                No Result found
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row padd-top-25 padd-left-30 padd-right-30 padd-bot11">
                <div class="row">
                    <h5 class="search-result-heading-pricing padd-bot20">Selected Products</h5>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-12">
                        <div class="table-responsive table-block max-height150">
                            <table class="table search-result-table table-hover popup-table-border table-striped">
                                <thead class="bg-white padd-4-8">
                                    <th width="280px">Legacy PIN-MIN</th>
                                    <th>Description</th>
                                    <th width="60px" class="text-center">Deselect</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let productPrice of productPricepopupData;let i=index" class="verti-align-middle">
                                        <td *ngIf="productPrice.itemStatus == 'Y'">{{productPrice.vendorSKU}}</td>
                                        <td class="green" *ngIf="productPrice.itemStatus == 'Y'">{{productPrice.itemDesc}}</td>
                                        <td class="text-center" *ngIf="productPrice.itemStatus == 'Y'">
                                            <span class="redSqrIconToggle mar-left-3">
                                                <input type="checkbox" value="" id="redCheckboxForBasicInput{{i}}" name="radiowarehouse{{i}}" (click)="getActivateCheckbox(i, 'remove','ProductPricing')"
                                                    checked="checked">
                                                <label for="redCheckboxForBasicInput{{i}}"></label>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr class="verti-align-middle " *ngIf="productPricepopupData.length == 0">
                                        <td colspan=3 class="text-center">
                                            <div class="alert alert-info">
                                                {{errorMsgPopup}}
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row padd-top-25 padd-left-30 padd-right-30 padd-bot11">
                <div class="row text-right">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                        <button class="btn btn-default npr-popup-btn mar-bottom-1" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Content End -->
    </div>
</div>
<!-- Modal Ends -->
<div class="hidden-sm hidden-md hidden-lg">
    <div class="row pad-lft-right-15 padd-top-11">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <div class="error-message-container">
                <div class="categories">
                    <div class="alert alert-info text-center error-message">
                        <strong>Sorry, Single new product request is available only on desktop view.
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Print HTML starts here -->
<div class='print_only' id="printHeader" [hidden]="printHeader">
    <div class="row dashboard-heading-div">
        <div class="col-xs-12">
            <img class="logo_print" src="{{whoImgUrl}}print_logo.png" alt="Morrisons logo">
            <h2 class="font-bold actualprint-ordernno">Product Identification</h2>
        </div>
    </div>
</div>

<div class="table-responsive table-block margintop15 max-height350" id="hiddenDivForExport" [hidden]="printHeader">
    <table border=1>
        <thead class="bg-white">
            <tr>
                <th>Trading Group</th>
                <th>Product Group</th>
                <th>Supplier</th>
                <th>Proposed Date</th>
                <th>Repeat?</th>
                <th>% Requested</th>
                <th>Decision</th>
                <th>Decision Date</th>
                <th>% Agreed</th>
                <th>Count</th>
                <th>Pricing Review status</th>
                <!-- <th>Legacy-PIN-MIN, Description, Current Base Cost, Proposed Base Cost (Cost in Pound)</th>-->
                <th>
                    <table border=1>
                        <tbody>
                            <tr>
                                <th>Legacy-PIN-MIN</th>
                                <th>Description</th>
                                <th>Current Base Cost </th>
                                <th>Proposed Base Cost (Cost in Pound)</th>
                            </tr>
                        </tbody>
                    </table>

                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let productPrice of productPricePrint;let i=index">
                <td valign="top">{{productPrice.tradingGroup}}</td>
                <td valign="top">{{productPrice.category}}</td>
                <td valign="top">{{productPrice.supplier}}</td>
                <td valign="top">{{productPrice.proposedDate}}</td>
                <td valign="top">{{productPrice.pricingRepeat}}</td>
                <td valign="top">{{productPrice.increaseRequested}}</td>
                <td valign="top">{{productPrice.decision}}</td>
                <td valign="top">{{productPrice.decisionDate}}</td>
                <td valign="top">{{productPrice.increaseAgreed}}</td>
                <td valign="top">{{productPrice.affectedCount}}</td>
                <td valign="top" *ngIf="productPrice.procuredPricingStatus == 'Y'">Y</td>
                <td valign="top" *ngIf="productPrice.procuredPricingStatus == 'N'">N</td>
                <td valign="top" *ngIf="(productPrice.procuredPricingStatus != 'N' && productPrice.procuredPricingStatus != 'Y')"></td>
                <td valign="top">
                    <table border=1>
                        <tbody>
                            <tr *ngFor="let productPriceDtl of productPrice.pricingDetails">
                                <td valign="top">{{productPriceDtl.vendorSKU}}</td>
                                <td valign="top">{{productPriceDtl.itemDesc}}</td>
                                <td valign="top">
                                    {{productPriceDtl.cost_price}}
                                </td>
                                <td valign="top">
                                    {{productPriceDtl.proposed_cost}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Print HTML ends here -->
<div class="modal fade custom-model zindex999999" id="PricingUpdateSuccess" role="dialog">
    <div class="modal-dialog width-455">
        <!-- Modal content-->
        <div class="modal-content mdl-content">
            <div class="">
                <button type="button" class="close table-close top16" (click)="closePricingUpdateSuccess()">Close &#10006;</button>
            </div>
            <div class="modal-body ">
                <img class="img-responsive tick" src="{{whoImgUrl}}tick.png">
                <h4 class="prdct-succs">Pricing info saved successfully.</h4>
            </div>
        </div>
        <!-- Modal Content End -->
    </div>
</div>
<!-- Body of the page ends here -->
<div class="modal fade custom-model zindex9999991" id="popup_SessionExpired" role="dialog">
    <div class="modal-dialog top75 width314">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="border-top-bottom-popup">
                <h5 class="padd-left-right-10">Session terminated
                    <button type="button" id="close-popup" class="close close-icon" data-dismiss="modal" (click)="closePopup()">&#10006;</button>
                </h5>
            </div>
            <div class="modal-body">
                <div class="new-batch-num-popup">
                    <!-- <span>{{msgJSON.message}}</span> -->
                    <span>Session has been terminated - please log in again.</span>
                </div>
            </div>
            <div class="modal-footer border-top-grey-1">
                <div class="text-right">
                    <button class="btn btn-default npr-popup-btn" type="button" (click)="closePopup()">OK</button>
                </div>
            </div>
        </div>
        <!-- Modal Content End -->
    </div>
</div>