<div id="stickyContainer">
    <div class="mvp_bradcrumb">
        <div class="container">
            <div class="col-xs-12 breadcrumb product-breadcrumb">
                <a [routerLink]="['/customerselection']">
                    <span class="bradcrumb-text">Home</span>
                </a>/
                <a [routerLink]="['/orders', customerName]">
                    <span class="bradcrumb-text">Orders</span>
                </a>/
                <span class="bradcrumb-text bold">Sales Order Search</span>
            </div>
        </div>
    </div>
    <div class="mmbborder" id="circle-box-border"></div>
    <div class="sticky" id="sticky1">
        <div class="container">
            <div class="row mobile-marginzero search-order-row btm-bdr" id="search-box-border">
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 desktop-paddzero mobile-paddzero">
                    <div class="product-i">
                        <img src="{{imgName}}" class="img-responsive product-img pull-left">
                        <h3 class="{{style}}">{{customerDispayName}}</h3>
                        <a [class.hidden]="disabledCusChange ? true : null" (click)="toggleOrganisation();" class="Product-title-anchor">Change Customer
                            <span class="search-arrow-product">
                                <i id="changeIcon" class="glyphicon glyphicon-menu-down small-arrow-up"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 help-link-div padding-zero">
                    <main-navigation-menu #navIcons></main-navigation-menu>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row desktop-marginzero" [hidden]="hideOrganisation">
                <div class="advanced-search-page text-center">
                    <ul class="product-circle">
                        <li *ngFor="let organisation of organisationListChange;let i=index" [class.hidden]="organisation.customerName=='All_Wholesale_Customers' || organisation.customerName =='kens'"  (click)="changeOrgType('/orders', organisation.customerName); navIcons.reloadNavigation(organisation.orgType);">
                            <a>
                                <img src="{{getCustomerImage(organisation.customerName)}}" class="img-responsive" alt="{{organisation.customerName}}"
                                />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
 </div>
</div>
<div class="container">
 <div class="row desktop-marginzero">
        <div class="col-xs-12 desktop-paddzero fix-height">
            <h4 class="orders-heading">Sales Orders</h4>
            <div class="row margin-zero">
                <div class="col-xs-12 search-order-div desktop-paddzero mobile-paddzero btborder blockmarginbt" id="search-order-border">
                    <div class="col-xs-12 xspadding">
                        <h4 class="search-order-heading hidden-xs">Search Criteria for Sales Orders</h4>
                        <p class="search-criteria-text">
                            Enter the Sales Order Number in the search field or select Advanced search for detailed search criteria
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 padding-right-zero search-section xspadding" id="messageTypeDiv" *ngIf="customerName.toUpperCase() == 'AMAZON'">
                        <label for="searchBy">Search By</label>
                        <span class="up_arrow glyphicon glyphicon-menu-down rt10"></span>
                        <select class="form-control" id="messageType" [(ngModel)]="messageType" name="messageType" (change)="onChange($event)">
                            <option *ngFor="let i of channelList" [value]="i.value">{{i.name}}</option>
                        </select>
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 padding-right-zero search-section xspadding" id="channelSubTypeDiv" *ngIf="customerName.toUpperCase() == 'AMAZON'">
                        <label for="searchBy">Channel sub-type: </label>
                        <span class="up_arrow glyphicon glyphicon-menu-down rt10"></span>
                        <select class="form-control" id="channelSubType" [(ngModel)]="channelSubType" name="channelSubType" [disabled]="messageType != 'Non-OF'">
                            <option value="All" [selected]="messageType != 'Non-OF'">All</option>
                            <option *ngFor="let channel of channelSubTypeList" [value]="channel.value">{{channel.name}}</option>
                        </select>
                    </div>
                    <form role="form" #singleorder="ngForm" name="singleorder" class="" (submit)="getSingleOrder(singleorder.value)">

                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 padding-right-zero search-section xspadding" id="getOrderDiv">
                            <label for="orderno" class="hidden-xs">Sales Order Number</label>
                            <label for="orderno" class="hidden-sm hidden-md hidden-lg">Search by Sales Order Number</label>
                            <div class="input-group hidden-xs" id="orderIdSearch">
                                <input type="text" class="form-control order-no-form" id="orderno" name="orderno" [(ngModel)]="orderno" (keypress)="keyPress($event)"
                                    required maxlength="25" (ngModelChange)="eventHandler($event,1)" (keyup.enter)="getSingleOrder(singleorder.value)"
                                />
                                <div class="input-group-btn">
                                    <button class="btn btn-default order-no-btn" type="submit">
                                        <i class="glyphicon glyphicon-search search-icon"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="input-group hidden-sm hidden-md hidden-lg" id="orderIdSearchMob">
                                <input type="text" class="form-control order-no-form" id="orderno" name="orderno" [(ngModel)]="orderno" (keypress)="keyPress($event)"
                                    required maxlength="25" (ngModelChange)="eventHandler($event,1)" (keyup.enter)="getSingleOrder(singleorder.value)"
                                />
                                <div class="input-group-btn">
                                    <button class="btn btn-default order-no-btn" type="submit">
                                        <i class="glyphicon glyphicon-search search-icon"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form role="form" #singleorder1="ngForm" name="singleorder1" class="" (submit)="getProductSearchResult(singleorder1.value)">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 padding-right-zero search-section xspadding" id="getProductDiv">
                            <label for="productcode" class="hidden-xs">Product Code</label>
                            <label for="productcode" class="hidden-sm hidden-md hidden-lg">Search by Product code</label>
                            <div class="input-group hidden-xs" id="productcodeSearch">
                                <input type="text" class="form-control order-no-form" id="productcode" name="productcode" [(ngModel)]="productcode" required
                                    maxlength="25" (keypress)="keyPress($event)" (ngModelChange)="eventHandler($event,2)" (keyup.enter)="getProductSearchResult(singleorder1.value)"
                                />
                                <div class="input-group-btn">
                                    <button class="btn btn-default order-no-btn" type="submit">
                                        <i class="glyphicon glyphicon-search search-icon"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="input-group hidden-sm hidden-md hidden-lg" id="productcodeSearchMob">
                                <input type="text" class="form-control order-no-form" id="productcode" name="productcode" [(ngModel)]="productcode" (keypress)="keyPress($event)"
                                    required maxlength="25" (ngModelChange)="eventHandler($event,2)" (keyup.enter)="getProductSearchResult(singleorder1.value)"
                                />
                                <div class="input-group-btn">
                                    <button class="btn btn-default order-no-btn" type="submit">
                                        <i class="glyphicon glyphicon-search search-icon"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                        <a (click)="toggleAdvSearch()" class="advanced-search-link hidden-xs">Advanced Search
                            <span class="search-arrow hidden-xs">
                                <i id="advSearchIcon" class="glyphicon glyphicon-menu-down small-arrow-down"></i>
                            </span>
                        </a>
                        <a (click)="mobAdvSearch()" class="advanced-search-link hidden-sm hidden-md hidden-lg" data-toggle="modal" data-target="#myModal">Advanced Search</a>
                    </div>
                    <div [hidden]="advSearch">
                        <span class="caret carret-custom hidden-xs" id="up-arrow"></span>
                    </div>
                    <div class="modal fade hidden-lg hidden-sm hidden-md" id="myModal" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" id="advSearchClose" class="close table-close" data-dismiss="modal">Close &#10006;</button>
                                    <h4 class="modal-title">Advanced Search</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="col-xs-12 adv-search-div model-mbmargin">
                                        <form role="form" #orderSearch="ngForm" name="orderSearch" class="" (submit)="getReleventOrders(orderSearch.value)">
                                            <div class="col-xs-12 ">
                                                <h4 class="search-order-heading hidden-xs">Advance Search Criteria for Sales Orders</h4>
                                                <p class="search-criteria-text text-red padd-tb5">
                                                    <sup>*</sup>Selecting atleast 1 field is mandatory from Order Date, Status,
                                                    Shipped To, Delivery Date and Invoice ID.
                                                    <br> Maximum 2 fields to be selected.
                                                </p>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="col-xs-12">
                                                <div class="err-msg" *ngIf="errorMsg">
                                                    <div class="alert alert-danger text-center error-message fontsize12">
                                                        <i class="glyphicon glyphicon-alert"></i> &nbsp;&nbsp;
                                                        <strong>Select atleast 1 field from Order Date, Status, Shipped To, Delivery Date and Invoice
                                                            ID.
                                                        </strong>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 dashed-border">


                                                <div class="input-group col-xs-12 col-sm-12">

                                                    <div class="form-group paddt10">
                                                        <label for="orderdatefrommob">Order Date:</label>
                                                        <div (click)="toggaleCalender(1)" id="orderdateshowmob" class="input-group calendar-input-grp">
                                                            <input placeholder="DD/MM/YYYY" [ngModel]="orderdate | date:'dd/MM/yyyy'" id="orderdateinput" name="orderdatefrommob" readonly
                                                                class="form-control selectdate" required>
                                                            <span class="input-group-addon calendar-addon" (click)="showPopup()" id="orderdateinput">
                                                                <i class="glyphicon glyphicon-calendar cust-calender" id="orderdateinput"></i>
                                                            </span>
                                                        </div>
                                                        <div id="orderDatePickerMob">
                                                            <datepicker [ngClass]="{'hide': !showDatepicker}" id="orderdateinput" name="orderdateinput" [(ngModel)]="orderdate" [maxDate]="maxDate"
                                                                (selectionDone)="onKeypress($event, 6);toggaleCalender(1);" [onlyCurrentMonth]=true></datepicker>

                                                            <div class="clearfix">

                                                                <div class="text-center padd-btm-8">
                                                                    <button [ngClass]="{'hide': !showDatepicker}" type="button" class="btn btn-sm btn-green" (click)="clear(1);onKeypress('', 6)">Clear</button>
                                                                </div>
                                                            </div>

                                                        </div>
                                                     </div>
                                                    <div class="form-group">

                                                        <label for="statusmob">Status:</label>
                                                        <span class="up_arrow glyphicon glyphicon-menu-down"></span>
                                                        <select class="form-control" id="statusmob" [(ngModel)]="status" (ngModelChange)="onKeypress($event,2)" name="statusmob"
                                                            [disabled]="statusshow">
                                                            <option *ngFor="let i of selectStatus" [value]="i.value" [attr.selected]="i.value == status ? true : null">{{i.status}}</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="shiptomob">Shipped To:</label>
                                                        <input type="text" class="form-control" #myvalshiptomob id="shiptomob" (ngModelChange)="onKeypress(myvalshiptomob.value, 3)"
                                                            (keyup)="onKeypress(myvalshiptomob.value, 3)" name="shiptomob" maxlength="15"
                                                            (keypress)="keyPress($event)" [(ngModel)]="shipto" [disabled]="shiptoshow"
                                                        />
                                                    </div>
                                                    <div class="form-group">

                                                        <label for="deliverydatefrommob">Delivery Date:</label>

                                                        <div (click)="toggaleCalender(2)" id="deliverydateshowmob" class="input-group calendar-input-grp">

                                                            <input placeholder="DD/MM/YYYY" [ngModel]="deliverydate | date:'dd/MM/yyyy'" id="deliverydatefrom" name="deliverydatefrommob"
                                                                readonly class="form-control selectdate">
                                                            <span class="input-group-addon calendar-addon" (click)="showPopup()" id="deliverydatefrom">
                                                                <i class="glyphicon glyphicon-calendar cust-calender" id="deliverydatefrom"></i>
                                                            </span>
                                                        </div>
                                                        <div id="deliveryDatePickerMob">
                                                            <datepicker [ngClass]="{'hide': !showDatepicker}" class="popup" id="deliverydateinputmob" name="deliverydateinputmob" [(ngModel)]="deliverydate"
                                                                [maxDate]="myDate" (selectionDone)="onKeypress($event, 4);toggaleCalender(2);"
                                                                [onlyCurrentMonth]=true></datepicker>
                                                            <div class="clearfix">
                                                                <div class="text-center padd-btm-8">
                                                                    <button [ngClass]="{'hide': !showDatepicker}" type="button" class="btn btn-sm btn-green" (click)="clear(2);onKeypress('', 4)">Clear</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="invoiceIdMob">Invoice ID:</label>
                                                        <input type="text" class="form-control" #myvalinvoiceIdMob id="invoiceIdMob" name="invoiceIdMob" [(ngModel)]="invoiceId"
                                                            maxlength="15" (ngModelChange)="onKeypress(myvalinvoiceIdMob.value, 5)"
                                                            (keyup)="onKeypress(myvalinvoiceIdMob.value, 5)" (keypress)="keyPress($event)"
                                                            [disabled]="invoiceIdshow" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <div class="input-group col-xs-12 col-sm-12">
                                                    <div class="form-group">

                                                        <label for="invoicedatefrommob">Invoice Date:</label>

                                                        <div (click)="toggaleCalender(3)" id="invoicedateshowmob" class="input-group calendar-input-grp">

                                                            <input placeholder="DD/MM/YYYY" [ngModel]="invoicedate | date:'dd/MM/yyyy'" id="invoicedateinput" name="invoicedatefrommob"
                                                                readonly class="form-control selectdate" required>
                                                            <span class="input-group-addon calendar-addon" (click)="showPopup()" id="invoicedateinput">
                                                                <i class="glyphicon glyphicon-calendar cust-calender" id="invoicedateinput"></i>
                                                            </span>



                                                        </div>
                                                        <div id="invoiceDatePickerMob">

                                                            <datepicker id="invoicedateinput" name="invoicedateinput" [(ngModel)]="invoicedate" [maxDate]="maxDate" (selectionDone)="onKeypress($event, 7);toggaleCalender(3);"
                                                                [onlyCurrentMonth]=true>
                                                            </datepicker>
                                                            <div class="clearfix">

                                                                <div class="text-center padd-btm-8">
                                                                    <button type="button" class="btn btn-sm btn-green" (click)="clear(3);onKeypress('', 7)">Clear</button>
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>
                                                    <div class="form-group">

                                                        <label for="shipfrommob">Shipped From:</label>


                                                        <input type="text" class="form-control" #myvalshipfrommob id="shipfrommob" (ngModelChange)="onKeypress(myvalshipfrom.value, 8)"
                                                            (keyup)="onKeypress(myvalshipfrom.value, 8)" name="shipfrommob" maxlength="15"
                                                            (keypress)="keyPress($event)" [(ngModel)]="shipfrom" [disabled]="shipfromshow"
                                                        />

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 model-padd">
                                                    <button type="submit" id="adv-search-mob" class="btn pull-right search-button search-btn-black">
                                                    ADVANCED SEARCH
                                                    <span class="brd-left-white">
                                                        <span class="glyphicon glyphicon-search search-icon pull-right"></span>
                                                    </span>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 adv-search-div mbform-none" [hidden]="advSearch">
                        <div class="col-xs-12 xspadding">
                            <h4 class="search-order-heading hidden-xs">Advance Search Criteria for Sales Orders</h4>
                            <p class="search-criteria-text text-red padd-tb5">
                                <sup>*</sup>Selecting atleast 1 field is mandatory from Order Date, Status, Shipped To, Delivery
                                Date and Invoice ID.
                                <br> Maximum 2 fields to be selected.
                            </p>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-xs-12 xspadding">
                            <div class="err-msg" *ngIf="errorMsg">
                                <div class="alert alert-danger text-center error-message">
                                    <i class="glyphicon glyphicon-alert"></i> &nbsp;&nbsp;
                                    <strong>Select atleast 1 field from Order Date, Status, Shipped To, Delivery Date and Invoice ID.</strong>
                                </div>
                            </div>
                        </div>

                        <form role="form" #orderSearch="ngForm" name="orderSearch" class="" (submit)="getReleventOrders(orderSearch.value)">
                            <div class="row equal">
                                <div class="col-xs-12 col-sm-6 dashed-border desktop-paddzero mobile-paddzero">

                                    <div class="col-xs-12 col-sm-12  form-group calendar-form-group">
                                        <label for="orderdatefrom">Order Date:</label>
                                        <div (click)="toggaleCalender(1)" id="orderdateshow" class="input-group calendar-input-grp">
                                            <input placeholder="DD/MM/YYYY" [ngModel]="orderdate | date:'dd/MM/yyyy'" id="orderdateinput" name="orderdatefrom" readonly
                                                (keyup.enter)="getReleventOrders(orderSearch.value)" class="form-control selectdate"
                                                required>
                                            <span class="input-group-addon calendar-addon" (click)="showPopup()" id="orderdateinput">
                                                <i class="glyphicon glyphicon-calendar cust-calender" id="orderdateinput"></i>
                                            </span>
                                        </div>
                                        <div id="orderDatePicker">
                                            <datepicker [ngClass]="{'hide': !showDatepicker}" id="orderdateinput" name="orderdateinput" [(ngModel)]="orderdate" [maxDate]="maxDate"
                                                (selectionDone)="onKeypress($event, 6);toggaleCalender(1);" [onlyCurrentMonth]=true></datepicker>
                                            <div class="clearfix">
                                                <div class="text-center padd-btm-8">
                                                    <button [ngClass]="{'hide': !showDatepicker}" type="button" class="btn btn-sm btn-green" (click)="clear(1);onKeypress('', 6)">Clear</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 form-group">
                                        <label for="status">Status:</label>
                                        <span class="up_arrow glyphicon glyphicon-menu-down"></span>
                                        <select class="form-control" id="status" [(ngModel)]="status" (ngModelChange)="onKeypress($event,2)" name="status" [disabled]="statusshow"
                                            (keyup.enter)="getReleventOrders(orderSearch.value)">
                                            <option *ngFor="let i of selectStatus" [value]="i.value" [attr.selected]="i.value === status ? true : null">{{i.status}}</option>
                                        </select>

                                    </div>

                                    <div class="col-xs-12 col-sm-12 form-group">
                                        <label for="shipto">Shipped To:</label>


                                        <input type="text" class="form-control" #myvalshipto id="shipto" (ngModelChange)="onKeypress(myvalshipto.value, 3)" (keyup)="onKeypress(myvalshipto.value, 3)"
                                            name="shipto" maxlength="15" (keypress)="keyPress($event)" [(ngModel)]="shipto" [disabled]="shiptoshow"
                                            (keyup.enter)="getReleventOrders(orderSearch.value)" />

                                    </div>
                                    <div class="col-xs-12 col-sm-12  form-group calendar-form-group">
                                        <label for="deliverydatefrom">Delivery Date:</label>

                                        <div (click)="toggaleCalender(2)" id="deliverydateshow" class="input-group calendar-input-grp">

                                            <input placeholder="DD/MM/YYYY" [ngModel]="deliverydate | date:'dd/MM/yyyy'" id="deliverydatefrom" name="deliverydatefrom"
                                                readonly class="form-control selectdate" (keyup.enter)="getReleventOrders(orderSearch.value)">
                                            <span class="input-group-addon calendar-addon" (click)="showPopup()" id="deliverydatefrom">
                                                <i class="glyphicon glyphicon-calendar cust-calender" id="deliverydatefrom"></i>
                                            </span>
                                        </div>
                                        <div id="deliveryDatePicker">

                                            <datepicker [ngClass]="{'hide': !showDatepicker}" class="popup" id="deliverydateinput" name="deliverydateinput" [(ngModel)]="deliverydate"
                                                [maxDate]="myDate" (selectionDone)="onKeypress($event, 4);toggaleCalender(2);"
                                                [onlyCurrentMonth]=true></datepicker>
                                            <div class="clearfix">

                                                <div class="text-center padd-btm-8">
                                                    <button [ngClass]="{'hide': !showDatepicker}" type="button" class="btn btn-sm btn-green" (click)="clear(2);onKeypress('', 4)">Clear</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 form-group">
                                        <label for="invoiceId">Invoice ID:</label>
                                        <input type="text" class="form-control" #myvalinvoiceId id="invoiceId" name="invoiceId" [(ngModel)]="invoiceId" [disabled]="invoiceIdshow"
                                            (ngModelChange)="onKeypress(myvalinvoiceId.value, 5)" (keyup)="onKeypress(myvalinvoiceId.value, 5)"
                                            (keyup.enter)="getReleventOrders(orderSearch.value)" maxlength="15" (keypress)="keyPress($event)"
                                        />
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 desktop-paddzero mobile-paddzero">
                                    <div class="col-xs-12 col-sm-12  form-group calendar-form-group">
                                        <label for="invoicedatefrom">Invoice Date:</label>
                                        <div (click)="toggaleCalender(3)" id="invoicedateshow" class="input-group calendar-input-grp">
                                            <input placeholder="DD/MM/YYYY" [ngModel]="invoicedate | date:'dd/MM/yyyy'" id="invoicedateinput" name="invoicedatefrom"
                                                (keyup.enter)="getReleventOrders(orderSearch.value)" readonly class="form-control selectdate"
                                                required>
                                            <span class="input-group-addon calendar-addon" (click)="showPopup()" id="invoicedateinput">
                                                <i class="glyphicon glyphicon-calendar cust-calender" id="invoicedateinput"></i>
                                            </span>
                                        </div>
                                        <div id="invoiceDatePicker">
                                            <datepicker [ngClass]="{'hide': !showDatepicker}" id="invoicedateinput" name="invoicedateinput" [(ngModel)]="invoicedate"
                                                [maxDate]="maxDate" (selectionDone)="onKeypress($event, 7);toggaleCalender(3);"
                                                [onlyCurrentMonth]=true>
                                            </datepicker>
                                            <div class="clearfix">

                                                <div class="text-center padd-btm-8">
                                                    <button [ngClass]="{'hide': !showDatepicker}" type="button" class="btn btn-sm btn-green" (click)="clear(3);onKeypress('', 7)">Clear</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 form-group">
                                        <label for="shipfrom">Shipped From:</label>
                                        <input type="text" class="form-control" #myvalshipfrom id="shipfrom" (ngModelChange)="onKeypress(myvalshipfrom.value, 8)"
                                            (keyup.enter)="getReleventOrders(orderSearch.value)" (keyup)="onKeypress(myvalshipfrom.value, 8)"
                                            name="shipfrom" maxlength="15" (keypress)="keyPress($event)" [(ngModel)]="shipfrom"
                                            [disabled]="shipfromshow" />
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 form-group pull-right bottom-align-text">
                                        <button type="submit" id="adv-search-desk" class="btn pull-right mrgn-r-2 search-button adv-search-btn form-control">SUBMIT
                                            <span class="brd-left-white">
                                                <span class="glyphicon glyphicon-search search-icon pull-right"></span>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <button id="openModalResult" [hidden]="true" data-toggle="modal" data-target="#resultModal">Open Modal</button>
                    <div class="modal fade hidden-lg hidden-md hidden-md zindex9999990" id="resultModal" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" id="resultModalClose" class="close table-close" data-dismiss="modal">Close &#10006;</button>
                                    <h4 class="modal-title title-top pull-left">Sales Order Search Results</h4>
                                    <ul *ngIf="orderListLength > 0" class="list-inline search-help-links pull-right">
                                        <li (click)="printOrder()">
                                            <a class="pdlinks">
                                                <img src="{{whoImgUrl}}print.png" class="img-resposnive icon-img">
                                            </a>
                                        </li>
                                        <li (click)="exportData()">
                                            <a class="pdlinks">
                                                <img src="{{whoImgUrl}}download.png" class="img-resposnive icon-img">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="modal-body">
                                    <div *ngIf="orderListLength == 0">
                                        <p class="no-data-text">No data available</p>
                                    </div>
                                    <div class="col-xs-12 search-results-div paddzero bg-white">
                                        <div *ngIf="orderListLength > 0" class="table-responsive mobile-scroll">
                                            <table class="bg-white custom-borderd-table table table-bordered table-striped search-result-table">
                                                <thead>
                                                    <tr class="head-color">
                                                        <th aria-rowspan="2" rowspan="2" class="align-middle">Sales Order Number</th>
                                                        <th rowspan="2" class="align-middle">Channel</th>
                                                        <th rowspan="2" class="align-middle">Order Category</th>
                                                        <th rowspan="2" class="align-middle sortit" (click)="changeSorting('statusCurrent')" [class]="selectedClass('statusCurrent')">Status</th>
                                                        <th rowspan="2" class="align-middle">Shipped To</th>
                                                        <th rowspan="2" class="align-middle">Shipped From</th>
                                                        <th rowspan="2" class="align-middle">Invoice ID</th>
                                                        <th rowspan="2" class="min-wdt190 align-middle sortit" (click)="changeSorting('createdAt')" [class]="selectedClass('createdAt')">Order Raised Date & Time</th>
                                                        <th rowspan="2" class="align-middle">Delivery Date</th>
                                                        <th rowspan="2" class="align-middle">Invoice Date</th>
                                                        <th colspan="4" aria-colspan="4" class="text-center head-color">Count</th>
                                                    </tr>
                                                    <tr class="bg-light-green">
                                                        <th>Total Lines</th>
                                                        <th>Total Quantity</th>
                                                        <th>Failed Lines</th>
                                                        <th>Confirmed Lines</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let order of orderList | orderBy: sortByColumn : reverseSorting | orderfilter: messageType : channelSubType; let i=index" (click)="redirect_detail('orders',customerName,order.orderId)"
                                                        class="order-number-table cursor-pointer">
                                                        <td align="left">{{order.orderId}}</td>dfhd
                                                       <td>{{order.messageType ? order.messageType : "-"}}</td>
                                                        <td>{{order.orderReferenceCode ? order.orderReferenceCode : "-"}}</td>
                                                        <td>{{order.statusCurrent ? order.statusCurrent : "-"}} </td>
                                                        <ng-container *ngIf = !iscustomerAmazon>
                                                        <td>{{order.shipToLocationId ? order.shipToLocationId : "-"}}</td>
                                                        </ng-container>
                                                        <ng-container *ngIf = iscustomerAmazon>
                                                            <td>{{order.shipSaleLocationId ? order.shipSaleLocationId : "-"}}</td>
                                                        </ng-container>
                                                        <td>{{order.shipFromLocationId ? order.shipFromLocationId : "-"}}</td>
                                                        <td>{{order.billToId ? order.billToId : "-"}}</td>
                                                        <td align="left">
                                                            <span class="pull-left">{{order.createdAt ? formatDate(order.createdAt): "-"}}</span>
                                                            <span class="pull-right padrt10">&nbsp;{{order.createdAt ? formatTime(order.createdAt): "-"}}</span>
                                                        </td>
                                                        <td align="left">{{order.shipToDeliverAt ? formatDate(order.shipToDeliverAt): "-"}}</td>
                                                        <td>{{order.billToDate ? order.billToDate : "-"}}</td>
                                                        <td *ngIf="order.itemsOrderedCountTotal">{{order.itemsOrderedCountTotal}} </td>
                                                        <td *ngIf="!order.itemsOrderedCountTotal">-</td>
                                                        <td *ngIf="order.itemsOrderedSumTotal">{{order.itemsOrderedSumTotal}} </td>
                                                        <td *ngIf="!order.itemsOrderedSumTotal">- </td>
                                                        <td *ngIf="order.itemsOrderedCountTotal && order.itemsConfirmedCountTotal && order.statusCurrent">
                                                            {{((order.itemsOrderedCountTotal - order.itemsConfirmedCountTotal) && (order.statusCurrent !== 'Raised')) ? (order.itemsOrderedCountTotal
                                                            - order.itemsConfirmedCountTotal) : 0}}
                                                        </td>
                                                        <td *ngIf="!(order.itemsOrderedCountTotal && order.itemsConfirmedCountTotal && order.statusCurrent)">-</td>

                                                        <td *ngIf="order.itemsConfirmedCountTotal">{{order.itemsConfirmedCountTotal }} </td>
                                                        <td *ngIf="!order.itemsConfirmedCountTotal">-</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 search-results-div orders-search-border hidden-xs" id="scrollTo" [hidden]="orderResult">
                        <div id="printNav">
                            <h4 class="search-result-heading">Search Results for Sales Orders</h4>
                            <div class="search-criteria-text search-ng-margin">
                                <p id="searchSingleText" class="search-result-text pull-left">Select from the list of below Sales Orders, to view Sales Order details</p>
                                <p id="searchAdvText" class="search-result-text pull-left">To view Sales Order Details, Please click on the below Search Results</p>
                                <ul *ngIf="orderListLength > 0" class="list-inline search-help-links links-margin">
                                    <li (click)="printOrder()">
                                        <a class="pdlinks">

                                            <img src="{{whoImgUrl}}print.png" class="img-resposnive icon-img">Print</a>
                                    </li>
                                    <li (click)="exportData()">
                                        <a class="pdlinks">
                                            <img src="{{whoImgUrl}}download.png" class="img-resposnive icon-img">Download</a>
                                    </li>
                                    <li (click)="gotoBottom()">
                                        <a class="pdlinks">Go to Bottom
                                            <i class="fa fa-arrow-down" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div *ngIf="orderListLength == 0">
                            <p class="no-data-text">No data available</p>
                        </div>

                        <div *ngIf="orderListLength > 0" id="exportable1" class="table-responsive table-block">
                            <table class="custom-borderd-table table table-bordered table-striped search-result-table text-nowrap" border='1'>
                                <thead>
                                    <tr class="head-color">
                                        <th aria-rowspan="2" rowspan="2" class="align-middle">Sales Order Number</th>
                                        <th rowspan="2" class="align-middle">Channel</th>
                                        <th rowspan="4" class="align-middle hide">Tracker</th>
                                        <th rowspan="2" class="align-middle">Order Category</th>
                                        <th rowspan="2" class="align-middle sortit" (click)="changeSorting('statusCurrent')" [class]="selectedClass('statusCurrent')">Status</th>
                                        <th rowspan="2" class="align-middle">Shipped To</th>
                                        <th rowspan="2" class="align-middle">Shipped From</th>
                                        <th rowspan="2" class="min-wdt190 align-middle sortit" (click)="changeSorting('createdAt')" [class]="selectedClass('createdAt')">Order Raised Date & Time</th>
                                        <th rowspan="2" class="align-middle">Delivery Date</th>
                                        <th rowspan="2" class="align-middle">Invoice ID</th>
                                        <th rowspan="2" class="align-middle">Download</th>
                                        <th rowspan="2" class="align-middle">Invoice Date</th>
                                        <th colspan="4" aria-colspan="4" class="text-center">Count</th>
                                    </tr>
                                    <tr class="bg-light-green">
                                        <th>Total Lines</th>
                                        <th>Total Quantity</th>
                                        <th>Failed Lines</th>
                                        <th>Confirmed Lines</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let order of orderList | orderBy: sortByColumn : reverseSorting | orderfilter:messageType:channelSubType;let i=index" class="order-number-table cursor-pointer">
                                        <td (click)="redirect_detail('orders',customerName,order.orderId)" align="left">{{order.orderId}}</td>
                                       <td (click)="redirect_detail('orders',customerName,order.orderId)">{{order.messageType ? order.messageType : "-"}}</td>
                                        <td (click)="redirect_detail('orders',customerName,order.orderId)" class="hide"><i class="glyphicon glyphicon-one-fine-dot"></i><i class="glyphicon glyphicon-one-fine-dot"></i>
                                            <i class="glyphicon glyphicon-one-fine-dot"></i><i class="glyphicon glyphicon-one-fine-dot"></i>
                                            <i class="glyphicon glyphicon-one-fine-dot"></i>
                                            <i class="glyphicon glyphicon-one-fine-dot"></i>
                                        </td>
                                        <td (click)="redirect_detail('orders',customerName,order.orderId)">{{order.orderReferenceCode ? order.orderReferenceCode : "-"}}</td>
                                        <td (click)="redirect_detail('orders',customerName,order.orderId)">{{order.statusCurrent ? order.statusCurrent : "-"}} </td>
                                        <ng-container *ngIf = !iscustomerAmazon>
                                        <td (click)="redirect_detail('orders',customerName,order.orderId)">{{order.shipToLocationId ? order.shipToLocationId : "-"}}</td>
                                        </ng-container>
                                        <ng-container *ngIf = iscustomerAmazon>
                                            <td (click)="redirect_detail('orders',customerName,order.orderId)">{{order.shipSaleLocationId ? order.shipSaleLocationId : "-"}}</td>
                                        </ng-container>
                                        <td (click)="redirect_detail('orders',customerName,order.orderId)">{{order.shipFromLocationId ? order.shipFromLocationId : "-"}}</td>
                                        <td align="left" (click)="redirect_detail('orders',customerName,order.orderId)">
                                            <span class="pull-left">{{order.createdAt ? formatDate(order.createdAt): "-"}}</span>
                                            <span class="pull-right padrt10">&nbsp;{{order.createdAt ? formatTime(order.createdAt): "-"}}</span>
                                        </td>
                                        <td align="left" (click)="redirect_detail('orders',customerName,order.orderId)">{{order.shipToDeliverAt ? formatDate(order.shipToDeliverAt): "-"}}</td>
                                       <td (click)="redirect_detail('orders',customerName,order.orderId)">{{order.billToId ? order.billToId : "-"}}</td>
                                        <td class="full-range-img-download" *ngIf="order.isInvoice" >
                                            <a (click)="getInvoiceDownload(order.orderId)"> 
                                                 <img class="img-responsive sqrIcon-npr" ng-reflect-src="/app/images/SquareIconDownload.svg" src="/app/images/SquareIconDownload.svg">
                                             </a>
                                        </td>   
                                        <td class="full-range-img-download" *ngIf="!order.isInvoice" >
                                            -
                                         </td>
                                        <td (click)="redirect_detail('orders',customerName,order.orderId)">{{order.billToDate ? formatDate(order.billToDate) : "-"}}</td>
                                        <td *ngIf="order.itemsOrderedCountTotal" (click)="redirect_detail('orders',customerName,order.orderId)">{{order.itemsOrderedCountTotal}} </td>
                                        <td *ngIf="!order.itemsOrderedCountTotal" (click)="redirect_detail('orders',customerName,order.orderId)">-</td>
                                        <td *ngIf="order.itemsOrderedSumTotal" (click)="redirect_detail('orders',customerName,order.orderId)">{{order.itemsOrderedSumTotal}} </td>
                                        <td *ngIf="!order.itemsOrderedSumTotal" (click)="redirect_detail('orders',customerName,order.orderId)">- </td>
                                        <td *ngIf="order.itemsOrderedCountTotal && order.itemsConfirmedCountTotal && order.statusCurrent" (click)="redirect_detail('orders',customerName,order.orderId)">
                                            {{((order.itemsOrderedCountTotal - order.itemsConfirmedCountTotal) && (order.statusCurrent !== 'Raised')) ? (order.itemsOrderedCountTotal
                                            - order.itemsConfirmedCountTotal) : 0}}
                                        </td>
                                        <td *ngIf="!(order.itemsOrderedCountTotal && order.itemsConfirmedCountTotal && order.statusCurrent)" (click)="redirect_detail('orders',customerName,order.orderId)">-</td>
                                        <td *ngIf="order.itemsConfirmedCountTotal" (click)="redirect_detail('orders',customerName,order.orderId)">{{order.itemsConfirmedCountTotal }} </td>
                                        <td *ngIf="!order.itemsConfirmedCountTotal" (click)="redirect_detail('orders',customerName,order.orderId)">-</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="showLoader" class="overlay-load">
        <div class="loader-box-shadow">
            <div class="load-img">
                <img src="{{whoImgUrl}}spinner.svg" class="loader-image" alt="Loader Image" />
                <div>
                    <h6>LOADING</h6>
                </div>
            </div>
        </div>
    </div>

    <div class='print_only' id="printHeader" [hidden]="printHeader">
        <div class="row dashboard-heading-div">
            <div class="col-xs-12">
                <img class="logo_print" src="{{whoImgUrl}}print_logo.png" alt="Morrisons logo">
                <h2 class="font-bold actualprint-ordernno">Order Details</h2>
            </div>
        </div>
    </div>
    <div *ngIf="orderListLength > 0" id="exportable" class="table-responsive table-block" [hidden]="printHeader">
        <table class="custom-borderd-table table table-bordered table-striped search-result-table text-nowrap" border='1'>
            <thead>
                <tr class="head-color">
                    <th aria-rowspan="2" rowspan="2" class="align-middle">Sales Order Number</th>
                    <th rowspan="2" class="align-middle">Channel</th>
                    <th rowspan="2" class="align-middle">Order Category</th>
                    <th rowspan="2" class="align-middle sortit" (click)="changeSorting('statusCurrent')" [class]="selectedClass('statusCurrent')">Status</th>
                    <th rowspan="2" class="align-middle">Shipped To</th>
                    <th rowspan="2" class="align-middle">Shipped From</th>
                    <th rowspan="2" class="min-wdt190 align-middle sortit" (click)="changeSorting('createdAt')" [class]="selectedClass('createdAt')">Order Raised Date & Time</th>
                    <th rowspan="2" class="align-middle">Delivery Date</th>
                    <th rowspan="2" class="align-middle">Invoice ID</th>
                    <th rowspan="2" class="align-middle">Invoice Date</th>
                    <th colspan="4" aria-colspan="4" class="text-center">Count</th>
                </tr>
                <tr class="bg-light-green">
                    <th>Total Lines</th>
                    <th>Total Quantity</th>
                    <th>Failed Lines</th>
                    <th>Confirmed Lines</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of orderList | orderBy: sortByColumn : reverseSorting | orderfilter:messageType:channelSubType;let i=index" class="order-number-table cursor-pointer">
                    <td align="left">{{order.orderId}}</td>
                    <td>{{order.messageType ? order.messageType : "-"}}</td>
                    <td>{{order.orderReferenceCode ? order.orderReferenceCode : "-"}}</td>
                    <td>{{order.statusCurrent ? order.statusCurrent : "-"}} </td>
                    <td>{{order.shipToLocationId ? order.shipToLocationId : "-"}}</td>
                    <td>{{order.shipFromLocationId ? order.shipFromLocationId : "-"}}</td>
                    <td align="left">
                        <span class="pull-left">{{order.createdAt ? formatDate(order.createdAt): "-"}}</span>
                        <span class="pull-right padrt10">&nbsp;{{order.createdAt ? formatTime(order.createdAt): "-"}}</span>
                    </td>
                    <td align="left">{{order.shipToDeliverAt ? formatDate(order.shipToDeliverAt): "-"}}</td>
                    <td>{{order.billToId ? order.billToId : "-"}}</td>
                    <td>{{order.billToDate ? formatDate(order.billToDate) : "-"}}</td>
                    <td *ngIf="order.itemsOrderedCountTotal">{{order.itemsOrderedCountTotal}} </td>
                    <td *ngIf="!order.itemsOrderedCountTotal">-</td>
                    <td *ngIf="order.itemsOrderedSumTotal">{{order.itemsOrderedSumTotal}} </td>
                    <td *ngIf="!order.itemsOrderedSumTotal">- </td>
                    <td *ngIf="order.itemsOrderedCountTotal && order.itemsConfirmedCountTotal && order.statusCurrent">
                        {{((order.itemsOrderedCountTotal - order.itemsConfirmedCountTotal) && (order.statusCurrent !== 'Raised')) ? (order.itemsOrderedCountTotal
                        - order.itemsConfirmedCountTotal) : 0}}
                    </td>
                    <td *ngIf="!(order.itemsOrderedCountTotal && order.itemsConfirmedCountTotal && order.statusCurrent)">-</td>
                    <td *ngIf="order.itemsConfirmedCountTotal">{{order.itemsConfirmedCountTotal }} </td>
                    <td *ngIf="!order.itemsConfirmedCountTotal">-</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="hidden-sm hidden-xs">
        <button (click)="onScrolltop()" class="topbtn" id="topBtn">Top</button>
    </div>
</div>
<div class="modal fade custom-model zindex9999991" id="popup_SessionExpired" role="dialog">
        <div class="modal-dialog top75 width314">
          <div class="modal-content">
                <div class="border-top-bottom-popup">
                    <h5 class="padd-left-right-10">Session terminated<button type="button" id="close-popup" class="close close-icon" data-dismiss="modal" (click)="closePopup()">&#10006;</button>
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="new-batch-num-popup">
                       <span>Session has been terminated - please log in again.</span>
                    </div>
                </div>
                <div class="modal-footer border-top-grey-1">
                    <div class="text-right">
                        <button class="btn btn-default npr-popup-btn" type="button" (click)="closePopup()">OK</button>
                    </div>
                </div>
            </div>
         </div>
    </div>