<!-- Breadcrumb start here-->
<div class="mvp_bradcrumb">
    <div class="container">
        <div class="col-xs-12 breadcrumb product-breadcrumb">
            <a [routerLink]="['/customerselection']">
                <span class="bradcrumb-text">Home</span>
            </a>/
            <span *ngIf="loggedInUserGroup == superAdminGroup"><a [routerLink]="['/groups', customerName]">
                <span class="bradcrumb-text">Manage Groups</span>
            </a>/</span>
            <span class="bradcrumb-text bold">Manage Users</span>
        </div>
    </div>
</div>
<div class="mmbborder" id="circle-box-border"></div>
<div id="stickyContainer">
    <div class="sticky hidden-xs border-top-grey-1" id="sticky1">
        <div class="container padd-10-0">
            <div class="row equal">
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 desktop-paddzero mobile-paddzero" id="setBorder">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8 padd0">
                    <main-navigation-menu></main-navigation-menu>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hidden-xs padd-btm-50 bgcolor-grey padd-top-10 min-height600">
    <div class="container bgcolor-white border-top-bottom margintop25">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <h4 class="dis-inlineblc">Manage Users</h4>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 ">
            </div>
        </div>
    </div>
    <div class="container bgcolor-white padd-top-10">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 user-Description">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="row">
                        <span class="font-bold">Group Name:</span> {{groupName}}
                    </div>
                    <div class="row">
                        <span class="font-bold">Group Description</span> {{groupDescription}}
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 radio-user" *ngIf="groupStatus == 'active'">
                    <div class="radio-item-green-red-grey dis-inlineblc">
                        <input type="radio" [checked]="groupStatus == 'active'">
                        <label for=""></label>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 radio-user" *ngIf="groupStatus != 'active'">
                    <div class="radio-item-green-red-grey dis-inlineblc">
                        <input type="radio" [checked]="groupStatus != 'active'">
                        <label for="" class="red-bg"></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row bgcolor-white">
            <div class="col-xs-12 col-md-12 col-lg-12 " *ngIf="userListLength == 0">
                <div class="error-message-container">
                    <div class="categories">
                        <div class="alert alert-info text-center error-message">
                            <strong>Sorry, No data found at this moment.
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-12 col-lg-12">
                <form role="form" #addNewUserForm="ngForm" name="addNewUserForm" (submit)="saveUser()">
                    <div class="table-responsive table-block margintop15 tableContainer-groups header-fixed">
                        <table class="table search-result-table table-hover popup-table-border table-striped td-pad-tb header-fixed">
                            <thead class="bg-white" *ngIf="userListLength != 0">
                                <tr>
                                    <th class="width20">User Email Id</th>
                                    <th class="width20">Login Credentials</th>
                                    <th class="width29 ht-auto">User Description</th>
                                    <th class="text-center width10">Administrator</th>
                                   <th class="text-center"><div>Access Granted</div></th>
                                </tr>
                            </thead>
                            <tbody id="tableBody" *ngIf="userListLength != 0">
                                <tr class="cursor-pointer" *ngFor="let item of userList; let i=index" [class.highlighted]="item.userId == selectedUser && selectedUser != ''" [class.hidden]="item.userId == loggedInUserID">
                                    <td class="width20" *ngIf="item.userName && item.userName != ''" (click)="selectUser(item, i)">{{item.userName}}</td>
                                    <td class="width20" *ngIf="!item.userName">
                                        <div class="input-group">
                                            <div class="input-group-btn"><input class="form-control order-no-form" id="inpGrp_{{item.userName1}}" required
                                                    type="text" placeholder="User Name" [(ngModel)]="item.userName1" [ngModelOptions]="{standalone: true}"
                                                    (focusout)="focusOutFunction($event, i)"></div>
                                        </div>
                                    </td>
                                    <td *ngIf="item.userName" class="width20">
                                        <span *ngIf="loggedInUserGroup != superAdminGroup && item.adminFlag==true">
                                                {{item.userLogon}}
                                        </span>
                                        <span *ngIf="loggedInUserGroup != superAdminGroup && item.adminFlag==false">
                                                <input class="form-control order-no-form" required type="text" placeholder="Login Credentials"
                                                [(ngModel)]="item.userLogon" (keypress)="keyPress()" (change)="onChange('user credential', i)" (focus)="storeInputVal($event,i)" (focusout)="focusOutFunctioncred($event, i)" [ngModelOptions]="{standalone: true}">
                                        </span>                                       
                                        <span *ngIf="loggedInUserGroup == superAdminGroup">
                                                <input class="form-control order-no-form" required type="text" placeholder="Login Credentials"
                                                [(ngModel)]="item.userLogon" (keypress)="keyPress()" (change)="onChange('user credential', i)" (focus)="storeInputVal($event,i)" (focusout)="focusOutFunctioncred($event, i)" [ngModelOptions]="{standalone: true}">
                                        </span>                                        
                                    </td>                                    
                                    <td class="width20"  *ngIf="!item.userName">
                                        <div class="input-group">
                                            <div class="input-group-btn">
                                                <input class="form-control order-no-form" required type="text" placeholder="Login Credentials" 
                                                    [(ngModel)]="item.userLogon" (keypress)="keyPress()" (change)="onChange('user credential', i)" (focus)="storeInputVal($event,i)" (focusout)="focusOutFunctioncred($event, i)"  [ngModelOptions]="{standalone: true}" ></div>
                                        </div>
                                    </td>
                                    <td *ngIf="item.userName" class="width30">
                                            <span *ngIf="loggedInUserGroup != superAdminGroup && item.adminFlag==true">
                                                    {{item.userDescription}}
                                            </span>
                                            <span *ngIf="loggedInUserGroup != superAdminGroup && item.adminFlag==false">
                                                    <input class="form-control order-no-form" required type="text" placeholder="User Description" 
                                                    [(ngModel)]="item.userDescription" (keypress)="keyPress()" (change)="onChange('user description', i)" [ngModelOptions]="{standalone: true}">
                                            </span>                                        
                                            <span *ngIf="loggedInUserGroup == superAdminGroup">
                                                    <input class="form-control order-no-form" required type="text" placeholder="User Description" 
                                                    [(ngModel)]="item.userDescription" (keypress)="keyPress()" (change)="onChange('user description', i)" [ngModelOptions]="{standalone: true}">
                                            </span>                                        
                                        </td> 
                                    <td class="width30" *ngIf="!item.userName">
                                        <div class="input-group">
                                            <div class="input-group-btn"><input class="form-control order-no-form" required type="text" placeholder="User Description" 
                                                    [(ngModel)]="item.userDescription" (keypress)="keyPress()" (change)="onChange('user description', i)" [ngModelOptions]="{standalone: true}"></div>
                                        </div>
                                    </td>
                                    <td class="display-flex width10">
                                        <div class="greenSqrIconToggle mar-left-35 dis-inlineblc opacity_1" [class.disable]="loggedInUserGroup != superAdminGroup">
                                            <input type="checkbox" id="ritema{{i}}" name="ritem{{i}}" [(ngModel)]="item.adminFlag" (change)="onChange('administrator rights', i)">
                                            <label for="ritema{{i}}"></label>
                                        </div>
                                    </td>
                                         <td class="width15" >
                                        <div class="radio-item-green-red-grey dis-inlineblc" [class.disable]="loggedInUserGroup != superAdminGroup">
                                            <input type="radio" id="ritema1{{i}}" name="ritem1{{i}}" (change)="onChange('user status flag', i)" [checked]="item.userStatus == 'active'" (click)="setStatus(i,'active')">
                                            <label for="ritema1{{i}}"></label>
                                        </div>
                                        <div class="radio-item-green-red-grey dis-inlineblc" [class.disable]="loggedInUserGroup != superAdminGroup">
                                            <input type="radio" id="ritemb2{{i}}" name="ritem2{{i}}" (change)="onChange('user status flag', i)" [checked]="item.userStatus != 'active'" (click)="setStatus(i,'inactive')">
                                            <label for="ritemb2{{i}}" class="red-bg"></label>
                                        </div>
                                    </td>
                                    <td class="width3" *ngIf="!item.userName">
                                        <div class='dis-inlineblc padleft-5 '><span (click)="deleteRowPopup(i)" class='glyphicon glyphicon-trash text-green padd-tb5 font-size16px'></span></div>
                                    </td>
                                      
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-right padd-bottom-30">
                        

                        <button class="btn btn-default white-bg-grn-bdr" type="button" [class.disablebtn]="(unsavedUser || selectedUser == '' || userStatusToEnableLiveUser)" (click)="resetPassword()">Reset Password</button>
                        <button class="btn btn-default white-bg-grn-bdr" type="button" (click)="addNewUser()">Add New User</button>
                        <button class="btn btn-default npr-popup-btn" type="button" (click)="resetUsers()">Cancel</button>
                        <button class="btn btn-default npr-popup-btn" type="submit" [class.disablebtn]="!unsavedUser">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container bgcolor-white border-top-grey-1" *ngIf="userListLength != 0">
       
        <div class="text-right padd-bottom-30 padd-top-10">
           <span *ngIf="loggedInUserGroup == superAdminGroup || groupName!=all ">
                                <button class="btn btn-default white-bg-grn-bdr" (click)="navigateToLiveUser()" type="button" >Live User Monitoring</button></span>

        <span *ngIf="loggedInUserGroup == superAdminGroup">
            <button class="btn btn-default npr-popup-btn" type="button" [tooltipDisabled]="!showTooltip" tooltip="First save or cancel pending changes"
                tooltipPlacement="top" [class.disablebtn]="(unsavedUser || selectedUser == '')" (click)="navigateToUserRole()">Manage User Roles</button></span>

            <span *ngIf="loggedInUserGroup != superAdminGroup"><button class="btn btn-default npr-popup-btn" type="button" [tooltipDisabled]="!showTooltip" tooltip="You are not authorised to perform this action for Administrators"
                tooltipPlacement="top" [class.disablebtn]="(unsavedUser || selectedUser == '')" (click)="navigateToUserRole()">Manage User Roles</button></span>

            <span *ngIf="loggedInUserGroup == superAdminGroup"><button class="btn btn-default white-bg-grn-bdr" type="button" [tooltipDisabled]="!showTooltip" tooltip="First save or cancel pending changes"
                tooltipPlacement="top" [class.disablebtn]="(unsavedUser || selectedUser == '')" (click)="navToViewUserPermission()">View User Permission</button>
            <button class="btn btn-default white-bg-grn-bdr" type="button"  [tooltipDisabled]="!showTooltip" tooltip="First save or cancel pending changes"
                tooltipPlacement="top" [class.disablebtn]="(unsavedUser || selectedUser == '')" (click)="navToViewUserAmendement()">View User Amendments</button>
            <button class="btn btn-default white-bg-grn-bdr" type="button" [tooltipDisabled]="!showTooltip" tooltip="First save or cancel pending changes"
                tooltipPlacement="top" [class.disablebtn]="(unsavedUser || selectedUser == '')" (click)="navToViewUseristory()">View User History</button></span>
        </div>
    </div>
    <!-- loader section start-->
    <div *ngIf="showLoader" class="overlay-load">
        <div class="loader-box-shadow">
            <div class="load-img">
                <img src="{{whoImgUrl}}spinner.svg" class="loader-image" alt="Loader Image" />
                <div>
                    <h6>LOADING</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade custom-model zindex999999" id="messageModal" role="dialog">
        <div class="modal-dialog top75 width314">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="border-top-bottom-popup">
                    <h5 class="pad-lft-right-30">Manage Group Users
                        <button type="button" id="close-popup" class="close close-icon" data-dismiss="modal" (click)="closePopup()">&#10006;</button>
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="new-batch-num-popup">
                        <span>{{popupMsg}}</span>
                    </div>
                </div>
            </div>
            <!-- Modal Content End -->
        </div>
    </div>
    <div class="modal fade custom-model zindex999999" id="deleteModal" role="dialog">
        <div class="modal-dialog top75 width314">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="border-top-bottom-popup">
                    <h5 class="padd-left-right-10">Manage Group Roles
                        <button type="button" id="close-popup" class="close close-icon" data-dismiss="modal" (click)="closePopup('deleteModal')">&#10006;</button>
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="new-batch-num-popup">
                        <span>Are you sure you want to delete this?</span>
                    </div>
                </div>
                <div class="modal-footer border-top-grey-1">
                    <div class="text-right">
                        <button class="btn btn-default white-bg-grn-bdr" type="button" (click)="closePopup('deleteModal')">Cancel</button>
                        <button class="btn btn-default npr-popup-btn" type="button" (click)="deleteRow(rowToDelete)">Delete</button>
                    </div>
                </div>
            </div>
            <!-- Modal Content End -->
        </div>
    </div>
    <div class="modal fade custom-model zindex999999" id="resetPassword" role="dialog">
        <div class="modal-dialog top75 width314">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="border-top-bottom-popup">
                    <h5 class="padd-left-right-10">Reset Password
                        <button type="button" id="close-popup" class="close close-icon" data-dismiss="modal" (click)="closePopup('resetPassword')">&#10006;</button>
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="new-batch-num-popup">
                        <span>{{resetPasswordMsg}}</span>
                    </div>
                </div>
                <div class="modal-footer border-top-grey-1">
                    <div class="text-right">
                        <button class="btn btn-default npr-popup-btn" type="button" (click)="resetPasswordFunction(selectedUser,resetPwdFlag)">Ok</button>
                        <button class="btn btn-default white-bg-grn-bdr" type="button" *ngIf="showcancel" (click)="closePopup('resetPassword')">Cancel</button>
                        
                    </div>
                </div>
            </div>
            <!-- Modal Content End -->
        </div>
    </div>
</div>

<div class="hidden-sm hidden-md hidden-lg">
    <div class="row pad-lft-right-15 padd-top-11">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <div class="error-message-container">
                <div class="categories">
                    <div class="alert alert-info text-center error-message">
                        <strong>Sorry, Manage Group Users functionality is available only on desktop view.
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>