<!-- Breadcrumb start here-->
<div class="mvp_bradcrumb">
    <div class="container">
        <div class="col-xs-12 breadcrumb product-breadcrumb">
            <a [routerLink]="['/customerselection']">
                <span class="bradcrumb-text">Home</span>
            </a>/
            <a [routerLink]="['/orders', customerName]">
                <span class="bradcrumb-text">Orders</span>
            </a>/
            <span class="bradcrumb-text bold">Claims Review</span>
        </div>
    </div>
</div>
<div class="mmbborder" id="circle-box-border"></div>
<div id="stickyContainer">
    <div class="sticky hidden-xs border-top-grey-1" id="sticky1">
        <div class="container padd-10-0">
            <div class="row equal" id="search-box-border">
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 desktop-paddzero mobile-paddzero" id="setBorder">
                    <div class="product-i">
                        <img src="{{imgName}}" class="img-responsive product-img-45 pull-left">
                        <h3 class="margin-zero product-title-top-0 font-bold font-size21">{{customerName}}</h3>
                        <a [class.hidden]="disabledCusChange ? true : null" (click)="toggleOrganisation()" class="Product-title-anchor">Change Customer
                            <span class="search-arrow-product">
                                <i id="changeIcon" class="glyphicon glyphicon-menu-down small-arrow-up"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8 padd0">
                    <main-navigation-menu #navIcons></main-navigation-menu>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row desktop-marginzero" [hidden]="hideOrganisation">
                <div class="advanced-search-page text-center">
                    <ul class="product-circle">
                        <li *ngFor="let organisation of organisationListChange;let i=index" [class.hidden]="organisation.customerName=='All_Wholesale_Customers' || organisation.customerName =='kens'"
                            (click)="changeOrgType(organisation.customerName); navIcons.reloadNavigation(organisation.customerName);">
                            <a>
                                <img src="{{getCustomerImage(organisation.customerName)}}" class="img-responsive" alt="{{organisation.customerName}}" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Loader section ends -->
<div class="modal fade custom-model zindex999999" id="updatePatch" role="dialog">
    <div class="modal-dialog width-455">
        <!-- Modal content-->
        <div class="modal-content mdl-content">
            <div class="">
                <button type="button" class="close table-close top16" (click)="closeRepricingUpdateSuccess()" data-dismiss="modal">Close &#10006;</button>
            </div>
            <div class="modal-body ">
                <img class="img-responsive tick" src="{{whoImgUrl}}tick.png">
                <h4 class="prdct-succs">{{successMsg}}</h4>
            </div>
        </div>
        <!-- Modal Content End -->
    </div>
</div>
<div *ngIf="showLoader" class="modal fade custom-model zindex999999 overlay-load" role="dialog">
    <div class="loader-box-shadow">
        <div class="load-img">
            <img src="{{whoImgUrl}}spinner.svg" class="loader-image" alt="Loader Image" />
            <div>
                <h6>LOADING</h6>
            </div>
        </div>
    </div>
</div>
<div class="hidden-xs padd-btm-50 bgcolor-grey padd-top-10 min-height600">
    <div class="container bgcolor-white border-top-bottom margintop25">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <h4 class="dis-inlineblc">Claims Review</h4>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 ">
                <div class="pull-right padd-top-10 text-right prnt-download-txt">

                    <span class="padd-left10 padd-right20 curs-pointer" (click)="exportOrderClaims()" *ngIf="!noDataFound">
                        <img src="{{whoImgUrl}}IconDownload.svg" class="img-responsive dis-inlineblc img-width padd-right5">Download</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container bgcolor-white">
        <div class="row bgcolor-white">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <form role="form" #searchOrdClaims="ngForm" class="" (submit)="searchOrderClaims()">
                    <div class="form-inline">
                        <div class="">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-zero">
                                <p class="dis-inlineblc">
                                    <strong>Auto Decision</strong>
                                </p>
                                <div class="dis-inlineblc">
                                    <div>
                                        <span class="down_arrow1 glyphicon glyphicon-menu-down"></span>
                                        <select class="form-control search-select" id="autoDecision" [(ngModel)]="autoDecision" name="autoDecision" (change)="onChange($event)">
                                            <option *ngFor="let i of autoStatusArr" [value]="i.value">{{i.status}}</option>
                                        </select>

                                        <!-- <select class="form-control search-select" id="searchType" name="autoDecision" [(ngModel)]="autoDecision">
                                            <option *ngFor="let i of autoStatusArr" value="i.value">{{i.status}}</option>
                                            <option value="AUTO REJECT">AUTO REJECT</option>
                                            <option value="INVESTIGATE">INVESTIGATE</option>
                                        </select> -->
                                    </div>
                                </div>

                                <p class="dis-inlineblc">
                                    <strong>Manual Decision</strong>
                                </p>
                                <div class="dis-inlineblc">
                                    <div>
                                        <span class="down_arrow1 glyphicon glyphicon-menu-down"></span>
                                        <!-- <select class="form-control search-select" id="searchType" name="manualDecision" [(ngModel)]="manualDecision">
                                            <option value="">All</option>
                                             <option value="BLANK">BLANK</option>
                                            <option value="NEW">NEW</option>
                                            <option value="approved">approved</option>
                                            <option value="rejected">rejected</option>
                                        </select> -->
                                        <select class="form-control search-select" id="manualDecision" [(ngModel)]="manualDecision" name="manualDecision" (change)="onChange($event)">
                                            <option *ngFor="let i of manStatusArr" [value]="i.value">{{i.status}}</option>
                                        </select>
                                    </div>
                                </div>
                                <p class="dis-inlineblc">
                                    <strong>Status</strong>
                                </p>
                                <div class="dis-inlineblc">
                                    <div>
                                        <span class="down_arrow1 glyphicon glyphicon-menu-down"></span>
                                        <select class="form-control search-select" id="status" [(ngModel)]="status" name="status" (change)="onChange($event)">
                                            <option *ngFor="let i of statusArr" [value]="i.value">{{i.status}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="dis-inlineblc">
                                    <div>
                                        <p class="dis-inlineblc">
                                            <strong>OR</strong>
                                        </p>
                                        <input class="form-control order-no-form ng-pristine ng-valid ng-touched SearchFiled" placeholder="Claim Ref ID/Order Number/Credit Note Number"
                                            [(ngModel)]="searchString" id="searchString" name="searchString" type="text" value=" ">

                                    </div>
                                </div>
                                <button type="submit" class="btn btn-default npr-popup-btn mar-bottom-1">Search</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-xs-12 col-md-12 col-lg-12 " *ngIf="noDataFound">
                <div class="error-message-container">
                    <div class="categories">
                        <div class="alert alert-info text-center error-message">
                            <strong>{{errTxt}}
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
            <form role="form" #orderClaim="ngForm" name="orderClaim" class="" (submit)="updateOrderClaims(orderClaim.value)">
                <div class="container bgcolor-white" id="orderClaimContainer" *ngIf="claimDataLength > 0 && !noDataFound">
                    <div class="pad-lft-right-15">
                        <div class="row bgcolor-white" id="orderClaimContainer">
                            <div id="exTab2" class="margin-top80">
                                <ul class="nav nav-tabs nav-tabs-top-border">
                                    <li class="active">
                                        <a href="#ClaimInfo" data-toggle="tab">Claim Info
                                            <sup class="padd-left5">
                                                <span class="badge badge-danger"></span>
                                            </sup>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#OrderInfo" data-toggle="tab">Order Info
                                            <sup class="padd-left5">
                                                <span class="badge badge-danger"></span>
                                            </sup>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#ProductInfo" data-toggle="tab">Product Info
                                            <sup class="padd-left5">
                                                <span class="badge badge-danger"></span>
                                            </sup>
                                        </a>
                                    </li>

                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="ClaimInfo">
                                        <div class="table-responsive table-block margintop20 max-height270 pos-inherit" infinite-scroll [infiniteScrollDistance]="2"
                                            [infiniteScrollThrottle]="300" [scrollWindow]="false" (scrolled)="onScrollDown()">
                                            <table class="table search-result-table table-hover popup-table-border table-striped " id="nprDataTbl">
                                                <thead class="bg-white">
                                                    <tr>
                                                        <th class="auto-width text-center">
                                                            <div>Claim Ref ID</div>
                                                        </th>
                                                        <th class="auto-width text-center">
                                                            <div>Reason Code</div>
                                                        </th>
                                                        <th class="auto-width text-center">
                                                            <div>Credit Note Number</div>
                                                        </th>
                                                         <th class="auto-width text-center">
                                                            <div>Claimed Amount</div>
                                                        </th>
                                                        <th class="auto-width text-center">
                                                            <div>DHL Valid</div>
                                                        </th>
                                                        <th class="auto-width text-center">
                                                            <div>DHL Comments</div>
                                                        </th>
                                                        <th class="auto-width text-center">
                                                            <div>Auto Validation</div>
                                                        </th>
                                                        <th class="auto-width text-center">
                                                            <div>Auto Decision</div>
                                                        </th>
                                                        <th class="auto-width text-center">
                                                            <div>Manual Decision</div>
                                                        </th>
                                                        <th class="width5 text-center">
                                                            <div>Status</div>
                                                        </th>
                                                        <th class="width15 text-center">
                                                            <div>Decision owner</div>
                                                        </th>
                                                        <th class="auto-width text-center">
                                                            <div>Remarks</div>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let claim of claimData;let i=index" class="text-center">
                                                        <td>{{claim.claimReference}}</td>
                                                        <td>{{claim.additionalAttributes.additionalProperties?.itemLevelReasonCode ? claim.additionalAttributes.additionalProperties?.itemLevelReasonCode : '-'}}</td>
                                                        <td>{{claim.claimsId}}</td>
                                                        <td>{{claim.claimedValue}}</td>
                                                        <td>{{claim.validation}}</td>
                                                        <td>{{claim.comments}}</td>
                                                        <td>
                                                            <div (click)="showValidation(i)" class="modal-icon">
                                                                <img src="{{whoImgUrl}}SquareIconOpen.svg" class="img-responsive sqrIcon-npr cursor-pointer" (click)="showValidation(i)">
                                                            </div>
                                                        </td>
                                                        <td class="ruleAutostatus">{{claim.autoStatus}}</td>
                                                        <td class="display-flex claimStatus-icon">
                                                            <span class="greenSqrIconToggle mar-left-3" [ngStyle]="{'pointer-events': claimsEditable ? 'none' : ''}" (click)="!claimsEditable && getCheckboxDisableValue(i,'green','Claim',claim.autoStatus , claim.status, claim.reasonCode,claim.claimReference , claim.itemNumber)">
                                                                <input type="radio" [disabled]="(isManualAcceptDisable) ? true : false" value="" id="greenCheckboxForClaim{{i}}" name="radioClaim{{i}}" 
                                                                    [(ngModel)]="claim.manStatus" (click)="!claimsEditable && getActivateCheckbox(i,'green','Claim')"
                                                                    [value]="'APPROVED'" [ngStyle]="{'pointer-events': claimsEditable ? 'none' : ''}">
                                                                <label for="greenCheckboxForClaim{{i}}"></label>
                                                            </span>
                                                            <span class="redSqrIconToggle mar-left-3" [ngStyle]="{'pointer-events': claimsEditable ? 'none' : ''}" (click)="!claimsEditable && getCheckboxDisableValue(i,'red','Claim',claim.autoStatus , claim.status, claim.reasonCode,claim.claimReference , claim.itemNumber)">
                                                                <input type="radio" [disabled]="(isManualAcceptDisable) ? false :true " value="" id="redCheckboxForClaim{{i}}" name="radioClaim{{i}}"
                                                                    [(ngModel)]="claim.manStatus" (click)="!claimsEditable && getActivateCheckbox(i,'red','Claim')"
                                                                    [value]="'REJECTED'" [ngStyle]="{'pointer-events': claimsEditable ? 'none' : ''}">
                                                                <label for="redCheckboxForClaim{{i}}"></label>
                                                            </span>
                                                        </td>
                                                        <td class="break-word">{{claim.status}}</td>
                                                        <td class="break-word">{{claim.updatedBy}}</td>
                                                        <td>
                                                            <div class="input-group"> 
                                                                <div class="input-group-btn" on-mouseover="enableRemark(i,'green','Claim',claim.autoStatus , claim.status, claim.manStatus, claim.reasonCode , claim.reason)">
                                                                    <input readonly *ngIf="claim.autoStatus == 'INVESTIGATE'" [readOnly]="(claimsEditable)? true : false" (click)="!claimsEditable && openRemarkModal(claim.claimReference , claim.itemNumber , claim.reason)"
                                                                        [disabled]="(isRemarkAcceptDisable)? true : false" class="form-control order-no-form"
                                                                        [required]="claim.requiredField == true? 'required' : null"
                                                                        type="text" [(ngModel)]="claim.reason" [ngModelOptions]="{standalone: true}"
                                                                        tooltip="{{claim.reason}}" tooltipPlacement="left" [tooltipDisabled]="claim.reason == null ? true:false"
                                                                        id="remarkreson_{{claim.claimReference}}" >
                                                                    <input *ngIf="claim.autoStatus != 'INVESTIGATE'" [readOnly]="(claimsEditable)? true : false" (click)="!claimsEditable && openRemarkModal(claim.claimReference, claim.itemNumber ,claim.reason)"
                                                                        [disabled]="(isRemarkAcceptDisable)? true : false" class="form-control order-no-form"
                                                                        type="text" [(ngModel)]="claim.reason" tooltip="{{claim.reason}}"
                                                                        tooltipPlacement="left" [ngModelOptions]="{standalone: true}"
                                                                        [tooltipDisabled]="claim.reason == null ? true:false"
                                                                        id="remarkreson_{{claim.claimReference}}" >
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="OrderInfo">
                                        <div class="table-responsive table-block margintop20 max-height270 pos-inherit" infinite-scroll [infiniteScrollDistance]="2"
                                            [infiniteScrollThrottle]="300" [scrollWindow]="false" (scrolled)="onScrollDown()">
                                            <table class="table search-result-table table-hover popup-table-border table-striped " id="nprDataTbl">
                                                <thead class="bg-white">
                                                    <tr>
                                                        <th class="auto-width text-center">
                                                            <div>Claim Ref ID</div>
                                                        </th>
                                                        <th class="auto-width text-center">
                                                            <div>Order Number</div>
                                                        </th>
                                                        <th class="auto-width text-center">
                                                            <div>Store ID</div>
                                                        </th>
                                                        <th class="auto-width text-center">
                                                            <div>Incident Date</div>
                                                        </th>
                                                        <th class="auto-width text-center">
                                                            <div>Use By Date</div>
                                                        </th>
                                                        <th class="auto-width text-center">
                                                            <div>Order QTY</div>
                                                        </th>
                                                        <th class="auto-width text-center">
                                                            <div>Received QTY</div>
                                                        </th>
                                                        <th class="auto-width text-center">
                                                            <div>Auto Validation</div>
                                                        </th>
                                                        <th class="auto-width text-center">
                                                            <div>Auto Decision</div>
                                                        </th>
                                                        <th class="auto-width text-center">
                                                            <div>Manual Decision</div>
                                                        </th>
                                                        <th class="width5 text-center">
                                                            <div>Status</div>
                                                        </th>
                                                        <th class="width15 text-center">
                                                            <div>Decision owner</div>
                                                        </th>
                                                        <th class="auto-width text-center">
                                                            <div>Remarks</div>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let claim of claimData;let i=index" class="text-center">
                                                        <td>{{claim.claimReference}}</td>
                                                        <td>{{claim.orderId}}</td>
                                                        <td>{{claim.storeNumber}}</td>
                                                        <td>{{claim.incidentDate}}</td>
                                                        <td>{{claim.expiryDate}}</td>
                                                        <td>{{claim.quantityOrdered}}</td>
                                                        <td>{{claim.quantityReceived}}</td>
                                                        <td>
                                                            <div (click)="showValidation(i)" class="modalO-icon">
                                                                <img src="{{whoImgUrl}}SquareIconOpen.svg" class="img-responsive sqrIcon-npr cursor-pointer" (click)="showValidation(i)">
                                                            </div>
                                                        </td>
                                                        <td class="ruleAutostatus">{{claim.autoStatus}}</td>
                                                        <td class="display-flex claimStatusO-icon">
                                                            <span class="greenSqrIconToggle mar-left-3" [ngStyle]="{'pointer-events': claimsEditable ? 'none' : ''}" (click)="!claimsEditable && getCheckboxDisableValue(i,'green','Claim',claim.autoStatus , claim.status, claim.reasonCode,claim.claimReference , claim.itemNumber)">
                                                                <input type="radio" value="" id="greenCheckboxForClaim{{i}}" name="radioClaim{{i}}" [(ngModel)]="claim.manStatus" 
                                                                (click)="!claimsEditable && getActivateCheckbox(i,'green','Claim')" [disabled]="(isManualAcceptDisable) ? true : false" [value]="'APPROVED'" [disabled]="(claimsEditable) ? true : false" [ngStyle]="{'pointer-events': !claimsEditable ? 'none' : ''}">
                                                                <label for="greenCheckboxForClaim{{i}}"></label>
                                                            </span>
                                                            <span class="redSqrIconToggle mar-left-3" [ngStyle]="{'pointer-events': claimsEditable ? 'none' : ''}"  (click)="!claimsEditable && getCheckboxDisableValue(i,'red','Claim',claim.autoStatus , claim.status, claim.reasonCode,claim.claimReference , claim.itemNumber)">
                                                                <input type="radio" [disabled]="(isManualAcceptDisable )? true : false" value="" id="redCheckboxForClaim{{i}}" name="radioClaim{{i}}"
                                                                    [(ngModel)]="claim.manStatus" (click)="!claimsEditable && getActivateCheckbox(i,'red','Claim')" [disabled]="(claimsEditable) ? true : false"
                                                                    [value]="'REJECTED'" [ngStyle]="{'pointer-events': claimsEditable ? 'none' : ''}">
                                                                <label for="redCheckboxForClaim{{i}}"></label>
                                                            </span>
                                                        </td>
                                                        <td class="break-word">{{claim.status}}</td>
                                                        <td class="break-word">{{claim.updatedBy}}</td>
                                                        <td>
                                                            <div class="input-group">
                                                                <div class="input-group-btn" on-mouseover="enableRemark(i,'green','Claim',claim.autoStatus , claim.status, claim.manStatus, claim.reasonCode)">
                                                                    <input readonly *ngIf="claim.autoStatus == 'INVESTIGATE'" (click)="!claimsEditable && openRemarkModal(claim.claimReference , claim.itemNumber , claim.reason)"
                                                                        [disabled]="(isRemarkAcceptDisable)? true : false" class="form-control order-no-form"
                                                                        [required]="claim.requiredField == true? 'required' : null"
                                                                        type="text" [(ngModel)]="claim.reason" [ngModelOptions]="{standalone: true}"
                                                                        tooltip="{{claim.reason}}" tooltipPlacement="left" id="remarkreson_{{claim.claimReference}}"
                                                                        [tooltipDisabled]="claim.reason == null ? true:false" [readOnly]="(claimsEditable)? true : false">
                                                                    <input readonly *ngIf="claim.autoStatus != 'INVESTIGATE'" (click)="!claimsEditable && openRemarkModal(claim.claimReference , claim.itemNumber ,claim.reason)"
                                                                        [disabled]="(isRemarkAcceptDisable)? true : false" [readOnly]="(claimsEditable)? true : false" class="form-control order-no-form"
                                                                        type="text" [(ngModel)]="claim.reason" tooltip="{{claim.reason}}"
                                                                        tooltipPlacement="left" [ngModelOptions]="{standalone: true}"
                                                                        id="remarkreson_{{claim.claimReference}}" [tooltipDisabled]="claim.reason == null ? true:false">
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane  claim-mgnt-summary" id="ProductInfo">
                                        <div class="table-responsive table-block margintop20 max-height270 pos-inherit header-fixed" infinite-scroll [infiniteScrollDistance]="2"
                                            [infiniteScrollThrottle]="300" [scrollWindow]="false" (scrolled)="onScrollDown()">
                                            <table class="table search-result-table table-hover popup-table-border table-striped header-fixed" id="nisfeederexport">
                                                <thead class="bg-white">
                                                    <tr>
                                                        <th class="width10 text-center">
                                                            <div>Claim Ref ID</div>
                                                        </th>
                                                        <th class="width9 text-center">
                                                            <div>MIN</div>
                                                        </th>
                                                        <th class="width9 text-center">
                                                            <div>PIN</div>
                                                        </th>
                                                        <th class="width12 text-center">
                                                            <div>Product Description</div>
                                                        </th>
                                                        <th class="width9 text-center">
                                                            <div>Auto Validation</div>
                                                        </th>
                                                        <th class="width10 text-center">
                                                            <div>Auto Decision</div>
                                                        </th>
                                                        <th class="width10 text-center">
                                                            <div>Manual Decision</div>
                                                        </th>
                                                        <th class="width10 text-center">
                                                            <div>Status</div>
                                                        </th>
                                                        <th class="width10 text-center">
                                                            <div>Decision owner</div>
                                                        </th>
                                                        <th class="width10 text-center">
                                                            <div>Remarks</div>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let claim of claimData;let i=index">
                                                        <td class="width1250 text-center">{{claim.claimReference}}</td>
                                                        <td class="width10 text-center">{{claim.batchNumber}}</td>
                                                        <td class="width10 text-center">{{claim.itemNumber}}</td>
                                                        <td class="width1250 text-center">{{claim.description}}</td>
                                                        <td class="width10">
                                                            <div (click)="showValidation(i)" class="modal-icon">
                                                                <img src="{{whoImgUrl}}SquareIconOpen.svg" class="img-responsive sqrIcon-npr cursor-pointer" (click)="showValidation(i)">
                                                            </div>
                                                        </td>
                                                        <td class="width10 text-center ruleAutostatus">{{claim.autoStatus}}</td>
                                                        <td class="width1250 display-flex claimStatus-icon">
                                                            <span class="greenSqrIconToggle mar-left-3" [ngStyle]="{'pointer-events': claimsEditable ? 'none' : ''}" (click)="!claimsEditable && getCheckboxDisableValue(i,'green','Claim',claim.autoStatus , claim.status, claim.reasonCode,claim.claimReference , claim.itemNumber)">
                                                                <input type="radio" value="" id="greenCheckboxForClaim{{i}}" [disabled]="(isManualAcceptDisable)? true : false" name="radioClaim{{i}}" [(ngModel)]="claim.manStatus" (change)="onChange($event)"
                                                                 (click)="!claimsEditable && getActivateCheckbox(i,'green','Claim')" [value]="'APPROVED'" [ngStyle]="{'pointer-events': !claimsEditable ? 'none' : ''}">
                                                                <label for="greenCheckboxForClaim{{i}}"></label>
                                                            </span>
                                                            <span class="redSqrIconToggle mar-left-3" [ngStyle]="{'pointer-events': claimsEditable ? 'none' : ''}" (click)="!claimsEditable && getCheckboxDisableValue(i,'red','Claim',claim.autoStatus , claim.status, claim.reasonCode,claim.claimReference , claim.itemNumber)">
                                                                <input type="radio" value="" id="redCheckboxForClaim{{i}}" [disabled]="(isManualAcceptDisable )? true : false" name="radioClaim{{i}}"  [(ngModel)]="claim.manStatus"
                                                                 (click)="!claimsEditable && getActivateCheckbox(i,'red','Claim')" [value]="'REJECTED'" [ngStyle]="{'pointer-events': claimsEditable ? 'none' : ''}">
                                                                <label for="redCheckboxForClaim{{i}}"></label>
                                                            </span>
                                                        </td>
                                                        <td class="break-word">{{claim.status}}</td>
                                                        <td class="break-word">{{claim.updatedBy}}</td>
                                                        <td class="width1250">
                                                            <div class="input-group">
                                                                <div class="input-group-btn" on-mouseover="enableRemark(i,'green','Claim',claim.autoStatus , claim.status, claim.manStatus, claim.reasonCode)">
                                                                    <input readonly *ngIf="claim.autoStatus == 'INVESTIGATE'" [disabled]="(isRemarkAcceptDisable)? true : false" class="form-control order-no-form"
                                                                        [required]="claim.requiredField == true? 'required' : null"
                                                                        type="text" [(ngModel)]="claim.reason" [ngModelOptions]="{standalone: true}"
                                                                        tooltip="{{claim.reason}}" tooltipPlacement="left" (click)="!claimsEditable && openRemarkModal(claim.claimReference , claim.itemNumber , claim.reason)"
                                                                        id="remarkreson_{{claim.claimReference}}" [tooltipDisabled]="claim.reason == null ? true:false" [readOnly]="(claimsEditable)? true : false">
                                                                    <input readonly *ngIf="claim.autoStatus != 'INVESTIGATE'" class="form-control order-no-form" type="text" [disabled]="(isRemarkAcceptDisable)? true : false"
                                                                        [(ngModel)]="claim.reason" [ngModelOptions]="{standalone: true}"
                                                                        tooltip="{{claim.reason}}" tooltipPlacement="left" (click)="!claimsEditable && openRemarkModal(claim.claimReference , claim.itemNumber, claim.reason)"
                                                                        id="remarkreson_{{claim.claimReference}}" [tooltipDisabled]="claim.reason == null ? true:false" [readOnly]="(claimsEditable)? true : false">
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="text-right padd-bottom-30 padd-top16">
                                <button class="btn btn-default white-bg-grn-bdr" type="button" (click)="resetclaim()">Cancel</button>
                                <button class="btn btn-default npr-popup-btn" type="submit" [class.hidden]="claimsEditable ? true : null" >Save Changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- loader section start-->
    <div *ngIf="showLoader" class="overlay-load">
        <div class="loader-box-shadow">
            <div class="load-img">
                <img src="{{whoImgUrl}}spinner.svg" class="loader-image" alt="Loader Image" />
                <div>
                    <h6>LOADING</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade custom-model zindex999999" id="remarkModal" role="dialog">
        <div class="modal-dialog top75 width445">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="border-top-bottom-popup">
                    <h5 class="padd-left-right-10">Claim Remark
                        <button type="button" id="close-popup" class="close close-icon" data-dismiss="modal" (click)="closePopup('remarkModal')">&#10006;</button>
                    </h5>
                </div>
                <div class="modal-body">

                    <table id="rulesTable" class="table search-result-table table-hover popup-table-border td-pad-tb header-fixed">
                        <div class="new-batch-num-popup">
                            <form role="form" #orderClaim="ngForm" name="orderClaim1" class="" (submit)="updateOrderClaims1(orderClaim.value,claimRef , itemNumber )">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-zero">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-zero">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 padding-zero">
                                            <p class="dis-inlineblc">
                                                <strong>Claim Remark : </strong>
                                            </p>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 padding-zero">

                                            <div class="dis-inlineblc">
                                                <span class="down_arrow2 glyphicon glyphicon-menu-down"></span>
                                                <select class="form-control search-select1" id="reason" (change)="enableComments()" id="remarkDrop" [(ngModel)]="reasonSel"
                                                    name="reason">
                                                 <option value="" disabled selected>Please Select</option>
                                                 <option *ngFor="let i of remarkdropdownOption1"  [value]="i">{{i}}</option>
                                                  </select>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-zero">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 padding-zero">

                                            <p class="dis-inlineblc">
                                                <strong>Comments:</strong>
                                            </p>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 padding-zero">

                                            <div class="dis-inlineblc">
                                                <input class="form-control order-no-form comment-box" type="text" [disabled]="!commentsEnable" [(ngModel)]="reasonComment"
                                                    id="comment" [ngModelOptions]="{standalone: true}" />
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="text-right">
                                    <button class="btn btn-default npr-popup-btn" [class.hidden]="claimsEditable ? true : null"  type="submit" (click)="closePopup('remarkModal')">Save</button>
                                </div>
                            </form>
                        </div>
                    </table>
                </div>
            </div>
            <!-- Modal Content End -->
        </div>
    </div>

    <div class="modal fade custom-model zindex999999" id="messageModal" role="dialog">
        <div class="modal-dialog top75 width650">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="border-top-bottom-popup">
                    <h5 class="padd-left-right-10">Manage Group
                        <button type="button" id="close-popup" class="close close-icon" data-dismiss="modal" (click)="closePopup('messageModal')">&#10006;</button>
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="new-batch-num-popup">
                        <span>{{popupMsg}}</span>
                    </div>
                </div>
            </div>
            <!-- Modal Content End -->
        </div>
    </div>

    <div class="modal fade custom-model zindex999999" id="autoValidationPopupModal" role="dialog">
        <div class="modal-dialog top75 wdt560">
            <!-- Modal content-->
            <div class="modal-content ">
                <div class="border-top-bottom-popup">
                    <h5 class="padd-left-right-10">Auto Validation Rules - Results
                        <button type="button" id="close-popup" class="close close-icon" data-dismiss="modal" (click)="closePopup('autoValidationPopupModal')">&#10006;</button>
                    </h5>
                </div>
                <div class="modal-body ">
                    <div class="col-xs-12 col-md-12 col-lg-12  bgcolor-white">
                        <div class="table-responsive table-block margintop15 tableContainer-groups header-fixed">
                            <table id="rulesTable" class="table search-result-table table-hover popup-table-border td-pad-tb header-fixed">
                                <thead>
                                    <tr>
                                        <th class="width20">Rule</th>
                                        <th class="width60">Description</th>
                                        <th class="width20">Status</th>
                                    </tr>
                                </thead>
                                <tbody class="max-height160">
                                    <tr *ngFor="let claim of claimRules; let i=index">
                                        <td class="width20">{{claim.ruleId}}</td>
                                        <td class="width60">{{claim.description}}</td>
                                        <td class="width20">{{claim.status}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="text-right padd-bottom-30 padd-top16">
                            <button class="btn btn-default npr-popup-btn" type="button" (click)="closePopup('autoValidationPopupModal')">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Content End -->
        </div>
    </div>
</div>




<div class="hidden-sm hidden-md hidden-lg">
    <div class="row pad-lft-right-15 padd-top-11">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <div class="error-message-container">
                <div class="categories">
                    <div class="alert alert-info text-center error-message">
                        <strong>Sorry, Order Claim Management functionality is available only on desktop view.
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Print HTML starts here -->
<div class='print_only' [hidden]="printHeader">
    <div class="row dashboard-heading-div">
        <div class="col-xs-12" id="printheader">
            <img class="logo_print" src="{{whoImgUrl}}print_logo.png" alt="Morrisons logo">
            <h4 class="font-bold actualprint-ordernno">Auto Decision : {{this.autoDecision}} </h4>
            <h4 class="font-bold actualprint-ordernno">Manual Decision : {{this.manualDecision}} </h4>
        </div>
    </div>
    <div class="row dashboard-heading-div" id="exportable">
        <div class="col-xs-12">
            <table id="mainTbl" border=1>
                <thead>
                    <th class="auto-width text-center">
                        <div>Claim Ref ID</div>
                    </th>
                    <th class="auto-width text-center">
                        <div>MIN</div>
                    </th>
                    <th class="auto-width text-center">
                        <div>PIN</div>
                    </th>
                    <th class="auto-width text-center">
                        <div>Product Description</div>
                    </th>
                    <th class="auto-width text-center">
                        <div>Order Number</div>
                    </th>
                    <th class="auto-width text-center">
                        <div>Store ID</div>
                    </th>
                    <th class="auto-width text-center">
                        <div>Incident Date</div>
                    </th>
                    <th class="auto-width text-center">
                        <div>Use By Date</div>
                    </th>
                    <th class="auto-width text-center">
                        <div>Order QTY</div>
                    </th>
                    <th class="auto-width text-center">
                        <div>Received QTY</div>
                    </th>
                    <th class="auto-width text-center">
                        <div>Reason Code</div>
                    </th>
                    <th class="auto-width text-center">
                        <div>DHL Valid</div>
                    </th>
                    <th class="auto-width text-center">
                        <div>DHL Comments</div>
                    </th>
                    <th class="auto-width text-center">
                        <div>Auto Decision</div>
                    </th>
                    <th class="auto-width text-center">
                        <div>Manual Decision</div>
                    </th>
                    <th class="width15 text-center">
                        <div>Status</div>
                    </th>
                    <th class="width15 text-center">
                        <div>Decision owner</div>
                    </th>
                    <th class="auto-width text-center">
                        <div>Remarks</div>
                    </th>
                </thead>
                <tbody>

                    <tr *ngFor="let claim of claimData;let i=index" class="text-center">
                        <td class="text-center">{{claim.claimReference}}</td>
                        <td class="text-center">{{claim.batchNumber}}</td>
                        <td class="text-center">{{claim.itemNumber}}</td>
                        <td class="text-center">{{claim.description}}</td>
                        <td>{{claim.orderId}}</td>
                        <td>{{claim.storeNumber}}</td>
                        <td>{{claim.incidentDate}}</td>
                        <td>{{claim.expiryDate}}</td>
                        <td>{{claim.quantityOrdered}}</td>
                        <td>{{claim.quantityReceived}}</td>
                        <td>{{claim.additionalAttributes.additionalProperties?.itemLevelReasonCode ? claim.additionalAttributes.additionalProperties?.itemLevelReasonCode : "-"}}</td>
                        <td>{{claim.validation}}</td>
                        <td>{{claim.comments}}</td>
                        <td class="ruleAutostatus">{{claim.autoStatus}}</td>
                        <td>{{claim.manStatus}}</td>
                        <td class="break-word">{{claim.status}}</td>
                        <td class="break-word">{{claim.updatedBy}}</td>
                        <td>{{ claim.reason}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- export HTML starts here -->
    <div class='print_only' id="exportable1" [hidden]="printHeader">
        <div class="row dashboard-heading-div">
            <div class="col-xs-12">
                <h3 class="margin-zero product-title-top-0 font-bold font-size21">Customer Name: {{customerName}}</h3>

                <h4 class="font-bold actualprint-ordernno">Auto Decision : {{this.autoDecision? this.autoDecision : 'All'}} </h4>
                <h4 class="font-bold actualprint-ordernno">Manual Decision :{{this.manualDecision? this.manualDecision : 'All'}} </h4>
                <h4 class="font-bold actualprint-ordernno">Status :{{this.status? this.status : 'All'}} </h4>
            </div>
        </div>
        <div class="row dashboard-heading-div">
            <div class="col-xs-12">
                <table id="mainTbl" border=1>
                    <thead>
                        <th class="auto-width text-center">
                            <div>Claim Ref ID</div>
                        </th>
                        <th class="auto-width text-center">
                            <div> Credit Note Number</div>
                        </th>
                         <th class="auto-width text-center">
                             <div>Claimed Amount</div>
                        </th>
                        <th class="auto-width text-center">
                            <div>MIN</div>
                        </th>
                        <th class="auto-width text-center">
                            <div>PIN</div>
                        </th>
                        <th class="auto-width text-center">
                            <div>Product Description</div>
                        </th>
                        <th class="auto-width text-center">
                            <div>Order Number</div>
                        </th>
                        <th class="auto-width text-center">
                            <div>Store ID</div>
                        </th>
                        <th class="auto-width text-center">
                            <div>Incident Date</div>
                        </th>
                        <th class="auto-width text-center">
                            <div>Use By Date</div>
                        </th>
                        <th class="auto-width text-center">
                            <div>Order QTY</div>
                        </th>
                        <th class="auto-width text-center">
                            <div>Received QTY</div>
                        </th>
                        <th class="auto-width text-center">
                            <div>Reason Code</div>
                        </th>
                        <th class="auto-width text-center">
                            <div>DHL Valid</div>
                        </th>
                        <th class="auto-width text-center">
                            <div>DHL Comments</div>
                        </th>
                        <th class="auto-width text-center">
                            <div>Auto Decision</div>
                        </th>
                        <th class="auto-width text-center">
                            <div>Manual Decision</div>
                        </th>
                        <th class="width10 text-center">
                            <div>Status</div>
                        </th>
                        <th class="width10 text-center">
                            <div>Decision owner</div>
                        </th>
                        <th class="auto-width text-center">
                            <div>Remarks</div>
                        </th>
                    </thead>
                    <tbody>

                        <tr *ngFor="let claim of claimData;let i=index">
                            <td class="text-center">{{claim.claimReference}}</td>
                            <td>{{claim.claimsId}}</td>
                            <td>{{claim.claimedValue}}</td>
                            <td class="text-center">{{claim.batchNumber}}</td>
                            <td class="text-center">{{claim.itemNumber}}</td>
                            <td class="text-center">{{claim.description}}</td>
                            <td>{{claim.orderId}}</td>
                            <td>{{claim.storeNumber}}</td>
                            <td>{{claim.incidentDate}}</td>
                            <td>{{claim.expiryDate}}</td>
                            <td>{{claim.quantityOrdered}}</td>
                            <td>{{claim.quantityReceived}}</td>
                            <td>{{claim.additionalAttributes.additionalProperties?.itemLevelReasonCode ? claim.additionalAttributes.additionalProperties?.itemLevelReasonCode : "-"}}</td>
                            <td>{{claim.validation}}</td>
                            <td>{{claim.comments}}</td>
                            <td class="ruleAutostatus">{{claim.autoStatus}}</td>
                            <td>{{claim.manStatus}}</td>
                            <td class="break-word">{{claim.status}}</td>
                            <td class="break-word">{{claim.updatedBy}}</td>
                            <td>{{ claim.reason}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>