<!--Search Order section start here-->
<!-- Breadcrumb start here-->
<div class="mvp_bradcrumb">
    <div class="container">
        <div class="col-xs-12 breadcrumb product-breadcrumb">
            <a [routerLink]="['/customerselection']">
                <span class="bradcrumb-text">Home</span>
            </a>/
            <a [routerLink]="['/cataloguemanagement', customerName]">
                <span class="bradcrumb-text">Catalogue Management</span>
            </a>/
            <a [routerLink]="['/cataloguemanagement', customerName,'npr','manage']">
                <span class="bradcrumb-text">Manage New Product Requests</span>
            </a>/
            <span class="bradcrumb-text bold">Error Correction</span>
        </div>
    </div>
</div>

<!--Search Order section start here-->
<div class="mmbborder" id="circle-box-border"></div>
<!-- Only Show in Mobile View -->

<!--Search order heading section end here-->
<div class="hidden-xs padd-btm-50 bgcolor-grey">
    <catalogue-management-pending-request-header></catalogue-management-pending-request-header>
    <div class="container bgcolor-white border-top-bottom margintop25">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <h4 class="dis-inlineblc">Error Correction</h4>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 ">
                <div class="pull-right padd-top-10 text-right prnt-download-txt">
                    <span (click)="printBatchLines()" class="padd-left10 curs-pointer">
                        <img src="{{whoImgUrl}}IconPrint.svg" class="img-responsive dis-inlineblc img-width padd-right5">Print</span>
                    <span (click)="exportData()" class="padd-left10 padd-right20 curs-pointer">
                        <img src="{{whoImgUrl}}IconDownload.svg" class="img-responsive dis-inlineblc img-width padd-right5">Download</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container bgcolor-white" id="errorLinesContainer">
        <div class="pad-lft-right-15">
            <div class="row bgcolor-white padd-bot20">

                <div class="table-responsive table-block margintop15 max-height350 pos-inherit">
                    <table class="table search-result-table table-hover popup-table-border table-striped " id="nprDataTbl">
                        <thead class="bg-white">
                            <tr>
                                <th>Batch ID</th>
                                <th>Batch Type</th>
                                <th>Amazon Channel</th>
                                <th>Upload Date</th>
                                <th>Batch Description</th>
                                <th>VendorSKU (Legacy-PIN-MIN)</th>
                                <th>Product Description</th>
                                <th>Error Description</th>
                                <th class="wdt315">Amended
                                    <br>VendorSKU (Legacy-PIN-MIN)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let errorLineRow of errorLinesData;let i=index">
                                <td>{{errorLineRow.batchId}}</td>
                                <td>{{errorLineRow.requestType}}</td>
                                <td>{{errorLineRow.channel}}</td>
                                <td>{{errorLineRow.createdDate}}</td>
                                <td>{{errorLineRow.batchDescription}}</td>
                                <td>{{errorLineRow.lpm}}</td>
                                <td class="green">
                                    <span tooltip="{{errorLineRow.itemDesc}}" tooltipPlacement="bottom">{{errorLineRow.itemDesc}}</span>
                                </td>
                                <td class="green">
                                    <span tooltip="{{errorLineRow.errorDesc}}" tooltipPlacement="bottom">{{errorLineRow.errorDesc}}</span>
                                </td>
                                <td class="img-holder border-top-0">
                                    <input type="text" class="txtbx-bdr pad-3-5 wdt197" value="{{errorLineRow.lpm}}">
                                    <img src="{{whoImgUrl}}SquareIconDots.svg" class="img-responsive sqrIcon-error curs-pointer" (click)="refreshPopup()" data-toggle="modal"
                                        data-target="#errorCorrectionProductLookupModel">
                                    <img src="{{whoImgUrl}}SquareIconTick.svg" class="img-responsive sqrIcon-error curs-pointer" (click)="submitRow()">
                                    <img src="{{whoImgUrl}}SquareIconDelete.svg" class="img-responsive sqrIcon-error curs-pointer" data-toggle="modal" data-target="#errorCorrectionProductRemoveModel"> </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <!-- Modal -->
                <div class="modal fade custom-model" id="errorCorrectionProductLookupModel" role="dialog">
                    <div class="modal-dialog top75">



                        <!-- Modal content-->
                        <div class="modal-content width650">
                            <div class="border-top-bottom-popup">
                                <h5 class="pad-lft-right-30">Product Lookup
                                    <button type="button" class="close-icon" data-dismiss="modal">&#10006;</button>
                                </h5>

                            </div>
                            <div class="modal-body pad-lft-right-30 margintop15 padd-bottom-30">

                                <div>
                                    <p>Product Code</p>
                                </div>
                                <form role="form" #nprcodeform="ngForm" name="nprcodeform" class="" (submit)="getCatalogueItem(nprcodeform.value)">
                                    <div class="input-group">
                                        <input type="text" class="form-control order-no-form borderinsert" id="productcode" name="productcode" placeholder="Start typing product's code"
                                            (keypress)="keyPress($event)" [(ngModel)]="catalogueCode" required maxlength="15"
                                        />
                                        <div class="input-group-btn">
                                            <button class="btn btn-default order-no-btn min-height34" type="submit">
                                                <i class="glyphicon glyphicon-search search-icon"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <div id="addProdErrMsg" style="display:none">
                                    <div class="alert-err text-center error-message">
                                        <i class="glyphicon glyphicon-alert"></i> &nbsp;&nbsp;{{errorMsgString}}
                                        <strong>
                                        </strong>
                                    </div>
                                </div>

                                <div class="table-responsive table-block margintop20 max-height160" *ngIf="cataloguedetailListLength > 0">
                                    <table class="table search-result-table table-hover popup-table-border">
                                        <thead class="">
                                            <tr>
                                                <th>Legacy-PIN-MIN</th>
                                                <th>Description</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let catalogue of catalogueDetailList;let i=index">
                                                <td>{{formatString(catalogue,0)}}</td>
                                                <td>{{formatString(catalogue,1)}}</td>
                                                <td>{{formatString(catalogue,2)}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- Modal Content End -->
                    </div>
                </div>

                <div class="modal fade custom-model" id="errorCorrectionProductRemoveModel" role="dialog">
                    <div class="modal-dialog top159 wdt310">



                        <!-- Modal content-->
                        <div class="modal-content wdt310">
                            <div class="border-top-bottom-popup">
                                <h5 class="pad-lft-right-30">Delete entry
                                    <button type="button" class="close-icon" data-dismiss="modal">&#10006;</button>
                                </h5>

                            </div>
                            <div class="modal-body pad-lft-right-30 margintop15 dis-inlineblc">
                                <div>
                                    <p>Are you certain you want to delete this entry?</p>
                                </div>
                                <form role="form" #nprlpmform="ngForm" name="nprlpmform" class="">
                                    <div class="padd-bot20 pull-right padd-top-11">
                                        <button class="btn bordersolid btn-text-color bgcolor-white">Cancel</button>
                                        <button class="btn btn-danger">Delete</button>
                                        <!-- <button type="submit" class="border-0 pull-right adv-search-btn">Cancel </button> -->
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- Modal Content End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- loader section start-->
    <div *ngIf="showLoader" class="overlay-load">
        <div class="loader-box-shadow">
            <div class="load-img">
                <img src="{{whoImgUrl}}spinner.svg" class="loader-image" alt="Loader Image" />
                <div>
                    <h6>LOADING</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hidden-sm hidden-md hidden-lg">
    <div class="row pad-lft-right-15 padd-top-11">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <div class="error-message-container">
                <div class="categories">
                    <div class="alert alert-info text-center error-message">
                        <strong>Sorry, Error Correction is available only on desktop view.
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- loader section end-->
<div class='print_only' id="printHeader" [hidden]="true">
    <!--dashboard container section start-->
    <div class="row dashboard-heading-div">
        <div class="col-xs-12">
            <img class="logo_print" src="{{whoImgUrl}}print_logo.png" alt="Morrisons logo">
            <h3 class="font-bold actualprint-ordernno">Lines for Error Correction</h3>
        </div>
    </div>
</div>
<!--Search order content section end here-->

<div class='print_only' id="exportable" [hidden]="true">
    <table class="table table-bordered table-striped" border=1>
        <thead>
            <tr>
                <th>Batch ID</th>
                <th>Batch Type</th>
                <th>Amazon Channel</th>
                <th>Upload Date</th>
                <th>Batch Description</th>
                <th>VendorSKU (Legacy-PIN-MIN)</th>
                <th>Product Description</th>
                <th>Error Description</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let errorLineRow of errorLinesData;let i=index">
                <td>{{errorLineRow.batchId}}</td>
                <td>{{errorLineRow.requestType}}</td>
                <td>{{errorLineRow.channel}}</td>
                <td>{{errorLineRow.createdDate}}</td>
                <td>{{errorLineRow.batchDescription}}</td>
                <td>{{errorLineRow.lpm}}</td>
                <td class="green">{{errorLineRow.itemDesc}}</td>
                <td class="green">{{errorLineRow.errorDesc}}</td>

            </tr>
        </tbody>
    </table>
</div>